[2018-07-12 13:58] #288 closed

[2018-07-12 14:07] tipsy commented on #288
You're welcome. If you really hate dependencies and need a simple `mapOf` method, you can use `TemplateUtil.model()`:

[code]

[2018-07-14 23:15] #218 closed

[2018-07-14 23:15] tipsy commented on #218
Will be available for 2.0: https://github.com/pac4j/javalin-pac4j

[2018-07-15 01:18] tipsy commented on #259
@joakime did you forget about this?

[2018-07-16 17:01] stephenbyrne-mfj opened #289 "EmbeddedJettyServer logs "listening on" "localhost" even if not actually listening on localhost"
**Actual behavior (the bug)**
Javalin logs:
`[main] INFO io.javalin.embeddedserver.EmbeddedServer - Jetty is listening on: [http://localhost:1234]`
even if Jetty is listening on an address other than localhost.

**Expected behavior**
It should indicate the actual address(es).

**To Reproduce**
Configure the app to use a configured embedded server. e.g.:
[code]

**Additional context**
The log state

[2018-07-16 17:51] tipsy commented on #289
Fair point @stephenbyrne-mfj, this is just hardcoded at the moment. I see you've created a fork already, will you be submitting a PR to fix this?

[2018-07-16 18:11] stephenbyrne-mfj commented on #289
PR #290

[2018-07-16 18:46] #289 closed

[2018-07-16 23:49] tipsy opened #292 "Consider https://micrometer.io"
Sounds like a good idea.

[2018-07-17 09:42] BrunoVernay commented on #66
Indeed https://developer.oracle.com/java/jdk-http-client

[2018-07-17 21:35] tipsy opened #293 "Consider https://zipkin.io"
I see there is a way to customize jetty so there is at least that path, though your users may prefer a more native implementation since it is nice to be able to get the path that was matched by your library, i.e.: /hello/*/and/* instead of the raw one, ie: /hello/david/and/brian

we are good about compatibility mainly talking from a hygene pov
sometimes there are some hooks needed, changes to make

[2018-07-18 18:39] Plasmoxy opened #294 "static directory will result in 404 without slash"
## Question
Good day, I don't really know if it's a bug or a feature, but when enabling **static files** with `enableStaticFiles("static")` or `enableStaticFiles("static", Location.EXTERNAL)`, I've noticed something unexpected.

When opening a directory path in browser for example `http://localhost/page/`, it serves the page/index.html automatically, but when removing the slash (`http://localhost/

[2018-07-18 22:44] Plasmoxy commented on #294
I've done some googling and it seems like people have different opinions about this :

[https://www.quora.com/Should-my-URL-structure-contain-a-trailing-slash] (https://www.quora.com/Should-my-URL-structure-contain-a-trailing-slash)

[https://github.com/pyeve/eve/issues/118] (https://github.com/pyeve/eve/issues/118)

[https://www.cloudways.com/blog/trailing-slashes-urls/] (https://www.cloudways.co

[2018-07-19 06:59] pkkummermo commented on #294
Right now the enableStaticFiles just enables Jettys own ResourceHandler (https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/staticfiles/JettyResourceHandler.kt). Might be some configuration which enables it?

[2018-07-19 07:38] Plasmoxy commented on #294
Yes @pkkummermo, I'm already working on a fix, there is already a dont dontIgnoreTrailingSlashes() in Javalin class but it works only for mapping, I'll add another method = dontIgnoreStaticFileTrailingSlashes() so it works for static files too. ( should i leave it to ignore slashes by default or no ? ). should be done in 15 min, will PR.

[2018-07-19 08:50] Plasmoxy commented on #294
pull request created, now we just wait for David
https://github.com/tipsy/javalin/pull/295

[2018-07-19 08:51] #294 closed

[2018-07-19 09:21] tipsy opened #296 "Remove clearMatcherAndMappers()"
* Remove `clearMatcherAndMappers()`

[2018-07-19 13:34] #296 closed

[2018-07-19 13:38] tipsy commented on #286
Should probably make sure the `setStopTimeout` value is sane: https://www.eclipse.org/jetty/javadoc/9.4.11.v20180605/org/eclipse/jetty/server/Server.html#setStopTimeout-long-

[2018-07-19 23:48] Jitsusama commented on #286
So much Kotlin test code. Too bad I don't know Kotlin. Hrmmm... I might have to learn enough Kotlin so I can actually write a test.

[2018-07-20 00:03] tipsy commented on #286
It's completely fine if you prefer writing the test in Java.

[2018-07-20 00:04] Jitsusama commented on #286
That's nice to hear. I was just trying to find the proper test module to add it in, and I'm wondering if there isn't one that really fits. Should I just create a new module related to graceful shutdowns? Also, I don't seem to see signs of TDD style testing. Do you more care about pure functional testing?

[2018-07-20 00:28] tipsy commented on #286
Yup, feel free to create a new one.

I'm not a big fan of mocking, all the tests are functional/blackbox. I think this approach will work well for your test too.

[2018-07-20 00:33] Jitsusama commented on #286
Yes, no worries, I'm a big mocker, but I definitely respect it's not the only way to go. So, my plan is to have a functional test that will start up Javalin with TestUtil, automatically configured for graceful shutdown. Trigger a long(ish) running request by setting up some request handler with a `Thread#sleep` or some such, simultaneously trigger a shutdown slightly after starting the request, bu

[2018-07-20 01:06] tipsy commented on #286
No more than a second, two tops. Some of the tests are `@Ignore`d, and are not part of the normal test suite. If you want to test a `setStopTimeout` of ten seconds I think it should be enough to run the test manually.

[2018-07-20 09:58] david-wg2 opened #298 "Create set of http-response exceptions"
[code]

Needs a custom mapper which checks accepts and maps appropriately.

[2018-07-20 13:44] tipsy commented on #298
https://github.com/tipsy/javalin/pull/299/files

[2018-07-21 14:09] #286 closed

[2018-07-22 12:52] tipsy opened #301 "ContentType not set by ResourceHandler when debug-logging is enabled"
Reference repo: https://github.com/PascalLeMerrer/javalin-content-type-issue

[2018-07-22 14:37] tipsy commented on #301
@PascalLeMerrer this can be by passing the unwrapped response to Jetty's resource handler, but then the debug logs will not contain the body of static files (which is probably fine). What do you think?

[2018-07-22 15:41] PascalLeMerrer commented on #301
IMHO, removing the content of the static files from the debug log would be a good thing

[2018-07-22 16:07] tipsy opened #302 "Improve debug-logging"
* Try to get rid of CachedResponse.
* Async responses are not logged..
* Implement logger user `RequestLogger` interface?

[2018-07-22 16:44] tipsy commented on #301
Great, fixed in https://github.com/tipsy/javalin/commit/9d22b5b3aee52341bb0c747cdb6e4e960a02d59e.

[2018-07-22 16:44] #301 closed

[2018-07-22 18:42] #302 closed

[2018-07-23 10:50] majorpasza opened #303 "Consider adding a regex validation for path parameters (/:param[regex])"
Originally taken from Gitter.

@emaxoso

i read the documentation on the main page, but i couldn't find any info about it
I need something like javalin.get("/path/:param[regex]");
where :param is validated by the regex

Things to clarify
- Go for it, or drop the idea
- What should be the response in this case?
404 - route not matched or 400 - route was matched but the parameter is invalid.

Things

[2018-07-23 11:31] majorpasza opened #304 "Consider remove possibility to attach more than one handler for a route"
Currently, it is possible to attach more than one handler for a given route.
This leads to bad API design, IMO.

I propose to remove that option.
It is worth to mention, that before and handlers will stay the way they are now. It will still be possible to add more than one of them.

[2018-07-23 11:52] majorpasza commented on #303
Possibly extend the idea with proposal concerning validating not only path parameters, but other ones as well.

[2018-07-23 12:13] tipsy opened #305 "Add enableSpaMode() config option?"
People who use Javalin for SPAs probably have to add some sort of rerouting logic to make sure people always hit `index.html` . One approach is to handle 404s as requests to `index.html`.

Maybe Javalin should have some native support for this?

@PascalLeMerrer, you said you're making an SPA with Javalin, how are you handling this?

[2018-07-23 12:14] tipsy commented on #304
I don't think "input wanted" is needed on this. Even if you can currently declare two routes with the same path, only the first one can be reached (now that `ctx.next()` has been removed). I think you can just go ahead and make a PR.

[2018-07-23 12:24] tipsy commented on #304
I think the behavior should be to throw an `IllegalArgumentException` when a user declares a route with the same path and verb:

[code]

[2018-07-23 13:09] PascalLeMerrer commented on #305
Very simply by now:

[code]
I'm not sure it's useful to have more than that.
However I'm just at the begining of a simple SPA, so maybe there are use cases I don't see.

[2018-07-23 13:14] tipsy commented on #305
What happens when your users try to access a URL like `pascalsapp.com/users/john`?

[2018-07-23 14:18] PascalLeMerrer commented on #305
[code]
puts them on the right way ;)
But as I said I'm just at the begining of my dev. You probably should ask other users.

[2018-07-23 15:04] tipsy commented on #305
Thanks, I'll see if I can find someone!

[2018-07-23 18:17] tipsy commented on #305
Solution would be to add an `if` after the static resource handling. In `JavalinServlet.kt`:

[code]

[2018-07-24 17:07] tipsy opened #306 "Add support for static files from WebJars"
Currently WebJars don't work since Jetty checks if the folder exists before starting the `ResourceHandler`.

https://stackoverflow.com/questions/21812527/how-to-configure-embedded-jetty-webjars:

[code]

...?

[2018-07-24 18:48] #306 closed

[2018-07-24 19:11] majorpasza opened #307 "Check performance of Javalin"
Would be good to check what is the overhead compared to raw Jetty and compare it other well known and used frameworks; I propose to compare it with Spring MVC app using jetty as container underneath.
Would be good to capture resource utilisation metrics and GC activity.

[2018-07-24 20:05] ShikaSD commented on #307
@tipsy
You mentioned once that you have the means of testing the performance. Could you share it somehow?

[2018-07-24 21:04] tipsy commented on #307
I was running a JMH thing by the ktor-team, but I think it would be better to do https://github.com/tipsy/javalin/issues/179 (add to TechEmpower bencmark)

[2018-07-24 21:05] tipsy commented on #307
I was running a JMH thing by the ktor-team, but I think it would be better to do https://github.com/tipsy/javalin/issues/179 (add to TechEmpower benchmark)

[2018-07-24 21:15] tipsy commented on #254
I've added a handler for rendering json/yml now, you can enable it like this:

[code]

[2018-07-24 22:43] ShikaSD commented on #307
Personally, I am not sure about techempower benchmarks (apart from advertisement side). They do not really test the library, but the actual stack (from web part to db layer)
I think it will be much more interesting to test actual performance against other frameworks in functionality it introduces (request-response interaction)

[2018-07-24 23:00] tipsy commented on #307
There are multiple categories, I guess plaintext is the one you're interested in? https://www.techempower.com/benchmarks/#section=data-r16&hw=ph&test=plaintext

[2018-07-24 23:05] tipsy commented on #307
I would prefer adding it to TechEmpower because it would be easier to feel confident that the results are correct, both for us and for other people reading them. That being said, I don't mind if you want to create "separate" performance tests. This is the repo I was using earlier @ShikaSD: https://github.com/orangy/http-benchmarks.

[2018-07-25 00:43] tipsy opened #309 "Automatically enable WebJars if any found..?"
It's possible to do

[code]

But is it a good thing? I guess there is no reason to include a WebJar if yo don't intend on using it...? 🤔

[2018-07-26 10:20] tipsy commented on #305
* enableSpaMode()
* enableSpaMode(fileName)
* enableSinglePageMode()
* enableSinglePageMode(fileName)

[2018-07-26 10:44] PascalLeMerrer commented on #305
Hi David

I'm not sure of your goal here. Could you explain it please?

[2018-07-26 11:16] tipsy commented on #305
Sure Pascal; As far as I know, there are two main ways of doing routing for a SPA, hash/fragment (`#`) and push-state. When the user navigates the SPA you'll end up with one of two URL patterns:

[code]

Currently there isn't any elegant way of handling these client side routes in Javalin. A common pattern is to redirect 404's to the apps entry-point (`index.html`). Another pattern is to route all

[2018-07-26 11:51] PascalLeMerrer commented on #305
Thank you.
Please keep in mind that a single instance of Javalin could serve multiple SPAs; by example one for the public facing app, and one for the administration of the site. Or multiple end-user apps, to split a big one.

[2018-07-26 12:13] tipsy commented on #305
That shouldn't too be hard to take into account, could add an overload where path is the first parameter.

[code]

Or maybe always require it.. I'll think about it.

[2018-07-26 16:29] 60pfennig opened #310 "can't use the HelloWorldSecure"
Hi, I'm trying to set up an https server and I'am just copy pasting the code from the helloworldsecure example, but intellij says that server is an unresolved reference as seen in the attached file. What am i doing wrong?
![issuejavalin](https://user-images.githubusercontent.com/22796753/43275275-ad371e58-9101-11e8-9f76-1aa5d173ada9.png)

[2018-07-26 17:04] tipsy commented on #310
The example in the repo is for javalin 2.0.0.RC0. You have to update to that, or follow the docs on the webpage for the 1.X syntax.

[2018-07-26 21:05] tipsy commented on #305
[code]

[2018-07-27 00:48] tipsy opened #311 "Max-age for webjars"

[2018-07-27 10:57] tipsy commented on #305
It was a bit more code than anticipated: https://github.com/tipsy/javalin/pull/312, not sure if worth it.

[2018-07-27 12:40] tipsy commented on #311
Fixed in https://github.com/tipsy/javalin/commit/a9537d4bab94d09b7ea87990ffd0602cc3dfc61e

[2018-07-27 12:40] #311 closed

[2018-07-28 00:17] tipsy opened #314 "Create a "enableCaseSensitiveUrls" config option"
@stephenbyrne-mfj

[2018-07-28 13:15] tipsy opened #315 "NullPointer in static files"
[code]

[2018-07-28 13:49] #305 closed

[2018-07-28 14:12] #315 closed

[2018-07-28 20:33] hameno opened #316 "Support roles for enableRouteOverview"
**Describe the feature**
As the title says, I think it would be great if we could protect the route overview.

[2018-07-28 22:52] tipsy commented on #316
Thanks @hameno, which version of Javalin are you using? In 2.X the route-overview gets wrapped by the `AccessManager`, but I guess you can't add roles directly.

[2018-07-28 22:53] hameno commented on #316
I'm on 1.7

I found a workaround for now:
[code]

[2018-07-28 22:56] tipsy commented on #316
Are you happy with that workaround? Perhaps the `Javalin` object shouldn't have a `enableRouteOverview` function at all, just a handler that you can manually plug in with a `get` 🤔

[2018-07-28 22:57] hameno commented on #316
It's okay. I wouldn't mind a enableRouteOverview with a second parameter for a list of roles.

[2018-07-28 23:49] tipsy commented on #316
I think it makes sense to remove this as an a config option (it doesn't really configure anything). If we pull it out as a standalone handler the syntax would be:

[code]

[2018-07-29 06:05] PascalLeMerrer commented on #67
According to me, this would be an important feature to add to Javalin for it to be a nice backend for SPA development

[2018-07-29 09:10] tipsy commented on #67
@PascalLeMerrer For static files you don't need to restart the server, you can either just build (will copy files to jar), or use `enableStaticFiles("/path", Location.EXTERNAL)`. If you use an external location, all you have to do is save and refresh.

[2018-07-29 09:11] tipsy commented on #268
@havenotfear any update?

[2018-07-30 06:29] fuuqiu opened #317 "error: Failed to parse Date value '2018-07-10 00:00:00':"
**Describe your question**

context.bodyAsClass(Demo::class.java)

IDEA-Log:
      Cannot deserialize value of type `java.util.Date` from String "2018-07-10 00:00:00": not a valid representation (error: Failed to parse Date value '2018-07-10 00:00:00': Cannot parse date "2018-07-10 00:00:00": while it seems to fit format 'yyyy-MM-dd'T'HH:mm:ss.SSSZ',

Request

{id: "2", name: "2",expires_time:"201

[2018-07-30 08:16] pkkummermo commented on #317
I think this is a Jackson error. Have you tried setting the date format for the mapper?
[code]

I also think you can specify the format in the data model with JSON annotations (as to support multiple formats throughout your application), but I don't remember those right now. Google is your friend there :)

[2018-07-30 09:09] tipsy commented on #317
@fuuqiu, as @pkkummermo pointed out this is a Jackson error, and not really related to Javalin.

[2018-07-30 17:19] klassm opened #318 "API for binary websocket messages"
Hi,
first of all - thanks for this nice API to handle websocket messages. It works really nice and conveniently.
Now I got one use case for sending and receiving encrypted messages and I am wondering how to implement that. For sending this works quite easily I guess - I defined my own method on WsSession:
`    private fun WsSession.sendBytes(data: ByteBuffer) {
        remote.sendBytes(data)

[2018-07-30 18:15] tipsy commented on #318
Hi @klassm. I'm glad you like it.

That would be correct. According to the Jetty docs you can have two methods annotated with `@OnWebSocketMessage`:

[code]

We're currently working on Javalin v2 on the master branch, so we have some options for how we'd like to design the API for this feature. We could add `onMessageBinary()` which takes a `BinaryMessageHandler`, or we could add an overload to th

[2018-07-30 18:45] klassm commented on #318
Wow this was fast @tipsy :-)
Yes, I've upgraded to Javalin 2 today to see whether it already supports binary messages. This looks quite nice, especially that you removed the embeddedServer abstraction.
Concerning the binary message API - if it were up to me I'd put it as
`onBinaryMessage(BinaryMessageHandler)`
Why? If you use it in Kotlin, type inference would not work, as Kotlin had no idea wheth

[2018-07-30 19:04] tipsy commented on #318
That's a good enough reason. Would you like to submit a PR?

[2018-07-30 19:40] tipsy commented on #318
The client used in `TestWebSocket.kt` can send `ByteArray`, `ByteBuffer` and `FrameData`, I imagine one of those should be fine?

[2018-07-30 20:00] klassm commented on #318
Tomorrow :-)

David <notifications@github.com> schrieb am Mo., 30. Juli 2018, 21:40:

[2018-07-31 13:39] stephenbyrne-mfj commented on #303
How about the possibility of adding named path validators, and then referencing them? It would get you the same functionality, and make the route lines much more readable.

[code]

[2018-07-31 13:49] stephenbyrne-mfj opened #321 "Path parameters are case-insensive, and behavior is not documented"
**Actual behavior (the bug)**

Path parameters are case-insensitive in both parsing and recalling. This can lead to lost parameters.

**Expected behavior**

The documentation does not mention this, so I would expect it to be case-sensitive.

**To Reproduce**

[code]
[code]

I would expect "a-b", but get "b-b"

**Additional context**

If it should be case-sensitive, I can create a PR. Otherwise the

[2018-07-31 14:15] tipsy commented on #321
The behavior in the current release (1.7.0) should still be case-sensitive, so I don't think updating the docs is necessary before releasing 2.0.0. I just merged your config-option PR. I'll expand a bit on it to include WebSockets.

[2018-07-31 14:41] tipsy opened #322 "Case sensitive websocket paths"

[2018-07-31 15:54] klassm commented on #318
And there we go - I've added a test for the binary message handling (the initial implementation was wrong of course, who would have thought ...). But as you expected, the test was really easy to write.
I've added another method in WsSession to send a ByteBuffer for convenience, so this will be also easy to use.
Now let's see what Travis says :D

[2018-07-31 15:59] #322 closed

[2018-07-31 16:17] tipsy opened #324 "Check if case-sensitivity can be easily moved from JavalinServlet to PathMatcher"

[2018-07-31 16:18] #317 closed

[2018-07-31 16:18] #314 closed

[2018-07-31 16:18] #310 closed

[2018-07-31 18:09] #318 closed

[2018-07-31 19:08] tipsy commented on #324
Not really.

[2018-07-31 19:08] #324 closed

[2018-07-31 19:15] #316 closed

[2018-07-31 19:16] tipsy commented on #316
@hameno I added a method:

[code]

[2018-07-31 19:43] stephenbyrne-mfj commented on #321
jax-rs is case-sensitive.

[code]
[code]
returns "a-B"

[2018-07-31 20:01] tipsy commented on #321
Seems most things are.

[2018-07-31 20:46] #304 closed

[2018-08-01 11:39] Jitsusama commented on #321
FYI; I've been bit in the past by this issue myself. It hasn't been a big issue, as HTTP Request-URIs must be case insensitive according to RFC specifications, but it was non-intuitive. I think forcing them to lower-case does make programmers to acknowledge this, whereas otherwise they might continue their lives thinking that case sensitivity is allowed by HTTP, but it would be friendly to have th

[2018-08-02 13:50] kmehrunes opened #326 "Automatic handling of CompletionException"
Currently in order to handle a CompletionException one needs to do something like this:

[code]

Which basically does what Javalin automatically does for HaltException. In which case it should be the case that the framework automatically handles CompletionExceptions when the underlying exception is a HaltException. Otherwise, it's passed over to another exception handler.

Although HaltExeptions w

[2018-08-02 14:53] tipsy commented on #326
@kmehrunes Could you add a snippet for how you're throwing the `HaltException`s currently?

[2018-08-02 15:06] kmehrunes commented on #326
I can't share the exact code but here's a similar example, this is done within a handler function for a path.

[code]

[2018-08-02 15:07] tipsy commented on #326
Thanks, that'll do.

[2018-08-02 15:19] plombardi89 opened #327 "Support for any HTTP method/verb"
**Describe the feature**
I'm implementing an External Authentication service for the popular Ambassador API gateway system (https://www.getambassador.io/reference/services/auth-service) and one of the requirements is that the Extauth handler be able to process the same HTTP verb as the original request. Three problems:

1. In a a self-service microservices architecture I can't control what develop

[2018-08-02 15:24] #326 closed

[2018-08-02 15:26] tipsy commented on #326
Added in https://github.com/tipsy/javalin/commit/fe1b1016f7da1ff112d953cd0b6eb8f5cf71a35f @kmehrunes, please have a look and see if it'll cover your use case.

[2018-08-02 16:07] kmehrunes commented on #326
I think that pretty much covers it. Thanks.

[2018-08-02 16:16] tipsy opened #328 "CRUD handler 🤔"

[2018-08-02 16:24] tipsy commented on #328
🙃

[2018-08-02 17:04] tipsy commented on #328
The idea was to add a `CrudHandler` interface with five methods:

[code]

It would be the same as adding:

[code]

[2018-08-02 18:52] tipsy commented on #321
@stephenbyrne-mfj On the current master I throw an exception if params are not lowercase and case sensitivity is not enabled:

[code]

[2018-08-02 19:04] tipsy commented on #327
This was considered in the past, but we decided against it as we thought it could lead to bad design. I'm unable to find that discussion, but I think we concluded that `before` would work. Input would be appreciated.

[2018-08-02 20:25] stephenbyrne-mfj commented on #321
I think throwing the exception in that case is a great plan. (b80aec2ac558fa86d002e3f2d4780993a0ec0fdd)

[2018-08-02 21:57] plombardi89 commented on #327
I see how it might lead to bad design (e.g. only matching on method in the body instead of a proper endpoint method) but I've also found great design guidance in my own work in the Python communities mantra of "We're all consenting adults here". I would just document a warning if we are so worried it will lead to people doing bad things.

[2018-08-03 20:13] thekeenant commented on #138
Just a note, Javalin seems to output the wrong information if you manually set the IP address. Seems like that could be fixed -

[code]

^ Output after setting the host to something other than "localhost"

[2018-08-03 21:52] tipsy commented on #138
This has been fixed on the master branch, should work if you try to use the current release candidate.

[2018-08-03 22:40] tipsy commented on #327
Found it! https://github.com/tipsy/javalin/issues/112

[2018-08-03 22:52] tipsy commented on #327
I think `app.all` and `app.any` are slightly too vague. Here are some terrible suggestions:

* `app.anyMethod("/path" ::handler)`
* `app.allMethods("/path" ::handler)`
* `app.allRequests("/path" ::handler)`

[2018-08-03 23:30] #328 closed

[2018-08-04 13:56] tipsy commented on #240
This is all finished: https://github.com/javalin/javalin.github.io/pull/14

[2018-08-04 13:56] #240 closed

[2018-08-04 13:58] tipsy commented on #268
Removing this from 2.0.0 release.

[2018-08-05 05:34] plombardi89 commented on #327
Hmm... so I've hit an issue and it might need to become a separate one. I was adding a test and went to run them and I got this error:

[code]

It seems the `ConstantPool` isn't accessible in JDK 9 and onward? There's surprisingly little in the way of information about this class out there but it seems someone else hit this issue at one point on a different project: https://github.com/jhalterman/t

[2018-08-05 05:53] plombardi89 commented on #327
Perhaps time to start putting Javalin through a JDK test matrix on Travis so stuff like this gets caught sooner rather than later? Given how fast JDK releases are now occurring I think it's going to be too hard going forward to just tell folks to use JDK8 which is what Javalin is currently tested with.

Java 11 is coming out in late September and is the next LTS release so there's that to think ab

[2018-08-05 09:10] tipsy commented on #327
Yeah, I've been aware of that since I started the project, I just haven't had any plan for dealing with it. I was hoping Oracle would come to their senses and re-introduce it to 11, they're breaking so many libraries with 9+, but it's not looking too good.

I really appreciate you finding that issue, seems like it isn't too hard to fix.

[2018-08-05 09:32] tipsy opened #330 "Get the name of method-references in jdk9+ (route overview)"
Currently you can't get the name of method references in JDK9+ because Oracle decided to hide the `ConstantPool`.

I like the `RouteOverview`, so it would be nice if we could find a workaround for this. Someone seems to have done most of the work for us in this thread: https://github.com/jhalterman/typetools/issues/34 and this PR: https://github.com/jhalterman/typetools/pull/35/files.

[2018-08-05 15:45] plombardi89 commented on #330
So the only problem with the given approach is that `sun.misc.Unsafe` is being removed piece by piece starting with Java 11.

[2018-08-05 15:52] tipsy commented on #330
Do you happen to know if this particular piece is going to be removed in 11?

[2018-08-05 22:06] tipsy commented on #330
Alright, thanks for looking. It is very frustrating, but if we can get this to work with Java 11 by using the method described in the PR, I think we should be fine until the next LTS.

[2018-08-06 06:39] plombardi89 commented on #330
Alright... I took a swing at it. This is pretty rough code I ported from the other project to Kotlin. I've never actually had to use `sun.misc.Unsafe` before so I'm unsure whether it's cool to put it in a property. I'm also guessing putting it in a public field is a no-no. That will need to be fixed.

https://github.com/plombardi89/javalin/blob/issue/330/src/main/java/io/javalin/core/util/RouteOve

[2018-08-06 08:32] tipsy commented on #330
That test failure means that the `methodName` method isn't doing what it's supposed to. It tries to determine the name of the method reference (`methodReference`), but it returns `null`, setting up this boolean to be false:
```private val Any.isJavaMethodReference: Boolean get() = this.methodName != null```

Then it falls back to `??? (anonymous lambda)` for the name value.

I'm back from vacation

[2018-08-07 15:09] klassm opened #331 "Access Websocket Server"
Hi,

As I am using Javalin to create a new Websocket server,  I am wondering whether there is also an API to access an existing Websocket server, thus using Javalin as client.

Is something like this available? Can you recommend any Websocket client that could be wrapped in an API Like Javalin's?

Thanks
Matthias

[2018-08-07 16:44] tipsy commented on #331
No, there's nothing like that available. Javalin is strictly a server. I do have a project locally called `javalin-client`, which is a very simple HTTP client.. I could include WebSocket support in that. Not sure if I'll ever publish it though 🤔

I think your best bet is to use https://github.com/TooTallNate/Java-WebSocket for your client, that's the library I use for the tests.

[2018-08-07 17:58] klassm commented on #331
Thanks :-)

[2018-08-07 17:58] #331 closed

[2018-08-08 08:20] vladp opened #332 "[q] capability check"
Hello,
wanted to verify if Javalin could handle (or plans to handle) the following use cases.

a) ability to start up multiple jetty servers from the same JVM (on separate ports, and some HTTPS while at least one a non-HTTPs all with HTTP/2).  All would be using different static files path
I did not see this explicitly noted in the doc. But saw an issue fix/update that might have enabled this capa

[2018-08-08 15:04] vladp commented on #332
@tipsy thank you. all makes sense.

[2018-08-08 16:41] #332 closed

[2018-08-10 13:44] tipsy commented on #330
Thanks @plombardi89. I need to spend some time on the new documentation/release notes/migration guide, so I appreciate you working on this.

[2018-08-13 19:48] #233 closed

[2018-08-15 20:45] plombardi89 commented on #327
I'm gonna wrap this one up soon (definitely before GH-330). This triggered that issue but we're still broken on JDK9+ regardless of this change so I'm not gonna block myself waiting to find time to finish the JDK9+ support.

[2018-08-17 14:27] tipsy commented on #17
@steveperkins you might want to have a look at this project.

[2018-08-19 15:06] #280 closed

[2018-08-19 16:06] steveperkins commented on #17
@tipsy Javalin looks interesting. On the comparison page (https://javalin.io/comparisons/sparkjava) there are a number of features called out that Spark Java has that Javalin does not. Are these intentional exclusions or is there an intention to add them in the future?

[2018-08-19 16:09] tipsy commented on #17
Most of them are intentional, is there any feature in particular you're curious about?

[2018-08-19 16:13] steveperkins commented on #17
Mainly the ability to run on application servers other than embedded Jetty
and route mapping based on accepts and content-type headers.

On Sun, Aug 19, 2018 at 11:09 AM David <notifications@github.com> wrote:

[2018-08-21 15:31] leafac opened #333 "Documentation for 2.0 still says `EventType` instead of `JavalinEvent`"
https://javalin.io/documentation#lifecycle-events

[2018-08-21 15:41] tipsy commented on #333
Thanks! I suspect there are a few things like this left-over, will fix ASAP.

[2018-08-21 15:43] tipsy commented on #333
Fixed!

[2018-08-21 15:43] #333 closed

[2018-08-21 16:33] leafac commented on #333
Thank you.

Since I have your attention: is there a way to prevent the server from starting if something goes wrong in the handler for `JavalinEvent.SERVER_STARTING`?

[2018-08-21 17:06] tipsy commented on #333
@leafac There's nothing built in for this, but you could throw an exception?

[2018-08-21 17:44] leafac commented on #333
I’ll throw an exception, but there’s a wrinkle. In route handlers, I can throw checked exceptions, while in event handlers I have to wrap them in an unchecked exception, for example:

[code]

Can I do better?

[2018-08-21 18:05] tipsy commented on #333
If you create a PR for allowing checked exceptions I'll merge it.

[2018-08-21 21:10] grote opened #335 "Enable Mockito Tests: An Interface for Context"
If `Context` would be an interface instead of a class, it could easily be mocked in unit tests.

My router delegates certain paths to controllers that have methods which only take a `Context` object. If this would be an interface, I could mock it and only unit test my controller in isolation.

All the test examples I have found in this repository use full integration test that I would like to avoi

[2018-08-21 21:35] tipsy commented on #335
@grote why can't you mock it directly? Here's an example using [mockk](https://github.com/mockk/mockk), are there some cases where this doesn't work?

[code]

[2018-08-21 21:38] grote commented on #335
Well, I am still using Java unit tests with Mockito which only mocks interfaces. You can specify a special ugly ClassImposterizer in case you really need to mock a class directly. However, this complains that `Context` is `final`.

[2018-08-21 21:47] tipsy commented on #335
I see. I'm against adding unnatural abstractions to simplify testing, but I understand why this would be frustrating. Maybe there are other mocking libraries in Java which supports using classes directly?

[2018-08-22 07:50] tipsy opened #336 "Check for new version on startup?"
Should Javalin make an outgoing call to check for updates (ex. https://javalin.io/check-for-updates?current-version=$version`) when you start the server? There would of course be an option to disable this.

The output could just be "There is a new version available", alternatively how many versions behind you are,  a summary-line for each release, etc.

[2018-08-22 17:16] FredDeschenes opened #337 "Using a wildcard in 'crud' breaks the 'getOne' call, 'getAll' is always called instead"
**Actual behavior (the bug)**
As the title says, using a wildcard in a `crud` path will make it so that the `getAll` call always takes precedence on `getOne` and is called instead.

**Expected behavior**
`crud` setup should work the same as any other `ApiBuilder` function.

**To Reproduce**
Register a `CrudHandler` with a wildcard path.
[code]

**Additional context**
Just changing the order the ca

[2018-08-22 17:30] FredDeschenes commented on #337
Yeah I agree that it's a pretty weird use-case!

I'm writing a prototype for a simple CRUD server for an internal tool where users can create their own objects in the tool and save/update/delete them from the server on demand.
Having a wildcard here allows users to create those objects directly in the tool without having to modify anything on the server (basically I take the `ctx.splat(0)` as the

[2018-08-22 17:39] tipsy commented on #337
It makes sense to add it first, so I don't mind merging the PR, I was just curious. It's interesting to see concepts being used in ways they weren't intended to. Let me know if you have any other suggestions for the `ApiBuilder` class!

[2018-08-22 17:41] #337 closed

[2018-08-22 17:42] FredDeschenes commented on #337
Will do, thanks for the quick merge!

[2018-08-22 22:28] gkopff commented on #336
I wouldn't want a library I used to make "unsolicited" network calls.

[2018-08-22 22:35] tipsy commented on #336
@gkopff That's understandable, I have a feeling you're not alone in thinking like this. An alternative could be to log the version number and release date (or time since the release date?), with a link to the news page. Maybe with the option to enable the update-check.

[2018-08-22 22:41] gkopff commented on #336
I don't recall exactly what [JMH](http://openjdk.java.net/projects/code-tools/jmh/) does, but I think it's something along the lines of reporting how many days old it is (so similar to what you say above) ... (I'll look it up when I get back to my desk).

[2018-08-23 08:14] guFalcon commented on #335
Just my two cents since we're using your awesome library and your latest update really and thoroughly broke our tests ;)
You removed the all-args-constructor from the Context, which is a final class, leaving it only with request and response thus disabling the per-test construction of a 'mock' context containing the path-params.
We'd need this mock to unit-test our handlers (get-by-id, delete-by-i

[2018-08-23 08:54] guFalcon commented on #335
Oh. Just saw that req and res are public fields as well. That would be a problem as well when mocking the Context (not so much when instancing it since I may pass them).

[2018-08-23 14:35] tipsy commented on #335
Hi @guFalcon, sorry for making your life harder!

Is adding Kotlin and mocck as test dependenies not an option? It seems simpler than dealing with mockito.

I don't mind making `Context` non-final.

Path-params are created by comparing the request-uri to the path from the route declaration, It happens in the `HandlerEntry` class.

[2018-08-23 15:07] Cadiducho opened #339 "Persistent Sessions"
Is there any way to work with persistent sessions?
I mean that when a user logged in, I use `ctx.request().getSession()` methods and when the server is restarted all this atributes are gone and the users have to logged in again. Right now, my little web is under development so I restarted many times a day and I'm wondering if this is posible with Javalin, due to Jetty supports this
Thanks alot!

[2018-08-23 15:08] 7iacura opened #340 "Deploy on Azure"
What is correct iter to deploy on Azure as Java Web App?
I'm working in Eclipse with Azure Toolkit for Eclipse, and when I do:
right click on project > Azure > Publish as Azure Web App..
it was published but is not runnable.
I miss some configuration?

[2018-08-23 15:20] tipsy opened #341 "Redirect case-insensitive URLs to lowercase"

[2018-08-23 16:02] tipsy commented on #339
You can create a custom Jetty server and tell Javalin to use it by calling `app.server(myServer)`. Let me know if this works for you.

[2018-08-23 16:05] tipsy commented on #340
Maybe you need to set the port? When deploying on Heroku they give you a random port that you have to pass to Javalin.

[2018-08-23 20:50] tipsy commented on #339
@Cadiducho, I've added the option to configure the session handler: https://github.com/tipsy/javalin/commit/9a785392ec2df3064812bf38f57c33a4d9e32646

[2018-08-23 21:06] zugazagoitia commented on #339
Man, you're awesome, thank you for this.

[2018-08-23 21:33] tipsy commented on #339
If either of you know how to setup redis/memcache/mongo etc with embedded jetty I'd appreciate an example.

[2018-08-24 07:06] guFalcon commented on #335
First of all: Don't get me wrong. You are great. Thank you so much for sharing this great library, it made life so much easier for us.

Since adding an additional testing tool isn't even an option, adding an additional testing tool AND a new language probably wouldn't be either.

Making the class non-final would help with Mockito2. At least a bit. The problem is that, even if you make it non-final

[2018-08-24 07:34] tipsy commented on #335
@guFalcon Don't worry, I appreciate the feedback. I'm not a big fan of having one specific Java library dictate Javalin's architecture, but as I understand mockito is hugely popular, so I'm willing to compromise. Please create a PR with your suggested changes, including a mockito test.

The reason path-params is giving your trouble is because the same context will have different path-params depend

[2018-08-24 18:34] grote commented on #336
If you really think this is useful (and I have my doubts), please make it opt-in instead of opt-out.

[2018-08-24 18:35] grote commented on #335
There's a Mockito trick for mocking final classes: https://www.baeldung.com/mockito-final

[2018-08-24 18:52] tipsy commented on #336
Less than 50% of 1.X users are using the latest version (1.7). IMO it would be nice if the library could inform users that a new version is available, so we avoid a similar situation for 2.X.

[2018-08-24 18:56] tipsy commented on #335
I don't mind making it non-final though. I really want to make it easier to use mockito, the only ting I want to avoid is the added interface.

[2018-08-24 21:37] tipsy commented on #339
Here's an example for MongoDB:

[code]

[2018-08-25 06:00] guFalcon commented on #335
That trick is using an experimental handler. First thing I tried. Comes with several downsides.
First, it's experimental. It doesn't even cover 20% of the originals functions.
Second, it's a switch that's in project scope. If you turn it on, it's on for the whole thing and because of 1. About 80% of our other tests are broken.
Nice thought though.
I fear there's no way around designing your code t

[2018-08-25 14:31] Cadiducho commented on #339
Similar methods can be used with JDBC to use with sql database
[code]

[2018-08-25 15:56] tipsy commented on #339
@Cadiducho Pretty close at least. Does this cover your session-needs though?

[2018-08-25 15:56] #340 closed

[2018-08-25 16:05] tipsy commented on #335
@guFalcon Could you show us some of the tests you have that are currently failing?

[2018-08-26 19:37] tipsy commented on #327
I added jdk9, will add jdk11 when it's out.

[2018-08-27 07:02] guFalcon commented on #335
Sorry for the delay. Weekend @ home with kids&wife... no spare-time at the moment :)
Although... if you'd like something in Java, I'm all in for it... but my Kotlin-skills are somewhat limited (non existent :) )

Yes. That init-method definitely would remove all the pain.
Sounds like a good solution for now.

That said and just to be clear on that matter, my opinion still is that such a central cl

[2018-08-27 07:54] tipsy commented on #335
@guFalcon Yes. That init-method definitely would remove all the pain. Sounds like a good solution for now.

Great, I'll merge that function and release a new version later today.

Noted, but that is the exact opposite of Kotlin's philosophy, where classes are final by default and fields (properties) are public by default. These particular fields are also final, so I don't see what you gain from ca

[2018-08-27 08:02] guFalcon commented on #335
Nice. Thx. Fair enough.
As for the fields... You would have a getter for those, without a setter... and you could mock a call to that getter (with the class being not-final). That's all.
You could write:
(from the top of my head - in a text-editor)
[code]

[2018-08-27 13:13] tipsy commented on #339
This has been released as part of 2.1.0: https://javalin.io/news/2018/08/27/javalin-2.1.0-released.html

[2018-08-27 13:13] #339 closed

[2018-08-27 13:15] tipsy commented on #335
`ContextUtil.init(req, res, ...);`  has been released as part of 2.1.0: https://javalin.io/news/2018/08/27/javalin-2.1.0-released.html

[2018-08-27 13:19] guFalcon commented on #335
Nice. Thx. Still waiting for maven.org re-indexing...

[2018-08-27 13:28] tipsy commented on #335
@grote Are you satisfied with this approach?

[2018-08-27 13:37] grote commented on #335
Yep, thank for your work @tipsy!

[2018-08-27 13:48] tipsy commented on #335
### For people arriving here wondering how to do mocking with Mockito

* If you're using Kotlin, switch to [mockk](https://github.com/mockk/mockk)
* If you're using Java, mock `HttpServletRequest` and `HttpServletResponse`, then pass them to `ContextUtil.init()`. The init function is overloaded to take all the dependencies of `Context`:

[code]

[2018-08-27 13:48] #335 closed

[2018-08-27 13:58] guFalcon commented on #335
Still not there https://search.maven.org/search?q=a:javalin
But it can take a while.

[2018-08-28 14:00] FredDeschenes opened #343 "Context::sessionAttribute(String) can return null value if attribute is not set but is typed as 'T' instead of 'T?'"
**Actual behavior (the bug)**
Getting an attribute with [`Context::sessionAttribute(String)`](https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/Context.kt#L349) (which returns `null` if the attribute isn't set) returns a `T` instead of `T?`.

This forces Kotlin users to add `@Suppress("SENSELESS_COMPARISON")` when checking if an attribute is null (or have an unexpected runtime

[2018-08-28 14:28] tipsy commented on #343
Thanks @FredDeschenes. This is a bug, so breaking the existing API is not a concern IMO.

[2018-08-28 14:28] tipsy commented on #343
I see that `attribute(String)` has the same issue.

[2018-08-28 14:42] FredDeschenes commented on #343
I don't think the `...Map` functions should return a `Map<String, T?>` since they should only return attributes that have been set (and setting an attribute to `null` appears to remove the attribute in both cases), can you confirm this?

[2018-08-28 17:40] tipsy commented on #343
This part I'm not so sure about. This might be stupid design on my part, but it's not a bug. If the key is currently included with a null value, then changing that could break existing code.

I don't think this change should include anything other than making things nullable.

[2018-08-28 17:54] FredDeschenes commented on #343
Yeah I've been looking at all possible paths the `setAttribute` calls can take in Jetty's source and turns out they don't all have the same side effects when sending a `null` value: all of them will remove the attribute, except `UpgradeHttpServletRequest` which will just add the attribute with a null value -_-

I'll go ahead and revert this back to what was already present except for the nullable

[2018-08-28 18:35] #343 closed

[2018-08-28 20:26] tipsy opened #345 "CompletionExceptions are swallowed by HttpResponseExceptionMapper"
From gitter:
<blockquote>
@bchristenson 19:57
We are running into an issue upgrading from v1.7 to v2.1. It looks like the default exception handler is consuming CompletionExceptions without acting upon them. From https://github.com/tipsy/javalin/blob/javalin-2.1.0/src/main/java/io/javalin/core/util/HttpResponseExceptionMapper.kt#L16 -- if e.cause is not an HttpResponseException, e is not being re-

[2018-08-28 23:03] tipsy commented on #254
We could generate docs from Javadoc?

[code]

[2018-08-29 13:43] hamnis opened #346 "charset issues with json written as ISO-8859-1"
**Actual behavior (the bug)**
Json is being written not in a unicode charset.

**Expected behavior**
JSON being written in UTF-8

**To Reproduce**
Write JSON object containing utf-8 chars and run on an jvm where std charset is ISO-8859-1
Do not set the system property file.encoding in the main method as that is way too late

**Additional context**

[code]
This seems to happen in only certain envir

[2018-08-29 13:44] hamnis commented on #346
Workaround: add a `before { it.res.characterEncoding = StandardCharsets.UTF_8.name() }`

[2018-08-29 13:50] bchristenson commented on #345
Yes.  I took a stab at a fix, however I'm running into an issue with dealing with configuration order.

If the user defined exception handler is added before calling `javalin.start()` (which is what our app does, and how I assume most people configure Javalin), then the HttpResponseExceptionMapper can "wrap" the user defined exception handler.

If the user defined exception handler is added after

[2018-08-29 14:38] tipsy commented on #345
@bchristenson An option would be to move this into `ExceptionMapper#handle`:

[code]

Then we could deal with these library specific exceptions before user exceptions.

[2018-08-29 14:41] tipsy commented on #346
@hamnis In Javalin 2.X this should be configured by the properties file `src/main/resources/org/eclipse/jetty/http/encoding.properties`. Do you have anything on your CI server that could be interfering with it?

[2018-08-29 20:54] hamnis commented on #346
hmm. we are building an uberjar. not sure if the files are merged or just plainly overwritten, or discarded.

Or is it expected that we provide our own file for the content-types we support?

[2018-08-29 22:16] tipsy commented on #346
The default strategy is to replace existing. Jetty bundles their own properties file:
[code]

The one in Javalin overwrite this, because I also wanted to `text/plain` to `utf-8`. If you don't do anything special, this file should be included when you build your uberjar.

Could you share the code for your handler?

[2018-08-29 22:28] tipsy commented on #346
Oh, it's a bug. In `.json()` the content-type is set **after** setting the response body:

[code]

Switching these around should fix things.

Would you like to submit a PR?

[2018-08-30 07:26] #346 closed

[2018-08-30 15:49] grote commented on #254
Would this javadoc be picked up by Swagger for an API documentation?

It would be great if specifying all this would enable validation as well. Something like specifying the params and than adding stuff like `isInt().nonNull().min(0)` [or others](https://wajahatkarim.gitbook.io/easyvalidation/usage/built-in-rules).

[2018-08-30 16:10] tipsy commented on #254
My thinking was to do something like

[code]

You should open a separate issue if you want to discuss validation, but a primary goal of Javalin is explicit code, so generating validation rules from comments is pretty much out of the question.

[2018-08-30 16:32] #345 closed

[2018-08-30 16:45] grote commented on #254
And `SwaggerGenerator.generate()` would then go through the files, read the JavaDoc and then generate the output file from there?

I was just bringing it up here, because I would hate having to specify all params two times. The idea was to not use the Javadoc, but some other mechanism that could (optionally) also have validation hooking in later.

Something like this (just brainstorming here):

[c

[2018-08-30 17:10] tipsy commented on #254
Yup, that was the idea.

I understand not wanting to repeat yourself, but doing this in Javalin is difficult because of the lack of annotations and reflection. You'd have to build a whole swagger DSL, and it looks very noisy compared to a javadoc based generator. @ShikaSD actually started working on it if you want to have a look: https://github.com/ShikaSD/javalin-swagger/blob/master/src/test/kotl

[2018-08-30 17:43] GerrySeidman opened #350 "ServletContext access directly (or indirectly) from the Javalin app object before start()"
**Feature**: ServletContext access directly from the Javalin app object before start()

**Problem**

- I need to initialize some objects that will be accessible to every handler call
o This corresponds to an 'application level' attribute that will dangle off of the ServletContext
- It can be 'hacked' now by having  a app.before() handler that checks if on every if these objects have been initializ

[2018-08-30 20:05] tipsy commented on #350
But what benefits are there to putting your dependencies on the `app` as opposed to just making them public static? And if you want to put them on the `app`, you could just create a separate dependency map?

[code]

I could understand your reasoning if you were proposing they should be accessed through `ctx`, so that they'd only be available inside handlers. But, then you'd be giving the impressio

[2018-08-30 21:49] grote commented on #335
Sorry for warming this ticket up again. I came across a case where I need to mock formParams, but since Context still is final, I need to deal with ServletInputStream resp. HttpInput

What was the reason again for not opening up Context?

[2018-08-30 21:53] tipsy commented on #335
@grote I was under the impression that adding the util-methods would be enough, but I don't mind opening the class, I just don't want to do it for no reason. I'll open it now, but it would be helpful if you could submit a PR with a few tests that take advantage of the fact that class is open.

[2018-08-31 10:40] ShikaSD commented on #254
@tipsy Like the idea + it won't require that insane amount of reflection to build a reasonable API, which I pretty much like. The only problem could be the IDE support, but is should be fine.
Regarding amount of noise in API, it is hard to compare, as my example is just a prototype which basically copies swagger built-in one, so many constructs there can be easily simplified and enhanced.

[2018-08-31 13:40] tipsy commented on #254
I didn't mean to imply that your particular implementation is noisy. I think any amount of of Java/Kotlin code that has to be integrated into the route declarations is going to be noisy compared to a javadoc comment.

With the javadoc approach I could do

[code]
And in another file:
[code]

In my IDE I could just collapse that comment.

[2018-08-31 15:57] grote commented on #335
Wow @tipsy, you are awesome! :D

Thanks for the quick change!

What kind of tests are you thinking of? Do you want to introduce a new test dependency like jMock that tests an example controller?

[2018-08-31 17:14] tipsy commented on #335
No problem!

That sounds fine. I mainly want you to build the project locally and write a test which covers all your needs, it's easier than waiting for a new version and requesting changes. Speaking of new versions, I plan on releasing 2.1.1 on Sunday, so if you have anything else you want included now is the time!

[2018-09-02 20:28] tipsy commented on #335
`open Context` has been released as part of `2.1.1`. It should be available soon.

[2018-09-04 10:07] david-wg2 opened #351 "Deserialize JSON or return null"
**Describe the feature**

Currently `bodyAsClass`/`body<T>()` throw exceptions if they fail. Maybe it would be better to swallow these exceptions and return null?
[code]

This would be breaking, so maybe
[code]

[2018-09-04 17:36] kmehrunes opened #352 "Support for passing CompletableFuture to Context.json()"
While one can pass a CompletableFuture to Context.result(), the same doesn't apply to Context.json(). This leaves the need for handling this case manually like this

[code]

It would be helpful to shorten this to
[code]

[2018-09-04 17:43] tipsy commented on #352
@kmehrunes should be a pretty easy thing to implement, would you like to submit a PR?

While you wait for the new version to be released, you can replace `JavalinJackson.INSTANCE::toJson` with `JavalinJson::toJson`. This uses the current implementation (`JavalinJackson.INSTANCE::toJson` by default) to serialize.

[2018-09-04 17:53] kmehrunes commented on #352
Sure thing, will implement it and submit the PR.

[2018-09-04 19:07] kmehrunes commented on #352
The PR has been submitted, I think the case should be closed now.

[2018-09-04 19:07] #352 closed

[2018-09-05 21:39] fmobus opened #354 "exposing swagger-ui webjar for use with SwaggerRenderer"
**Describe your question**

First, a bit of context: on #254, one of the comments by @tipsy suggests using a simple

[code]

To expose Swagger documentation from a yaml file - which I will generate manually at this time.

This, initially, outputs a page on my-docs telling me to add a dependency on swagger-ui's webjar (that is, `compile 'org.webjars:swagger-ui:3.17.6'`). After doing this, accessing

[2018-09-06 01:38] fmobus commented on #354
That worked! Thanks!

[2018-09-06 01:38] #354 closed

[2018-09-06 23:27] homebrew79 opened #355 "Rocker Template Integration"
[Rocker](https://github.com/fizzed/rocker) seems to be a really nice template engine that offers flexibility not offered by other template engines. I think it would be a great addition to javalin.

[2018-09-06 23:53] tipsy commented on #355
@homebrew79 Feel free to submit a PR. All that's required is to create a `JavalinRocker` obejct, similar to the [JavalinMustache](https://github.com/tipsy/javalin/blob/9f6fd1cd25c204b83592be59e5805cef035d65fa/src/main/java/io/javalin/rendering/template/JavalinMustache.kt) object, and register it in [JavalinRenderer](https://github.com/tipsy/javalin/blob/9f6fd1cd25c204b83592be59e5805cef035d65fa/src

[2018-09-08 11:08] steph4nc opened #356 "GraphQL Support"
GraphQL support would be awesome, especially in a nice fluent javalin-style implementation with integration into javalin.

Links:
https://github.com/facebook/graphql
https://graphql.org/

A Kotlin implementation:
https://github.com/pgutkowski/KGraphQL

A Java implementation:
https://github.com/graphql-java/graphql-java

[2018-09-11 16:02] tipsy opened #357 "Validation functionality (discussion, input wanted)"
I'm considering including some functionality for validating user input. Typical things that need to be validated are:

[code]

You could potentially include the validate function on the `Context`:

[code]

But since there are a lot of possible entry points, a general validation function (util) would probably be better?

[code]

This issue is intended for discussion. Should the functionality be inc

[2018-09-11 16:03] tipsy commented on #357
Tagging you here @grote, since you're the one who brought up validation in the Swagger issue.

[2018-09-12 07:50] tomocrafter opened #358 "Can't use this on BungeeCord"
**I am sorry for not following the template of Bug report.**

I found why this error will occur in WebSocketServletFactory#Loader
[code]
[code]
These two differences are whether `Thread.currentThread().getContextClassLoader()` does not walk.

[2018-09-12 09:11] tipsy commented on #358
Thanks @tomocrafter. If you have a solution please submit a pull request.

[2018-09-12 14:06] tipsy commented on #357
@kmehrunes I'm more in favor of mentioning the exception explicitly. How would your sample look in a controller?

I was thinking a controller would look like this:

[code]

I don't think validation and extraction should be two separate operations.

[2018-09-12 15:14] bchristenson commented on #357
What about something like:
[code]

I like using the `validate(ctx.queryParam("..."))` rather than `validate(Param.QUERY, "isbn")` because it feels more consistent with normal access, however that does limit how the default exception messages are generated (ie it wouldn't be able to say something like _"The isbn query parameter must be ..."_.  An option to address this could be something like:

[co

[2018-09-12 15:32] bchristenson commented on #357
I definitely like the casting idea, however you may need to provide a functional block option (ie for things like UUIDs, which don't have string constructors and instead need to call UUID::fromString).

[code]

[2018-09-12 16:43] tipsy commented on #357
We could take care of that with a big `when` expression. I'd rather make our implementation a little messy than move that mess over to the end-users.

[2018-09-12 16:46] bchristenson commented on #357
We have use cases where we cast parameters to our own custom domain types (which would be impossible for Javalin to have knowledge about).  I do like the idea of having a big when expression for standard Java classes, but think that an optional override to handle classes not defined in the when expression is important.

[2018-09-12 16:53] tipsy commented on #357
Fair enough, we'll add an overload to it.

[2018-09-12 18:31] vladp commented on #357
does this add any runtime cost (in terms of concurrency, memory size, cost of copies of ctx) for folks, who do not need form validation?

[2018-09-12 19:05] tipsy commented on #357
No, it will be completely optional and shouldn't affect performance if not used. If we go with the pure util-function it will have absolutely no affect, if we put it on `Context` it will just be:

[code]

Which should have virtually no effect if you're not using it.

[2018-09-12 20:16] kmehrunes commented on #357
@tipsy
- I'm okay with having .getOrThrowBadRequestException(), my problem is with needing to check the validation result in an if-statement or a ternary operator, but the proposed option is good. I think your sample controller matches what I had in mind.

- I'm also leaning towards validate(value) instead of ctx.validate(), the validation part isn't really something that should a responsibility o

[2018-09-12 20:31] tipsy commented on #357
Thanks @kmehrunes, that's some good input.

The reason I'm proposing the slightly wonky `ctx.validate(Param.QUERY, "isbn")` syntax is because it will easily let us create very nice error messages:

[code]

This could be fixed by asking users to write something like:

[code]

But it will lead to pretty noisy code.

That wasn't my initial idea, but it's what I ended up doing. If we introduce `asDoub

[2018-09-12 20:46] kmehrunes commented on #357
I'm glad you already implemented it so that we can base our discussion on something. I think I might have an idea for solving the problem of making the validation class too big, I'll experiment with it first then I'll propose it here if it worked.

[2018-09-12 20:53] vladp commented on #357
great. thank you.

[2018-09-12 20:56] bchristenson commented on #357
Would `ctx.queryParamValidation`, `ctx.pathParamValidation`, and `ctx.formParamValidation` simplify implementation and usage over `ctx.validate(Param.TYPE, ...)`?

[2018-09-13 11:29] kmehrunes commented on #357
Haven't checked your updates yet but here's what I've got so far. Let me know if you have any comments on it or if you want me to implement a viable version of it.

[code]

[2018-09-13 12:04] tomocrafter commented on #358
Finally, I found the solution to this problem.
Just replace class loader with default. I read BungeeCord source code on GitHub. and That replaces the class loader with customized. like
[code]
Thanks for supporting me. I close this issue.

[2018-09-13 12:04] #358 closed

[2018-09-13 15:11] tipsy commented on #357
I like @bchristenson's suggestion for putting the validator on the `Context`, with prefix/suffix for param type. Mainly because I'm really excited about the idea of auto-generating nice error messages.

In my last suggestion I removed `getOrThrow` in favor of just `get`, because I needed the cast to be part of the `get`, like `getAs<Int>()` (`getAsOrThrow<Int>(Exception.class)` doesn't work). If w

[2018-09-13 16:01] tipsy commented on #358
Thanks @tomocrafter !

[2018-09-13 16:02] tipsy commented on #232
@ChimpGamer if you want to give this another look, there is a possible solution in https://github.com/tipsy/javalin/issues/358.

[2018-09-13 16:41] Daniel-Dos opened #361 "Consider adding a EditorConfig"
I noticed that the design does not have an indentation control.
for that reason I opened these issues for the possibility of adding EditorConfig to adjust the indentations.

https://editorconfig.org/

[2018-09-13 17:06] tipsy commented on #361
Thanks @Daniel-Dos, please go ahead and create a pull request with a `.editorconfig` file.

[2018-09-13 17:26] tipsy commented on #357
Since `ctx.validatedQueryParam("age")` creates an instance of `Validator`, you could also create one directly:

[code]

Currently I'm writing converters for common classes. Date would just be `new Date(value)`:

[code]

If an unmapped class is used, an exception is thrown:

[code]

I don't really see any problem with allowing a custom converter though.

[2018-09-13 23:35] tipsy commented on #357
When I was refactoring I stumbled upon a different approach to handling custom converters. Since I'm storing converters in a map, we could let users register converters:

[code]

Then we would call

[code]

[2018-09-14 04:12] BloodShura commented on #357
Honestly, I think it would be better not to pollute Javalin and create another project/module for these validations. Since you use Kotlin, extension functions will fit in perfectly (for adding validation functions to Context class if needed).

Validation varies a lot for each project depending on its serialization model. For e.g., a lot of projects just use JSON (de)serialization for automatic map

[2018-09-14 15:07] tipsy commented on #357
@BloodShura the userbase is about 50/50 Java and Kotlin devs. The current implementation is just 75 lines, and adds three namespaced functions to the `Context`, so I think the benefits outweigh the drawbacks. I think `formParam()` probably doesn't need a validated version, since people dealing with forms probably want to hand-craft their user-feedback. Then it's just 2 functions.

[2018-09-14 18:02] grote commented on #357
For the record, I'd appreciate `formParam` validation or is there any other way to get POSTed values?

Also, I don't think there's a lot of overhead being introduced for validation.

[2018-09-14 18:48] tipsy commented on #357
@grote Typically form params are sent by the browser when users submit a HTML `<form></form>`. If you're posting with JavaScript (or another programming language), it's common to send JSON as the request body:

[code]

You'd then extract this in Javalin:

[code]

Where `User` would have to be a mappable class:

[code]

[2018-09-14 18:57] grote commented on #357
Thanks, but I'd rather not [deserialize untrusted input](https://www.owasp.org/index.php/Deserialization_Cheat_Sheet). In my use-case I have few things to POST, so don't see the point of wrapping them in JSON. But as long as there's a way to apply the validation infrastructure also on `ctx.formParam()` I am happy.

[2018-09-14 19:12] tipsy commented on #357
@grote I don't mind including `ctx.valiatedFormParam()`, but I'd like to point out that deserializing a JSON String into a POJO/data class is very different from deserializing untrusted binary-data. You actually have to make an effort to make your code exploitable. Here are two article if you're interested:
* https://medium.com/@cowtowncoder/on-jackson-cves-dont-panic-here-is-what-you-need-to-know

[2018-09-15 08:38] tipsy commented on #357
@kmehrunes I ended up adding

[code]

This is the most fun I've had working on a feature in a long time, thanks to everyone who has contributed to the discussion.

---

# Validator

The Javalin `Validator` is a class for validating user input. It will let you do useful stuff, like:

[code]

Which will yield the error message:

[code]

## Feature overview

There are two classes, the `Validator`, wh

[2018-09-15 10:54] tipsy commented on #351
Will be closed by validation issue.

[2018-09-15 10:54] #351 closed

[2018-09-15 10:55] kmehrunes commented on #357
@tipsy Nice! I like the provided features. I hope other people will find them useful as well. Thanks for working on them.

[2018-09-16 13:37] tipsy commented on #268
Cleaning up, so closing this now. Reopen if you want to pick it up again.

[2018-09-16 13:37] #268 closed

[2018-09-16 16:28] tipsy commented on #350
Cleaning up, so I'm gonna close this. Reopen if you have any update.

[2018-09-16 16:28] #350 closed

[2018-09-16 16:29] tipsy commented on #327
@plombardi89 do you still want this?

[2018-09-16 18:36] tipsy commented on #357
Out now as part of `2.2.0` !

[2018-09-16 18:36] #357 closed

[2018-09-16 18:57] GerrySeidman commented on #350
@tipsy

I see you closed this and realize I never replied to your post.

In answer to your question regarding what are the advantages of static global vs Javalin app scoped:

If you are assuming that the javalin app is the dog and the rest of the application is the tail, you then you could argue that.  An example (including the application that we have) Javalin is on of several other  in-process c

[2018-09-16 21:14] tipsy commented on #350
Fair point. Javalin is always the "dog" in my services (all microservices). I understand your point better now.

I'm still not a big fan of just putting attributes on the app. What is a little interesting however is allowing attributes on the `Javalin` instance, as well as giving access to the instance through `ctx`, perhaps combined with the typed syntax of context extensions:

[code]

What do yo

[2018-09-17 12:11] plombardi89 commented on #327
Sorry for dropping this one but I've had to focus my dev time away from stuff using Javalin for the time being so it fell off my radar.

It's a nice convenience, but I'm not sure it is worth adding at this point. In the code where I've needed it I've actually just added a method that sets all the `$verb` handler methods to setup the router. A method do that is a useful convenience, but it's also p

[2018-09-17 16:58] tipsy commented on #327
Don't worry about it @plombardi89. It is indeed a niche problem, so I will close this as wontfix. If it ever comes up again I will implement it.

[2018-09-17 16:58] #327 closed

[2018-09-17 17:13] tipsy opened #363 "Consider app attributes (available through Context)"
I'm wondering if it would be good to put a reference to the current `Javalin` instance on the `Context`. This would allow you to `ctx.javalin()` in your controllers.

This would allow for per-instance configuration of `JavalinJson`, `JavalinRenderer`, `JavalinValidation` etc, and it would make it possible to register app-global dependencies that would be available in every controller:

[code]

[co

[2018-09-17 20:29] RoRoche opened #365 "Mapping JSON with javax.json"
I'd like to use `javax.json` with native support such as:

[code]

Currently, here is the way I can achieve this:

- Gradle configuration:

[code]

- and the application code:

[code]

[2018-09-17 21:42] tipsy commented on #365
Hi @RoRoche, `ctx.json()` uses `JavalinJson.toJson()`, which you can configure by calling:

[code]

For example:

[code]

You should probably put this in a class so you don't create new objects every time you map something though.

[2018-09-17 21:59] Daniel-Dos commented on #365
a alternetive is

 http://json-b.net/

[2018-09-17 22:33] grote commented on #357
I should probably have thought about this earlier, but I wonder how the validator works in unit tests.

Without the validator, I can check how my controller behaves if a form parameter is missing by doing

[code]

However, with the validator, I cannot do:

[code]

because it already throws an exception in its constructor.

Any advise how this could work without doing an integration test?

[2018-09-17 22:55] tipsy commented on #357
@grote I don't feel strongly about performing that check in the constructor. You can submit a PR which moves the check to the `getOrThrow()` function.

[2018-09-18 17:45] tipsy commented on #350
@GerrySeidman I created an issue: https://github.com/tipsy/javalin/issues/363

Your input would be appreciated.

[2018-09-21 15:22] SmithKevin opened #366 "Add defaults values to validator"
**Describe the feature**
I think the new validator feature is awesome for easily checking and converting string parameters into other types.  However I keep running into the case where I want the parameter to be validated if it exists, if not then return a given default.  I was thinking something like this

`int limit = ctx.validatedQueryParam("limit").asInt().getValueOrDefault(20);`

I was lookin

[2018-09-21 16:11] tipsy commented on #366
Hi @SmithKevin, this sounds like a good idea. I think the simplest solution is to wrap the current `getOrThrow()` method:

[code]

Would you like to try making a PR? I can help you if you get stuck.

[2018-09-22 16:33] #365 closed

[2018-09-22 16:44] tipsy commented on #196
@winder Sorry, I've been putting this off a lot.. Do you know if there is a simpler way than creating one archetype per version? Do you have any download stats for the archetype, is this something people use?

[2018-09-22 23:39] #366 closed

[2018-09-23 09:50] tipsy commented on #71
https://github.com/Rudge/kotlin-javalin-realworld-example-app ?

[2018-09-23 10:28] tipsy opened #368 "Investigate shading the kotlin-runtime into Javalin"
The Kotlin runtime could be shaded into Javalin. I'm not sure if it's required or beneficial. Example code:

[code]

[2018-09-23 16:15] Rudge commented on #71
WIP - It's coming soon

[2018-09-24 07:52] akunohomu opened #369 "Behavior or docs of immutable files is wrong"
**Actual behavior (the bug)**
Any file with path starting with `/immutable` will be treated as immutable. For example, `http://localhost:8080/immutable_example.png` will be treated as an immutable file.

**Expected behavior**
https://javalin.io/documentation#caching

Expectation: Any path starting with `/immutable/` will be treated as immutable.

**To Reproduce**
Put a file in base static dir with

[2018-09-24 09:09] tipsy commented on #369
Thanks @akunohomu, could you submit a PR?

[2018-09-24 20:00] #206 closed

[2018-09-25 16:52] Rudge commented on #357
@tipsy Won't  the `getOrThrow()` have Exception in its constructor? I think that is necessary, in some case, it is necessary to change or create a custom object error to response. For example in that case in realworld example.

https://github.com/Rudge/kotlin-javalin-realworld-example-app/blob/master/src/main/kotlin/io/realworld/app/web/controllers/AuthController.kt

What do you think? I need to t

[2018-09-25 17:03] tipsy commented on #357
@Rudge It was a bit tricky to set up, so I left it out to see if anyone would need it. If you want to submit a PR I'll review it!

[2018-09-26 07:49] tipsy opened #370 "Move initial null-check out of Validator constructor"
Move it to the getOrThrow() function.

[2018-09-27 01:48] SmithKevin commented on #370
I looked into that while making my default values change.  It looks like it was done that way to simplify the entire Validator chain.   If you moved the null check then all the "checks" would have to handle optional values which adds some complexity.  I wasn't sure what the expectation would be by the user.   Do all added checks get skipped on null or would the checks have an optional string param

[2018-09-27 01:53] SmithKevin opened #372 "Expose Jackson ObjectMapper in JavalinJackson"
What do you think of exposing the ObjectMapper in the JavalinJackson class?   There are some cases where the json being parsed is so complicated that making POJOs of the response doesn't make sense.   In that case I just want to use the raw JsonNode object to manually traverse the object.  It would be nice to be able to grab the same ObjectMapper object instead of creating another one.

[2018-09-27 06:36] tipsy commented on #372
I'm fine with that.

[2018-09-27 06:39] tipsy commented on #370
You could perform the check as the first step in `getOrThrow`, then there wouldn't be any change in behavior?

[2018-09-27 06:41] #369 closed

[2018-09-27 07:01] tipsy commented on #370
@SmithKevin isn't this enough?

[code]

[2018-09-27 07:04] SmithKevin commented on #370
No.  `value` was marked as a non-null String before.  So passing null through the chain was not allowed.  Instead  I had to make the whole chain accept optional `String?` instead so the null can be passed through all the checks and to the `getAndThrow` method

At least I'm pretty sure thats true.  Just getting my Kotlin legs.

[2018-09-27 07:07] tipsy commented on #370
My snippet will throw if the `String?` is null, otherwise it will auto-cast the value to `String`. Validation can then happen like it used to.

[2018-09-27 07:34] #370 closed

[2018-09-27 08:34] #372 closed

[2018-09-27 12:31] localhosted opened #375 "Running Javalin in weblogic"
I haven't programmed much with Java but I'm now facing a project that requires a REST service in weblogic.
Javalin feels pretty familiar and I'd like to use it.

Is javalin compatible with weblogic?

[2018-09-27 12:36] tipsy commented on #375
Not officially, but I'm curious how it could be done. I guess you could create a Servlet and add Javalin to it. Could you set up a Hello World project with a servlet?

[2018-09-27 13:19] Daniel-Dos commented on #375
Hi

look sorry, but that makes no sense in putting Javalin inside the weblogic just to expose an api rest.

Weblogic owns api for Rest, Jax-RS (jersey).

[2018-09-27 13:41] tipsy commented on #375
@Daniel-Dos, some companies are restricted to running on application servers (questions about how to run Javalin on an application server keeps popping up). I'm curious to see how it can be done.

[2018-09-27 13:50] Daniel-Dos commented on #375
I understand .

It was a similar case here in another company here in Brazil, where we had a weblogic and put the Spring boot to run on it.

in case it was done deactivating the tomcat that came with it and some extra settings if I'm not mistaken.

thanks.

[2018-09-27 16:28] SmithKevin commented on #363
Hmm I have been mulling this over the last few days.  All I have is it doesn't "feel" right to do this.  I'm not super familiar with the internals, but it looks like it cause a circular dependency which would prevent java from cleaning up the objects properly.   However I am not sure that even matters since the Javalin object will probably never need to be cleanup in the service lifecycle.

For wh

[2018-09-27 18:08] tipsy commented on #363
Thanks for your feedback. This is the type of thing I'm worried about. I don't think it's a problem, but I'm not an expert on JVM internals, so I want to be very careful.

I feel the same way, but I understand @GerrySeidman's point of view too. I'm mostly intrigued by the possibility of configuring `Jackson`/`JavalinRenderer`/etc per instance.

I'm also thinking about #274, and the possibility of

[2018-09-27 20:35] JosefEvAlloc opened #376 "Proper testing pipeline"
Hello,

I'm in the process of evaluating Javalin in Java to replace a Spring service that is in the making.
So far I'm excited about the simplicity but power and control it has.

I am wondering on how to properly unit test the controllers. In Spring, there is the possibility to "mockMvc".

In Javalin, I am testing the controllers' `handle(ctx)`.
Unfortunately, this does not work very well, because

[2018-09-27 20:48] tipsy commented on #376
Hi @JosefEvAlloc, mocking was discussed in https://github.com/tipsy/javalin/issues/335. The conclusion was:

* If you're using Java, mock `HttpServletRequest` and `HttpServletResponse`, then pass them to `ContextUtil.init()`. The init function is overloaded to take all the dependencies of `Context`:

[code]

As Javalin is growing in popularity I see more and more Java developers wishing for better

[2018-09-27 21:07] JosefEvAlloc commented on #376
Hi @tipsy,

thanks for the fast reply!
I have read the conversation and seen the `ContextUtil.init` functions and used them, they are useful to a certain degree.

It is totally understandable that this framework shouldn't be centered around mockito or that it should be taylored just for one testing framework.

I am not familar with Kotlin, so I can't compare how much easier it is to test there.

F

[2018-09-28 14:12] JosefEvAlloc commented on #376
Just wanted to share my thoughts on this, from a Java-dev perspective. Please note, that this is just my relatively unfiltered opinion and I don't expect anybody to agree on this.

It seems the easiest way to get mocks/unit tests working, is to enable mocking of finals in mockito as described here: https://github.com/tipsy/javalin/issues/335#issuecomment-415845558.
This enables short, precise mock

[2018-09-28 15:30] tipsy commented on #376
IMO, yes. You could argue that a lot functions could be moved into `Request` and `Response` classes on the `Context`, but that would instantly add a lot of noise to controllers (ex: calling `ctx.request().pathParams(":user-id")`). You could also make an interface which takes a `Context`, a `Request`, and a `Response`, but that would similarly create a lot of noisy method signatures and lambdas.

I

[2018-09-28 15:31] tipsy opened #377 "Investigate what has to be done to use jlink with Javalin"
https://docs.oracle.com/javase/9/tools/jlink.htm

[2018-09-28 16:08] tipsy commented on #330
Would https://github.com/nqzero/permit-reflect help with this? (@nqzero)

[2018-09-28 18:56] SmithKevin opened #378 "Query Param Retrieval question"
**Describe your issue**
I just noticed how query retrieval was done in the context.  Every call to `queryParam`, splits the raw query string, makes a map, an access said with the key given.  If I have 4 query params it seems so wasteful.    I feel like just a lazily initialized copy of the map in the Context might be better in the long run.  Or is there something I am missing?

[2018-09-28 18:57] SmithKevin commented on #378
Going to ask this in gitter instead

[2018-09-28 18:57] #378 closed

[2018-09-29 03:18] luigiscondo opened #379 "Cannot make rest request to external endpoint after moving from Spring Boot"
**Actual behavior (the bug)**
I have a project that had been using Spring Boot. I migrated the project to use javalin. I have an endpoint in my app that reaches out to a 3rd party rest api. Without changing the rest client or code around this area, I'm starting to get this error :

[code]

This only happens at runtime. I tried running the client in a junit test and was able to run it successfully.

[2018-09-29 08:14] tipsy commented on #379
I don't think this error is related to Javalin. You have RESTEASY throwing an exception: `RESTEASY003145: Unable to find a MessageBodyReader of content-type application/json and type class java.lang.String`. If you move this out of your Javalin handler, you would still see the exception.

Maybe you're missing a call to `.register()` for registering a `MessageBodyReader` ?

[2018-09-29 22:53] luigiscondo commented on #379
In that case, it might be just jar(s) that Spring was bringing in that Javalin doesn't, or some kind of under the covers static magic that Spring was doing. Given that I have the jackson providers in my classpath and Javalin doesn't do anything special with them based on your comment, I think you're right in that this isn't related to Javalin's core so I'll go ahead and debug some more but close t

[2018-09-29 22:53] #379 closed

[2018-09-30 22:04] GerrySeidman commented on #363
Regarding your comment above wrt register/use.  I'm not familiar with that functionality, but it doesn't seem to be addressing the associating of data on the application level.}

I'm looking at Javalin as something that easily adds HTTP/WebSocket microservices to an existing application. Global variables are a big no-no in our shop and we tightly scope access via context objects.

As an example, w

[2018-09-30 22:30] tipsy commented on #363
@GerrySeidman this issue is about adding `register()`/`use()` to the `Javalin` instance and making the `Javalin` instance available through the `Context`. It should work like `applicationAttribute()`, but type safe.

Instead of using a String key:
[code]

You'd use a Class key:
[code]

So the syntax is different, but the scope should be what you wanted (?).

[2018-10-01 00:28] winder opened #381 "Minor issue with jackson dependency error."
**Actual behavior (the bug)**
When using the `ctx.json` feature a very useful error about adding the jackson dependency is provided. This is great, but if you are using Kotlin the `jackson-module-kotlin` dependency is also needed for some features. Like `val user = ctx.validatedBody<User>().getOrThrow()`

**Expected behavior**
Mention that `jackson-module-kotlin` should also be added as a dependen

[2018-10-01 01:55] GerrySeidman commented on #363
@tipsy To be clear, I am using the .before() approach which works.  I was just sharing architectural thoughts/opinions.

As for register/use, that would work, but I'm curious what your reasoning was to key it on a Class<?> object rather than a String or Object<?>?     Presumably it is so you don't have to cast the return value.

[2018-10-01 07:04] tipsy commented on #381
@winder thanks. Do you know of any way to determine if the application is being run in Kotlin?

[2018-10-01 07:42] tipsy commented on #381
I had an issue for that: https://github.com/tipsy/javalin/issues/202

[2018-10-01 12:54] GerrySeidman commented on #363
Cool.  When I first read it I was worried that you were using it for object creation.

This is fine since it would allow the dangling of an application specific context object (MyContext.class).

The use/register as is seems to be just a convenience alternative to attribute(), which is great for things dangling off a ctx, but the life cycle of a ctx is only a single HTTP request.  Unlike attribute

[2018-10-01 15:13] tipsy commented on #363
Noted!

We have `ctx.attribute()` and `ctx.sessionAttribute()`, this issue is about introducing the missing application-level scope, `app.attribute()`. Instead of `app.attribute()` I want to use `app.register()` and `app.use()`, but really it's the same thing.

I'm looking for input on if it's good to add a reference to `Javalin` on the `Context`, probably via `ctx.app`. It could be limited to `ct

[2018-10-01 15:13] tipsy commented on #363
Noted!

We have `ctx.attribute()` and `ctx.sessionAttribute()`, this issue is about introducing the missing application-level scope, `app.attribute()`. Instead of `app.attribute()` I want to call it `app.register()` and `app.use()`, but really it's the same thing.

I'm looking for input on if it's a good idea to add a reference to `Javalin` on the `Context`, probably via `ctx.app`. It could be lim

[2018-10-01 16:04] winder commented on #381
Possible solution: #382

[2018-10-01 16:04] GerrySeidman commented on #363
I think app.register/use is fine BUT you would also then need a way to get a reference to the app from the ctx (or you would have to make app global static ... sigh) or  ctx.app().use(Foo.class).

I would vote for ctx.appUse(Foo.class) rather than exposing the app object to everyone since that would allow an evil consultant to do bad things like subverting security or something like that)

[2018-10-01 16:51] #381 closed

[2018-10-01 17:48] HexRealm opened #383 "Example link on the documentation points to a non existing page"
The example link under the "Custom jetty handlers" section on the documentation page points to a source file that no longer exists (https://github.com/tipsy/javalin/blob/master/src/test/java/io/javalin/TestCustomJetty.java#L66-L82).

I did not search thoroughly but i couldn't find the correct link under the test package.

[2018-10-01 17:51] tipsy commented on #383
Thanks @HexRealm, I'll sort it out a bit later. Test is here: https://github.com/tipsy/javalin/blob/master/src/test/java/io/javalin/TestCustomJetty.kt

[2018-10-01 17:56] HexRealm commented on #383
Thanks, i only looked inside the examples folder, maybe it would be interesting if the documentation only referenced files inside the `src/test/java/io/javalin/examples` package?

[2018-10-01 18:55] tipsy commented on #383
@HexRealm Fixed!

Do you mean instead of having code embedded in the website source?

[2018-10-01 18:55] #383 closed

[2018-10-01 21:38] GerrySeidman commented on #363
If it were a string key, then clearly appAttribute() would fit the existing pattern.
xxxProperty() naming also tends to be for Strings
appExtension is (IMHO) just confusing because it isn't an extension

What was the geneology of the register/use() naming?

My vote then is to just punt and just call it appData().

[2018-10-01 22:16] tipsy commented on #363
User polling.

I'll keep the thread open for a while and keep growing the list.

* `ctx.appAttribute(ConnectionPool.class).getConnection()`
* `ctx.appExtension(ConnectionPool.class).getConnection()`
* `ctx.appProperty(ConnectionPool.class).getConnection()`
* `ctx.appData(ConnectionPool.class).getConnection()`
* `ctx.appPlugin(ConnectionPool.class).getConnection()`
* `ctx.appDependency(ConnectionPo

[2018-10-03 18:53] JosefEvAlloc opened #386 "HttpResponseException getMessage() is always null"
**Actual behavior (the bug)**

When catching an exception, e.g.:
[code]

**Expected behavior**
`System.out.println(ex.getMessage());`
Should not be null, but contain the actual message (Java interface contract for Exceptions)

**To Reproduce**
See code above

[2018-10-03 18:57] tipsy commented on #386
Yes, this is unfortunate. We can't really change it without breaking backwards compatibility. Unless it really could be considered a bug? IMO it's just stupid design (by me).

[2018-10-03 19:04] JosefEvAlloc commented on #386
I personally can work around it.
IMO this is something that really should not be, because it breaks the core-Java interface contracts. One of the things Java programmers totally rely on fundamentally.

Quick fix suggestion: Might be getMessage() just returns a getMsg() internally and in a later Version remove getMsg() completely? I am not deep enough into Kotlin to do a quick fix for a pull reques

[2018-10-03 19:34] #386 closed

[2018-10-03 19:37] JosefEvAlloc commented on #386
wow, that was fast. Thank you!

[2018-10-03 19:39] tipsy commented on #386
Just had to pass the `msg` along. New version will be out sometime in the weekend :)

[2018-10-04 18:57] tipsy opened #387 "accessManager can be changed after server start"
It's currently possible to replace the `AccessManager` after the server has started. It should probably not be possible.

[2018-10-04 19:12] #387 closed

[2018-10-04 23:14] TheColdVoid opened #388 "How can I send the response in before() Handler"
In app.before() Handler ,I worte a vaildation function.I want to terminate the request with send a JSON as response when the vaildation failed , and skip to call other get() or post() Handler,directly send the response.How can I do?THANKS FOR YOUR ANSWER.

[2018-10-05 06:53] tipsy commented on #388
The easiest way is by throwing a response: https://javalin.io/documentation#default-responses

[2018-10-05 06:56] tipsy commented on #185
It should, but I haven't tested it. Please let me know if you do.

[2018-10-05 13:58] #363 closed

[2018-10-05 16:39] hypothermic opened #389 "Listen on different IP address"
I would like Javalin to listen on a different IP address.

The `embeddedServer(...)` method mentioned in #138 doesn't seem to exist anymore in version 2.2.0.

Is this still possible? Thanks in advance.

[2018-10-05 18:03] tipsy commented on #389
@hypothermic It's been renamed to `server(...)`

[2018-10-05 21:30] TheColdVoid commented on #388
Thanks!If I want to response as a custom JSON(such as {status:{code:0,message:"foo"},result:null}}) in before() handler

[2018-10-05 23:45] tipsy commented on #388
You could create a custom `Exception` and add a custom mapper using `app.exception()`:

[code]

Writing a response directly from a `before` handler isn't encouraged, but it can be done. You need to access the `OutputStream`on the `HttpServletResponse` and write to it yourself:

[code]

[2018-10-06 10:14] TheColdVoid commented on #388
Thank you for your patience. My problem has been completely solved.

[2018-10-06 10:39] #388 closed

[2018-10-06 18:38] iObsidian opened #390 "Javalin : java.lang.NoSuchMethodError: javax.servlet.http.HttpServletRequest.getContentLengthLong()J"
**Actual behavior (the bug)**

I get this message :

java.lang.NoSuchMethodError: javax.servlet.http.HttpServletRequest.getContentLengthLong()J
	at io.javalin.core.CachedRequestWrapper.<init>(CachedRequestWrapper.kt:18)
	at io.javalin.core.JavalinServlet.service(JavalinServlet.kt:36)
	at io.javalin.core.util.JettyServerUtil$initialize$httpHandler$1.doHandle(JettyServerUtil.kt:59)
	at org.eclipse.j

[2018-10-06 19:05] tipsy commented on #390
When did you get this message? What changed?

[2018-10-06 19:19] iObsidian commented on #390
Now every time I run it it does that. I think since I added SLF4J? I'll try to remove it to see. It's probably a dependency problem...

[2018-10-07 12:30] hypothermic commented on #389
@tipsy And the class `EmbeddedJettyFactory` doesn't seem to exist anymore either?

[2018-10-07 12:33] hypothermic commented on #389
Thank you.

[2018-10-07 12:33] #389 closed

[2018-10-09 17:19] #375 closed

[2018-10-09 19:00] #376 closed

[2018-10-10 12:04] david-wg2 opened #391 "Better handling of misconfigured SessionHandler"
Currently you risk seeing a "Jetty 503" page if your `SessionHandler` is misconfigured. The app should instead refuse to start.

[2018-10-10 14:15] RisingPhorce opened #392 "SparkJava rewrite improvements"
The javalin.io website states that Javalin started as a fork of SparkJava but was re-written from the groud up.  I would like to know what improvements were put into Javalin in the re-write which will help my evaluate Javalin as a replacement for Spark.

[2018-10-10 14:18] RisingPhorce opened #393 "Current Swagger Support Status"
The higher numbered issue #354 is closed but the lower #254 is open.  What is the current status?  Is there a maven goal that can be used to generate the swagger docs to be served at a certain endpoint?  A small example would be helpful!

[2018-10-10 14:28] tipsy commented on #392
@RisingPhorce There are too many to mention. Everything is a bit more consistent (method naming and return types), everything is a bit faster (approx 10% speedup). A lot of new features have been added, such as error mapping (status code), lifecycle events, lambda websockets with routing, fully configurable jetty (http2), session handling, async responses, input validation, uploads, role managemen

[2018-10-10 14:32] RisingPhorce commented on #392
Thank you!  I'll be taking a closer look at session handling, async responses, input validation and role management.

[2018-10-10 14:32] #392 closed

[2018-10-10 14:34] tipsy commented on #393
#254 is about generating an openapi spec, which is not possible with Javalin yet. #354 is about rendering an existing spec, which is implemented.

[2018-10-12 11:24] zoppello opened #394 "Any Plan to support Microprofile (https://microprofile.io) ?"
Hi,

I like very much the simplicity and the powerful of Javalin.
On the other side i think a great value, will be to add support for Microprofile ( https://microprofile.io ).

Is there any plan/idea to support this ??
Thanks in advance.

Andrea

[2018-10-13 09:58] tipsy commented on #394
Welcome @zoppello. We already have an issue for this: https://github.com/tipsy/javalin/issues/292. I haven't had the time to look at it yet, but I would be happy to review if you want to create a PR.

[2018-10-13 10:00] tipsy commented on #394
Seems a read this a bit too quickly. MicroProfile and MicroMeter are not the same thing.

[2018-10-13 10:04] tipsy commented on #394
Could you elaborate on how Javalin would work with MicroProfile?

[2018-10-13 11:16] tipsy commented on #355
It's possible to register templates with double extensions now, thanks to #395. Rocker will not be added directly to the core though, since it requires a maven plugin to work.

[2018-10-13 11:16] #355 closed

[2018-10-13 11:16] #393 closed

[2018-10-13 13:10] Playacem opened #396 "Rocker template example"
I created an example on how to use Rocker with Javalin as requested in #355.
You can check it out [here.](https://github.com/Playacem/javalin-rocker-example)
I will update the example to properly use the `.rocker.html` extension once a new Javalin version with the changes in #395 releases.
Edit: Example is now updated to use Javalin 2.4.0, which includes the changes in #395.

[2018-10-14 14:05] Playacem opened #397 "Nullability of Context in Handler and other types."
While using Javalin in Kotlin i realized that the `Handler` [interface](https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/Handler.java) and some others are missing Nullability annotations, such as `@NonNull`.
Is this intentional?
I have looked through the examples and I have not seen a case where the context object `ctx` is tested for its possible null state. Other interfaces u

[2018-10-14 15:45] tipsy commented on #397
No, not intentional. The Context is non-nullable, so it can be safely annotated with `@NonNull`. I think that goes for every parameter of all the functional interfaces.

[2018-10-14 16:45] Playacem commented on #397
I created a pull request to fix this issue, see #398.

[2018-10-14 17:13] #397 closed

[2018-10-15 23:35] tipsy commented on #179
Seems someone is doing this: https://github.com/TechEmpower/FrameworkBenchmarks/pull/4110

[2018-10-16 12:48] eoftedal opened #399 "JettyServerUtil fails to insert handlers if the handler is a HandlerCollection wrapped in a HandlerWrapper"
**Actual behavior (the bug)**
If the server har a StatisticsHandler which contains a HandlerCollection,
https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/core/util/JettyServerUtil.kt#L104
will try to invoke `HandlerWrapper.insertHandler()`. This method however fails if any handler it finds is not a HandlerWrapper with `IllegalArgumentException("bad tail of inserted wrapper chai

[2018-10-16 21:03] tipsy commented on #399
@eoftedal Thanks, seems you've done the hard work already. Would you like to submit a PR?

[2018-10-16 21:05] tipsy commented on #394
Thanks @zoppello, that makes it a bit clearer, but JAXRS and Javalin are sort of opposite approaches to building apps, how do you envision them working together?

[2018-10-17 12:22] valtterip opened #400 "Using options method with accessManager"
[Axios](https://github.com/axios/axios) is using options method calls by default in certain cases, and it seems that it's impossible to use the Javalin `options` with the accessManager.

[code]

All options calls return 401, probably because it's not possible to set the permitted roles for the options method. It's working when removing the accessManager. I don't know if this is a bug or if I'm usi

[2018-10-17 22:41] tipsy commented on #400
Hi @valtterip. Javalin doesn't really treat the http methods differently.

When handlers are added to the router, they're wrapped by the current `AccessManager`:

[code]

`isHttpMethod()` is defined as `GET, HEAD, POST, PUT, DELETE, CONNECT, OPTIONS, TRACE, PATCH -> true`

You'll need to add roles to your `options` endpoint: `options("/*", handler, roles(MY_ROLE))`.

Could you produce a minimal wo

[2018-10-17 22:55] iObsidian commented on #390
`
		<dependency>
			<groupId>io.javalin</groupId>
			<artifactId>javalin</artifactId>
			<version>2.2.0</version>
		</dependency>

		<dependency>
			<groupId>org.jsoup</groupId>
			<artifactId>jsoup</artifactId>
			<version>1.8.3</version>
		</dependency>
`

[2018-10-17 22:58] iObsidian commented on #390
Sorry I didn't have a notification... Here are the only two dependencies...

[2018-10-18 08:06] valtterip commented on #400
@tipsy Oh man, I tried to add Role directly as a param instead of Set<Role>. And apparently managed to google pre-AccessManager apidocs and was thinking there is no such method for the options.

So this is completely on me, closing the issue. Sorry for the inconvenience.

[2018-10-18 08:06] #400 closed

[2018-10-18 08:14] tipsy commented on #400
No problem, glad it worked out!

[2018-10-18 09:20] zoppello commented on #394
Hi @tipsy, i don't consider Javalin and JAXRS opposite approaches. My vision is that you it could be possible to build Microprofile support on top of Javalin base. So you give developers to choose the desired approach.

So in my opinion there should be a sort of Javalin-MP built on top of Javalin base.
Hope it's clear

[2018-10-18 13:01] mvysny opened #402 "Split Jetty out of Javalin"
**Describe the feature**
Thank you very much for such a great project!

I know I'm asking a lot :-D But basically Jetty is so much embedded into Javalin it can not be removed. However, when I wish to add Javalin as a part of my app running inside of a Tomcat, the Jetty classes may clash with Tomcat's and may create unpredictable issues.

It would therefore be great if Javalin included Jetty as an

[2018-10-18 15:23] mvysny commented on #402
@tipsy I know this is not going to be easy, and thanks for the reply. I was curious whether you would be OK with the idea, or whether you would reject it outright :) I'd understand if you wanted to keep things simple.

However, adding Javalin to WARs would mean that I can drop RESTEasy library which would be a huge plus.

[2018-10-18 16:56] tipsy commented on #402
@mvysny I've been thinking a bit about this lately. Someone else requested something similar, but they never followed up on it.

How Javalin works now is that it creates a Jetty `Server` with a `ServletContextHandler`, which more or less looks like this:

[code]

We could create a method for building a `JavalinServlet`, something like:

[code]

You could then use that in your Tomcat handler:

[cod

[2018-10-18 17:07] Playacem commented on #402
Did a quick search for jetty in the code base and found that the SessionHandler is also apparently Jetty specific, or at least Javalin is importing the SessionHandler from it.

[2018-10-18 17:11] tipsy commented on #402
@Playacem Yes, but the `SessionHandler` is not related to the `JavalinServlet`. Most of the `app.configName` methods won't be valid with a `getJavalinServlet` approach, it would just be for pulling out the core HTTP Servlet and attaching it to a different embedded server. WebSockets wouldn't work either.

[2018-10-19 10:36] mvysny commented on #402
Exposing the `JavalinServlet` class straight from `Javalin` is awesome and that will help a lot. I can definitely prototype an example project of having Javalin run in a Tomcat and publish on Github.

Eventually I'd love to have a chopped-down Javalin, maybe without static file handler, multipart & websocket and without Jetty dependency at all. The thing is that some servlet containers may hate ha

[2018-10-19 17:46] tipsy commented on #402
It should be possible to hide this completely from the users. Bundle Jetty with the standard `io.javalin:javalin` dependency, and create a `io.javalin:javalin-http-servlet` dependency just for the http-handler. Just have to figure out how to handle static files and uploads (it could be as simple as throwing an exception if not running on jetty).

Great, looking forward to it!

[2018-10-21 17:01] iconara opened #404 "Before block before a get with no path does not run"
**Actual behavior (the bug)**
`before` block doesn't run before a `get` handler when the `get` has no own path.

**Expected behavior**
`before` block runs before every `get` handler in the scope.

**To Reproduce**
The code below defines two `get` handlers and one `before`. All three are in the same `path`. The `before` block only runs before the second get, e.g. `get("level2")`. It does not run be

[2018-10-21 17:41] iconara commented on #404
No rush!

I should also have said this was using the latest Javalin: 2.3.0.

This is the routes overview, looks like the `before` is only covering `/root/level1/*`, and the `get` without path is `/root/level1`:

<img width="495" alt="screenshot 2018-10-21 at 19 36 45" src="https://user-images.githubusercontent.com/73330/47270211-abc61280-d568-11e8-83e1-b70f797a8732.png">

I can see how that happen

[2018-10-21 17:47] tipsy commented on #404
I understand how that could be confusing. I have resorted to using two befores in my code for this in the past. I'm not quite sure if fixing this makes everything more intuitive, but a fix would have to wait for 3.0.0, since people could be relying on the current behavior.

[2018-10-21 17:50] SmithKevin commented on #179
Looks like the results are in.  It did well.  #60 in plaintext and #70 in json.
https://www.techempower.com/benchmarks/#section=test&runid=a0d523de-091b-4008-b15d-bd4c8aa25066&hw=ph&test=plaintext&a=2

[2018-10-21 18:00] iconara commented on #404
Ok, consider this a feature request for a 3.0 change in that case. There are ways around it so it's not critical in any way, just surprising and confusing. Thank you for responding so quickly even when on a trip.

[2018-10-21 18:00] #404 closed

[2018-10-21 18:30] iconara commented on #404
Here's a more concrete use case for why this is a desired feature:

[code]

Because the `before` doesn't run before the first `get` the logic needs to be duplicated. If this was not the case the `before` block could be used to load a resource in one place, so the code getting the parameter and loading it from the database would not have to be duplicated. Does this make sense?

[2018-10-21 19:42] tipsy commented on #404
Yes, I have the exact same logic in my app!

[2018-10-21 20:32] tipsy commented on #179
@SmithKevin that's great, I'm very happy about these results, thanks for letting me know!

[2018-10-21 22:23] tipsy commented on #307
The results look great. It beats all the kotlin frameworks and somehow surpasses jetty-servlet itself (javalin has custom code for writing responses, maybe faster?). Results are available here: https://github.com/tipsy/javalin/issues/179

[2018-10-21 22:23] #307 closed

[2018-10-21 22:24] tipsy commented on #179
Just kotlin and java frameworks: https://www.techempower.com/benchmarks/#section=test&runid=a0d523de-091b-4008-b15d-bd4c8aa25066&hw=ph&test=plaintext&l=xan9tr-3&a=2

[2018-10-21 22:33] tipsy commented on #179
I'm wondering if it should be labeled as a Kotlin framework, since it's written in kotlin. That isn't really related to this issue though, so closing it.

[2018-10-21 22:33] #179 closed

[2018-10-22 07:05] robinvanyang commented on #185
I just run javalin demo on android sdk 28 and 23. it only worked on sdk 28; on sdk 23, there's some java concurrent class not found exception.
If javalin could only use jetty, no other http engine, I think it will not works on android device before sdk 28

[2018-10-22 07:49] maxemann96 opened #405 "ExceptionMapper ignores defaultContentType"
Consider the following snippet:
`
Javalin app = Javalin.create().defaultContentType("application/json").start();
app.get("/", ctx -> { throw new ForbiddenResponse(); });
`
The defaultContentType is sent to the client, but the answer is in text/plain.
Is this intended? If not, I would consider a little fix to io.javalin.core.util.HttpResponseExceptionMapper in the method handleException change
`if

[2018-10-22 09:15] tipsy commented on #405
Thanks for the issue. I'm currently traveling, but I'll have a look when I get back.

[2018-10-22 09:54] mvysny commented on #402
I've created a simple project that demoes this kind of embedding: https://gitlab.com/mvysny/javalin-tomcat-embed-test . Looks good, even though the Jetty-specific parts (websockets, static file serving) may not work.

[2018-10-22 10:46] mvysny commented on #402
Hold on, Github is really screwed up

[2018-10-22 11:06] tipsy commented on #402
Great! I'm on a trip for the next few days, but I'm looking forward to checking this out when I'm back.

[2018-10-22 22:16] tipsy commented on #179
Thanks @ShikaSD, and thanks for you help making it faster!

[2018-10-23 07:01] tipsy commented on #405
@maxemann96 thanks, looks like you've found a bug. Would you like to submit a PR to fix it?

[2018-10-24 11:39] Roland4444 opened #406 "Using Javalin in JIGSAW Java11"
Hello! I am newbie in java11 but needed used modularity. Can i use Javalin in Java11 Modularity proiject? and how i must connect Jasvalin to my project?

[2018-10-24 12:00] tipsy commented on #406
You can use Javalin, but it's not modularized, everything is exported under `io.javalin`.

[2018-10-24 15:44] Playacem opened #407 "RequestLogger and debugLogging option do not apply to web sockets"
Is this intentional?
I want to log all events related to web sockets in my application but can't do it without adding logging to all events by myself.

[2018-10-24 15:57] tipsy commented on #407
It's intentional. Some things, like the access manager, request logging, and probably more, are only for http requests.

WebSocket events aren't really requests, and they don't have a Context, so a logger for them would have to look a bit different.

It would be possible to add a `WebSocketEventLogger`, is this something you think would be useful?

[2018-10-24 16:09] Playacem commented on #407
I personally would love something like this. Debugging web sockets and logging their events would be a lot easier with this.
Alternatively one could also add web socket equivalents for `before` and `after` and call them maybe `beforeWs` and `afterWs`

[2018-10-24 16:19] tipsy commented on #407
Before/after "what" though? Any event? Just messages?

[2018-10-24 16:42] Playacem commented on #407
Well certain combinations - such as `beforeWsClose` - would not make sense apart from logging.
Even just messages would help with validating received web socket messages.

[2018-10-24 16:53] #405 closed

[2018-10-24 16:59] tipsy commented on #407
Try to create a general functional interface that covers your needs, and we can keep the pull request open for input.

[2018-10-24 17:21] flyrev commented on #391
Could you list some examples of the specific misconfigurations that should be handled?

[2018-10-24 17:28] tipsy commented on #391
Invalid database configuration is the one I ran into. Point it to a nonexistent DB, or use incorrect credentials. Use the SQL session handler from the session tutorial on the website for testing.

[2018-10-24 17:34] Playacem commented on #407
Opened a pull request under #410

[2018-10-24 19:10] #391 closed

[2018-10-24 20:53] maxemann96 commented on #405
Oh, ok this was very fix, thx for your time :)

[2018-10-24 21:12] tipsy commented on #405
@maxemann96 thank @Playacem, he fixed it :)

[2018-10-24 21:13] maxemann96 commented on #405
So, @Playacem thx :)

[2018-10-25 18:44] tipsy opened #413 "BinaryMessageHandler#handle doesn't throw Exception"

[2018-10-25 18:44] tipsy commented on #413
(@borgarlie)

[2018-10-25 21:02] #413 closed

[2018-10-25 22:15] SmithKevin opened #416 "Explicitly declaring charset for json (and maybe html)"
Do you have any reservations about explicitly declaring the charsets in the json convenience method?   For example `application/json; charset=UTF-8`?

So I was having trouble with browsers rendering special characters (£ and € ) symbols when hitting the api directly.  This lead me down an insane rabbit hole of encoding logic on browsers.  So by default most browser will not use UTF-8 if not explic

[2018-10-25 22:29] tipsy commented on #416
@SmithKevin last time this was brought up it was concluded that `; charset=UTF-8` should **not** be included, as it goes against the spec and some clients don't expect to see it. It should be pretty easy to add yourself, but it's harder to remove.

[2018-10-25 22:36] SmithKevin commented on #416
What spec?  I think `charset` is in the Http 1.1 spec.   I agree that it is specific, but it just bothers me that I can no longer use the .json method because of this.

[2018-10-25 22:37] SmithKevin commented on #416
Actually nevermind, I just realized I can technically use.
`context.json(json).contentType("application/json; charset=utf-8")` to alter the content type.

[2018-10-25 22:41] tipsy commented on #416
You can also do that in an `after` filter, so you won't have to write it out for every handler.

[2018-10-25 22:42] SmithKevin commented on #416
Good idea.  I am also reading up on previous charset discussions.  #259   I will close this

[2018-10-25 22:42] #416 closed

[2018-10-25 22:45] tipsy commented on #416
That's some high quality entertainment, enjoy.., 😬

[2018-10-26 07:58] mvysny commented on #402
I experimentally tried to remove Jetty from Javalin sources and it went very well - I only had to delete/tweak a couple of classes to do it. So I'm pretty positive that the split is possible. The split however requires moving of the current sources into a Maven submodule. This kind of move however introduces huge git conflicts. I'm thinking to merge/reject all current PRs, then move the sources in

[2018-10-26 09:40] tipsy commented on #402
There's also the option of just excluding Jetty when using Javalin with another server. I know that it doesn't look pretty in your pom/build file, but maybe the use-case is so niche that it's okay?

[2018-10-26 09:43] mvysny commented on #402
That's absolutely fine with me, however I fear that Javalin would quickly
fail with NoClassDefFoundError since it uses Jetty classes natively. But
maybe just enough of Jetty could be excluded? Let me experiment.

On Fri, Oct 26, 2018, 12:41 David <notifications@github.com> wrote:

[2018-10-26 09:50] tipsy commented on #402
It shouldn't be too bad if you just need `JavalinServlet` and `Context`. I already have optional dependencies on Jackson and template engines, and a system for checking if dependencies are present.

There is an enum class, `OptionalDependency` which can be used with `Util.ensureDependencyPresent`. You could do something like:

[code]

[2018-10-26 11:29] mvysny commented on #402
I excluded all Jetty deps and I couldn't compile the testing project:
1. The `JavalinServlet` requires `JettyResourceHandler` which in turn requires Jetty `Server`.
2. I need to set Jetty's `Request` as the `jetty-request` attribute to HttpRequest otherwise Javalin will crash.

[2018-10-26 13:07] tipsy commented on #402
I'll have a look tomorrow @mvysny.

[2018-10-26 13:38] #406 closed

[2018-10-26 13:44] #399 closed

[2018-10-26 16:10] HexRealm commented on #390
I've attempted to reproduce your issue using the two dependencies provided and everything worked just fine. I've used the following pom to test:

https://gist.github.com/HexRealm/f6ca3949842a0c5952c2c3d841128f86
Using jdk1.8.0_144

What IDE are you using? Did you try re-importing your maven project? Did you try running `mvn clean`?

[2018-10-26 16:25] akoshman opened #418 "Necessity of "slf4j-simple""
I wonder if it is really judicious to treat this dependency as optional and notify a user if he doesn't have it in the project?
Even if I got "slf4j-api" and "logback-classic" in my pom.xml, I'm still being told that it's recommended to include "slf4j-simple".

[2018-10-26 16:31] tipsy commented on #418
@akoshman That's not supposed to happen, I don't get the message when using a different logger.

[2018-10-26 17:40] #407 closed

[2018-10-26 17:56] HexRealm commented on #418
This message only appears if the class `org.slf4j.impl.StaticLoggerBinder` is not present on the classpath, this means that for some reason your `logback-classic` isn't being loaded. I tested logback-classic with the following pom and it worked fine:

https://gist.github.com/HexRealm/ed596414b0df800b729e45666f1617a0

[2018-10-26 18:02] Playacem opened #419 "WsSession#queryParamMap throws an exception if queryString is null"
**Actual behavior (the bug)**
WsSession#queryParamMap throws an exception if the session's queryString is null.
[code]

**Expected behavior**
queryParamMap returns an empty map.

**To Reproduce**
[code]
and point a WebSocket client on this app.

**Additional context**
We should carefully check every method in WsSession and check if they can return null as they are closely related to Jetty code.

[2018-10-26 18:04] Playacem commented on #419
I suggest to return an empty string if the query string is null.

[2018-10-26 18:49] tipsy commented on #419
@Playacem, I'm doing `ContextUtil.splitKeyValueStringAndGroupByKey(queryString() ?: "")` in `Context`, can just copy that?

[2018-10-26 19:02] tipsy commented on #418
I can't reproduce it either, so I'm going to close this one.

[2018-10-26 19:02] #418 closed

[2018-10-26 19:03] #390 closed

[2018-10-26 19:05] tipsy commented on #394
@zoppello I don't really see how this will work, so I will close the issue. If you submit a PR or an example project I'll have a look.

[2018-10-26 19:05] #394 closed

[2018-10-26 19:11] Playacem commented on #419
Opened a pull request with the fix. See #420

[2018-10-26 19:28] #419 closed

[2018-10-27 12:15] borgarlie opened #421 "Circumvent the AccessManager for CORS preflight requests"
It seems the access manager intercepts cors preflight requests and fails (in most implementations) because no roles are set.

Basically, this means that all cors requests will get an "Unauthorized" response.

My current workaround:
[code]
However, using this solution means that all your endpoints are open by default if you do not specify permitted roles. It would perhaps be better to somehow circu

[2018-10-27 12:52] tipsy commented on #421
If we don't want to wrap this particular options handler, we could add a special role in `Javalin#enableCorsForOrigin` and check for that role in `Javalin#addHandler`.

I don't think this has any security implications, so I think we can consider the change a patch.

[2018-10-28 08:12] mvysny commented on #402
You're right! I thought that the code will crash with `NoClassDefFoundError` when loading `Javalin` since it has the field `jettyServer`, but if it's null, Java appears that it doesn't really care.

I've created a fork of Javalin which is able to function in Tomcat (or any other servlet container) without having Jetty on the classpath: https://github.com/mvysny/javalin . The example project has be

[2018-10-28 10:01] lroellin opened #423 "Sending to WebSocket from multiple threads crashes Jetty. Maybe synchronize?"
**Actual behavior (the bug)**
When I call `.send` on a `WsSession` from multiple threads, I receive the following:

[code]

Our code calling this (line 117) (slightly modified): `session.send("XYZ")`

**Expected behavior**
`WsSession.send()` blocks/is synchronized, and message is sent slightly later without a crash

**To Reproduce**
This is a bit hard... I can come up with a little example if you

[2018-10-28 10:29] tipsy commented on #423
Thanks @lroellin. I don't really mind adding a `@Synchronized` annotation, but I was hoping Jetty would have taken care of this. I added an `input wanted` label, hopefully a Jetty/Java threading pro can chime in.

[2018-10-28 10:30] tipsy commented on #402
The optional dependencies of Javalin rely on this behavior. As long as a class isn't instantiated, its dependencies don't have to be present.

It's a little fragile, but I don't think it's too bad. Since you only want the `JavalinServlet` and the `Context` there should be very few places where Jetty is required. Testing the methods related to the Servlet spec with a different server shouldn't real

[2018-10-28 10:42] mvysny commented on #402
True, that's a standard Java feature. However, the `Javalin` class is instantiated while its field `Javalin.jettyServer` is of type `Server` which is missing - that's fragile since different versions of Java may simply decide to resolve all classes referenced from `Javalin` class and fail because of missing `Server`.

I was thinking about testing the methods while not having Jetty on classpath, to

[2018-10-28 10:44] lroellin commented on #423
Looking through Google, I remember quickly that you can use "sendString". But I don't know what implications this has!

[2018-10-28 11:10] tipsy commented on #423
`WsSession#send` is a custom Javalin method, it just calls `webSocketSession.remote.sendString(message)` currently.

[2018-10-28 11:32] #421 closed

[2018-10-29 07:40] PaulMuriithi opened #427 "Halt if UnAuthorized"
What would be the best way to halt a request execution based on some condition?

For instance how can I halt in the following example:
[code]

[2018-10-29 08:10] tipsy commented on #427
Try the ``AccessManager` and the `HttpResponseException` classes.

[2018-10-29 19:21] #427 closed

[2018-10-30 07:49] TheColdVoid opened #428 "How can I use Javalin with unit test"
I want to use unit test(like JUnit) to test my javalin program(to test  HTTP request,websocket,etc.)how can I do it?Thank you.

[2018-10-30 07:55] tipsy commented on #428
Have a look in the test folder, everything is unit tested.

[2018-10-30 07:55] #428 closed

[2018-10-30 13:58] maxemann96 opened #429 "Json-Schema Validation"
**Describe the feature**
Javalin has introduces a validator in v2.2.0, but the interoperability with other stuff (for example frontend) is not as good, as it could be. With JSon-Schema-Validation (from json-schema.org) one can specifiy the validation for frontend and backend at the same place.

**Additional context**
This could be implemented with ctx.validatedBodyAsClass(XYZ.class, SchemaXYZ) and

[2018-10-30 14:34] tipsy commented on #429
I can't guarantee it will be merged, but I guarantee it will be considered. It sounds like a great idea, so if the implementation is straightforward the chances are very good.

[2018-10-30 16:02] Playacem commented on #429
The drafts for JSON Schema are currently expired and new drafts are planned for November 2018. So maybe we should wait for the new iteration of drafts to start the implementation?

[2018-10-31 01:03] vladp opened #430 "Why in enableSinglePageMode, the path should be relative to resource folder?"
**Describe your question**
Just migrated my code base to Javalin, from spark.  Every went really well and easy.
Especially I really wanted to get HTTP2 and fast jetty encryption (as I do not want to rely any external caching proxy/terminator/load balancer...) - and it works great.

I wanted to leverage default handling for SPA (as my app is SPA).

[code]
But I am getting an error

I did not quite

[2018-10-31 01:53] vladp commented on #423
hmm.. I do not see anywhere in Jetty docs that sendString needs to be synchronized.

http://www.eclipse.org/jetty/documentation/9.4.12.v20180830/jetty-websocket-api-send-message.html

could there be some other socket-affecting things going on, that are masked by serialized threading?

I did find a code example where it shows that
getting the remote instance, and using it to do sendString has to ha

[2018-10-31 05:52] tipsy commented on #430
I'll have a look after work.

[2018-10-31 15:43] vladp commented on #430
got it. thank you

[2018-10-31 15:43] #430 closed

[2018-11-02 07:36] Playacem commented on #396
This issue is not really an issue, it is more of a information for those who what to use Javalin with Rocker templates.
The changes in #395 were merged after the release of Javalin 2.3.0. So the changes described in the pull request are not available in an official release yet.

[2018-11-03 14:57] DavidApi opened #433 "Tutorial Javalin JWT Example it is not clearly explained"
Tutorial with JWT is not clarity for me.

1. 1st code block with MockUser I should put into of course in new class MockUser, but where I should put 2nd block of code (with 4 steps) ? Also in MockUser class ?

2. I can't import **JWTProvider** from 2nd block (exacly 4 step:
`JWTProvider provider = JWTProvider(algorithm, generator, verifier); `)
thought I have in gradle:
compile 'com.auth0:java-jwt:

[2018-11-03 15:02] tipsy commented on #433
@DavidApi if you tag the author you'll have a better chance of getting help, I don't think he watches this repo.

[2018-11-05 07:15] kmehrunes commented on #433
Apologies for the late response.
1. That block of code is yours to put wherever suits your project best. You can initialize it in the same place as you initialize your app and pass the provider to your controllers. The examples assume everything is define in one class (all handlers are defined in-line and all initialization done at once) so we do have access to the provider directly.

2. You shoul

[2018-11-05 09:30] Playacem commented on #396
The example is now updated to use the newly released double extensions feature of Javalin 2.4.0.

[2018-11-05 09:35] Playacem opened #434 "Kotlin 1.3 and Kotlin's configuration"
Now that Kotlin 1.3 is officially released, should we update Javalin to use the new version?
Currently we [target Java 1.6 bytecode](https://github.com/tipsy/javalin/blob/2defd4113aa40ed5df44b9c0bc60321c06624b17/pom.xml#L47) with Kotlin but [use the jdk8 stdlib of Kotlin](https://github.com/tipsy/javalin/blob/2defd4113aa40ed5df44b9c0bc60321c06624b17/pom.xml#L55).
Shouldn't they match?

[2018-11-05 09:39] tipsy commented on #434
I'm not sure what the right thing to do here is. If we move to 1.3, will that cause problems for people who stay on 1.2?

I don't think the target and the stdlib should match (there is no stdlib 6?), but I don't know enough about this.

[2018-11-05 10:17] Playacem commented on #434
As long as we only use stuff that had been fully stable in 1.2, then we should be fine. [Official reference](https://kotlinlang.org/docs/reference/evolution/components-stability.html). So no coroutines for now.

Are there people who run Javalin on Java versions < 8? As long as that is not the case then we can target 1.8 bytecode and profit from potential optimizations the compiler can make.

[2018-11-05 17:33] tipsy commented on #434
@Playacem I've been wondering about how to handle this lately, which is why I created https://github.com/tipsy/javalin/issues/368.

Most my projects drag in Kotlin through Javalin, but I imagine this isn't the case for everyone. If we bump Javalin to the latest version, does that mean people who are more conservative are forced to use a newer version? Would it be better to stay on the lowest versi

[2018-11-05 18:16] Playacem commented on #434
@tipsy The Gradle team had a [similar problem](https://github.com/gradle/kotlin-dsl/issues/519) with their Kotlin DSL. See [here](https://github.com/gradle/kotlin-dsl/blob/master/doc/getting-started/Kotlin-Versions.md) for the documentation. The result appears to be as long as you follow the compatibility guidelines by Jetbrains (see above), then there shouldn't be any trouble.

As for the bytecod

[2018-11-05 18:21] Playacem commented on #368
What would be the effect of this change?
As far as I can understand it would reduce the classpath polution for Java projects that rely on Javalin.
Does it have any effect on Kotlin-based Javalin applications?

I can imagine some conflicts if somebody using a different Kotlin version tries to create a fat jar of their app.

[2018-11-05 18:29] tipsy commented on #368
My understanding was that this will bundle the Kotlin runtime with Javalin, but under a different package structure. It would be like Javalin is a Java project without any dependency on Kotlin. Kotlin projects that use Javalin then have to include the Kotlin runtime like any other dependency.

I'm not sure if my understanding is correct though.

[2018-11-05 19:03] Playacem commented on #368
I tested the shade plugin and the generation seems to work. I tested the changes in my local project and they work great. Javalin's Kotlin runtime is shaded properly.

[2018-11-05 19:23] kyleellman opened #435 "ExceptionMapper does not catch subclasses of general HttpResponseException"
It's great that `HttpResponseException` can be mapped as of v2.4.0, but it seems that each subclass of that exception type must be explicitly mapped.

I think it would be more usable if the exception mapper would also take a custom handler for `HttpResponseException` and still handle any subclasses of it, much like other classes/subclasses work in the `ExceptionMapper`.

I'll open a PR with a prop

[2018-11-05 20:11] tipsy commented on #368
Thanks, that's good to know. We just need to figure out if it's necessary / good theb

[2018-11-05 21:23] #435 closed, assigned to nobody

[2018-11-06 01:42] Dandjinh commented on #434
Since Kotlin 1.3 has supported unsigned types which IoT uses more often, it would be appreciated if Javalin supports unsigned types too.

[2018-11-06 10:08] Playacem commented on #434
Unsigned types are still experimental and would not benefit from the inline classes as the get wrapped as soon as the code hits a Java border. As Javalin is a mixed code base, you would never get the performance as with a pure Kotlin alternative. I am unsure on how support in Javalin for unsigned types would benefit you?

[2018-11-06 16:16] Playacem commented on #434
We can go the safe route any only bump kotlin to a new feature release when we also bump the major version of Javalin.

[2018-11-06 16:35] tipsy commented on #434
My thinking is that if Javalin uses features from 1.3, that forces people to run Kotlin 1.3. If Javalin stays at 1.2, people can still use 1.3 features by including that Kotlin version themselves. I haven't been consistent about this so far, I've usually bumped to the latest version.

You can use Javalin with Kotlin 1.3, what specifically do you think should be done in Javalin in order to support

[2018-11-06 16:58] kyleellman commented on #254
What about using the app's final endpoint group? Based on what's in `Javalin::handlerMetaInfo`, each available endpoint is enumerated and paired with the function that handles the endpoint.

I'm not super familiar with what can be done with the handlerMetaInfo, but maybe that's how a swagger doc generator could access either a javadoc block or some annotations on the function to then process into

[2018-11-06 19:41] tipsy commented on #254
@kyleellman I'm not super familiar with what can be done with the handlerMetaInfo, but maybe that's how a swagger doc generator could access either a javadoc block or some annotations on the function to then process into the JSON for open API spec.

That could work, but I think it's simpler to just loop through all the source files and link things up "manually". If you see a Javadoc comment in a f

[2018-11-06 19:47] Playacem commented on #434
If we stay on Kotlin 1.2 with Javalin 2.x.x then we have some resemblance based on Kotlin's feature digit and Javalin's major version.

[2018-11-09 16:07] Playacem commented on #434
I found this page on the Jetbrains site: https://kotlinlang.org/docs/reference/compatibility-guide-13.html
It describes all changes with a change type.
We should make sure we avoid the issues specified there.

[2018-11-10 08:12] tipsy commented on #377
Thanks @Playacem. Let's wait until someone who is really passionate about modules comes along before working more on this.

[2018-11-10 19:43] Playacem commented on #434
I personally am only interested in the potential benefits (better smart casting) we could receive due to the contracts in the stdlib.
I think the strategy to go with Kotlin 1.3 for Javalin 3.0 seems like the safest bet.
We could still change the generated Bytecode to 1.8 as we basically require it anyway with the reliance on lambdas.

[2018-11-10 20:01] tipsy commented on #434
Sure, go ahead.

[2018-11-11 12:46] #196 closed

[2018-11-11 12:58] tipsy commented on #71
@Rudge are you still working on this?

[2018-11-11 16:54] Rudge commented on #71
Yes, @tipsy for sure. Sorry about the delay, I was waiting for the new release with custom exception handler to use and to be continued.

I expect to finish until the end of the year.

I implemented all endpoints needs and almost 90% tests of postman passed with dummy and now I will implement the authentication and persistence layer.

[2018-11-11 17:05] tipsy commented on #71
@Rudge no need to rush, I'm very happy you're doing this.

[2018-11-13 14:58] ryeates commented on #423
It doesn't need to be syncronised. Javalin needs to include either or both of the Jetty methods
[code]
This is a known limitation of Jetty and Javalin does not expose the methods that would help :-1:

https://bugs.eclipse.org/bugs/show_bug.cgi?id=474488

[2018-11-13 17:03] tipsy commented on #423
@ryeates thanks, that's helpful!

You can access them through `session.remote`, but we could also add `session.sendStringByFuture`. I find the name a bit confusing since it takes a String though. Have you looked into these methods @lroellin ?

[2018-11-13 17:07] ryeates commented on #423
@tipsy Thanks for `session.remote` suggestion :+1:

[2018-11-13 18:44] lroellin commented on #423
Not yet! I do remember that they came up during a search on Jetty. I'll have a look at it.

[2018-11-14 08:13] david-wg2 opened #439 "Bug in serving audio files"
[code]

[2018-11-14 14:05] david-wg2 commented on #439
As far as I can tell, the request finished correctly. The audio player is able to play the whole file.

[2018-11-14 14:11] david-wg2 commented on #439
Only appears to happen when using `<audio controls>` ... With custom JS controls everything seems fine. Closing.

[2018-11-14 14:11] #439 closed

[2018-11-14 22:12] plombardi89 commented on #321
FWIW. This behavior is surprising. I can understand the case-sensitive bit, but I would expect path parameters as server-side constructs to be allowed to mix-case... I had a bunch of URL's with path parameters like `:claimName`.

I was about to file a bug until I saw this issue.

[2018-11-15 10:15] lroellin commented on #423
Ok, I tried it using `session.remote.sendString` since it is kind-of fire-and-forget. However, I'm still hitting the error "java.lang.IllegalStateException: Blocking message pending 10000 for BLOCKING"

Then I tried `session.remote.sendStringByFuture` but did not check the future. I still sometimes get errors, but I unfortunately dropped the log...

I think we can close this issue for now. I'll se

[2018-11-15 10:15] #423 closed

[2018-11-15 13:51] tipsy commented on #113
Are you using the latest version (2.4.0) ?

[2018-11-15 14:02] CodeMaven commented on #113
I'm currently using 2.3.0
compile 'io.javalin:javalin:2.3.0'
Are there new changes around this in 2.4.0? I will give that a go.

[2018-11-15 14:09] tipsy commented on #113
There's a change to CORS if you're using the access manager.

[2018-11-15 14:09] tipsy commented on #113
But it might be unrelated.

[2018-11-15 14:12] CodeMaven commented on #113
Unfortunately my laptop battery has died so I can't test that until tomorrow. I did look at the changes for 2.4.0 and I don't think that they would affect me. I'm just using enableCorsForAllOrigins to enable CORS:
server = Javalin.create().port(port).enableCorsForAllOrigins().enableCaseSensitiveUrls();

[2018-11-15 14:16] tipsy commented on #113
Looks like we might need to make some changes, yeah. Would you like to try creating a PR?

[2018-11-15 14:35] CodeMaven commented on #113
I suppose I could. What change would we be talking about? I don't know the internals of Javelin, or HTTP in general. Would this be something like the existing enableCorsForAllOrigins() that adds "Access-Control-Allow-Credentials: true" into all of the headers? I'm also not a Kotlin devloper but I've been needing an excuse to learn. It looks pretty straight forward.

[2018-11-15 14:47] tipsy commented on #113
You should just have to add an `if` inside the `CorsUtil` (I think that's what I named it).

[2018-11-16 14:12] AlexGustafsson opened #440 "Disabling the "helpful message if logger is missing""
I don't want to use "slfj4 simple" for logging. Currently I can't find anything on how to use a custom logger for Javalin. Therefore I want to disable the built-in logging completely. However, if I don't include the slfj4 logger as a dependency when I build, I get the following error:

[code]

I don't want this to be shown. The output seems to come from `printHelpfulMessageIfLoggerIsMissing ()` [h

[2018-11-16 14:18] tipsy commented on #440
Any slf4j compliant logger will make the message go away. Why would you want to completely disable logging?

[2018-11-16 14:50] tipsy commented on #440
Other compliant loggers also depend on the slf4j api, simply including the dependency is enough for Javalin to find it.

By default javalin logs very little after startup, could you show me the part that's too loud?

[2018-11-16 16:04] AlexGustafsson commented on #440
Okay, thank you.

You're actually right about it not logging too much after startup. Most of the information during startup however is a bit irrelevant for simple use cases, basically the (optional) header and a starting message would do.

I like how router logging and web socket logging is configurable and I guess I'd like to see a similar configurability of more parts of the logging. I will look

[2018-11-16 16:04] #440 closed

[2018-11-17 08:12] dherges opened #441 "Feature Request: Extensions (like Sinatra extensions)"
**Describe the feature**

See http://sinatrarb.com/extensions.html#extending-the-dsl-class-context-with-sinatraregister

#### What is the issue I am trying to solve

Currently, I am grouping common features (cross-cutting conerns like persistence or database migrations) in dedicated classes. I pass the `Javalin` app instance as a constructor argument to the classes. Thus, I have a not-so-fluent sy

[2018-11-17 10:29] #441 closed

[2018-11-17 18:12] dherges commented on #71
Experimental, yet real world:

https://github.com/spektrakel-blog/sparkles#slices-in-the-mix

There's keycloak, there's Spring Data, Flyway for database migrations, an xsrf proection w/ the double submitted cookie pattern, ....

[2018-11-18 00:01] Rudge commented on #71
It's interesting @dherges, but the version that I'm working is in Kotlin. I think are different things and the examples too.

[2018-11-24 12:00] tipsy commented on #171
The advantage of the original proposal would be that instead of having to extract paths into variables, you could get all the information from the router. The less elegant "path-key" approach would help in cases where the path is not as simple as just `app.get(path)`, for example:

[code]

Here doing `app.buildPath(Route.USER).param(":user-id", "Steve")` would give you `/users/Steve`.

[2018-11-24 12:07] #171 closed

[2018-11-24 12:08] #67 closed

[2018-11-27 18:19] CodeMaven commented on #113
Hi, I'm not exactly sure what the change should be. I'm not too familliar with web stuff in general.  I've added the followint line to CorsUtil:
`ctx.header(Header.ACCESS_CONTROL_ALLOW_CREDENTIALS, "true")`

in the CorsOptionsHandler.handle function and it works perfectly.  When I have that in then all my cookies work just fune.  However, that doesn't follow the convention of the rest of the file

[2018-11-27 18:45] tipsy commented on #113
@CodeMaven I'm not familiar with this header myself, but from a quick read through of https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials it seems this is either something you want to enable or not. You could add `Javalin#enableCorsCredentials`, and then:

[code]

If you want to enable this now you could add a `before`:

[code]

[2018-11-27 18:49] CodeMaven commented on #113
Thankyou, yes that's the way I was leaning. I was going to try doing the app.before but I wasn't sure how to trigger it in the preflight options. I will remove my hack and try your app.before for now in my code and then submit a PR for the above solution.
Cheers,
Troy

[2018-11-29 18:42] tipsy commented on #254
There's a PR here now: https://github.com/tipsy/javalin/pull/446/files

It's still very rough and just uses `sout`. The approach seems okay though.

[2018-12-05 03:01] pikob opened #448 "Handle request replays by Jetty due to timeout of long-running async request"
I've encountered an issue with async execution of long-running jobs.

If a back-end service takes longer than 30 seconds to process an asynchronous request, Jetty will replay the request, while setting response code to 500. Javalin will also replay the request as it would a normal request, except that body is this time empty. I wrote a short demo that shows how Javalin handles it. See log output b

[2018-12-05 18:35] tipsy commented on #448
Thanks for the thorough issue, but it's still bit unclear to me what your question/feature request is. Do you a way to configure what should happen for timeouts?

[2018-12-07 09:40] pikob commented on #448
Sorry for not being more clear. I initially just wanted to point out a sore spot I encountered using Javalin and to outline a rough solution.

After some thought I think adding asyncTimeout configuration to Javalin would do the trick. It just needs to set the timeout on AsyncContext when it gets created in JavalinServlet.kt.

Somehow exposing AsyncContext (created in JavalinServlet.kt) or providin

[2018-12-07 09:48] monocl-haklof commented on #357
.getOrDefault( defautValue ) would be nice for setting default value if validation fails/param not provided. In my application it is very common that query params are optional. Not sure if it would make sense to have optional formParams or pathParams though.

[2018-12-07 10:14] kmehrunes commented on #357
@tipsy I kinda forgot about this discussion. I worked on another version on the side and extended it to have predefined pipelines as well (the repo is [here](https://github.com/kmehrunes/valuestreams)). Feel free to take whatever features you deem useful.

[2018-12-08 15:18] hemfridsvagen25 opened #449 "secure websocket wss"
Hi
I am trying to use wss websockets but javalin does not seem to like wss:// links
I can connect using ws:// but only on http port
http and https is working as expected.
So my question is. Am i doing something wrong or are wss websockets not implemented in Javalin ?
If it is implemented i would really like a small example since all i tried sofar is not working.
If it is not implemented then consi

[2018-12-08 16:46] tipsy commented on #449
@hemfridsvagen25 you need to configure jetty to use https. There is an example in the examples dir in the test dir.

Wss/https can't work 'out of the box' because you need to include your own certificate.

[2018-12-08 17:37] hemfridsvagen25 commented on #449
Hi
I think that https is setup (i can access using https://localhost:8443/test)
But obviously I am doing something wrong.
Connecting and sending messages to ws://localhost:8480/SocketTest works
but not wss://localhost:8443/SocketTest

My javalin setup
val webSocketController = WebSocketController()

	val app = Javalin.create().apply {
		accessManager(Auth::accessManager)
		enableCorsForAllOrigins(

[2018-12-08 17:51] hemfridsvagen25 commented on #449
hmm maybe it is because the cert is selfsigned.  I always allowed it in browsers so i forgot about that.
have to check out the app connecting if it is picky.

[2018-12-08 18:17] #449 closed

[2018-12-08 18:38] tipsy commented on #449
No worries, happy you got it working!

[2018-12-10 12:13] rbygrave opened #450 "Javalin annotations - APT based DI and Controllers"
Hi, so this is more a FYI on what I've been doing with annotation processing (source code generation) to enable the use of DI and controllers with Javalin.

I've put the documentation at: https://dinject.io/javalin
An intro video at: https://www.youtube.com/watch?v=A3z7Z8xKsrE

This may be interesting for people who are coming from more the JAX-RS or Spring / Springboot background and looking to u

[2018-12-10 14:24] valtterip opened #451 "Template "hot reload""
I'm testing a dummy template as follows:

`.get("/test", ctx -> ctx.render("templates/test.mustache", new HashMap<>()));`

Editing the template (test.mustache) requires restarting the app (or maybe rebuilding the app, but stop + run in Eclipse anyway).

It's a major use case to be able to work with a template without a need of restarting the Javalin app for every change. I even tried to add .enabl

[2018-12-10 14:57] tipsy commented on #451
You probably have to configure mustache to load templates from the file system rather than the classpath. I don't know how it is configured in Spark, but you could just look at tye

[2018-12-10 15:30] valtterip commented on #451
Found a tip from here https://github.com/spullara/mustache.java/issues/57
[code]
Gotta be done for every request, so obviously for development purposes only, but I'm fine with this now. Some sort of reload-on-modify -option would be cool, it was so super easy to take the templates

[2018-12-10 15:30] #451 closed

[2018-12-10 17:19] tipsy commented on #451
Happy you found a solution @valtterip!

Instead of doing it "manually" per request, you could register a new `FileRenderer`:

[code]

Then you could use Javalin like normal, with calls to `ctx.render(...)`.

I don't think anything template-specific should be included in Javalin, other than a minimal example implementation that can be overridden by the user.

[2018-12-10 17:31] tipsy commented on #450
Thanks @rbygrave, it's really fun and interesting to see you use Javalin in this way. People have requested annotations for Javalin a few times, so I'll have a closer look at your project during the holidays. I like the fact that your generating Javalin source code rather than bytecode. Would you be interested in closer collaboration?

[2018-12-10 20:02] rbygrave commented on #450
Yes, absolutely.  For me I have used JAX-RS and Spring / Springboot a lot over the years.  What I've seen recently is that the techniques used by those frameworks with lots of classpath scanning, reflection, dynamic proxies etc is far too slow and expensive for the world of cloud, kubernetes & microservices etc where fast startup and the ability to run with low resource allocation is important (th

[2018-12-12 19:14] tipsy commented on #448
@pikob Would your problem be solved by just increasing the timeout? You should be able to adjust it by configuring a custom connector:

[code]

I'm not sure about letting users configure async. As you say, it's a bit low-level for Javalin. You can always call `ctx.req.startAsync()` and take care of everything yourself, the async functionality offered by Javalin is supposed to cover the simplest an

[2018-12-13 12:35] pikob commented on #448
Sorry, that doesn't look like the same timeout to me. Async timeout times out requests that don't get a response within 30s. In which case, Jetty 'replays' the original request with some modifications (notably, body is empty). I understand it as a way of handling non-responsive back-end services.

If there was a convenient way to set it, in a manner you proposed, yes, it would be a partial solutio

[2018-12-13 14:36] tipsy commented on #448
@pikob you're right, I didn't really research this properly before replying (sorry about that). I see that ring had the same issue (https://github.com/ring-clojure/ring/commit/3e24fbd5b33e1f893ad0a7f1b80fb328615ab631), and they chose to set it to 0 by default.

That would be very much appreciated. Even if no other Javalin users have reported this, it seems to be a pretty common problem with Jetty.

[2018-12-15 12:19] AlexGustafsson opened #452 "CVE-2018-8088"
During a routine dependency check in a project of mine, I noticed that I've introduced a vulnerability through slf4j-api-1.7.25.jar. I have not included anything by slf4j myself, but I know that this project uses slf4j for logging. The published CVE seems make the slf4j api vulnerable up to version 1.8.0-beta2, Javalin seems to use 1.7.25 which in turn could make this package vulnerable. Nonethele

[2018-12-16 07:39] Playacem commented on #452
As far as I can tell `slf4j-api` and `slf4j-simple` do not depend on `slf4j-ext`.

[2018-12-16 11:52] AlexGustafsson commented on #452
You both seem to be correct. It could well be a false positive since everything seem to match the CVE profile except the actual artifact id (slf4j-ext). I got the report through [OWASP Dependency Check](https://jeremylong.github.io/DependencyCheck/). I'll run the tool on this project alone and post the report.

[2018-12-16 16:37] tipsy commented on #448
Added a small comment here @pikob: https://javalin.io/documentation#async-timeout-settings

[2018-12-18 03:53] rajeshpachar opened #453 "Support for protobuf or flatbuf in rest API request response"
**Describe the feature**
A description of the feature
We are looking to use javalin for building micro services in our etl pipeline. We are using flatbuffer for inter service communication.

Can you share some examples/pointer as in what might be best way to do it.
**Additional context**
Add any other context about the feature request here

https://www.baeldung.com/spring-rest-api-with-protocol-bu

[2018-12-18 08:44] tipsy commented on #453
@rajeshpachar I've never used protobuf, so here goes nothing!

On Google's product page, they show this example:

[code]

You could do `john.writeTo(ctx.res.outputStream)`, and write directly to the output-stream. Doing this circumvents the "normal" request lifecycle in Javalin, so you should probably do something like `ctx.result(myStringifyMethod(obj))` instead.

In the linked article (which I j

[2018-12-21 10:08] paz-raon opened #454 "How to get resultString in requestLogger"
**Describe your question**

---
javalin version: 2.4.0
---

ctx.resultString method return empty string, when I want to get result at requestLogger.

so, I'm using it like below

    app.after { ctx ->
        ctx.attribute("resultString", ctx.resultString())
    }

    app.requestLogger { ctx, timeMs ->
        println("ctx.attribute: ${ctx.attribute<String>("resultString")}")
    }

Is this ok?

[2018-12-21 12:59] tipsy commented on #454
@paz-raon In Javalin when you call `ctx.result(string)`, it's converted to an input stream internally:

[code]

When writing the response, this inputstream is consumed. You should be able to get the `resultString` if you call `ctx.resultStream().reset()` first.

[2018-12-26 06:13] vladp commented on #453
this topic interests me as well (although I was looking for a bridge from backend to Web browser (and android retrofit) via javalin.

My summary understanding was:

a) binary protocols are not a great fit for REST-based services (because those are text)
And that means that in majority of the cases,  it would be somewhat 'easy' to send the binary data out of the service (basically would be similar

[2018-12-26 06:15] #454 closed

[2018-12-26 11:18] tipsy commented on #454
@paz-raon I added a `reset()` to the `resultString()` method, so in the next version of Javalin you won't have to call `reset()` manually: https://github.com/tipsy/javalin/commit/f6c8d61bbff3656de90b642fb2fca1690bbd9a66.

[2018-12-27 09:54] tipsy opened #455 "Jetty provided servlets/filters (dos, ratelimit, etc)"
Jetty has a lot of interesting servlets and filters: https://www.eclipse.org/jetty/documentation/9.4.x/advanced-extras.html

These are features offered by https://mvnrepository.com/artifact/org.eclipse.jetty/jetty-servlets.

Could be easily added (?).

[2018-12-27 13:34] renjithgr opened #456 "Use Gradle instead of Maven?"
I just wanted to understand why Maven is used instead of Gradle.

[2018-12-27 14:07] tipsy commented on #456
@renjithgr I think it's easier to understand, especially for new contributors. It's declarative and only uses standard/common plugins.

[2018-12-27 15:43] renjithgr commented on #456
Cool. I am closing this thread. I got my answer. 👍

[2018-12-27 15:43] #456 closed

[2018-12-29 03:44] vladp commented on #455
I am using javelin for a webfacing app, so this is very much of interest to me too.

I do not have experience on how to do this with Jetty.  But was looking for a way  programmatically configure of jetty to enable this, using the example you provided with for the http2.

[2018-12-29 10:31] tipsy commented on #455
I haven't tested it yet, but I think it should be pretty easy. They have a description of how it works here: https://www.eclipse.org/jetty/documentation/9.4.x/dos-filter.html

We just need to add a `app.enableDosFilter(dosFilterConfig)`.

[2019-01-02 11:47] #341 closed

[2019-01-02 11:51] #396 closed

[2019-01-02 22:59] cwildfoerster commented on #455
I honestly think that should be handled by the reverse proxy?

[2019-01-03 07:34] tipsy commented on #455
@cwildfoerster that's a common (and good) approach, but not everyone uses one.

[2019-01-03 14:31] cwildfoerster commented on #455
How about adding default filters? I may see issues with the EmbeddedJavalin use without jetty. I use javalin in a couple of standalone applications and migrated some legacy spark apps to javalin lately since you enabled EmbeddedJavalin.

[2019-01-03 17:02] tipsy commented on #455
@cwildfoerster default filters for what?

If we add anything from the `jetty-servlets` package it will be completely optional. We don't even need to add them as `app.enableDosFilter(...)`, we could do `app.register(new DosFilter())`.

[2019-01-04 10:51] tipsy commented on #430
Updates for this have been released as part of `2.5.0` now: https://javalin.io/news/2019/01/04/javalin-2.5.0-released.html

[2019-01-04 23:00] cricket007 commented on #254
Just chiming in.

Might be worth looking at how [Proteus offers `/openapi` out of the box](https://github.com/noboomu/proteus#services)

[2019-01-08 20:05] tipsy opened #459 "Javalin 3.0 wishlist/discussion"
This issue is for suggesting breaking changes.

I have one main thing on the list for Javalin 3, which is making it easier to create a `JavalinServlet` for use outside of Jetty. This means creating a separation between the server and the servlet (currently everything is lumped together in the `Javalin` class). It would be nice if this could support static files and file uploads.

This might make t

[2019-01-09 10:04] lephyrius opened #460 "java.lang.IllegalStateException: WRITER"
**Actual behavior (the bug)**
Randomly I see this error in the logs:

[code]

I use this code to serve requests:

[code]

**Expected behavior**
No exception thrown!

**To Reproduce**
Seems very random.

[2019-01-10 07:20] fwgreen opened #461 "JavalinPebble's constructor is not visible"
I'm trying configure Pebble Templates use `.html` files, but it turns out the constructor is not visible.
[code]
The my way forward was to re-implement the `FileRenderer` interface, which isn't a big deal, but the documentation gives the impression that it shouldn't be necessary.

[2019-01-10 07:36] tipsy commented on #461
It shouldn't be necessary. I'm not at my computer, but if I remember correctly JavalinPebble isn't a class, it's an object which implements FileRenderer.

Did you try

```JavalinRenderer.register(JavalinPebble.INSTANCE, ".html");```

?

[2019-01-10 13:38] fwgreen commented on #461
@tipsy That did the trick!  Thanks for your help and a great framework.  That said, I was only following the documentation on the website:
[code]

[2019-01-10 13:38] #461 closed

[2019-01-10 15:02] tipsy commented on #461
Thanks, I'll update the docs!

[2019-01-12 10:30] tipsy commented on #448
@pikob I was trying to solve an unrelated issue, and I used an after-filter to modify the timeout:

[code]

[2019-01-12 17:46] pikob commented on #448
@tipsy I find this suspicious. Did that line really have an effect? For me, after filter fires after request job is completed and just before replying to client. It's too late to set the timer then. See lines [115-127 in JavalinServlet.kt](https://github.com/tipsy/javalin/blob/c59c1e6ddee1c1f35fac122586cb8f5c3a9da8fe/src/main/java/io/javalin/core/JavalinServlet.kt#L115).

I am guessing the timer c

[2019-01-12 19:06] tipsy commented on #448
Yes, but I guess it was somewhat of a special case. I used it to close a SSE connection in a test: https://github.com/tipsy/javalin/pull/273

I agree that it shouldn't work in your case, I'm a bit too quick to share.

I sb

[2019-01-13 21:20] tipsy opened #463 "Consider changing from hamcrest to assertj for tests"

[2019-01-13 21:39] ali-bagheri opened #464 "ctx.contentType(mime) not work!"
Hi, Tanks for javalin.

I use below code but not work

ctx.contentType("video/mp4");

or

ctx.header("Content-Type", "video/mp4");

but javalin change my mime !

how set my mime?

[2019-01-13 21:43] tipsy commented on #464
Can you post a full handler?

[2019-01-13 21:59] tipsy commented on #464
I just wrote this test, which passes:

[code]

[2019-01-14 22:14] #464 closed

[2019-01-14 22:14] #460 closed

[2019-01-14 22:39] tipsy commented on #448
@pikob added an option to configure it per request in #465

[2019-01-15 01:00] jafda opened #466 "Javalin without Jetty Servlet Context-Root aware"
It would be great if the Javalin without Jetty Servlet was Context-Root aware.  I was able to get Javalin deployed on Oracle 12c, however, you have to manually add your Context Root to the URL paths in your code. SparkFilter in SparkJava has this feature, is this planed for Javalin? Or is there a configuration I am missing? This issue really hinders release management on Oracle 12c and possibly ot

[2019-01-15 07:34] tipsy commented on #466
@jafda I believe this was

[2019-01-15 13:39] jafda commented on #466
Under 2.4.0 and 2.5.0 it does not read WEB-INF/web.xml <context-root/> tag, however, in 2.5.0 you can use contextPath() when creating your servlet.

Thanks Tipsy.

[2019-01-15 13:52] #466 closed

[2019-01-15 14:20] dwestheide opened #467 "Exception handler trumps 404 error handler since Javalin 2.5.0"
**Actual behavior (the bug)**
Since version 2.5.0, when I define an exception handler as well as an error handler for status code 404, a 500 response as created by the exception handler is returned. The error handler does not seem to have any effect.

**Expected behavior**
When I register both an exception handler and an error handler for status code 404, 404 responses are not transformed into 500

[2019-01-15 14:47] tipsy commented on #467
Thanks @dwestheide, it's not supposed to behave like that. Would you like to create a PR?

[2019-01-15 14:59] dwestheide commented on #467
At the moment, I haven't had time yet to dig into the sources and find out what exactly has changed, but I can give it a try. If you have any idea on which of the recent changes between 2.4.0 and 2.5.0 might have caused this, please let me know. Otherwise, I will just have to step through each of the commits.

[2019-01-15 16:34] dwestheide commented on #467
Thanks!

[2019-01-15 17:20] dwestheide commented on #467
So, I wrote a few regression tests to clarify my expectations. You can find them here (not opening a PR yet): https://github.com/dwestheide/javalin/commit/846def9a2a2c33497d066346dcec4c75bc9166b7

Only the first two are failing, the third one, where I return an 404 explicitly from a route, is working fine. So I think the problem is that when a route doesn't exist at all, the router probably throws

[2019-01-15 19:14] tipsy commented on #467
Yes, that's correct.

I think it should be enough to check if a user has defined a mapper for `HttpResponseException`? The default behavior should be that a general exception mapper doesn't interfere with the `XyzResponse` exceptions.

[2019-01-15 20:21] tipsy commented on #467
@dwestheide so I re-introduced `noUserMapperFound`, but slightly rewritten:

[code]

I also removed a confusing performance improvement:

![image](https://user-images.githubusercontent.com/1521451/51206997-d3c7d680-1909-11e9-9417-0ac8dc6247b5.png)

And added this as the first branch of the `when`:

[code]

All the tests pass, but it's a bit messy and hard to read.

[2019-01-15 20:39] dwestheide commented on #467
Thanks a lot for already coming up with a solution, @tipsy. It's a bit difficult to read, but not too much in my opinion.

[2019-01-15 21:16] #467 closed

[2019-01-15 21:19] tipsy commented on #467
Thank you for reporting the bug, this would have broken my applications too if I had upgraded 😅

I also refactored a bit to make things more readable. Could you do a quick post-merge review of https://github.com/tipsy/javalin/commit/3a99864a995b3403e25cef36c2f39f43de0f50fd ?

[2019-01-16 06:45] tweenietomatoes commented on #459
Please don't get angry to me, but maybe changing embedded server with Netty. 🤐
Ok, making everything full async.
Adding, databaseish thingies.

[2019-01-16 06:53] tweenietomatoes commented on #463
soft assertion is excellent feature.

i personally prefer assertj.

[2019-01-16 08:09] dwestheide commented on #467
Thanks a lot for fixing this so quickly! I did a post-merge review of the linked commit, and to me, it looks fine. :+1:

[2019-01-16 08:47] tipsy commented on #467
You're very welcome. This was a pretty serious bug, so I'll probably release a new version soon.

[2019-01-16 16:37] tipsy commented on #459
Javalin will stay with Jetty. If `JavalinServlet` is pulled out as a separate thing though, it should be pretty easy to run Javalin on Netty.

[2019-01-17 17:19] tipsy opened #470 "Javalin 2.6.0 release failed (Sonatype went offline)"
[Sonatype](https://oss.sonatype.org/) (where Javalin is hosted) went down during the deployment of Javalin 2.6.0.

Things might work themselves out when Sonatype comes back online. If not I will do a redeploy.

[2019-01-17 19:48] tipsy commented on #470
It looks like it's being sorted out.

[2019-01-17 19:48] #470 closed

[2019-01-17 20:14] tipsy commented on #467
This was released as part of 2.6.0 now: https://javalin.io/news/2019/01/17/javalin-2.6.0-released.html

[2019-01-20 21:17] Rudge commented on #71
@tipsy Finally I finished the project https://github.com/Rudge/kotlin-javalin-realworld-example-app. Please take a look, if it possible do a quick review and let me know what do you think.

Thanks.

[2019-01-22 20:41] tipsy commented on #459
If jetty 10 is ready we'll probably move. What's the road map?

[2019-01-23 19:59] WellingtonCosta opened #471 "How can I use Kotlinx Serialization instead of Jackson?"
Firstly, congratulations for the awesome project. I started using it two days ago and it is very fast and simple.

I would like to use `kotlinx.serialization` instead of Jackson. How can I do it?

[2019-01-23 20:03] tipsy commented on #471
Thanks!

You can configure the `JavalinJson` plugin:

[code]

[2019-01-23 20:08] WellingtonCosta commented on #471
Ok. Thanks for the quick response. I'll try it.

[2019-01-25 21:47] majorpasza commented on #459
1) Moving to Netty is 180 degrees shift in what Javalin always was, at least for me, so -1 here.
2) I'd vote against moving to Jetty 10 simply because of Java 11 requirement. There are still places where Javalin could be used, but its not possible to migrate from Java 8 since it brings effort and  AdoptOpenJdk Azul IBM Amazon and others are still providing support for Java 8.

[2019-01-28 08:40] SmithKevin commented on #459
I don't think Jetty 10 will be ready in the near future (https://github.com/eclipse/jetty.project/milestones), but I would be for migrating to it when ready along with moving to Java 11.  Java release schedules have been forever changed (new version every 6 months) so holding on to the old Java 8 ways of sticking to a version for as long as possible seems backwards.  If you want a little backgroun

[2019-01-28 17:37] #330 closed

[2019-01-28 17:38] #448 closed

[2019-01-28 17:42] tipsy commented on #450
@rbygrave Could you join the gitter channel? https://gitter.im/javalin-io/general

[2019-01-28 17:47] tipsy commented on #293
Closing due to lack of interest.

[2019-01-28 17:47] #293 closed

[2019-01-28 17:47] tipsy commented on #292
Closing due to lack of interest.

[2019-01-28 17:47] #292 closed

[2019-01-28 17:52] #434 closed

[2019-01-28 19:59] rbygrave commented on #450
@tipsy   I have just done that.  Note that I have a couple of open source projects myself including https://ebean.io so I'm "time poor" and don't know how active I will be.

Cheers, Rob.

[2019-01-28 20:20] Daniel-Dos commented on #450
Hi,

how much this.

it would be interesting to be compatible with Weld / CDI .

because there is a framework that I use and I like quite a lot that makes
use of Weld what is deltaspike .

I even wrote an article using Javalin with him ->
https://medium.com/danieldiasjava/criando-uma-aplica%C3%A7%C3%A3o-rest-com-javalin-b59f5c19999f
  (PT-BR)
--

*Daniel Dias dos Santos*
Java Developer
SouJava & J

[2019-01-28 22:12] rbygrave commented on #450
Sure but noting that for me personally I'll have nothing to do with that. CDI has `@ConversationScope` that I don't believe in plus dinject explicitly avoids `@SessionScope` and `@RequestScope` scopes as these are already effectively provided by Http / Javalin Context etc.  Doing those scopes as part of DI puts you back to JAX-RS.

The dinject dependency injection you see above is specifically
- n

[2019-01-29 10:51] rizalp commented on #459
Could you add support to bind to unix socket? It seems possible to do it: https://github.com/travisspencer/jetty-domain-sockets-example/blob/master/unix-socket-server/src/main/java/com/travisspencer/test/UnixSocketServer.java

This will be a good Idea in case javalin is being proxied from upstream server like Nginx, and both are on the same host

[2019-01-29 16:31] tipsy commented on #450
I couldn't find you on gitter @rbygrave, but I don't really mind doing this async/public.

First of all, I think your overall approach is great. I don't think it should be changed, but I'm wondering if you could add some more annotations. You have this example in your video:

[code]

And you say "since otherParam is not a path-parameter, it must be a query parameter". I'm wondering if you could ad

[2019-01-29 16:52] tipsy commented on #459
No worries!

[2019-01-29 19:08] tipsy opened #472 "Allow configuration of WebSocketServletFactory"
I got this as a message on reddit, so I thought I would mirror it here:

[2019-01-29 19:20] tipsy commented on #472
Hm. Not seeing this, even with `session.send("1".repeat(100_000_000))`.
It's extremely slow, but not "too large".

[2019-01-29 19:44] rcornell commented on #472
Sorry - I see where I was unclear. The large messages are being by our UI to the Javalin WS server. Roughly ~210,000 characters.

[2019-01-29 19:52] tipsy commented on #472
Thanks @rcornell:

[2019-01-29 20:05] tipsy commented on #472
So this has to happen here:

[code]

Currently there's no way to set this, but maybe we should create a config option?

[2019-01-29 21:22] rcornell commented on #472
Ah ok. I had started looking at the custom jetty session handler examples in the docs, but hadn't had much time to tinker. That's a non-starter, eh?

[2019-01-30 07:44] tipsy commented on #472
Yeah, that's unrelated. We have add an option for configuring the websocket factory and release a new version.

[2019-01-31 03:54] rcornell commented on #472
Gotcha. Any estimate on if/when that will be doable?

[2019-01-31 22:10] firxworx commented on #459
I think the default behaviour should be for javalin to issue a 404 if there's no path to a given endpoint, and 405 if the endpoint exists but the client is attempting to use an unsupported method.

Currently javalin gives a 404 for all cases, even when the path exists but the method is wrong. If one uses `prefer405over404()` then 404 is simply swapped with 405 in all cases. I am not aware of a way

[2019-01-31 22:13] firxworx commented on #459
In areas where kotlin interop isn't as good (speaking generally as I am not aware of specifics) have these been reported to jetbrains / kotlin community? They seem decently responsive at supporting kotlin and addressing issues; one wonders if trouble spots could possibly be resolved in upcoming releases?

[2019-02-01 07:56] tipsy commented on #459
@firxworx, the behavior you want for 405 sounds like how it's supposed to work. There's even code there for looking through the avaibale handlers for different verbs. Maybe it's a bug?

Jetbrains are aware, they just disagree about the use of SAM Interfaces. They say use functions instead, but that leads to pretty bad developer experience for Java devs. The issue has been open on their tracker for

[2019-02-01 08:30] tweenietomatoes commented on #459
there's a tons of discussion about that opened since 2016.

[2019-02-01 23:44] rcornell commented on #472
I'm primarily a Scala dev - haven't worked with Java much. I'll take a look.

[2019-02-03 08:40] #472 closed

[2019-02-03 12:15] smiklosovic opened #474 "Rewrite log4j / slf4j resolution to prepare for upcoming slf4j releases"
The mechanism for SLF4J resolution will be deprecated soon

As of SLF4J version 1.8.0, the static binder mechanism is deprecated.
This class exists for backward compatibility earlier versions of slf4j-api.jar, in particular in the 1.6.x and the 1.7.x series.

Note that this class is likely to be removed in future releases of SLF4J.

https://www.slf4j.org/api/org/slf4j/impl/StaticLoggerBinder.html

[2019-02-03 12:44] tipsy commented on #474
@smiklosovic what's the benefit of doing this? It looks like it will break backwards compatibility, so maybe something for 3.0?

[2019-02-03 12:44] #463 closed

[2019-02-03 13:13] smiklosovic commented on #474
Yeah whatever version works for you.

That StaticLoggerBinder class is not in 1.8.0-beta2 of org.slf4j:slf4j-api so whatever 1.8 version you put on the class path, it will still complain it is not there even there is not any need to do that because 1.8 slf4j works differently. I ve removed dependency on simple logger and I am using slf4j-log4j12 of version 1.7.25 just because of this annoying log

[2019-02-04 07:25] ali-bagheri opened #475 "how enable Gzip after set disable?"
Hi, how re enable gzip after use WS.disableDynamicGzip() ??
Tanks

[2019-02-04 07:32] tipsy commented on #475
You can't. Why do you want to?

[2019-02-04 07:45] tipsy commented on #475
Static files are always gzipped. `disableDynamicGzip` only applies to dynamic responses, like you set in `ctx.json()` or `ctx.result()`.

[2019-02-04 08:02] ali-bagheri commented on #475
Very Tanks, i dont know the https://gtmetrix.com say my server has no Gzip!

[2019-02-04 08:51] ali-bagheri commented on #475
:( i use this.
ByteArrayOutputStream out = new ByteArrayOutputStream(str.length());
			gzip = new GZIPOutputStream(out);
			gzip.write(str.getBytes());
			gzip.finish();
			gzip.close();

			return out.toByteArray();

your veto?

[2019-02-04 10:06] stevebarham opened #476 "EmbeddedJavalin does not reject all enableStaticFiles overloads"
**Actual behavior (the bug)**
Calling `.enableStaticFiles("/foo", Location.CLASSPATH)` on an `EmbeddedJavalin` instance does not yield an exception as a call to `.enableStaticFiles("/foo")` would, but the registration is silently ignored.

**Expected behavior**
An exception indicating that the call is unsupported in embedded mode.

**To Reproduce**
Steps to reproduce the behavior

**Additional con

[2019-02-04 10:19] tipsy commented on #476
Thanks! Would you like to submit a PR?

[2019-02-04 10:20] stevebarham commented on #476
Sure; won't be until this evening though unfortunately!

[2019-02-04 18:40] tipsy commented on #475
It will interfere with how Javalin normally writes the response, so as a general rule you shouldn't do it. But if it works it works.

[2019-02-07 16:43] stevebarham opened #477 "Context.formParamMap() is not safe for repeated calls"
**Actual behavior (the bug)**
When a non-multipart form is submitted, and form parameters extracted, form parameters subsequent to parameter 1 are empty.

**Expected behavior**
The form parameters not to be empty

**To Reproduce**
Post a non-multipart form, such that `Context.formParamMap` calls `ContextUtil.splitKeyValueStringAndGroupByKey(body())`.

**Additional context**
The current implementat

[2019-02-07 17:07] tipsy commented on #477
@stevebarham Did you disable the request caching? The first line of `JavalinServlet#service` is

[code]

There are multiple tests confirming that this works. I guess from your previous issue that you're not running on Jetty, but it shouldn't really matter 🤔

[2019-02-07 17:26] stevebarham commented on #477
Aha, nice one. I am actually using Jetty, albeit behind a twisty maze of servlet filters to enable SSO, hence plumbing in directly via the embedded servlet.

The cache limit explains a great deal of confusion on my part, in which I couldn't believe that I'd not hit this issue previously during development - the issue was seen on posting a reasonably chunky (> 4096 bytes) textarea as part of a form

[2019-02-07 17:52] tipsy commented on #477
We could do that. It's been brought up a few times as a performance improvement, but we're talking micro-second gains, so I don't really think it's worth it. If we cache it in `Context`, we would still need to set a max-cache size, so there's not much to gain.

[2019-02-08 02:32] wherkamp commented on #459
`Rewrite to Java (sadly, Kotlin interop isn't as good as we thought)`
I know. Kotlin + Java causes issues when wanting Javadocs or documentation overall. So that will be nice.

[2019-02-11 18:27] tipsy commented on #477
@stevebarham do you want to discuss this more, or should the issue be closed?

[2019-02-11 18:28] tipsy commented on #476
I'd still be happy to merge this.

[2019-02-11 18:28] #475 closed

[2019-02-11 19:19] vladp commented on #475
Interesting discussion.
I currently have a response cache (my responses are json objects).
I was thinking to cache a gzipped response object (rather than plain strings) because it will save a quite a bit of memory on my server.

But for that I would need to disable the built in compression, and I could not figure out how to do that.
So this discussion was useful to me .

thank you

[2019-02-12 08:45] stevebarham commented on #477
Happy to close!

[2019-02-12 08:45] #477 closed

[2019-02-13 18:04] Zomis opened #479 "Creating KeyStore programmatically, from LetsEncrypt certificate"
I am trying to use Javalin (I love the project and the API!!) to make secure WebSockets + HTTPS REST API run at the same port.

Previously I have been using [TooTallNate/Java-WebSocket](https://github.com/TooTallNate/Java-WebSocket) for using WebSockets, they also have an example of how to [create the KeyStore programmatically](https://github.com/TooTallNate/Java-WebSocket/blob/master/src/main/exa

[2019-02-13 18:21] Zomis commented on #479
I found the solution myself!

Change:

`KeyStore keystore = KeyStore.getInstance("JKS");`

to:

`KeyStore keystore = KeyStore.getInstance("PKCS12");`

Done!

Now for another request: Document this. I bet more people than I would be interested in not having to do the KeyStore generation manually. (Or is what I'm doing here not recommended?)

[2019-02-13 18:24] tipsy commented on #479
@Zomis Nice! This seems like a bit too elaborate for the standard docs, would you like to write a tutorial?

[2019-02-13 18:30] Zomis commented on #479
@tipsy Where would this tutorial be located in that case? In the Javalin wiki? Or on my own non-existing coding blog? Or as a self-answered question on Stack Overflow? (Or other options?)

[2019-02-13 18:36] tipsy commented on #479
On https://javalin.io/tutorials/, the source code is here: https://github.com/javalin/javalin.github.io

[2019-02-15 08:46] 7agustibm commented on #356
Hi @tipsy! Look at my poc for this idea: https://github.com/7agustibm/javalin-graphql.

Maybe, it would be interesting to create a plugin.

[2019-02-15 09:18] tipsy commented on #356
Cool, will have a look later!

[2019-02-16 09:17] Zomis commented on #479
@tipsy Might take a while but yes, I could do that!

[2019-02-16 09:29] tipsy commented on #479
That would be great!

[2019-02-19 18:56] mkpaz opened #480 "CrudHandler doesn't work with nested resources"
**Describe your issue**
CrudHandler only works with paths that follows format `resourceBase/resourceId` due to hard-coded array indices. Using smth like this `crud("foo/bar/baz/:id",  ...)` leads to inconsistent behavior. Please consider either determine resourceId by using smth like `lastIndexOf()`, or throwing `IllegalArgumentException` if specified path arg doesn't fit method expectations. Sure

[2019-02-19 19:25] tipsy commented on #480
Sure, would you like to submit a PR?

[2019-02-20 16:07] mkpaz commented on #480
I'd like to, but I can't right now since I'm working on my Javalin-based SPA full-time. I've written a "fixed" version, which serves as a small work-around pretty well due ApiBuilder static nature. This actually incredible 'cos it means I can implement my own generic handler groups.

[code]

[2019-02-20 20:04] tipsy commented on #480
Happy you found a solution. I'll leave the issue open for anyone who wants to work on it!

[2019-02-21 07:49] donaldusduckus opened #481 "How to add servlet to Javalin"
Hi there,

I have an existing servlet and want to combine this with javalin's jetty.

How can I add my own servlet bside the stuff that is added with help of javalin?

I tried this:

[code]

But then neither /a nor /b or /c is working, I always get a message like this

[code]

I also tried to ask the server-object for the handlers, search for ServletContextHandler and add my servlet there, but thi

[2019-02-21 07:59] tipsy commented on #481
Javalin will respect your predefined handlers:

[code]

But I haven't tested it with a Servlet before, only filters. Maybe you need to set context-paths to avoid one Servlet finishing the response?

[2019-02-21 16:46] dya-tel opened #482 "Modifying request body in before()"
Is it possible to somehow rewrite the body of a POST request in a before() handler? If not - it could be a nice feature to have. For example, one could decrypt request bodies globally so ctx.body() would still work without copy-pasting the same code for every endpoint and deserializing it manually.

Sorry if I'm missing something and this is already possible.

[2019-02-21 16:57] tipsy commented on #482
What do you mean by this? Could you show me an example of what you're doing?

[2019-02-21 17:07] dya-tel commented on #482
Client sends an ordinary request with JSON body, but the body is custom-encrypted before sending. In this case server has to decrypt the body of the request, and only then deserialize it from JSON. The same decryption has to be done in a lot of endpoints and ctx.body<SomeType>() can't do anything (because it tries to deserialize the body, not the decrypted data), which is not too convenient.

[2019-02-21 17:18] dya-tel commented on #482
I mean something like that, if it makes any sense.

[code]

[2019-02-21 17:32] tipsy commented on #482
`JavalinJson` is pretty flexible, you can create your own mapper which also does decryption:

[code]

Then `ctx.body<Req1>()` will first decrypt, then deserialize.

[2019-02-21 17:40] dya-tel commented on #482
Well, yes, but then it's not possible (or is it?) to make some routes encrypted, and others - not. Something like this:

[code]

And there is also this: response body is already modifiable in the `after()` handler (you can set it inside endpoints and then read/replace in `after()`).

[2019-02-21 17:56] tipsy commented on #482
Correct, it's all or nothing. If this is the case I would suggest creating an extension method to `Context`, something like `fun decryptedBody()`.

Maybe this is a technicality, but the response body isn't modifiable in `after` handlers. Javalin uses `result()` to set what will be the result, this can be changed in `after` by calling `result()` again. The response body is written **after** the aft

[2019-02-21 18:21] dya-tel commented on #482
Yeah, that could work. Though, feels kind of hackish to me. And, furthermore, it would be very tricky if body replacement requires some external dependencies (for example, something injected by DI). This dependency should be available at `before()`/endpoint definition, but in the extension method - not really.

I think this behavior might be replicated by adding a new field to context, something l

[2019-02-21 18:38] tipsy commented on #482
Overriding the actual request body with a decrypted version sounds a lot more hackish to me. Why would you pretend the request body was something it wasn't?

There are a lot of ways to solve this though. There's also a method for registering an extension in a `before`:

[code]

Thanks, I appreciate all feedback! I'm usually hesitant to add new features if I believe the problem can be solved with w

[2019-02-21 18:44] #482 closed

[2019-02-22 08:19] tuxedo0801 commented on #481
We finally found a working solution:

[code]

[2019-02-22 09:39] tipsy commented on #481
I'm happy you found a solution, I'll add the info to the docs later.

[2019-02-22 19:10] tobiasdrechsel commented on #480
I submitted a pull request. I'm happy about your feedback

[2019-02-22 20:26] tobiasdrechsel commented on #476
should I give it a try? I'm do not have much experience with Kotlin but I think I can figure it out

[2019-02-22 21:38] tipsy commented on #476
Please go ahead :)

[2019-02-22 22:30] tobiasdrechsel commented on #476
If I'm not wrong the actual change is just one line. I already did that.

But I looked a little bit deeper and it raised some questions for me. Because of the overwrite of the `start()` method, the effect of `ensureActionIsPerformedBeforeServerStart("...")` is completely prohibited as `start()` will never be called when `EmbeddedJavalin` is used.

I might be wrong but I think we could do the follo

[2019-02-23 09:38] tipsy commented on #481
https://javalin.io/documentation#adding-other-servlets-and-filters-to-javalin

[2019-02-23 09:38] #481 closed

[2019-02-23 09:48] tipsy commented on #476
That's correct.

There will be side-effects. For example `Javalin#contextPath` is used both by `JavalinServlet` and `JettyServerUtil` (the util that sets up the Jetty server). If you set `started = true`, then it's no longer possible to configure `JavalinServlet` through `Javalin#contextPath`.

The whole concept of a standalone Javalin was "slapped on" to the existing code-base. The architecture w

[2019-02-23 10:15] pkkummermo commented on #459
Remove the need for kebab-case in keys for path-params.

Right now we get IllegalArgumentEx when trying to use
[code]
due to the restrictions put on different casing for paths. This doesn't really make sense due to the `:entityId` being a key, and not a part of the built path.

Either remove the restriction of different casing as default or fix so the keys can be "whatever-cased".

[2019-02-23 10:44] #480 closed

[2019-02-23 16:25] tobiasdrechsel commented on #476
I see, well I have submitted a merge request to fix the actual issue.

Maybe this is something you can approach in Javalin 3.0.

[2019-02-23 17:33] tipsy commented on #476
Yes, it's one of the main things I want to address. There's an issue for Javalin 3 that talks about it briefly.

[2019-02-24 09:51] #476 closed

[2019-02-24 11:22] tipsy commented on #459
@tobiasdrechsel Use this issue if you have any suggestions for Javalin 3.

[2019-02-24 11:24] tipsy commented on #356
@7agustibm it doesn't look like much code is needed in the first place, what do you think the plugin should be responsible for?

[2019-02-24 13:55] tobiasdrechsel commented on #459
Right now I only have two suggestions in mind.

1. [Micrometer](https://micrometer.io/) support.

I have used Micrometer in the past and I'm very pleased about it.
For those who don't know what Micrometer is:

We could build it on top of the existing [approach](https://javalin.io/tutorials/prometheus-example).
They provide an implementation for the [StatisticsHandler](https://github.com/micrometer

[2019-02-24 14:28] tipsy opened #485 "Javalin Book? (Please comment)"
I'm considering writing a book on Web Development using Javalin. It would cover the same topics as the docs and tutorials, but also go a bit more in-depth and include more examples. I'm wonder if there's any interest in this. Please let me know.

![image](https://user-images.githubusercontent.com/1521451/53300527-c70f9a00-3848-11e9-947a-58c82a2ec6ad.png)

Edit: You can use thumbs up/down.

[2019-02-24 14:45] tipsy commented on #459
@tobiasdrechsel Is there any reason we can't enable Micrometer support in 2.X ?

Gradle vs Maven doesn't affect end users, and I don't particularly care, so it could be introduced now. I don't think we should though, since most people still start learning Maven, then switch to Gradle. Maven lowers the barrier of entry for new contributors, which I consider important.

[2019-02-24 14:58] tobiasdrechsel commented on #459
I thought about that too and it shouldn't create breaking changes.
Should I create an issue and work on it?

For me it was exactly vice versa but I see your point and agree.
Maybe you can add the question "What is your primary build system?" or something like that to your [summer survey](https://javalin.io/blog/javalin-user-survey-2018). It might give us more insight on the users (and possible fut

[2019-02-24 15:17] tipsy commented on #459
That would be great!

Thanks, will do that.

[2019-02-24 15:31] tobiasdrechsel opened #486 "Micrometer support"
**Describe the feature**

**Additional context**
- [x] basic support for [micrometer](https://micrometer.io/)
  - [x]  [StatisticsHandler](https://github.com/micrometer-metrics/micrometer/blob/master/micrometer-core/src/main/java/io/micrometer/core/instrument/binder/jetty/JettyStatisticsMetrics.java)
  - [x]  [JettyServerThreadPoolMetrics](https://github.com/micrometer-metrics/micrometer/blob/mast

[2019-02-24 15:32] tobiasdrechsel commented on #486
@tipsy would you like me to create a new tutorial or update the [existing](https://javalin.io/tutorials/prometheus-example) one?

[2019-02-24 15:35] tipsy commented on #486
It's probably better to create a new one, so people who aren't interested in Micrometer don't have to use it.

[2019-02-24 15:41] tobiasdrechsel commented on #486
I agree

Will start working on it as soon as I can.

[2019-02-24 16:04] rahimklaber commented on #485
I am Interested.

[2019-02-24 16:37] adriantodt commented on #485
Interested as well!

[2019-02-24 18:06] wherkamp commented on #459
MimeType enum would be nice https://gist.github.com/wherkamp/96f436833789cf4c1e6dd252017aa110
Interfaces. So I would like everything you interact with to be an Interface. Context and Javalin. It would be nice for testing. ( I feel like I am wording this badly )

[2019-02-24 18:28] tipsy commented on #459
@wherkamp Jetty should handle all the mime types for static files, why do you need an enum?

[2019-02-24 18:45] wherkamp commented on #459
ctx.contentType(MimeType.PNG);
It would be more for simplicity.

[2019-02-25 22:47] tobiasdrechsel commented on #486
I submitted a first [draft](https://github.com/tipsy/javalin/pull/487) and created the code for a [tutorial](https://github.com/tobiasdrechsel/javalin-metrics-example).

@tipsy Still WIP but maybe you can take a first look and give some feedback.

[2019-02-27 08:47] fwgreen opened #488 "Consider adding basic converters to regular parameters"
As Java will probably never have extension methods, it would be nice to offer this functionality without having to use the heavier validation tooling.
[code]

[2019-02-27 15:19] tipsy commented on #488
@fwgreen What should the return value of `ctx.pathParam()` be in this case?

[2019-02-27 18:28] fwgreen commented on #488
@tipsy I suppose there is no clean way to do this without adding the serious plumbing of an intermediate type.  Maybe an overload that takes a function?
[code]

[2019-02-27 18:59] Iprogrammerr commented on #488
@tipsy How about pathParam() returning object that will wrap Map<String,Any> and ensures both existence of a given value and its type safety? We can called in Params, it could have similiar interface to [this](https://github.com/Iprogrammerr/Bright-Server/blob/master/src/main/java/com/iprogrammerr/bright/server/model/Primitives.java). I would be happy to implement this:)

[2019-02-27 20:27] rbygrave commented on #488
Or ... don't treat this as something pathParams() needs to do but instead provide static utility methods to do it.  Then use static imports to get:

[code]

NB: This is what we do in the dinject controller.  https://github.com/dinject/dinject-controller/blob/master/src/main/java/io/dinject/controller/PathTypeConversion.java#L37

It's called PathTypeConversion but is used similarly with parameters

[2019-02-27 21:02] fwgreen commented on #488
@rbygrave I use static utility methods now, but Kotlin envy drove me to my original idea 😄.  But now (after considering @tipsy's simple but loaded question) I'm leaning towards the overload that takes a function approach because of the flexibility it offers while allowing the user to leverage what is already in the JDK:
[code]

[2019-02-27 21:16] tipsy commented on #488
I'm not a big fan of static utility methods, since you need to know they exist in order to use them. One of my favorite things about `Context` is that you learn more about how Javalin works when you're looking through the autocomplete suggestions.

It wasn't supposed to be a loaded question. It would be a breaking change, but I'm pretty much in Javalin 3 mode now. Not a lot of plumbing would be re

[2019-02-27 21:26] tobiasdrechsel commented on #486
How should we proceed with the tutorial?

At the moment it is just the code. Do you want me to finalize it or do we just just copy the remaining steps (start prometheus instance + grafana) from your original tutorial?

Also if anyone wants a tutorial for another monitoring system we could add that too. The setup is a little bit different for most of the [systems](https://micrometer.io/docs).

[2019-02-27 23:47] fwgreen commented on #488
Because I'm greedy...
[code]

[2019-02-28 00:06] rbygrave commented on #488
All valid comments re utility methods.

My throw away thought is that my gut feel says that in terms of path parameter types there are potentially 5 types that are really common in use (types that maybe cover 90%+ of the path parameter cases I see - maybe that just me ...).

These common types for me would be: String, UUID, Long, Integer and LocalDate.

So playing around ...

[code]

To be explici

[2019-03-02 09:27] tipsy commented on #459
I just tried to bump to Kotlin 1.3.21 because Kotlin Jackson depends on Kotlin 1.3.X. But tests break because there's a bug in Kotlin 1.3.X where method names can't have parens (like `'test myMethod() works'`). How did they not discover that...? Another argument for switching to Java.

[2019-03-05 09:49] RoRoche opened #489 "Consider adding support to HOCON file or other configuration format"
**Describe the feature**
Could it be possible to configure server using an HOCON file instead of code?

**Additional context**
When going to producation, it could be useful to configure server with files instead of code and replace some values easily.

[2019-03-05 17:16] soatesuk opened #490 "Server working but not sure of"
Dear All,

The jetty server is working(see below) but not sure of the results on http://localhost:7000 see below

"C:\Program Files\Java\jdk1.8.0_191\bin\java.exe" "-javaagent:C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2018.2.5\lib\idea_rt.jar=51419:C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2018.2.5\bin" -Dfile.encoding=UTF-8 -classpath "C:\Program Files\Java\jdk1.

[2019-03-05 17:39] tipsy commented on #489
What I typically do is create a config (yaml/json file, or environment variables), then read that at startup. Could you elaborate a bit on what an "official" config file format would solve?

[2019-03-05 17:41] tipsy commented on #490
Hi @soatesuk. It looks like you're hitting an unmapped endpoint. What's the issue?

[2019-03-05 17:46] RoRoche commented on #489
OK, it could be done programmatically to read the config file and fill the methods with it.

Maybe it could be more elegant to use a proper mechanism that parses config file and build to instance of Javalin properly? The proposition is to ease the mapping for developers using Javalin. It could be boring to set-up, for each application, a common mechanism to read and populate properties that always

[2019-03-05 17:48] soatesuk commented on #490
Hi David,

I very new to web development. I expected to see the users as per the CRUD rest api listed on the local host? I guess this is where seeing the expected outcome helps?

Thanks

Simon

[2019-03-05 17:58] soatesuk commented on #485
Yes.

btw, I found the only Javalin YouTube video?  https://youtu.be/tU78_bUBbmQ

Regards

Simon

[2019-03-05 18:27] tipsy commented on #490
Could you post your server code?

[2019-03-05 18:34] soatesuk commented on #490
Hi David,

Thanks for your help. I'm not sure how to do  this from intellij, that's why I posted the jetty log. I will try to get this to you over the next couple of days but do you have a link how this can be done?

Regards
Simon

[2019-03-05 18:41] tipsy commented on #490
I just mean the code you are running. What is the result of running

[code]
and visiting `http://localhost:7000` in your browser?

[2019-03-05 18:52] tipsy commented on #489
I've considered this a few times, but I get stuck on two main issues:
1. If Javalin has its own config format, does this mean your app has one config for Javalin and one for postgres/google signin/other things?
2. Does this mean `app.enableXyz()` methods should be removed, or should there be two ways of doing things?

I'm not against config-files per se, and I'm pretty bored of writing config-clas

[2019-03-05 18:52] soatesuk commented on #490
No, It was the following;

package app

import app.user.User
import app.user.UserDao
import io.javalin.apibuilder.ApiBuilder.*
import io.javalin.Javalin

fun main(args: Array<String>) {

    val userDao = UserDao()

    val app = Javalin.create().apply {
        exception(Exception::class.java) { e, ctx -> e.printStackTrace() }
        error(404) { ctx -> ctx.json("not found") }
    }.start(7000)

[2019-03-05 18:57] tipsy commented on #490
If I remember correctly that tutorial doesn't have a path mapped for `http://localhost:7000`. If you visit `http://localhost:7000/users` you should see the list of users.

[2019-03-05 19:02] soatesuk commented on #490
Hi David,

Happy Days.

{"0":{"name":"Alice","email":"alice@alice.kt","id":0},"1":{"name":"Bob","email":"bob@bob.kt","id":1},"2":{"name":"Carol","email":"carol@carol.kt","id":2},"3":{"name":"Dave","email":"dave@dave.kt","id":3}}

Thanks for your help.

Great write up in the Java magazine. I hope this creates further success,

Simon

[2019-03-05 19:21] tipsy commented on #490
Thank you!

[2019-03-06 05:43] bensullivan opened #491 "Configuring javalin to run for prod"
Hi there

I've used SparkJava in the past and looking to establish javalin for a new product we're about to build.

I was wondering if there was a recommended guideline for javalin/jetty configuration or perhaps a pre-configured container for running in a production context that supports high load?

Were there any details like this available from the 30% of users in your survey that had more than

[2019-03-06 06:59] tipsy commented on #491
Hi @bensullivan. The default config is able to handle [more than one million requests per second](https://www.techempower.com/benchmarks/#section=test&runid=a0d523de-091b-4008-b15d-bd4c8aa25066&hw=ph&test=plaintext&l=xan9tr-3&a=2), so I don't think you need to make any adjustments (unless you're expected very high load).

That being said, if you need to configure Jetty you can do:

[code]

Javalin

[2019-03-06 13:59] RoRoche commented on #489
1. I don't really know. Maybe Javalin could support multiple format.
2. I think we could keep two ways of doing things.

I'm not sure if the concept of environments could help solve the point.

[2019-03-06 15:00] andysundar commented on #485
I am interested.

[2019-03-06 15:13] tipsy commented on #489
@RoRoche How are you currently configuring Javalin and the other libraries in your application?

This is what I typically do:

[code]

I was thinking `app.enviroment(MyConfig.environment)` would make it easier to configure `app.enableStaticFiles`

[2019-03-06 15:17] RoRoche commented on #489
OK I see.
Currently, I'm using `app.enableXyz()`.
I don't use `enableStaticFiles` for the moment.

[2019-03-06 15:19] tipsy commented on #489
Yea, I accidentally sent that before I finished typing. What do you think about removing `enable`/`disable` and using true/false args?

[2019-03-06 15:23] RoRoche commented on #489
You think about a kind of Builder pattern instead? Probably it's a good idea.

[2019-03-06 15:30] tipsy commented on #489
These config options are hard to configure per environment:

[code]

They could be changed to

[code]

Config in general is something we should work on for Javalin 3 I guess.

[2019-03-06 15:32] RoRoche commented on #489
OK seems good to me.

[2019-03-06 16:13] tipsy commented on #489
I'll close this then, will fix as part of 3.0.

[2019-03-06 16:13] #489 closed

[2019-03-06 17:14] mvysny opened #492 "Javalin.start() should throw if startup fails"
**Actual behavior (the bug)**
I have another server occupying the port 8080. The `Javalin.start()` function completes successfully, but Javalin is not running.

**Expected behavior**
Since `start()` is synchronous, I expect the `start()` function to throw an exception if `Javalin` fails to start (e.g. on BindException).

**To Reproduce**
1. run `netcat -l 8080`
2. start Javalin on port 8080: `Java

[2019-03-06 17:22] fwgreen commented on #459
@tipsy Does the [-Xsanitize-parentheses workaround](https://youtrack.jetbrains.com/issue/KT-29475) not resolve the problem for you?

[2019-03-06 17:31] tipsy commented on #459
Maybe it will, but if I bump then anyone using Javalin also have to know about this bug and how to fix it.

[2019-03-06 17:46] tipsy commented on #492
Hm. So we do

[code]

You want a `throw new RuntimeException(e);` at the end?

[2019-03-06 18:00] tipsy commented on #492
What about:

[code]

[2019-03-06 18:15] tipsy commented on #492
Fixed in https://github.com/tipsy/javalin/commit/85ea99ad6285c9f09b402b822e719713a076a25b, which also fixed a hacky test.

[2019-03-06 18:15] #492 closed

[2019-03-07 06:22] mvysny commented on #492
Wow, you're really fast! Awesome work. I thought about throwing exceptions straight away instead of logging, but you beat me to it :-)

[2019-03-07 10:40] tipsy commented on #492
Thanks, missed that one. Fixed in https://github.com/tipsy/javalin/commit/10ebe08b8c10a390baeb0ad2cd607cc285eb1d91.

There's been a lot of traffic the past few days because of the article in Java Magazine, so I'm trying to respond as quickly as possible :)

[2019-03-07 11:16] tuxedo0801 opened #493 "using "custom" auth-method?"
I need to use XSUAA auth method, see: https://github.com/SAP/cloud-security-xsuaa-integration/tree/master/samples/sap-java-buildpack-api-usage

But I don't have a "servlet style webapp", so I don't have a real web.xml where I can specify the auth method.

So, how can I configure the auth-method for my javalin application?

or is there a way to specify a kind of "global web.xml style config"?

[2019-03-07 11:41] tipsy commented on #493
I'm not familiar with XSUAA, but Javalin has no way to recognize xml files.
Auth is done through `app.accessManager()`, but you can also attach any `Servlet` or `Filter` to the Jetty instance Javalin runs on though.

[2019-03-07 12:08] tuxedo0801 commented on #493
Looks like I have to figure out on how to setup jetty properly and adapt the xsuaa part as a custom accessmanager.

[2019-03-07 13:43] behrangsa opened #494 "Support RedHat's Quarkus platform"
**Describe the feature**

Support RedHat's [Quarkus](https://quarkus.io/) platform.

**Additional context**
* Announcement page: https://developers.redhat.com/blog/2019/03/07/quarkus-next-generation-kubernetes-native-java-framework/
* Current extensions: https://quarkus.io/extensions/
* Extensions author's guide: https://quarkus.io/guides/extension-authors-guide

[2019-03-07 14:06] tipsy commented on #494
@behrangsa is this something you're interested in working on?

[2019-03-07 14:10] tipsy commented on #493
Hopefully you only have to do one or the other. Why do you **need** to use this approach though?

[2019-03-07 16:06] behrangsa commented on #494
I would like to, but can't do it till later in the year.

On Fri, Mar 8, 2019, 01:06 David <notifications@github.com> wrote:

[2019-03-07 17:57] tuxedo0801 commented on #493
I'm developing a microservice with javalin for SAP Cloud Platform on Cloud Foundry. And authentication etc. is done by this weird XSUAA.

But I think there's a workaround: It seems that I can also use JWT with SAP IdentityProvider. Would make it easy with Javalin, but requires some effort anyhow.

[2019-03-07 17:57] #493 closed

[2019-03-11 13:18] sclassen commented on #488
How would I validate a property of the parameter after it has been converted to long.
* that it is greater than 5
* that it is even

[2019-03-11 14:28] fwgreen commented on #488
@sclassen Javalin has [validation support](https://javalin.io/documentation#validation) for that.  But, if possible, I would validate the input on the form before hand:
[code]

[2019-03-11 18:03] tipsy commented on #488
As a general rule you should never trust a client, always validate on the backend.

[2019-03-11 23:16] azurvii opened #496 "Context.json() does not throw checked exceptions that it actually throws"
**Actual behavior (the bug)**
`context.json()` throws `JsonParseException` but I'm unable to catch it in a proper way.

**Expected behavior**
`context.json()` declares exceptions thrown by it.

**To Reproduce**
An example to generate a `JsonParseException` error:
[code]
Then a post of malformed JSON would trigger an exception, e.g. with "=" instead of ":":
[code]
You get:
[code]
If I try to wrap i