[2021-06-29 07:56] pkkummermo commented on #1297
There might be some pros in terms of having teams with different access and rights. This is of course dependent on how Javalin is to be run going forward :)

[2021-06-29 12:14] tipsy commented on #1103
@msamad are you still interested in fixing this?

[2021-06-29 13:34] tipsy commented on #1099
This turned out to not be a bug after all. When encoding properly, everything works:

[code]

[2021-06-29 13:34] #1099 closed

[2021-06-29 13:47] tipsy commented on #1174
@peterbirx do you think you'll work on this?

[2021-06-29 13:57] tipsy commented on #867
There has been little interest in this (still no PR), and it is a bit outside of Javalin's scope. Most libraries (auth0, google) offer their own methods for this, and if not you can just pull in a dedicated JWT library. I'll close the issue.

[2021-06-29 13:57] #867 closed

[2021-06-29 14:13] tipsy commented on #1109
I've been looking at bit at this, and it seems most projects provide a Maven or Gradle plugin to handle this. Some users of Javalin (ok, it's probably just me) use Bazel, so ideally any implementation of this should work across build tools. That might be unrealistic though...

[2021-06-29 14:18] tipsy commented on #949
Looks like this hasn't gotten any attention in over a year, so I think it makes sense to close it. You're still welcome to submit a PR for a separate module :)

[2021-06-29 14:18] #949 closed

[2021-06-30 16:42] TareqK commented on #1297
Im all for it for that extra swaggy org rights. And it also makes delegation much easier across the board, and we can encourage a wider ecosystem of Javalin-oriented libs and additions(small, simple, fit anywhere in code)

[2021-06-30 16:45] TareqK commented on #1286
Im for sure interested in taking the load of managing an NPM codebase off my back sometimes - this looks super neat, but just out of curiosity, can this work with other frameworks?

[2021-06-30 21:23] tipsy commented on #1168
If the predicate returns true, request is handled by static resource handler, if not, it gives 404. For me it's a perfect option because i can configure this predicate to return true if request is for /assets/* or /robots.txt or favicon.ico, and possibly other patterns.

This sounds like it would be easy to implement into the new `StaticFileConfig`:

[code]

I think the main problem is going to be

[2021-07-01 06:10] Oskang09 opened #1298 "similar object but requst result is different"
**Actual behavior (the bug)**
As per image attached, both endpoint having same data class Object, but left hand side one is not working.
![image](https://user-images.githubusercontent.com/15674107/124074185-ae959700-da75-11eb-8f4b-ab4dd95eec7e.png)

**Error ( Left )**
![image](https://user-images.githubusercontent.com/15674107/124074246-c66d1b00-da75-11eb-9420-2ecdfff92552.png)

**Success ( Right

[2021-07-01 08:11] kran commented on #1172
maybe provide binding parameters to handlers, like springboot, mapping query, body or custom mapper.

[2021-07-01 08:36] tipsy commented on #1298
It's hard to say what's going on, but this:

![image](https://user-images.githubusercontent.com/1521451/124093385-1b019d80-da58-11eb-9bd9-cfa7e992803f.png)

Points to the error being in your JSON deserialization, it's not really related to Javalin itself.

[2021-07-01 08:37] mdpinar commented on #1172
It would be awesome if we are able to define a global Rate Limiter for all handlers. Of course, there might be some handlers must not be rate limited. In this situation, we should somehow be able to tell javalin "I do not want this handler to be rate limited"

[2021-07-01 11:44] Oskang09 commented on #1298
what it possible cause? i tried to use gson, but the same error stil occurs

[2021-07-01 12:17] tipsy commented on #1298
It could be - you'll probably have an easier time asking this question on stack-overflow under the jackson/gson tag. You should be able to reproduce the error independent of Javalin.

[2021-07-01 13:45] #1298 closed

[2021-07-01 14:56] tipsy commented on #1103
@msamad @jkschneider @wilerson does this look like a correct fix? https://github.com/tipsy/javalin/pull/1299

For some reason I wasn't able to access the `request.contextPath`, so I grabbed it from the `JavalinConfig` instead.

[2021-07-01 17:01] MrThreepwood commented on #1296
The only problem with splitting the dsl and annotation plugins is that most people will want to use both, and they need to cooperate. Currently if you provide some documentation programmatically and some using annotations, they merge. I think it'd be difficult to do that if they were split. If we can come up with a good way to be able to use both though, it's a good idea.

[2021-07-01 20:54] tipsy commented on #1000
@7agustibm I noticed a lot of the GraphQL dependencies were outdated when I checked the module, do you have time to get it up to the latest versions for the release of Javalin 4 (still months away)?

[2021-07-01 20:56] tipsy commented on #1000
Did you end up doing this?

[2021-07-01 21:23] tipsy commented on #1178
@tuxedo0801 do you think you'll get this done within the next few months?

[2021-07-01 21:53] dariuszkuc commented on #1000
Yes with `graphql-kotlin` 4.x release we abstracted away common stuff in generic `graphql-kotlin-server` package.

More info: https://opensource.expediagroup.com/graphql-kotlin/docs/server/graphql-server

[2021-07-01 22:19] tipsy commented on #1000
Cool!

[2021-07-01 22:20] tipsy opened #1300 "Javalin usage survey 2021! (very short)"
### Please consider filling it out, it's very short: https://forms.gle/NNLZRDJm3aTVDSp76

[2021-07-01 22:58] peterbirx commented on #1174
Hi David,

I dont think I will get a chance to work on this for at least a month or
two. However I did publicly host the adapter code, the original artifact is
no longer being hosted.
https://jitpack.io/#peterbirx/aws-lambda-servlet

On Tue, Jun 29, 2021 at 6:47 AM David ***@***.***> wrote:

[2021-07-02 06:24] Gmugra opened #1301 "Improve javadoc.jar"
To publish Javalin on maven.org it's required to provide *javadoc.jar*.

As I can see, at the moment, this *javadoc.jar* is generated using **maven-javadoc-plugin**, which is not ideal.

The main drawback: it only contains documentation for *Java* classes and nothing for *Kotlin*.

Another problem: A very old version of the plugin (2.7, which is 10 years old) is currently in use.
And the version a

[2021-07-02 07:42] tipsy commented on #1174
The 4.0 release is still months away, so that's fine. I'll keep the ticket open then :)

[2021-07-02 07:44] tipsy commented on #1301
@Gmugra Thanks, the project should already be using Dokka, but there has been some strange issues with it only working half of the time. I'm guessing something is misconfigured. It would be great if you could submit a PR to fix this :)

[2021-07-02 08:00] 7agustibm commented on #1000
I update it shortly

[2021-07-02 08:12] TareqK commented on #1301
@Gmugra  Its a pain for me too, I go back to the website docs all too often because of this. Can I help?

[2021-07-02 08:21] Gmugra commented on #1301
@tipsy
I am sure can't test how it works together with Git Actions & together with deploy to maven.org.
Yesterday I did a lot of tests localy and it was always fine. I will do PR  today and than you can test it.

[2021-07-02 09:35] TareqK commented on #1301
@Gmugra Once you open the PR it runs the actions I guess , and you can try then ?

[2021-07-02 09:53] tipsy commented on #1301
That is correct, I deploy  from my machine using the [maven release plugin](https://maven.apache.org/maven-release/maven-release-plugin/).

[2021-07-02 10:12] tipsy commented on #1285
Some challenges with my proposed API: https://stackoverflow.com/a/1226031/7916291

[2021-07-02 10:18] tipsy commented on #1285
There is a lot of potential for mistakes here, I think it's probably better to make it void and pass an outputstream.

[2021-07-02 10:22] tipsy commented on #1285
Unless we can make a util for converting?

[2021-07-02 10:23] Gmugra commented on #1301
FYI:
There is one issue: *dokka* do not generate javadoc.jar for the modules which have no code.
I solve it using profile **javadoc**, so you will get all javadoc Jars e.g. this way:
`mvnw -DskipTests -Pjavadoc clean package`
The profile will use *dokka* plugin for modules with code, *javadoc* plugin for **javalin-without-jetty** and simple genereate empty javadoc.jar for **javalin-bundle**

that

[2021-07-02 13:23] tipsy commented on #1285
@rbygrave @RalphSteinhagen any thoughts on https://github.com/tipsy/javalin/pull/1304 ?

[2021-07-02 13:28] tipsy commented on #1301
Thank you !

[2021-07-02 13:28] #1301 closed

[2021-07-02 15:23] wilerson commented on #1103
I never tried using a different context path. Looking over the changes, they look OK.

[2021-07-02 16:21] peterbirx commented on #1174
Sounds good!

On Fri, Jul 2, 2021 at 12:42 AM David ***@***.***> wrote:

[2021-07-02 16:46] tipsy commented on #1285
Getting

[code]

When calling from CURL.

https://stackoverflow.com/questions/5453525/write-end-dead-exception-using-pipedinputstream-java

[2021-07-02 18:08] tipsy commented on #1285
It actually works too

![image](https://user-images.githubusercontent.com/1521451/124313540-4926d080-db71-11eb-8c0d-87062515e777.png)

[2021-07-03 12:34] tipsy commented on #1103
Thanks @wilerson, I just tagged you because I saw your name in the codebase :)

I've merged this now.  Even if I'm not a user of the plugin, the fix makes sense to me,

[2021-07-03 12:34] #1103 closed

[2021-07-04 09:03] tipsy commented on #1285
@rbygrave @RalphSteinhagen any thoughts on https://github.com/tipsy/javalin/pull/1304 ?

# Relevant bits

Usage
[code]

Context
[code]

JsonMapper
[code]

JavalinJackson (default implementation, can be replaced by user)
[code]

PipedStreamUtil
[code]

Memory usage:

![image](https://user-images.githubusercontent.com/1521451/124379221-fc004700-dcb5-11eb-89ac-1a5a0ef096d6.png)
First red circle is wr

[2021-07-04 10:06] rbygrave commented on #1285
It looks very different from the Jex implementation and tests. The
x-json-stream content as I know it is many JSON objects that are separated
by newline.  Is that what this is doing?

I don't see the newline or iteration so it isn't what I expected to see?

On Sun, 4 Jul 2021, 9:03 pm David, ***@***.***> wrote:

[2021-07-04 10:40] tipsy commented on #1285
@rbygrave Well, damn, I'm glad I have you here.

I couldn't figure out why you wrote your API the way you did, because when I saw "json stream" I immediately thought the point was to get rid of the `String` method in favor of a `Stream` method (to save memory, which @RalphSteinhagen requested on Gitter at the same time). I never even bothered to google "x-json-stream". It all makes a lot more sens

[2021-07-04 20:28] msamad commented on #1103
@tipsy Sorry, I wasn't able to make time to help on this. Thank you for the fix. Unfortunately, I'm not working on this anymore so can't help in testing the plugin as well.
My apologies, and thanks again

[2021-07-04 21:14] rbygrave commented on #1285
Yeah cool :)

I think of it as for the case where we might have traditionally streamed csv content we can now alternatively stream json objects.  There would be cross over with websockets and SSE but I'd see it as more a single stream of lots of objects as opposed to lots of small server pushed messages. So handling of start, end and fail during streaming etc on the client side can all be done but

[2021-07-04 22:09] tipsy commented on #1285
I really wanted the interface to return an `InputStream` rather than accept an `OutputStream`, so that it would fall into the normal request lifecycle (instead of short circuiting it by writing directly), so the current master branch has an `InputStream toJsonStream(Object)` method. This came with its own set of problems, and requires an additional thread, so I left it off by default:

[code]

Wri

[2021-07-05 00:06] tikomir opened #1305 "Problem with conditional rendering in Velocity"
Hi tipsy,

did you noticed that the following code:
[code]
does not render anytning?
Note that the previous code has been taken from your project [https://javalin.io/tutorials/website-example](https://javalin.io/tutorials/website-example).
I've tested it and concluded that the `#if` block can render e.g. `<p>` tag, but not the `<input>` tag.
It is clear that the problem is related to Velocity and

[2021-07-05 01:46] rbygrave commented on #1285
A single object would be considered too big to do that in that the whole thing is held in memory.  Think _potentially_ millions of json docs but really there is no minimum and no maximum. If the result was always max 100 elements we probably wouldn't use it.

Noting that we don't want to hold the whole array/list in memory so we don't want to treat it as an array for that reason.  In terms of inpu

[2021-07-05 01:55] rbygrave commented on #1285
This might be the best discussion on it: https://groups.google.com/g/nodejs/c/0ohwx0vF-SY

[2021-07-05 07:17] tipsy commented on #1305
The input has `type="hidden"`, are you sure it's just not visible in the browser?

[2021-07-05 08:50] tipsy commented on #1285
Bear with me, I'm going to ask a lot of potentially stupid questions.

* Why would you want to keep one of your threads busy for potentially millions of json docs? In node I could understand this, but if you build a ThreadPool based service like this, won't you end up with a service that supports a very small number of users?
* What happens if serialization fails on one of the objects, how do you

[2021-07-05 08:51] Gmugra opened #1306 "Update Maven to 3.8.1"
Maven 3.8.1 released couple of month ago and actually not a "big" release at all (couple of security fixes only):
https://maven.apache.org/docs/3.8.1/release-notes.html

However it's always good idea to use the latest possible version.

[2021-07-05 08:53] tipsy commented on #1306
@Gmugra When you say "update maven", I guess you mean in the Maven Wrapper? If yes, please go ahead and make a PR :)

[2021-07-05 08:54] tipsy commented on #1306
Thank you, merged !

[2021-07-05 08:54] #1306 closed

[2021-07-05 10:05] tikomir commented on #1305
Of course I didn't expect it to be rendered on the screen but I was hoping that it will show up in a page's source code (Ctrl+u).
What's more confusing is that when I tried to use ordinary `<input>` field, it was rendered on the screen but there wasn't it in the page source. I tested that with Firefox and Edge and got the same result.
Contrary to that, when I tested using `<p>$loginRedirect</p>` i

[2021-07-05 10:23] tipsy commented on #1305
I don't have time to debug that particular application, but I can give you a more general tip. It's much easier to debug what's going on with a template engine if you remove Javalin and the browser from the equation. Implement your own template engine method that just print templates directly to system out.

[2021-07-05 10:54] rbygrave commented on #1285
Maybe 2 ways of thinking about it:

1) Any endpoint that returns some number of objects/rows/data where we choose to stream the list of results rather than hold them in memory. So in this thinking we are going to use this more often going forward even for relatively smaller results (hence support in micronaut and webflux). Maybe any list > 100 entries is worth streaming?  I don't know ... this is

[2021-07-05 12:03] tikomir commented on #1305
Here is what I tried and it worked OK with Velocity 2.0 and 2.3.

[code]

Template file: _VelocityTemplateExample.vm_

[code]

and the generated html is OK:

[code]

[2021-07-05 14:50] tomhillgreyridge opened #1309 "SpringLoaded example"
**Describe the feature**
One of the painful things about any Java development is needing to restart the server after changes.  Spring Boot gets round this with Spring DevTools which automatically rebuilds after a change to code or configuration (but is sloooow thanks to Spring taking 3-4 seconds to restart).

I had a quick look into other methods of doing this and came across SpringLoaded which is

[2021-07-05 14:55] tomhillgreyridge commented on #1109
Hi @tipsy .  Check #1309 for two short and sweet methods for getting 90% of the way there - SpringLoaded and DCEVM.  These both work across build tools as they work at the JVM layer.

Also worth looking at Jooby which I seem to remember uses JBoss Modules to do hot reloading.

[2021-07-05 15:01] tipsy commented on #1309
A quick tutorial for this would be really great @tomhillgreyridge :)

[2021-07-05 17:12] tomhillgreyridge commented on #1309
No problem.  I'm going to try out DCEVM tomorrow as SpringLoaded currently only supports Java 8 and one of the libraries we use (JDBI) now has a dependency on Caffeine 3 which is Java 11 only.  If I get DCEVM working right, I'll write up both approaches and their issues as a tutorial

[2021-07-05 17:22] tipsy commented on #1309
Great, looking forward to trying it out !

[2021-07-05 20:36] tipsy opened #1310 "Dealing with reified functions and non-deterministic behavior"
We used to have these methods in Context:

[code]

This caused non-deterministic behavior in mockio and mockk, so we had to move the reified function out of `Context` (as a extension function).

This is a little sad though, and I would like to find a way of including these function directly in `Context` again.  Some suggestions:

## Prefix String methods with "string":

[code]

## Prefix typed met

[2021-07-05 21:39] tipsy commented on #1310
https://github.com/tipsy/javalin/pull/1311

[2021-07-05 21:53] tikomir commented on #1305
I've found the problem. It is in the method `RequestUtil.getQueryLoginRedirect(ctx)`. Instead of the `ctx.queryParam("loginRedirect")`, `formParam` should be used. But the weird thing is that previously mentioned _hidden_ field doesn't show up in the source code of the login web page (Ctrl+u) although the web browser is quite aware of his presence.

[2021-07-05 21:59] tipsy commented on #1305
@tikomir let me have a look.

[2021-07-05 22:03] tipsy commented on #1305
@tikomir, you're right that `loginRedirect` should be a form parameter. I see the input fine in the source code though:

![image](https://user-images.githubusercontent.com/1521451/124520694-7384c200-dded-11eb-93e3-8c583766fc25.png)

Steps to reproduce:
* Start the project
* Go to `http://localhost:7000/index`
* Click the "The book of the day"
* Inspect source code

[2021-07-05 22:23] #1310 closed

[2021-07-06 06:42] tikomir commented on #1305
Yes, it can be seen in the _Web Developer Tools_ (Ctrl+Shift+i) of the Firefox, but not in its _Page Source_ (Ctrl+u) menu item so it seems that Firefox intentionally hides that information at that place. I did not know for that.

[2021-07-06 18:53] tipsy commented on #1305
That is very strange, I would report it as a bug to Firefox. I'm glad you figured it out, I will close the ticket now :)

[2021-07-06 18:53] #1305 closed

[2021-07-07 07:45] Gmugra opened #1312 "Add more information in the JARs META-INF"
It's sometimes helpful to have more details in the **META-INF** & **MANIFEST.MF**.

Add:
1. "default Implementation entries": *Implementation-Title* & *Implementation-Version*
2. *Build-Time*

MANIFEST.MF will looks like that:
[code]

And also it's nice to add *LICENSE* file in the META-INF

[2021-07-07 08:29] tipsy commented on #1312
Thanks @Gmugra, I really appreciate all the improvements you have made to the Maven setup :)

[2021-07-07 09:03] tipsy commented on #1312
@Gmugra it would be nice if Javalin could print the date of the current version, as well as an extra message if the date is old (to encourage the user to upgrade). Would you be interested in making a PR for that?

[2021-07-07 09:29] Gmugra commented on #1312
@tipsy do you mean something like to print version & build-time togeter with banner (like e.g. in Spring) ?
it's actually nice idea...

[2021-07-07 09:36] tipsy commented on #1312
Yes, I've already added version, but I don't have build time.

[2021-07-07 09:59] Gmugra commented on #1312
Yep. i see. I will do new PR abot it :)

[2021-07-07 10:11] tipsy commented on #1312
Great, thank you!

[2021-07-07 10:19] Gmugra opened #1314 "Show build time together with version"
At the moment Javalin write it's version in the log:
[code]
It's have sense also to write build-time e.g.:
[code]

[2021-07-07 13:07] #1312 closed

[2021-07-07 13:32] austince commented on #494
Was this closed because it is now supported? Or won't be supported?

[2021-07-07 13:37] tipsy commented on #494
@austince you're welcome to work on it, no one was able to explain what it even meant :)

[2021-07-07 13:42] austince commented on #494
Hah :) I'm new to Quarkus as well, just researching options – their documentation is ... interesting. I'm not quite sure what it would mean to build an extension for it. For me, I'm looking for the possibility of building native executables with GraalVM and ensuring Javalin is compatible. I'll see if I can find any other info.

[2021-07-07 13:53] austince commented on #494
It seems like a Quarkus extension is just the touchpoints to the ["Quarkus Platform" ](https://quarkus.io/guides/platform)and ensures that the components are compatible (mostly around reflection, injection, config).

They have a couple of guides for [writing extensions](https://quarkus.io/guides/writing-extensions) and ensuring they [support native compilation](https://quarkus.io/guides/writing-na

[2021-07-07 14:03] tipsy commented on #494
You could do that without Quarkus: https://javalin.io/2018/09/27/javalin-graalvm-example.html

I'm not against it, as long as I can clearly explain to Javalin users what the benefit is.

[2021-07-07 18:16] #1314 closed

[2021-07-07 22:03] rbygrave commented on #494
When you say higher scalability what do you mean?  Reactive style endpoints?

Quarkus uses RestEasy as it's JAX-RS implementation - that isn't more scalable. Quarkus as a stack is certainly much larger than a typical Javalin stack when running on the JVM - so to me I'd say it isn't very "light".   Yes it has the "Reactive" option so I'm thinking this is what you mean. With Loom coming I think the

[2021-07-08 13:04] ClemensElflein commented on #1286
At the moment it's Javalin and Maven only, since the runtime component is a Javalin Plugin.

[2021-07-09 08:02] TareqK commented on #1286
I mean does it work with other frontend frameworks - Since its using the npm plugin internally, can it be used for say, React apps or Angular

[2021-07-10 17:01] 7agustibm commented on #1000
Created PR #1316

@dariuszkuc Do you have an example for the subscription without spring?

[2021-07-11 02:10] dariuszkuc commented on #1000
@7agustibm due to the differences in server implementations we only have websocket based subscription implementation for Spring. Note that our subscription implementation is based on old Apollo [subscriptions-transport-ws](https://github.com/apollographql/subscriptions-transport-ws), when implementing new subscriptions I'd recommend to follow [graphql-ws](https://github.com/enisdenjo/graphql-ws) p

[2021-07-11 13:47] 7agustibm commented on #1000
Created ws with context.

[2021-07-11 17:36] dariuszkuc commented on #1000
@7agustibm looks like you are adding context to a websocket connection but you still need to implement the appropriate GraphQL protocol (I'd suggest to follow `graphql-ws`) that based on the messages starts/ends the subscription (e.g. https://github.com/ExpediaGroup/graphql-kotlin/blob/master/servers/graphql-kotlin-spring-server/src/main/kotlin/com/expediagroup/graphql/server/spring/subscriptions/

[2021-07-12 18:36] #667 closed

[2021-07-12 21:52] tipsy commented on #1310
<blockquote>
Try:
@JvmName("queryParam-inline")
inline fun <reified T : Any> queryParam(key: String) = ...
fun queryParam(key: String) = ...
It won't have the same JVM signature that way. The '-' makes it so you can't accidentally call it from Java. Seemed to work though I didn't give it that many test runs.
</blockquote>

[2021-07-13 14:23] tomhillgreyridge commented on #1309
Hi David.

Apologies for delay.  Work got in the way.

I did end up investigating two potential approaches to "hot code update".  They both have significant limitations so I thought I'd summarise them here to see whether you think it is worth documenting before I spend the time doing it.

### Spring Loaded
Spring Loaded is basically a custom classloader which allows new classes to be loaded into a

[2021-07-13 14:27] tomhillgreyridge commented on #1309
My feeling, for what it is worth is that SpringLoaded is not worth investigating - Java 8 only, has no obvious plans for Java 11 that I can see and seems to be a bit of a legacy project - most things using it have moved to Spring Boot DevTools.

If DCEVM plugins allow for easy restart of Javalin via a custom plugin, that might be the best way.  It would mean that changes in any application class w

[2021-07-13 17:15] tipsy commented on #1309
That would be really great!

I guess we can close this issue then?

[2021-07-14 08:46] tomhillgreyridge commented on #1309
I would think this issue can be closed, yes.  I don't know whether it would be worth copying the details of the three methods investigated into the issue about hot reload for reference or not?

[2021-07-14 12:27] tipsy commented on #1309
I think it makes a lot of sense, please copy them over :)

[2021-07-14 12:27] #1309 closed

[2021-07-14 16:58] tomhillgreyridge commented on #1109
Hi @tipsy

I spent some time this morning trying to work out how DCEVM Plugins worked.  I've got to the point where I can call arbitrary user code whenever any class in the project changes.

The problem I have is that, in order to pick up new routes or new configuration, I would need to restart the Javalin server and, as soon as I stop the Javalin server, the entire application exits!  I don't hav

[2021-07-14 19:08] tipsy commented on #1109
Really nice writeup! I'm on vacation currently, so I don't too much time to look into it, but I can try to assist you here.

Javalin just does `Server#start` (from Jetty), which I guess does something like `Thread.join` to keep the application running. We could move that into a separate thread, and do `Thread.join` on the main thread? That should prevent the main thread from exiting when Javalin (

[2021-07-14 21:13] tipsy opened #1318 "Release process failing due to missing javadoc"
|typeId | javadoc-staging|
|-- | -- |
| failureMessage | Missing: no javadoc jar found in folder '/io/javalin/javalin-graphql/4.0.0.ALPHA4' |
| failureMessage | Missing: no javadoc jar found in folder '/io/javalin/javalin-openapi/4.0.0.ALPHA4' |
| failureMessage | Missing: no javadoc jar found in folder '/io/javalin/javalin/4.0.0.ALPHA4' |
| failureMessage | Missing: no javadoc jar found in folder

[2021-07-14 21:13] tipsy commented on #1318
@Gmugra I guess something went wrong with the javadoc change?

[2021-07-15 07:45] tipsy commented on #1318
Pushed https://github.com/tipsy/javalin/commit/2e354355de3402c0c8ce413806b3b74610fd4fea to revert javadoc improvements.

[2021-07-15 09:03] tomhillgreyridge commented on #1109
That was my guess as to what was going wrong.  I'm not massively familiar with threads so, rather than trying to work out how to adjust the thread join, I have put together what has to count as the hackiest prototype I've done in quite some time!

Basically, I have added a class called AppRunner which starts the App and, if the app exits, goes into a loop with a thread sleep.  That means my main t

[2021-07-15 13:01] tipsy commented on #526
@Farquaad @oharaandrew314 @pacher please check out the latest ALPHA release which once again removes splats, but adds "slash-accepting-path-params". These can be declared like `/my/path/<param>/subpath`, and can include any number of slashes. They can be accessed through `ctx.pathParam("param")`.

[code]

[2021-07-15 13:54] oharaandrew314 commented on #526
@tipsy I had a look at the updated tests for the splats.  They seem good to me.

[2021-07-15 14:13] oharaandrew314 commented on #1297
I'm 🤷  about it.  My biggest concern is whether this will make javalin more difficult to find, or if people will think it's dead.

[2021-07-15 15:50] thiskevinwang commented on #113
is there a way to call `enableCorsForAllOrigins` but only on a specific route (including any of its sub routes)?

[2021-07-15 16:08] tipsy commented on #113
@thiskevinwang that's not currently possible, but open to PRs!

[2021-07-15 18:24] tipsy commented on #1297
I'll put this on hold until after the 4.0 release, just to minimize friction.

[2021-07-18 11:25] dhsrocha commented on #1296
Might JPMS be considered? Current `javalin-openapi` artifact conflicts for having same package as the main one.

[2021-07-20 07:43] Gmugra commented on #1318
Hi @tipsy, did you genereate artifacts using profile?
you need to do : `mvnw -DskipTests -Pjavadoc clean package`
this **-Pjavadoc** is important

[2021-07-20 07:55] tipsy commented on #1318
@Gmugra I'm releasing using `mvn release`, I'm not sure if I can pass `-Pjavadoc` ?

[2021-07-20 08:11] Gmugra commented on #1318
well it should not be a problem.
before any release maven should prepare all artifacts.
**javadoc** profile simple link javadoc artifacts generation using different plugins to the Maven Lifecycle Phase **package**.
it must work...

Could you please write here exectly maven command(s) which you are using?

[2021-07-20 08:19] tipsy commented on #1318
[code]

I didn't get any errors until I tried closing the repo on Nexus.

[2021-07-20 08:52] Gmugra commented on #1318
I am sure that:
[code]
must work.

As I see in documentation for Maven Release Plugin
`release:prepare` (https://maven.apache.org/maven-release/maven-release-plugin/prepare-mojo.html) use by default goals `clean verify`
(and `verify` is include `package` accorting to Maven Lifecycle)

and `release:perform` (https://maven.apache.org/maven-release/maven-release-plugin/perform-mojo.html) use by defau

[2021-07-20 09:11] tipsy commented on #1318
Thanks, I can try for the next release!

[2021-07-20 09:19] Gmugra commented on #1318
Just to explain.
Javadoc generation takes time. And it's actually need only for relese.
IMHO it have no sense to lost this time everytime when you run build process.
So, it have sense to place it under profile and run only with release generation.

However, we sure can change the configurations to generate it everytime (if you think it's right way), and, in this case, you will not need to use prof

[2021-07-20 10:08] tipsy commented on #1318
I want to move towards releasing through GitHub actions actually, so I don't have to do anything manually. Not sure how to set it up though.

[2021-07-21 06:50] Gmugra commented on #1318
@tipsy new info.
What happens: `release:prepare` in the background executes the following command:
[code]
So, it's build the project using the **sonatype-oss-release** profile.
This profile comes from the parent POM:
[code]
The profile runs 3 plugins:
1. **maven-source-plugin** - to generate source JARs
2. **maven-javadoc-plugin (version 2.7)** - to generate *standard* javadoc JARs
3. **maven-gpg-

[2021-07-21 10:50] tipsy commented on #1318
Sure, go ahead!

No worries, I think you've done a great job. I don't know a lot about Maven, so I just had to revert the master branch to a working state so I could do the release.

I appreciate you going through the docs and explaining how it works!

[2021-07-22 07:22] Gmugra commented on #1318
@tipsy aI did PR, but it would be great if before merge it you test it with command:
`mvn clean verify -Psonatype-oss-release`
After that command you should see it the `target` folder of each module *source* and *javadoc* jars.
and also GPG plugin sign (i can see that GPG plugin called, but i sure do not have key to see that it 100% works, that only you can test )

[2021-07-22 12:23] spinscale opened #1322 "Is ctx.queryParam recreating the list of parameters for every call from the query string?"
Hey,

I'm currently testing alpha4 and noticed the following piece in `Context.kt`

[code]

Unless there is some kotlin magic involved this looks pretty inefficient to me, if the returned data of `ContextUtil.splitKeyValueStringAndGroupByKey` is not being cached somewhere? Calling `ctx.queryParam()` a few times per controller looks rather standard to me...

[2021-07-22 12:25] tipsy commented on #1322
You are forevetIt's probably inefficient, but on the other hand it's probably micro or nanosecond.

[2021-07-22 12:30] spinscale commented on #1322
I was more thinking about object creation than execution time here and thus more work for the GC (even though all of those objects are shortlived due to a short request duration and are easy to clean up, it's IMO still better to not create them in the first place).. but yeah, drawing the line between what is a microoptimization or not is always hard...

If you accept PRs, I'm happy to create one :

[2021-07-22 12:34] tipsy commented on #1322
I don't mind it - you should probably do form params too while you're at it. Could you declare the variable close to the methods, rather than at the top of file?

[2021-07-22 14:37] MTijn opened #1323 "I would like to be able to have options routes with the actual allowed methods present"
**Describe the feature**
As a developer I would like to have automated OPTIONS routes created for me with the correct allowed methods for the paths available, so that my front-end team isn't telling me the preflight check doesn't work.

**Additional context**
When working with the CORS plugin I noticed that the OPTIONS header in there is mostly parroting the asked allowed method in the request. I

[2021-07-23 07:54] #1322 closed

[2021-07-23 08:08] tipsy commented on #1323
@MTijn "so that my front-end team isn't telling me the preflight check doesn't work." is one of the more amusing `"so that"`s I've read, but could you elaborate a bit on this? Why are they saying it doesn't work?

If you're going this way, you should implement the `PluginLifecycleInit` interface, so that you're guaranteed that your listener is added before any handlers are added.

In `addOptionsTo

[2021-07-23 12:18] grzegorzbor commented on #1168
I delayed looking at it because it thought it will complex, but you were right, adding a new option to the StaticFileConfig was trivial. I called the parameter "test", in order to mimic the Java's Stream.filter(Predicate) method, which should make it more understandable.
On the other hand, it can be confused with servlet filters... hmm. Other name that i considered was "predicate". I'd vote for "f

[2021-07-23 20:52] tipsy commented on #1168
Thanks, PR is now merged! I might change the name, I'm not sure yet.

[2021-07-23 20:52] #1168 closed

[2021-07-23 21:07] tipsy commented on #1168
Renamed it to `allowRequestFunction`: https://github.com/tipsy/javalin/commit/ede6f3ab081ff504195885bc285c5ef998023ab0

It's not a sexy name, but it is pretty descriptive.

[2021-07-23 21:50] grzegorzbor commented on #1168
"allow" for me suggests more like "403 Forbidden" response in case it returns false. Maybe better "supportsRequest" or "requestSupported"? And "function" is a pretty general term, from the type (Request Predicate) it's clear it is a function. Maybe better "check", or just nothing. So at the end i would be for "requestSupportedCheck" or just "requestSupported".

[2021-07-23 22:15] tipsy commented on #1168
What about flipping it an calling it `skipRequestFunction` ? I agree that `Function` is redundant if you look at the types, but when read in context, I think it's nicer:

[code]

If I see just `skipRequest` I will immediately assume it's a boolean.

[2021-07-23 22:17] tipsy commented on #1168
Maybe `skipFileFunction` is better?

[2021-07-23 23:00] tipsy commented on #1168
Renamed to `skipFileFunction` in https://github.com/tipsy/javalin/commit/6b194bbf64d86a85d199f0d19be4d39b06976548 - I had a feeling naming would be very hard for this 😓

[2021-07-23 23:09] tipsy commented on #1000
@dariuszkuc sorry, I'm not familiar with any of this - could you define "need" in the context of your comment? Is the proposed PR "functional, but not ideal", or "non-functional"?

[2021-07-23 23:16] tipsy commented on #1285
I dislike implementing features that I won't use (since I probably don't fully understand them), so I'm going to leave this one to you @rbygrave - I'm not opposed to having this functionality, as long as it's clear what it does and the implementation is well tested (including for sad path). I renamed my other json-streaming change so there won't be a naming collision (it's a boolean option to the

[2021-07-24 05:40] dariuszkuc commented on #1000
GraphQL supports query (read), mutation (write) and subscriptions (streaming) operations. Query and mutations looks fine but streaming part is pretty crude and won't work with pretty much any clients as it does not implement the subscription protocol (e.g. https://github.com/enisdenjo/graphql-ws/blob/master/PROTOCOL.md). Since subscriptions are not as common as query/mutation this might be fine fo

[2021-07-24 05:42] corlaez commented on #1172
I may be late to the party but I would like a Context builder that allows me to set the state of the context with things like url, http headers, body etc.
The current recommendations are to either mock the context (which to me is duplicating the code in the handler) or sending real http requests to a server which is ok for integration but I would like to have a unit test alternative.

[2021-07-24 06:37] tipsy commented on #1172
@corlaez why do you prefer this over mocking or integration tests? Almost all the methods in `Context` call a method in a Servlet request/response, so creating a real object for testing is going to be hard.

[2021-07-24 06:45] tipsy commented on #1000
Thank you very much @dariuszkuc! I think I will merge this and create a separate issue for subscriptions/streaming then.

[2021-07-24 10:31] tipsy opened #1326 "Improve graphql susbcription implementation"
The subscription/streaming implementation could use some work (see https://github.com/tipsy/javalin/issues/1000#issuecomment-877836592)

[2021-07-24 10:32] #1000 closed

[2021-07-24 10:37] tipsy commented on #1172
We are approach the first release candidate of Javalin 4, so I will close this issue now. I don't think there will be more major changes to the API before Javalin 5.

[2021-07-24 10:37] #1172 closed

[2021-07-24 12:10] 7agustibm commented on #1326
I'm working. Thanks @dariuszkuc for all information.

[2021-07-24 12:29] tipsy commented on #1326
That's great to hear @7agustibm, I just wanted to split it up so it would be easier to handle.

[2021-07-24 17:33] corlaez commented on #1172
I am just not used to mock the input of a subject under test method. I guess I will just get used to it. Thanks for the clarification! @tipsy

[2021-07-24 17:45] tipsy commented on #1172
I think you will save yourself a lot of trouble if you go with one of those approaches. There is a tutorial on testing that should be quite helpful: https://javalin.io/tutorials/testing

[2021-07-25 10:09] ralfhenze commented on #561
@LoSunny I know, I'm a bit late to the party, but just in case you haven't found out yet: You get the security warning because you have created the SSL certificate yourself. It's a self-signed certificate: https://en.wikipedia.org/wiki/Self-signed_certificate

To make this warning disappear you need a third-party authority (CA = certificate authority) to create your certificate. Something like Dig

[2021-07-26 09:14] grzegorzbor commented on #1168
The "skipFileFunction" is perhaps a good compromise.  Personally i preferred the original version which returned true-value for processing, but it doesn't matter that much, as long as the feature is available. So let it be this way.
As the classic saying goes, "there are only 2 difficult things in programming, cache invalidation and naming things".

[2021-07-26 09:56] grzegorzbor commented on #1168
Just noticed the migration guide https://javalin.io/migration-guide-javalin-3-to-4, would be good to mention the skipFileFunction option in the Static File Configuraiton section

[2021-07-26 11:34] tipsy commented on #1168
I will definitely add it there before release!

[2021-07-27 09:42] MTijn commented on #1323
The `"so that"` comes from the fact that we forgot to add the OPTIONS routes when working on the service we where implementing. And so when there is somebody that uses something like Vue (or any other browser rendering thing), you would fail the pre-flight.

We did look at the CorsPlugin, and as far as I can deduct it will parrot the requested allowed methods per request done.

It isn't uncommon t

[2021-07-27 14:22] corlaez opened #1327 "Make 3.x Context mockable without breaking changes"
I am not sure about the requirements of alpha4 but I know that in some industries (finance, healthcare) lag behind in software versions. In my work environment I can't access Kotlin 1.5 or the latest IntelliJ idea that supports it.

Would you consider lowering the Kotlin version requirement to reach more conservative industries? I completely understand if this is not a goal for Javalin or if Kotli

[2021-07-27 15:12] corlaez commented on #1327
This PR moves methods to solve the issue (alpha 4). I don't know if there is a way to make these methods available in 3.x without moving them to avoid the breaking change https://github.com/tipsy/javalin/pull/1162/files

[2021-07-27 15:19] tomhillgreyridge commented on #1109
Hi @tipsy

I've not had too much time to progress with this, but I did manage to work out how to make the reload plugin "generic".  Basically, HotswapAgent comes with a properties file (hotswap-agent.properties) and a PluginConfiguration class which gets injected into your own plugin and can then access properties from the properties file.

As such, I was able to add

[code]

to the properties fil

[2021-07-27 16:19] tomhillgreyridge commented on #1109
Oh, and I have updated the repo below with a tidier version which

- No longer has any dependencies on a hard-coded class - it looks it up from hotswap-agent.properties
- Watches all resources in src/main/resources and automatically restarts the application on change

[https://github.com/tomhillgreyridge/hotswap](https://github.com/tomhillgreyridge/hotswap)

My gut feeling is that you might not wa

[2021-07-27 20:10] tipsy commented on #1327
Unfortunately it can't. It could use Kotlin 1.4, which is the lowest required by Jackson, but even so I would prefer to be on Kotlin 1.5, as I can't do the bump after the release.

I did get a hint from someone on the Kotlin slack, for a possible way to fix the issue on the 3.x branch:

[code]

You can try adding these name-annotations on the 3x branch, and see if it fixes the issue?

[2021-07-27 20:15] tipsy commented on #1109
I honestly don't see that as an issue at all, it's a dev server thing after all.

It could be nice to have it as a module? As things are now I don't provide much support for the modules, they are mainly managed by the community.

[2021-07-28 07:32] crummy opened #1328 "Websockets with Jetty @Websocket annotation"
The blog post announcing Websocket support mentions Jetty's websocket support: https://javalin.io/news/2017/09/22/javalin-0.5.1-released.html

However, with this code:

[code]
I get the following error:
[code]
Are Jetty's annotated websocket connections still supported?

[2021-07-28 08:12] tipsy commented on #1328
Probably not, those docs are from 0.x. You can still pass an object to the ws method, but it has to implement the ws interface.

[2021-07-28 12:02] corlaez commented on #1327
I am trying it out! Thanks for the tip.

[2021-07-28 18:42] #1318 closed

[2021-07-28 19:14] tipsy opened #1329 "4.0 RC feedback!"
Javalin 4 is finally in release candidate (RC) mode. Please comment on this issue with any bugs you might find!

[code]

[2021-07-28 22:44] corlaez commented on #1327
@JvmName("queryParam-inline") or @JvmName("queryParam") didn't work. inline methods are a little complicated. I am trying different things, but I think it will end up in personal experiments because they seem too wild to make it to javalin 3.x
If something ends up working, I will open a PR show it anyways.

If there is no solution without breaking changes, I guess I could fork the project because

[2021-07-29 07:08] tipsy commented on #1327
Alternatively you could use the 4.0.0.ALPHA0, which is basically 3x but with that problem fixed.

If you end up maintaining your own branch, I can recommend https://jitpack.io/ for "releasing".

[2021-07-29 07:22] #1327 closed

[2021-07-30 04:26] Nachtfeuer opened #1330 "How to handle many unittests with Javalin and Unirest? (Software caused connection abort: recv failed)"
Situation:
  - JUnit 5.
  - Basically testing my Javalin app as shown in your tutorial at https://javalin.io/tutorials/testing (functional testing) but the start/stop moved to setup (BeforeEach) and teardown (AfterEach).
  - All tests are using the same port.

Problem:
 - When running those tests individual (by hand) all is fine
 - When running the whole test class (currently two tests) the first

[2021-07-30 09:32] dzikoysk commented on #1297
It won't be a problem. Organizations have better positioning in Google and it's more related to the term "Javalin". Also, 'https://github.com/tipsy/javalin/' will stil work - GitHub automatically redirects all requests to the new location.

[2021-07-30 13:56] tipsy commented on #1330
@Nachtfeuer You could try the new `javalin-testtools` package, which has a nice util method for writing tests. What it does is start your server at a random port, and create a http client which connects to that port:

[code]

[code]

A test then looks like this:

[code]

[2021-07-30 17:52] rococode commented on #1277
Hi @tipsy! Reviving this issue as I'm sorry to report that unfortunately my PR didn't actually fix the problem 😢 We recently deployed 4.0.0-ALPHA3 to production and are unfortunately still getting the timeout errors.

My guess is that, while I wrote the check for "java.util.concurrent.TimeoutException", and the original TimeoutException is wrapped into an IOException so that `t::class.java.name` i

[2021-07-30 18:24] tipsy commented on #1277
I don't really know, I haven't had this happen before 🤔

Relying on the `message` seems a bit brittle, maybe you could check the `cause` of the `Throwable` ?

[code]

It's not wrong, but in my opinion it would be better to write:

[code]

I think a nullable boolean (`Boolean?`) with a `false` fallback can be a little hard to read.

[2021-08-02 18:57] jflebeau commented on #1329
What's the current position of javalin on Jetty 10/11?

[2021-08-02 19:12] tipsy commented on #1329
We're not going to support Jetty 11 until Javalin 5 - too many people are still using Java 8, and no one has made a convincing argument for switching to Jetty 11.

[2021-08-02 19:30] #1328 closed

[2021-08-02 19:30] #1330 closed

[2021-08-05 17:57] dzikoysk opened #1332 "LogUtil requests response body in dev (debug) mode and fails for every InputStream based response"
Using `4.0.0.RC0` and serving just a regular InputStream as a response:

[code]

Results in IOException with `config.enableDevLogging()` enabled:

[code]

It looks like this method tries to read again a closed stream:

https://github.com/tipsy/javalin/blob/7c89245250e2433a8f2b6331ddc194dbc6ebdf47/javalin/src/main/java/io/javalin/core/util/LogUtil.kt#L59

Despite of this exception, server properly

[2021-08-05 19:11] tipsy commented on #1332
Interesting! Is this new in 4.x?

[2021-08-05 23:14] dzikoysk commented on #1332
To be honest I'm not sure, but I think that I didn't noticed it on Alpha-3 🤔

[2021-08-06 08:32] tuxedo0801 commented on #1178
I'm planning to finish my 1st draft for the implementation. How should I proceed? Separate project that is mentioned/linked in the documentation, or should I create a fork + pull-request? @tipsy

[2021-08-06 09:47] tuxedo0801 commented on #1178
Source is now online: https://gitlab.com/alexanderchristian/javalin-graphql-javaplugin

[2021-08-08 00:24] mattwelke commented on #1278
Just wanted to chime in and mention that being a newbie to Java, coming from Node.js and Go where I didn't have to think very much about concurrency, I really like Javalin because of how easy it is for me to understand. I appreciate the effort that's been put into keeping the framework simple and lightweight when it comes to programming model (even if it isn't "lightweight" when it comes to effici

[2021-08-08 01:08] mattwelke opened #1333 "How does using async handlers reduce the total number of threads needed?"
For some background, I'm pretty new to concurrency in Java. I have experience with Node.js and Go, so I have some familiarity with concurrency and async work in those languages, but I'm noticing differences in Java where you have to do more work such as managing thread pools.

In the docs, the async handlers stood out to me (https://javalin.io/documentation#faq). It looks like a nice way to keep t

[2021-08-08 12:36] tuxedo0801 opened #1334 "Javalin Plugin brings own "static files": How?"
Hi there,

I'm writing a plugin that want to bring it's own static files.

In plugin's apply method, I have something like this:

[code]

When running the javalin application, I get in log:

[code]

So it only points to the application's classpath (while running with Netbeans/Maven), but the files from the plugin are not recognized.

How do I tell javalin that there are static files from the plugi

[2021-08-08 17:48] tipsy commented on #1178
@tuxedo0801 please go ahead and make a PR for adding it to the GraphQL module :)

[2021-08-08 17:50] tipsy commented on #1334
@tuxedo0801 good question. I can't think of any way to handle this currently. In `JavalinVue`, we have the option for passing a class for resource location, maybe we should have something similar for static files?

[2021-08-08 17:50] tipsy commented on #1332
Could you create a failing test that I can plug into the test-suite?

[2021-08-08 18:13] tipsy commented on #1333
Let me prefix this by saying that I'm not an expert on Java async either, and that I have more experience with this in Node myself.

If you just wrap your work in futures, the main benefit you get is resource management (how many of the threads from the main threadpool an endpoint is allowed to hold). There is no performance benefit compared to just increasing the number of threads, as you mention

[2021-08-08 18:21] dzikoysk commented on #1332
[code]

Using IntelliJ you should be able to run whole application using a predefined template:

* https://github.com/dzikoysk/reposilite/blob/3.0/.run/Reposilite.run.xml

It doesn't really matter how you'll launch it at this point (main class is located in ReposiliteLauncher class in main package). Then, request frontend at `http://localhost/`). By default it uses InputStream to serve content:

h

[2021-08-08 18:40] dzikoysk commented on #1278
@mattwelke this proposal is not against any of the value represented by Javalin, I'd say it's just another area to cover as a simple enhancement to simplify async usage and related scenarios using a tiny layer.

[2021-08-08 19:14] mattwelke commented on #1333
With that example, wouldn't something eventually need to call `Future#get` to wait for all the async work to finish though? In that example, the handler creates a future that includes work for the SQL library to do asynchronously, and returns it to the Jetty framework. Wouldn't Jetty call `Future#get` at which point, the thread pool dedicated to Jetty would have to wait for the work to be complete

[2021-08-08 19:47] tipsy commented on #1333
No, Jetty isn't aware of the `Future`. Jetty implements the servlet-specification, which supports async request handling. To enable this you use `HttpServletRequest#startAsync`, at which point the request is lifted out of the server's threadpool. What exactly Jetty does at this point, I'm not sure of, but you can see what Javalin does here: https://github.com/tipsy/javalin/blob/master/javalin/src/

[2021-08-08 20:49] rbygrave commented on #1333
FYI:

Some background on Java concurrency @mattwelke if it helps (because for Java it is changing). TLDR, Java [with Loom] is going the path of golang and NOT going the path of csharp, javascript (langauges that have async/await keywords - have the coloured function issue). "Loom" is the project that adds "Light weight threads" / "Virtual threads" to Java and changes all internal JDK to not block

[2021-08-08 20:52] mattwelke commented on #1333
Thanks for the links guys. I've actually been following Project Loom because virtual threads are my preferred approach to this problem so far. I'm looking forward to them being in Java soon. In the meantime, I'm trying to learn what the status quo is and find something that makes the most sense to me, since we'll be putting some Java stuff into production soon.

I'll do some reading up on what Jet

[2021-08-08 20:57] tipsy commented on #1333
@mattwelke it would be great if you could summarize your findings into a paragraph or two that can be added to the docs :)

[2021-08-08 21:06] mattwelke commented on #1333
I'll send a PR with a doc change if I feel like there's something to add that will help people with my perspective, where we aren't used to the concepts of thread pools and stuff like that. I need some time for my thoughts to digest though first. I was barely able to put my thoughts together enough to create this issue. I'm glad I seem to have gotten my point across though. xD

Thanks again

[2021-08-08 21:09] rbygrave commented on #1333
Cool. It short this depends on how much "Blocking IO" is being used (how much time a thread is blocked waiting for IO response, not on Future itself or foreground/background itself).  Loom deals with that. The alternative today wrt dealing with Blocking IO on rest endpoint I'd say is to either:
- Not block on IO (Reactive style with non-blocking libraries, for example not using JDBC).
- Put work t

[2021-08-08 21:22] mattwelke commented on #1333
Is the idea here to avoid needing a high number of threads provisioned at all times by keeping slow IO off the Jetty thread pool, by putting it in a queue where it's processed one unit of work at a time, as long as that delay for my slow IO work is acceptable? A trade off where my app operates a bit slower, because only one of those slow IO units of work can be processed at a time. but with fewer

[2021-08-08 23:40] rbygrave commented on #1333
In short, yes.  We might be better to say take _any_ slow response/work off the jetty thread pool (off the "real time api").

I'm sure you realise this but loom and "reactive" are not magically adding any CPU, it is just a matter of more efficiently using the CPU we have (meaning, if a os/platform thread is blocked waiting on IO then it is less efficient - that os/platform thread could be doing ot

[2021-08-08 23:58] rbygrave commented on #1333
Just to say the thread pool with grow and shrink. It is more a question of the max thread pool size. What do we want to provision the max thread pool size to be (and if we increase the max we similarly increase the max memory consumed by the app).

I'm conservative. To me today the cost effective / cheap approach is to increase the max thread pool if really necessary, use a bit more memory and in

[2021-08-09 08:43] tuxedo0801 commented on #1334
Can you point me to some source where I can have a look into the solution?

For me, this is really a kind of showstopper. It makes sense to have the ability for plugins to provide an own webinterface, so we need own static files for plugins.

Will now invest in jetty and how ths works. Maybe I'll find a way/hack

[2021-08-09 10:15] tipsy commented on #1334
It's here: https://github.com/tipsy/javalin/blob/master/javalin/src/main/java/io/javalin/plugin/rendering/vue/JavalinVue.kt, but I don't think it's super helpful, since it doesn't use any Jetty functionality.

The good news is that Javalin 4 introduces a `StaticFileConfig` class, so it would be easy to add a class for resource-location: https://github.com/tipsy/javalin/blob/master/javalin/src/main

[2021-08-09 15:02] varsanyid opened #1335 "New bodyAsClass implementation depends on before handlers to not read from input request stream"
Hi there,

We're currently attempting a javalin 4.0RC migration and ran into an issue with how the new `Context.bodyAsClass` function is designed.

Since the `JavalinJackson` implementation overrides the `fromJsonStream` method, it will always be preferred over the `fromJsonString` option. This solution relies on handlers not to read the body (as it consumes the stream) so that the stream is not e

[2021-08-09 15:54] tipsy commented on #1335
Thanks this is definitely something we have up to have a think about!

[2021-08-09 16:55] tipsy commented on #1335
Since it doesn't look like we'll have json-streams for 4.x, we can do

[code]

or

[code]

Not sure how it's better to group them.

[2021-08-09 17:31] tipsy commented on #1335
Proposal here @varsanyid: https://github.com/tipsy/javalin/pull/1336

[2021-08-09 20:41] #1332 closed

[2021-08-09 20:42] tipsy commented on #1332
You'll get

`Body is an InputStream which can't be reset, so it can't be logged` in case your `resultStream` can't be reset now.

[2021-08-09 20:44] #1335 closed

[2021-08-09 20:46] tipsy commented on #1332
I should probably rather throw an exception in the method in `Context` though...

[2021-08-09 22:31] tipsy opened #1337 "Consider custom cookie class instead of servlet cookie"
This would allow people to easily set samesite (and potentially other things).

The implementation would still just set a servlet cookie directly.

[2021-08-10 06:38] tuxedo0801 commented on #1334
I think I will do it like this:

Let the plugin deliver the static files and extract them to tmp folder (with flag to delete the files on JVM exit) and tell javalin to load it from external. This way it's quite easy to solve.
As I don't have a lot of files and the application is not meant to start/stop frequently, this would be a practical way for the plugin.

[2021-08-10 10:36] tipsy commented on #1334
That should be a fine solution. I'll close the issue and give it the `INFO` tag.

[2021-08-10 10:36] #1334 closed

[2021-08-11 08:39] dzikoysk commented on #1332
Thanks! When can we expect next release with this fix? :)

[2021-08-11 08:57] tipsy commented on #1332
After the regex routing is disabled by default.

[2021-08-12 15:12] tipsy opened #1339 "Add ContextResovlers config options"
`Context#ip` is often useless if your service sits behind something else. This could be resolved by setting a custom function for resolving the Context IP.

[code]

The way this would work, is that we add a `ContextResolver` object to `JavalinConfig`, which can then be configured through `JavalinConfig#contextResolvers`, similar to `JavalinConfig#addStaticFiles(StaticFileConfig)`.

By default, thi

[2021-08-12 15:51] TareqK commented on #1339
Host would also be nice - I know X-Forwarded-For can work, but it's just something that so common that it makes sense

[2021-08-13 13:06] dzikoysk opened #1340 "Provide toString() implementation to HttpCode enum"
Enum `io.javalin.http.HttpCode` does not provide `toString` implementation:

[code]

It would be great if we could somehow utilize status code, like:

[code]

[2021-08-13 13:12] dzikoysk opened #1341 "Provide a shared interface between Context and WsContext"
It might be quite useful for e.g. logging purposes to provide a shared interface between `Context` and `WsContext`.  These classes provides  similar basic methods such as:

* Context
[code]

* WsContext

[code]

The `BaseContext.ip()` might be especially useful with https://github.com/tipsy/javalin/issues/1339

[2021-08-13 13:18] dzikoysk opened #1342 "Support content-type through a dedicated ContentType enum"
I feel like there is a lack of ContentType (MimeType) enum implementation. At this moment we can use utility class provided by Jetty, but it's quite limited to a small amount of types and it requires dependency on Jetty.

There is a class I use in my projects to cover this functionality, it might be a good start to the conversation around this topic:
* https://github.com/reposilite-playground/java

[2021-08-13 16:58] dzikoysk opened #1344 "Move to JUnit 5"
It's been already 5 years since JUnit 5 have been released. I think it might be a good idea to slowly adapt changes related to the migration process. It shouldn't be as hard as JUnit provides `junit-vintage-engine` which supports launching JUnit 3 & 4 tests.

Useful articles about migration process:

* https://junit.org/junit5/docs/current/user-guide/#migrating-from-junit4
* https://www.baeldung.c

[2021-08-13 17:43] dzikoysk commented on #1278
As a research and some kind of PoC for this thread, I'm currently during tests of the one of javalin-rfcs module that provides simple routing based on coroutines:

* https://github.com/reposilite-playground/javalin-rfcs

The coroutines support is developed as a plugin and does not require modified version of Javalin. The API is quite stable at this moment, so I decided to use it in a real-world ap

[2021-08-13 19:19] mattwelke commented on #1278
@dzikoysk This is really cool and I think it might be worth using Discussions on GitHub for the details, that way people who aren't on the Discord or who don't know where to find the conversations on Discord can see it here.

@tipsy Thoughts on adding Discussions to this repo?

[2021-08-13 20:03] dzikoysk commented on #1278
@mattwelke Thanks :) I don't quite like GH Discussions as I feel it's more for projects that really need to move away "spam" related to questions about framework and how to use it rather than topics about its development. I also use mostly Discord to communicate on various servers, so I prefer to post it there.

Speaking of the issue, I don't think this feature will be a part of official Javalin a

[2021-08-13 20:27] codingfred opened #1346 "Get JsonMapper from Context"
It would be nice to get the configured JsonMapper directly from the Context object.
The use case for me is while sending the same json string to many SseClients. Currently I use JsonMapperKt.jsonMapper(context) (see below) for getting the Mapper which works but was a bit surprising. At least could this utility function be moved from JsonMapperKt to JasonMapper?

[code]
Furthermore on registering a

[2021-08-13 20:56] tipsy commented on #1346
Hi @codingfred !

Yeah, it's okay to move it. These methods are missing an `internal`, they were not supposed to be used. We could move them, but ... !

From looking at your code, and your follow up question, maybe it would be nicer if we added the `json` and `jsonStream` methods to SSE ?

[2021-08-13 21:34] codingfred commented on #1346
After looking at the code, currently `JasonMapper.kt` does nothing more than to get the mapper from the contexts attribute-map with the internal `JSON_MAPPER_KEY`. For me personally it would be cleaner to add a method to the Context class (`ctx.jsonMapper()`) than use a second class to get it out of the context/app.

Regarding my second request I think it would be better just to add a `stream` met

[2021-08-13 21:45] mattwelke commented on #1278
Does the Javalin project have a concept of official plugins? Your plugin may deserve more legitimacy than merely being a 3rd party plugin. You're right that there isn't a huge interest in Kotlin coroutine Javalin, but there is some interest. And I bet that among those who are interested, they'd prefer using an official plugin if they could.

[2021-08-13 22:11] dzikoysk commented on #1278
Kind of through https://github.com/javalin. Probably the organization may find more attention when #1297 will happen. Anyway, that's still part of my research as a part of Reposilite project and its playground repository as mentioned above, so I don't think it could be used as an official plugin - it uses, and probably will use even more, various non-common extensions such as e.g. [expressible](ht

[2021-08-14 10:02] #1340 closed

[2021-08-14 10:14] tipsy commented on #1342
This would be nice :)

[2021-08-14 10:15] tipsy commented on #1344
I agree that it would be nice, but it really has no benefit that I can think of, so I can't prioritize to do this myself.

[2021-08-14 10:20] tipsy commented on #1278
No, but it's something I want to look into after releasing Javalin 4.

I agree with @dzikoysk here, I think issues (or discord) are better than Discussions. We don't have the amount of traffic that justifies introducing it, IMO.

[2021-08-14 11:30] dzikoysk commented on #1344
I'm posting this more like a future goal, I don't feel it's something that has to be done right now -especially during the release cycle of 4.x. It might be something addressed during the regular development phase of 4.x or 5.x

[2021-08-14 11:31] dzikoysk commented on #1342
I'm still working on this ContentType class from my rfc, so I still need a while. I'll try to PR this as I feel it's done and you'll see what part of this class you'd like to see in Javalin.

[2021-08-14 11:33] tipsy commented on #1342
There's no hurry from my side, this could be introduced after 4.0.

[2021-08-15 21:24] dzikoysk opened #1347 "Preserve order of registered plugins"
Plugin API implementation uses HashMap to keep registered plugins:

https://github.com/tipsy/javalin/blob/4c4f8a45ba44ff59d632fd96cf9152e8680af04c/javalin/src/main/java/io/javalin/core/JavalinConfig.java#L67

It means that at this moment the order of registered plugins is random and we can not rely on it. It's quite problematic when we have plugins that may depend on each other (e.g. OpenApiPlugin

[2021-08-15 22:02] #1347 closed

[2021-08-16 12:53] codingfred commented on #1346
I've browsed the sources (`SseClient.kt` & `Emitter.kt`) and for the streaming of Data to a SseClient it might be something like this:

[code]
I do not have much experience with kotlin therefore I only post this little code snippet instead of a full pull request.
Another thing I noticed, is that in the current emit method the eventId, eventType & data are put input a `StringBuilder` (even line by

[2021-08-17 04:51] Nachtfeuer commented on #1330
Starting Javalin at port 0 (random port mode) was the anwer. Thanks. So I still can use the Unirest library.

[2021-08-17 07:18] tipsy commented on #1330
Happy to hear that!

[2021-08-17 08:37] dkindler commented on #1337
+1

[2021-08-18 13:53] #1342 closed

[2021-08-18 14:25] tipsy commented on #1346
Thanks @codingfred. You were missing a `print("data: ")`, which I added, before removing the old function:

[code]

[2021-08-18 14:41] tipsy commented on #1346
What do you think about this https://github.com/tipsy/javalin/pull/1352 ?

[2021-08-18 20:13] tipsy commented on #1337
@GitRowin @dkindler https://github.com/tipsy/javalin/pull/1353

[2021-08-19 05:37] louis-manabat opened #1354 "Setting up a sessionAttribute or cookie after logging in"
Hello there!

I know this is a very trivial and odd question to ask, but what is the process of setting a sessionAttribute or cookie when logging in Is successful. I am currently making a simple web app that registers or logs in a user (which is connected to a MySQL database). I have gotten most of the back-end code sorted but the session-based stuff when logging in is established.

I have gone th

[2021-08-19 08:24] tipsy commented on #1354
The session isn't strongly related to the login. A session is established on the first request to your server, this is the same session the user will be using if they log in.

Once the user submits their credentials, you set a flag in their session-attributes, for example `ctx.sessionAttribute("loggedIn", true)`, or  `ctx.sessionAttribute("user", yourUserObject)`. You can then check for the presen

[2021-08-19 09:34] #1354 closed

[2021-08-19 09:35] louis-manabat commented on #1354
That makes so much more sense. Thanks a lot for that!

[2021-08-20 00:35] dzikoysk opened #1356 "Support Context.wildcard() as a cleaner alternative to removed splat API"
Provide a method that catches content of `**` (#1349). In Javalin 3.x we could use wildcards and splats api to support both variants through the same handler:

Expected behaviour:

[code]

Javalin 3.x:

[code]

With a new routing introduced in Javalin 4 it is no longer possible and to achieve similar result we need to:
1. Register two standalone handlers, or
2. Use `**` operator and then extract t

[2021-08-20 09:06] tipsy commented on #1356
[code]

This doesn't pass on the 3.X branch either.

[2021-08-20 09:58] #1346 closed

[2021-08-20 12:31] dzikoysk commented on #1356
Resolved with named parameter `<parameter>` and `Context.pathParamMap("parameter") ?: ""`

[2021-08-20 12:31] #1356 closed

[2021-08-21 18:48] IvanPizhenko commented on #1270
@tipsy we are on the v3.13.10 now, and I don't think we can use v4 until stable release. Can this fix be included into v3.13.11?

[2021-08-21 19:13] tipsy commented on #1270
@IvanPizhenko The change is just a log message fix, what is the problem?

[2021-08-21 20:45] IvanPizhenko commented on #1270
Yes, that's true, but without this fix our application prints out wrong error message, and that's what we'd like to fix and that's why @Jerbell posted this ticket.

[2021-08-21 20:59] tipsy commented on #1270
I don't really understand how port collisions is part of your app design, but if you make a PR to backport this to 3x i can release it. I'm focusing on 4x now (we're currently in the release candidate stage).

[2021-08-21 21:02] IvanPizhenko commented on #1270
That's good news. When are you expecting to publish a 4.x stable version?

[2021-08-21 21:04] tipsy commented on #1270
The planned date is September 12th :)

[2021-08-21 21:45] IvanPizhenko commented on #1270
ok, decided to post a PR #1257

[2021-08-21 22:06] tipsy commented on #1270
Thanks, I'll release it now.

[2021-08-21 22:19] tipsy commented on #1270
Should be out now @IvanPizhenko !

[2021-08-22 04:17] IvanPizhenko commented on #1270
Thank you @tipsy !

[2021-08-23 01:13] snsyzf opened #1358 "Request or Response fields add OpenApi annotations"
Request or Response object fields add OpenApi annotations

[2021-08-24 07:08] s3563914 opened #1359 "Using Context.redirect() with the "/" at the begining of the path will cause infinite redirection"
**Actual behavior (the bug)**
When I used `context.redirect("guest/login")`, infinite redirection happened.
The images below show how infinite redirection bug happened when I redirect from "member/main".
![Screenshot from 2021-08-24 15-49-31](https://user-images.githubusercontent.com/68942430/130572268-c753d6db-0f28-4f8a-8fbb-7455a48772f3.png)
![Screenshot from 2021-08-24 16-52-09](https://user-im

[2021-08-24 07:46] tipsy commented on #1359
This is expected (and correct) behavior.

If you open your inspector tools here in this GitHub issue and type `location.href = "/test"`, you'll be redirect to `https://github.com/test`. If you type `location.href = "test"`, you will be redirected to `https://github.com/tipsy/javalin/issues/test`.

[2021-08-24 07:47] #1359 closed

[2021-08-27 09:15] CodeMaven opened #1360 "PrecompressingResourceHandler.resourceMaxSize = newMaxSize"
Hi,
I'm using Javalin with Java and Brotli compression. I'm getting the following warning:
 WARN io.javalin.Javalin - Static file '/static/js/11.f694cbc5.chunk.js' is larger than configured max size for pre-compression (2097152 bytes).
You can configure the max size with `PrecompressingResourceHandler.resourceMaxSize = newMaxSize`.

It's not clear how I set that resourceMaxSize. The field is not s

[2021-08-27 10:39] #1360 closed, assigned to nobody

[2021-08-27 12:56] CodeMaven opened #1361 "Unable to add custom mime type - ("java.lang.IllegalStateException: contentType must not be null")"
**Actual behavior (the bug)**
When serving up a static page, using compression, with an extension that does not have a default mimeType (i.e. md) associated with it an exception is thrown (java.lang.IllegalStateException: contentType must not be null).  Associating the extension with a mime-type does not help.
[code]
**Expected behavior**
When the mimeMapping is added the .md file should download

[2021-08-27 15:37] dzikoysk opened #1363 "[cleanup] Remove OpenApi codebase from main module"
At this moment the main `javalin` module contains part of the `javalin-openapi` implementation:

* https://github.com/tipsy/javalin/blob/master/javalin/src/main/java/io/javalin/plugin/openapi/annotations/AnnotationApi.kt

The only reason why it exists is probably this class:

https://github.com/tipsy/javalin/blob/8990bb23ce6907aecd42338d8f7f88abf898633d/javalin/src/main/java/io/javalin/core/util/R

[2021-08-27 17:17] #1363 closed, assigned to nobody

[2021-08-27 20:30] balage1551 opened #1365 "Using Vue3 with 4.0"
I migrate to Vue 3 and can't make it work, and the documentation I've found is for Vue2.
The same time I moved to 4.0 which solved, but changes the way root path is defined.

As Vue3 uses application, the component registration is different as well.

My main `layout.html` looks like (coming from Vue2):

[code]

While I register my Vue root directory:

[code]

I have a simple route definition:

[co

[2021-08-27 22:34] #1365 closed, assigned to nobody

[2021-08-28 06:53] balage1551 opened #1366 "Palceholder for Vue3 application name on component definition"
**Describe the feature**
It's a minor issue, but could be solved quite easily (only a replace).
In Vue3 all global components should be registered on the application instead of on a global object (Vue2).
This lead to welding the application name into the component definition:

[code]

This cause tight coupling and severely damage the easy reusibility of the component and makes renaming the app har

[2021-08-28 07:44] tipsy commented on #1366
The layout file isn't part of the plugin, so I'm not sure what you are proposing. Do you want to change the tutorial/example, or the JavalinVue plugin?

[2021-08-28 07:54] balage1551 commented on #1366
To tell you the truth, I don't understand your question.
Simply said, now, when using Vue2 the name of the application should be explicitly used in several times (both in JavalinVue plugin and in Vue component/layout file.

I propose, that when the HTML file is composed from the vue files (taking the layout.html and injecting the @routeComponent, te @componentRegistration, etc), you should inject

[2021-08-28 07:59] balage1551 commented on #1366
To be exact, add **one more** replace here:

@VueComponent
[code]

[2021-08-28 09:22] tipsy commented on #1366
Thanks @balage1551. I haven't used Vue3 yet, so I'm not sure of the implications of this. @TareqK, what do you think?

[2021-08-28 10:24] TareqK commented on #1366
How would this differ than you simply stating the name of your vue app is ```$vueApp```. The config already allows you do do this using the ```VueVersionConfig.vue3(string appName)``` method, and you can name your Vue App whatever you want - its just that the default is "app".

[2021-08-28 11:33] balage1551 commented on #1366
The only difference is when you use some components in several different projects (different apps). When you have to use the app name directly in the component vue file, when moving the component from one project to other, you have to rename the app in each copy of the file.
Even more problem when instead of duplicating the code (and causing modification anomaly), you make a lib (sub)project conta

[2021-08-28 11:42] balage1551 commented on #1366
And one more thing: to clarify your question: what I propose is to state the app name only in JavalinVue side once and let it inject on each place you use it. (Even within method code where you might refer to it.) And it is always better than stating it several places in the code.
It is a simple, string based injection, but gives great flexibility and reusibility for those, who need it.
But it doe

[2021-08-28 12:20] shafique-md18 commented on #1361
Hi @CodeMaven @tipsy
I have tried to reproduce the above exception but no exception is being raised while retrieving the file from the browser.

[code]
![image](https://user-images.githubusercontent.com/21313466/131217632-909cdf42-7190-42b4-ae13-cd1bef87f06e.png)

Am I missing something here?

Javalin version: 3.13.10

[2021-08-28 12:26] tipsy commented on #1361
@shafique-md18 thanks for having a look! You'll need to enable precompression too :)

[2021-08-28 12:33] TareqK commented on #1366
so basically, you want it to be consistent across all apps, and you do the rename of the variable?

I mean, for your particular use case, you can just use an ```after``` interceptor and just replace ever instance of the reserved variable in HTML - I dont know if its worth adding this for the niche case where you have library imports, since its a little against the spirit of JavalinVue - which is a

[2021-08-28 12:36] shafique-md18 commented on #1361
@tipsy How do I enable precompression in 4.0.0.RC2 ?

[2021-08-28 12:43] tipsy commented on #1361
You can enable it through the `StaticFileConfig`: https://javalin.io/future-documentation#staticfileconfig

[2021-08-28 14:32] shafique-md18 commented on #1361
@tipsy Maybe we can add the link to the future-documentation in the README.md ?

[2021-08-28 14:38] tipsy commented on #1361
Good idea @shafique-md18, I'll do it soon.

[2021-08-28 14:39] shafique-md18 commented on #1361
I was able to reproduce the exception using

[code]

Exception:
[code]

@CodeMaven Are you fixing this? Or should I work on it?
@tipsy

[2021-08-28 16:46] fuuqiu commented on #1193
It is really difficult to use it out of the box during use. After tossing for a long enough time, I decided to give up and use manual editing of yml to maintain swagger api documentation. I look forward to better support in the future. Open API is a very good idea. I hope that I will develop the interface as soon as possible in the evening. I hope that my colleagues can see my documentation for th

[2021-08-28 17:06] fuuqiu commented on #1193
Kotlin v1.4.20 can be used normally, V1.5.x does have many unexpected problems

[2021-08-28 18:23] tipsy commented on #1361
@shafique-md18 I think you can go ahead, it's rare for people to start working on a pull request without saying they will :)

[2021-08-29 05:44] shafique-md18 commented on #1361
@tipsy I didn't know that!
Actually, this is my first time contributing to opensource projects.

I'll submit a PR to fix this.

[2021-08-29 20:14] ManolisPapadospyridakis commented on #1109
Hi all, i am struggling to find an easy solution to for automatic reaload. So i have write a python script that do that.
Here (https://github.com/ManolisPapadospyridakis/ServerReloader) you can find the script. Feel free to use it. When you run the ServerReloader you pass 3 arguments 1. path to the src folder, 2. build tool command to compile and run the app 3. an interval for the next monitoring

[2021-08-30 17:31] TareqK opened #1369 "Primefaces Plugin for Javalin 4.X.X +"
So based on discussions in the discord server (and my personal needs for a project), id like to create a plugin for Javalin that allows one to use primefaces in their app. The main use case for this is semi-legacy projects that need to be migrated and mixed project teams that dont have the time to re-skill all members from J2EE to something else. The main "plugin" part is just importing Primefaces

[2021-08-30 18:24] tipsy commented on #1361
The merged PR fixed part of the issue - all files will be served no, but they might miss content type.

This goes for the non-precompressing handler too, though.

Do we need to fix "set custom mimetype" (for all types of handlers), or is it good enough that files are served? 🤔

[2021-08-31 09:24] shafique-md18 commented on #1361
I feel like its good enough for now.

Files are served properly for now. We should add support for 'custom mime types' only if it is going to be used.

[2021-08-31 09:47] tipsy commented on #1361
I agree with that. I'll close this now, then we can fix custom mime types if it's reported in the future.

Thsbkd again @shafique-md18!

[2021-08-31 09:47] #1361 closed

[2021-08-31 14:57] shafique-md18 commented on #1339
I'll work on this.

[2021-08-31 15:48] TareqK commented on #1369
I Have started work on it here : https://github.com/TareqK/javalin-primefaces

[2021-09-01 20:05] tipsy commented on #1366
Thanks for having a look @TareqK.

I'm still struggling with following this. @balage1551, do you want to use `$vueApp` as a special keyword that will be replaced with the configured name?

[2021-09-02 11:26] balage1551 commented on #1366
Sorry, I'm not sure I can make my proposal clearer than I did above. But I'll try.

**Problem:**
This is a problem for those who use this library for several smaller projects not a single, huge UI.
In Vue3, the components are created on application level, meaning the each component vue file contains the name of the application. This is not a problem, as long as the component is dedicated to a sing

[2021-09-03 14:03] #1344 closed

[2021-09-03 16:15] wilerson commented on #1329
I'm getting a `NoClassDefFoundError` due to the usage of `prefixIfNot` in https://github.com/tipsy/javalin/blob/ebb1839462b3dba06cf7ababe01232410a6d5a8e/javalin/src/main/java/io/javalin/plugin/metrics/MicrometerPlugin.kt#L50 .

Things work if I add `kotlin-compiler-embeddable` to my classpath , but I don't think that's an intentional dependency.

[2021-09-03 23:09] tipsy commented on #1329
@wilerson maybe you're using Kotlin 1.3 or 1.4 ?

[2021-09-04 10:41] wilerson commented on #1329
Nope, 1.5. `prefixIfNot` is in the `compiler` package: https://github.com/JetBrains/kotlin/blob/bb3f55dec2c6370eecc1ab1a21b2c9161e899ba6/compiler/util-io/src/org/jetbrains/kotlin/util/Util.kt#L28

[2021-09-04 11:06] tipsy commented on #1329
Nice catch, thanks. Will fix!

[2021-09-04 16:30] tipsy commented on #1366
Thanks for explaining @balage1551!

Yeah, this was part of what confused me, all the layout macros use `@`.

Isn't this kind of enforcement actually a good thing?

I don't mind the change itself, but the context in which this will be useful is quite complicated IMO, and I think it will be hard to explain the functionality in the documentation. If it can solved by using the same name globally, that

[2021-09-04 18:03] #1339 closed

[2021-09-04 18:11] shafique-md18 commented on #1235
I'll work on this.

[2021-09-06 12:40] vkolomeyko opened #1375 "Support of OSGi packaging"
Currently Javalin release does not seem to be shipped with OSGi Jar.

On the other hand, many libraries these days which have OSGi artefact. E.g. [Jetty OSGi](https://search.maven.org/artifact/org.eclipse.jetty.osgi/jetty-osgi-project/10.0.6/pom).

Are there any plans to ship OSGi artefacts for Javalin?

Thanks,
Viktor

[2021-09-06 13:36] tipsy commented on #1375
@vkolomeyko There are no plans - I'm not sure what this would entail.

[2021-09-06 16:08] vkolomeyko commented on #1375
Thanks for your reply @tipsy.
Adding OSGi artefact to Javalin which exports every package should not be difficult, I may try to PR this change it later on for version 3.x.
If we would want to restrict what we are OSGi exporting, that might require a bigger surgery into Javalin's package structure, which can be done independently later.

[2021-09-06 17:31] tipsy commented on #1375
Any particular reason you want to go for v3? Version 4 is very close to release.

[2021-09-07 07:18] vkolomeyko commented on #1375
We have an existing OSGi application which is using Javalin v3. So once I have OSGi-enabled Javalin v3 distribution it should be relatively easy to test with it.
Of course, it would be then possible to forward port this OSGi improvement into v4 as well.

[2021-09-07 08:03] Samrose-Ahmed commented on #1174
I'm currently using this with AWS Lambda. I posted a comment here (https://github.com/awslabs/aws-serverless-java-container/issues/425#issuecomment-912241667) on how I got it to work pretty simply with https://github.com/awslabs/aws-serverless-java-container, which is one of the popular AWS Lambda servlet adapters.

[2021-09-07 10:32] tipsy commented on #1174
That looks very nice @Samrose-Ahmed - would you like to contribute this as a module to Javalin?

[2021-09-07 11:38] dzikoysk opened #1376 "Provide a possibility to mute Javalin startup messages"
It's nice to see startup messages provided by Javalin by default, but it's kinda problematic for apps that somehow want to customize an output:

![image](https://user-images.githubusercontent.com/4235722/132337895-89a8de7c-d5e1-486a-9253-1d7c6a149a9e.png)

We can mute Jetty with `JettyUtil`:

[code]

But for Javalin we can only disable whole logger:

[code]

Well, that's not exactly what we want t

[2021-09-07 12:50] dzikoysk opened #1377 "Improve exception handling in server startup"
In general it's not a good practice to use generic exceptions like `Exception` or `RuntimeException`. It doesn't really tell much about the error and is hard to catch, because handling has to look like this:

https://github.com/tipsy/javalin/blob/3181cff1378d969efe149581d554797ea1f42450/javalin/src/main/java/io/javalin/Javalin.java#L180

Affected areas:

https://github.com/tipsy/javalin/blob/3181c

[2021-09-07 13:20] tipsy commented on #1376
Good idea. This would also be nice in the internal test suite, where I sometimes need to enable the logger manually. Would you like to submit a PR?

[2021-09-07 13:21] tipsy commented on #1377
Feel free to improve this :)

[2021-09-07 13:56] dzikoysk commented on #1376
I'll take a look at it a little bit later as I think it requires some extra research to see how it works under the hood, especially that Jetty also lately logs some stuff at startup.

[2021-09-07 15:48] #1377 closed

[2021-09-07 17:53] esemeniuc opened #1379 "How to hot reload certificate information in Javalin?"
Hi everyone!
I saw Jetty has hot reloading for [certificates](http://www.eclipse.org/jetty/documentation/jetty-11/operations-guide/index.html#og-module-ssl-reload), however adding ```jetty.sslContext.reload.scanInterval=1``` to my config, but it doesn't look like it does anything.

Currently I set up ssl connections like this:
[code]

[2021-09-07 18:12] tipsy commented on #1379
The config option you found (probably) works for non-embedded Jetty. Try searching for how to do it using embedded Jetty?

[2021-09-07 20:55] esemeniuc commented on #1379
I couldn't find anything for embedded jetty, but my workaround is to use a file watch monitoring like this:
[code]

[2021-09-08 09:42] duncte123 commented on #1376
you should just be able to disable the `io.javalin.Javalin` class in your logger configuration

[2021-09-08 09:59] duncte123 opened #1380 "Default before handler in route group is not triggered by base route"
**Actual behavior (the bug)**
This seems to happen because the default before handler is `/*` instead of an empty string, although this works for any routes coming after the base route it does not trigger for the base route and would require a second before handler.

**Expected behavior**
I expect the default before handler to just work for all routes in a group, for example, to protect a lot of r

[2021-09-08 10:55] dzikoysk commented on #1376
Well, there is a difference between removing fancy messages and muting the whole logging level imo.

The problem with second one is that until you somehow in the future investigate changes in Javalin sources, you won't even know if something changed and it's useful.

Also, something maybe less important in this case, is that the possibility of configuring your logger is mostly up to the implementa

[2021-09-08 11:28] tipsy commented on #1380
This one is hard. It's more of a design decision than a bug. You can do

[code]

To achieve what you want.

[2021-09-08 17:13] vkolomeyko commented on #1375
I have created **Draft** PR: https://github.com/tipsy/javalin/pull/1382
I will do more testing later with our application.

@tipsy - since this is my first contribution, could you give your approval for workflows to be executed on this PR?

[2021-09-10 09:39] duncte123 commented on #1380
It's not as "pretty" but it works like a charm, thank you for the quick response

[2021-09-10 09:39] #1380 closed

[2021-09-10 11:54] vkolomeyko commented on #1375
@tipsy PR: #1382 is ready for review.

[2021-09-12 05:33] Samrose-Ahmed commented on #1174
Sure, I'll try to make time to make a PR.

[2021-09-13 14:42] breif opened #1384 "Upgrade to latest version of Jetty"
**Describe the feature**
I'd like to request that Javalin upgrades to the latest version of Jetty. This is to resolve several CVEs that are found in the current version that it's using.

**Additional context**
This would help to enable the use of Javalin in production deployments

[2021-09-13 14:43] tipsy commented on #1384
@breif would you like to make a PR?

[2021-09-13 14:59] breif commented on #1384
@tipsy if I create a branch and upgrade Jetty, what's the best way to run all the tests and verify that it didn't break anything?

[2021-09-13 15:17] dzikoysk opened #1385 "Implementation of future request handling is not thread-safe and may lead to unexpected behaviours"
A few days ago I was reading async part of request handling. I've found up an interesting fact - result future is always accessed through `resultFuture()` method call on mutable context. Well..., finally found some time to confirm these observations - the async context implementation is not thread-safe and may lead to some improper behaviors, especially in high-load environments.

**What's the pro

[2021-09-13 15:33] tipsy commented on #1385
There isn't any further request handling that touches the future though? The next line is a return:

[code]

Do you want to move the `val future = ctx.resultFuture()!!` out of the timeout listener?

[2021-09-13 15:34] tipsy commented on #1384
Doing `./mvnw test` should be enough :)

[2021-09-13 15:43] dzikoysk commented on #1385
There is, the whole source code under this `if` condition is considered as a further request handling.

[code]

Pulling this result out of field to local variable might be considered as a quick hot fix.

[2021-09-13 15:45] tipsy commented on #1385
Quick fix?: https://github.com/tipsy/javalin/pull/1386

[2021-09-13 15:47] tipsy commented on #1385
I'm happy you found this (and surprised it hasn't been found before).

[2021-09-13 15:49] dzikoysk commented on #1385
Yeah, should be fine to cover this case with result handling in this method. Obviously, I'm not sure if there is other affected variable that could behave the same way in concurrent environment, but now it's at least guaranteed to complete the request :)

[2021-09-13 15:55] tipsy commented on #1385
I've merged https://github.com/tipsy/javalin/pull/1386 - should I close the ticket, or do you want to do more digging?

[2021-09-13 16:29] #1385 closed

[2021-09-13 16:29] dzikoysk commented on #1385
I'll let you know in case of any extra issues, as always :)

[2021-09-13 16:33] tipsy commented on #1385
Thank you ❤️

[2021-09-15 14:32] #1329 closed

[2021-09-15 14:33] #1300 closed

[2021-09-15 14:34] tipsy commented on #1300
https://javalin.io/blog/javalin-user-survey-2021

Thanks to everyone who answered !

[2021-09-17 10:46] spinscale opened #1390 "How to stop processing all handlers in the chain?"
**Describe your question** I'm currently working on a SAML/Okta based login using Javalin. Using javalin-pac4j this is supposed to work, but I encountered a special case due to SAML configuration on the identity provider side.

The basic idea is to have a security handler that checks if the user is logged in. If that is not the case you get redirected to the identity provider (Okta, or another SAM

[2021-09-17 10:57] tipsy commented on #1390
Not necessarily, you can throw a `SpinscaleException` and make an exception handler that catches that and renders your HTML.

[2021-09-17 11:01] tipsy commented on #1390
It has come up a few times though, maybe we should make it possible to halt execution in before handlers 🤔

[2021-09-17 11:09] spinscale commented on #1390
How simple :-)

To share my solution for others

[code]

then `ResponseNoopException` can be thrown in any before handler and response codes and content will stay as is.

Adding a helper to halt execution might be a good idea, as this case is hard to fix in libraries otherwise (like javalin-pac4j).

[2021-09-17 14:16] spinscale opened #1391 "SEE events are missing a newline on send"
**Actual behavior (the bug)**
SSE events are not parsed by the browser because of a missing newline. In Chrome devtools SSE events do not show up.

**Expected behavior**
SSE events should show up in the Chrome Dev-Tools like this

![image](https://user-images.githubusercontent.com/667544/133796985-b9246b84-d204-4ef0-8669-24e374b10072.png)

**To Reproduce**

I have a setup like this with a list of

[2021-09-17 14:16] spinscale commented on #1391
Ugh, fixed in https://github.com/tipsy/javalin/pull/1388 - ignore me... sorry for the noise

[2021-09-17 14:16] #1391 closed

[2021-09-18 06:36] HeerKirov opened #1392 "json response encoding in UTF-8 is incorrect"
**Actual behavior (the bug)**
When I use `Context.json()` to set result encoding in UTF-8, response is incorrect.
For example, `ctx.json("你好")` returns `??`.

**Expected behavior**
Response should be `你好`.

**To Reproduce**
[code]
then
[code]

**Additional context**
My javalin version is `4.0.0`.

I noticed that the implementation of `Context` is:
[code]

If I change code to `ctx.contentType(Conte

[2021-09-18 10:22] tipsy commented on #1392
That's strange @HeerKirov. The `result` method doesn't do anything other than set a result variable (it's not written until later), while the `contentType` method sets the content type immediately. It shouldn't matter if the `result` call is before or after.

In the test suite, we do have `app.get("/json") { ctx -> ctx.json("白菜湯") }` and `assertThat(http.getBody("/json")).isEqualTo("白菜湯")`, which

[2021-09-18 12:58] HeerKirov commented on #1392
I may have found the problem. Jetty's character encoding depends on `org/eclipse/jetty/http/encoding.properties`, and Javalin overwrites this file. But if the project is a java module, it fails. When I remove `module-info.java`, response is correct.

[2021-09-18 16:53] IvanPizhenko opened #1393 "Javalin 4: Construct validator from typed object"
**Describe the feature**
In Javalin 3 `Validator` could be constructed from typed object:
[code]
In Javalin 4 the only way to construct `Validator` is to convert from string to typed object.

**Additional context**
This makes harder to convert code from Javalin 3 to Javalin 4, when Javalin's `Validator` used for validation of existing typed objects. To migrate such code, I'd not like to convert ba

[2021-09-18 18:22] tipsy commented on #1393
@IvanPizhenko You're welcome to submit a patch, but I can't guarantee it will be merged. There was quite a lot of cleanup related to the validation for v4, which moved type conversion to 1 location. It might make sense to split the current implmentation into type-conversion and validation though, and then you could maybe use the validation part directly?

[2021-09-18 18:39] IvanPizhenko commented on #1393
@tipsy I've submitted PR. I actually did sort of what you talk about above.

[2021-09-18 18:53] IvanPizhenko commented on #1393
So please check this PR, and I hope this can be merged.

[2021-09-18 19:16] Playacem commented on #1392
Seems related to this old issue: https://github.com/tipsy/javalin/issues/259
Jetty only supports Java modules with Jetty 10+, so we might have to upgrade to Jetty 10 to fix this issue for Java modules users.

[2021-09-19 20:25] tipsy commented on #1392
We can't upgrade to Jetty 11 until Javalin 5 though.

So calling `contentType` first didn't have any effect after all?

[2021-09-19 20:26] tipsy commented on #1379
@esemeniuc seems like a good enough solution !

[2021-09-19 20:26] #1379 closed

[2021-09-19 20:27] tipsy commented on #1384
There doesn't appear to be any newer version for Jetty 9, so I will close this.

[2021-09-19 20:27] #1384 closed

[2021-09-19 20:28] #1358 closed

[2021-09-19 20:31] tipsy commented on #1393
@IvanPizhenko The class hierarchy is getting a little out of hand here. Could this be solved simpler?

[2021-09-19 21:42] IvanPizhenko commented on #1393
Good question. But I think I have an idea. Will make another PR.

[2021-09-19 22:34] IvanPizhenko commented on #1393
@tipsy Please look at #1396

[2021-09-20 11:58] HeerKirov commented on #1392
Calling `contentType()` will set `res.contentType`. When call `json()`, `res.characterEncoding` gets character encoding by `res.contentType`. so it does have an effect.

[2021-09-20 14:21] tipsy commented on #1392
Aha.. So it's because it's being called twice. Interesting.

[2021-09-20 14:45] asad-awadia commented on #1278
the ctx.result(future) already allows using suspending functions using the jdk future coroutine library

[2021-09-20 15:16] dzikoysk commented on #1278
As I said before using, this is what we're currently testing with plugin api - [javalin-rfcs :: javalin-reactive-routing](https://github.com/reposilite-playground/javalin-rfcs/tree/main/javalin-reactive-routing). Unfortunately only http routes can be covered with this, as other handlers such as before & after does not support async requests (even if it is exposed in Context in these routes). Anoth

[2021-09-20 15:21] tipsy commented on #1172
You're a bit late 😅

[2021-09-20 16:47] asad-awadia commented on #1172
Yeah :((

[2021-09-21 07:13] CodeMaven commented on #1361
Hi, sorry for the late chime-in... Yes, I just don't have time right now ;) I would love to contribute but at this point I'm too full-out working on work so I am just able to raise the issues. Thank-you guys for your fantastic work here!

[2021-09-23 08:29] siebl opened #1398 "Starting and stopping server seems to have asynchronous parts"
I have a pretty simple Javalin server with some GET and a single POST handlers. For these handlers I have a Unittest which starts a new Server for each test. Isolated the setup looks like this:

**MyTest.java:**
[code]

**MyUnittest.java:**
[code]

```testC()``` will fail with a ```org.apache.http.NoHttpResponseException```. However, there are a couple things I can do to make this test run:

**Sle

[2021-09-23 12:35] dzikoysk commented on #1398
Not sure what's your full setup, but using JUnit 5, Javalin 4 and latest version of Unirest it works just fine:

![image](https://user-images.githubusercontent.com/4235722/134506463-1b1d62c4-c703-42dd-a4d0-40a0a126edc3.png)

If your server wouldn't start after `start()` call, you should receive sth like this:

[code]

Anyway, the `start/stop` is in fact blocking until the Jetty server won't bind p

[2021-09-23 18:23] siebl commented on #1398
That is interesting!
I was using JUnit 5.7.2 and unirest-java 3.11.09 (konghq). Upgrading to Javalin 4.0.0 does not change the behavior and the test still fails. However going to unirest 4.0.0-RC1 will run the test successfully.

This is especially interesting, since a coworker found out that starting the server on port 0 (random free port) allows the test to run successfully.

I do not want to up

[2021-09-23 19:00] dzikoysk commented on #1398
Not really, but using the the same port, especially these from 0-1024 is highly not recommend imo. First of all, a test that boots http server is considered more like an integration test rather than unit test, were you should test your business logic without booting any infrastructure element. Speaking of integration tests, I may recommend implementing custom runner for your http server where each

[2021-09-24 05:59] siebl commented on #1398
Thanks for the input @dzikoysk. I agree, that testing handler and server in the same test has integration characteristics and will bring it up in my team. However, I think it is a trade off we will continue to do. It seems redundant to me, to test the ```io.javalin.http.Context``` object edited by each Handler and the correct registration of these Handlers on the Javalin server. Since these handle

[2021-09-24 05:59] #1398 closed

[2021-09-24 19:20] #1375 closed

[2021-09-24 20:53] dzikoysk opened #1402 "Support before & after future handling"
Because in:

* https://github.com/tipsy/javalin/issues/1385

We've found out that Javalin is vulnerable to race conditions in async context, the problematic servlet has been reimplemented in #1397. The reimplemented servlet should be able to handle futures specified by user through `ctx.future(cf)` API in any handler. That's something what was also requested for Javalin 4, so there are people that

[2021-09-28 20:18] #1393 closed

[2021-09-29 02:59] Cross-17 opened #1405 "ctx cannot be resolved"
Just started with the basic tutorial
The compiler keep complaining:"ctx cannot be resolved
![EFB05F0D-5DD6-49b8-B93F-73BAD0C38524](https://user-images.githubusercontent.com/8266365/135195530-a7e80657-0227-4dab-b9ef-f328c2c09583.png)
"
![FFA6F833-94D2-4697-845B-969788607046](https://user-images.githubusercontent.com/8266365/135195536-dc1a3385-a26a-461d-895f-b45644f273c3.png)

env: ubuntu 20.04, jdk

[2021-09-30 14:40] dzikoysk commented on #1405
It's probably problem with your cache/corrupted jar archive/literally everything, but it's not quite connected to Javalin itself. Are you able to reproduce this issue in other project/other IDE like IntelliJ?

[2021-09-30 15:25] tipsy commented on #1405
My guess is that the project is set to language level below 8

[2021-10-01 10:11] patrice-conil opened #1406 "OpenAPI : generate server from spec"
**Describe the feature**
Openapi-generator provides generators for vertx, spring, ktor ... but not for javalin.
For those who write specs first ... it's a bit frustrating and prevents them from migrating to javalin
;-)
Patrice

[2021-10-01 16:17] dzikoysk commented on #1405
Might be closed I think

[2021-10-01 16:31] #1405 closed

[2021-10-01 16:32] tipsy commented on #1406
Shouldn't this be a feature request in the openapi generator project? 🤔

[2021-10-04 07:59] patrice-conil commented on #1406
From a technical point of view ... I agree with you.
But I think contributors of javalin could provide the more accurate "templates" to do that and btw would facilitate the javalin adoption.

[2021-10-07 07:53] serii833 opened #1409 "Serving a bunch of requests ends up in java.lang.OutOfMemoryError."
Serving a bunch of requests ends up in java.lang.OutOfMemoryError.

After sending about 80k requests in approximately 10 minutes (~136 req/sec) there is a large heap grow which ends up in OutOfMemoryError.

When requests has no Accept-Encoding: "gzip" header everything works fine.
But as soon as I add Accept-Encoding: "gzip" java heap starts to grow and jvm eventually crashes.

Here is a heap dump

[2021-10-07 08:55] tipsy commented on #1409
That's interesting, could you compare this to version 4.0.0? There was a recent commit that intended to fix a memory leak in gzip, but maybe it had the opposite effect?

[2021-10-08 14:07] lankydan opened #1411 "Logging handlers as they are added"
**Describe the feature**
Log the handler type and path of a handler for each added handler and include this as part of `enableDevLogging`.

**Additional context**
I think this will be beneficial for developers that are near the beginning of writing their Javallin applications. Knowing that your handler is registered as expected is reassuring.

Furthermore, I was recently registering handlers in a

[2021-10-09 09:10] lankydan commented on #1411
Double checked this.

We would need to either give `JavalinConfig` a reference to `Javalin` or move `enableDevLogging` and the other logging methods in `JavalinConfig` up to `Javalin`.

I don't mind do this, but I'm not sure either of the options above sound right.

[2021-10-10 07:55] anju-git opened #1414 "attribute components.schemas.Event.exampleSetFlag is unexpected"
**Actual behavior (the bug)**
aused by: com.atlassian.oai.validator.OpenApiInteractionValidator$ApiLoadException: Unable to load API spec from provided URL or payload:
	- attribute components.schemas.Event.exampleSetFlag is unexpected
	- attribute components.schemas.UpdateEventRequest.exampleSetFlag is unexpected
	- attribute paths.'/{apiVersion}/events/{ID}'(patch).parameters.[ID].schemas.example

[2021-10-10 09:13] #1409 closed, assigned to nobody

[2021-10-10 17:54] tipsy opened #1416 "Document ContextResolvers"

[2021-10-11 13:26] Playacem commented on #1384
Upgrading to Jetty 10 or 11 would be a breaking change.

[2021-10-18 17:04] lankydan commented on #1411
Resolved by - https://github.com/tipsy/javalin/pull/1410

[2021-10-18 17:04] #1411 closed, assigned to nobody

[2021-10-25 23:05] rbygrave opened #1422 "Q: Support for queryParam() and formParam() with default values - removed in 4.x API"
Effectively #1291 introduces a breaking API change for `queryParam()` and `formParam()` that take a default value.

Previous API was:

[code]

I believe this now needs to use a Validator and needs to be written as:

[code]

Is that correct, have I missed something?

Noting that for people like myself that prefer external validation and are not interested in using Javalin Validation this API change

[2021-10-27 11:17] zugazagoitia opened #1424 "SSL/HTTPS as a feature"
Given the importance of SSL in the web today I strongly believe this should be a feature of Javalin, easily enabling SSL without the need to mess with the embedded Jetty server.

Also, we could make Javalin request a letsencrypt certificate automaticaly, enabling any user to trivialy, via a simple boolean option to fully enable ssl (as well as a domain string). This could easily be accomplished vi

[2021-10-28 05:20] quarasar opened #1426 "During body validation parsing exception is lost"
**Describe the feature**
During body parsing sometimes would be nice to provide for consumer which field exactly produced error. In e.g. Moshi json library in parsing exception provides nice path `Required value 'password' missing at $.profile.security` that can be processed or directly returned to consumer.

**Additional context**
Currently using `ctx.bodyValidator` root parsing exception is lost

[2021-10-31 09:49] tipsy commented on #1424
I'm not super comfortable being responsible for anything related to security, which is why I really like delegating this responsibility to Jetty. I'm fine with someone else taking ownership of this, but I wouldn't want it in the Javalin org.

[2021-10-31 13:41] dzikoysk commented on #1424
Keeping various 3rd party plugins within the Javalin organization doesn't mean you're responsible for them directly and it's all on you. It never works this way tbh. It's more about gathering all of it in one place to build consistent environment around the project as it's just easier for people to explore it.

[2021-10-31 14:06] pkkummermo commented on #1424
I'm inclined to agree with @dzikoysk , but I understand how @tipsy feels as well. Adding it to the org makes it more or less an "official" plugin, which can be interpreted as being more hardened than it might actually be.

However, HTTPS/SSL is a critical bit of serving APIs, so I'd love for it to be a part of the Javalin org due to both discoverability and ease of use.

[2021-10-31 14:32] dzikoysk commented on #1424
By moving such projects to organization you're mostly just creating an area to address some side problems officially, but it's also healthier for ecosystem as more people may not only find it out, but also contribute to it. I guess it's all about making a clear policy, like labeling this repos as 3rd party integration.

Speaking of the issue - I don't think it should be a part of main project, bec

[2021-10-31 15:34] tipsy commented on #1424
I guess it's just about labeling thing properly, and making someone other than me the maintainer of the repo.

[2021-10-31 16:29] tipsy opened #1428 "Project/org structure wishlist"
@dzikoysk has brought up this a few times, most recently in #1424 - We might want to move away from multi-module and over to multi-repo, which would make it easier to do access management.

[code]

[2021-10-31 16:30] tipsy opened #1429 "Upgrade to Jetty 11"
When moving to Jetty 11, a lot of code will have to be rewritten. If we are to move back to Java, this would be the time.

### Edit: This ticket contains some discussion on moving from Kotlin back to Java, but we have decided to not do that as part of the Jetty 11 change.

[2021-10-31 16:31] tipsy commented on #1429
Highly relevant for you @rbygrave :)

[2021-10-31 20:32] rbygrave commented on #1429
Yes. I'm watching and happy to participate. If there is interest in this there are some options/thoughts that could be considered with a move to Java like:
- More abstraction in the API (Context as an interface etc)
- Support the ability to target Jetty 11+, Undertow and JDK Http Server (~ lose SSE and Websockets when not using Jetty)
- More immutability after startup (e.g. not allowing routing ch

[2021-11-03 08:35] balage1551 opened #1431 "Using webjars: refering exported object without import"
I killed two days to figure out a feature, but I failed.
I use Javalin with Vue (version 2) and would like to use some additional modules. These modules are not available as vanilla CDN/UNPKG package, but they are available as webjars.

I figures out, so long, the following:

I added the webjar support to my Server:

[code]

I included the webjar in my dependency:

[code]

I imported the module in

[2021-11-03 13:49] tipsy commented on #1431
@balage1551 look in their docs for "How to use from CDN", the approach will be the same as for JavalinVue.

[2021-11-03 14:08] balage1551 commented on #1431
Thanks. As long as they give CDN support, you are right, but most of the time there is only NPM support. For npm, the webjars are good workaround, but still most of the time it states as I wrote above: import the component and then use it.

The problem is I can't **import** in JavalinVue `layout.html`.

So, again, I managed most of the problem, but I can't reach exported objects from webjar files.

[2021-11-03 14:12] balage1551 commented on #1431
I love Javalin, I like how it works, enjoy the DSL-like path declarations, the Vue support. But for Vue it is essential to allow use of third-party components and at the moment the requirement they can only be used when they offer vanilla CDN/unpkg support without modules (which is the minority of cases) this seems as a great restriction.

However, I have an idea I'll try soon and come back! ;-)

[2021-11-03 17:23] tipsy commented on #1431
The reason I suggested this is because `JavalinVue` works just like when you load Vue from a CDN. Libraries that has a demo that works with https://codepen.io, https://jsfiddle.net, will also work with JavalinVue. In my experience, most larger libraries do support this. For example Vuetify works with

[2021-11-04 09:04] balage1551 commented on #1431
You are right, the big libraries have CDN support. However, most of the one-component libraries offer only npm support. I was looking for some solution for using these components.
I lack the deep knowledge of the modern ES5+ module system, but I've found a half solution for the module problem. I have to tune this, but the mechanism is proved.

What I did is quite simple: i created a module `config

[2021-11-04 09:32] balage1551 commented on #1431
To give you an example for concrete success.

In my `layout.html` I added:
[code]

The `config-imports.js` is like this:
[code]

_Note: This is not a Vue component, but I could also register one here._

Finally, now I can use in my component:
[code]

I still work on how to handle modules with dependencies.

[2021-11-04 12:09] tipsy commented on #1431
Interesting, please keep us posted!

[2021-11-05 02:57] thomasboyt commented on #1422
Personally, I'm fine with the new syntax and didn't find it very hard to switch (https://github.com/thomasboyt/jam-buds/pull/97/commits/2d2f1409170995402a767818da389f8ff42097bb). That said, I absolutely think it should be pointed out in the migration guide - while it mentions the new `getOrDefault` and `allowNullable`, it does not mention the removal of `getOrNull()` or `queryParam(key, default)`.

[2021-11-05 18:40] tipsy commented on #1422
Added to docs!

[2021-11-05 19:32] #1416 closed

[2021-11-07 06:36] dQw4w9WgXcQ opened #1432 "Allow serialization/deserialization of top level null"
JsonMapper, Context#toJson(), etc. currently don't allow for the serialization/deserialization of top level null (they accept Any).  However, top level null is a valid part of the JSON spec and is sometimes a better representation compared to 204 or 404 when the receiving client is expecting json.

[2021-11-07 09:10] tipsy commented on #1432
I'm a little worried that we'd lose the benefit of the compiler warning here. This method hasn't accepted null in four years, and no one has brought it up before now.

[2021-11-08 05:40] Playacem commented on #1432
I never had the desire to serialize just `null`. As an Api consumer I'd rather have a 204 or an empty json object `{}` as a response.

[2021-11-09 09:31] moh-sushi opened #1433 "issue with CORS and custom context path"
By using the default context path (/) there is no cors problem.
If i use a custom context path for "backend" jetty, a cors problem occurs.
=> see https://github.com/moh-sushi/javalin-cors-example
(update to present javalin version has been done)

message from google chrome dev tools:
`Access to XMLHttpRequest at 'http://localhost/api' from origin 'http://localhost:8081' has been blocked by CORS po

[2021-11-09 19:29] MrThreepwood commented on #1428
I do generally like this idea, as it seems like it would help to maintain a good extensible API for Javalin. At this point, I don't think Javalin has to do that much. There's a lot of things I'd like to see have a default solution/better default solution, but I don't think Javalin itself needs to provide it, and instead could rely on 3rd party integration. I think this change would make that easie

[2021-11-10 10:42] moh-sushi commented on #1433
As forking from https://github.com/tipsy/javalin-cors-example, the config `JavalinConfig#enableCorsForAllOrigins()` is set.

[2021-11-10 15:04] lankydan commented on #1429
Curious about the move back to Java. What makes Java more appealing than Kotllin? Is it because the codebase is currently a mixture of Java and Kotlin (with the main code written in Java), so its easier to move to a whole codebase of Java?

Not saying its wrong, however I've done a similar evaluation at my work where we considered moving our public apis from Kotllin to Java; in the end we decided

[2021-11-11 08:16] dQw4w9WgXcQ commented on #1432
My service is split into 2 endpoint groups, /db/:col/:id and /api/:function-name.  To communicate null for endpoints in /api/ that don't easily conform to REST anyways, I decided to just respond with "null", 200, and a content type of json.  The reasoning being it simplifies client logic (no need to assert different content types or check for 204).  Serializers already deserialize "null" to null.

[2021-11-11 11:49] dzikoysk commented on #1432
Maybe just let Javalin know to use custom JsonMapper through configuration:

* https://github.com/tipsy/javalin/blob/79462236995c4b9279a91e9d4111abf819635bf3/javalin/src/main/java/io/javalin/core/JavalinConfig.java#L200

So now every object will be serialized using your implementation/configuration.

[2021-11-12 00:19] balage1551 commented on #1431
Finally, after lots of hesitation, I moved on.
Javalin is great and I love it, but my application needs some features conflicting with some of the philosophy of Javalin. Having the whole Vue app in Javalin required so much compromise and extra work, that I split the front-end and back-end.
The front-end is now handled by Vue CLI (in nodejs) which allows me to use SPA, router and any of the modules

[2021-11-12 00:19] #1431 closed

[2021-11-12 06:22] dQw4w9WgXcQ commented on #1432
I am using my own json mapper.  I want to avoid passing my own gson/jackson around to handle sending nulls or using a stub object or some other kind of work around to protect against NPE's when receiving.

Fundamentally, the issue is JsonMapper isn't fulfilling the full JSON spec by not supporting null.  Since JsonMapper isn't used directly often, I don't see what the issue is with adding null sup

[2021-11-12 11:22] cedriessen commented on #1392
As @HeerKirov mentioned: `Context.result(resultString: String)` relies in turn on `res.characterEncoding` to create the input stream from `resultString` (`resultString.byteInputStream(responseCharset())`) and if not set it uses the platform's default encoding which may be other than utf-8.
Calling `contentType(ContentType.APPLICATION_JSON)` first prepares the `Response` to yield the correct charac

[2021-11-12 14:07] spinscale opened #1434 "Mocking ctx.req for unit tests"
I am currently working on unit tests for handlers that mock away the `Context`. One part needs to access the underlying `HttpServletRequest` (`ctx.req.getParameterMap()`). However this seems to fail when running something like (simplified)

[code]

This fails on the last line with

[code]

Is there any mocking trick for the kotlin code using `@JvmField` annotation?

[2021-11-12 14:33] dzikoysk commented on #1434
You should probably take a look on:

* https://github.com/tipsy/javalin/issues/335

Context initialization is resolved by `ContextUtil.init(req, res)`, so the implementation is able to pick up the provided request.

---

Btw, kinda off-topic, but are you absolutely sure you want to use Mockito? In unit tests as in many cases it's just a bad practice. Your services should not really relay on the in

[2021-11-12 14:45] tipsy commented on #1431
Thanks for the update @balage1551, that sounds like a good solution. JavalinVue was developed with very simple projects in mind, so it makes sense to move to a standard frontend build :)

[2021-11-12 15:04] spinscale commented on #1434
Thanks a lot for the pointers, especially the`ContextUtil` one! I'm on java, so mockk is not an option...

I do consider it a difference if I need 1.5 seconds for a test or 100ms (four year old macbook) for a single test suite run in my UI, so there are definitely more tradeoffs than just a bad practice :-)

I am always all ears on how to solve certain aspects of a javalin app:

My app uses SAML a

[2021-11-12 15:58] dzikoysk commented on #1434
Well, this topic is quite huge as testing can be solved in multiple ways (probably that's why like 50% of Java talks references testing :P), but at least we can both agree that faking the responses using in-tests logic based on reflections is not that great.
I don't know your full scenario and possibilities, so I'll try to describe the pattern I find useful and which is used in many modern industr

[2021-11-13 07:47] balage1551 opened #1436 "Session handling when Javalin is only the back-end"
Sorry to bother you again, but I have only one open question left after I split my front-end and back-end.

It is session handling.
As long as I used Javalin for both side, I enjoyed the out-of-box session handling provided. I extended the context with some session specific fields (thanks to Kotlin extension properties and functions ;-)) and all worked well without any manual tweaking.
However, as

[2021-11-13 09:41] tipsy commented on #1436
You can still host deploy your backend and frontend code on the same Javalin server by using a static file handler and single page mode?

It seems simpler than the options you outlined.

[2021-11-13 09:48] balage1551 commented on #1436
As the final production, most probably Javalin will serve both. But for developing purposes I have to use the Vue CLI to serve front-end for it's wide range of support tools.
So I still looking for the above. Meanwhile I dug into a source and found a SessionHandler class which may be the place to find the key for option 1. There is a `_sessionCookie` (in compiled code) variable which holds the val

[2021-11-13 09:59] dQw4w9WgXcQ commented on #1432
I am using my own implementation for json, but I want to avoid passing the implementation around and use the JsonMapper for obvious reasons.

I'm not seeing why JsonMapper can't support nulls.  Top level null is valid json.  The api currently is capable of hinting null as non null (and throwing NPE) when receiving requests with a body of "null".

[2021-11-13 10:12] balage1551 commented on #1436
I'm almost there... :-)

I created a simple SessionManager of my own:

[code]

Then I uses it as sessionManager:

[code]

And it almost does what I wanted. When the first login, the post response nicely sends the correct cookie:

![image](https://user-images.githubusercontent.com/11457054/141614700-b03f8148-5177-45f0-bf06-2c29629defe6.png)

Also, when the next call happens, it sends the cookie bac

[2021-11-13 23:17] balage1551 commented on #1436
Finally, with a lot of research and try'n'die I figured out I was really almost there. Only one line I missed from login call. Let's stand here for others to learn:

[code]

Reason: AJAX calls only handles cookies when credentials: "include" is also there in the request.

Now it uses my own cookie and handles sessions correctly. (Still need some additional testing, but good so far. ;-))

[2021-11-13 23:17] #1436 closed

[2021-11-14 18:40] tipsy commented on #1436
Thanks for updating the issue with your solution @balage1551 - I labeled it as `INFO` and changed the title to better reflect the issue :)

[2021-11-15 09:09] spinscale commented on #1434
I think most of this is answered, so I'll close this one.

[2021-11-15 09:09] #1434 closed

[2021-11-18 00:48] rdiekema opened #1437 "Javalin fails to start on latest Loom Early Access Build"
**Actual behavior (the bug)**

Javalin fails to start when running on the latest Project Loom Early Access build.

[code]

**Expected behavior**

Javalin starts normally.

**To Reproduce**

Run Javalin with the latest preview build `18-loom+5-274` http://jdk.java.net/loom/

**Additional context**

The `getExecutorService` function is referencing the old method name for getting an `ExecutorService`

[2021-11-18 08:31] tipsy commented on #1437
Thanks @rdiekema! Would you like to submit a PR to fix this?

[2021-11-18 13:35] rdiekema commented on #1437
Sure, since Loom is preview and the API still subject to change, is the intent to support just the latest preview build or any build returning an `18-loom` version string?

[2021-11-18 14:50] tipsy commented on #1437
I think just the latest preview makes sense. When it's official we won't have support for the earlier previews.

[2021-11-18 15:05] pkkummermo commented on #1437
A quick fix during the preview timeline, would be to check on multiple methods and just check if one of them exists. If there's no match, throw an Exception with a link to either this issue or the Javalin repo :)

[2021-11-21 15:29] tipsy opened #1439 "Include java time in Javalin bundle"
Trying to serialize an instant now will result in

[code]

Could just include it?

[2021-11-21 18:22] Playacem commented on #1433
@moh-sushi Try `http://localhost:80/api/` with a trailing slash on the client side.

The above error is caused by a redirect without cors headers. The redirect tries to redirect to the trailing slash version of the url.
The redirect is caused by jetty as far as I can tell. Adding logging to a copy of the cors plugin never caused any log messages until I switched the client over to the trailing sla

[2021-11-25 05:53] Jerbell opened #1440 "Kotlin 1.6 seems to ignore OpenApi ignore = true"
**Actual behavior (the bug)**
If you use the `CorsPlugin` or a custom plugin which uses a HTTP OPTIONS handler, then you get some OpenApi json which shouldn't be there.
[code]
I notice this is the same as here: https://github.com/tipsy/javalin/issues/722

This happens if I tell Gradle to compile with Kotlin 1.6, but not <1.6:
[code]

Using the ignore path it doesn't work & still appears.

**Expect

[2021-11-28 21:38] #1392 closed

[2021-11-28 21:40] tipsy commented on #1437
@pkkummermo That seems like a bit too much effort for a preview feature, I'm happy with the merged PR.

[2021-11-28 21:40] #1437 closed

[2021-11-29 05:00] signedbit opened #1442 "Add a lifecycle event for server stop failed"
**Describe the feature**
Add a lifecycle event for server stop failed.

**Additional context**
Based on the [documentation](https://javalin.io/documentation#lifecycle-events), the `serverSt*` lifecycle events are presumably designed to mirror [Jetty's lifecycle events](https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-util/src/main/java/org/eclipse/jetty/util/component/LifeCycle.jav

[2021-11-29 11:32] spinscale opened #1443 "Setting jetty session handler does not require a Supplier"
See https://github.com/tipsy/javalin/blob/master/javalin/src/main/java/io/javalin/core/JavalinConfig.java#L165

Snippet

[code]

is there any reason that I am not seeing, this is a Supplier, if it is resolved immediately?

[2021-11-29 12:25] tipsy commented on #1443
@spinscale it's to allow you to configure your `SessionHandler` within the scope of the `sessionHandler()` method, the same goes for `server()` and a few other config methods.

These methods could demand already configured objects, but then you would have to move the configuration out to a separate method.

[2021-11-29 13:35] #1443 closed

[2021-11-30 02:41] signedbit commented on #1442
Opened #1444.

It's required if a client wants to examine the exception thrown upon start or stop, perhaps to decide whether or not to retry. I don't have a use for this at the moment and it seems no one else does either. It's probably best to wait until a need arises rather than over-engineer and get it wrong. The exception is logged for later investigation and K8s will retry anyway, so my needs

[2021-11-30 16:48] #1442 closed

[2021-11-30 17:02] valtteric opened #1445 "How to use the 4.x JsonMapper"
Migrating from 3 to 4, can I have an example on how to use the new JsonMapper?

"To configure Javalin to use your JsonMapper, do config.jsonMapper(myJsonMapper)."

What exactly is myJsonMapper? How do you use it accross the application?

Thanks.

[2021-11-30 17:33] valtteric commented on #1445
Ok, now I found this from other place than the migration guide: "To configure the JsonMapper, you need to pass an object which implements the JsonMapper interface to config.jsonMapper()."

So the questions are:
- Is there a default implementation, or do I have to use something like Gson to implement those methods?
- What is the purpose of adding it to the config? How do I access that? Is it a stat

[2021-11-30 17:55] dzikoysk commented on #1445
Javalin uses Jackson by default, so you can use `JavalinJackson`, e.g.

[code]

[2021-11-30 18:11] valtteric commented on #1445
Quite embarrassing, but I'm using Java and it's really hard to get a grasp on this (same thing with most of the new examples which is a shame), but let's just forget that. How do I use this? Back in 3 I could just import JavalinJson and use it: JavalinJson.fromJson(). I mean, I have no idea what is the purpose of this change and how in earth it is supposed to make my life easier.

[2021-11-30 18:27] dzikoysk commented on #1445
Keeping the JsonMapper instance in global scope were bad for many reasons, now every Javalin instance has it's own mapper used to serialize objects with provided configuration. You have to do it only if you want to modify the default behavior of mapper, by default Javalin just uses just a standard instance of `new ObjectMapper()` and you don't have to do anything more than that to enable it.

If y

[2021-11-30 18:49] valtteric commented on #1445
All right then. Thanks for the explanation, gonna close this now.

[2021-11-30 18:49] #1445 closed

[2021-11-30 18:54] tipsy commented on #1445
@valtteric you can restore the 3x functionality by declaring a static objectmapper and passing that to Javalin.

[code]

Then you can import the `globalMapper` and use it as you please.

[2021-12-04 20:09] travisspencer commented on #1429
Jetty 11 would be preferred in our case because:

1) Jetty [9.4 will come to EOL](https://www.eclipse.org//lists/jetty-users/msg10029.html) inevitably and we want to get off it in time
2) The rest of our product is already upgraded to Jetty 11 and shipping only one version would be preferred
3) The remaining parts of our product that still uses Jetty 9.4 are using Spark and it would be easier to m

[2021-12-05 13:23] tipsy commented on #1429
@lankydan it's convenient to write a library in Kotlin, but it adds complexity to projects that depend on it. A project that depends on Javalin needs to include the Kotlin language dependencies, and if you have multiple projects with different Kotlin dependencies, it can start to get messy. It's also harder to debug projects, especially for Java developers. And it's harder to attract contributors,

[2021-12-05 14:16] lankydan commented on #1429
@tipsy Fair enough, not sure about the debugging one myself and haven't run into the language dependencies issues, however I tend to write Kotlin in the first place so I haven't faced these problems.

But yeah, I agree with what you've written, that mainly that Kotlin's nicer to write but doesn't necessarily bring too much else to Javalin.

I'd be interested in helping migrate Javalin's Kotlin cod

[2021-12-05 14:36] dzikoysk commented on #1429
Umm I don't really want to participate in this topic as it's mostly about preferences rather than strong pros/cons, but I see that this discussion still kinda lacks in some points.

First of all, I like Java codebase that is done right, wrapped with multiple structures that fix the built-in std and language issues, but I highly doubt this issue addresses that, because it requires a lot of work to

[2021-12-06 13:43] dzikoysk commented on #1439
Imo a good idea, the new time implementation replaces the old one, so could be nice to have this support out of the box. Also that's what I need to do in pretty much every project and I guess anyone who's using Jackson serialization has to add this module anyway.

![image](https://user-images.githubusercontent.com/4235722/144856230-f9783b44-58ea-4e6a-9463-ca62e5c520e4.png)

[2021-12-08 07:30] ptomli opened #1446 "Paths cannot contain `:`"
**Actual behavior (the bug)**
`app.get("/path/to/resource:action")`

**Expected behavior**
A handler to be registered at the path `/path/to/resource:action`

**To Reproduce**
See "Actual behavior (the bug)"

**Additional context**
`PathParser.kt` seems to specifically check for this character and throw the exception, apparently in an attempt to warn people of changed behavior. This unfortunately i

[2021-12-08 07:58] tipsy commented on #1446
@ptomli While I agree that there is a possible use-cases for this, Javalin has never supported this functionality (and no one has ever requested it). Are you reporting this as a bug because you want to use colons in paths, or because someone might?

[2021-12-08 08:04] ptomli commented on #1446
@tipsy I noticed it because I'd configured a path with a colon, so yes, I'd like to be able to do so.

I guess the previous parameter model precluded such a pattern, which might explain a little why it's not been requested in the past. Is there any particular reason to not support all the valid characters within a URL path? Or is this character special as a result of the previous parameter model,

[2021-12-08 09:51] rbygrave commented on #1446
In this case like `resource:action` there is no `{` or `}` around this so conceptually that should be considered a **literal path segment** (aka a bug right? in that colon _should_ be allowed in literal path segments now).

Pretty sure that's exactly right. This `if (rawPath.contains(":")) {` block is just to stop / warn people during the transition phase over to `{` `}`

Just to say (apologies, s

[2021-12-08 10:33] tipsy commented on #1446
Thanks @ptomli and @rbygrave, I think we can consider this a bug. We can adjust the check to look for `/:`, since I still want to keep the warning for people using the old path-param syntax.

@ptomli would you like to submit a PR?

[2021-12-08 10:36] ptomli commented on #1446
@tipsy Happy to do the PR, it was my bug ;-) Though I'm not currently setup for Javalin dev so it'll be a day or two.

[2021-12-08 11:17] tipsy commented on #1446
No rush. If you get it ready before Sunday, I'll do a weekend release :)

[2021-12-08 11:39] ptomli commented on #1446
Turns out setting that up wasn't as time consuming as I had expected. Kotlin isn't my traditional stomping ground

[2021-12-08 11:46] tipsy commented on #1446
Happy to hear that !

[2021-12-08 11:48] #1446 closed

[2021-12-08 13:53] wilerson commented on #1440
Isn't this expected due to #1193 ? More recent Kotlin versions break the OpenAPI annotations.

[2021-12-08 22:28] valtteric commented on #1445
@tipsy I ended up using Gson wherever I need it. I understand the point about keeping stuff in the global space being bad, but what I don't understand is why not just drop the feature completely? (Not an urgent question btw, I would have liked to read about this in the migration guide honestly).

[2021-12-09 00:50] Jerbell commented on #1440
Quite likely.  Thanks for the heads up.  Feel free to remove if you believe this is a duplicate.

[2021-12-09 08:21] tipsy commented on #1445
Why not drop which feature completely?

[2021-12-09 08:58] valtteric commented on #1445
JavalinJson, but yeah I guess you did drop it. But saying "Static JavalinJson is gone, replaced by config.jsonMapper(jsonMapper)" is just not really clear for someone who does not follow the Javalin development much.

I guess my point is that I'm just a user of Javalin, same way I'm a user of Photoshop. I don't know the internals and I'm not even interested in it. I just want to use it to create s

[2021-12-10 13:58] travisspencer commented on #1429
I would split this into two tickets:

1. Update Jetty
2. Rewrite

Nr. 1 is easy and should be straightforward. Just update the Jetty version, Log4j version to 2.15 (if log4j is used), and rename `javax` to `jakarta` in the import statements. Can be done with sed :-)

Once that turkey is cooked, nr. 2 can be considered and worked on. No need to hold up nr. 1 on this though IMO.

[2021-12-10 14:01] tipsy commented on #1429
I thought I read that WebSocket had been completely reworked. It also moves form Servlet 3.x to 5.x, which I assume will include some breaking changes 🤔

I can publish a 5x branch if people want to starting looking at this.

[2021-12-10 15:21] travisspencer commented on #1429
Ya, I forgot that, @tipsy . There was at least a [rename of the modules](https://www.eclipse.org/jetty/documentation/jetty-11/programming-guide/index.html#pg-migration-94-to-10). If that's it, sed will still work, but Intellij may become required if it's more. Unsure because I don't use Web sockets in any Jetty proj. I'm working on ATM.

[2021-12-10 15:45] Playacem commented on #1429
Jetty did rework the WebSocket stuff. Source: https://www.eclipse.org/lists/jetty-announce/msg00149.html

The only change from Servlet 4.0 was the namespace change. https://jakarta.ee/specifications/servlet/5.0/
The changes caused by Servlet 4.0 are only some detail stuff like throwing NPE for null name being required and extra properties like request/response-character-encoding
Source: https://ja

[2021-12-10 16:43] travisspencer commented on #1429
I upgrade from Jetty 9.4 to 11 already in another project (~1.2M lines) and the only issue I ran into was some exotic logging that didn't work. That was more of a Log4j thing though than a Jetty thing. The only other gotchas that I know of is the Web socket stuff in the manual and around the `ServletContainerInitializer` in JAX-WS; the latter can be fixed by upgrading that to the Jakarta version o

[2021-12-11 05:42] mattwelke commented on #1439
This was something tricky I had to figure out for myself. Java is the first programming language I've used where out of the box, it wasn't able to serialize JSON. And with a popular JSON library (I used Jackson, as the Javalin docs advised doing), it wasn't able to serialize the most up to date time type from the standard library (`java.time.Instant`). This wasn't an impossible challenge. I was ab

[2021-12-12 21:00] tipsy commented on #1178
@tuxedo0801 are you still interested in this?

[2021-12-12 21:01] tipsy commented on #1439
Thanks for the input guys, I'll see how I can include this.

[2021-12-12 22:32] tipsy commented on #1439
PR here: https://github.com/tipsy/javalin/pull/1448

[2021-12-13 09:35] #1439 closed

[2021-12-13 11:41] #1426 closed

[2021-12-13 11:43] tipsy commented on #1390
I'll close this now, but I'll add the INFO tag for people who might be interested.

[2021-12-13 11:45] tipsy commented on #1285
There has been no activity, and I used the name for the memory efficient version of serialization, so I will close this now.

[2021-12-13 11:45] #1285 closed

[2021-12-13 15:19] tipsy commented on #1369
@TareqK do you want to do anything with this issue?

[2021-12-13 15:20] #1366 closed

[2021-12-13 15:20] TareqK commented on #1369
@tipsy  I actually got very far into it, Just have not decided on if i want to add CDI to it, or just find a way to inject CTX into the primefaces controllers and call it a day

[2021-12-13 15:22] tipsy commented on #1369
Sounds good, enjoy your break!

[2021-12-13 15:23] tipsy commented on #1267
@theminecoder do you still want to pursue this?

[2021-12-13 16:42] tipsy commented on #1432
It could, but that doesn't mean that it should. I think doing this would lead to a worse developer experience for the vast majority of Javalin users who has no interest in serializing `null`, and I think that's why everyone else in this thread has reacted negatively to the feature request too.

@dzikoysk has suggested a workaround that I think is acceptable, so I will close this issue now.

[2021-12-13 16:42] #1432 closed

[2021-12-13 16:47] tipsy commented on #1422
I'll close this for now, but would be willing to consider `xyzOrDefault` methods if someone wants them enough to provide a PR.

[2021-12-13 16:47] #1422 closed

[2021-12-13 18:26] dzikoysk commented on #1267
Don't you think we should provide a possibility to create such a thing as plugin rather than replacing the current implementation 🤔 I mean I speak from a position of being user that already uses custom implementation of routing provided as a plugin and I feel it's the right way to do such things.

[2021-12-13 18:30] tipsy commented on #1267
@dzikoysk personally I don't see the need for this, but if a proposed "router" abstraction could help simplify the code I'm in favor of it.

The current PR isn't it IMO, so I'm asking because we should either close it + the issue  or discuss a different approach.

[2021-12-13 19:34] rbygrave commented on #1285
Yeah cool. I dropped the ball on this one.  Lets see if I can get back to it in time.

[2021-12-13 20:12] tipsy commented on #1285
That would be good. I'm not against having this, I just don't understand the use case well enough to provide a proper implementation :)

[2021-12-13 22:24] #1433 closed

[2021-12-14 15:01] tipsy commented on #1326
@7agustibm should this issue be closed?

[2021-12-14 15:22] tipsy commented on #690
@wirew0rm it looks like ` io.javalin.plugin.openapi.annotations` is gone from the main module now.

[2021-12-14 16:07] 7agustibm commented on #1326
For me, yes.

[2021-12-14 16:13] 7agustibm commented on #1326
For now I would leave it as it is. I don't know if it is a very required feature.

[2021-12-14 16:58] tipsy commented on #1326
Doesn't seem that way. Let's close it now and open a new one if required. Thanks!

[2021-12-14 16:58] #1326 closed

[2021-12-15 15:14] phybros opened #1450 "Tons of OpenApi warnings emitted when viewing the swagger UI"
**Actual behavior (the bug)**
I have a bunch of routes defined with static handlers, and those handlers have all the right `@OpenApi` annotations and such. But when viewing the swagger UI loads of warnings like this are emitted (but everything works perfectly):

[code]

Note: `PluginEntrypoint` is the class where all the routes are defined like this:

[code]

**Expected behavior**
No warnings are

[2021-12-16 12:19] GeorgeSalu opened #1451 "javalin vs spring boot ?"
what would be the use cases where it would be better to use javalin than spring boot for example? is there any performance test between javalin and spring boot?

[2021-12-16 12:38] dzikoysk commented on #1451
I'd say it's not even about comparing performance, but mostly just about different approach to create webapps and your goals.

By using Spring, you have access to whole ecosystem hidden under a ton of abstraction and magic values - that's why it's widely used in industry. It's well-known technology that covers most of the needs, but you're pretty much forced to use it as a framework that defines h

[2021-12-16 20:14] rbygrave commented on #1451
Under the hood javalin is `Jetty` and spring boot _defaults_ to `Tomcat` but with spring boot you can also specify to use jetty, netty, maybe others?  Are you comparing javalin to `spring boot using tomcat`?

Benchmarking is a lot of work and easy to get wrong so generally there are lots of caveats to reading too much into benchmarks that you don't do yourself.  That said, I did a relatively recen

[2021-12-16 20:37] TareqK commented on #1451
Honestly Javalin Is just easier to get started with and maintain for smaller apps - the overhead of Spring boot is not worth it for those IMHO. Not that Javalin cant be used for larger apps as well - it just needs more thought put into it at the start(in terms of structure and conventions)

For me, i come from a J2EE background, so I'm used to magic, so I dont think its pro/against javalin that th

[2021-12-16 20:46] TareqK commented on #1428
Seconded @MrThreepwood

[2021-12-22 03:51] rolfyone opened #1452 "'old release of javalin' message"
while looking over the whole series of log4j issues etc, we noticed a number of messages coming in the logs that probably aren't really issues that most of our users would need to even see...

firstly 'old release of javalin' is coming up because we're still on 4.1.1, but it's also the latest release of javalin, so the warning may be a little much? I'd settle for being able to silence it but i can

[2021-12-22 10:06] tipsy commented on #1452
Thanks @rolfyone, I'll have a look at this!

[2021-12-22 13:08] tipsy commented on #1452
@rolfyone You can toggle the warning with `JettyUtil.logIfNotStarted = false`.

[2021-12-22 13:12] tipsy commented on #1452
Added another logline with this info: https://github.com/tipsy/javalin/commit/8bc8a0a396f8fc326b9363cea7b0ea61b50e7a79

[2021-12-22 13:17] tipsy commented on #1452
Made the upgrade message less aggressive: https://github.com/tipsy/javalin/commit/d48bcf763e15f9deb17c59115446c622b9894217

[2021-12-22 13:18] tipsy commented on #1452
I'll close this now @rolfyone, please feel free to reopen if you think these fixes are not sufficient.

[2021-12-22 13:18] #1452 closed

[2021-12-22 23:44] josepowera commented on #1429
Why not first just move from Jetty 9 to Jetty 10 (to solve 9.4 EOL).    Changes in namespace (to jetty 11) can come in later.

[2021-12-23 04:03] rolfyone commented on #1452
sounds great, we'll give it a go!

[2021-12-23 04:08] rolfyone commented on #1452
although logIfNotStarted does appear to be private, and initialised to false... will have a look in a few days...

[2021-12-23 08:09] tipsy commented on #1452
It's probably missing a @JvmField annotation then. Try JettyUtil.INSTANCE instead?

[2021-12-23 08:10] tipsy commented on #1452
I'll add the annotation today.

[2021-12-23 10:56] halimpuckjava opened #1453 "Add Javalin RSocket Support (Server & Client) with DSL"
hi

i hope to add support for rsocket (client & server) with java and kotlin dsl

[2021-12-23 10:58] tipsy commented on #1453
I think you will have to elaborate a bit here.

[2021-12-23 10:59] halimpuckjava opened #1454 "Javalin GraalVM"
**Describe your question**

[2021-12-23 11:02] halimpuckjava commented on #1453
for now i see KTOR support RSocket (client & server) but there is lot of code to write

[2021-12-23 11:05] tipsy commented on #1452
It's already added, just wrote this in a test project:

[code]

[2021-12-23 11:06] tipsy commented on #1454
You can use Javalin with GraalVM, there is a tutorial on the website: https://javalin.io/2018/09/27/javalin-graalvm-example.html

[2021-12-23 11:06] #1454 closed

[2021-12-29 09:33] IvanPizhenko opened #1455 "Misleading log message"
**Actual behavior (the bug)**
Getting message like this in the log:
[code]

**Expected behavior**
No such message, because at the moment 4.1.1 is latest released version.

**To Reproduce**
Just run any Javalin app.

**Additional context**
I think such message should not appear at all.
It could be correct if it were checking Maven Central repo or Github and find there newer release, but consider th

[2021-12-29 10:44] tipsy commented on #1455
@IvanPizhenko thanks, this was addressed in https://github.com/tipsy/javalin/issues/1452. The interval was increased, and the wording was updated to `Consider checking for a newer version.`

I asked about this before, but people were super worried about Javalin making an outgoing HTTP request, so it's not going to happen.

[2021-12-31 02:48] Jerbell commented on #1440
I'll close this as it's getting covered by all the other OpenApi issues.

[2021-12-31 02:48] #1440 closed

[2022-01-03 14:24] tipsy commented on #1455
New version has been released log message is no longer misleading 😄

[2022-01-03 14:24] #1455 closed

[2022-01-03 14:27] manitas-manitas opened #1457 "JavalinVue Plugin : Make the layout.html file dynamic"
I think that it would be very interesting to have the possibility to have the layout.html file generated by a template engine.
The main advantage is that, by adding data to the root page,  we can avoid network roundtrip fo certain type of data. (e.g. meta tags, static enum for select..)
It's relevant because JavalinVue is based on server side routing.

Today we can use the state function as a work

[2022-01-03 14:31] tipsy commented on #1457
@manitas-manitas it would be helpful if you could describe what problem you want to solve, rather than how it can be solved. Is the main problem having different meta tags for different routes? What is "static enum for select" ?

[2022-01-03 14:50] manitas-manitas commented on #1457
you are right, what would be great is to to reduce the number of network roundtrips and the number of API endpoints by benefiting from the server side routing and partial rendering.
I have this problem with meta tags for each route.
I have also a lot of forms with select fields and It would be nice to get the the options without creating a new API endpoint.
That's what i called "static enum for se

[2022-01-03 15:20] IvanPizhenko commented on #1455
Thank you!

[2022-01-03 15:53] tipsy commented on #1457
Rendering a select using a server side template engine instead of Vue sounds like the wrong approach. If you were making a pure SPA, you would need to obtain these enum values from the backend, so I don't think rendering them server side makes sense.

I think using statefule components is a better solution than introducing server side templating.

Why specifically do you need to reduce the number

[2022-01-03 16:50] dzikoysk commented on #1457
Pages fully rendered on client-side with data fetched from backend have several issues - mentioned meta tags are one of the most popular. A lot of tools that process pages to somehow index its content does not support JS or support it partly (so it may wait for the e.g. Vue to init basic app structure, but you won't get a chance to make request to backend).

As an example to workaround this (in th

[2022-01-03 16:59] manitas-manitas commented on #1457
Meta Tags work fine with javascript, the point is that, like dzikoysk said , it would be better directly included for SEO reasons.

About the select, I was not clear sorry, I was not talking about formatting the select on server side but rather including the json formatted data into the generated page to get them directly without an api call.

[2022-01-03 17:38] tipsy commented on #1457
In that case, local state in components should work fine.

Is this also about saving a request, or do you want to include the meta tags in the rendered HTML from the server side?

I think that meta tags is an area where `JavalinVue` either needs a best-practice guide or a custom solution, but I really hope we can avoid rendering things server side 🤔

---

On SEO in general: If we were discussing b

[2022-01-03 17:58] dzikoysk commented on #1457
It's not only about SEO, e.g. even features like sharing links with rich presence for OpenGraph-like services won't work if related metadata is not a part of static page.

Just sharing more context, I don't use `JavalinVue` anyway and probably I won't as I always use just standalone frontend module. Also I don't know what's the target of this feature, so there is a chance that nobody really cares

[2022-01-03 18:24] manitas-manitas commented on #1457
I wanted to render meta tags from the server side but finally, I totally agree with you,  it's not the right tool for SEO purposes. I was too excited by JavalinVue :)
Javalin do a perfect job for server side rendering for that goal.

Concerning the select,  I'm not so sure anymore to understand the benefits fetching any data with api calls instead of including it directly in the local state ?

[2022-01-03 18:42] tipsy commented on #1457
This is something that `JavalinVue` apps could benefit from, I think. I love OG previews, so it's tempting to add functionality specifically for this.

It's cleaner if your vue route declarations in Javalin only contain the path + component, instead of path + component + local state.

For example, if you want to show a list of users with `JavalinVue` you could include it using local state from the

[2022-01-03 20:33] dzikoysk commented on #1174
I think it should be supported as plugin, because we don't want to pull more and more deps into the core tho? 🤔

[2022-01-03 21:38] tipsy commented on #1174
@dzikoysk when you say core, do you mean the repository? Because the PR implements a standalone module, separate from the core module.

[2022-01-03 21:53] manitas-manitas commented on #1457
IMHO it's exactly the same problem than for SEO meta tags, like you said most businesses separate "public" SEO optimized pages and "private" webapp. Unfortunately, OG previews won't work if your page and your images are not public.

I'm not opposed to that  but just to continue thinking about this idea, If I play devil's advocate, I can say that's cleaner to have controllers that render ViewCompon

[2022-01-03 22:07] tipsy commented on #1457
It's true that it's fewer routes, but it's not cleaner. You get a strong coupling between the route and components, and you get a problem composition and with updating data. Say you have this page:

<img width="1090" alt="Screen Shot 2022-01-03 at 22 59 25" src="https://user-images.githubusercontent.com/1521451/147985028-95658809-3449-4233-9454-875145379967.png">

You can split this into four sepa

[2022-01-03 22:09] dzikoysk commented on #1174
Yes, in the end every submodule in this repository is officially maintained with the main javalin module, which in plugin ecosystem, makes it kinda like a core feature.

[2022-01-03 22:24] manitas-manitas commented on #1457
I understand, thank you for your clear answer.

[2022-01-03 22:24] dzikoysk commented on #1457
Imo it mostly depends on your arch and target.

For user it's always better to receive server-side rendered app (these days it's not only about using template engine to inject some data, but also to partly render app so client's browser has to do as little as possible), but it requires more amount of resources and doesn't scale that well as client-side apps that fetch data through rest api (where

[2022-01-03 22:38] dzikoysk commented on #1453
Javalin is not, and probably won't ever be, reactive (#1278) at any point that could make it possible to implement RSocket natively. Ktor is reactive by design and that's why it's possible to integrate it with RSocket, but that's just not the case here. Imo it could be closed as it' way out of our scope.

[2022-01-03 22:57] tipsy commented on #1453
Thanks @dzikoysk 😌

[2022-01-03 22:57] #1453 closed

[2022-01-04 03:37] MaximeDucheneS commented on #1451
I might be somewhat late to the this thread, but I wanted to post about my experience with Javalin too:

I built a chat server in Javalin with a companion Vue component, and I have to say, it is surprisingly robust as a WebSocket server, even with default configurations.

So for anyone who needs to build a chat app without having to deal with the hassle that comes with pretty much any other Java a

[2022-01-04 15:57] BytePhilHD opened #1458 ""Not found" after clicking on submit button"
Hi, so when I click on a button on a website, with no function, javalin connects the browser to "Not found" / 404 page.

My Code in Java to get to the website is the following:
`        app.get("/test", ctx -> {
            ctx.render("/public/test.html");
        });
        `
My HTML website code is the following:
[code]

So after going to "localhost/test" in my web-browser the HTML website load

[2022-01-04 15:58] pkkummermo commented on #1458
The form performs a `POST` request to the backend, and you only have a `GET` handler registered :)

[2022-01-04 16:01] #1458 closed

[2022-01-04 19:38] bseib opened #1459 "Directory with `index.html` should serve welcome file without redirect"
**Actual behavior (the bug)**
When you request a directory path `/path/foo` and a welcome file exists `/path/foo/index.html`, the response is a `302` redirect to `/path/foo/`.

**Expected behavior**
The expectation is that the browser keeps `/path/foo` and serves the content of `/path/foo/index.html`.

**To Reproduce**
In this unit test:

https://github.com/tipsy/javalin/blob/24c4532636945ac832ada

[2022-01-04 20:13] tipsy commented on #1459
... 😅

Yes, still accepting PRs on 3x branch. However!

If you need dig into Jetty's internal logic to fix a cosmetic issue, which technically would be a breaking change, I have to admit I'm not thrilled about the idea. The fastest way for you to reach your goal is probably to serve your `index.html` by mapping a `Handler` instead of relying on static files?

[2022-01-04 20:54] bseib commented on #1459
Yeah, I started down this road with a handler. But then some of those files that vite spits out are html, some are css, some are js chunks, images, and some other static assets and so on...  ...and I was starting to write code that had to know about these things(?), and was inevitably headed to be a static content server itself!? 🙀 The existing Javalin way to serve static content seems the right f

[2022-01-04 20:57] tipsy commented on #1459
I didn't mean for you to serve all static files using handles, just the index file. There is also a single page handler you could use for this :)

[2022-01-04 21:03] bseib commented on #1459
A downside would be I'd still need a maintain a list of all my static index files in the server code and track it with what's changing client side... :-(

Pardon my ignorance -- doesn't the Single Page Handler have a hand in supporting SPAs? Ultimately to support client-side routing stuff? I don't have any client side routing stuff. Just straight up static files...  ??

[2022-01-04 22:16] tipsy commented on #1459
You are correct, I forgot how you said your app was structured, I was thinking this was an SPA.

Yeah... unless! This is getting dirty, but you could potentially handle it in a `before`?

So your app is structured like this:

[code]

We know that a requests with a `ctx.path()` that has no extension (or a .html extension?) should try to serve an HTML file. In this case we could short circuit the re

[2022-01-05 22:10] bseib commented on #1459
Today I followed up on my homework on how we'd pass the request on to Jetty when we already know it is a welcome dir. It's a few lines of code, and I can show you what it looks like in a PR. Which `3.x.x` branch is the appropriate one to use?

Your suggestion with the before handler is an idea I could explore.

[2022-01-05 22:44] tipsy commented on #1459
There should only be one 3x branch 🤔

[2022-01-05 22:55] bseib commented on #1459
Whoops! I got confused by some tags I was looking at! I see the `javalin-3x` branch. I'm at the end of my day -- I'll probably send something tomorrow.

[2022-01-06 22:04] bseib commented on #1459
I think I need to pivot on my approach. I'm gonna have to get a little "dirty" anyway, so it may be moot to pursue this change.

We have to apply some access control to some paths in this static directory too. That means whatever we add to our static generated code base, we'll have to review/update our access control list in our server code anyhow. Since that list is probably the same as our stati

[2022-01-06 22:26] bseib commented on #1459
Perhaps this?

[code]

[2022-01-07 15:06] #1459 closed

[2022-01-07 15:59] tipsy commented on #1459
Did you figure everything out @bseib ?

[2022-01-07 16:04] bseib commented on #1459
On a good trajectory now I think with a `RewriteHandler` and parsing the `manifest.json` that vite produces. Sorry for the "noise". 😄

[2022-01-07 18:07] unoexperto commented on #1445
@tipsy Sorry for asking here, David, but I didn't want to create another issue for a question. I'm using Moshi for json serialization. I see that `io.javalin.plugin.json.JsonMapper.toJsonString()` doesn't carry type information about the object. As result I can't serialize generic types such as `List<Mytype<String>>`. Ideally I'd like to see `java.lang.reflect.Type` to be an argument of `toJsonStr

[2022-01-09 08:57] flicker211 opened #1462 "cant start a javalin websocket inside a minecraft plugin"
**Actual behavior (the bug)**
The javalin server fails to start

**Expected behavior**
a working javalin websocket at port 8040

**Additional context**
im trying to run a javalin websocket through a minecraft plugin, sparkjava worked fine inside the plugin but javalin raises an error

the error:
[code]

[2022-01-09 13:19] Playacem commented on #1462
The issue seems to be the same issue as in #232 / #358. A solution was found in [#358 (comment)](https://github.com/tipsy/javalin/issues/358#issuecomment-420982615)

Does the proposed solution there help you with the issue?

[2022-01-09 20:55] rolfyone commented on #1452
Thanks @tipsy ! I'll try this today. Sorry it's been slow, end of year so I was off-grid :)

[2022-01-13 05:11] flicker211 commented on #358
how wud i get the RemotAPI.class in my plugin? sorry i havent used java much

[2022-01-13 05:11] flicker211 commented on #1462
oh ok, ill check it out

[2022-01-13 05:11] #1462 closed

[2022-01-13 07:33] tipsy opened #1464 "Document minecraft thing in faq"
https://github.com/tipsy/javalin/issues/358

[2022-01-13 08:10] tipsy commented on #1464
https://javalin.io/documentation#minecraft

[2022-01-13 08:10] #1464 closed

[2022-01-14 15:39] adhesivee opened #1465 "OpenAPI DSL with `@JsonUnwrapped` and generics"
I am trying to use OpenAPI DSL, but running into an issue.
I have this Kotlin model:

[code]
And I try to document it:

[code]

Two things are not happening:

1. JsonUnwrapped is not detected properly, /swagger-docs still shows that property entity exists which should not be there.
2. Generic in Hal<User> is not detected, and not exposed to /swagger-docs at all. This can be worked around with crea

[2022-01-14 15:41] adhesivee commented on #1451
In my experience when projects get larger the use of microframework like Javalin makes it easier.
At some point you will face an opinionated implementation in Spring what will cost enormous time to either figure out or to implement, because you have to go through layers and layers of abstraction.
The initial setup cost might be bit more, because you have to choose certain tooling, like which DB po

[2022-01-15 09:57] BytePhilHD opened #1466 "WebSocket via https not working"
Hi,
I want to use the WebSockets on a HTTPS site, javalin is working perfectly (the site is accessible via HTTPS) the problem is that my WebSockets fail to connect. When I use HTTP everything is working fine.
For connecting via HTTP I use "ws://mydomain:80/websocket" and when HTTPS "wss://mydomain:80/websocket" but I'm not quite sure if the "wss" is correct.
When the browser trys to connect with t

[2022-01-15 10:00] BytePhilHD commented on #1466
Find the problem, I have to use 443 as port :)

[2022-01-15 10:00] #1466 closed

[2022-01-16 11:17] bensullivan opened #1467 "Accessing query params with vue3 plugin"
Hi

Does the vue (3) plugin support `$javalin.queryParams["foo"]`.

The FAQ in the doco seems to suggest it does but when I inspect the $javalin object on a page with query params the queryParams map isn't there.

Am I doing something wrong?

Cheers

Ben

[2022-01-16 13:45] tipsy commented on #1467
Hi @bensullivan. Query params are not included since v4, you'll have to add them manually. Where in the docs does it say?

[2022-01-16 19:08] tipsy commented on #1467
Removed one reference from main docs page.

[2022-01-16 19:08] #1467 closed

[2022-01-16 19:09] tipsy commented on #1467
This answer shows how to get query params: https://stackoverflow.com/a/901144/7916291

[2022-01-18 08:45] tipsy opened #1468 "Using Type in JsonMapper"
This is a comment by @unoexperto from an issue (https://github.com/tipsy/javalin/issues/1445#issuecomment-1007619810)

[2022-01-18 08:47] tipsy commented on #1445
I've not heard anyone else having issue with building it. You could try using the mvn wrapper (included)?

I moved your other question to a separate issue.

[2022-01-18 11:59] pkkummermo commented on #1445
Hmmm the version 4.2.1 doesn't exist as I see it? It's also referencing a snapshot that which I believe we're not publishing?

[2022-01-19 13:22] fq-selbach opened #1469 "Possible to get 'total bytes sent' and 'stream end' from ctx.seekableStream ?"
I'm using `ctx.seekableStream(file.inputStream(), "audio/mpeg")` to stream files to the client and I'm planning to log some statistics about how many bytes have actually been sent. As far as I understand the browser it will call the endpoint multiple times to get a small chunk on every request.
Is it possible to get this information from the seekable stream somehow?
And is it possible to identify

[2022-01-19 13:40] fq-selbach commented on #1469
Just after posting this question I checked the response headers and found out that: `ctx.res.getHeader(Header.CONTENT_LENGTH)` is probably what I was looking for 🙂.
Now I assume this is what the browser will receive but the process is asynchronous and might be aborted bevor all bytes are transferred right?

[2022-01-19 15:01] spinscale opened #1470 "Context.sessionAttribute should not create a new session"
**Actual behavior (the bug)**

When using `ctx.sessionAttribute(String key)`, this can create a new session, if no session exists yet. While this is generally not much of a problem, this leads to an `IllegalStateException` when called in a request logger, where the response is already committed. See here for the code in Jetty Request class, https://github.com/eclipse/jetty.project/blob/jetty-9.4.x

[2022-01-19 19:12] tipsy commented on #1469
@fq-selbach async or not isn't relevant here, I think, since the browser is free to stop reading the response at any point for any reason. The content-length header will tell you the size of the chunk, and you can also get information about which chunk it is (the range). This is what `SeekableWriter.kt` does:

[code]

[2022-01-19 19:17] tipsy commented on #1470
Wouldn't this also require everyone to always manually create sessions?

[2022-01-20 08:20] spinscale commented on #1470
I was referring only to retrieving attributes from the session, not about setting them - calling `req.session.setAttribute(key, value)` should still create a session.

Am I missing context?

[2022-01-20 11:12] tipsy commented on #1470
I assumed you wanted it to be consistent. So the proposal is:

[code]

Setting will create, but reading will not. Attempting to read a session attribute if no session attribute has been set will result in a nullpointer.

Did I understand that correctly?

[2022-01-20 11:44] spinscale commented on #1470
Yes, checking for the session being null in `ctx.sessionAttribute("user")` and returning null as well, if the session has not been created, otherwise the same behaviour as before.

[2022-01-20 11:53] tipsy commented on #1470
Adjusting for your last comments, it becomes:

[code]

Setting will create, but reading will not. Attempting to read a session attribute if no session attribute has been set will result in a null value (not a nullpointer).

---

This sounds acceptable, but it could potentially break existing apps. It doesn't sound very likely that it will though? 🤔

[2022-01-24 10:08] fq-selbach commented on #1469
Hi @tipsy , thanks for the info.

It looks like the data in the header depends on how the browser (or any client) actually reads the data 🤔 because sometimes it requests multiple small chunks and other times it simply requests the complete file. In the latter case `ctx.res.getHeader(Header.CONTENT_LENGTH)` is empty :-| probably due to `if (ctx.header(Header.RANGE) == null) { ...`.

Because of that

[2022-01-24 14:21] tipsy commented on #1469
@fq-selbach I suppose you could wrap the output stream and attach a listener to it?

[2022-01-24 14:58] tipsy commented on #1469
I don't think there is any gzip-compression on this, the `SeekableWriter` is writing directly to the output stream.

The `SeekableWriter` class is very small, maybe it makes sense to copy and modify it?

[2022-01-24 15:18] fq-selbach commented on #1469
It's an option, but I'm not really sure how :-/.
The thing that confuses me is that `CountingInputStream.getByteCount` is either too large or 0 (when SeekableWriter uses `ctx.result(inputStream)`). I doubt that any custom modification will give a different result.

[2022-01-25 09:54] fq-selbach commented on #1469
Well, to modify it I first need to understand where to find the information I need. The class is not doing anything magical so my best guess was to count bytes via `CountingInputStream` which doesn't even require modification of `SeekableWriter` because we have access to the input stream. Now I'm not sure what the problem is, why is the number of bytes 0 in the `ctx.result(inputStream)` case and w

[2022-01-25 12:12] tipsy commented on #1469
If you copy the class you can create your own version of this function:

[code]

And add your counter inside of it?

[2022-01-25 12:44] fq-selbach commented on #1469
`CountingInputStream` should in theory count every byte read via `it.read(...)`. So at this point I guess I have to prove that the result is the same. Both outcomes will create a bunch of follow-up questions 😆 but I guess that's inevitable now.

The reason why I want to use `CountingInputStream` is that it's supposed to apply in the same way to `ctx.res.outputStream.write` and [`ctx.result(inputSt

[2022-02-02 00:22] Ordiel opened #1473 "Routes defaulting to static files"
Given a project with the following structure

[code]

And the following routing:

[code]
I would like accessing [https://localhost:7070/person](https://localhost:7070/person) to render the contents of `resources/public/person/index.html` same that references `./foo.js` by `<script type="text/javascript" src="./foo.js"></script>` which is also expected to work; this given none of those URLs resourc

[2022-02-02 13:55] fq-selbach commented on #1469
I think I solved the "mystery" 🙂.

`CountingInputStream` counts the skipped bytes as well meaning each request that reads only a chunk of the file is counted as "read bytes" + "skipped bytes" to find position. In the case where the whole file was read at once I was simply counting the bytes too early since the stream is read after `ctx.result(inputStream)` returned.

So I ended up writing a new `C

[2022-02-04 16:13] tipsy commented on #1469
Nice ! I'll add an "info" tag to the issue :)

[2022-02-04 16:13] #1469 closed

[2022-02-05 10:05] dzikoysk opened #1475 "Nondeterministic test case in TestWebSocket class"
This test tends to fail randomly:

[code]

_Originally posted by @dzikoysk in https://github.com/tipsy/javalin/issues/1397#issuecomment-1013021036_

[2022-02-05 14:44] tipsy commented on #1475
Do you want to try to fix it? 😁

[2022-02-05 19:22] dzikoysk commented on #1475
I'm currently on winter holidays, so I'm playing with code only for a small amount of time per day - I can take a look at this after 14.02. Also, it's not urgent issue, I've referenced this here just to not lose it in #1397 :)

[2022-02-05 19:56] tipsy commented on #1475
Sure, it's been like this for years. I've cleaned it up twice, and it very seldom fails anymore, but I agree that it's annoying when it does.

[2022-02-05 20:09] dzikoysk commented on #1475
It happens for me since this change:

* https://github.com/tipsy/javalin/commit/07310644969de0910f21624060978fecc4f3f8b8

[2022-02-06 20:01] #1470 closed

[2022-02-06 20:12] tipsy commented on #1473
No, there is no built in functionality for this. You are asking Javalin to match `/person/{id}`, which `/person/foo.js` does. Building an API that either serves a resource or a static file is not recommended.

I think the simplest way is probably to split out your API and put it on `/api`. Is that an option?

[2022-02-08 02:35] james-novino commented on #1193
Has there been any further progress on getting OpenAPI working on Kotlin 1.5 or 1.6? It's extremely limiting for teams currently on 1.4.X as it's a blocker for upgrading for many projects.

[2022-02-08 08:19] tipsy commented on #1193
@james-novino I don't think so. The module is handled by the community, but I don't know anyone working on fixing this. I still think it should be as simple as requiring to include path and verb. If this is important to you, maybe you should have a look at the implementing it?

[2022-02-08 12:46] james-novino commented on #1193
@tipsy I've confirmed that this issue is related to the new IR backend in Kotlin 1.5+ I'm hoping to have some time in the new few weeks to take a look current logic in the OSS module and see if I can update that for the new IR backend. In the meantime this workaround should help:

[code]

[2022-02-08 14:09] tipsy commented on #1193
Nice, I hope you get some time to check it out. Ping us on discord (https://discord.com/invite/sgak4e5NKv) if you need any help :)

[2022-02-08 18:17] Ordiel commented on #1473
Yup, thats what I ended up doing, I am guessing this ended up being more a design question then. Closing. Thanks a lot!

[2022-02-08 18:17] #1473 closed

[2022-02-08 20:19] tipsy commented on #1473
Glad you worked it out!

[2022-02-10 03:38] altomonte8190 opened #1477 "Tipsy Javalin"
**Actual behavior (the bug)**
A description of what happened

**Expected behavior**
A description of what you expected to happen

**To Reproduce**
Steps to reproduce the behavior

**Additional context**
Add any other context about the bug here

[2022-02-10 07:15] #1477 closed

[2022-02-11 22:53] asad-awadia commented on #1267
@tipsy possible to move the order of the handler from path, handler, accessRole to path, accessRole, handler

this will allow cleaner lambdas in kotlin since the handler will be the last

[2022-02-13 15:46] tipsy commented on #1267
@asad-awadia if you are adding roles, it's recommended to extract your handler to a function (instead of keeping it a lambda).

That being said, you can easily make your own static method or extension function which has the handler last :)

[2022-02-16 10:36] dzikoysk commented on #1468
Just a note for Java context: `java.lang.reflect.Type` is a part of reflection api and represents only explicitly declared signatures you can obtain from class sources - you can't obtain its value for scope variables & expressions, so `toJsonString()` should not relay on this tho.

[2022-02-16 11:33] unoexperto commented on #1468
@dzikoysk Sorry, I didn't get it. Could you please illustrate your point with an example ?

As I mentioned javalin already uses `Class<T>` which is descendant of `Type`.

[2022-02-16 12:04] dzikoysk commented on #1468
Class is a Type, but Type is not a Class so it makes handling worse for adapters as you could specify non serializable components. The only benefit of using `Type` here is pretty much Kotlin scenario where you take advantage of Kotlin compiler feature, so imo this change should be moved to Kotlin-only method in api as there is pretty much no need to complicate the existing solution.

[2022-02-16 22:16] #1475 closed

[2022-02-23 16:16] MortronMeymo opened #1479 "Range requests do not work for files larger 2GB"
**Actual behavior (the bug)**
When offering a large file via Context.seekableStream the maximum size is incorrectly reported and requests for data beyond the first 2GB cause IndexOutOfBounds exceptions.

**Expected behavior**
Files > 2GB can be correctly downloaded via range requests.

**To Reproduce**
[code]

**Additional context**
The error is due to the implementation using `InputStream#availab

[2022-02-23 16:45] tipsy commented on #1479
Thanks @MortronMeymo! Would you like to create a PR?

[2022-02-23 17:47] MortronMeymo commented on #1479
Sure I can give it a go @tipsy .
I guess that means my suggestion to provide an overloaded `Context#seekableStream` is ok? (This would extend javalins public API)
Also one other question: Is `SeekableWriter#write` considered public API, so must be preserved with that signature, or can I just add a `long size` as a parameter there?

[2022-02-23 17:49] tipsy commented on #1479
Yes, that sounds fine. The writer is considered internal, and is a small class that easily be copied if someone needs to.

[2022-02-23 18:51] trensetim opened #1480 "Static Files from different modules/jars"
**Describe the feature**
As of now, when requesting Javalin to provide static files from classpath, one can only specify the directory to serve. However that directory is loaded as a classpath resource from JettyResourceHandler via Resource.newClassPathResource(). That will ultimately call `Resource.class.getResource(name)`. When building an app from different projects/java modules/jars that will

[2022-02-23 18:54] tipsy commented on #1480
Thanks for the feature request @trensetim! I don't have much experience in this area, but it sounds like you know what you want. If you put together a PR, I would be happy to take a look.

[2022-02-24 14:13] gringofe opened #1482 "RouteRole for GraphQL"
Hi,

I just tried to add the graphql plugin to my project (I have never tried/used graphql before), and the first thing I noticed is that it doesn't seem to work with my already existing `AccessManager` which I set via `JavalinConfig#accessManager(AccessManager accessManager)`

Therefore, I created a patch which allows the user to pass `RouteRole`s to `GraphQLOptions`: [https://github.com/gringofe

[2022-02-25 14:22] #1479 closed

[2022-02-25 14:52] tipsy commented on #1482
@7agustibm could you have a look at this, please?

[2022-02-25 16:52] 7agustibm commented on #1482
Hi!

The principal problem is that AccessManager controls endpoint access.  GraphQL is a unique endpoint for different queries o mutations. For me, the best way for access manager is the same query o mutation method.

This has an example: https://blog.logrocket.com/a-complete-guide-to-permissions-in-a-graphql-api/

[2022-03-04 10:37] JackHewson opened #1484 "Cookie: create default constructor"
**Describe the feature**
When adding a cookie, there is only a constructor for all cookie values.
`Cookie(String name, String value, String path, Integer maxAge, Boolean secure, Integer version, Boolean isHttpOnly, String comment, String domain, SameSite sameSite)`
(see https://javadoc.io/doc/io.javalin/javalin/latest/io/javalin/http/Cookie.html)

Please make an empty constructor available to redu

[2022-03-04 21:15] tipsy commented on #1484
Thank you for your kind words, and welcome to the tracker @JackHewson :)

This seems like a reasonable request. From Kotlin, this is the case already, only `name` and `value` are required. I don't think an empty constructor makes sense (name and value *are* required for a cookie), but if we change the signature to `data class Cookie @JvmOverloads constructor(`, we get these constructors from Java:

[2022-03-08 17:24] torian257x opened #1485 "Maven issue for someone new in java"
so I was reading here

https://javalin.io/tutorials/maven-setup

works

but: what does it actually? voodoo magic? how can I execute the same thing, from command line without voodoo magic intellij?

the reason is, that I want to restart the server on change (....) but I dont really see how to do it.

I added the jetty plugin

[code]

doesnt do ANYTHING. I assume its the way the HelloWorld class is

[2022-03-09 11:09] torian257x commented on #1485
Maven> I guess you are right, gotta do some tutorial

well, mainly frontend. But eventually backend as well. Just a basic restart on change

[2022-03-09 11:26] tipsy commented on #1485
It's unfortunately not so basic in Java, but if it's frontend you can use an external reference to your static files (not inside jar), which will display changes when you refresh the browser (you don't need to restart the server).

[2022-03-09 11:39] torian257x commented on #1485
damn, I got spoiled by other programming languages I guess.

[2022-03-09 11:39] #1485 closed

[2022-03-09 14:34] tipsy opened #1486 "NaiveRateLimit might be *too* naive?"
From the comment over on https://github.com/vladimir-bukhtoyarov/bucket4j/discussions/243:

[2022-03-09 18:51] tipsy commented on #1486
@vladimir-bukhtoyarov, the whole map is cleared at the specified interval: https://github.com/tipsy/javalin/blob/95ab1d2a75ed6af3b6863c9dd8af6ab29acb59ac/javalin/src/main/java/io/javalin/http/util/RateLimitUtil.kt#L28

Is this not sufficient?

[2022-03-15 08:05] tipsy opened #1487 "Create Bucket4j plugin based"
A lot of people need rate-limiting, so it could be nice to create an official plugin for bucket4j. There is a Spring boot example that could be used for inspiration: https://github.com/MarcGiffing/bucket4j-spring-boot-starter.

This plugin would not go into the main repo.

[2022-03-19 12:03] #1486 closed

[2022-03-19 12:03] tipsy commented on #1484
@JackHewson I'll go ahead and add this annotation myself.

[2022-03-19 12:07] tipsy commented on #1484
Closed by https://github.com/tipsy/javalin/commit/1235efa6006b1f9a28bf3bede18eb976ab05a8cf

[2022-03-19 12:07] #1484 closed

[2022-03-20 13:53] dzikoysk opened #1488 "Nondeterministic test case in TestWebBrowser class"
Build died executing `TestWebBrowser` on windows targets, unrelated to PR:

[code]

_Originally posted by @dzikoysk in https://github.com/tipsy/javalin/issues/1397#issuecomment-1073004275_

[2022-03-20 22:47] dzikoysk commented on #1480
Serving assets using `byte[]` is not a good idea, because it means we have to load whole file into memory, so it's just inefficient. It also lacks metadata part like filename, size, content type etc, that's why Javalin uses Resource from Jetty in JettyResourceHandler.

I'd personally replace `Resource` from Jetty that has a lot of unused properties with a simple data class, and then made current r

[2022-03-21 20:57] anibyl commented on #1228
This helped me:

[code]

[2022-03-30 18:26] BytePhilHD opened #1492 "Getting the session ID at app.post"
Hi,

So normally I get the current session ID by ctx.getSession ID
`        app.ws("/test", ws -> {
            ws.onMessage(ctx -> {
                String session = ctx.getSessionId();
            });
        });`
The problem is, when using the app.post method (for example for uploading files via the website) there is no such function (getSession ID)
`app.post("/register", ws -> {
            })

[2022-03-31 20:44] tipsy commented on #1492
Hi @BytePhilHD! That session ID is specific to the WebSocket connection, it's not available in the HTTP endpoints. You could generate an ID and put it in a cookie?

[2022-04-01 21:52] dzikoysk commented on #1488
[code]

[2022-04-01 22:55] tipsy commented on #1488
😞

[2022-04-02 11:48] dzikoysk commented on #1488
Still the same issue:

[code]

[2022-04-02 14:53] #1488 closed

[2022-04-02 15:59] tipsy opened #1495 "Make default future callback configurable"
[code]

[2022-04-02 17:37] paulkagiri commented on #1193
An example using this [OpenAPI Annotation Processor](https://github.com/reposilite-playground/javalin-openapi) https://github.com/paulkagiri/JavalinOpenApiExample

[2022-04-03 02:23] sombriks opened #1496 "register KtormModule if exists"
**Describe the feature**

Please add `KtormModule` check on `JavalinJackson`

**Additional context**

Default javalin jackson configuration checks for critical modules, would be great if it autodetects some popular modules out there.

The Ktorm project needs a [special module](https://www.ktorm.org/api-docs/org.ktorm.jackson/-ktorm-module/index.html) in order to proper serialize their results and

[2022-04-03 10:13] Playacem commented on #1496
You can simplify your custom ObjectMapper setup by reusing the default ObjectMapper like this:

[code]

[2022-04-03 10:50] tipsy commented on #1496
Thanks for your issue @sombriks !

It's the first I've heard of it, are you sure? Ideally I want to keep the number of dependencies low.

[2022-04-03 14:02] #1278 closed

[2022-04-03 14:02] #1402 closed

[2022-04-04 02:53] tenyears94 opened #1498 "Document improvement request"
Dear developer, I have been following you for a long time. I hope javalin can produce some more detailed documents, such as the combined use of pages (such as Vue or other UI frameworks). It would be better if there was a demo project to go out. Maybe I have been using the Spring framework, and I really don't understand the existing documents.

[2022-04-04 07:38] tipsy commented on #1498
Hi @tenyears94 - Could you be a bit more specific? Vue, React, and Angular (or other UI frameworks) are all independent from Javalin, Javalin is primarily a web server. What sort of demo project are you thinking about?

[2022-04-04 08:55] tenyears94 commented on #1498
I hope to have a demonstration project of the combination of Java and Vue. I believe it will be convenient for more developers to accept and be familiar with JAVALIN

[2022-04-04 13:05] tipsy commented on #1498
Here is a tutorial + project showing Javalin + Vue.js:
* Tutorial: https://javalin.io/tutorials/kotlin-vuejs-example
* Project: https://github.com/tipsy/javalin-vuejs-example

[2022-04-04 13:13] tenyears94 commented on #1498
Thank you for your help and look forward to a stronger JAVALIN

[2022-04-04 14:46] mattn opened #1499 "java.nio.file.NoSuchFileException: src/main/resources/vue"
I built jar with gradle. And it works well on local Windows/Linux both. But when I make docker-image using the jar. It does not work correctly.

[code]

build.gradle
[code]

Dockerfile
[code]

Main.java
[code]

Could you please explain why this error caused and how to fix this error?

[2022-04-04 15:05] #1498 closed

[2022-04-04 15:22] tipsy commented on #1499
It's hard to know exactly what is wrong @mattn, but start at this function call:

[code]

This method has a lot of ways of setting the directory path:

[code]

Hopefully you'll be able to provide a working path via one of the overloads :)

[2022-04-04 16:19] mattn commented on #1499
As I wrote above, when running with the jar on non-docker environment, it's working fine without any workarounds. But when running on docker environment, this error occured.

[2022-04-04 17:25] BytePhilHD commented on #1492
Hi again :)
I tried your solution with the cookies but there's a new problem: I want to create a cookie from a websocket (with a ID in it). The problem is, that, as far as I know, its not possible to add a cookie from a websocket. Code:

`        app.ws("/test", ws -> {
            ws.onMessage(ctx -> {
                ctx.cookie(name);
            });
        });
` (There is no cookieStore method

[2022-04-04 19:08] tipsy commented on #1495
This could either be configured though `JavalinConfig` or `JavalinConfig#ContextResolvers` (it is related to context after all):

Context resolver:
[code]

Base config:
[code]

[2022-04-04 19:12] tipsy commented on #1492
Maybe you can set the cookie on a normal GET request, or through an `AccessManager` ?

[2022-04-04 20:31] tipsy commented on #1480
The `Resource` class has several factory methods that we can use instead of just classpath:

![image](https://user-images.githubusercontent.com/1521451/161626963-5a1ba4ee-42e8-4f48-9e35-61df03a287b0.png)

[2022-04-04 20:40] tipsy commented on #1406
I think I will just close this 🤔

[2022-04-04 20:40] #1406 closed

[2022-04-04 20:52] tipsy commented on #1414
I'm just going to close this and put it with the rest... 😓

[2022-04-04 20:52] #1414 closed

[2022-04-04 20:53] tipsy commented on #1369
@TareqK I'll close this, but feel free to reopen it whenever you're ready to work on it :)

[2022-04-04 20:53] #1369 closed

[2022-04-04 21:52] sauterl commented on #1414
Yeah unfortunately there was a lot going on between then and now, and I never came to properly write those tests I wanted. My apologies.

[2022-04-05 17:14] MrThreepwood commented on #1496
Doesn't Ktorm just use kotlinx.serialization under the hood? Maybe I'm misunderstanding, but I thought Ktorm was primarily for handling client and service http requests?

Is there a reason you'd use Ktorm with Javalin instead of kotlinx.serialization?

[2022-04-06 01:01] dzikoysk commented on #1424
Lately I've found this library with support for Jetty:

* https://github.com/Hakky54/sslcontext-kickstart

Easier to deal with clients for other than KeyStore formats, a little bit related to topic and the way how to simplify SSL management.

[2022-04-06 13:05] dzikoysk opened #1502 "Overreaching seekable range doesn't work"
Issue related to discussion on Discord,, tl;dr: Javalin returns overreached range as content-length, instead of the real max inputstream leangth.

[2022-04-06 14:29] #1502 closed

[2022-04-06 16:12] dzikoysk opened #1505 "Dynamic ETag generation is limited to 2GB responses and may lead to denial of service"
ETag implementation processes content using an in-memory copy of result stream. It has 2 disadvantages, one of them is just the size of supported result size which is max size of byte[] (~2gb):

[code]

The second call leads to OutOfMemoryError as expected:

[code]

It's an extremum as it dies immediately for just one request no matter how much memory we can use, but it explicitly shows the issue.

[2022-04-06 16:18] dzikoysk commented on #1496
In theory it's just an optional dependency and Ktorm is quite popular

[2022-04-06 17:41] tipsy commented on #1505
It's important to note that Javalin doesn't use this for static files, only for dynamic responses.

[2022-04-06 18:37] tipsy commented on #1496
Yeah, I just realized it doesn't add a POM entry, this should be fine.

[2022-04-06 20:00] gelfling opened #1506 "Swagger/OpenAPI question (Java)"
I am able to use the CrudHandler interface and ApiBuilder.crud() method to generate a well-formatted Swagger page (methods are grouped by tag, json schemas present, etc). However, when I lay out the paths manually and attach to methods, all methods are placed in the Default section despite a tag in the OpenAPI annotation, and json schema is not displayed. Is there an example for how to manually la

[2022-04-07 12:42] dzikoysk commented on #1505
I've checked how other frameworks do this.

1. Spring has a standalone plugin where you can define routes (filters) to generate etag value based on response:

* https://www.baeldung.com/etags-for-rest-with-spring#spring

2. Ktor doesn't provide any generator, just supports etag header if specified by user in handler:

* https://github.com/ktorio/ktor/blob/main/ktor-server/ktor-server-plugins/ktor-

[2022-04-07 20:10] hannesd opened #1508 "Log jetty timeout exception with trace or debug severity instead of silently dropping it"
**Describe the feature**
In io/javalin/http/ExceptionMapper.kt, handleUnexpectedThrowable(...) client abort and jetty timeout exceptions are simply dropped.
I suggest logging those exceptions using debug or trace severity.

**Additional context**
I spent too much time debugging my server application when it was the client that misbehaved. I only realized this when stepping through the server code

[2022-04-07 20:25] hannesd opened #1509 "resultStream() is not closed reliably"
**Actual behavior (the bug)**
In io/javalin/http/JavalinServlet.kt, service() / finishUpResponse() when an exception is thrown by `JavalinResponseWrapper(response as HttpServletResponse, rwc).write(ctx.resultStream())` in line 81 (for example a jetty timeout exception because the client does not consume the response body and just leaves), the resultStream() input stream is not closed.

**Expected

[2022-04-07 21:53] dzikoysk commented on #1509
The next Javalin release has a new implementation of servlet where it should not occur. That's because timeout listener modifies response in context and also overriding context response closes the old response:

https://github.com/tipsy/javalin/blob/0f166a18541f5178bc971c1e38dd20c5b53103b1/javalin/src/main/java/io/javalin/http/Context.kt#L344

[2022-04-08 05:51] mattn commented on #1499
No, since it works fine if running `gradlew run`

* Works with `gradlew run` and http://localhost:7000
* Works with `docker-compose up` and global IPs.
* Not works with `docker-compose up` and http://localhost:7000

I don't know why issue caused by

[2022-04-08 06:00] mattn commented on #1499
One more.

* Not works with deploying container on k8s and http://localhost:7000 via kubectl port-forward

[2022-04-08 07:35] pkkummermo commented on #1499
As @tipsy says, have you tried configuring the behaviour og JavalinVue explicitly? The plugin does some assumptions based on whether you're serving from localhost or somewhere else

[2022-04-08 07:44] tipsy commented on #1508
@hannesd this sounds fair, would you like to submit a PR?

[2022-04-08 07:48] mattn commented on #1499
No, I don't. This is repository of the app.

https://github.com/mattn/javalin-todoapp

[2022-04-08 07:49] #1499 closed

[2022-04-08 07:53] tipsy commented on #1499
If you refuse to check your configuration after being asked three times, I'm not going to keep the issue open. The docs explain the default behavior and how to configure the plugin: https://javalin.io/plugins/javalinvue#rootdirectory

[2022-04-08 07:53] mattn commented on #1499
Hmm, well, are you saying that I need to configure JavalinVue explicitly whether hosted on localhost or others?

[2022-04-08 12:49] athkalia opened #1510 "Using Caribou to help you track and reduce your technical debt"
Hello,

My name is Sakis, great to meet you 🙂 I am the co-founder of [www.hellocaribou.com](http://www.hellocaribou.com/), a dev tool that I think might be of use to you.

Caribou can help you track the progress of large scale refactorings that you do in your project. For example, I noticed that you have both Java and Kotlin files in your repo. If you are looking to migrate from Java to Kotlin, th

[2022-04-08 13:43] tipsy commented on #1510
Please don't advertise on the issue tracker.

![image](https://user-images.githubusercontent.com/1521451/162447891-7ba2fe87-5cdc-4fc0-a5de-58f45ff13985.png)

[2022-04-08 13:43] #1510 closed

[2022-04-08 14:52] jawebada opened #1511 "Path parameters in path field of OpenAPI annotation trigger false warning"
Hi, thanks for javalin, beautiful.

I ran into an issue where the openapi plugin asked me politely to "please add the `path` and the `method` information to the annotation". To be honest, I don't understand why the automatic matching didn't work in the first place, but that's not what I'm trying to document in this issue.

Point is, the matching still didn't work even though I added method and pat

[2022-04-08 14:54] oscarsan opened #1512 "javalin-openapi plugin, what would the correct way to add field description on objects."
**Describe your question**
Simple object like enums may have simple descriptions on the components schema side, at the moment I have been trying stuff like

        @Size(max = 141, min = 1)
        @OpenApi(description = "Message to the user").
        @JsonProperty(required = true).
        private String creditorName;

But I don get the expected result on the doc side

     creditor_name: {

[2022-04-08 15:40] jawebada commented on #1511
I patched this locally to

 `val pathParamsPlaceholders = pathParams.map { "{${it.name}}" };`

and it fixes my issue. However, since both `<param>` and `{param}` are valid, the correct fix seems to need a regex.

[2022-04-08 15:49] jawebada commented on #1511
Found your `core.routing.ParserState.kt` and decided to leave this to the experts. :-)

[2022-04-08 16:38] tipsy commented on #1511
@Playacem would be the expert on this case, but I think you more ore less solved it ☺️

[2022-04-08 16:54] tipsy commented on #1512
@oscarsan Where are you seeing this annotation API? I think the Open API plugin operates on 1 root annotation that you attach per handler:

[code]

[2022-04-08 17:06] tipsy commented on #1512
We have a method for adding examples `OpenApiOptions#addExample`, but it's not quite what you're looking for.

[2022-04-08 22:04] tipsy opened #1513 "4.5.0.RC0 feedback issue"

[2022-04-09 09:22] oscarsan commented on #1512
Hi, no it is not, i'm looking forward to insert description in request fields, openapi is open to this, and a lot of specs need for it and not all the field my by explicable by itself, so as the [AnnotationApi](https://github.com/tipsy/javalin/blob/master/javalin-openapi/src/main/java/io/javalin/plugin/openapi/annotations/AnnotationApi.kt#L9) has also annotation for Fields, I tried to used on a Fi

[2022-04-09 10:59] tipsy commented on #1511
I'll fix this (or at least try).

[2022-04-09 11:44] Playacem commented on #1511
The code in question is only used to print a warning message. It should not influence the behaviour of the plugin. Can you show us the change you made to your own code (not the Javalin code) ?

[2022-04-09 12:11] tipsy commented on #1511
@Playacem it's just a simple search for path params in a path, I know how to fix it ☺️

[2022-04-09 12:16] jawebada commented on #1511
Turns out, I just got confused by the false warnings. The latest version of the openapi plugin works as expected if the path param format matches the route definition. It just spits out false warnings about the path being incorrect.

I had followed a pre-v4 tutorial and thought the `:param` syntax was still needed for the plugin, which seemed to be confirmed by the warnings. I still don't understa

[2022-04-09 12:37] tipsy commented on #1511
I'm having some trouble triggering these warnings 🤔

[2022-04-09 13:05] tipsy commented on #1511
Thanks @Playacem - When I ran the `HelloWorldSwagger` example in the repo, I logged `"${pathParams.map { it.name }} vs $path"` and got:

[code]

Shouldn't I have seen this here?

[2022-04-09 13:07] #1511 closed

[2022-04-09 13:10] jawebada commented on #1511
Thanks!

[2022-04-09 13:11] Playacem commented on #1511
The HelloWorldSwagger example does not have a path parameter. This leads to `pathParams` being empty and `path` having the default placeholder value.

[2022-04-09 13:11] tipsy commented on #1511
I should have mentioned that I added one 😅

[2022-04-09 15:15] #1508 closed

[2022-04-09 23:23] dzikoysk commented on #1509
@tipsy I think it can be closed

[2022-04-09 23:33] tipsy commented on #1509
✔️

[2022-04-09 23:33] #1509 closed

[2022-04-10 00:32] dzikoysk commented on #1429
**Note:** [Micrometer](https://github.com/micrometer-metrics/micrometer/issues/2809) does not support JakartaEE 9 yet:

* https://github.com/micrometer-metrics/micrometer/blob/a495888d9c4e1aae01c3b14c387bea6b39f27223/micrometer-core/build.gradle#L16

Javalin uses this integration here:

* https://github.com/tipsy/javalin/blob/master/javalin/src/main/java/io/javalin/plugin/metrics/MicrometerPlugin.

[2022-04-11 14:03] tipsy commented on #1429
Thanks for starting to look at this @dzikoysk ! For Micrometer, it seems they are already supporting jakarta for some modules: https://github.com/micrometer-metrics/micrometer/issues/2748 - either way, Micrometer is not going to stop us from going to Jetty 11, worst case we will just remove it.

[2022-04-11 16:16] tipsy commented on #1429
A small update to disappoint all the Java fans - after some back and forth on Discord, we've decided there will be no Java rewrite when we move to Jetty 11 (but we might produce an additional `javalin-shadowed-kotlin` artifact to help out people who are having issues with conflicting Kotlin dependencies).

[2022-04-11 16:46] tipsy commented on #1451
I will close this without taking any action on it.

[2022-04-11 16:46] #1451 closed

[2022-04-11 16:47] tipsy commented on #1495
This has even been released.

[2022-04-11 16:47] #1495 closed

[2022-04-11 17:09] dzikoysk opened #1517 "Javalin 5.0 Roadmap"
This issue summarizes issues related to Javalin 5.0 (GitHub + Discord).

### Confirmed

- [x] 1. Restructuring
  - [x] 1.1. Move everything to [Javalin](https://github.com/javalin) organization
  - [x] 1.2. Extracting plugins to standalone repositories in Javalin organization: https://github.com/tipsy/javalin/issues/1428
  - [x] 1.3 Extract template engines
- [x] 2. #1429
- [x] 3. Java 8 -> Java 1

[2022-04-11 22:32] rbygrave commented on #1429
Any chance of adding a link to that discussion?  Ta.

[2022-04-11 22:49] tipsy commented on #1429
@rbygrave it starts here: https://discord.com/channels/804862058528505896/957002566728835073/962996075701096461

[2022-04-11 23:09] rbygrave commented on #1429
Thanks. Somehow I'm failing with that link ... in that I get there after registration and it only has: "NO TEXT CHANNELS ... "
Oh well, I might try again sometime. Thanks anyway.

[2022-04-12 09:06] conapi opened #1518 "OpenApi DSL: Is it possible to adjust the XML format?"
I use Javalin to expose APIs.
The goal is to expose them as JSON and XML and pass then the resulting XML/JSON to a messaging system.

[code]

This works but the XML is wrapped with the Java class name.
I would prefer if I could adjust that.
If I understood the OpenApi API correctly, then the Schema allows doing this via [Schema.setXML](https://github.com/OAI/OpenAPI-Specification/blob/main/version

[2022-04-13 07:04] hannesd commented on #1508
Thank you!

[2022-04-13 08:08] tipsy commented on #1508
Did you try out the rc? :)

[2022-04-13 16:29] #1492 closed

[2022-04-13 16:29] tipsy commented on #1487
Let's be satisfied with the example.

[2022-04-13 16:29] #1487 closed