[2019-03-11 23:26] Schachte opened #497 "Issue with Gson Annotations in JSON Mapper"
**Actual behavior (the bug)**
I have the `@Serialized` annotation on some class variables so they can return to the client under a different name than the actual variable name:

Example:
[code]
would return test instead of data in the json response.

This was working in Spark with no issues, but after:
[code]

the annotated fields just get ignored and it returns back the original variable name. An

[2019-03-12 00:30] tipsy commented on #496
Hi @azurvii. The `context.json()` function uses `JavalinJson`, which can be configured with any JSON library. For this reason, it can't throw `JsonParseException`, or any other specific exception.

Instead of wrapping things in a try-catch, consider using an exception mapper:

[code]

[2019-03-12 00:32] tipsy commented on #497
Hi @Schachte. Javalin doesn't do anything other than call the mapper you've specified. What is the result of calling `GSON.toJson(yourClass)` ?

[2019-03-12 15:57] Schachte commented on #497
Going to close this issue. I think it's related to GSON and crossing bundles in our OSGI code. I add the block into the bundle that the annotations exist in and the serialization/deserialization works as expected.

Can't say I'm exactly sure as to why this is happening, but seems like a bundle issue in OSGI.

[2019-03-12 15:57] #497 closed

[2019-03-12 16:32] tipsy commented on #497
Happy you found a solution!

[2019-03-13 00:10] #490 closed

[2019-03-13 00:10] #491 closed

[2019-03-14 23:52] fwgreen opened #498 "Where do I place the templates directory in modular project?"
Where does Javalin look for the `templates` directory in modularized projects?  I've tried moving the templates directory to the project root, which works for Spark and Mustache, but still no joy.

[2019-03-15 00:23] fwgreen commented on #498
After reviewing my old project, I see that I had the same issue with Spark and had to open the whole module to make things work, which also works in this case.
[code]
Opening everything sort of defeats the purpose, so I'm hoping for a better way.

[2019-03-15 02:03] eduvim opened #499 "GraalVM natively"
**Support Graal VM**

I have been thinking about some javalin use cases and I have been wondering if may be the team can work in built in support for GraalVM. May be at this point of the project  is easier.

[2019-03-15 07:25] tipsy commented on #499
There's already a tutorial, how would 'built in support' look?

[2019-03-15 07:28] tipsy commented on #498
I'm a Kotlin user myself, so I've never tried this. Javalin looks in the resource folder, so maybe googling how java handles resource folders in modularized projects will help.

[2019-03-15 08:06] fwgreen commented on #498
This is the approach used by the Ebean team, but I don't know if it's applicable here: https://github.com/ebean-orm/ebean/commit/85d3caf07960957a2cef7596a713443087ea5bff.

[2019-03-15 08:47] paz-raon opened #500 "[Custom server] jetty unixsocket"
**Describe the feature**

I want to use 'org.eclipse.jetty.unixsocket.UnixSocketConnector'

I got a exception below

**Additional context**

please

[2019-03-15 15:41] tipsy commented on #500
@paz-raon Okay so I'm guessing this is the offending line:

[code]

Should be easy enough to fix (check before casting). Would you like to submit a PR?

[2019-03-16 12:49] tipsy commented on #496
@azurvii I'm going to close this now, please re-open if you need more help.

[2019-03-16 12:49] #496 closed

[2019-03-16 12:50] tipsy commented on #488
@fwgreen Are you working on a PR for this?

[2019-03-16 12:52] tipsy commented on #479
Hi @Zomis, did you decide if you're doing this?

[2019-03-16 12:53] tipsy commented on #356
@7agustibm ping.

[2019-03-16 12:56] 7agustibm commented on #356
Sorry @tipsy! Yes, I can do it. Should it be completely separate or do you want to add it as a feature?

[2019-03-16 12:56] tipsy commented on #498
@fwgreen you could try by creating your own `FileRenderer`. I'd be happy to include this as a util if it works. I think most template engines will accept the template as a `String` instead of a path, but I'm not sure.

[2019-03-16 13:06] tipsy commented on #356
If I understand the code correctly it looks like it can be added similar to `JavalinJson` and `JavalinRenderer`, so `JavalinGraphQl`. Does that sound right?

[2019-03-16 13:15] 7agustibm commented on #356
Ok. I look at the JavalinJson packet and I do a PR when I have it.

[2019-03-16 13:36] tipsy commented on #488
So, I'm looking a bit at this now. I think it's helpful to write the three cases out for each proposal:

1. String value
2. Casting
3. Validation

[code]

[2019-03-16 15:02] kvkk opened #501 "Request handler running twice if object initialization fails while handling request"
**Actual behavior (the bug)**
Request handler is called twice when new object creation fails while handling request. ExceptionHandlers are not called. Running request handler twice is marking request complete but setting status code to 500

**Expected behavior**
I expect to exception handler kick in and send exception response message

**To Reproduce**
git clone https://gitlab.com/kvkiran/javalin-

[2019-03-16 15:36] tipsy commented on #501
The problem isn't the exception, but the `ExceptionInInitializerError` that occurs. The exception-mapper is not supposed to handle `java.lang.Error` types, only exceptions.

[2019-03-16 16:58] kvkk commented on #501
The expectation is error handler can be used in this case right? I updated code to add error handler but the same result.
The other question is why is the request handler called twice incase of error

[2019-03-16 17:13] tipsy commented on #501
The `app.error` method works on http-error codes, not `java.lang.Error` types. I'm not quite sure what you're seeing, but the handler isn't called twice.

[2019-03-16 18:09] tipsy commented on #488
Alternative 4 is very easy to implement.

[2019-03-16 19:51] tipsy commented on #488
Made a PR: https://github.com/tipsy/javalin/pull/502

[2019-03-16 20:01] fwgreen commented on #488
I wouldn't know where to start as my Kotlin skills are non-existent:  With their function types being so different, I don't know how to design an API to make the two languages play well together.  So I very grateful that you took the time to take the lead on this.

[2019-03-16 20:48] tipsy commented on #488
My pleasure, I think the new API is a big improvement. It will look a bit different from Java though:

[code]

What do you think?

[2019-03-16 22:21] fwgreen commented on #488
Yes, I agree that it's much improved, plus blends nicely with the existing API.  Should I close this issue or will you wait for more comments?

[2019-03-17 01:00] kvkk commented on #501
Seems like I am missing something here. I don't see error handler being hit on status code of 500. Here is a recording to showcase what I am seeing. http://recordit.co/wb1lgPuyI4.

[2019-03-17 01:41] tipsy commented on #501
I see! This appears to be a Jetty thing, I'm not sure why it's happening. It can be "fixed" by catching `Throwable` instead of `Exception` in the http-handler.

[2019-03-17 07:28] eduvim commented on #499
I think that it will be awesome that the tutorial already mentioned  doesn't exist. I suppose that it could be an enhancement in order to support the new "super fast JVM"

[2019-03-17 08:30] tipsy commented on #499
I agree that it would great if the tutorial didn't have to exist, but if you read through it you'll see that the things you have to do are because of Jetty and Jackson, not Javalin itself. Creating 'built in' support and keeping Javalin flexible doesn't seem possible currently.

[2019-03-17 09:18] tipsy commented on #488
Let's leave the issue open, I'll close it when/if I merge the PR.

It already accepts a `(String) -> Any`, which should be equivalent to a `Function<String, Any>` 🤔
Are you not able to call it from Java?

[2019-03-17 10:31] tipsy commented on #501
So this is intended behavior for Jetty. If a `java.lang.Error` occurs, Jetty redispatches the request with DispatcherType=ERROR set in order to generate an error page. These are concepts Javalin doesn't know about, so I think the right thing to do would be to change the `catch` in `JettyServerUtil.httpHandler` to catch `Throwable` instead of `Exception`.

Would you like to submit a PR @kvkk ?

[2019-03-17 13:12] fwgreen commented on #488
Kotlin's version of `java.util.function.Function` is actually `kotlin.jvm.functions.Function1`, so:
[code]
Using `kotlin.jvm.functions.Function1` fixes the mismatch but doesn't support chaining.

[2019-03-17 13:20] Zomis commented on #479
@tipsy That is the plan, yes. I just haven't quite figured out how it works when certificate expires. At the moment I need to restart the server for that, but I'm planning on investigating a way to automatically get the underlying Jetty server to reload the certificate information.

[2019-03-17 13:50] tipsy commented on #488
I see. I'm not sure if it's possible to overload the method without confusing the compiler. I remember having some trouble with this in the past, which is why most public APIs are in Java. If you can make it work without interfering with anything, I'd be happy to review a PR.

[2019-03-17 14:09] tipsy commented on #479
Thanks, was just going through the issues. Looking forward to it!

[2019-03-17 15:45] #488 closed

[2019-03-17 16:18] safra36 opened #503 "using # in in splat will make the url not work"
When using .splat to get * in the url, when the content contains a # it will return not found.
Any idea?

[2019-03-17 16:21] azurvii commented on #496
Thanks @tipsy. This is an interesting way of handling exceptions.

[2019-03-17 17:44] CodeMaven opened #504 "Websocket session.send(byteBuffer) is not sending anything"
Hi, I am trying to send binary data on a websocket. I was previously sending JSON but I've moved to a binary protocol. However, on the javascript client side now I'm getting either an empty blob or an empty ArrayBuffer (depending on how I configure my JS websocket).

Here's what I'm doing:
`
Javalin j = server.getServer();
 j.ws("/ws/test/", ws -> {
            ws.onConnect(session -> {

[2019-03-17 18:09] CodeMaven commented on #504
Please disregard this. After sending this I got it working. Not sure what was wrong, but it seemed to be something with the way I was constructing my ByteBuffer...

[2019-03-17 18:09] #504 closed

[2019-03-17 18:16] tipsy commented on #503
Could you create a minimal working example?

[2019-03-17 22:44] kvkk commented on #501
Yeah sure. will do

[2019-03-18 05:48] paz-raon commented on #500
@tipsy

I deleted return value of JettyServerUtil.initialize()
because of It is not available, when I use only UnixSocketConnector.
check it out.

[2019-03-18 06:11] safra36 commented on #503
`app.get("/api/servers/key/*/port/*/getinfo", ctx -> {

            String key = ctx.splat(0);
            int port = Integer.valueOf(ctx.splat(1));
            ServerQuery serverQuery = new ServerQuery();

            if(!userManager.isUserAllowed(ctx.ip(), key)){

                ctx.result("Forbidden, Too much requests.");

            }else if (RequestManager.isRequestAllowed(key)){

[2019-03-18 15:52] tipsy commented on #501
Fixed by #505

[2019-03-18 15:52] #501 closed

[2019-03-18 16:04] tipsy commented on #500
Thanks, I commented on the PR.

[2019-03-18 20:01] tipsy commented on #503
@safra36 this test passes:

[code]

Did you remember to URL encode your key?

[2019-03-18 23:14] eduvim commented on #499
I think it would be the better answer at the moment. Hope this question helps people to understand about graalvm + javalin stack. Thanks for the answer

[2019-03-19 00:11] rbygrave commented on #499
Ah ok, I can't help but add my 2c (apologies)

GraalVM does a number of things but the title really suggests we are talking about native compilation.  With this being the case I see the term `super fast JVM` and thought I'd add some thoughts/opinions.

- It really is compiling to native code ahead of time so it doesn't run in the "JVM" but instead the "Substrate VM".  That has PRO's but also CON's

[2019-03-19 04:49] safra36 commented on #503
I completely forgot that it's a url, my bad , sorry for wasting your time.
now it works.

[2019-03-19 07:32] tipsy commented on #503
No problem, happens to everyone!

[2019-03-19 07:32] #503 closed

[2019-03-19 19:22] tipsy commented on #499
Thanks for your input @rbygrave, I wasn't aware that the limitations of GraalVM were that severe 🤔

I'll close the issue now, but I'll label it as `INFO` so people can find it more easily.

[2019-03-19 19:22] #499 closed

[2019-03-21 08:14] tipsy commented on #500
This has been fixed now!

[2019-03-21 08:15] #500 closed

[2019-03-22 17:08] tipsy commented on #489
@RoRoche what do you think about this:

[code]

[2019-03-22 20:42] tipsy opened #508 "Rewrite configuration setup"
I've been playing around a bit with configuration: https://github.com/tipsy/javalin/pull/507

The general idea is to move away from `app.enabledXyz` methods, and to reduce the amount of methods on the `Javalin` class:

[code]

Any thoughts?

[2019-03-23 04:28] fwgreen commented on #508
This is a great idea!  Maybe this could lead to having the option of using external config files?

[2019-03-23 07:33] tipsy commented on #508
@fwgreen The idea is to make it easier to configure Javalin via config files at least, but I wasn't planning on having an official "Javalin Config File" concept. When you configure your apps, do you usually have more than one config file?

[2019-03-23 08:02] fwgreen commented on #508
When I use Javalin, the only config file in my project is my persistence stuff.  My little projects are not sophisticated enough to require configuration management.  I only just suggested a possible future direction as it occurred to me that if one wanted to, for some reason, alter the port number after deployment, they couldn't without going back into the code.  I wasn't thinking of anything as

[2019-03-23 08:09] tipsy commented on #508
You definitely can already use config files now, this is how I configure my projects:

[code]
I'm reluctant to add a custom format, since then users will end up with more than 1 config file.

[2019-03-23 08:23] fwgreen commented on #508
Wow!  This library just keeps getting better:  You've thought of everything.  Could you please add some more documentation about this feature.  I would love to be able to manage my app's port number or it's logging level from a `config.json` file.

[2019-03-23 08:27] tipsy commented on #508
It's not really a feature of Javalin, it's reading a file and mapping it to a Kotlin/Java object. I see that a lot of people are confused about this, so I can write a tutorial after Javalin 3 is done.

[2019-03-23 13:20] tipsy commented on #453
I'm closing this, but adding `INFO` to make it easier to find.

[2019-03-23 13:20] #453 closed

[2019-03-23 13:21] tipsy commented on #368
No one seems to be bothered by how this works currently, so I'll just close it.

[2019-03-23 13:21] #368 closed

[2019-03-23 13:26] tipsy commented on #455
While this could be nice, no one seems interested in it.

[2019-03-23 13:26] #455 closed

[2019-03-23 13:27] tipsy commented on #450
@rbygrave Would you be interested in writing a tutorial for the website?

[2019-03-23 13:29] tipsy commented on #429
Hasn't been a lot of interested for this feature, so going to close the issue.

[2019-03-23 13:29] #429 closed

[2019-03-23 13:36] #377 closed

[2019-03-23 15:29] tipsy opened #510 "Fix WsSession"
The current `WsSession` implements `Session` and adds a bunch of additional functionality. A better approach would probably be to call it `WsContext`, and have the `Session` as a field on it.

[2019-03-23 15:32] tipsy opened #511 "Expose JavalinServlet in a better way"
Currently there's `EmbeddedJavalin` which extends `Javalin`, overrides a bunch of methods which can't be used, and sets `Javalin`s jetty config to nulls. It would be good if we could expose `JavalinServlet` more easily.

@mvysny might have some opinions here.

[2019-03-23 15:33] tipsy opened #512 "Remove old validation methods and simplify Validator classes"
Validation was simplified in 2.8.0. A lot of code can be removed in 3.0.0.

[2019-03-23 15:37] tipsy opened #513 "Make routing case sensitive"

[2019-03-23 15:39] #459 closed

[2019-03-23 15:42] tipsy opened #514 "Javalin 3.0 suggestions and feature request"
## Feel free to discuss Javalin 3.0 in this issue.

### Please create new issues if you have specific requests.

### The current milestone (roadmap) can be seen here: https://github.com/tipsy/javalin/milestone/7

### Current changelog: https://github.com/tipsy/javalin/compare/dbf20902ebe2e0d3d0a3f0a2d1545fca3d59ac45...HEAD

### Javalin 2.8.X will receive security updates when 3.0  is out, but no n

[2019-03-23 18:40] caoli5288 opened #515 "java.lang.NoSuchMethodError: io.javalin.core.CachedRequestWrapper.getContentLengthLong()J"
**Actual behavior (the bug)**
A description of what happened
Hi. I try launch Javalin in groovy script but it thr java.lang.NoSuchMethodError: io.javalin.core.CachedRequestWrapper.getContentLengthLong()J.

Codes here:
[code]

Full exception here:

java.lang.NoSuchMethodError: io.javalin.core.CachedRequestWrapper.getContentLengthLong()J
        at io.javalin.core.CachedRequestWrapper.<init>(CachedR

[2019-03-23 19:05] tipsy commented on #515
Do you have any other dependencies than the ones you listed?

[2019-03-23 19:06] tipsy commented on #515
Also, do grapes resolve transitive dependencies?

[2019-03-24 01:52] mvysny commented on #511
Hi, I remember that current solution is a bit fragile as I remember getting lots of class-not-found-related exceptions until I crafted the `EmbeddedJavalin` class properly.

I think it would be great if we split Javalin into two jars - javalin-servlet that only depends on Servlet API, and javalin that also uses Jetty. Then, we could make the class hierarchy reversed - make Javalin extend EmbeddedJ

[2019-03-24 07:57] tipsy commented on #511
Why are you thinking one has to extend the other, why can't `JavalinSerlvet` be a property on `Javalin`?

[2019-03-24 08:11] mvysny commented on #511
I thought we wanted to keep Javalin and EmbeddedJavalin as builders for JavalinServlet; however I don't understand the part of JavalinServlet being a property of Javalin - could you please describe your idea in more depth? Currently Javalin creates JavalinServlet in `createServlet()` method I think, and it doesn't keep it as a property.

[2019-03-24 08:36] tipsy commented on #511
I haven't thought too much about it, but something like:

[code]

There is also the option to do something like I've been considering for config:

[code]

But that makes the Hello World example a bit more complex then what I'd like.

[2019-03-24 08:44] mvysny commented on #511
Aha! So you're planning for JavalinServlet to have builder methods, then
having the Javalin class to only deal with Jetty-specific stuff? I like it,
since it removes that pesky inheritance :) Yet it's important to keep the
Java API simple.

On Sun, Mar 24, 2019, 10:36 David <notifications@github.com> wrote:

[2019-03-24 08:49] tipsy commented on #511
Not sure I would say 'planning' quite yet, but it's definitely something that has to be explored. There will be some code duplication (or wrapping rather), but in my mind it sounds like the simplest architecture.

[2019-03-24 08:51] mvysny commented on #511
I agree - it's either delegation + a bit of code duplication, or inheritance. I prefer delegation. You might save a few lines by extracting those common "get()"/"post()" methods into an interface, then make both Javalin and JavalinServlet implement the interface, and use Kotlin delegation (the `Javalin(val servlet: JavalinServlet) by servlet` syntax).

[2019-03-24 09:04] caoli5288 commented on #515
No.

Yes. It does.

[2019-03-24 09:15] tipsy commented on #515
Then I'm not sure what's going on. The `getContentLengthLong()` method comes from `javax.servlet`, it's definitely "there" unless something weird is happening with the dependencies. Javalin only depends on Jetty, which in turn depends on `javax.servlet`.

I know very little about groovy, maybe it pulls in the servlet API for some reason, and there's a version mismatch?

[2019-03-24 09:19] tipsy opened #516 "Consider publishing a `javalin-servlet` separately"
@mvysny do you have any experience with publishing separate maven artifacts from the same repo? I'm a bit scared of the complexity this will bring.

[2019-03-24 09:26] caoli5288 commented on #515
Or maybe kotlin compatible issues? I see your `CachedRequestWrapper` written by kotlin.

[2019-03-24 09:29] mvysny commented on #516
I use Gradle these days, but I remember it was easy with Maven too. You need to use the multi-module setup, but it's not hard to convert a project to multi module. I can do it if you'd like.

[2019-03-24 09:39] tipsy commented on #515
It is, but when you import Javalin as a jar I don't think that should matter, the jar only contains JVM bytecode (.class files).

[2019-03-24 09:40] tipsy commented on #516
I'd really appreciate that, thank you!

[2019-03-24 10:07] tipsy commented on #511
I made a quick PR to move things from `Javalin` to `JavalinServlet`: https://github.com/tipsy/javalin/pull/517

I didn't move the methods for adding stuff (`get`/`post`/`exception`, etc), as I'm just trying to get an overview. As far as I can see this should be pretty painless. There's a problem with `JavalinServlet` depending on `Javalin`, but that's only a problem if we want to publish two separ

[2019-03-24 10:11] mvysny commented on #516
No problem! However, in order to do this, I need to move all files into a subdirectory (say, the "javalin-servlet" module). I think this git move would then cause instant merge conflicts if there were another PRs. Therefore, I'd propose to do this when there are no other PRs around. However, first we need to:
* Decide that we want to do this :-D
* Decide on the naming. E.g. `javalin-servlet` and `

[2019-03-24 10:21] tipsy commented on #516
That sort of depends on how the project looks after it's done. In principle I'm all for it, but I don't want the project and release process to become so complex that I'll struggle with working on it on my own.

[2019-03-24 15:02] tipsy commented on #511
@mvysny I've done a few different hings in #517 now:

* Moved all of `JavalinServlet`'s dependencies into itself
* Created a `JavalinServer` for the server config
* Created a `JavalinWsServlet` for the websocket servlet

I was thinking we could create a `ServletJavalin` and make `Javalin` extend it.

`ServletJavalin` would then have access to `get/post/exception` etc, while `Javalin` would add `Ja

[2019-03-24 16:34] tipsy commented on #508
In #517 I split `Javalin` in to three classes. Config could look like this:

[code]

[2019-03-24 17:18] tipsy commented on #486
@tobiasdrechsel I refactored slightly: https://github.com/tipsy/javalin/commit/b23e780fd253910bc3b0fbd28a330bc94a51847e, please have a look.

[2019-03-24 17:19] tipsy commented on #486
It's okay to copy the steps, that's up to you.

[2019-03-24 17:43] mvysny commented on #511
Sounds good, even though having both `JavalinServlet` and `ServletJavalin` sounds confusing. Yet I quite like the ability to construct `JavalinServlet` without using Jetty, then optionally handing it to `JavalinServer` which starts the servlet using embedded Jetty.

[2019-03-24 17:48] mvysny commented on #516
I understand. In my experience the split tends to simplify things quite a bit since individual plugins and deps are split into multiple pom.xml, making them smaller and readable. mvn publish will then simply publish all submodules. It of course depends on the way how you release Javalin. Yet if you have no experience with multi-module projects then it might be overwhelming at start.

[2019-03-24 19:14] tipsy commented on #511
The naming isn't ideal, but I thought it made sense. A `ServletJavalin` is a `Javalin` with just a servlet:

[code]

Could try something more abstract, like `BaseJavalin` ?

[code]

I use the [Maven Release Plugin](http://maven.apache.org/maven-release/maven-release-plugin/) and release through [https://oss.sonatype.org/](https://oss.sonatype.org/). I'm honestly not a big fan of the process, but I

[2019-03-24 19:15] tipsy commented on #516
As long as there is a clear guide somewhere I don't really mind if it's a bit more work to setup/release.

[2019-03-24 23:06] tobiasdrechsel commented on #486
I added one comment but it is not really important

Will do it in the next few days

[2019-03-25 06:41] dherges opened #518 "Human-readable method names for web socket API (Java)"
**Describe the feature**

What about renaming the method names `handle()` in the websocket handler endpoints `CloseHandler`, `MessageHandkler`, `ConnectHandler`, and so on?

The target is to make Java class-based implementations more readable instead of having multiple `handle()` methods on the same class.

**Additional context**

### Current

[code]

### Idea 1

[code]

### Idea 2

[code]

#514

[2019-03-25 07:26] tipsy commented on #518
Sure, can do this!

[2019-03-25 08:15] RoRoche commented on #489
Seems good to me :)

[2019-03-25 11:33] pkkummermo opened #519 "Add "enforceSSL" option"
**Describe the feature**
I've come across this a couple of times, and while it is simple to "fix" in a before filter, it feels like it might be a good feature to have built in. Basically do a `.redirect("https://$currentUrl", 301)`

**Additional context**
Could be neat to have a predicate function as an optional parameter to allow for http for some urls:

[code]

[2019-03-25 17:38] tipsy commented on #486
Great! I made the field public again.

[2019-03-25 17:48] pkkummermo opened #520 "Add brotli compression"
**Describe the feature**
Add [brotli compression](https://github.com/google/brotli) to Javalin.

**Additional context**
We should probably also rename the current configuration (`.disableDynamicGzip()`) to something along the lines of
[code]

[2019-03-25 17:58] tipsy commented on #520
Last time I checked brotli was not suited for dynamic compression. There is a pretty recent comment on the jetty tracker about it: https://github.com/eclipse/jetty.project/issues/2553.

I don't think this is worth the implementation effort and additional dependency.

[2019-03-25 18:09] pkkummermo commented on #520
Might be too heavy as you say, but would be nice to experiment with it and see if it's worth it. It's not big gains,

but if we could stay "ahead of the curve" (or at least offer the ability to do so easily) it could serve some value :)

[2019-03-25 18:14] pkkummermo commented on #520
The link (https://blogs.akamai.com/2016/02/understanding-brotlis-potential.html) in the issue you mentioned actually talks a lot about the performance and some tweaking behind it. Still don't know if it's worth it though

[2019-03-25 18:18] tipsy commented on #520
https://github.com/MeteoGroup/jbrotli

[2019-03-25 18:23] pkkummermo commented on #520
https://cran.r-project.org/web/packages/brotli/vignettes/brotli-2015-09-22.pdf

[2019-03-25 19:13] tipsy commented on #520
We could do something like `dynamicCompression = setOf(BROTLI, GZIP)` then.

[2019-03-25 19:23] pkkummermo commented on #520
Does it really make sense to not choose gzip if you're choosing brotli tho?

[2019-03-25 19:49] tipsy commented on #520
What about the brotli purists?

[2019-03-25 23:39] mikexliu commented on #254
@tipsy
Wondering if it's possible to change `SwaggerRenderer` to accept a `URI` instead of file path?

---
Also wondering if it's possible to use static analysis to "figure out" the yaml for swagger, at least for the required parts to get swagger going.

For example, if we see:
[code]

It could auto generate:
[code]

I think this could even be detected at run-time if we can do some sort of "pre-pr

[2019-03-26 07:35] tipsy commented on #254
@mikexliu, it could accept both?

Static analysis sounds like a possible solution, but I don't have any experience with it, could you make an initial PR that shows the approach?

[2019-03-26 07:50] pkkummermo commented on #520
Haha I guess they're out there as well ^^

[2019-03-26 09:14] norricorp commented on #148
Setting up Javalin with Gradle tutorial.

[2019-03-26 11:33] tipsy commented on #486
This has been released as part of 2.8.0 now: https://javalin.io/news/2019/03/26/javalin-2.8.0-released.html

[2019-03-26 11:33] tipsy commented on #501
This has been released as part of 2.8.0 now: https://javalin.io/news/2019/03/26/javalin-2.8.0-released.html

[2019-03-26 11:33] tipsy commented on #488
This has been released as part of 2.8.0 now: https://javalin.io/news/2019/03/26/javalin-2.8.0-released.html

[2019-03-26 11:33] tipsy commented on #492
This has been released as part of 2.8.0 now: https://javalin.io/news/2019/03/26/javalin-2.8.0-released.html

[2019-03-26 11:33] tipsy commented on #500
This has been released as part of 2.8.0 now: https://javalin.io/news/2019/03/26/javalin-2.8.0-released.html

[2019-03-26 16:19] caoli5288 commented on #515
Any new ideas?

[2019-03-26 17:00] mikexliu commented on #254
@tipsy
I'm not sure, I've not used Kotlin before. I'm using Javalin with java and `new SwaggerRenderer(...)` only accepts a String.

I actually also have zero experience with static analysis. :D

[2019-03-26 19:26] h7kanna opened #523 "Adopt opencensus for metrics and tracing"
**Describe the feature**
Adopt opencensus for metrics and tracing

**Additional context**
https://opencensus.io/

[2019-03-26 19:28] tipsy commented on #523
@h7kanna Could you elaborate a bit on why you want this? Also, would you like to work on it?

[2019-03-26 20:18] h7kanna commented on #523
Hi, Opencensus is vendor neutral metrics, tracing facade. similar to Micrometer.
Yes, I would like to contribute to this.

[2019-03-27 03:57] kran commented on #514
maybe `formParamMap` is good to support nested form data.

[2019-03-27 15:47] majorpasza commented on #514
Rewriting to be based on Java 8 instead of Kotlin, but still be Kotlin-viable.
Under certain circumstances, pulling 5 kotlin related libs, including sdk might not be acceptable.
I remember there was discussion about it some time ago and I could see cuple valid points there.

[2019-03-27 17:07] tipsy commented on #514
@kran What is nested form data?

@majorpasza There are mostly upsides to rewriting to Java, except for one thing... It has to be written in Java. I didn't think that was so bad until I actually started rewriting it. I've become very accustomed to Kotlin over the years, and going back to Java was kind of a shock. The majority of users use Kotlin (although it's very close to 50/50), but that's not r

[2019-03-28 01:51] kran commented on #514
@tipsy
form field's name likes: fld[] or fld[name], they should be mapped into array or map, and the key should be just "fld", but not "fld[]" or "fld[name]".

[2019-03-28 02:48] fuuqiu commented on #514
`
data class student(
	var name:String = "kangkang",
	var age : Date? = null
)

//request json: {"name":"jan","date":"1553741222"}   ps: date is CST Unix timestamp   CST:2019-03-28 10:47:02
val student = Context.bodyAsClass(Student::class.java)
println(student.age)  //1970-1-1 00:00.000 Date  GMT = CST + 8   why?
`

Can the new version be just a different time zone? Thank you very much for your he

[2019-03-28 16:51] inaiat commented on #514
Hello @tipsy! Great work that you have done! After I use Spark in some projects I would enjoy to use Javalin. I have some issues to use Javalin in Google App Engine. I will appreciate a lot that you implement something like SparkFilter. Thank you.

[2019-03-28 17:34] ernestas2k commented on #518
Hey, take a look into one of pull requests that rework web sockets api.
Especially the latest commit (https://github.com/tipsy/javalin/pull/521/commits/c498bb685ad21c5bf8129f2306e583ed9d01500f)

` private static class FooWebsocket {

    @Override
    public void onConnect(Handler<WsContext.OnConnect> handler) throws Exception {}

    @Override
    public void onMessage(Handler<WsContext.OnMessage

[2019-03-28 17:35] tipsy commented on #514
@kran can you show me in code?

@fuuqiu This is not really related to Javalin, it's Jackson. You can configure your own Jackson mapper by calling `JavalinJackson.configure(...)`

@inaiat thank you! I'm not sure what "something like SparkFilter would mean in this sense", but it's possible to do this:

[code]

Javalin 3 will make the process of creating a `JavalinServlet` easier than it currently is

[2019-03-28 17:46] inaiat commented on #514
@tipsy In my apps with sparkjava I use in this way:

`@WebFilter(
        filterName = "InitFilter", urlPatterns = {"/*"},
        initParams = {
                @WebInitParam(name = "applicationClass", value = "cAppFilter")
        })
public class AppFilter extends spark.servlet.SparkFilter {
}`

SparkFilter implements javax.servlet.Filter. The implementation of SparkFilter is here: https://githu

[2019-03-28 18:39] tipsy commented on #518
@dherges How are you currently using `FooWebsocket` (a class with `implements` XyzHandler)

[2019-03-29 01:03] fuuqiu commented on #514
@tipsy  Thank you very much, I am negligent, I found the relevant configuration of jackson in the configuration, and now it has been modified. If you can add some data class data verification in version 3.0, I think this will be a very good function.

[2019-03-29 07:24] pkkummermo opened #524 "Add lifecycle events for route added / removed"
**Describe the feature**
Just a simple addition to the hooks that already exists. This will add flexibility and can let someone be creative and do some cool stuff.

**Additional context**
There might be some additional lifecycle we should add as well

[2019-03-29 08:24] tipsy commented on #524
This could replace the meta handler info thing internally in `Javalin`.

[2019-03-29 09:04] kran commented on #514
sorry for my weak english.

here is the code.

form:
[code]

handler:
[code]

output:
[code]

keys are encoded and  include `[]`.

in other languages/frameworks, like PHP, the struct is like this:
[code]

[2019-03-29 20:43] ernestas2k commented on #515
@caoli5288 is this script is the only file or is is it part maven/groovy project?

This might be due to incompatibility with old groovy, as groovy < 2.5 has old version of servlet-api (not 3.0), and since 2.5 they started using 3.0. Is it possible for you to update groovy to at least 2.5?

similar issue and discussion: https://github.com/perwendel/spark/issues/523

[2019-03-29 20:48] #510 closed

[2019-03-29 20:52] tipsy commented on #518
Fixed here https://github.com/tipsy/javalin/commit/dbf20902ebe2e0d3d0a3f0a2d1545fca3d59ac45 @dherges, thanks for the feature request!

[2019-03-29 20:52] #518 closed

[2019-03-29 22:18] tipsy opened #525 "Sync Request API in Context and WsContext"
Currently `Context` and `WsContext` share a lot of copy-pasted functionality, but it's not in sync. An interface sounds annoying, so we need to get better at copy-pasting. Or use an interface. Not sure.

[2019-03-30 09:32] tipsy opened #526 "Remove some methods from Context"
* `mapFormParams` // largely replaced by validated params
* `anyFormParamNull` // largely replaced by validated params
* `mapQueryParam` // largely replaced by validated params
* `anyQueryParamNull` // largely replaced by validated params
* `splat` // is really identical to pathParam, but index based
* `splats`  // is really identical to pathParamMap, but index based
* `validatedBodyAsClass`  // l

[2019-03-30 11:51] caoli5288 commented on #515
It's single script file only contains those lines.
[code]
both in idea or console, windows(mingw) or linux got this issues.

[2019-03-30 19:23] #526 closed

[2019-03-30 19:23] tipsy commented on #513
Fixed

[2019-03-30 19:23] #513 closed

[2019-03-30 19:41] rahimklaber opened #527 "Add a method to immediately send the response to the client."
**Describe the feature**

For example:
[code]
Let's say you want to log the ip of every user who's request was not OK.

You could use two after-handlers; one that checks if the status code is 200 and another one that would log the ip.

if the status code is 200 then the server would immediately send a response back to client by calling ctx.stop(), else the other handler would run and the client's

[2019-03-30 20:06] tipsy commented on #512
Fixed

[2019-03-30 20:06] #512 closed

[2019-03-30 20:07] tipsy commented on #486
Closing this since it's done, please let me know when you have the tutorial ready.

[2019-03-30 20:07] #486 closed

[2019-03-31 08:29] dherges commented on #518
Atm, I do it like this:

[code]

So I noticed it's only sub-classing to set the websocket handlers. Eventually, I'd like to it little bit more simpler, with API sugar like #528

[2019-03-31 08:44] tipsy commented on #518
I see! You could also do:

[code]

Is a new class really necessary? 🤔

[2019-03-31 09:36] ernestas2k commented on #518
@dherges
Actually I like your as well as  @tipsy approaches. If you still wish to have class that overrides methods it needs, you could quickly create helper class in your project:

`
// copy paste this class into your project
class WsHandlerBase {

    //@formatter:off
    protected void onConnect(WsConnectContext ctx) {}
    protected void onMessage(WsMessageContext ctx) {}
    protected void on

[2019-03-31 12:52] tipsy commented on #524
Added in https://github.com/tipsy/javalin/commit/34afcce25bab6769799993d0c684c1896f2f322c

[2019-03-31 12:52] #524 closed

[2019-04-01 00:22] SmithKevin commented on #527
I know yours is just a simple example and not an exact usecase, but couldn't you just accomplish the same thing in a single after block
[code]
I feel like every case where this might be useful could also be solved currently with some refactoring.  Plus it really ruins the flow.  If you were debugging it would be extremely difficult to remember that sometimes stop is used and the after blocks are s

[2019-04-01 05:36] tipsy commented on #527
This was my thinking too. I've never been in a situation where I needed this, but it's good to get some other perspective.

@rahimklaber Are there performance reasons for why you want to do this, or something else?

[2019-04-01 10:12] rahimklaber commented on #527
@tipsy I was thinking that if you have a chain of middle-ware and something goes wrong in one of them, then you would immediately return a response to the client and not execute the rest of the middleware.

So yeah for performance.

I now realize you could use Exception mapping for that.

[2019-04-01 12:28] bodiam commented on #148
Hi @norricorp , I actually just did that here: https://www.jworks.io/getting-started-with-javalin/

It's quite Kotlin focussed, but the Java support should be pretty straightforward.

[2019-04-01 12:31] bodiam opened #530 "Update of the tutorials"
Hi all, I was looking into Javalin, and I went through some of the tutorials, for example, the getting started with, and the integration testing one. I've just published an updated version of the 'Getting started one' on my own site here: https://www.jworks.io/getting-started-with-javalin/, and I'm posting a updated version of integration testing with Javalin+Fuel HTTP this Wednesday.

Are you int

[2019-04-01 12:38] tipsy commented on #530
That would be great. Please write a new one.

[2019-04-01 13:22] bodiam commented on #530
Okay, no problem. I can write a new post for using javalin with fuel, and maybe update the getting started one later?

[2019-04-01 13:24] tuxedo0801 opened #531 "before-handler and accessmanager for custom servlets?"
Hi there,
I managed to setup JWT Authentication like this:

[code]

So I have an "before" handler as well as an access-manager.

This works for routes like this:

[code]

Perfect. But how about custom servlets like this example:

https://github.com/tipsy/javalin/blob/master/src/test/java/io/javalin/examples/HelloWorldServlet.java#L19-L27

I tried to setup an before-handler for the path for this se

[2019-04-01 15:42] tipsy commented on #530
Sounds good, let me know if you need any assistance.

[2019-04-01 15:44] tipsy commented on #531
Since the access manager belongs to the javalin servlet, and your other servlet runs of a different context path, I'm not sure you'll manage to combine them. I'm not a servlet expert though, maybe there is a way to forward from a servlet to another?

[2019-04-01 16:09] tuxedo0801 commented on #531
Sounds like I have to write a wrapper Server around my custom servlet that checks authentication before actually sending the  requests to the actual servlet...

Too sad that javalin has no built in mechanism for that :-(

[2019-04-01 16:15] tipsy commented on #531
Pull requests are always welcome!

[2019-04-02 09:27] pkkummermo opened #532 "Crawlers doesn't work with SPA mode"
**Actual behavior (the bug)**
The endpoints which hosts an SPA endpoint returns 404 for crawlers

**Expected behavior**
Javalin should properly host the SPA page

**To Reproduce**
Enable SPA mode, access page with a Accept header that doens't accept html

**Additional context**
This line is the culprint: https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/core/util/SinglePageHand

[2019-04-02 16:25] ernestas2k commented on #531
This is expected since you bypass all of facilities provided by Javalin and manipulated with Jetty server directly. You created a new servlet on a different context path (therefore it lives a different life from Javalin which has it's own servlet).

For now most probably you'll have to call your functionality in two places. You could also take a look into Servlet Filters which surround Servlets (a

[2019-04-02 19:29] #532 closed

[2019-04-02 19:56] #527 closed

[2019-04-03 14:52] ernestas2k commented on #515
@caoli5288 could you also print first line of output when you run the script via IntellJ? (to see dependencies that are used for this script).

For example, my output is: /Library/Java/JavaVirtualMachines/jdk1.8.0_111.jdk/Contents/Home/bin/java -Dtools.jar=/Library/Java/JavaVirtualMachines/jdk1.8.0_111.jdk/Contents/Home/lib/tools.jar -Dgroovy.home=/Users/ep/.gradle/caches/modules-2/files-2.1/org.c

[2019-04-03 18:33] caoli5288 commented on #515
@ernestas2k Ok.

[code]

[2019-04-03 19:08] tipsy commented on #508
Alternative:

[code]

[2019-04-03 19:10] stourwalk-work opened #533 "WebSocket - sendStringByFuture support"
We need to be able to send lots of WebSocket messages quite quickly and currently we are hitting a
"Blocking message pending 10000 for BLOCKING" error messages, it would appear that we could work around this by using the Async WebSocket support in Jetty which is accessible with session.sendStringByFuture() rather than session.sendString()

Is it possible that these methods could be exposed, or is

[2019-04-03 19:56] ernestas2k commented on #515
@caoli5288  is it possible for you to join https://gitter.im? I've sent you a message.

[2019-04-04 05:45] tipsy commented on #533
Isn't it available through `wsSession.remote.sendStringByFuture()`?

[2019-04-04 12:34] stourwalk-work commented on #533
You are indeed correct - request can be closed as it's already present (and solves our issue!)

[2019-04-04 12:34] #533 closed

[2019-04-04 13:12] tipsy commented on #533
Great! We should consider making this the default in Javalin 3.0.

[2019-04-04 17:52] ernestas2k commented on #515
Could suggest trying
[code]
or
[code]
Sadly couldn't reproduce it locally and not very familiar with Grapes() functionality, I still feel it's not related to javalin, but to some local setup that uses different version of servlet-api. Javalin 2.7.0 uses servlet-api 3.1 (which has introduced some methods, such as `getContentLengthLong`) and only case where you don't have this method is something ov

[2019-04-04 18:05] tipsy commented on #508
PR up now: https://github.com/tipsy/javalin/pull/534

[2019-04-05 00:04] SmithKevin opened #535 "Returning null from class validators causes 500."
**Actual behavior (the bug)**
If you make a JavalinValidator that returns a null value instead of throwing an exception, the validator assume that the Class was not registered and throws a 500

**Expected behavior**
 I would expect a null value to be treated as invalid input so a 400 would be throw instead saying the parameter could not be converted

**To Reproduce**
This is obviously contrived, b

[2019-04-05 00:04] SmithKevin commented on #535
I can take this on if you think its worth changing

[2019-04-05 05:03] tipsy commented on #535
Thanks, please make a PR!

[2019-04-05 06:49] #535 closed

[2019-04-05 22:09] tipsy commented on #525
Also consider making send async the default and create a sendBlocking method.

[2019-04-08 06:40] caoli5288 commented on #515
@ernestas2k Both not works. :-(

[2019-04-08 14:24] kptlronyttcna opened #538 "String result is not encoded as utf-8 by default."
**Actual behavior (the bug)**
`ctx.result("سلام")` shows non-sense characters in the browser.

**Expected behavior**
The browser should also show "سلام".

**To Reproduce**
Replace the hello world string in the sample with "سلام".

**Additional context**
This code works fine:
[code]

[2019-04-08 15:58] tipsy commented on #538
Are you trying to view it in a browser?

[2019-04-08 21:00] asad-awadia commented on #514
@tipsy Support for kotlin coroutines please

Being able to launch coroutines and let them do things async-ly and independent of the req/resp flow would be great

[2019-04-09 05:37] kptlronyttcna commented on #538
No, I want to use it in an android app, but when I tested in the browser, it showed non sense. You're saying it will be fine in android?

[2019-04-09 06:24] tipsy commented on #538
It should be, especially if you use JSON.

[2019-04-09 06:31] tipsy commented on #514
@asad-awadia currently you can do `ctx.result(myFuture)`, why would coroutines be an improvement?

[2019-04-09 18:23] tipsy opened #539 "WebSocket AccessManager"
This needs to happen as part of 3.0.

It doesn't seem to be that difficult, and we might be able to re-use the current `AccessManager`.

[2019-04-09 21:04] tipsy commented on #539
https://github.com/tipsy/javalin/pull/540

[2019-04-09 21:05] tipsy commented on #539
This doesn't handle exceptions thrown in the `AccessManager`

[2019-04-09 21:22] tipsy commented on #539
Now it does.

[2019-04-09 22:09] #508 closed

[2019-04-10 10:49] Jolter opened #541 "How to get started with user auth and session management"
Hi,

I've started using Javalin and found it really useful so far. However I've gotten stuck when adding real authentication and session handling. I've not used Jetty before, which I think is why I find the existing docs on that topic a bit on the short side.

I added an `AccessManager` according to tutorial https://javalin.io/tutorials/auth-example, and a `SessionManager` according to tutorial ht

[2019-04-10 11:10] david-wg2 commented on #541
I'm not all that familiar with how login is handled in Servlets/Jetty either, but luckily this isn't required for auth in Javalin. Once you have a session manager configured (the default one is fine too), you can trust Jetty to keep track of the session cookie which binds the user to the server side session. Handle login however you want (basic auth, google signing, etc), then do `ctx.sessionAttri

[2019-04-10 12:05] Jolter commented on #541
That sound very simple indeed. So, from my example above, I would instead do:

[code]

And after that I should see the session added to the database table, and a cookie set automatically?

[2019-04-10 12:08] david-wg2 commented on #541
Yes, that's correct. Anything you put in `ctx.sessionAttribute()` should be added to your database if you have one configured.

[2019-04-10 13:14] wherkamp opened #542 "Lowercase URL's"
**Describe the feature**
Force lowercase URLs. If someone makes a connection to my Javalin application and it contains an uppercase character in the URL. It will redirect to the URL but lowercase.

**Additional context**
Disabled by default.

Thank you :)

[2019-04-10 14:38] Jolter commented on #541
OK, I see that it also returns a cookie called `JSESSIONID`. The raw header is
[code]
I can work with that...

But looking at the data in my Postgres, I don't see how I could use the session storage to determine a session's username or Role:

[code]

Should I assume Javalin stores each Session's Role belonging in memory, and should be able to infer them? I'm not getting the expected results from t

[2019-04-10 16:12] tipsy commented on #541
I don't really know much about `remoteUser` and `isUserInRole`. Why do you need to use them? This is how I usually make my access managers:

[code]

[2019-04-10 17:42] austinhuck opened #543 "Context.resultString() needs to reset the stream reading"
The following results in the client receiving an empty response body instead of `Hello World`.
[code]

The client receives the expected response body when removing the call to context.resultString().
[code]

It looks like `Context.resultString()` should reset the result stream after it is finished reading.

The workaround is to call `context.resultStream().reset()` after a call to `context.resultS

[2019-04-10 17:47] tipsy commented on #543
I see that the reset is currently *before*:

[code]

Would you like to submit a PR to move it?

[2019-04-10 17:49] austinhuck commented on #543
I'm thinking it should be reset _before_ and _after_. I can submit a PR if that sounds like the correct solution.

[2019-04-10 17:53] tipsy commented on #543
Yes, that should be fine.

[2019-04-10 21:16] tipsy commented on #530
I'll close this as it isn't really a Javalin issue, please add your tutorials to https://github.com/javalin/javalin.github.io when you're ready !

[2019-04-10 21:16] #530 closed

[2019-04-10 22:44] bodiam commented on #530
Thanks! I've just submitted a Javalin post to DZone, when that's been
published I'll make the PR.

On Thu, Apr 11, 2019 at 7:16 AM David <notifications@github.com> wrote:

[2019-04-11 05:16] tipsy commented on #530
Great!

[2019-04-11 18:53] mbrn82 commented on #485
i am interested !!

[2019-04-11 19:08] mbrn82 commented on #485
how can i get this book?

[2019-04-11 19:43] tipsy commented on #485
@mbrn82 I need to write it first 🤔

I'm not sure I will, but if I do it will be for Javalin 3.0.

[2019-04-11 19:53] asad-awadia commented on #514
@tipsy

- Future's are unintuitive/clunky to work with
- They add an unneeded layer of async
- Coroutines is hands down one of the most nice/loved/innovative features in kotlin so support for that would help
- Coroutines also allow being able to spin off things outside the request/resp flow - I don't necessarily need to send it as the response but kicking off a coroutine which `delays(some-time)`

[2019-04-11 20:07] tipsy commented on #514
I'm not saying coroutines aren't nice, but you don't really have to deal with async at all in Javalin (at least that's the idea). You should be able to write all your code with coroutines if you do somthing like `ctx.result(futurify{coroutine})`? Then Javalin will take care of the future part.

Interoperability and "sameness" are key concerns for Javalin, so I don't want to introduce a concept tha

[2019-04-12 05:53] #541 closed

[2019-04-12 05:54] #531 closed

[2019-04-12 05:58] tipsy commented on #515
@caoli5288 I'm not able to reproduce this locally either. Maybe you have an old version in your grape cache? If this was a problem with Javalin itself, everyone would be seeing it (every request uses `CachedRequestWrapper`). I'm doing some cleanup, so I will close the issue, but feel free to keep posting in it.

[2019-04-12 05:58] #515 closed

[2019-04-12 15:37] tuxedo0801 commented on #531
Sorry for not giving feedback in time ...

I'm using javalin as a smart rest framework in SAP Cloud Foundry environment.
The part with the separate servlet is used to provide an OData interface via Apache Olingo (which is provided via servlet).
So while the "normal" backend is providing normal REST API, part of the backend would be OData via Apache Olingo via servlet.

Therefore, it would make sen

[2019-04-12 17:16] Schachte opened #544 "Trouble understanding how to use the templating engines in Javalin?"
I'm reading through the docs and looking online and struggling to use any of the templating engines like markdown or freemarker. I do not have a `renderThymeLeaf` or similar functions available on my context object. How is this supposed to be configured?

[2019-04-12 17:24] Schachte commented on #544
I'm reading the unit tests right now. Do I actually need to do anything to get the interpolation to work?

https://github.com/tipsy/javalin/blob/e8aee2a43f6b7e67e19d87bcc234afd1210aa38c/src/test/java/io/javalin/TestTemplates.kt#L71

[2019-04-12 17:49] tipsy commented on #531
I barely want Javalin to be responsible for its own security. The `AccessManager` is intended to be used per endpoint, and users have to write the implementation themselves. Javalin doesn't know about the endpoints on your other servlets, so it's not really a good match. You could attach a filter before both Javalin and the other servlet? For me it doesn't make sense that Javalin should be respons

[2019-04-12 17:52] tipsy commented on #544
It should just be `render(path, model)`. The suffixes were removed in 2.0, it finds the correct engine based on the file extension. Where did you find the outdated example?

[2019-04-12 18:34] Schachte commented on #544
Hm, must have been linked on outdated docs somehow. Is it possible (if I'm not doing templating) to just return a standard `html` file from the resources dir?

[2019-04-12 18:41] tipsy commented on #544
Yes, you can use a static resource handler for that: https://javalin.io/documentation#static-files

[2019-04-12 19:34] Schachte commented on #544
@tipsy I'm ultimately just looking to do something along the lines of `context.render("file.html");`

[2019-04-12 19:39] tipsy commented on #544
That seems a bit odd, but you can register a `.html` `FileRenderer` which just reads the file:

[code]

[2019-04-12 19:59] Schachte commented on #544
hmm. I must be doing something wrong, I have the following:

[code]

then

#### Handler
`context.render("AuthenticationSuccess.html");`

Yields:

[code]

Sorry, I must be missing something obvious.

[2019-04-12 20:41] tipsy commented on #544
You're swallowing an exception and returning null. The `render` method is not allowed to return null. Do `e.printStackTrace()` instead, and you'll find out what the problem is.

[2019-04-13 08:14] caoli5288 commented on #515
I can reproduce  it both my win10 laptop, my win10 PC and my debian server.

Why you can't?

Got same error in IDEA, or save to `hello.groovy` and execute by `groovy hello.groovy`.

:-(

[2019-04-13 08:34] tipsy commented on #515
I tried on OSX, but I can try on Windows too.

[2019-04-13 09:46] tipsy commented on #515
I'm seeing the same problem on Windows using Groovy 2.5.6. I've been trying for an hour to exclude the bundled servlet-api, but I haven't figure out how to do it. All you have to do is delete this jar:
![image](https://user-images.githubusercontent.com/1521451/56077849-58c76c80-5de1-11e9-8466-493007194079.png)

Then Javalin will start fine. But you have to ask whoever is making Groovy/Grab how to

[2019-04-13 13:42] tipsy opened #545 "Let FileRenderer throw exception"

[2019-04-13 13:51] tipsy commented on #544
@Schachte here is a full example:

[code]

I'm guessing you specified a path which resulted in a `IOException`.

This still sounds like a strange thing to want to do though, could you tell me a bit about your use-case ?

[2019-04-13 14:01] #539 closed

[2019-04-13 14:04] #545 closed

[2019-04-13 14:04] #538 closed

[2019-04-13 14:04] #498 closed

[2019-04-13 20:33] Schachte commented on #544
@tipsy Thanks for the example! I'll give it a shot. Essentially I'm doing an OAuth flow. The redirect URI from the OAuth provider hits my backend, which proxies a request to another third party. I want to conditionally return to the client some HTML from the server-side to let them know if the token authentication was successful. Because the redirect happens from an external source, this is the cl

[2019-04-13 21:13] tipsy commented on #544
If it's a one off thing it might be simpler to just set the result directly:

[code]

Note to self: This comes up a surprising amount of times, maybe I should add `readFile` to `FileUtil` 🤔

[2019-04-13 21:33] Schachte commented on #544
ah, honestly, I like this solution better for my case. The handler itself does a ton of processing, but I just want to conditionally return the html of 2 different files conditionally. This looks exactly like what I needed. Currently I am calling `ctx.html(MASSIVE_HTML_STRING_HERE)` and it really clutters my class.

[2019-04-13 21:57] tipsy commented on #544
You're welcome! It does sound like a better fit.

Very off topic, but I just visited your website and watched "Introduction To Docker and Docker Containers". Your style and the overall quality of the video is great! Would you be interested in creating a Javalin video?

[2019-04-13 22:58] peterbencze opened #546 "Add convenience methods for retrieving cookies to WsContext"
**Describe the feature**
Cookies are passed along with websocket requests. It would be nice, if we could simply retrieve cookies just like the same way we can in the `Context` class.

**Additional context**
Jetty's UpgradeRequest interface already provides a way to do this.

[2019-04-13 23:05] peterbencze opened #547 "Add the possibility to specify before handlers for websockets"
**Describe the feature**
Currently it is only possible to add before handlers for HTTP requests. It would be nice, if we could specify before handlers for websockets as well.

[2019-04-13 23:08] peterbencze opened #548 "Add the possibility to specify context attributes for websockets"
**Describe the feature**
Currently there is no way to specify context attributes for websockets. It would be nice, if we could add context attributes to `WsContext`.

[2019-04-14 02:14] Schachte commented on #544
@tipsy Thanks! Actually sounds like a cool idea. I'll throw that into my queue.

[2019-04-14 07:48] tipsy opened #549 "Javalin introduction video"
Thanks for doing this @Schachte. There's a pretty handy introduction to Javalin in Java magazine: http://www.javamagazine.mozaicreader.com/MarchApril2019#&pageSet=13&page=0

If you have any questions or need any other assistance at all, please let me know.

[2019-04-14 07:52] tipsy commented on #544
Great, happy to hear that! I've created an issue: https://github.com/tipsy/javalin/issues/549
I'll add some info there.

[2019-04-14 08:19] tipsy commented on #547
@peterbencze before the WebSocket upgrade request, or `beforeMessage`, `beforeConnect`, etc ?

[2019-04-14 08:22] tipsy commented on #548
@peterbencze could you elaborate a bit on this? Say you put a attribute in the `WsContext`, where will you retrieve it?

[2019-04-14 08:53] peterbencze commented on #547
@tipsy I think I would keep the same interface for before handlers as well (onConnect, onMessage, etc.). The only difference would be that these were called before any other handlers.
For instance I would use a before handler to validate a CSRF token (passed as a query parameter) in the onConnect method.

[2019-04-14 08:58] tipsy commented on #547
So, something like

[code]

[2019-04-14 09:05] peterbencze commented on #548
@tipsy You could retrieve it in other websocket handlers.
Imagine the following situation: you register multiple handlers for the same endpoint. Let's say one of the handlers close the socket (or something similar), so you need to let other handlers know that this socket is now closed, they should ignore it (I know you can use `session.IsOpen` to see, if the session is still alive).

[2019-04-14 09:07] peterbencze commented on #547
Yes, exactly.

[2019-04-14 09:17] tipsy commented on #547
If your token is not valid, what should the before-handler do? Should it be possible to throw exceptions in the before-handler, and should that skip the non-before handler? Do we need a WebSocket exception mapper? Do we need WebSocket after-handlers?

It will be a bit of work. Introducing this concept significantly complicates (but improves!) the WebSocket functionality. Is this something you're i

[2019-04-14 09:24] tipsy commented on #548
I'm still having trouble understanding this, could you write out a usage example?

(Unless you mean this is related to the `app.wsBefore` function, then I understand it).

[2019-04-14 09:28] peterbencze commented on #547
If we consider before handlers as filters, then it would make sense to be able to throw exceptions.
Currently, if we throw an exception in a before handler, then other handlers will be skipped, right? If this is the case, then I would expect the same behavior in case of websockets as well.
If we have before handlers, then after handlers would also be needed to be consistent.
I know it sounds compl

[2019-04-14 09:31] peterbencze commented on #548
Yes, it is related to before handlers.
However, if we could short-circuit the request in a before handler, then this use case would no longer make sense.

[2019-04-14 09:44] #546 closed

[2019-04-14 09:45] tipsy commented on #546
Thanks, done!

[2019-04-14 10:09] tipsy commented on #547
This hasn't been an issue for contributors in the past, it's very easy to pick up if you know Java. I don't want to implement this completely by myself, as I'm worried the API would be clumsy (since I don't use WebSockets like this). I'll try to have a look at what has to be done.

[2019-04-14 13:32] peterbencze commented on #547
I'll give it a try. :)

[2019-04-14 13:56] tipsy commented on #547
Very happy to hear that!

I've written down a list of what I think needs to done. If we look at `JavalinServlet`, this is how the request processing works:

[code]

Each of the functions with the "try" prefix are wrapped by the exception-mapper.

We need to introduce a similar processing pipeline to every annotated method in `WsPathMatcher` (like `@OnWebSocketConnect`). If we want to keep it simpl

[2019-04-14 16:02] peterbencze commented on #547
Let's continue the discussion on gitter.

[2019-04-14 18:59] #519 closed

[2019-04-14 19:27] #544 closed

[2019-04-14 22:03] LoYungSum opened #550 "java.lang.NoSuchMethodError: io.javalin.core.CachedRequestWrapper.getContentLengthLong()J"
This error happen when I have this code
Code: https://hastebin.com/giminetoko.cs
Error: https://hastebin.com/ubuhuriziy.sql
Pom.xml: https://hastebin.com/abirifadog.xml

[2019-04-14 22:10] pkkummermo commented on #519
The PR doesnt cover the predicate function. Is it intentional?

[2019-04-14 22:17] tipsy commented on #550
This happens because one of your dependencies are pulling in an old version of the servlet-api. Javalin requires version 3.1.0:

[code]

[2019-04-14 22:20] tipsy commented on #519
Yes, I think covering the basic use-case is good enough. If you add a predicate you're already half-way to writing your own before-handler.

[2019-04-15 02:41] kotjava opened #551 "Support for psk?"
Hello Im totaly new to creating a server (I created logic for a server in the past but the rest api and the deployment was the job of others), I have a very special case that I will own both, the clients and the Server (written in Kotlin because Im learning it). My clients will communicate over the internet so even if I dont think that I will be target of an attack I want to have encryption on the

[2019-04-15 05:37] LoYungSum commented on #550
Nope. It doesn't fixes.
Code: https://hastebin.com/uzurofinuf.cs
Error: https://hastebin.com/eleyewoyib.sql
pom.xml: https://hastebin.com/ocecehaqot.xml

[2019-04-15 08:09] tipsy commented on #550
You'll probably have to exclude the servlet-api from the dependency that's pulling in an old version.

[2019-04-15 08:10] LoYungSum commented on #550
How do I do that?

[2019-04-15 08:15] tipsy commented on #550
You'll need to figure out which dependency is including it, then follow this page: https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html

[2019-04-15 08:24] LoYungSum commented on #550
But how do I know which dependency is using an old version of javax.servlet-api?

[2019-04-15 08:36] tipsy commented on #550
You can build a dependency tree and inspect it: https://maven.apache.org/plugins/maven-dependency-plugin/examples/resolving-conflicts-using-the-dependency-tree.html

[2019-04-15 08:41] tipsy commented on #551
@kotjava This is not really something Javalin wants to solve. Everything related to security is handled by the user or by jetty. The easiest way for you to solve this is probably to google `tls psk jetty` (that gave me this result: https://github.com/eclipse/jetty.project/issues/1210).

When you find out how to solve this problem in Jetty, you can tell Javalin to use your Jetty server:

[code]

[2019-04-15 09:26] LoYungSum commented on #550
I don't think any dependency uses `servlet-api`
Here is the dependency tree: https://imgur.com/unYBtrZ
Which the line is the left is directly goes to my project root

[2019-04-15 09:31] LoYungSum commented on #550
Wait. I found it. Here is what I add in my pom.xml for other's reference.

[code]

[2019-04-15 09:45] tipsy commented on #550
Great, thank you for posting the solution!

[2019-04-15 11:50] tipsy commented on #525
Fixed by adding `upgradeCtx` to `WsContext`

[2019-04-15 11:50] #525 closed

[2019-04-15 12:54] #548 closed

[2019-04-15 13:29] 7agustibm commented on #356
Hi @tipsy! I have a PoC. You can see in this file https://github.com/7agustibm/javalin/blob/master/src/test/kotlin/io/javalin/examples/HelloWorldGraphQL.kt how to work. I have a little problem with integration expedia-graphql and javalin.

[2019-04-15 13:33] jehugaleahsa commented on #514
Let me start by saying I love this project. Of all the options available for Java, Javalin is light-weight and easy to work with. I was able to write a simple MVC framework (similar to ASP.NET Core) that uses annotation processing to build Javalin route definitions at compile time. Javalin makes a great core to my web stack.

One of things I found myself doing was using a 404 handler to support my

[2019-04-15 14:01] tipsy commented on #514
@jehugaleahsa thank you very much! There is a single page handler already:

[code]

I think it does exactly what you want (?).

For your second point, I'm not sure you save that much?

[code]

Why do you think this is better? One of my main goals for 3.0 is to slim down the number of methods on the `Javalin` class, so I don't think I'll add this one.

[2019-04-16 06:27] Jolter opened #554 "Continued questions about session management"
Hi,
I got some very good answers in issue #541, thanks for that.
You might consider adding some more info about sessions to the Javalin docs. As it is, the doc mentions that `attribute` and `sessionAttribute` exist, but it doesn't explain any of their behaviors, or what the differences are.

I got the authentication and role handling down now, however I'm not quite there yet with Sessions.

This t

[2019-04-16 07:59] tipsy commented on #554
It would be a lot of work to replicate all of the documentation for the underlying Servlet concepts, but I will consider expanding on the Session tutorial. The good news is that the Servlet javadocs are excellent, so you can cmd/ctrl+click to the source and read more there.

[code]

That should be the default implementation. The `JSESSIONID` cookie is set with an expiry of `1969-12-31T23:59:59.000

[2019-04-16 13:08] Taximan opened #555 "Can't load babel locally"
I'm having trouble with locally loading babel standalone.

`<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js" charset="utf-8"></script>`

the above will work

`<script src="/js/lib/babel.js"></script>`

this won't,  and the script will yield "SyntaxError: invalid range in character class". It's  probably this issue

https://stackoverflow.com/questions/165721

[2019-04-16 13:11] tipsy commented on #555
How is your server configured?

[2019-04-16 13:13] Taximan commented on #555
I have the basic setup

[code]

with a folder structure like this

![image](https://user-images.githubusercontent.com/7695966/56212257-f4631200-6059-11e9-8099-23ab1c02029b.png)

all files arrive as expected

![image](https://user-images.githubusercontent.com/7695966/56212337-18beee80-605a-11e9-916e-8bfa2ad5d9b5.png)

[2019-04-16 13:26] Taximan commented on #555
Some more data points

Java: openJdk12+33

screneshot showing that the file on disk is utf-8 encoded
![image](https://user-images.githubusercontent.com/7695966/56213058-9b947900-605b-11e9-9e43-8b62f582ef70.png)

cdn haders

[code]

javalin response headers
[code]

[2019-04-16 13:29] Taximan commented on #555
Test html file source

[code]

notice: charsets  are set as recommended by stackoverflow.

[2019-04-16 13:47] tipsy commented on #555
Works fine on my machine. Here's my code:

[code]

The headers I get:

[code]

I'm running against JDK8.

[2019-04-16 13:51] #550 closed

[2019-04-16 13:56] Taximan commented on #555
After adopting your code, the issue persists.

![image](https://user-images.githubusercontent.com/7695966/56215360-d7314200-605f-11e9-8ae0-4a018e170bb8.png)

But I don't really have the API you are having with `addStaticFiles` etc. So  I think we  are also running on different Javalin versions as well. The one I'm running at is `2.8.0`. I'm going to try to run it on oracle 8 and report back.

[2019-04-16 14:00] Taximan commented on #555
Same on oracle jdk8 with update 191.

[2019-04-16 14:06] tipsy commented on #555
I'm running the version on master (what will be 3.0 later), but the static file handling hasn't changed. Javalin doesn't actually do any of the static file handling, it's all taken care of by Jetty, so it's strange that you're seeing this. You don't have any before/after filters that are interfering with the response, youran the exact snippet I posted?

[2019-04-16 14:10] Taximan commented on #555
Nope.

Yes

I went ahead and created a minimal example https://github.com/Taximan/javalin-babel-problem-demo

here is what I get after running it

![image](https://user-images.githubusercontent.com/7695966/56216581-fb8e1e00-6061-11e9-9641-ee56a75882ec.png)

[2019-04-16 14:21] tipsy commented on #555
Getting the same error with your project, very odd.

[2019-04-16 14:25] tipsy commented on #555
At this point it's tempting to setup a plain jetty server to see if that works (https://www.eclipse.org/jetty/documentation/9.4.x/embedded-examples.html#embedded-file-server)

[2019-04-16 21:13] Jolter commented on #554
Thanks, I'll try SessionHandler().apply tomorrow.

About Jetty and sessions: Thing is, I read through the Jetty chapter you linked (it's linked from the doc, so of course I did). But I only find info on how to set up various config: the web.xml of a Jetty server, the .ini files for various persistency backends, details on session cache behavior, etc, all of which are kind of useless for a beginner

[2019-04-16 21:13] wherkamp commented on #474
From what I understand of SLF4J 1.8/ java ServiceLoaders all you need to do is check if the resource
`/META-INF/services/org.slf4j.spi.SLF4JServiceProvide` is present. If not there is not Logger if so you are good!
[code]

[2019-04-16 21:57] tipsy commented on #554
I have several apps running in production with this config:

[code]

`apply{}` is a general purpose Kotlin function. `SessionHandler().apply { httpOnly = true }`  is the same as:

[code]

To teach Kotlin, Servlets, and Jetty (and Javalin) for all topics will take a lot of time and effort, I don't think I'm up for that. I will expand on the session tutorial though, as it's a pretty important topic.

[2019-04-16 22:47] jhult commented on #492
The `Javalin` constructor initializes `jettyServer` (via `JettyServerUtil.defaultServer()` or otherwise).

@tipsy, doesn't this need to get killed or stopped when it fails to start? Otherwise, you get a phantom thread that keeps running.

[2019-04-16 22:57] tipsy commented on #492
@jhult I'm guessing most people won't let their program continue running if startup fails, but it could be good to call stop() just in case?

Could you submit a PR?

[2019-04-17 02:30] Nezteb commented on #514
OpenAPI/Swagger spec generation (#254), similar to [HTTP4K](https://www.http4k.org/guide/modules/contracts/) and [SpringFox](https://github.com/springfox/springfox).

Neither Javalin, Ktor, nor SparkJava support it. Ktor offers codegen (`Swagger -> Code`), but not the other way around (`Code -> Swagger`).

In my opinion, codegen isn't nearly as useful as spec generation.

[2019-04-17 07:52] Jolter commented on #554
Thanks @tipsy for explaining.
I get this in Firefox:
![image](https://user-images.githubusercontent.com/9645307/56269140-4efc7c80-60f3-11e9-87ec-e3d2adf5e26f.png)
I get this in Chrome, it seems to behave the same way:
![image](https://user-images.githubusercontent.com/9645307/56269675-7b64c880-60f4-11e9-9147-6211f831c69c.png)

As you can see it gets expired at "session" in FF which I guess explain

[2019-04-17 09:10] Jolter commented on #554
Reading this javaDoc: https://www.eclipse.org/jetty/javadoc/9.4.9.v20180320/org/eclipse/jetty/server/session/SessionHandler.html
[code]
Which looks like it supports your argument that it should be infinite if not set.
So what is happening that I get "session" in FF?

Also, why is there a getter but no setter?

[2019-04-17 10:56] Jolter commented on #554
I'm seeing this message in the logs on startup:
`[main] WARN io.javalin.Javalin - Failed to look up ID in sessionDataStore. SessionHandler might be misconfigured.`
Looking at the code in `JettyServerUtil.kt`, I don't see what might have gone wrong. The session persistence layer must be up and running, because I am seeing sessions persisted in the SQL DB as I open new browser sessions.

[2019-04-17 11:00] tipsy commented on #554
I've added some example code now: https://github.com/tipsy/javalin-jetty-sessions-example/commit/800c87089bd51c0aad7a8473207d5b9e8e1726fe

As well as a new section at the end of the tutorial: https://javalin.io/tutorials/jetty-session-handling-kotlin#usage-in-javalin

As for why your cookie has a bad expiry date, it's hard for me to help you, as I don't really know much more than you. This is all

[2019-04-17 12:04] Jolter commented on #554
Thanks, that's a very helpful update.
Any more help and I'll have to credit you as a co-author of my app! =)

I'll try to write a small reproducer but it'll have to be next week. I can open a bug ticket if I am really sure by then how to reproduce it.

For now, I am able to get the desired result with this workaround in my "/login" endpoint:

[code]

It's a bit of a kludge but it seems to work in

[2019-04-17 18:36] tipsy opened #556 "Create a testing tool"
People all have their own way of integration-testing Javalin apps. Maybe we should create an official package with a http-client and a set of useful methods?

The main goal is enabling people (and the Javalin project itself), to setup simple tests like this:

[code]

[2019-04-18 07:44] scorsi commented on #514
Hello,
Is it possible to see code helpers or docs to build micro-services architecture using Javalin ? :)

[2019-04-18 12:12] zoppello commented on #485
I'm interested

[2019-04-18 12:29] Orfeous commented on #485
So am i! :)

[2019-04-18 12:45] #547 closed

[2019-04-18 19:06] tipsy opened #559 "Move away from Travis"
It hasn't been very stable lately. Apparently CircleCI is better?

[2019-04-19 02:49] LoYungSum opened #561 "Getting javalin setup with SSL"
How to I setup javalin with SSL support with browser said it is safe freely?

![image](https://user-images.githubusercontent.com/25066078/56402663-c7e50b00-6290-11e9-839c-800a6b7427a3.png)

[2019-04-19 06:59] kindywu commented on #514
supoprt jpa,redis

[2019-04-19 07:54] tipsy commented on #514
@Nezteb Swagger support would be great, but I don't have any good ideas for how to solve it. If you want to try I'd be happy to help.

@scorsi Could you be a bit more specific? Are you talking about infrastructure, project structure, or something else?

@kindywu What do you mean support? You can use both of them fine, what would the support include?

[2019-04-19 08:09] tipsy commented on #561
Hi @LoYungSum. SSL is handled by Jetty, there's an example at `io.javalin.examples.HelloWorldSecure`.

[2019-04-19 08:13] tipsy commented on #559
This looks good: https://stackoverflow.com/questions/48991482/run-circleci-2-0-build-using-several-jdks

[2019-04-19 08:14] tipsy commented on #559
[code]

[2019-04-19 08:18] tipsy commented on #559
Gitlab also looks okay: https://docs.gitlab.com/ee/ci/examples/deploy_spring_boot_to_cloud_foundry/index.html

[code]

[2019-04-19 08:52] scorsi commented on #514
@tipsy

Hey,
I'm talking about infrastructure and some code inside Javalin to handle micro-services, something like:
[code]
The goal is to have a micro service per jar file (Gradle/Maven project) and to easily implement them like the `app` function. It should delegate more easily the code.
I don't know if that code is working with different Gradle project since it uses the `io.javalin.apibuilder.A

[2019-04-19 10:39] LoYungSum commented on #561
I know. But it didn't said how to make it become "secure"

[2019-04-19 10:42] tipsy commented on #561
https://www.thesslstore.com/knowledgebase/ssl-install/jetty-java-http-servlet-webserver-ssl-installation/

[2019-04-19 11:02] LoYungSum commented on #561
After reading it. I still don't know what should I do.

First, I create a file which contains the private key which is named `cert.cer`.
Then I execute this command
```openssl crl2pkcs7 -nocrl -certfile cert.cer -out certificate.p7b```
Then I insert the p7b to my keyfile
```keytool -import -alias example -trustcacerts -file certificate.p7b -keystore keystroke.jks```
But I got this error
```keytool

[2019-04-19 11:07] tipsy commented on #561
@LoYungSum This isn't really related to Javalin. Maybe you can post on stack overflow?

[2019-04-19 12:23] LoYungSum commented on #561
Ok.

[2019-04-19 15:40] ernestas2k commented on #555
Checked out the demo project, same error occurs. Went and copied content of https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js into projects' babel.min.js and it works now. I feel the babel.min.js copying has gone wrong.

[2019-04-19 16:50] #561 closed

[2019-04-19 16:55] tipsy commented on #555
Thanks for double checking @ernestas2k. At any rate it shouldn't be a Javalin issue, since Jetty is wholly responsible for static files. I'll close the issue.

[2019-04-19 16:55] #555 closed

[2019-04-19 16:56] #551 closed

[2019-04-19 16:57] tipsy commented on #554
You're welcome. I would advice against trying to manipulating the cookie manually, let Jetty handle that. I'll close the issue now, but please feel free to keep posting in it. I try to close question-issues to keep the tracker clean, but closed doesn't mean locked.

[2019-04-19 16:57] #554 closed

[2019-04-19 18:27] ernestas2k commented on #561
@LoYungSum maybe this article may help you https://examples.javacodegeeks.com/enterprise-java/jetty/jetty-ssl-configuration-example/ (there's dedicated section on how to configure ssl for embedded jetty which is used by javalin).

[2019-04-20 10:12] #543 closed

[2019-04-20 13:32] austinhuck commented on #543
Thank you @peterbencze, my appologies for not getting back to you.

[2019-04-20 16:16] tipsy commented on #542
<blockquote>
Péter Bencze @peterbencze 18:08

so I will summarize my thoughts because I have to head out:
* Paths and query param KEYS could be configured to be case insensitive
* It should use redirection instead of simply matching for the lowercase version
* Query param keys should not be lowercased by default
* Query param values should be untouched
* Path params should also be case insensitive

[2019-04-20 16:23] tipsy commented on #542
This sounds a bit too complex for my liking. I think we should just look at the non-path params part of the URL, ex for `/path/:param`:

[code]

Then leave everything else as it is.

[2019-04-20 16:30] tipsy opened #565 "Reconsider event system again"
[code]

[code]

[2019-04-20 16:31] tipsy commented on #542
@wherkamp what did you have in mind for this?

[2019-04-20 16:55] vrozkovec commented on #514
Hi, what about implementing JSR 380 Bean validation 2.0?

Then we could use some of these goodies:

    @NotNull – validates that the annotated property value is not null
    @AssertTrue – validates that the annotated property value is true
    @Size – validates that the annotated property value has a size between the attributes min and max; can be applied to String, Collection, Map, and array pro

[2019-04-20 17:19] wherkamp commented on #542
Query params (?bla=bla) to keep the same.
However the path and path params I would to be automatically lower cased.

[2019-04-20 17:30] tipsy commented on #542
Even the value of the path param?

[2019-04-20 17:41] wherkamp commented on #542
Yeah. Basically the full path. Not the query params.

[2019-04-20 17:43] wherkamp commented on #542
/users/:user
If you enter /users/KingTux?view=ME
Would redirect to /users/kingtux?view=ME

[2019-04-21 00:28] LoYungSum commented on #561
But the example still haven't solve the problem for "secure"
http://examples.javacodegeeks.com/wp-content/uploads/2015/06/ssl_im1.jpg

[2019-04-21 07:40] tipsy commented on #542
So something like

[code]

[2019-04-21 17:20] tipsy commented on #549
@Schachte have you started on this? If not, it might be relevant to you that the first alpha version of Javalin 3 is out: https://javalin.io/future/documentation

[2019-04-21 19:40] tipsy commented on #514
@vrozkovec I'm fine with that, but it would have to be an optional dependency. Would you like to submit a PR?

@scorsi I'm having some trouble understanding. You want to create one Javalin-instance per endpoint?

[2019-04-21 20:26] wherkamp commented on #542
I think so.

[2019-04-21 20:52] vrozkovec commented on #514
@tipsy when should be PR ready to make it to 3.0?

[2019-04-21 21:10] tipsy commented on #514
@vrozkovec The preliminary completion date is set to June, so some time before that. I will be releasing alpha/beta builds though, the first alpha version was released today.

[2019-04-22 21:20] tipsy commented on #565
Meh, we'll stick with this for a while.

[2019-04-22 21:20] #565 closed

[2019-04-22 21:50] tipsy commented on #511
@mvysny Please have a look at the current version:

[code]

The idea now is that you will configure/use Javalin like normal, then call `app.servlet.service(req, res)`, something like this:

[code]

[2019-04-23 10:06] mvysny commented on #511
Thanks - sounds interesting! Let me play with this a bit this afternoon :+1:

[2019-04-23 13:20] mvysny commented on #511
Doesn't work without Jetty on classpath:
[code]
Also, the following Javalin fields could be final?
[code]

[2019-04-23 13:35] tipsy commented on #511
Thanks, I'll have a look at what needs to be done.

[2019-04-23 15:22] tipsy commented on #511
@mvysny Gonna have a look now. If you ignore this issue, what do you think about the approach? Should I expose the servlet instead of requiring you to extend the class?

[2019-04-23 16:26] mvysny commented on #511
Well, I generally tend to avoid extending classes as much as possible, preferring component-oriented approach. Requiring to extend a class in order to configure it and use it, that doesn't sound right to me. I'd personally make the configuration and servlet public (via getters).

[2019-04-23 18:22] tipsy commented on #511
@mvysny I have it up and running now:

[code]

[2019-04-23 18:52] tipsy commented on #511
PR here @mvysny: https://github.com/tipsy/javalin/pull/566/files

[2019-04-24 04:40] Schachte commented on #549
@tipsy Haven't started on this yet, but I'll update when I get to that point. Been heavily busy at work, so haven't had free time to dive into this project yet.

[2019-04-24 05:47] tipsy commented on #549
No worries, just thought I'd give you a heads up about the new version!

[2019-04-24 14:58] ivanquirino commented on #514
I would like for an easy and simple way to deploy javalin on serverless environments (aws, google...)

[2019-04-24 15:21] #511 closed

[2019-04-24 15:24] mvysny commented on #511
Again, thank you so much for looking into this. Really appreciated!

[2019-04-24 15:27] tipsy commented on #511
You're welcome :)

[2019-04-24 15:39] tipsy commented on #516
So I was pondering this while reworking the architecture, but I never found a good solution. Any extracted servlet is going to be limited without Jetty, unless I create a lot of cumbersome abstractions. I don't think I can justify the added complexity for the limited benefit this would provide.

[2019-04-24 15:39] #516 closed

[2019-04-24 21:50] asad-awadia commented on #514
Protobuf over rest?

[2019-04-25 08:48] valtteric opened #567 "The type Handler from module io.javalin may not be accessible to clients due to missing 'requires transitive'"
I get this warning in Eclipse after upgrading my maven project to Java 11 and adding a module descriptor. Only way to get rid of it is to configure the problem severity. Any ideas?

Thanks!

[code]

[2019-04-25 19:31] tipsy commented on #514
@asad-awadia have a look at this issue: https://github.com/tipsy/javalin/issues/453

What support is required?

[2019-04-25 19:36] tipsy commented on #567
I pretty much stopped using Java after Java 8, so unfortunately I don't know much about this. Hopefully someone else can answer.

[2019-04-25 21:02] tipsy commented on #254
@TobiasWalle I heard a rumor that you were working on generating Swagger docs for Javalin source code, is this something you'd be interested in contributing?

[2019-04-26 00:08] asad-awadia commented on #514
@tipsy nvm then lol

[2019-04-26 05:35] TobiasWalle commented on #254
@tipsy I'm surprised that the rumor got already out, as I published the repository just yesterday.

I need a swagger generation library for a private project and as I didn't find anything that met my requirements. So I started implementing something by myself. It is currently not a library, but you can find the source code [here](https://github.com/TobiasWalle/kotlin-web-stack/blob/master/src/main

[2019-04-26 06:15] tipsy commented on #254
@TobiasWalle That's great, thank you! The feature has been requested way more than this issue would indicate, there's definitely a lot of interest. Do you plan on publishing the library yourself, or creating a PR?

[2019-04-26 09:02] TobiasWalle commented on #254
@tipsy  Sure, I can create a PR. I think this will make it easier to maintain the package in the long run. I'm going to prepare a fork and let you know once it's ready. I'm going to design the initial API but I will be open for changes and discussions.

[2019-04-26 09:08] tipsy commented on #254
Great, looking forward to reviewing!

[2019-04-27 09:52] tipsy commented on #559
Build currently failing because Travis can't install JDK 9, 10 and 11.

[2019-04-27 11:02] TobiasWalle commented on #254
I created a PR https://github.com/tipsy/javalin/pull/568

[2019-04-27 15:26] serima commented on #559
I think CircleCI is better for this case :)

[2019-04-27 16:35] tipsy commented on #559
@serima do you have any experience with CircleCI ? Could you help set it up?

[2019-04-28 00:48] serima commented on #559
@tipsy Yes, of course!
First of all, can you make integration settings?
https://circleci.com/docs/enterprise/quick-start/

[2019-04-28 17:46] accron-1 opened #569 "Add documentation or example of how to do a clean shutdown when started from main()"
Starting Javalin from `main()` is simple enough. But from there, how do I shut down the server with `stop()`, so I can take advantage of the shutdown lifecycle event, as opposed to simply killing the VM?

If I run e.g. Tomcat, I can do a clean stop with the `shutdown` command, or directly from the IDE if I add the server to the IDE.

I looked at the documentation but couldn't find anything about t

[2019-04-28 18:22] pkkummermo commented on #569
I did something along those lines in my my project at https://github.com/ExploratoryEngineering/tkaq

I simply listen to a Signal
[code]

then I have
[code]

and finally

[code]

[Source](https://github.com/ExploratoryEngineering/tkaq/blob/master/src/main/kotlin/tkaq/Main.kt)

[2019-04-28 19:32] accron-1 commented on #569
Cool, I didn't know about Signal, thanks! :+1:

Unfortunately it doesn't quite work for me as I'm running jdk11, and I think sun.misc.* is "unsafe" now, so that doesn't work out of the box anymore.

However, in the process of investigating the issue I came across a different solution that seems to work perfectly (that I didn't know about either):

[code]
I even tried it with a 5 sec sleep() in `Ja

[2019-04-28 19:34] tipsy commented on #569
Would you like to create a PR for the docs? The "stopping" section is here: https://github.com/javalin/javalin.github.io/blob/master/pages/docs-present.md#starting-and-stopping

[2019-04-29 17:53] humb1t commented on #485
Especially in new features like Prometheus support.

[2019-04-29 18:05] tipsy commented on #485
@humb1t that's just 1 line of code: `app.enableMicrometer()`.

[2019-04-29 18:07] tipsy commented on #556
I'm too lazy.

[2019-04-29 18:09] #450 closed

[2019-04-29 18:11] tipsy commented on #479
I'm going to close the issue, but I'm still very interested in having a tutorial for this. Let me know!

[2019-04-29 18:11] #479 closed

[2019-04-29 18:11] tipsy commented on #356
@7agustibm Looks simple enough! What's the problem?

[2019-04-29 18:12] tipsy commented on #523
@h7kanna Any update on this?

[2019-04-29 18:21] tipsy commented on #559
That seems to be for self-hosted CircleCI ?

[2019-04-29 19:03] 7agustibm commented on #356
When start demo with graphql-kotlin, return this errors:
[code]

Maybe, the best solution and simple, for me, is:

[code]
For post request, it's same code for now, but in get request return GraphQLi and it's more simple.

[2019-04-29 19:31] tipsy commented on #356
Looks like there might be a conflict in your dependencies?

[2019-04-29 19:35] 7agustibm commented on #356
Yes, it's. I updated the guava version of last version.

[2019-04-29 19:37] tipsy commented on #356
I guess this is the downside of having the hacky optional dependencies? 🤔

[2019-04-30 11:28] valtteric commented on #567
The module system is new stuff for me as well, one of the packages I'm using in a project pretty much forced me to add the module descriptor.

Adding javalin with
`requires transitive io.javalin;`
instead of the auto-filled
`requires io.javalin;`
makes this warning go away. I'm currently reading and trying to figure out why is that, but wanted to post a "solution" here anyway.

Btw, I have no idea

[2019-04-30 12:50] humb1t commented on #485
@tipsy, sry if I'm too newbie in the usage of Javalin.
I told about something like https://github.com/tobiasdrechsel/javalin-metrics-example/blob/master/src/main/java/javalin/metrics/example/App.java - because if I understand it right, `app.enableMicrometer()` will not publish metrics by default, you should configure it manually.

[2019-04-30 17:23] 7agustibm commented on #356
Maybe, it's... Maybe it should be loaded as a plugin completely separate of Kotlin.

For exemple:

[code]

[2019-04-30 19:01] ernestas2k commented on #559
@tipsy what's exactly unstable about travis (lately)?

[2019-04-30 20:18] tipsy commented on #567
Happy you managed to solve it. I will add the `INFO` label and close it, but feel free to add any more info you think might be useful.

[2019-04-30 20:18] #567 closed

[2019-04-30 20:18] #569 closed

[2019-04-30 20:46] h7kanna commented on #523
Hi, OpenCensus is undergoing change in spec, there is a plan to merge it with Opentracing. May be this feature should be worked upon once that is done.
https://medium.com/opentracing/merging-opentracing-and-opencensus-f0fe9c7ca6f0

[2019-04-30 20:55] tipsy commented on #523
Sounds fair, let's put this on hold until that's resolved.

[2019-05-02 01:37] aaronpoweruser commented on #556
I would find this useful, your test use internal classes of javalin, so are hard to replicate.

[2019-05-02 23:05] aaronpoweruser opened #572 "Support getting response headers"
**Describe the feature**
HTTP Location headers are being used to point to resources created by POST request as part of a http 201 response.
My use case uses an after handler to transform my internal urls to public ones, I want to be able to filter headers as well.

[2019-05-03 06:53] tipsy commented on #572
You could use `ctx.res.getHeader(headerName)` ?

[2019-05-03 12:55] aaronpoweruser commented on #572
Awesome I missed that there is access to the backing http response

[2019-05-03 12:55] #572 closed

[2019-05-03 18:23] tipsy commented on #569
Fixed in https://github.com/javalin/javalin.github.io/commit/f11a13a025fb5c3388d1915ed707a992f9c3b4d9

[2019-05-03 20:40] vinigmoraes commented on #514
Hi is it possible to add a way to throw my own exception when validating request body instead use **getOrThrow** in check?

[code]

[2019-05-03 21:27] tipsy commented on #514
@vinigmoraes The API for this has changed a bit with 3.0, the last call is just called `get()` now. If you'd like, you could add a `getOrThrow` which takes an exception ?

[2019-05-05 15:45] serima commented on #559
Oh, I'm sorry.

This document was for enterprise use. Of course there is no need to self-host.
Here is the correct document : https://circleci.com/docs/2.0/getting-started/

[2019-05-06 13:47] mikoet commented on #514
Would it be possible to make the size of thread-pool (min, max) configurable for the integrated Jetty?

I'd like to use Javalin with Hibernate, but with the default thread-pool size of up to 250, I'm not sure if I want to possibly have 250 Hibernate sessions. Or does this sound stupid?

[2019-05-06 14:53] tipsy commented on #514
You can already run on a custom server by calling `app.server()` @mikoet.

[2019-05-06 15:50] ivanquirino opened #573 "Does Javalin use an event loop for asynchronous?"
How does asynchronous mode really work? I've been looking into Vert.x and it uses an event loop for handling requests, while Javalin uses a thread pool. But when I define a handler which returns a `CompletableFuture`, what does change? Instead of spawning a thread to handle that handler, does it go into an event loop mode, or does it dettach a thread from the main thread pool?

I want to consider

[2019-05-07 04:55] iOSDevDude opened #574 "Groovy Calls to Context.pathParam("param") or .body() Results in UnsupportedOperationException"
**Actual behavior (the bug)**
Calls to Context.pathParam("param") or .body() result in an UnsupportedOperationException being thrown.

**Expected behavior**
Supposing that the path parameter "param" exists, pathParam("param") should return the corresponding path parameter value. Calls to .body() should return the body variables map.

**To Reproduce**
Create get route to test pathParam and a post r

[2019-05-07 17:38] ernestas2k commented on #574
Not sure why inline reified function got called, but not possible to use them from outside Kotlin. Neither groovy, nor java supports the function as they're not aware of such transformation.

Regarding groovy's access to the `pathParamMap` which is internal, use one of these:
[code]

[2019-05-07 17:41] iOSDevDude commented on #574
I apologize, that my example image is actually inaccurate, that actually was the temporary fix. That should have read
`def id = ctx.pathParam("id")`;

Thank you for your reply though. I'm not sure why the Kotlin version is visible either.

[2019-05-07 17:43] ernestas2k commented on #574
I suspect groovy doesn't respect Kotlin's visibility on that map. I'll take a look into why ```ctx.pathParam("id");``` doesn't work

[2019-05-07 18:10] ernestas2k commented on #574
Just confirmed, groovy chooses (probably because it ignores specifics of inline reified) inline reified on `ctx.pathParam("id)` since there are two functions `string pathParam(string)`.

So this is more of groovy and java issue (neither java can call reified, but at least `String id = ctx.pathParam("id")` is resolved correctly)

Your options are:
[code]

@tipsy, we could consider something to get

[2019-05-07 18:12] iOSDevDude commented on #574
Noted, thank you @ernestas2k for your help. Do you think this is the cause of the same error on calls to .body() on context instances as well?

[2019-05-07 18:18] ernestas2k commented on #574
Yes, same reason (`java.lang.UnsupportedOperationException: This function has a reified type parameter and thus can only be inlined at compilation time, not called directly.`).
Here are alternatives to use:
[code]

I hope these alternatives are ok for you :)

[2019-05-07 18:19] iOSDevDude commented on #574
I think they will work. I appreciate you assistance in the matter. Thank you @ernestas2k :)

[2019-05-07 18:22] ernestas2k commented on #574
Note, that unfortunatelly you'll face this issue for all inline reified params, but you can find alternatives in the same file: https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/http/Context.kt

Let's see what @tipsy thinks of this _incompatibility_

[2019-05-07 21:56] tipsy commented on #573
Hi @ivanquirino. Javalin relies on Jetty which implements the Servlet spec. I'm on a business trip, so I can elaborate later, but in short you can Google how async servlets work.

[2019-05-07 22:01] tipsy commented on #574
I'll have a closer look in a few days (I'm on a trip), but my general attitude is that we shouldn't add additional complexity in order to accommodate groovy users. Adding docs would be great though.

[2019-05-08 09:57] ernestas2k commented on #574
I lean towards your opinion, since this is something groovy compiler should be aware of (I'll consider registering bug to groovys tracker when I find free time). Meanwhile docs should help, I'll try to summarize these issues with a separate pull request.

[2019-05-08 17:16] tipsy commented on #573
@ivanquirino this article is about Spring Web Reactive, but it's basically the same: https://dzone.com/articles/understanding-spring-reactive-servlet-async

Javalin detaches/frees the the current request thread from the server's main threadpool. I've never looked into the details myself, I trust Jetty to fully take care of this. Here is a very simplified version of the request handling code:

[cod

[2019-05-08 17:31] tipsy commented on #574
@ernestas2k Great, I think adding docs is the best solution. Changing method names is not going to happen, but we could change method order (if that matters). It's not something that people should rely on though, so I think it's really up to the groovy devs to fix this.

[2019-05-09 07:08] ernestas2k commented on #574
Registered the bug in groovy tracker: https://issues.apache.org/jira/browse/GROOVY-9114
Let's see what they think.

[2019-05-10 11:27] Cadiducho commented on #554
Hello, i don't want to reopen the issue and "mess up" the tracker, but I have the same issue and @Jolter's workarround does not work for me either in a real browser.
So I comment to ask you if you find a fix or a workarround for this problem please share it!
And thanks Tipsy for your good support :)

[2019-05-10 16:01] Jolter commented on #554
@Cadiducho, I didn't have time yet to make a small, self-contained reproduction example. Should have time in a couple of weeks. Hopefully I will find the root cause in the process.

[2019-05-10 18:51] tipsy commented on #574
Seems like they're on top of it. I don't think it makes sense to keep this issue open, but please post an update if you hear anything from them. Nice work on the debugging and creating a reproducible example!

[2019-05-10 18:51] #574 closed

[2019-05-10 18:51] #573 closed

[2019-05-10 18:52] tipsy commented on #559
I think I'm going to give Travis one last chance, switching just seems like a bit more hassle than it's worth.

[2019-05-10 18:52] #559 closed

[2019-05-10 18:54] tipsy commented on #485
@humb1t sorry, I missed this comment. You're correct about `enableMicrometer` not publishing stats by default. There was supposed to be a tutorial, I will ask about it.

[2019-05-10 18:56] tipsy commented on #486
@tobiasdrechsel Any news on the tutorial?

[2019-05-10 19:00] tipsy commented on #356
That wouldn't change the problem of dependency collisions, for that we would need to publish separate packages per plugin, but that's unlikely to happen. I'm not sure how specifying versions for optional transitive dependencies works, it sounds like a bit of a mess.

[2019-05-10 21:41] humb1t commented on #485
@tipsy thanks, I found a draft of the tutorial in your discussion on micrometer pull request. I took it and applied to my kotlin project. but the reason I wrote it here, that for me as a not experienced Javalin user was not clear how to work with plugins and why we have enableMicrometer instead of enableMetric(Providers.Micrometer)

If you would put a couple of words in a book about it, I think it

[2019-05-11 13:07] TobiasWalle opened #577 "Proposal: Better Plugin System"
**Problem**
Currently it is not really possible to write a plugin changing `Javalin`, `JavalinConfig` or the `Context` class. It would be nice there would be the standardised way to add the new features to Javalin without changing the core.

I created this issue to discuss if this is an option and how such a plugin could look like. If there is no interest in implementing such feature, this issue c

[2019-05-11 14:35] tipsy commented on #577
There is already `Javalin#register(extension)`:

[code]

which @dherges worked on, I imagine he's interested in this.

The current system works well enough for me, but if you think introducing this will simplify the code I'm all for it. Could you create a PR which ports a few of the existing features to your plugin system?

[2019-05-11 15:01] TobiasWalle commented on #577
@tipsy Oh I didn't see that. Thanks for the tip. That's very similar to what I want.
It is probably useful to extend on that. I'm going to create a small PR to test if it works how I imagine.

[2019-05-12 08:03] tipsy commented on #254
@TobiasWalle when you make the final PR, could you replace `io/javalin/examples/HelloWorldSwagger.kt` with an example that shows a few endpoints and annotated methods/classes? I imagine you could also delete/reuse `io.javalin.core.util.SwaggerRenderer`.

[2019-05-12 08:55] TobiasWalle commented on #254
@tipsy Sounds good. I just started with the PR, but it should be ready today.

[2019-05-12 10:15] dancohensmith opened #579 "CompletionException cause is not unwrapped and passed to exceptionHandler"
**Actual behavior (the bug)**
if an async result future fails with an exception this the exception will not be caught by the exception handler.
e.g in application code throw a CustomException and setup app.exception(CustomException.class, ..) the CustomException handling will not take place.

**Expected behavior**
The CustomException handlder to be called.

**To Reproduce**
run TestFuture test in:

[2019-05-12 12:23] TobiasWalle commented on #254
The PR is ready #581

[2019-05-12 15:21] TobiasWalle commented on #577
I created a PR with a small demonstration how it could look like.

I refactored a few features in the JavalinConfig and I think you can already see how this approach is very clean and can be easily extended.

[2019-05-12 17:15] tipsy commented on #254
@TobiasWalle Looks like everything is working great! I've added two small commits:

* Automatically enable WebJars if needed: https://github.com/tipsy/javalin/commit/a0cd50228a61537ac134eaeca28347d299765530
* Print helpful info for missing dependencies: https://github.com/tipsy/javalin/commit/0f588f20bab518ec9fd92319e933444ce450964b

I'll play more with it next week.

[2019-05-12 18:47] tipsy commented on #254
@TobiasWalle it seems `setSerializationInclusion(JsonInclude.Include.NON_NULL)` is non optional? Would it be possible to not depend on an object mapper for the implementation?

[2019-05-12 19:10] tipsy commented on #254
There also appears to be a hard dependency on Jackson, rather than `JavalinJson`. Ideally the OpenAPI stuff shouldn't require Jackson, as that is an optional dependency in Javalin.

[2019-05-12 19:18] tipsy commented on #254
@TobiasWalle Annotated methods are not working:

[code]

[2019-05-13 01:52] uover82 opened #583 "Getting IllegalArgumentException when creating a gson object"
**Actual behavior (the bug)**
A description of what happened

Hi,

I'm porting a java microservice from spark to javalin and so, am invokng gson.fromJson in order to create a pojo like:
[code]
This currently results in the following error:
[code]
Let me know what you think - thanks

John

**Expected behavior**

A description of what you expected to happen

I'm expecting a related pojo to be create

[2019-05-13 05:56] TobiasWalle commented on #254
@tipsy

This option should be optional. I just activated it, so the json is more readable.

I don't know if it is possible. Basically we need to replace this line with something mapper independent
https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/plugin/openapi/JavalinOpenApi.kt#L54
After work I will look into this.

This seems to be a bug. I should working if you extend the `H

[2019-05-13 16:06] tipsy commented on #583
@uover82 you're calling GSON directly, so this is probably not related to Javalin. Your error message states `declares multiple JSON fields named _listeners`, so that's probably where the problem is. By the way, you can tell Javalin to use GSON:

[code]

Then you won't have to do

[code]

You can just do

[code]

[2019-05-13 16:21] tipsy commented on #579
I know there's a test confirming this behavior, but I'm going to label it as a bug anyway, they way you want it to work makes more sense than how it currently works, IMO.

[2019-05-13 17:25] #579 closed

[2019-05-13 17:26] ernestas2k commented on #583
`java.lang.IllegalArgumentException: class org.eclipse.jetty.server.handler.ErrorHandler declares multiple JSON fields named _listeners`

The question is why gson is trying to (de)serialize `ErrorHandler`.

[2019-05-13 17:46] tipsy commented on #254
If I remove `setSerializationInclusion(JsonInclude.Include.NON_NULL)`, I get:

![image](https://user-images.githubusercontent.com/1521451/57642495-c2d95a00-75b7-11e9-8a7d-7e4e6914305d.png)

[2019-05-13 18:15] uover82 commented on #583
Thanks for these tips @tipsy, @ernestas2k

I've tried a json mapper, with similar results:
[code]
Here's the surrounding code fragment:
[code]
Descriptor is a pojo - constuctor looks like this:
[code]
I'm not sure where the issue is - can say that I haven't implemented any _listeners and also similar code seems to work ok in spark.

Maybe I'm missing an exception handler or linking a wrong jar?

T

[2019-05-13 18:52] 7agustibm commented on #356
Ok. Update the last version of kotlin-graphql with subscriptions and I create a PR.

[2019-05-13 19:04] TobiasWalle commented on #254
@tipsy

Oh that seems a bug in the ui. If this attribute it not set all properties will be set with "null" instead of getting removed.

I created a [PR](https://github.com/tipsy/javalin/pull/584) in which I just used an interface from OpenApi and let the user override that. I can do the same for the default mapper of the handler. In this case the user can at least override the jackson implementati

[2019-05-13 19:40] tipsy commented on #254
Is that required? If the library already has a hard dependency on Jackson we might as well use that? It's going to be pulled in as a transitive dependency anway.

[2019-05-13 20:02] TobiasWalle commented on #254
But I think with the PR the user has at least the possibility to use another library (gson, for example) even if jackson will be installed. In my understanding, even if it is a hard dependency of open api, if your replace the implementation jackson won't be used.
The exposed configuration is also pretty convenient if you want to configure the mapper used for the openapi schema (for example to enab

[2019-05-13 20:22] tipsy commented on #254
@TobiasWalle so for getting the name of method references we used to have this snippet for the route-overview:

[code]

But it'is broken in Java 9+. I haven't found a solution to this yet.

[2019-05-13 20:28] tipsy commented on #254
We had an issue for it: https://github.com/tipsy/javalin/issues/330

[2019-05-13 20:47] ivanquirino commented on #573
Thanks for the answer! So, it's not an event loop but a detached thread. I wonder if there's any interest of you to add Netty support so Javalin runs as a event loop (event-driven) mode.

[2019-05-13 20:50] tipsy commented on #573
@ivanquirino not much interest, I'm more or less married to Jetty at this point. My experience with other frameworks that support multiple underlying servers is that Netty is unstable and performs poorly. I don't know if that's because it's inherently like that, or because it's hard to write a good integration. Either way I'm very happy with Jetty. Have you actually run into any performance issues

[2019-05-13 21:17] TobiasWalle commented on #254
@tipsy Thanks for the tip. In the last hour I tried a lot of stuff, but nothing seems to work. I don't think I will find a solution for this problem.

I think we should document that it is currently not possible to use the annotation api with static java methods. The workarounds are either to define a handler as a class or to use the DSL. Maybe we will find another solution in the future.

[2019-05-13 21:22] tipsy commented on #254
I don't think it's related to the methods being static, just that they're method references. By the way, shouldn't the implementation also work with fields?

[code]

[2019-05-13 21:30] tipsy commented on #254
@TobiasWalle there is a method in `RouteOverviewUtil` which gets the method/field/class names for handlers which might be useful: https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/core/util/RouteOverviewUtil.kt#L172-L193

[2019-05-13 21:37] tipsy commented on #254
This is also why I pushed for a pure javadoc/annotation based implementation. It seems way easier to simply specify the verb and path as part of the annotation, then just scan all the classes for annotations. It would be awesome if we could make this work though.

[2019-05-13 23:31] ivanquirino commented on #573
@tipsy No perfomance issues at all. I'm looking at a lightweight and efficient java web framework that uses less resources as possible because I'll be running image manipulation using BoofCV (a java computer vision library which has a great QRCode detector and image tools) and I found that like Node.js and Nginx, an event-driven loop instead of a thread pool consumes less resources, and that's exa

[2019-05-14 05:59] TobiasWalle commented on #254
@tipsy I think with the RouteOverviewUtil I can fix a lot of cases. My recommendation for solving the lambda problem would be creating optional class scanning. The resolving order would be the following:

1. is handler a `DocumentedHandler`
2. Has handler `OpenApi` annotation and can it be parsed by reflection
3. Is class scanning activated and does a matching `OpenApi` annotation with `path` and

[2019-05-14 06:15] tipsy commented on #254
Sounds like a good plan!

[2019-05-14 06:45] tipsy commented on #573
That's understandable, I felt the same way until someone added Javalin to the techempower benchmarks: https://www.techempower.com/benchmarks/#section=test&runid=a0d523de-091b-4008-b15d-bd4c8aa25066&hw=ph&test=plaintext&l=xan9tr-3&a=2

The default config (blocking) handles one million requests per second. I don't know how well the async version performs, but I imagine it's better. I'd be very inter

[2019-05-14 12:50] ernestas2k commented on #583
The _listeners comes from `org.eclipse.jetty.server.handler.ErrorHandler`, which extends `ContainerLifeCycle` that has _listeners. I'll try investigating this a bit later.

[2019-05-14 13:43] ernestas2k commented on #583
This is example, that you can test yourself working. Notice that your json has `targets` fields while constructor accepts `_targets` and it won't get binded.

[code]

To further test the issue, I suggest you to add `System.out.println("Body as string: " + ctx.body());` before ctx.bodyAsClass(Descriptor.class)` just to see what's coming in the body.

[2019-05-14 16:14] tipsy opened #585 "Clean up timed out futures and/or expose Consumer<AsyncContext>"
Issue raised by @dancohensmith on Gitter. If a request with a future result times out, the future could/should be rejected/cancelled. This could either be done automatically in `JavalinServlet`, or by exposing `Consumer<AsyncContext>` to the user. The user could then add listeners to the `AsyncContext`.

[2019-05-14 18:12] uover82 commented on #583
Thanks for this feedback, @ernestas2k

I've updated/ tested with this constructor change, getting similar results as before.

I'm also noticing some possible duplicate entities resulting from recursion that could be impacting, so investigating this.

I'll let you know what I find.

[2019-05-14 18:18] ivanquirino commented on #573
The JVM is allowed in our requirements, since developer time is very valuable for us. Hey, thanks for your time into answering these questions. I'll keep using Javalin since I already got the hang of it and the docs are so well made and simple to follow and it is great for my actual usage.

[2019-05-14 19:06] tipsy commented on #254
@TobiasWalle could you give me a rough estimate on when you think this will be ready?

[2019-05-14 19:17] TobiasWalle commented on #254
@tipsy My branch is almost working. I just need to clean up a little bit. I will finish it and create the PR tomorrow evening.

With this implementation it works in all cases. Just for method references in java you need to define which packages should be scanned and set the path in the annotation manually.

[2019-05-14 19:51] tipsy commented on #254
Great, happy to hear that! Would it perhaps work to just scan the parent class of a method reference (in the handler added event)?

[2019-05-14 20:06] TobiasWalle commented on #254
That's definitely worth trying :) Good idea

[2019-05-14 20:43] tipsy commented on #254
Also, you could use this to connect the right handler to the right annotation: https://stackoverflow.com/questions/24095875/is-there-a-way-to-compare-lambdas

[2019-05-15 14:55] TobiasWalle commented on #254
@tipsy I got some great news! I found a way to get the annotation of a non static method reference. I could even use this method to fix an ignored test in the RouteOverview. The only case in which path scanning is required is on static method references.

Unfortunately I can only get the package path of the lambda, but not the original method, automatically. So it is still required to specify the

[2019-05-15 15:00] TobiasWalle commented on #254
Here is the PR https://github.com/tipsy/javalin/pull/586

[2019-05-15 15:50] TobiasWalle commented on #254
Unfortunately lambda comparison doesn't seems to help me, because I cannot get another instance of a lambda by reflection to compare with. At least I couldn't get it to work.

[2019-05-15 16:25] tipsy commented on #254
@TobiasWalle That is great news! Thank you for all the effort your putting into this, it's highly appreciated.

[2019-05-15 18:39] tipsy commented on #254
@TobiasWalle I'm looking at things locally now, and I'm wondering if `.activateAnnotationScanningFor("...")` could be automatically activated when it's needed?

[2019-05-15 19:31] valtteric opened #587 "Javalin startup messages on slow hardware"
**Actual behavior (the bug)**
Probably quite minor, but there is an info message about not starting the javalin when running on a slow hardware like Rpi. Same binary on a proper computer doesn't prompt that. The application works correctly either way, but might be worth checking to avoid any future timing issues.

[code]

**Expected behavior**
Works the same way no matter the hw.

**To Reproduce**

[2019-05-15 19:33] tipsy commented on #587
@valtteric thanks, this has been "fixed" on master (increased to two seconds), but maybe we should set it to something like 5.

[2019-05-15 19:35] valtteric commented on #587
Ah, ok. Thanks! I gotta be writing the fastest closing issues, but that's probably a good thing in the end of the day :)

So, closing.

[2019-05-15 19:35] #587 closed

[2019-05-15 19:37] tipsy commented on #254
@TobiasWalle I tried to implement this myself, but when I remove `options.packagePrefixesToScan.isNotEmpty()` other tests start failing.

![image](https://user-images.githubusercontent.com/1521451/57803848-a1b06f00-7759-11e9-9559-b7fef3661ea0.png)

Does this mean enabling the scanning interferes with the other approaches?

[2019-05-15 20:05] uover82 commented on #583
Regarding the above, it appears the duplicate entries are handled through collections/ hashmap puts, so seem ok.  I'm guessing these javalin/ gson exchanges use/ are ephemeral resources, so I'm not understanding why this jetty.server.handler.ErrorHandler multiple fields/ _listeners issue is occurring. I've also compared ctx.body results with similar request.body in spark and these appear identical

[2019-05-15 20:39] TobiasWalle commented on #254
@tipsy

That's definitely possible, but I do not know if we want this. The reason I wanted the user to explicitly specify the package path is for performance reasons. If you configure an empty string it scans every class in the app (including the classes of packages), which may take a few seconds, which I wanted to avoid.

No, in these tests I didn't specify a documentation for the handlers. If yo

[2019-05-15 20:48] tipsy commented on #254
But it's still a one time cost? Since it only happens for a very specific use case, I think it's fine. It makes the API and implementation simpler, and only affects a small number of people.

I added the check to avoid an error if the user does not use the scanning and hasn't the optional dependency installed.

I see. That's a bit tricky then 🤔

[2019-05-15 21:06] TobiasWalle commented on #254
The main problem I see is not that it is automatically activated. It is that the package path is not limited. (Potentially) It could be that the user uses a library that also uses javalin. The library uses handlers with the annotation. If we can the whole package path, these annotations would be found and if the user defines the same handler, the documentation will be used. Maybe this case it not

[2019-05-15 21:23] tipsy commented on #254
That's very understandable, let's keep your current approach. Maybe someone who's affected by this exact edge case will fix it later. I'm going to close this issue now (it's been open for almost a year!). Thanks again for all your hard work.

[2019-05-15 21:23] #254 closed

[2019-05-16 06:32] tipsy commented on #514
@TobiasWalle If you're okay with it, I'd like to mention you by name in the OpenAPI section of the 3.0 release announcement. Do you have any profile you'd like me to link to (LinkedIn, GitHub, Twitter?). Or would you prefer to stay anonymous?

[2019-05-16 06:54] TobiasWalle commented on #514
@tipsy Thank you! You can link my [GitHub](https://github.com/) and [LinkedIn](www.linkedin.com/in/tobias-walle). I'm looking forward for the announcement and the release!

[2019-05-16 06:58] fuuqiu commented on #514
Is the 3.0 version going to be updated? It’s a good news. Looking forward to the release.Is there a related Telegram group for javalin?

[2019-05-16 16:04] tipsy commented on #577
I'll close this, but please include the second part too (refactor existing plugins).

[2019-05-16 16:04] #577 closed

[2019-05-16 18:30] tipsy opened #588 "Move applyUserConfig method to Kotlin"
**Describe your issue**

[2019-05-16 23:44] uover82 commented on #583
Hi, Also, I'm using Javalin 2.8.0. Thanks

[2019-05-17 08:39] ernestas2k commented on #583
Could you construct self containing example (similar to the code example I provided above) that reproduces the issue, as snippets didn't show full picture of the situation. Thank you

[2019-05-17 16:43] aranjitchi opened #589 "OpenTracing & Javalin"
I'm trying to implement [opentracing](https://opentracing.io/guides/java/inject-extract/) in javalin application (v2.8.0).

Code:
[code]

When i make any request the application always response with http 404.

**Any clue how to add a [opentracing filter](https://github.com/opentracing-contrib/java-web-servlet-filter)?**

[2019-05-17 21:33] tipsy commented on #589
@aranjitchi are you getting the default Jetty 404 page?

[2019-05-17 21:54] aranjitchi commented on #589
Yes, i’m getting the default Jets 404 page

[2019-05-17 21:59] tipsy commented on #589
Okay, so that means that your `ServletContextHandler` is finishing the request and it never reaches Javalin. Maybe you can add your filter without creating a `ServletContextHandler` ? Have a look at this test from the repo:

[code]

[2019-05-17 22:13] aranjitchi commented on #589
I saw the example but did not understood how can i added an filter without using a ServletContextHandler...

[2019-05-17 22:16] tipsy commented on #589
Sorry, I looked at the wrong test. What about this one?

[code]

[2019-05-18 15:45] tipsy commented on #589
@aranjitchi Any luck?

[2019-05-19 16:16] tipsy commented on #254
@ShikaSD, @kyleellman, @mikexliu, @majorpasza, @ernestas2k, @peterbencze, @grote, @sureshg, @cricket007  I've tagged you all since you have expressed interested in Javalin/Swagger, or because you have contributed significant amounts of code to Javalin recently. I just wanted to let you know that Javalin 3.0.0.RC0 is out now, with OpenAPI/Swagger support:

[code]

There are no docs yet, but you can

[2019-05-20 04:37] ivanquirino opened #592 "Missing file upload content length"
**Describe the feature**
UploadedFile class doesn't have a `getContentLength()`  or `size()` method. It would be nice to know the size of the uploaded file.

**Additional context**
I felt the need of this because AWS SDK has a `putObject(InputStream is, long contentLength)` method to upload a file and right now I have to stream to filesystem and use another `putObject(File file)` method. It would

[2019-05-20 06:03] tipsy commented on #592
Sounds reasonable, would you like to create a PR?

[2019-05-20 10:37] aranjitchi commented on #589
@tipsy , no luck.
I think my custom, ServletContextHandler not reach the Javalin servlet context ...

[2019-05-20 12:39] Jolter commented on #554
@tipsy I think I can point to one behavior that doesn't seem right to me.
I posted a reproduction example at https://github.com/Jolter/javalin-session-issue

Clearly the cookie response header is not setting any expiry time:

    Set-Cookie: JSESSIONID=node0a7hcpncqe4ia16sapi1lepx1s1.node0;Path=/;HttpOnly

What I would want to see is that it would include an Expires setting that I could customize:

[2019-05-20 13:01] Jolter commented on #554
OK, so writing a reproduction project is always a good learning experience...

This solves my problem:

fun fileSessionHandler() = SessionHandler().apply { // create the session handler
    sessionCache = NullSessionCache(this).apply { // attach a cache to the handler
        sessionDataStore = FileSessionDataStore().apply { // attach a store to the cache
            val baseDir = File(System.getP

[2019-05-20 13:15] Jolter commented on #554
@tipsy I guess I solved that one - but my next problem is, it's configured per SessionHandler instance, not per Session.
I would like my users to be able to check a "remember me" box on the login form, and have the cookie expire on session end if it's not selected. If checked, I would set something like two weeks or other "long enough" time for my users.

[2019-05-20 13:43] ivanquirino commented on #592
I would, when I have the time. Right now I'm on a tight schedule, working and studying. In more or less 2 weeks I'll be free, but if I find a break I'll try it sooner.

[2019-05-20 15:55] tipsy commented on #554
What do you mean by this? If you want to share a session across multiple instances you need to use a database, not a `FileSessionDataStore`.

[2019-05-20 16:02] tipsy commented on #592
No rush, Javalin will be in RC mode for some time.

[2019-05-20 16:08] tipsy commented on #589
I can have a look tomorrow.

[2019-05-20 20:04] Jolter commented on #554
@tipsy I'm sure you know what I mean by a "remember me" checkbox on a login page?

I can't find a way to change the variable sessionCookieConfig.maxAge after I start the app, and in particular, I cannot set different Max-Ages on different sessions. (At least, that's what I think after doing some digging in the Javalin code.)

I know I need a database store, but the same conclusion holds for RAM or

[2019-05-20 21:20] tipsy commented on #554
I think I'm starting to understand the issue. In my experience, it usually works like this:

* There is one SessionHandler per application
* All sessions are managed by the same SessionHandler
* All sessions have the same expiry time (regardless of if the user is logged in or not)

The session expiry is not inherently related to "logged in" vs "not logged in", it's is just something describing the

[2019-05-20 23:37] uover82 commented on #583
Hi ernestas2k : Thanks for your response. I've done some debugging and here's a similar sample that reproduces the issue:

[code]
The javaliln SseClient class appears to be causing the error. I'm interested in using to publish some server-side events. Is there a better strategy for incorporating? Thanks

[2019-05-21 05:49] tipsy commented on #588
This is a lot less relevant now that the plugin system has been introduced.

[2019-05-21 05:49] #588 closed

[2019-05-21 05:54] tipsy commented on #583
There's an example on how to use `SseClient` in `io.javalin.examples.HelloWorldSse`.

[2019-05-21 08:28] Jolter commented on #554
Aha! I knew people must have some way to manage this. =)
I'll look into JWT, it might be a fine solution for us once I understand it.
Thanks again for the pointer!

[2019-05-21 11:39] mpe85 opened #594 "Why are Jetty warnings logged after adding static files or enabling webjars"
**Actual behavior (the bug)**
When I add static files and enable webjar, there are some Jetty warnings appearing in my log file on server startup:

2019-05-21 12:22:55 | WARN | main | org.eclipse.jetty.server.handler.AbstractHandler.doStart:112 | No Server set for GzipHandler@21d03963{STARTING}
2019-05-21 12:22:55 | WARN | main | org.eclipse.jetty.server.handler.AbstractHandler.doStart:112 | No Se

[2019-05-21 12:20] ilyazolotarov opened #595 "HttpResponseExceptionMapper minnsing escaping in case of json response"
https://github.com/tipsy/javalin/blob/640dc2f84523009dfe195f599281c41b423d82fa/src/main/java/io/javalin/http/HttpResponseExceptionMapper.kt#L20

If exception message contains double quotes then HttpResponseExceptionMapper produce invalid json.

[2019-05-21 13:29] tipsy commented on #595
Aaah, that's what I get for writing my own json code. Would you like to submit a PR?

[2019-05-21 14:43] tipsy commented on #594
Normally you wouldn't see these warnings, have you set a custom server using `config.server` ?

[2019-05-21 14:55] aranjitchi commented on #589
@tipsy, any luck?

[2019-05-21 14:56] tipsy commented on #589
I just started looking at it.

[2019-05-21 15:26] tipsy commented on #589
Starting to wonder if this isn't possible 🤔

[2019-05-21 15:45] mpe85 commented on #589
I'm also interested in this. I'm trying to apply JavaMelody's MonitoringFilter to Javalin's Handler

[2019-05-21 16:44] tipsy commented on #594
Alright. The `ResourceHandler` complains (for no reason) when it's not attached to a `Server`. It's just a warning, but I understand how it's annoying. It's possible to attach it to a dummy-server to get rid of the warning, but it feels pretty dirty.

[2019-05-21 17:10] tipsy opened #596 "Support for adding user defined filters to Javalin"

[2019-05-21 18:49] uover82 commented on #583
Thanks for this tip, tipsy. I noticed this and am incorporating into my code.

My issue is that I may need to send sse-style events from java objects derived from json.

If so, would/ could I best use something like decoration for this purpose?

Thanks

[2019-05-21 19:26] tipsy commented on #583
This sounds strange. You can't send a sse event to a client "derived from json", the client needs to establish a connection to the server (through the `app.sse` method), and you need to keep track of the client on the server side. There is no way for the server to initiate a sse connection with a client. Maybe I misunderstood?

[2019-05-21 22:23] uover82 commented on #583
Oo, I'm sorry for this confusion. I meant that java objects derived from json on the server side may need to send sse events (to the client side), so would need to manage the list/ queue of (SseClient) clients, rather than server main as in the example  Does this make better sense? It seems these clients in my objects is what's causing the errors I'm seeing.

[2019-05-22 17:49] aranjitchi commented on #589
@tipsy, it is possible?

[2019-05-22 18:38] tipsy commented on #589
Doesn't look like it, I created https://github.com/tipsy/javalin/issues/596.

[2019-05-22 21:43] mpe85 commented on #594
I created a PR which fixed those warnings: https://github.com/tipsy/javalin/pull/597
Please review

[2019-05-22 22:18] dlabey opened #598 "EmbeddedJavalin with createServlet does not work"
**Actual behavior (the bug)**

Tried to run Javelin with EmbeddedJavlin in Servlet mode just like the docs stated via:
[code]

[code]

and I get:
`java.lang.ClassNotFoundException: org.eclipse.jetty.util.log.Log`

**Expected behavior**

Servlet runs successfully with no Jetty dependencies.

**To Reproduce**
Run Javelin like the above.

**Additional context**
N/A

[2019-05-23 05:50] tipsy commented on #598
Thanks, will fix.

[2019-05-23 15:29] #594 closed

[2019-05-23 15:45] tipsy commented on #598
Fixed in https://github.com/tipsy/javalin/commit/0402abf453b44143e7e33d9f034838f82742e53c. Will try to find out why that line was added.

[2019-05-23 15:45] #598 closed

[2019-05-23 16:11] #595 closed

[2019-05-23 16:25] tipsy commented on #592
You can call `available` on the `InputStream`, I will still add it to the uploaded file though.

[2019-05-23 16:30] tipsy commented on #592
Fixed in https://github.com/tipsy/javalin/commit/d20dbbe884f50c4893dcfba5cfa1c9a09fe22994 !

[2019-05-23 16:30] #592 closed

[2019-05-23 17:10] tipsy commented on #594
Released now in `3.0.0.RC1`:

[code]

[2019-05-23 17:10] tipsy commented on #595
Released now in `3.0.0.RC1`:

[code]

[2019-05-23 17:10] tipsy commented on #598
Released now in `3.0.0.RC1`:

[code]

[2019-05-23 17:10] tipsy commented on #592
Released now in `3.0.0.RC1`:

[code]

[2019-05-24 16:03] davioooh opened #600 "Problem with Thymeleaf url syntax"
In my project I'm using Thymeleaf as template engine to render web pages.

Now I need to dynamically set `href ` attribute for some menu links. Something like this:

    <a th:text="${pg}" th:href="@{/(page=${pg},size=${pageSize})}"></a>

 but I'm getting this error while rendering my page:

    ERROR org.thymeleaf.TemplateEngine - [THYMELEAF][qtp1442191055-20] Exception processing template "/temp

[2019-05-24 16:15] tipsy commented on #600
@davioooh Javalin isn't providing anything, the whole implementation can be seen in `io.javalin.plugin.rendering.template.JavalinThymeleaf`:

[code]

You can use the `configure` method to provide your own engine. I know nothing about thymeleaf, so I'm afraid I can't be of much assistance.

If you have a better suggestion for a default configuration, I'd be happy to merge a pull request!

[2019-05-24 20:15] tipsy commented on #596
Now that the `ServletContextHandler` is exposed (https://github.com/tipsy/javalin/pull/599), I guess it's easy to add a filter to it?

[2019-05-24 20:15] #596 closed

[2019-05-24 22:06] ivanquirino commented on #592
If I were a bit more experienced at Java I would have figured it out. Thanks!

[2019-05-25 10:18] davioooh commented on #600
Thank you for your reply @tipsy. I'm not an expert about Thymeleaf internals. I usually use this template engine in my Spring Boot projects, so I'd like to use it also in Javalin projects.

I'll take a look to Thymeleaf docs in order to find something useful and I'll try to work to submit a pull request.

[2019-05-25 10:52] mpe85 commented on #596
Adding a `Filter` is easy now, but it never gets called because the overriding `doHandle` method of Javalin's `ServletContextHandler` does not call `nextHandle` like the original method does. Hence none of the added `Filter`s are ever called. Please correct me if I'm wrong.

[2019-05-25 11:38] tipsy commented on #596
You're probably correct, could you add a test?

[2019-05-25 12:10] mpe85 commented on #596
There you go: https://github.com/tipsy/javalin/pull/601

[2019-05-25 12:57] tipsy commented on #596
Thanks!

[2019-05-25 23:15] tipsy commented on #589
@aranjitchi It's possible now on the master branch.

[2019-05-26 18:33] marenzo opened #606 "A fluent server config builder (v3.0)"
**Describe the feature**
The new server configuration API looks good and indeed helpful, but one noticeable thing about the change is that the config builder is not fluent, thus creating both inconsistency with the experience (comparing to the other objects) and when you have multiple flags it begins to look ugly a bit.

Easy change and I believe it could be nicer.

**Additional context**
https://

[2019-05-26 18:39] tipsy commented on #606
@marenzo would you like to submit a PR ?

[2019-05-26 18:50] marenzo commented on #606
@tipsy doing it now :)

[2019-05-26 19:10] marenzo commented on #606
@tipsy sent now. the new ver looks good, hope I'll have more/better inputs later.

[2019-05-26 19:49] #606 closed

[2019-05-26 19:52] tipsy commented on #606
Great, thank you. I really appreciate input now before the release !

[2019-05-27 12:50] aranjitchi commented on #589
@tipsy, i will test it during this week. tks

[2019-05-27 15:12] #600 closed

[2019-05-30 08:31] tipsy commented on #583
Sorry @uover82, it's been a busy period. As far as I know you cannot serialize the the clients, since they contain a persistent connection to the server. Maybe you can give them IDs and serialize those instead?

[2019-05-30 08:32] tipsy commented on #583
I'm going to close this issue now, since it's not a bug or feature request, but feel free to keep writing in it.

[2019-05-30 08:32] #583 closed

[2019-05-30 08:33] #542 closed

[2019-05-30 12:04] bsecker commented on #335
Hey guys, sorry to revive an old issue - I'm having issues getting mocking working using Spring mocking. The following junit test should return a 400 error but returns a 200. On closer inspection it appears that the context `ctx` doesn't include the query parameter "limit":

[code]
I feel like i'm missing something obvious here. Any help would be appreciated :)

[2019-05-30 12:48] tipsy commented on #335
@bsecker `queryParam` fetches params from the `queryString` of the request, I'm guessing `setParameter` doesn't change the `queryString` ? I haven't heard of  `setParameter` before, and I can't seem to find it in the spec.

[2019-05-30 16:22] uover82 commented on #583
Thanks for this update, tipsy. I may be dealing with multiple processes. Would be it reasonable to start/ manage multiple servers to handle/send these (sse) events? Otherwise, think I might need some sort of ipc/ messaging.

[2019-05-31 05:39] bsecker commented on #335
thanks for you help!

For anyone else, replacing setParameter() with setQueryString("limit=51") fixed the test for me. [docs](https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/mock/web/MockHttpServletRequest.html#setQueryString-java.lang.String-)

[2019-06-02 18:03] vikascn commented on #185
I am trying to run a web server on an Android device using the Javalin framework.

What do i need to make it work ? I followed the suggestions from above.
I am getting error while starting the server ->

`W/System.err: [main] INFO io.javalin.Javalin - Starting Javalin ...
com.example.javalin W/System.err: [main] ERROR io.javalin.Javalin - Failed to start Javalin
com.example.javalin D/AndroidRuntim

[2019-06-03 18:06] vikascn opened #612 "Running server on Android using Javalin"
@tipsy @felislynx-silae @robinvanyang

I am trying to run a web server on an Android device using the Javalin framework.

What do i need to make it work ? I followed the suggestions from https://github.com/tipsy/javalin/issues/185. (Since that issue was closed, i am raising a new one.)
I am getting below error while starting the server ->

`W/System.err: [main] INFO io.javalin.Javalin - Starting J

[2019-06-03 20:27] tipsy commented on #612
Your error message doesn't match your code, it says ` Caused by: java.lang.RuntimeException: Port 1-1023 require elevated privileges (process must be started by admin).`. but your code shows port 8080. Are you sure you're trying to start the server on 8080?

[2019-06-03 20:46] vikascn commented on #185
Was missing the internet permission.

Worked after adding in Manifest file

<uses-permission android:name="android.permission.INTERNET"/>

[2019-06-03 20:49] vikascn commented on #612
Was missing the internet permission.

Worked after adding in Manifest file
`<uses-permission android:name="android.permission.INTERNET"/>`

Any idea why it would work only on Android API level 28 ?

[2019-06-03 20:50] tipsy commented on #612
I think Jetty uses some Java APIs that aren't available for older versions of Android.

[2019-06-03 20:51] vikascn commented on #612
thanks @tipsy for the quick response.

[2019-06-04 20:58] #612 closed

[2019-06-05 07:40] nnathan opened #613 "There doesn't seem to be any javadoc for context"
I can't seem to find any javadoc for io.javalin.http.Context: see https://static.javadoc.io/io.javalin/javalin/3.0.0.RC3/io/javalin/http/Handler.html . Is this deliberately omitted or can't be generated from kotlin?

[2019-06-05 10:28] tipsy commented on #613
Hm, I thought they would be generated, all the methods are documented.

[2019-06-05 17:35] tipsy commented on #589
@aranjitchi have you had time to look at this yet?

[2019-06-05 17:49] aranjitchi commented on #589
@tipsy , not yet . i need to migrate the code to the new javalin lib.

[2019-06-06 12:35] HungryPants commented on #95
hty

[2019-06-06 18:01] tipsy opened #614 "Documentation for OpenAPI plugin"
@TobiasWalle do you have time to contribute anything on this? I've tried to get started on it a few times, but it's a bit "heavy".

[2019-06-06 18:07] tipsy commented on #514
Getting close to release, so closing this issue.

[2019-06-06 18:07] #514 closed

[2019-06-06 18:12] TobiasWalle commented on #614
Sure. This week I won't have much time, but I can help out next week. Where can I get started?

[2019-06-06 18:14] tipsy commented on #614
Great! I think this should probably have its own page, like `documentation/openapi`, I can set that up.

[2019-06-06 18:26] tipsy commented on #614
I created https://javalin.io/plugins/openapi

The source file is at https://github.com/javalin/javalin.github.io/blob/master/pages/plugins/openapi.md

If you want to build the website locally you'll need jekyll: https://jekyllrb.com/docs/

[2019-06-06 18:33] TobiasWalle commented on #614
Thank you! I will let you know once I think the documentation is ready.

[2019-06-11 06:55] nnathan opened #615 "How do I get validation to throw an exception which I can handle?"
Hi,

I'm using Javalin (java) version.

I'm using the BodyValidator to coerce a JSON into a class (in this case Customer.class).

I do a few chained check()s.

I want it so that if a check fails that an exception is thrown (potentially with the corresponding error message), so that I can handle it with an exception mapper, and I can return our standard "enveloped response."

First I'll show what I

[2019-06-11 08:18] pkkummermo commented on #615
If I'm not mistaken you need to add accept headers to your request and accept json. It should then properly format the response as JSON.

I also think that the validator is fail fast atm, so you would only get one error. The response is inspired by https://tools.ietf.org/html/rfc7807, but is not implementing all of it. There has been some discussions about multiple errors, but I don't think it's b

[2019-06-11 08:30] nnathan commented on #615
I guess then I should just skip the chained checks and do custom validation and return the custom Envelope() JSON then.

Thanks for the info.

[2019-06-11 14:41] jjjimenez100 commented on #549
Hi. Is this issue open for anyone? Would you prefer a video walkthrough of what Javalin is, or an in-dept article that walks you through Javalin's core functionalities?

[2019-06-11 15:29] tipsy commented on #549
@jjjimenez100 are you asking if you can create a video? If so, yes.

[2019-06-11 15:47] mpe85 opened #616 "Adding JavaMelody's MonitoringFilter breaks the Content-Type of static files"
I try to add JavaMelody's MonitoringFilter like this:

[code]
This is working fine, but all static files are then returned with the (wrong) Content-Type 'text/plain'. My static index.html for example is then shown as a plain text file in the browser, which breaks the whole web application. If I remove the MonitoringFilter, all Content-Types are correct.

Static files are added this way:

[code]
(`

[2019-06-11 16:13] tipsy commented on #616
Nothing comes to mind. Jetty is fully responsible for handling static files, so I don't think this is a Javalin issue. I'm guessing the filter makes some changes to the response that it shouldn't?

[2019-06-11 21:02] alexey-wg2 commented on #556
I can take this :)

[2019-06-12 06:47] mpe85 commented on #616
Thanks for your opinion.
I had a look at their code and I can't see anything problematic about what they are doing inside that filter. They're basically just doing some stuff around the call of the filter chain. On the other hand, most of the code is documented in French (mon Dieu!) which doesn't help undestanding it better...
I will open an issue at their project, maybe they have an idea what is

[2019-06-12 12:51] evernat commented on #616
J'aime parler français, pourquoi pas ? :grin:
Et vive le Québec, la Louisiane, les nombreux anglais et américains du nord préférant vivre en France :wink:
Vive la France.
Otherwise java is a standardized language.

[2019-06-12 13:57] mpe85 commented on #616
@evernat OK, got it :-)
But do you have an idea what is happening here?

[2019-06-13 10:01] mpe85 commented on #616
I figured out what happens:

JavaMelody's MonitoringFilter wraps the actual Response into a ServletResponseWrapper.
org.eclipse.jetty.Response does not transfer the content type of the loaded HttpContent (which holds the correct content type) to the ServletResponseWrapper when the wrapper (or to be precise the wrapped Response) already has  content type set. See https://github.com/eclipse/jetty.pr

[2019-06-13 15:41] oharaandrew314 opened #618 "OpenApiOptions fails to initialize without jackson-module-kotlin"
**Actual behavior (the bug)**
When you don't have `jackson-module-kotlin` installed, initializing `OpenApiOptions` fails before you can specify a replacement `ToJsonMapper`.

[code]

**Expected behavior**
The `OpenApiOptions` should allow me to specify an alternate `ToJsonMapper` before trying to initialize the default one provided by the missing `jackson-module-kotlin`.

**To Reproduce**
[code]

[2019-06-13 19:41] tipsy commented on #618
@TobiasWalle ^

[2019-06-13 19:43] oharaandrew314 commented on #618
I might be able to look into this tonight, too.

[2019-06-13 19:46] TobiasWalle commented on #618
I can look into this tomorrow

[2019-06-13 19:50] tipsy commented on #618
@oharaandrew314 that would be great, would be good if @TobiasWalle didn't have to do everything OpenAPI related :)

[2019-06-13 20:24] tipsy commented on #616
Aaah, that's annoying. We could postpone that step, and avoid setting it for static files?

[2019-06-13 20:41] TobiasWalle commented on #618
I actually did have some time today. Here is the PR https://github.com/tipsy/javalin/pull/622 . It is kind of hard to test this, but I lazy initialised the default values, so the kotlin jackson mapper won't be used if overridden.

[2019-06-13 20:44] #618 closed

[2019-06-13 21:18] mpe85 commented on #616
Postponing setting the default content type would work I guess. Do you know if this may have any side effect or break something else?

In the meantime I created a PR with a test that shows the problem: https://github.com/tipsy/javalin/pull/623

[2019-06-13 21:21] tipsy commented on #616
Thanks, I'll try to have a look tomorrow (or maybe in the weekend).

[2019-06-15 08:21] TobiasWalle opened #624 "enableDevLogging() does not work on binary output"
**Actual behavior (the bug)**
I have a simple image handler:

[code]

On every request, Javalin tries to log the result and the following exception occurs:
[code]

**Expected behavior**
If the output cannot displayed as text, it could be replaced by a placeholder. For Example:

[code]

**To Reproduce**
[code]

Visit http://localhost:7000/ and the error occurs.

[2019-06-15 08:51] tipsy commented on #624
There should be something like this already for static files (don't remember how exactly it's set up). Could you submit a patch?

[2019-06-15 09:00] TobiasWalle commented on #624
Yes, I can look into it later.

[2019-06-15 15:55] bkrahmer opened #625 "Red Hat logo is out of date"
The Red Hat logo you are displaying on your website is out of date.  Would you please update it?
If you are an official business partner, you can login to the partner connect portal to download an appropriate image. (https://www.redhat.com/en/partners/Homepage)  Otherwise, there are a couple on the logo update page that might suffice.  (https://www.redhat.com/en/about/brand/standards/logo)  thanks

[2019-06-15 16:00] tipsy commented on #625
Will do, thanks for letting me know!

[2019-06-15 16:30] tipsy commented on #625
This has been fixed now! (https://javalin.io/img/used-by/redhat.png)

[2019-06-15 16:30] #625 closed

[2019-06-15 16:32] bkrahmer commented on #625
Thanks!  looks great.  this framework looks really interesting.  I will check it out when I have some more time.
Brian Krahmer - Consultant, Red Hat

[2019-06-15 17:58] tipsy commented on #625
Thank you! Feel free to use the tracker to ask questions.

[2019-06-15 21:03] scottbarry opened #626 "Validating incoming list of objects on request"
Is there a proper way to validate a list of type on the incoming request?  I didn't see anything in the docs (https://javalin.io/documentation#validation) and didn't know if the following example below is all we have available to handle the common scenario:

`ctx.bodyValidator(Array<Animal>::class.java)`
`.check({ animals -> animals.forEach{}; false }, "missing prop 1")`
`.check({ animals -> anima

[2019-06-15 21:24] tipsy commented on #626
I don't quite understand what you're trying to do. You want to validate a list by going through it multiple times, checking one property at the time?

[2019-06-15 22:23] scottbarry commented on #626
Ah, sorry for the unclear question.  I was looking for validating an incoming list of objects on the request and didn't know if using the check function as below was the best way to do so.

`ctx.bodyValidator(Array<Animal>::class.java)`
`.check({ animals -> animals.forEach{ //checks go here}; false }, "bad request")`

[2019-06-15 23:26] tipsy commented on #626
Yeah, the Validator is limited to this type of manual check. There was an issue for validation against schemas, but nothing came of it.

Do you have any improvement suggestions?

[2019-06-15 23:34] tipsy commented on #616
@mpe85 You can add `httpResponse.contentType = null` after line 68 in `JettyResourceHandler.kt` to your PR, which should fix the issue :)

[2019-06-16 01:53] scottbarry commented on #626
No immediate suggestions.  I think the existing validator is sufficient for most use cases. If Javalin is thought of more as a library, I feel it makes sense to let the consuming application decide which external validation library to bring in if more robust/specialized validation is necessary.

I didn't see what I was describing above in the docs - and just wanted to make sure I wasn't missing a

[2019-06-16 09:14] mpe85 commented on #616
Done... and it seems to work

[2019-06-16 09:25] tipsy commented on #616
Great! Could you add a small comment about why the line is necessary?

[2019-06-16 09:29] tipsy commented on #626
The `check` method is included in the docs. Do you mean in the specific case of the input being a list? Or to clarify that "this is it" ?

[2019-06-16 09:47] #616 closed

[2019-06-16 10:45] TobiasWalle commented on #624
I fixed it in https://github.com/tipsy/javalin/pull/627

[2019-06-16 10:51] #624 closed

[2019-06-16 15:30] tipsy commented on #614
Do you consider this done @TobiasWalle ?

[2019-06-16 19:09] TobiasWalle commented on #614
@tipsy The only thing is missing, are the Kotlin examples. I didn't had time to do it yet, but it is very similar to the java examples. There are just some small API differences, so for example, you can omit the `OpenApiBuilder.` prefix and can just write `document()` instead of `OpenApiBuilder.document()`.

Otherwise I consider this issues as closed.

[2019-06-16 19:27] tipsy commented on #614
If the difference is that small, I think we can live without them for a while. I'll close this now. Thanks again!

[2019-06-16 19:27] #614 closed

[2019-06-17 11:36] jon-ruckwood opened #628 "Exception thrown when configuring MicrometerPlugin"
**Actual behavior (the bug)**
An exception is thrown when using `MicrometerPlugin`:

[code]

**Expected behavior**
No exception, Javalin to start successfully.

**To Reproduce**

[code]

See the following for a full example exhibiting the behaviour: https://github.com/jon-ruckwood/javalin-micrometer-example

**Additional context**
Dependencies:
- `io.javalin:javalin:3.0.0`
- `org.slf4j:slf4j-simpl

[2019-06-17 14:51] tipsy commented on #628
Thanks for your report @jon-ruckwood.

I'm guessing this happened when you refactored the plugin system @TobiasWalle. Do you want to have a look, or should I take this one?

[2019-06-17 15:48] leafac opened #629 "Lifecycle events documentation is incorrect"
The documentation at https://javalin.io/documentation#lifecycle-events says that the following should work:

[code]

But this doesn’t work. You have to use the `event` method, like so:

[code]

[2019-06-17 15:51] leafac commented on #549
I’m working on a video series about Javalin (and various [other tools](https://www.jhu-oose.com/toolbox/)): https://www.jhu-oose.com/todoose/

[2019-06-17 15:54] tipsy commented on #629
The docs are for 3.0.0, there's a link at the top to the old docs (2.8.0).

[2019-06-17 15:59] tipsy commented on #549
That's really cool @leafac, will check it out later.

[2019-06-17 16:07] leafac commented on #629
Ooops, last I had checked it was the other way around: the default docs were for 2 and there was a link to 3. Anyway, congratulations on the release of the new major version. I’ll update my app.

[2019-06-17 16:07] #629 closed

[2019-06-17 16:10] tipsy commented on #629
Thank you, just released 3.0 last week!

[2019-06-17 17:28] TobiasWalle commented on #628
@tipsy I looked into it. I think the error is caused by the removal of this line
https://github.com/tipsy/javalin/commit/0402abf453b44143e7e33d9f034838f82742e53c

Can you create a patch for it?

[2019-06-17 17:58] tipsy commented on #628
Sure, I was thinking it should be fixed in `server()` though:

[code]

[2019-06-17 18:01] TobiasWalle commented on #628
@tipsy Sounds good!

[2019-06-17 18:08] #628 closed

[2019-06-18 07:59] swaechter opened #630 "Provide a file based upload strategy for file uploads"
**Describe the feature**

Hey David

I am playing around with Javalin and really like it: A well designed API, really lightweight and it just works (TM). It's a pleasure to [again] write & code and not implement what a framework tells/forces you :)

But I encountered a problem with the upload mechanism in Javalin: At the moment `UploadedFile` uses an `ByteArrayInputStream`. I would like to impleme

[2019-06-18 12:54] david-wg2 opened #631 "Bug in JavalinVue"
Fix:

[code]

[2019-06-18 15:17] tipsy commented on #618
Yes, in the weekend :)

[2019-06-18 15:26] leafac opened #632 "Allow event handlers to throw checked exceptions again"
The issue in https://github.com/tipsy/javalin/pull/334 came back when I updated to 3.0.

**Actual behavior (the bug)**
A description of what happened

Event handlers can’t throw checked exceptions.

**Expected behavior**
A description of what you expected to happen

Event handlers should be able to throw checked exceptions.

**To Reproduce**
Steps to reproduce the behavior

[code]

**Additional co

[2019-06-18 15:40] tipsy commented on #632
Sorry about that, could you submit a PR?

[2019-06-18 16:01] david-wg2 commented on #630
We discussed this recently in https://github.com/tipsy/javalin/commit/d20dbbe884f50c4893dcfba5cfa1c9a09fe22994.

What do you think about something like `ctx.uploadedFile("name", DISK)`? Could you submit a PR?

[2019-06-18 16:57] #631 closed

[2019-06-18 17:18] leafac commented on #549
Sure, I think maybe it would be a good fit for https://javalin.io/tutorials/

[2019-06-18 17:32] #632 closed

[2019-06-19 10:53] david-wg2 opened #634 "JavalinVue not rescanning paths on localhost"
Fix:

[code]

[2019-06-19 14:33] jon-ruckwood commented on #628
Thanks guys!

[2019-06-19 15:44] #634 closed

[2019-06-19 16:21] jon-ruckwood opened #635 "Support consumption of OpenApi schema by a remote swagger-ui"
**Describe the feature**
The OpenApi plugin should allow remote web-based tools, such as [swagger-ui](https://swagger.io/tools/swagger-ui/), to request and process the generated schema.

**Additional context**
The lack of CORS headers prevents swagger-ui from consuming the schema successfully. I will raise a PR that adds required headers to the response to make it work.

An added benefit of the ch

[2019-06-19 16:22] jon-ruckwood commented on #635
See #636

[2019-06-19 16:44] tipsy commented on #635
Good idea, I've merged your PR :)

[2019-06-19 17:51] ronMori commented on #613
i'll give it a look - just to be clear, the goal is javadoc for both java & kotlin classes.

[2019-06-19 18:04] tipsy commented on #613
Yes. Java should already be working. Looks like everything is present: https://javadoc.io/doc/io.javalin/javalin/3.0.0

[2019-06-20 18:13] oharaandrew314 opened #637 "Allow typed query params to optionally be null"
**Describe the feature**
There are many times where I have a typed query parameter that is optional.  It's annoying when I have to register a type adapter to get a non-null parameter, but then have to reimplement that conversion to convert a nullable parameter.

This feature would add the `orElseNull` function to the `Validator` class.

It could be used like this:
[code]

[2019-06-20 18:34] tipsy commented on #637
Thanks for your issue and PR @oharaandrew314. Looks good, but I added a comment on the naming.

[2019-06-20 18:34] #635 closed

[2019-06-20 18:44] #637 closed

[2019-06-20 18:44] #626 closed

[2019-06-20 18:45] #615 closed

[2019-06-20 18:46] tipsy commented on #630
@swaechter I'm planning on releasing a new version this weekend (probably Sunday). Do you think you'll have time to work on this before that?

[2019-06-20 18:49] tipsy commented on #630
I'm happy you like it! I was at work when I answered earlier, so sorry if I was a bit short.

I appreciate the effort you put into creating the examples and running tests.

I'm planning on releasing a new version this weekend (probably Sunday). Do you think you'll have time to work on this before that?

[2019-06-22 00:03] alisabri opened #639 "websocket could not send binary buffer with size greater than 8192"
Hi, thanks for Javalin,
I could not manage to send binary buffer with size>8192 over websoket.
Tried to increase binary message size and buffer size, tried to send it partially  but no success.
With buffer size<8192 everthing works ok.

Thanks for your time and quick response
regards,

[2019-06-22 10:25] tipsy commented on #639
Hi @alisabri (you're welcome),

I've never used binary messages with WebSocket, but if you create an example and post it here (or create a repo), I can have a look.

[2019-06-22 15:38] ernestas2k commented on #639
Hi @alisabri

You can reach these jetty settings this way:
[code]
Alternatively, you can set it on a session (if you want to differentiate who can have increased buffer size), for example in onConnect method (this way you can set buffer size per ws path):
[code]

[2019-06-23 09:56] jjjimenez100 opened #641 "Include both Kotlin and Java versions on the Official Tutorials"
Currently what we have with the docs are two separated categories for the tutorials, one for Java and one for Kotlin:
![image](https://user-images.githubusercontent.com/22243493/59974494-666a5100-95df-11e9-9144-40f43243f052.png)

I think it would be best if we only had one column that tackles each topic separately, but includes both the "Java" and "Kotlin" version on the same page.
![image](https:

[2019-06-23 10:04] jjjimenez100 commented on #641
Also IMO, I think it would be nice if we have the source code for these tutorials on a single repository, each having their own respective directories. (Makes it a lot easier to look it up instead of navigation on different repositories)

[2019-06-23 11:29] tipsy commented on #641
This is a very good suggestion @jjjimenez100, but it would be quite a bit of work to get in place. Not all tutorials are available in both languages. If you're willing to put in an effort here, I'd be happy to assist.

I'm not sure about this one. For people who are new to git, and Java/Kotlin in general, a multi-module or multi-branch setup can probably be a bit scary. It will need to have a good

[2019-06-23 11:36] jjjimenez100 commented on #641
Yup, I'm also planning to learn kotlin so I think this would be a good exercise for me (which is to translate code from Java to Kotlin, and vice versa) However I'm not so sure how/where do you do the docs site. Can you somehow point me to where I can contribute the stuffs?

Not necessarily a multi-module setup, but multiple branches each residing the certain tutorial source code and etc. Master wo

[2019-06-23 11:38] jjjimenez100 commented on #641
Yup, I'm also planning to learn kotlin so I think this would be a good exercise for me (which is to translate code from Java to Kotlin, and vice versa) However I'm not so sure how/where do you do the docs site. Can you somehow point me to where I can contribute the stuffs?

Not necessarily a maven multi-module setup, but multiple branches each residing the certain tutorial source code and etc. Mas

[2019-06-23 11:47] tipsy commented on #641
Great! The page is here: https://github.com/javalin/javalin.github.io

It's a GitHub pages / Jekyll setup: https://jekyllrb.com/docs/github-pages/

If we're doing this, I think branches is better than multi-module at least. But I think your first suggestion for improving the tutorials on the webpage is more important, so please focus on that first.

[2019-06-23 11:49] jjjimenez100 commented on #641
Alright. :smile: I'll work on the first one. I'm thinking of breaking it into two tickets, one for the tutorials' source code for Java and Kotlin and one that edits the actual docs page. Sounds good?

[2019-06-23 11:53] tipsy commented on #641
Yes, sounds good, but please create both tickets over at https://github.com/javalin/javalin.github.io

[2019-06-23 11:53] #641 closed

[2019-06-23 15:28] alisabri commented on #639
Hi,
Sorry it was my mistake. I was sending data from a runnable which does not functioning properly.
It works now.
Thanks again
Regards

[2019-06-23 15:28] #639 closed

[2019-06-23 23:06] oharaandrew314 commented on #556
My maven knowledge isn't super robust, but I believe the project structure would have to change in order to have separate `javalin` and `javalin-test` modules.
[code]

Are you ok inuring the massive delta to support this?  Or would you prefer a different repo?  Or is there a better way I don't know of.  [Apache HttpClient](https://github.com/apache/httpcomponents-client) has the structure I'm spea

[2019-06-24 13:22] nixxcode commented on #613
Hi there, I have been looking into this as a possible first contribution. I have made a few relevant findings.

The Javadoc built-in doc generator doesn't support Kotlin, so a plugin must be used to generate documentation for Kotlin classes. I can see that Dokka 0.9.17 is included in pom.xml, so I tried doing the following:

1. Ran the Maven task "dokka:javadoc", which ended in a failure.
2. Re-ra

[2019-06-24 14:56] nixxcode commented on #613
Okay, I think I have an answer for the Dokka exceptions. The issue appears to happen when Dokka attempts to document annotation classes in Kotlin.

Dokka team have already committed a fix that should be rolled out in 0.9.19.

https://github.com/Kotlin/dokka/issues/464

Might it be worth waiting for this fix, then trying to re-generate all the documentation via Dokka?

[2019-06-24 15:24] nixxcode commented on #520
Hi there,

is this still open for consideration? I feel implementing it is within my capabilities.

If yes, are there any requirements in addition to implementation/testing? (such as further research)

[2019-06-24 15:35] pkkummermo commented on #520
It should be quite straight forward, we only need to make sure it's easily configurable and backwards compatible :)

[2019-06-24 15:37] tipsy commented on #520
@nixxcode Yeah. I guess the implementation will have to be something like `config.dynamicBrotli = true`, then check for this boolean before writing the response. You'll have to add an optional dependency on some brotli library, unless it's a very small dependency (in which you can add it directly).

As @pkkummermo just mentioned, you'll have to maintain backwards compatibility, so gzip will be the

[2019-06-24 16:48] nixxcode commented on #520
@tipsy Ok, great! I would like to implement this.

I understand Gzip is to be the default, but how should I handle a situation where both Brotli and Gzip booleans have been set true by the user? Do we warn the user and disable one (probably Brotli), or do you have a better suggestion?

Thank you.

[2019-06-24 17:00] tipsy commented on #520
You don't have to warn the user. Even if the Server allows both compression types, it also depends on what the Client accepts. When both are enabled on the Server:

* If the Client accepts Brotli **and** Gzip, use Brotli
* If the Client accepts Brotli, use Brotli
* If the Client accepts Gzip, use Gzip
* If the Client accepts neither, use neither

[2019-06-24 17:15] nixxcode commented on #520
Okay, thank you.

That's all I need to get started :)

[2019-06-24 19:21] ronMori commented on #613
came to similar conclusion as @nixxcode .  Upgrade plugin version fixed javadoc gen issue.

two observations.
1. dokka:javadoc uneffect by plugin configuration.  (same number of files/directories created)
2. missing index/overview/etc pages.  how will these javadoc pages be integrated into [static javadoc](https://static.javadoc.io/io.javalin/javalin/3.0.0.RC3/overview-summary.html)

[2019-06-24 19:43] nixxcode commented on #613
@ronMori I am fairly certain the missing index/overview pages are a direct result of the exception I mentioned in my previous post under step 3.

I was able to tell Dokka to generate docs for only io.javalin.http and its sub-packages as a test, and this generated the index/overview pages successfully.

This is my Dokka config from pom.xml:
`<plugin>
                <groupId>org.jetbrains.dokka</gr

[2019-06-24 19:57] tipsy commented on #613
Thanks @ronMori and @nixxcode for looking into this.

I don't have particularly strong opinions on this, but Javadoc is the "standard", so I think it makes sense to stick with that. Bumping and/or fixing the annotations is fine.

---

Multiline code should be formatted with three ticks:

![image](https://user-images.githubusercontent.com/1521451/60047397-eec52080-96c9-11e9-9992-14d35b690983.png)

[2019-06-24 20:26] nixxcode commented on #613
@tipsy I will try to upgrade to Dokka version 0.9.19 manually first, to see if the inclusion of https://github.com/Kotlin/dokka/issues/464 fixes the issue. If it does, we can simply wait until it's released on Maven and upgrade.

Will report back as soon as I've had a chance to try it.

[2019-06-25 09:37] aranjitchi commented on #589
@tipsy , sorry for the delay. i migrated my code to the javalin version 3.1.0, unfortunately same behaviour :(

[2019-06-26 11:03] nixxcode commented on #613
Okay, I cloned the Dokka repo and applied the commit listed in https://github.com/Kotlin/dokka/issues/464

Success! All Javadoc generated without error, and Kotlin files are all present and fully documented alongside Java.

This fix will be released as part of Dokka version 0.9.19. We can wait for its release, then update and re-generate all Javadoc via Dokka.

[2019-06-26 15:23] tipsy commented on #613
Nice, thanks for looking into this!

[2019-06-27 09:47] theapache64 opened #643 "Issue with docker deployment"
NOTE: I am new in docker thing and maven projects (I am an android developer)

I've been trying javalin, and following [this](https://javalin.io/tutorials/docker) tutorial, and met with an error

[code]

Here's my `pom.xml`

[code]

I think it happened because I didn't give `snapshot-repo-url` (line#32). I didn't see any replacement for that placeholder in the above mentioned article.

So, what sh

[2019-06-27 21:50] tipsy commented on #643
I'm not very familiar with Docker, but I've tagged the question, so hopefully someone else can answer it.

[2019-06-28 23:35] hex-agon opened #644 "Rendering template with pebble without a model causes problems"
**Actual behavior (the bug)**
Using `ctx.render` without passing a 'writable' model causes pebble to throw an `UnsupportedOperationException`. The stacktrace:

[code]

**Expected behavior**
No exception should be thrown.

**To Reproduce**
Dependencies versions:
[code]

Test class:

[code]

`test.pebble` template:
[code]

**Additional context**
It seems like that pebble tries to reuse the context m

[2019-06-29 08:35] tipsy commented on #644
I guess they shouldn't reuse the map, so try making an issue there first. If they're unresponsive we can "fix" it here.

[2019-06-29 15:34] phreed opened #645 "Howto make a client websocket connection"
I see the example of how to make a `chat-app` with Kotlin as the server and Javascript as the client. Is it possible to implement the client in Kotlin using Javalin?  Is there an example?
I am aware of the https://kotlinlang.org/api/latest/jvm/stdlib/org.w3c.dom/-web-socket/index.html but I believe that only works in the Kotlin-JS environment, I need to target the JVM.
Does Javalin have something

[2019-06-29 19:07] tipsy commented on #645
No, Javalin is purely a Server framework, it does not have a HTTP or WebSocket client.

[2019-06-30 14:55] tipsy opened #646 "Share state from server to JavalinVue"
Maybe `VueComponent("<inbox-view></inbox-view>", state)`, available as `$javalin.state`.

[2019-06-30 15:29] #646 closed

[2019-06-30 19:16] oharaandrew314 commented on #556
@tipsy, how would you like to proceed regarding my previous comment?

[2019-06-30 19:34] tipsy commented on #556
@oharaandrew314 Sorry, I missed your comment somehow. I'm not really sure what @alexey-wg2 has in mind. If the tool includes a HTTP client, I think it should live in a separate repo and be published independently of Javalin.

[2019-06-30 19:34] #645 closed

[2019-06-30 20:39] oharaandrew314 commented on #556
@tipsy I've created a [javalin-test](https://gitlab.com/aohara/javalin-test) repo, with artifacts provided by jitpack.  It's almost identical to the internal test client.

If you'd like to take ownership of it, I can move it from Gitlab to Github, and change the CI from Gitlab to travis.  Alternatively, I'm happy to maintain it myself, and can add a link to it in the javalin Readme.

[2019-06-30 21:12] tipsy commented on #556
@oharaandrew314 It would be great if you could maintain it, but if it's going to be used in Javalin itself, then maybe it should live under the Javalin org? (https://github.com/javalin). Would also be nice if it could be published to Maven Central 🤔

Here's a not so fun fact: The tests in Javalin also use OkHttp (gzip tests) and java_websocket (...WebSocket tst). Should this tool aim to eliminate

[2019-07-01 02:56] oharaandrew314 commented on #556
@tipsy, I'm totally fine with cutting out unirest in favor of okhttp.  It
looks like it has a socket API too, but my experience with them is limited,
so I wouldn't know what kind of abstraction layer would be helpful.  It may
be best to omit socket support from the client until it can be done in a
"good" way.  People can attach their own clients in the meantime.

You can go ahead and make the repo

[2019-07-01 08:55] theapache64 commented on #643
still waiting for response...

[2019-07-01 14:52] tipsy commented on #556
@oharaandrew314 I've created a repo and invited you. The abstraction layer for WebSocket is written into the WebSocket test in the repo, it's mainly wait-functions. Would be nice if the methods could be made blocking. I don't think it's required to use OkHttp for WebSockets, java_websocket should be fine.

[2019-07-01 17:16] hex-agon commented on #644
I've opened an issue with pebble, link: https://github.com/PebbleTemplates/pebble/issues/449

[2019-07-02 04:17] SmithKevin commented on #643
So it looks like the tutorial is building the jar and then expecting you to push it to a maven repo somewhere. Most people use maven central, jcenter or an internal enterprise tool like artifactory. I can't just give you a url to put there as you need to set it up yourself. Here is an article explaining it. https://reflectoring.io/bintray-jcenter-maven-central/

That make sense for builds you are

[2019-07-03 20:06] oharaandrew314 opened #649 "Option to disable Server Header"
**Describe the feature**
Some people don't like having servers reporting what they are, for security reasons.  I propose adding a configuration to disable the `Server` header in responses.

**Additional context**
I'm more than happy to work on this feature myself.

[2019-07-03 20:09] #649 closed

[2019-07-03 20:10] oharaandrew314 commented on #649
I think a good workaround would just be to remove the header in an `after` call.

[2019-07-03 21:11] tipsy commented on #649
Yeah, I think that's a good solution - it's better to not put too many things on the config object.

[2019-07-04 11:47] husnjak opened #650 "Convert all paths to lowercase"
How can I force javalin to run to lowercase on every request?

Example:
`/HelloWorld` should match `/helloworld`

I'm a bit unsure how to force this behaviour.
Been looking at app.before but it does not run before at all..

Thanks

[2019-07-04 12:00] nixxcode commented on #520
Okay, just wanted to chime in to let you know I'm still working on this! I've just run into more problems than I expected. (Like always :D)

JBrotli was a no go, since development has pretty much stopped and it's using a really old (and buggy) version of Brotli (0.5.0 as opposed to the current 1.0.7)

I got dynamic compression working through https://github.com/dominikhlbg/BrotliHaxe , but the Jav

[2019-07-04 12:11] david-wg2 commented on #650
There was support for this in Javalin 2.x, but it was removed for 3.x. There was an issue to re-implement it differently, but no one wanted to work on it.

[2019-07-04 12:17] husnjak commented on #650
This is exactly what I needed! thanks.

[2019-07-04 12:17] #650 closed

[2019-07-04 12:26] ernestas2k commented on #643
What are your goals? If you want to have docker image from built jar, so you can transfer it for deployment. Or you want to have docker environment (application, database, etc) so you can work locally by starting everything easily? I'll provide an example project based on your needs.

[2019-07-04 13:06] pkkummermo commented on #520
@nixxcode Which level do you do the compression on? 11 is super slow, but gives amazing gains in terms of compression. I think the paper linked in https://github.com/tipsy/javalin/issues/520#issuecomment-476320966 found out that 9 is the best general level as it balances compression and perf, but I believe you'd need to experiment a bit on what works best :)

[2019-07-04 13:20] rbygrave opened #651 "FYI: Progress update on the DInject annotated controllers - @Get @Path etc ..."
This is just a FYI update on the development I've been doing on "Controllers with annotations" for Javalin.

Updated docs at https://dinject.io/docs/javalin/

- Includes OpenAPI / swagger generation (as this is APT based it reads the javadoc and uses that + validation annotations like `@NotNull`, `@Size` etc + Kotlin non-nullable types
- Includes support for bean validation (validating request inp

[2019-07-04 17:03] #644 closed

[2019-07-04 17:24] tipsy commented on #651
Looks good @rbygrave ! A few comments:

* The JAX-RS section of the docs was a bit confusing to me, at first I thought the right menu showed how to use DInject with
  * Javalin
  * JAX-RS
  * Maven
  * Gradle

Maybe it would be better to add it at the bottom and call it "JAX-RS comparison"  ?

* I noticed that `@Put`, `@Patch`, `@Delete` all link to the same page, but the highlight in the menu doe

[2019-07-04 17:24] nixxcode commented on #520
@pkkummermo I was running level 4 as per suggestion by the following article: https://blogs.akamai.com/2016/02/understanding-brotlis-potential.html

Playing around a little more has yielded some odd results. I tried level 9 as you suggested, but the response size actually *increased* from 2234 to 2321 bytes? A higher compression level should always have a lower output size if the compressor is wor

[2019-07-04 17:31] nixxcode commented on #520
It's also important to note for the above results, that Google Chrome does correctly recognize the content as Brotli and decompresses it without errors.

That means the compression result yielded by the library is correct, yet the outlandish memory usage and result size anomalies suggest that I really should try implementing my own version of a Java based Brotli lib.

[2019-07-04 17:35] tipsy commented on #520
Very nice work @nixxcode ! The results you're reporting are far worse than I had hoped though. It would be a cool feature to have, but I guess there's a reason why Jetty is holding off on implementing it.

I have no idea how much work that would be, but if you're up for the task it would be great. I guess you'd publish it a separate dependency and have Javalin pull it in?

[2019-07-04 17:37] nixxcode commented on #520
@tipsy Yes, exactly. If I can make it work and perform decently, it would make sense to publish it and make it available to others who may need it as well. :)

[2019-07-04 17:42] tipsy commented on #520
Great! I'm not sure I can help much with the implementation, but feel free to use this issue for moral support 😄

[2019-07-05 05:29] rbygrave commented on #651
Thanks for the feedback !!

Yes good point - done.

Thanks.  Yes, moved to each have their own page.

It detects 2.x or 3.x and generates appropriately for 2.x or 3.x of Javalin ... but yes I've updated the docs to use the 3.x package for Context as that makes sense now (people should be using 3.x going forward).

Yes there is overlap.  Technically there is no need for the OpenAPI annotations as t

[2019-07-05 05:32] rbygrave commented on #651
Thoughts on things to do:

- Use of `@Valid` with Kotlin for bean validation ...
- Provide a bigger example like real-world or pet store (using Ebean ORM)

[2019-07-05 18:39] nixxcode commented on #520
@tipsy @pkkummermo  After scrapping BrotliHaxe due to the horrendous memory issues, I went back to JBrotli, but this time I forked it and started playing around in the source, rather than just including it in Javalin and following usage examples. I made some interesting discoveries.

The original bug I had problems with, that was crashing the JVM? It's only an issue when using the BrotliStreamComp

[2019-07-05 20:15] pkkummermo commented on #520
Having an initial brotli implementation (even though it's reliant on JNI bindings and is using a 3yo library) is a huge win as I see it, especially as it sounds it's now stable enough. It can be iterated upon and improved over time, and having it in the API of Javalin is a great start :) We could mark it as experimental in the first upcoming minor to ensure that people understand it's a WIP.

Only

[2019-07-05 20:21] nixxcode commented on #520
@pkkummermo Absolutely. What I linked to is still a testing playground. Before the actual PR happens, I will do more tests to figure out sensible compression levels (in terms of time/memory usage), so it can be documented.

And yes, I am happy to change the wrapper so it allows adjustment of compression level, if desired! The only reason I haven't already done that, was to keep it in line with Jet

[2019-07-05 20:34] pkkummermo commented on #520
@nixxcode Great stuff! We could look into having a level setting exposed for gzip as well (non-breaking of course), with sane defaults. Right now I'm guessing it's at 6 as it is Jettys default.

Sounds like a plan! Poke us if you want any input and again thanks for contributing :)

[2019-07-05 20:41] pkkummermo commented on #520
@tipsy just poked me and said Javalin is using the JDK implementation, but I see we can expose a level by extending `GZIPOutputStream` ourself. Seems straightforward enough:

https://stackoverflow.com/questions/19138179/gzipoutputstream-increase-compression-level

[2019-07-06 08:39] tipsy commented on #520
Very nice work @nixxcode !

I don't see that as an issue either.

Is there a newer version? I'm looking at https://github.com/MeteoGroup/jbrotli, and it seems to be dependency free. Also, how big is this dependency? I'm a bit tempted to pull it in as a non-optional dependency, as I think there's virtually 0 chance of anyone having conflicts with it.

I think what you're doing here is really intere

[2019-07-06 11:45] nixxcode commented on #520
@tipsy

Yes, the only "dependency" i am able to see is the very first folder in the repository is named "brotli @ 66c1451", From what I can tell, it's a direct import/copy of the source at https://github.com/google/brotli/tree/66c14517cf8afcc1a1649a7833ac789366eb0b51, which is an old branch of Brotli. But I imagine you are probably referring to dependencies in the form of libraries auto-included v

[2019-07-06 12:16] nixxcode commented on #520
Also, in regards to the pull request. Should I do this right now, with my code as it is?

I understand they are meant to be used for discussion, revisions and collaboration before code merging actually happens, but I am completely new to Github, so I have no idea how to use them "properly". (specifically, what is easiest for you as the project owner)

So far, I have just been committing to my own

[2019-07-06 21:52] tipsy commented on #520
The earlier the better. A PR is a lot more visible than keeping your own fork, so it gives other members of the community a chance to get involved in the change. For me as a project owner it's easier too, since I can easily look through the changes against master.

You can add a normal deprecation: `@Deprecated("Experimental API - May change soon")` (or similar). Then we remove the deprecation whe

[2019-07-06 23:15] pkkummermo commented on #520
350 kb is negligible in terms of "bundle size", so I'd say go ahead on a direct dependency :) As @tipsy said; the earlier the PR the better due to it being visible to people looking at the repo and them being able to give input.

[2019-07-07 22:57] nixxcode commented on #520
PR has been opened! I apologize for the commit flood. Most of the early ones are part of my early experiments with the libraries and can be ignored, as I've already reversed them throughout later commits.

Thank you for the feedback, I will open a PR much sooner next time. My thinking was that I didn't want to bother anyone with PRs until I had a decent code contribution going, but I see now why t

[2019-07-09 01:38] LoYungSum opened #653 "Rename javalin-cookie-store"
When I use ctx.cookieStore. The browser will store a cookie name "javalin-cookie-store". Can I rename it to something else?

[2019-07-09 06:11] tipsy commented on #653
I don't remember, but feel free to create a PR to add this functionality :)

[2019-07-09 19:50] Bdthomson opened #654 "Context-path not working in standalone-mode"
Trying to upgrade from 2.5.0 to 3.1.0 and running into issues where routes are now returning 404s. I thought `createStandaloneApp` was the replacement for `EmbeddedJavalin`.

### Old Way (2.5.0) - Worked
[code]

### New Way (3.1.0) - Doesn't Work
[code]

[code]

[2019-07-09 20:06] tipsy commented on #654
It is. What you're doing should work. This is how I have been testing it:

[code]

[code]

I've been running this on an embedded tomcat server. Can you test if this works?

[2019-07-09 20:38] Bdthomson commented on #654
Modified a bit because the system I'm on can't serve directly on `/` (please note that these urlPatterns worked fine on 2.5.0)

[code]

Tried these with no luck, still getting 404s:
[code]

- I did also notice that `doGet` was never getting called, so I had to use the `service` overload.
- The request logger is getting triggered, each request takes between .10ms and .15ms.

Additionally, when stuc

[2019-07-09 21:07] tipsy commented on #654
Thanks! Could you look into what's changed?

[2019-07-09 21:28] tipsy commented on #654
@mvysny have you migrated to 3.1.0 yet?

[2019-07-10 05:47] mvysny commented on #654
Hi, yes, just moved to Javalin 3.1.0 yesterday, works for me. For some reason you need to repeat the context root of the servlet in the `get()` method, e.g.
[code]

[2019-07-10 06:25] tipsy commented on #654
Thanks! I must have messed something up when I moved the context path out from `JavalinServlet`.

[2019-07-10 09:02] simpleauthority opened #655 "getOrNull not giving a null value"
**Actual behavior (the bug)**
I have optional/required parameters for a specific route. I use `getOrNull` by default to either get the value or get null in its place. Then, I check if `optional` is true **and** if `value` is `null`. If so, I just return null from my handler. However, my route execution is short-circuited by `getOrNull` and Postman has:
[code]

**Expected behavior**
I expect to be

[2019-07-10 10:50] MikkelHJuul opened #656 "OpenApi annotation cannot find correct annotations"
**Actual behavior (the bug)**
When the OpenApiDocumentation is generated using annotations (following javalin guidelines) the first OpenApi annotation of the handler-parent-class is always used

**Expected behavior**
The method's specific annotation should be serialized

**To Reproduce**
run attached project
[OpenApiBug.zip](https://github.com/tipsy/javalin/files/3377034/OpenApiBug.zip)

produces

[2019-07-10 15:38] tipsy commented on #655
This function was recently added by @oharaandrew314, maybe he knows what's up?

[2019-07-10 15:39] tipsy commented on #556
Unirest is back in active development: https://github.com/OpenUnirest/unirest-java, https://github.com/Kong/unirest-java

[2019-07-10 15:44] tipsy commented on #656
Thanks for a thorough issue @MikkelHJuul. I'm still not as familiar with this plugins as I'd like, so I'm going to ping @TobiasWalle.

[2019-07-10 16:46] oharaandrew314 commented on #655
@simpleauthority, I was able to reproduce the error you describe, but I'd like to confirm that your error matches the one I found.

Was your validator created for a query param with at least one check added to it?

[2019-07-10 18:26] rcornell opened #658 "Is it possible to tinker with the Jetty HTTP Configuration?"
My team is using Javalin 2.7 for websockets and has hit upon a use case where we are getting warnings from the uri being too long.

**WARN org.eclipse.jetty.http.HttpParser - URI is too large >8192**

Is it possible to configure this element of the underlying servlet: [SimpleServletServer.java](https://github.com/eclipse/jetty.project/blob/9706d70484863a014d3604e5e7cb4af40aa4cb1e/jetty-websocket/w

[2019-07-10 19:01] tipsy commented on #658
You can provide any server you want to Javalin with the `config.server` method. There's some more info in the docs: https://javalin.io/documentation#server-setup

[2019-07-10 19:07] ernestas2k commented on #658
Try using or tweaking this:
[code]

[2019-07-10 23:35] simpleauthority commented on #655
@oharaandrew314 Form param, but yes at least one check was added.

[2019-07-10 23:42] oharaandrew314 commented on #655
I'll add a rest for that to make sure it's fixed.

On Wed., Jul. 10, 2019, 7:35 p.m. Jacob Andersen, <notifications@github.com>
wrote:

[2019-07-10 23:45] simpleauthority commented on #655
Thank you for your prompt work on this @oharaandrew314. It is appreciated.

[2019-07-11 02:37] simpleauthority commented on #655
To be thorough, it may also be wise to add a test for path params that can be omitted (null) with checks added.

[2019-07-11 06:27] tipsy commented on #556
They also have created their own testing tool now: https://github.com/Kong/unirest-java/issues/265

[2019-07-11 07:22] #655 closed

[2019-07-11 13:13] oharaandrew314 commented on #556
@tipsy, do you strongly prefer using Unirest instead of okhttp in javalin-test?

As for the proposed unirest testing lib you mentioned, how do you imagine it would be helpful?

[2019-07-11 13:16] MikkelHJuul opened #659 "OpenApi response oneOf, for several response types"
**Describe the feature**
[code]
should compile to corresponding oneOf in stead of picking the last item, from swagger.io
[code]

**Additional context**
Until then
[code]
and custom ToJSONMapper (replace with it -> JacksonToJsonMapper.INSTANCE.map(it).replaceAll(...).replaceFirst(...))
[code]

[2019-07-11 13:25] MikkelHJuul commented on #659
either default several compiles to oneOf, or make more tages in the OpenApiContent-annotation: so as to handle oneOf, and anyOf as well as single schemas

[2019-07-11 14:12] tipsy commented on #556
Not at all. While it looks like Unirest has been saved from abandonment now, okhttp is still a much stronger choice. I'm not a big fan of how clunky their API is, but for the purpose of this tool, that could be abstracted away.

I'm not sure, I just included it for inspiration. They had a neat `assert` method on the response, we could do something similar.

[2019-07-11 22:02] m-rossini commented on #474
Any progress in this issue? Not serious although annoying and misleading. Using:
        <javalin.version>3.1.0</javalin.version>
        <slf4j.version>1.8.0-beta4</slf4j.version>

[2019-07-12 00:08] tipsy commented on #474
@m-rossini Don't think anyone has worked on it. Would you like to submit a PR?

[2019-07-13 15:55] LoYungSum opened #660 "Question about 3 topics"
1. How does cookie store?

I currently have two sites. get("page") and get("page/1"). When the user goes to the page and I store the cookie. I cannot access the cookie with `cookieStore` in "page/1". It seems that the address saved can't be used in other address.

2. Triggering another get method.

I currently have two sites. get("page") and get("page/1"). When the user the "page/1". The codes ins

[2019-07-13 16:10] tipsy commented on #660
1. It looks like the cookie-store method is not setting the root path as the cookie domain, this should probably be considered a bug

2. No, this can't happen with `get`. Maybe you're using `before` or `after` ?

3. Could you clarify what you mean?

[2019-07-13 18:27] tipsy commented on #520
I'll close this one now, and open a new one for static files.

[2019-07-13 18:27] #520 closed

[2019-07-13 18:28] tipsy opened #661 "Enable Brotli compression for static files"

[2019-07-13 19:50] nixxcode commented on #661
Before we get into the nitty & gritty implementation details, I will need to have a close look at how Jetty does this with gzip, to keep the two operationally similar as possible (within reason of course).

It may also be worth considering optional server-side caching of files that have already been gzipped and served to a client before, seeing as how disk space is often much more plentiful than C

[2019-07-14 02:19] LoYungSum commented on #660
2. I'm using get, here's what I'm doing
![image](https://user-images.githubusercontent.com/25066078/61178511-bbb6e280-a620-11e9-92ee-42bc534a6b6f.png)

3. Session is like cookie, but stored in the server instead of the client browser. So is the session stored base on the domain? or each content handler? or each javalin instance?

[2019-07-14 08:32] tipsy commented on #660
2. Can you copy the code and paste it here?

3. Session can be stored in memory (RAM), on disk, or in a database. Sessions are connected to a user via the session cookie, which is set on the root domain.
By default, sessions are stored in memory, so sessions are reset if you restart your server, but you can easily create a file session store, which will keep your sessions after restarts/redeploys.

[2019-07-14 11:18] LoYungSum commented on #660
[code]

[2019-07-14 11:20] LoYungSum commented on #660
[code]

[2019-07-14 11:30] tipsy commented on #660
[code]

Run and open browser. Server prints 1-2-3, as it should.

[2019-07-14 11:35] LoYungSum commented on #660
But even if I go to "payout/login". It will still print 1 and 2

[2019-07-14 11:36] LoYungSum commented on #660
**But it won't trigger the "/" handler

[2019-07-14 11:40] tipsy commented on #660
For `payout/login`, it only prints 2 here, there must be something else going on in your code.

The way Javalin does route matching is to break after the first match, so it can never trigger two handlers at the same time.

[2019-07-14 11:56] tipsy commented on #661
That sounds like a good approach. I want Jetty to do as much of the static file handling as possible. I used to work on another web framework with had home-made static file handling, and it caused a disproportionate amount of issues and vulnerabilities.

A bit off topic, but I'm wondering if it makes sense to also offer this for dynamic responses? There are a lot of dynamic APIs that rarely change

[2019-07-14 16:51] nixxcode commented on #661
I was thinking along the same sort of lines. I think the "ideal" approach would really be to code this as a Jetty plugin of sorts, but as you pointed out before they don't seem interested in adding Brotli compression at this time, so that would mean us needing to maintain our own fork of Jetty, which is less than ideal for many, many reasons.

The "simplest" thing I can think of, that should avoid

[2019-07-14 17:12] TobiasWalle commented on #656
Thank you for reporting the bug @MikkelHJuul. I'm going to look into it today.

[2019-07-14 18:46] TobiasWalle commented on #656
@MikkelHJuul I created a PR with the fix.

I improved the logic which matches the handlers based on your recommendation. The behaviour is now the following:

*If the class has only one method* => This method is used, at it has to be the lambda method

*If the class has multiple methods and no OpenApi annotations* => Returns null, as there is no documentation in this class

*If the class has multip

[2019-07-15 00:25] LoYungSum commented on #660
Umm. I’ll try to figure out what is causing the problem.

[2019-07-15 14:47] nixxcode commented on #661
I have done a bit of digging, here are my findings:

Dynamic compression is (most commonly) done in one of two ways:

1) Through the usage of ESI (Edge Side Includes): https://www.w3.org/TR/esi-lang

I am not sure if Jetty/Javalin even have an ESI processor. I cannot find any mention through individual docs. But basically, it's the responsibility of the web app developer to define their content as

[2019-07-15 15:53] tipsy commented on #661
I was thinking something way more naive, simply a `map<input, output>` with a configurable size and eviction strategy. Just to avoid the computational cost of doing gzip/brotli of commonly requested resources that don't change often.

[2019-07-15 17:14] nixxcode commented on #661
Ah! I getting ahead of myself here, thinking too big :grin:

So, if I understand, you'd want it to look something along the lines of this:
1) Generate and store **uncompressed** response per unique URI string
2) Send compressed response and store a copy of that as well
3) When an already "mapped" request comes through again, generate a new response, then checksum compare it against the stored one.

[2019-07-15 18:11] nixxcode commented on #661
Also, please do let me know what you think of this whenever you have the opportunity.

I just need a general "direction" to start coding in, and this seems to be the least "code invasive" option.

[2019-07-15 19:07] tipsy commented on #661
Anything that requires manual user interaction is a bit of a let down IMO.

It's not *that* off topic, the reason I brought it up was so we could consider if it made sense to use the same caching mechanism for static files as for dynamic responses.

I wouldn't care about URI strings at all in this case. When a compressed response is written to the client, save a copy of it along with its uncompres

[2019-07-15 19:09] tipsy commented on #661
Thinking about caching at this point might also be a bit premature, maybe we should focus on getting it working first :)

[2019-07-15 19:14] nixxcode commented on #661
It's not ideal, I agree. But if security is a prime concern, it may well be the best course of action. It's the least "invasive" approach I can think of due to minimal code alterations required.

What would some acceptable alternatives look like to you?

This is probably quite true! Let's get the compression sorted out first.

[2019-07-15 23:06] nixxcode commented on #661
Also, just a thought, but the utility I am suggesting doesn't necessarily have to require manual interaction.

Could just set the server up to do this quietly in the background if the appropriate config is enabled. Maybe do an initial "sweep" through the included static dirs, then set up some kind of strategy to detect changes and re-compress where needed.

[2019-07-15 23:41] katsubentobox commented on #335
Sorry for coming back to this again - I'm trying to unit test the below method but can't work out how to initialise `ctx` with a particular request body.
[code]
I was hoping `ContextUtil.init()` would accept a request body. What am I missing?

[2019-07-16 20:34] MikkelHJuul commented on #656
@TobiasWalle thanks for the pr. It looks like it should fix the issue (reading the code). Unfortunately I don't have time to recompile/manual test ATM, and maybe I won't the next few weeks (Vacation). Anything you need me to do, and at a deadline to finally resolve this issue?

[2019-07-17 07:56] TobiasWalle commented on #656
@MikkelHJuul I don't think so. If @tipsy doesn't find anything, my PR should be ready to merge. I think it is sufficient if you verify it again after the next release. Enjoy your vacation!

[2019-07-17 21:33] mpe85 opened #664 "Why does Javalin log a warning when a confusing custom session handler is configured?"
I am configuring a custom session handler which uses a JDBCSessionDataStore.
On startup there is always a confusing warning logged. It is because of this function in the JettyUtil:
https://github.com/tipsy/javalin/blob/a162a1b0f687eaf7c9aa409f32d06bdf0c6e05dc/src/main/java/io/javalin/core/JavalinServer.kt#L124-L133
The call `sessionHandler.sessionCache?.sessionDataStore?.exists(...)` always throws

[2019-07-17 22:13] tipsy commented on #664
I guess that check should be done either somehow else or later when the session handler is already initialized.

Someone contributed a check that was a bit over-aggressive (would throw exceptions in some cases when configured with a session db), so I toned it down to a warning. I guess it should be fixed or removed altogether.

[2019-07-18 08:02] tipsy opened #665 "Use root domain for cookie store"

[2019-07-18 08:14] tipsy commented on #660
Closing this, but I did open an issue about the cookie store domain: https://github.com/tipsy/javalin/issues/665

[2019-07-18 08:14] #660 closed

[2019-07-18 09:36] nixxcode commented on #661
Okay, so I got this figured out as mentioned on Gitter.

The way I am doing static Brotli compression, is by inheriting from Jetty's GzipHandler and overriding its handle() method. This makes sense because all the "operational" logic is found in the overriden method, meaning that if Brotli compression cannot be performed for whatever reason (unsupported, disabled, etc.), I can literally just call

[2019-07-18 09:58] nixxcode commented on #661
While digging around in Jetty's innards, I also figured out how it does its "caching" on gzipped files. The answer: It doesn't.

It uses something called an "ETag" in combination with "if-none-match" and "if-match" headers. A web browser caches this ETag (which contains a CRC code for the static file) along with the actual content, and sends it back to the server as part of the request header when

[2019-07-18 10:21] tipsy commented on #661
That sounds like a great approach!

We already have this via `config.autogenerateEtags`. It only eliminates the download time for the client, very few CPU cycles are saved on the server side. But I'm okay with that.

[2019-07-18 10:31] nixxcode commented on #661
Ha, I completely missed that. Though in all honesty, I didn't actually know about the existence of ETags until a few hours ago, so I wasn't exactly looking either :smile:

How come? It should save plenty of CPU cycles if you store the CRC of the original (uncompressed) response. When the request comes again, we could just generate the response and compare its CRC to the client's and return a 304 i

[2019-07-18 10:35] tipsy commented on #661
Aah, that's clever (or I'm an idiot). I thought the checksum was for the compressed response. Carry on then!

[2019-07-18 10:41] nixxcode commented on #661
I can't take credit. I am just quoting what Jetty already does with its static file handling! :D

I didn't even know that Javalin did ETags, so I haven't had a look at the implementation.

If it is grabbing the CRC of the compressed response, we could optimize this so it grabs the CRC of the original response instead.

We know we can rely on the uncompressed CRC, since with compression, the same i

[2019-07-18 10:56] nixxcode commented on #661
[code]

Yep, here we go. The code you were talking about is literally just before the "compressionHandler.compressResponse(res)" that I recently implemented with compression strategies and Brotli.

The CRC calculation and ETag setting definitely happen before the data is compressed. Means we're all golden here. It's already skipping compression when the browser sends a matching CRC!

[2019-07-18 11:16] tipsy commented on #661
Great! I can start reviewing tonight if you make a PR.

(Feel free to tidy up `writeResult` too, if you want to).