[2017-05-28 16:34] tipsy opened #2 "Add reverse routing"

[2017-05-28 23:44] tipsy opened #3 "Something clever for async"
https://github.com/awaitility/awaitility

[code]

^^^ Pointless?

https://wiki.eclipse.org/Jetty/Feature/Continuations#Using_Continuations

[2017-05-30 17:58] martylamb opened #4 "Response.body(InputStream)"
Being able to connect an InputStream to the response would be very helpful.  I've used this regularly in Spark (just returning an InputStream from the handler).  Any chance of adding this?

[2017-05-30 18:43] tipsy commented on #4
Sure, why not. Do you want to make a PR?

[2017-05-30 19:59] tipsy commented on #2
Added in 167c50d788c44a3d77fd0252b6210fb161ae14c9

[2017-05-30 19:59] #2 closed

[2017-05-30 21:51] martylamb commented on #4
Sure thing.

[2017-05-30 23:11] tipsy opened #5 "Embedded Netty"

[2017-05-30 23:11] tipsy opened #6 "Embedded Undertow"

[2017-05-31 20:44] tipsy commented on #3
Not sure how clever it ended up being, but support was added in c4aa0ebd69faf93a4d6a1a46a07ad45c490213d4. Example:

[code]

[2017-05-31 20:44] #3 closed

[2017-06-01 06:50] tipsy opened #7 "Add internal redirect"

[2017-06-01 06:50] tipsy opened #8 "Add "skip" method to request (go to next matching handler)"

[2017-06-01 11:16] #8 closed

[2017-06-01 15:52] tipsy commented on #7
Added in #9, but I don't think it's a good feature.

[2017-06-01 16:46] #4 closed

[2017-06-03 08:21] SylvainMarty opened #12 "Request.bodyParam() return null and cause stacktrace"
Hi ! I cloned your sample [tipsy/javalin-kotlin-example](https://github.com/tipsy/javalin-kotlin-example) to try your technology which I found very interesting !

## Explanations
After the repo was cloned, I imported the project on IntelliJ (ultimate edition). I ran the project from the `Main.kt` class and I tried some of the API routes.

All the routes using the GET method work totally fine but t

[2017-06-03 08:22] tipsy opened #13 "Code review wanted (for 'Kotlin migration' PR)"
I ported the project to Kotlin in #11.
Would be very helpful if a Kotlin programmer could have a look.

[2017-06-03 08:42] tipsy commented on #12
Thanks for a very thorough issue @SylvainMarty. `req.bodyParam()` only supports `key=value` syntax. I'll create an issue for JSON support.

[2017-06-03 08:43] tipsy opened #14 "Add JSON support to req.bodyParam"
As reported in #12, `req.bodyParam` currently only supports `key=value` syntax.
Would be neat if it could support JSON.
I don't really want to depend on a library to do this. Would it be good enough it `req.bodyParam` support 1 level json?

[2017-06-03 13:37] tipsy commented on #14
After implementing this, I've decided it's a bad idea.

[2017-06-03 13:37] #14 closed

[2017-06-03 13:37] tipsy commented on #12
I've thought about it (while implementing it), and I don't think this is a good feature. I will update the example to use an object-mapper.

[2017-06-03 13:54] tipsy commented on #12
@SylvainMarty I've update the tutorial on the website and the example repo.

[2017-06-03 15:06] SylvainMarty commented on #12
Thanks for your reactivity @tipsy ! The sample now works well ! Which model-mapper you are using to convert body as object ? 😊

[2017-06-03 15:54] tipsy commented on #12
Javalin has an optional dependency on Jackson to do `req.bodyAsClass()` and `res.json()`. In this specific example I'm using [jackson-kotlin](https://github.com/FasterXML/jackson-module-kotlin):
[code]

[2017-06-03 16:54] SylvainMarty commented on #12
Okay nice work ! I'll try to use Javalin with a database later to compare it with Spring MVC ! Good continuation on the project 😉

[2017-06-04 12:49] tipsy commented on #13
Blockers:
* Functional interfaces (SAM)
  * Tried to convert them to typealias, but they seem to require a return value when called from Java, rendering them useless
  * Tried to keep them as java-interfaces. Works well in Java, but type-information is lost when trying to call them from Kotlin, rendering them useless.

Minor problems:
* Type erasure in ExceptionHandler

[2017-06-04 14:31] #12 closed

[2017-06-05 14:20] tipsy commented on #13
Ended up keeping Javalin main class and all SAMs as Java.

[2017-06-05 14:20] #13 closed

[2017-06-05 15:55] Playacem opened #15 "Kotlin-stdlib-jre8 is a runtime dependency"
Currently kotlin-stdlib-jre8 is in the test dependencies section, although it is not marked as one. [For reference](https://github.com/tipsy/javalin/blob/master/pom.xml#L127-L131)

[2017-06-05 16:12] #15 closed

[2017-06-05 16:12] tipsy commented on #15
Thanks, fixed!

[2017-06-05 19:56] philippgille opened #16 "Add tutorial about how to deploy via Docker"
Docker containers are perfect for deploying microservices. Instead of deploying to Heroku and then having to pay lots of money when your service becomes popular and you have to scale up and out, or complicated configuration management when manually scaling out your own cloud hosted servers, you can create a simple Dockerfile for your fat jar and a Docker Compose file for running a Docker Swarm clu

[2017-06-05 20:10] philippgille opened #17 "Describe what differentiates Javalin from other micro web frameworks"
Your website currently contains:

As a Java developer looking for a simple web framework for a simple RESTful API, not knowing *express.js*, this doesn't help me a lot. I need to dive into code examples to find out. And what has been rewritten internally?

Add an abstract description or feature list or examples that show the differences.

Is it easier? Faster? Smaller memory-footprint?

Maybe add

[2017-06-10 00:27] tipsy commented on #17
I will consider doing this at some point @philippgille, but the API is still very far from done.

[2017-06-13 21:40] ruXlab opened #20 "Serve static files from external location"
Hello. Thanks for the server!

Is there way to make live-reload for directory with static files for rapid developemnt? It would be great

[2017-06-13 23:03] tipsy commented on #20
Reload in the sense that you don't have to do anything other than save the file? How are you running your application?

[2017-06-13 23:10] ruXlab commented on #20
Yes. Is there way to "simulate" that path of classpath so instead of built classes server will serve actual folder on the disk?
I'm running app in idea

[2017-06-13 23:31] tipsy commented on #20
It's possible to serve an actual folder, but I'll have to write the code for it. Will have a look at it in a couple of days (feel free to have a look yourself and submit a PR).

[2017-06-14 17:05] tipsy opened #21 "Look into req/res abstraction inside context"
In particular `cookie` and `header` can be confusing

[2017-06-15 17:30] tweenietomatoes commented on #21
i am really your biggest fan

[2017-06-15 17:38] tipsy commented on #21
Thank you 🤔

[2017-06-18 10:13] tipsy commented on #20
@ruXlab Please have a look at https://github.com/tipsy/javalin/pull/22

It would work like this

[code]

[2017-06-18 10:23] ruXlab commented on #20
@tipsy hey
Looks good for me!

For my usecase I'll provide `location` only during development. In prod I prefer to pack all resources in one fat jar

Thank you!

[2017-06-18 10:37] tipsy commented on #20
Good, that was my reasoning for making the API like that. I'll wait 30 minutes, merge, bump jetty, then release a new version.

[2017-06-18 10:52] ruXlab commented on #20
:+1: much appreciate!
looking forward for your update

[2017-06-18 11:03] #20 closed

[2017-06-18 11:25] tipsy commented on #20
Should be available now

[2017-06-20 22:34] tipsy opened #23 "NPE if static-resource folder doesn't exist (or empty?)"
[code]

[2017-06-21 08:02] tipsy commented on #23
Fix in #24

[2017-06-21 14:47] #23 closed

[2017-06-21 20:58] tipsy commented on #6
Steal from https://github.com/http4k/http4k, in particular https://github.com/http4k/http4k/blob/master/http4k-server-undertow/src/main/kotlin/org/http4k/server/Undertow.kt

[2017-06-21 21:01] tipsy commented on #5
Steal from https://github.com/http4k/http4k
In particular https://github.com/http4k/http4k/blob/master/http4k-server-netty/src/main/kotlin/org/http4k/server/Netty.kt

[2017-06-25 11:05] tipsy commented on #6
Almost: https://github.com/tipsy/javalin/pull/25

[2017-06-25 22:00] tipsy opened #26 "Make Jackson ObjectMapper configurable"
This should be fine for now:
[code]

[2017-06-25 22:00] tipsy commented on #26
@kjheimark ^

[2017-07-02 17:13] rjpereira opened #27 "Where is path() ?"
The documentation refers to the path() grouping function but I seem to not find it available neither in IDE nor in github master branch. Who is wrong ?

[2017-07-02 18:29] tipsy commented on #27
@rjpereira `path` is not a member of `Javalin`, but lives in `ApiBuilder` (for the syntax to work in Java a temporary static instance has to be created). If you add `import static io.javalin.ApiBuilder.*;` to your imports everything should work.

[2017-07-03 18:05] #26 closed

[2017-07-03 18:07] tipsy commented on #7
Won't merge.

[2017-07-03 18:07] #7 closed

[2017-07-04 10:04] tipsy opened #28 "Remove path-param from handlers inside path()?"
[code]

[2017-07-04 19:33] tipsy commented on #28
Fixed in f4a6e52b0851b6a12f506fb4766275a31c1daf2c

[2017-07-04 19:33] #28 closed

[2017-07-17 21:00] #27 closed

[2017-07-17 21:01] tipsy opened #29 "Add CORS as feature"

[2017-07-17 21:01] tipsy commented on #29
@kjheimark

[2017-07-17 21:02] tipsy opened #30 "Requestlogging?"

[2017-07-17 21:02] tipsy opened #31 "Ratelimiting"

[2017-07-19 09:38] tipsy opened #32 "ctx.anyQueryParamEmpty(String...)"

[2017-07-19 21:16] #32 closed

[2017-07-28 12:09] tipsy opened #33 "Simple file uploads"

[2017-07-28 19:44] #33 closed

[2017-07-28 23:52] tipsy opened #34 "Integration-test for uploads?"
https://www.playframework.com/documentation/2.6.x/JavaFileUpload

[2017-08-02 17:48] tipsy opened #35 "ignoreTrailingSlahes()"

[2017-08-03 05:58] enchanting4 commented on #35
I'd like to help with this project. I forked repository and I'd like to start with something easy like trailing slashes, just to dive into javalin. So, I think I want to implement this feature.

[2017-08-03 06:17] enchanting4 commented on #35
How would you like to see this feature? I think it is nice work around full Javalin server, so
`Javalin.setTrailingSlashesIgnored(boolean ignored)`.
But probably we could add rules for endpoints?

[2017-08-03 08:18] tipsy commented on #35
Thanks, @enchantinggg4, great that you want to help.

The current convention is to omit `get`/`set` from methods in Javalin, so `port(0)` is `setPort(0)`, and `port()` is `getPort()`.
This feature should be `ignoreTrailingSpaces()`, or if we flip it around, (as I think we should), it should be `dontIgnoreTrailingSpaces()`, or `treatTrailingSpacesAsSeparateUrls()`, or something similar.

I think mo

[2017-08-03 08:23] tipsy opened #40 "Rewrite methods to include get/set in method names?"
Should consider rewriting `port(0)`, `enableStaticFiles()` etc into `setPort(0)`, `setStaticFileLocation("/")` etc.  This because it would work better with kotlin, and you could do:

[code]

[2017-08-03 08:29] tipsy opened #41 "Allow `start()` without `create()` ?"

[2017-08-03 08:32] enchantinggg4 commented on #35
Hi,
I thought about it, I 'll fix it today.

On Aug 3, 2017 11:18, "David" <notifications@github.com> wrote:

[2017-08-03 14:35] #35 closed

[2017-08-03 15:33] tipsy commented on #40
This requires you to create getters for all fields, as well as casting when calling from Kotlin (for SAMs). Not doing this.

[2017-08-03 15:33] #40 closed

[2017-08-03 15:35] tipsy commented on #40
As pointed out by the jetbrains guy, you could still do

[code]
now. So we'll stick with that.

[2017-08-03 18:27] #41 closed

[2017-08-05 00:41] tipsy opened #47 "Consider changing InputStream to File in UploadedFile"

[2017-08-05 03:50] #47 closed

[2017-08-10 15:13] #34 closed

[2017-08-10 20:23] #29 closed

[2017-08-10 20:23] tipsy commented on #16
@enchantinggg4 is working on this.

[2017-08-12 05:43] crazy4groovy opened #50 "Groovy sample?"
I tried:
[code]
but it exits immediately... shouldn't it run until ctrl+c?

[2017-08-12 07:05] tipsy commented on #50
It should. Can you tell me what happens when you run this?

[code]

(use the jetty-version bundled with Javalin)

[2017-08-14 10:38] noxi-jk opened #51 "Get list of all formParams"
In context are many methods to get params map (ctx.paramMap(), ctx.queryParamMap()) ... but I need to get formParamMap() (all fields from x-www-form-urlencoded request) and this method is missing. Can you add this method to context?

Thanks!

[2017-08-14 16:44] tipsy commented on #51
I'll have a look soon.

[2017-08-16 09:56] GittiHab opened #52 "Path routing not working"
Hey,
I have just been trying out Javalin (with Kotlin) and it's amazing how fast one can build APIs with it!
I just wanted to run my app though and ran into following issue: I have routes with a paths but Javalin does not seem to recognize and route them:

This is part of my code
[code]

when opening `localhost:port/user/login` though, I just get a "Not Found" message and the code in the controlle

[2017-08-16 10:10] GittiHab commented on #52
As it turns out Javalin automatically adds a Slash `/` before `path` paths but not in front of other paths. So the above code specifies the path `localhost/userlogin`. To correct this one must simply add a Slash before *login* in the `get` method.

[2017-08-16 10:10] #52 closed

[2017-08-16 10:11] pkkummermo commented on #52
Might be an improvement to be consistent in terms of prepending the slash automagically.

[2017-08-16 12:34] #51 closed

[2017-08-16 16:55] tipsy commented on #21
Haven't really been confused yet by the current API, so I'm closing this.

[2017-08-16 16:55] #21 closed

[2017-08-16 20:50] tipsy commented on #30
First draft in #53

[2017-08-17 11:17] GittiHab opened #54 "HTTP Basic Auth Support"
Is HTTP Basic Auth supported yet? The Website Documentation does not mention it yet. Such support would be really great especially since Javalin is all about REST APIs which are often protected by using Basic Authentification.

[2017-08-17 12:55] tipsy commented on #54
I added some basic (heh) basic-auth functionality in https://github.com/tipsy/javalin/commit/aaf310fd31cb4f592d0bca1bf4a933099c172670, but I reverted it again.

What in particular do you mean when you ask if it's supported?

[2017-08-17 16:55] GittiHab commented on #54
With supported I meant if there is an explicit function, e.g., the functionality you already implemented. Out of my perspective this is a core functionality which will likely be used many times  and it might be a good idea to therefore provide such a function in the library itself.

[2017-08-18 14:57] #30 closed

[2017-08-18 17:33] tipsy commented on #54
I'm not sure if it's a good idea to include this (hence the revert). It's very easy implement yourself, and just including the `Basic` part of the `Authorization` framework seems a little incomplete. I'll think about it some more.

[2017-08-18 18:52] tipsy opened #55 "Consider turning `Context` functions into properties"
#### This would lead to a much neater API, and there would be a clear difference between functions and properties. It might affect performance though 🤔

### Kotlin
<code>Before : headerMap()["Accepts"]</code>
<code> After : headerMap["Accepts"]</code>

### Java
<code>Before : ctx.headerMap().get("Accepts")</code>
<code> After : ctx.headerMap.get("Accepts")</code> (if using `@JvmStatic` )
<code> Af

[2017-08-22 17:38] tipsy commented on #50
@crazy4groovy I have managed to run the Hello World snippet successfully on both my Mac and my Windows machine. Closing the issue now, please reopen if you can create a example project that I can run where it doesn't work.

[2017-08-22 17:38] #50 closed

[2017-08-28 08:20] tipsy opened #56 "Look into ApiBuilder suggestion"
@daviddenton makes some suggestions in a [gist](https://gist.github.com/daviddenton/845c2490c9158c7b91c5f8f97ec7cf97), which look pretty neat.

Todo:
* Implement suggestion
* See how it feels
* Figure out if/how it will work with Java

[code]

[2017-08-28 09:48] Alcheorg opened #57 "Integration tests"
Are there built-in integration tests?

[2017-08-28 09:57] tipsy commented on #57
The library itself uses [Unirest](http://unirest.io/) for integration tests: Here is an example: https://github.com/tipsy/javalin/blob/master/src/test/java/io/javalin/TestApiBuilderTwoServices.java

[2017-08-28 10:40] tipsy opened #58 "Consider ctx.cookieStore()"

[2017-08-28 19:40] tipsy commented on #56
Been playing around with this for a few hours. Not really comfortable with it, and it won't work for Java.
`get(path, handler, roles(permittedRoles))` vs `get(path, handler).restrictTo(permittedRoles)` should be tested though.

[2017-08-28 19:41] #56 closed

[2017-08-29 07:35] tipsy opened #59 "Add markdown translator"

[2017-08-29 17:03] #59 closed

[2017-09-03 22:18] #57 closed

[2017-09-03 22:22] tipsy opened #61 "Consider ctx.headers.headerName for each header"
On the form of:
`ctx.headers.accept`

Could also provide more helpful fields, like
`ctx.headers.authorization.basic` or even `ctx.headers.authorization.basic.username`

[2017-09-07 18:00] tipsy commented on #61
Introduced a `Header.kt` constant class i #62 instead.

[2017-09-07 18:00] #61 closed

[2017-09-07 20:49] tipsy commented on #58
First draft if #63

[2017-09-08 19:06] tipsy commented on #58
Added in #63

[2017-09-08 19:06] #58 closed

[2017-09-09 08:01] tipsy commented on #54
Re-added in c5c2f96c1ef47732f96ba24c9cf47541f2479027

[2017-09-09 08:01] #54 closed

[2017-09-09 15:04] tipsy opened #64 "Consider typed keys for cookie-store"
https://github.com/nmdias/DefaultsKit

[2017-09-09 15:07] tipsy commented on #64
[code]

[2017-09-10 07:42] tipsy opened #65 "Add way to configure context path"

[2017-09-10 09:46] tipsy opened #66 "Consider creating a http-client"

[2017-09-11 15:47] geekytime opened #67 "Any way to convince Jetty instance to hot reload when running via gradle?"
I am using Gradle and the `kotlin` and `application` plugins to start my Javalin app. I would like to convince Gradle and Jetty to watch and build my code, and hot-reload the Jetty server.

I was hoping that Gradle's "[continuous build](https://docs.gradle.org/current/userguide/continuous_build.html)" feature could be used to trigger rebuilds, and that putting the Jetty server in `debug mode` migh

[2017-09-15 17:39] tipsy commented on #67
Hi @geekytime. Unfortunately I don't have any experience with this myself, neither with maven nor with gradle, but I would love to get it working. I was under the impression that you would need something like JRebel or DCEVM though, but maybe this isn't the case? It would be great if you could look into it, I will have a look next week too.

[2017-09-15 17:56] tipsy commented on #67
https://github.com/HotswapProjects/HotswapAgent <- might be worth looking into.

[2017-09-16 11:48] tipsy opened #68 "Consider websocket"
https://github.com/jetty-project/embedded-jetty-websocket-examples/tree/master/native-jetty-websocket-example/src/main/java/org/eclipse/jetty/demo

[2017-09-17 08:04] tipsy opened #69 "Create object holding default servers?"
Something like `JettyDefaults`

[code]

[2017-09-19 17:17] tipsy commented on #68
[code]

Something like this would be nice. Having some trouble with the implementation though.

[2017-09-19 22:03] tipsy commented on #6
Possible solution: https://stackoverflow.com/questions/44789342/servlets-undertow-accessing-httpservletrequest-and-httpservletresponse/46310308#46310308

[2017-09-20 17:09] tipsy commented on #68
Almost done.

[2017-09-20 23:13] rmaes4 commented on #3
@tipsy any chance you could post some example code for ctx.async in Kotlin?

[2017-09-21 07:05] tipsy commented on #3
Probably not the greatest examples, but I included some in the examples dir: https://github.com/tipsy/javalin/blob/master/src/test/kotlin/io/javalin/examples/AsyncExample.kt

[2017-09-21 19:30] tipsy commented on #68
Proposal in https://github.com/tipsy/javalin/pull/70/files

[2017-09-21 22:33] tipsy commented on #68
## Final (at least for now) implementation:
### Kotlin
[code]
### Java
[code]
I'll merge it in the weekend.

[2017-09-22 09:33] tipsy commented on #68
Merged.

[2017-09-22 09:33] #68 closed

[2017-09-27 18:30] tipsy commented on #65
This probably also involves moving to defaultservlet + wrapping response body

[2017-10-02 16:53] tipsy opened #71 "Create realdworld example? - https://github.com/gothinkster/realworld"

[2017-10-02 16:53] tipsy commented on #71
https://github.com/gothinkster/realworld

[2017-10-03 17:46] MFernstrom opened #72 "Websocket timeout on read"
How can we adjust the timeout for websocket?

I'm seeing connections erroring out with Timeout on Read which seems to be due to the timeout settings.

[2017-10-03 21:14] tipsy commented on #72
Did you try `session.setIdleTimeout(long);` ?

[2017-10-03 21:33] MFernstrom commented on #72
Dangit.

Thanks @tipsy, that seems to have done it.

[2017-10-03 21:33] #72 closed

[2017-10-03 21:44] tipsy commented on #72
Glad it worked. I currently don't have an actual use-case for WebSockets myself, so the implementation was based on guessing what would be useful (and the sample chat app). Please let me know if you run into any problems or think anything could be improved.

[2017-10-08 19:08] vellrya opened #73 "Server stuck on Exception"
If an error occurs while executing the application logic, then sometimes the server stucks on it. Helps pressing Ctrl-C. Then the server continues to work and processes even those requests that came to it before

[2017-10-08 19:14] tipsy commented on #73
That seems odd. Could you tell me the steps to reproduce this?

[2017-10-08 19:22] vellrya commented on #73
During the multipart request, the mobile network on my phone disconnected. I got the Multipart parsing failed error. I returned the network to the device and decided to repeat the request, but the server no longer responded. Then I pressed Ctrl+C to stop and restart it. And then I saw the execution of my previous request and the server was again ready to work. The reboot did not happen - the serve

[2017-10-08 19:32] tipsy commented on #73
Do you have the stacktrace still?

[2017-10-08 19:45] vellrya commented on #73
Unfortunately not, but if the error repeats again (it was already twice), then I will send it to you

[2017-10-09 18:54] vellrya commented on #73
Ok, here it is. Again(
[code]
The connection on my phone is still bad, and it causes such an exception. The only problem is that the server stops working until Ctrl+C is pressed

[2017-10-09 20:43] tipsy commented on #73
Thanks, I'll try to find out what's wrong. Could you also include the code that's causing this?

[2017-10-09 22:55] tipsy commented on #73
@vellrya could you build this branch https://github.com/tipsy/javalin/tree/issue-73 and see if that fixes the issue?

[2017-10-10 12:46] vellrya commented on #73
@tipsy Can you post changes to Maven or provide Jar, please?

[2017-10-10 13:34] tipsy commented on #73
I can build you a jar in an hour or two when I get home. If want to try before that, you can checkout the branch and run `mvn clean install`, then depend on `0.5.3-SNAPSHOT`.

[2017-10-10 14:28] tipsy commented on #73
@vellrya here is the jar: https://drive.google.com/open?id=0BzKbHpeI5ubmQVo0bDdzdXBTbW8

[2017-10-10 15:48] vellrya commented on #73
Ok, I'll try this.

[2017-10-10 20:26] vellrya commented on #73
Unfortunately, the problem remained. Now I see no exceptions, the server just stucks. Experienced, I found that, in addition to Ctrl + C, the right mouse button can be used to continue the server operation. Perhaps, if I fully describe my problem, a solution will be found. I'm testing the speed of uploading files. I upload small pictures to the server (about 40 KB). When connecting via Wi-Fi, the

[2017-10-10 22:36] tipsy commented on #73
Do you have a logger enabled? Add
[code]

to your POM and you should get a log message like `"Exception occurred while servicing request",` and a stacktrace. I'm surprised it still gets stuck though, I wrapped the body of the Jetty `doHandle` method in a try-catch, and if that doesn't work the problem has to be with Jetty itself. Debugging this is a bit tricky, but I'll see if I can reproduce it i

[2017-10-14 11:15] tipsy commented on #55
Been re-visiting this idea at least a dozen times. There are a lot of issues, such as getters/setters, visibility form Java, the loss of the fluent API, performance...

I might be wrong about some of these things, so please feel free to correct me:

### Java/Kotlin interop
To convert `status()` to a property, we'd need something like:
[code]
This would make it work in Kotlin, but the Java would se

[2017-10-15 14:28] tipsy commented on #65
https://github.com/tipsy/javalin/pull/74 ?

[2017-10-15 16:55] tipsy opened #75 "Easier access to request-session"
[code]

[2017-10-16 17:27] tipsy opened #76 "@NotNull for websocket methods"

[2017-10-16 19:19] tipsy commented on #65
Added in #74

[2017-10-16 19:19] #65 closed

[2017-10-16 19:21] #76 closed

[2017-10-18 19:33] tipsy commented on #75
Fixed in 47698ee639d95be663667056925b7c5c06a2c613

[2017-10-18 19:33] #75 closed

[2017-10-21 09:45] tipsy opened #77 "Add function to extract currently match path and list of matched paths?"
[code]

[2017-10-21 12:31] tipsy commented on #77
PR in #78

[2017-10-22 09:23] tipsy commented on #77
Closed in favor of 77e7cd982181f9889eac7eb7c9ee491e12f9d0d7 (adding the info to the request-log)

[2017-10-22 09:26] #77 closed

[2017-10-29 18:57] tipsy commented on #66
Considered and rejected. Better to promote an existing library, no one should learn how to do http-requests "javalin-style".

[2017-10-29 18:57] #66 closed

[2017-10-29 18:59] #5 closed

[2017-10-29 18:59] #6 closed

[2017-11-07 18:55] FrEaKmAn opened #79 "Integrating JPA and Guice"
Hello

First of all, great work and congrats for the 1.0.0 release :+1:

I would like to integrate JPA (I know there any many more Kotlin friendly solutions) with Guice. Using the solution provided as https://github.com/google/guice/wiki/JPA, it was super easy to integrate it into Javalin.

Only problem is to resolve session per http request as described here https://github.com/google/guice/wiki/J

[2017-11-07 19:54] tipsy opened #80 "Consider adding roles to path()"
[code]

[2017-11-07 22:27] scalabilitysolved opened #81 "Recommended way for functional testing?"
Given the initial hello world example in Kotlin

[code]

I see no clear way to test out routes as you have no control over the life-cycle of Javalin.  Testing the framework directly is quite easy as shown here https://github.com/tipsy/javalin/blob/master/src/test/java/io/javalin/TestApiBuilderTwoServices.java but this test creates it's own Javelin instances.

[2017-11-08 10:45] jwhitmarsh commented on #67
@geekytime did you have any success with this?

[2017-11-08 15:55] tipsy commented on #81
Could you elaborate a bit, and outline a typical test scenario?

[2017-11-08 16:35] smcmurray opened #82 "Routing priorities"
Under "Fluent and readable API" on https://javalin.io/ your example code creates the following router:

[code]

For a request of GET /users/1, what prevents the router from invoking UserController::getAllUserIds instead of UserController::getUser ? How are routes prioritized?

[2017-11-08 16:41] smcmurray commented on #82
For instance, how is the router above different from the following?:

[code]

[2017-11-08 16:55] smcmurray commented on #80
javalin claims to be inspired by koa.js. In the spirit of koa, roles would be a different middleware than routing.

[2017-11-08 17:31] tipsy commented on #80
I don't want it to be a copy of koa for the jvm though. I prefer being very explicit about auth, so currently you have to set roles per endpoint. This issue is for considering if setting them per `path()` is okay.

[2017-11-08 17:38] tipsy commented on #82
The path-matcher iterates through the routes in the order in which they were declared. The matching function looks like this:
[code]

If you switch the order, you'll break the API.

[2017-11-09 00:16] smcmurray commented on #82
So in the first example, UserController::getUser will never get invoked? Because it will match on GET /user before it matches on GET /user/1?

Thus, for the example API to work, it must be declared the second way, and not as currently found on the website?

[2017-11-09 01:01] tipsy commented on #82
If we refactor out the `path()` calls, we get this:
[code]

If you `GET` `/user/1`, it will not match `/user`, as `/user` has no dynamic part (no `*` or `:param`). The first matching path will be `/users/:user-id`. The example is taken from the auth-example tutorial: https://javalin.io/tutorials/auth-example, you can clone it and test it out.

[2017-11-09 01:05] smcmurray commented on #82
ah. so it has to be a complete match? It won't match on partials?

[2017-11-09 01:06] tipsy commented on #82
Correct.

[2017-11-09 01:19] smcmurray commented on #82
is there a way to match on partials?

[2017-11-09 01:35] tipsy commented on #82
What's your use-case for this? 🤔
You could just do something like this:

[code]
But it sounds like a bad idea.

[2017-11-09 02:08] smcmurray commented on #82
Forgive my ignorance of Javalin, but here's an example that should get the idea across:

POST /users/1/name
[code]

So that you can do common processing for common path partials.

[2017-11-09 06:58] filippobuletto opened #83 "Consider a name change"
Hi @tipsy sorry to bother you with a non code related issue, I think that using "java" in the library name is a bad idea. Java is an oracle registered trademark, hoping that javalin will achieve a huge success you must be aware of this. See what happened to "javaslang" (now vavr)!
Just my two cents, well done and good luck!

[2017-11-09 11:01] Adeynack opened #84 "Async does not return the result body"
The "async" does return the set status code, but not the body. The provided example does not checks that.

I have provided an updated example (see link below) where I do set a body for the 2 examples already provided by `javalin` and also added 2 examples using a real life async scenario: obtaining the data from a service that returns a `CompletionStage` (or `CompletableFuture`).

https://github.c

[2017-11-09 11:21] Adeynack commented on #84
Also, the unit tests covering the `async` use cases do not assert that a body is returned. If needed, I can modify them and propose a PR for it. But to fix the async bug itself, I would need a lot more knowledge in the internals of the library (which at the moment would require more time than I can afford to spend in contributing, sadly).

[2017-11-09 15:48] tipsy commented on #84
Thanks for the thorough issue. I don't have a lot of experience with async (as you might have guessed), so it was added as an after-thought. I'll dig around a bit and see if I can get things working.

[2017-11-09 17:06] Adeynack commented on #84
OK thanks. I will also on my side try to figure out if it is an easy fix or not. I am getting _fairly_ comfortable with async and multi-threading issues. Let's see what I can come up with.

[2017-11-09 17:45] tipsy commented on #84
Cool. Setting the response body itself isn't really a problem, you can just do something like

[code]

But I imagine after-filters/request logging will run right away, exception mappers won't work, and so on. I imagine fixing this would be a bit of work 🤔

[2017-11-09 17:46] tipsy commented on #82
I think you should extract common functionality into functions and call them explicitly per route.

[2017-11-09 17:46] #82 closed

[2017-11-09 18:27] filippobuletto commented on #83
I don't think so, the main (an only?) reason is because _Oracle_ and _Java_ are registered trademarks of Oracle and no one can use or derivate logos and/or names without explicit consent.
But this is only a kindly reminder :smile: have a nice day!

[2017-11-09 18:27] #83 closed

[2017-11-09 18:53] tipsy commented on #83
![image](https://user-images.githubusercontent.com/1521451/32623803-9da1ecc0-c587-11e7-9114-285fc03f7a59.png)

[2017-11-09 18:58] pkkummermo opened #86 "Convenience methods for websockets"
Consider providing wsCtx for .ws(). This creates a consistent API and could help abstract some WS-functionalities

[2017-11-09 19:16] rdifrango opened #87 "Route by Mime/Content Types"
I would like to group my routers by both path and Mime/Content Types but in looking at the code this doesn't seem possible is everything is by path.

[2017-11-09 19:38] tipsy commented on #87
Currently not possible, no.

[2017-11-09 19:51] rdifrango commented on #87
@tipsy That's what it looked like to me, so I guess my question is two-fold then:

1. Is it possible and/or a desired feature?
2. If so, I might be able to contribute such a patch...just need to know where to start.

[2017-11-09 20:01] tipsy commented on #87
It's possible, but not sure if it's desired. You would need to add overloads to `Javalin.java` and `ApiBuilder.java`, and change `PathMatcher.kt`  and `JavalinServlet.kt` to take accepts-types into account.

[2017-11-09 20:04] tipsy opened #88 "Create CONTRIBUTING file"

[2017-11-09 21:03] algonzalez opened #89 "port() returns -1 in SERVER_STARTED event"
The started flag is not set to true until after the SERVER_STARTED event is fired.

Since the port() method checks this flag, it returns -1 instead of the actual port when called from the started event handler.

I think the flag should be set prior to firing the event.
Also, I think the port() method should not check the flag and should just return the value the currently stored value.

[2017-11-09 21:13] #88 closed

[2017-11-09 21:18] tipsy commented on #89
@algonzalez Thanks, I agree. Fixed in 8fa8807d33ee658027350a0ef903d7f94de17907 and ed2704bc175831181f3c54719dbf747d7f9b1ca8.

[2017-11-09 21:27] algonzalez commented on #89
Thank you sir. That was quick!

[2017-11-09 21:27] #89 closed

[2017-11-09 23:19] tipsy commented on #86
https://github.com/tipsy/javalin/pull/90/files <- discuss pros/cons

[2017-11-10 07:41] tipsy commented on #86
Pros:
- Less internal code
- More consistent API
  - Devil's advocate: Although it looks consistent, it's less accurate and doesn't show you what's really going on. It's a little like putting all arguments to a method in a `Map<String, Any>`

Cons:
- You can't reference `message` or `session` anymore, it's now `wsCtx.message` and `wsCtx.session` (eww)
- Less type-safe and less intuitive API. The c

[2017-11-10 13:19] pkkummermo commented on #86
:+1: for wrapping session

[2017-11-10 15:48] cgrinds opened #91 "Server-sent event support?"
Does Javalin support SSE? I know [Jetty](https://www.eclipse.org/jetty/javadoc/current/org/eclipse/jetty/servlets/EventSourceServlet.html) does so maybe it's not much effort to add. I've had better luck with SSE than WebSockets when the use case is just pushing events from the server.

[2017-11-10 16:24] tipsy commented on #91
I don't have any experience with SSE, do you want to try creating a PR?

[2017-11-10 22:35] tipsy commented on #86
fat session <- https://github.com/tipsy/javalin/pull/92

[2017-11-11 00:57] Norman-Lee opened #93 "AWS Lambda / Cloud Function Integration"
Throwing the idea out here, would adding in Lambda and GCP function support as like an "embedded server" sound like a good idea? Might enable easier deployments to different types of cloud environments.

[2017-11-11 09:18] tipsy commented on #93
It doesn't sound like a bad idea, but I'm not sure what work is required. Feel free to elaborate a bit on what needs to be be done.

[2017-11-11 09:25] tipsy commented on #79
Hi @FrEaKmAn. The`SparkGuiceFilter` looks very foreign from Javalin, so I'm not sure it's much help. When you say you need to resolve the session per HTTP-request, what do you mean? You can get the session for any http-request by doing `before { ctx -> ctx.request().session }`, but maybe that's not enough?

[2017-11-11 14:17] tipsy commented on #89
This is out in `1.0.1` now.

[2017-11-12 06:22] prasad-marne commented on #16
@tipsy  i am interested in helping with this issue.

[2017-11-12 09:56] tipsy commented on #16
That's great @prasad-marne. The website repo is at https://github.com/javalin/javalin.github.io.
If can't get jekyll to work, you can write your tutorial as a comment here, and I'll add it to the page.

[2017-11-12 11:09] tipsy commented on #69
Currently you have to create your own jetty server: https://github.com/tipsy/javalin/blob/master/src/test/java/io/javalin/examples/HelloWorldSecure.java#L26-L32

The good thing about this is that you can just copy examples from the jetty-docs. The bad thing is that you get a lot of jetty code.

We could copy some examples from the jetty docs and put them in an object, then let users access them th

[2017-11-12 12:51] tipsy opened #94 "Allow * as origin for cors + add noargs method"

[2017-11-12 13:07] tipsy commented on #94
[code]

[2017-11-12 20:05] FrEaKmAn commented on #79
Hello @tipsy. Maybe I express myself incorrectly regarding session. The idea is unit of work that needs to execute for each request

https://github.com/google/guice/blob/master/extensions/persist/src/com/google/inject/persist/PersistFilter.java#L92

I know Javalin supports before and after. Maybe this could work?

[code]

[2017-11-12 22:55] prasad-marne commented on #16
@tipsy thank you for the reply. i will check it out

[2017-11-12 23:35] Brodan opened #95 "NoClassDefFoundError: io/javalin/Javalin"
I'm trying to run the [maven setup](https://javalin.io/tutorials/maven-setup) and receiving the following error:

[code]
The source code looks as such:
[code]

And this is the `pom.xml` file:
[code]

What am I doing wrong here?

[2017-11-13 00:46] tipsy commented on #95
Nothing, looks fine. I tried it locally and it works. Try `mvn clean install -U` ?

[2017-11-13 01:48] Brodan commented on #95
@tipsy Hmm didn't seem to work, but thank you for responding so quickly! Does any of this info help with debugging?
[code]

[2017-11-14 10:57] #94 closed

[2017-11-14 12:01] tipsy commented on #80
[code]

[2017-11-15 07:14] geekytime commented on #67
No. I tried for a few days and then gave up.

Kotlin and Javalin make it pleasant to _code_ a web server on the JVM. Unfortunately, between slow compile/startup times, lack of hot-reloading, and having to deal with maven or gradle; _running_ a web server on the JVM will likely always be an exercise in frustration. 😖

[2017-11-15 17:57] tipsy commented on #80
This functionality would introduce a lot of ambiguity.

`/hmmm` can be accessed if user has  `role1` OR `role2`
`/hmmm` can be accessed only if user has `role2`
`/hmmm` can be accessed if user has `role1` AND `role2`

`before`/`after` currently don't have roles, but they would get them implicitly if path-roles are introduced.

One of the goals with the `AccessManager` interface was to make auth ve

[2017-11-15 17:57] #80 closed

[2017-11-16 13:09] NickEcho opened #96 "isMultiPart() only checks multipart/form-data"
the current implementation of `isMultipart()` is as follows
`fun isMultipart(): Boolean = (header(Header.CONTENT_TYPE) ?: "").toLowerCase().contains("multipart/form-data")`
but there are more then just `form-data` multiparts.
my suggestion would be just remove the `form-data` part. i.e.
`fun isMultipart(): Boolean = (header(Header.CONTENT_TYPE) ?: "").toLowerCase().contains("multipart/")`

One suc

[2017-11-16 13:24] tipsy commented on #96
Sounds reasonable. Would you like to make a PR?

[2017-11-16 13:35] NickEcho commented on #96
Sure thing: https://github.com/tipsy/javalin/pull/97

[2017-11-16 14:05] #96 closed

[2017-11-16 15:07] #95 closed

[2017-11-16 15:18] Brodan commented on #95
Hey @tipsy! So the root of the issue was that your `Main.java` is located in `/src/main/`, while the Maven Getting Started guide uses their "Standard Directory Layout", which is `/src/main/java/com/mycompany/app`.

Once I rearranged some thing I was able to fire up my server successfully. Thank you for pointing me to the heroku example for reference! I'm looking forward to using this framework for

[2017-11-16 15:30] tipsy commented on #95
Great. Feel free to create more issues if you run into other problems. And please let me know when your blog post is done.

[2017-11-16 15:57] sdqali commented on #81
@scalabilitysolved I have done this by wrapping the JavalinApp in a class that gets instantiated by both the test as well as `main`. See

1. [Wrapper](https://github.com/sdqali/todo-javalin/blob/master/src/main/kotlin/in/sdqali/javalin/todo/web/JavalinApp.kt)
1. [Main usage](https://github.com/sdqali/todo-javalin/blob/master/src/main/kotlin/in/sdqali/javalin/todo/Main.kt)
1. [The test](https://git

[2017-11-16 16:58] tommytcchan commented on #94
👍

[2017-11-17 05:29] tommytcchan commented on #94
@tipsy actually is this going into the 1.1.0 release?

[2017-11-17 06:34] tipsy commented on #94
Yes

[2017-11-17 15:39] #86 closed

[2017-11-17 15:39] tipsy commented on #86
Closed by #92

[2017-11-17 20:59] tipsy opened #98 "Add option to GZIP response"
`enableResponseGzip()`

[2017-11-17 21:52] tipsy commented on #98
https://github.com/tipsy/javalin/pull/99

Missing some tests.

[2017-11-18 11:43] tipsy commented on #98
Tests are done.

[2017-11-18 12:46] #98 closed

[2017-11-19 04:06] justrudd opened #100 "Jetty StatisticsHandler"
I really like Javalin. Hits the sweet spot for me in being functional out of the box with enough knobs to tune (EmbeddedJettyServer). But one of the things I can't do right now is add any Handler instances to my custom Jetty Server. They are [always overwritten](https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/embeddedserver/jetty/EmbeddedJettyServer.kt#L70).

By being able to

[2017-11-19 04:36] justrudd commented on #100
Took a stab at it here - #101

[2017-11-19 23:58] justrudd commented on #100
Yeah. The syntax leaves a lot to be desired. It is backward compatible. So that's nice.

As for adding as many custom handlers as they'd like, I think the primary issue (for me) is that some handlers are really interceptors. For example, the `StatisticsHandler` will [warn you](https://github.com/eclipse/jetty.project/blob/jetty-9.4.x/jetty-server/src/main/java/org/eclipse/jetty/server/handler/Stat

[2017-11-20 01:18] justrudd commented on #100
And as I just found out, `StatisticsHandler` will trigger a `503` if it has no handler to delegate to and the request hasn't been handled (i.e. it's not at the end of the chain).

[2017-11-20 01:59] justrudd commented on #100
I just updated the PR #101. It allows any number of interceptors (i.e. handlers to pass through first) to be added.

There are a couple of places it falls apart.

1. I'm allowing the lowest level interface `Handler`. This could be problematic because interceptor chains are normally `HandlerWrapper`. It might be more correct to take a list of `HandlerWrapper` instead of `Handler`.
2. I like the ide

[2017-11-20 02:21] justrudd commented on #100
#102 is an implementation of the idea that the user is responsible for building the chain.

[2017-11-20 09:15] tipsy commented on #100
Nice work. The feature seems to be bit more complex than I thought at first, so I'll need to take a step back and think about it.

In that case we could also setup the existing handlers that are useful, and just let users enable them with flags.

[2017-11-20 17:38] justrudd commented on #100
Yeah. This feature is a rabbit hole. Why I like the `StatisticsHandler` only approach :)

[2017-11-20 17:48] tipsy commented on #100
I get that, but I really want to avoid introducing API changes that we'll be unhappy with later (we'll have to live with them until v2). I'm a bit busy for the new few days, but I'll have a look at this in the weekend. Feel free to come up with other suggestions in the meantime.

[2017-11-26 13:19] tipsy commented on #100
@justrudd I'm looking at the implementation of the two approaches. I prefer #102, and there doesn't seem to be any problem with getting the handlers from the server itself. All your tests pass if do `server.setHandler(...)` in the tests, then `val decorator = server!!.handler as HandlerWrapper`.
This is a much cleaner than changing `EmbeddedJettyFactory` imo. What do you think?

[2017-11-26 14:30] tipsy commented on #100
[code]

[code]

[2017-11-26 15:31] tipsy commented on #100
@justrudd do you have any experience using [HandleWrapper#insertHandler](https://github.com/eclipse/jetty.project/blob/71d5fcf246034dce91cd642d35cdbaace9806329/jetty-server/src/main/java/org/eclipse/jetty/server/handler/HandlerWrapper.java#L110-L124) ? It looks like it should do more or less the same as your code, but I'm having some trouble getting it to work.

[2017-11-28 16:58] tipsy opened #103 "Clean up Event data-class"

[2017-11-30 14:23] tipsy commented on #100
@justrudd I have been playing around with this locally, building a dashboard in grafana from data gathered using prometheus and the jetty-stats / queuedthreadpool collectors. I think the change is ready to be merged, but I would prefer if you could redo your change to be more like b07522c, instead of me merging my own change (it was your idea after all).

[2017-11-30 17:02] justrudd commented on #100
@tipsy - sorry for the communication blackout. Works been crazy busy. I'll update the PR tonight. And your usage of `insertTail` looks right. It always ends up looking backwards to me so I always forget about it and do things the hard way.

[2017-11-30 20:16] tipsy opened #104 "Consider keeping track of connected websocket clients"

[2017-12-01 14:02] jorgemf opened #105 "NoHttpResponseException in Tests"
I have a very strange issue. I have a post method that receives an empty body and I have a test function to test it. If I run the test with only that function or the file where the function is there is no problem. If I run all the tests I got a `NoHttpResponseException`. I try to set a breakpoint in the handler but it seems the handler is not called when I run all the tests. I create a new server

[2017-12-01 15:08] tipsy commented on #105
Could you share a minimal broken code snippet?

[2017-12-01 16:05] jorgemf commented on #105
I would have to write new code for it. Give me a couple of days

[2017-12-01 18:00] jorgemf commented on #105
Closing this by now. I solved it using one server, so I am thinking it could be an issue with releasing the ports or something in the network stack. I will open again when I have something to reproduce it.

[2017-12-01 18:00] #105 closed

[2017-12-01 18:32] tipsy commented on #105
That could be the problem, yeah. I re-wrote all the tests to use `port(0)` recently because they were unreliable.

[2017-12-02 00:07] #103 closed

[2017-12-02 11:48] tipsy commented on #100
@justrudd Don't worry about it. I'm excited to get this out, so I patched your PR with my adjustments and merged it. Hope you don't mind.

[2017-12-02 21:19] Norman-Lee opened #106 "Commit function in context object to send response early"
Been playing around with Javalin a bit, and would like to see a commit function or something like it to skip handlers to send a response early if for example certain validations in a before step finds that the request is missing certain parameters.

I've made some changes in a fork of mine, so I can shoot over a PR, if that works for you.

[2017-12-02 21:26] Norman-Lee commented on #93
Seems like when I run the main function is when the JavalinServlet object gets configured with all the handlers and everything before booting up. AWS Lambda functions can't be pre-configured with the handlers on run before accepting HTTP requests. Best way that I can think of doing this is to somehow call the main function to trigger the configuration, on first HTTP request. Also might need some c

[2017-12-02 22:07] tipsy commented on #106
Sure, I can have a look tomorrow. Why do you want to skip the after-handlers?

[2017-12-02 22:11] tipsy commented on #93
I haven't had time to do any research on this, but I saw that Amazon has a Spark wrapper: https://github.com/awslabs/aws-serverless-java-container. Would probably be helpful to look at.

[2017-12-04 18:24] justrudd commented on #100
@tipsy Thanks for getting this across the finish line! Sorry again for being a flake on it. Start up life, right? I'm looking forward to going back to an official release vs. my own fork.

[2017-12-04 21:59] tipsy commented on #100
Don't be sorry, I'm happy we have the feature. Let me know if you run into any trouble.

[2017-12-04 21:59] #100 closed

[2017-12-04 23:24] team8digital opened #107 "Path is undefind?"
I'm having trouble in the tutorials with the code below. Everything else works perfectly.The error says path is undefined:

mainApi.routes(() -> {
 path("users", () -> {    });
 });

[2017-12-04 23:27] team8digital commented on #107
sorry guys saw the import static io.javalin.ApiBuilder.*; in belows answers

[2017-12-04 23:27] #107 closed

[2017-12-05 02:35] Norman-Lee commented on #106
At least from what I've been trying to do with them, just to decouple the handlers from each other? It would be weird to have a library of before and after handlers and a subset of them are dependent on one after handler being added, rather than just being able to pull them in as needed.

Don't know if that makes enough sense for the changes to be added, but I'll shoot the PR over anyways.

[2017-12-05 09:01] tipsy commented on #106
Handlers are only coupled by path. If you want to limit when a `after`/`before` filter is ran, you can give them different paths. If you just **sometimes** want the after handler to rund after a specific path, you could set an attribute on the context.

Maybe I'm misunderstanding though. Looking forward to the PR.

[2017-12-18 15:29] tipsy opened #109 "Allow multiple static file handlers"

[2017-12-18 15:29] tipsy opened #110 "Allow ctx.result(future)?"
https://www.slideshare.net/SimoneBordet/servlet-31-async-io

[2017-12-22 10:07] tipsy opened #111 "image issue"

[2017-12-22 10:07] #111 closed

[2017-12-22 10:07] tipsy commented on #111
![1k-christmas fw](https://user-images.githubusercontent.com/1521451/34294323-4158108c-e708-11e7-98d1-329344af80b0.png)

[2017-12-25 19:53] nihiluis opened #112 "app.all missing?"
there is app.all in express which seems nice to me. did I miss it in this lib? (really like this lib btw)

app.all would just respond to all requests whether its get or post, it doesnt mind. unlike app.get or app.post which are request type specific.

[2017-12-26 02:22] Savrov commented on #112
check out `app.before`. I think it's what you need

[2017-12-26 12:24] nihiluis commented on #84
i also dont have a body when i use a different thread. It does work though when I put     `Thread.sleep(5000)` below something like
[code]

[2017-12-27 20:08] reworking opened #113 "How to set Access-Control-Allow-Headers authorization"
Is there any method (for Java) to allow custom headers like Authorization. Chrome and other browsers do pre-flight requests and if I get the headers on server-side I see this:

![Image of the error](https://i.gyazo.com/6108c375622096e455795744803d69e1.png)

It doesn't send the authorization, just a request.

[2017-12-27 20:37] tipsy commented on #113
Allow how? You should be able to do anything header related with `ctx.header()` (?)

[2017-12-27 20:42] tipsy commented on #112
Happy to hear that you like Javalin @nihiluis. There is no `app.all`, what's your use-case for this?

[2017-12-27 20:50] fleumari commented on #113
Browsers like Chrome make a pre-flight request for certain "unsafe" headers.
[MDN explanation](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Preflighted_requests)
[StackOverflow question](https://stackoverflow.com/questions/29954037/why-is-an-options-request-sent-and-can-i-disable-it).
These problems could be solved by allowing any cors-origin (that I enabled with enableCorsForAllOrigins)

[2017-12-27 21:57] nihiluis commented on #112
I use it on node.js for forwarding requests to another server.

i think app.before should match. `app.all` seems more intuitive though and should be rather easy to implement.

[2017-12-27 22:18] tipsy commented on #112
A before-filter will work, but imo it's not really correct for your use-case. I image people who forward all request made to a particular path still want their before/after handlers to run in the correct order. It's very easy to implement an all/any verb, but it might be confusing to some users. I'll turn this into a feature request and have a look at it when I'm back from vacation. Can you think

[2017-12-30 10:01] Adeynack commented on #84
**Update**: I will not have time to work on this issue as discussed before. I will leave it open since it is a bug and at some point will be need to be fixed.

[2017-12-30 10:05] tipsy commented on #84
@Adeynack, what about removing this way of doing async in favor of `ctx.result(future)`?

[2018-01-02 10:21] tipsy commented on #106
@Norman-Lee any update on this?

[2018-01-02 10:21] tipsy commented on #93
@Norman-Lee any update on this?

[2018-01-02 10:22] tipsy commented on #87
I don't think this is something I want Javalin to support, and it hasn't gotten any attention, so I'm going to close this.

[2018-01-02 10:22] #87 closed

[2018-01-02 10:24] #81 closed

[2018-01-02 10:25] tipsy commented on #79
@FrEaKmAn did you get this to work?

[2018-01-02 10:26] tipsy commented on #73
Going to close this since no other people have reported it happening in three months, and I can't reproduce it either.

[2018-01-02 10:26] #73 closed

[2018-01-02 10:29] tipsy commented on #67
@geekytime are you using IntelliJ or eclipse? Rebuild+restart should take less than a second. There is also debug-mode in IntelliJ which should give some (limited) hotswapping.

[2018-01-02 10:34] FrEaKmAn commented on #79
@tipsy no, sorry I didn't have time.

[2018-01-02 10:34] tipsy commented on #79
No worries. Is it still something you're interested in, or should the issue be closed?

[2018-01-02 10:35] tipsy commented on #112
@nihiluis have you been able to come up with any other use-cases?

[2018-01-02 10:50] nihiluis commented on #112
not really. perhaps in case you want to respond to both GET and POST requests, but with slightly differed response data (depending on if there is a body or not).

[2018-01-02 11:00] tipsy commented on #112
I haven't been able to think of any use-cases either. I implemented the change, but I don't think it should be merged. It doesn't "feel" right, and I had trouble describing the point of it for the documentation.

Even if `app.before` is not perfect, I think it's better to use it in this case than to introduce a new verb to Javalin.

[2018-01-02 14:09] FrEaKmAn commented on #79
No at the moment is it can be closed.

[2018-01-02 14:09] #79 closed

[2018-01-05 13:11] tipsy opened #114 "Add route overview?"
Should Javalin have an option to show a page with all the defined routes for an app?

| Type  | Path | Controller | Roles |
| ------------- | ------------- | ------------- | ------------- |
| GET  | /  | IndexController::serveIndex | ALL
| GET | /user/:user-id | UserController::showUserProfile | LOGGED_IN |

[code]

[2018-01-09 14:43] plombardi89 commented on #114
I like the idea!

[2018-01-17 14:10] geekytime commented on #67
No, I don't use IntelliJ or Eclipse. I should probably just give in and use an IDE the next time I work on a JVM project.

[2018-01-19 13:58] #112 closed

[2018-01-19 13:59] #106 closed

[2018-01-19 13:59] #93 closed

[2018-01-19 13:59] #91 closed

[2018-01-19 22:04] tipsy commented on #114
Suggestion in #115. It only works well from Java though, need to figure out how to do it in Kotlin.

[2018-01-22 08:21] tipsy commented on #114
Need to cover all Kotlin cases:

`class`/`object`/`companion object`
`fields`/`properties`, both standalone and within a `class`/`object`
`functions`/`methods`, both `bound` and `unbound`

[2018-01-23 21:34] tipsy opened #116 "Add option to disable request-caching"
Mr. Ktor considers request-caching a vulnerability (because of memory-consumption), maybe other people do too.

This could be implemented as `maxBodySizeForRequestCache(500)`.

And `disableRequestCaching()` `->` `maxBodySizeForRequestCache(0)`.

[2018-01-23 21:47] tipsy commented on #116
Maybe implement this as a `maxBodySizeForRequestCache` 🤔

[2018-01-23 21:56] tipsy commented on #116
And `disableRequestCaching()` `->` `maxBodySizeForRequestCache(0)`

[2018-01-30 02:07] arpsmack opened #117 "Possible pipe leak"
We're running a service based on javalin 1.0.0 on a CentOS 7 machine, and we're noticing a very large number of pipe/eventpoll handles listed by lsof after running the service for a while.

[code]
Some research seems to suggest this could point to a selector leak.  I'm not sure if we're doing something wrong or what.

Some other sources say this could just be the JVM caching selectors, but if I hi

[2018-01-30 08:14] tipsy commented on #117
Hi @arpsmack,

Could you bump to the latest version (`1.2.1`) and see if it happens there? There shouldn't be any breaking changes, and there has been a jetty-upgrade.

[2018-01-30 11:46] mogoman opened #118 "Head/Link/Unlink/Custom Requests in ApiBuilder"
Hi

Can verbs other than GET/POST/PATCH etc be handled? The list of ApiBuilder is limited to the most common ~ Javalin has a few more handlers, but not all.

Thanks
Warren

[2018-01-30 16:59] tipsy commented on #118
The api-builder only supports the most common ones, since it's intended to be used with the `path()` method:

[code]

I don't think allowing the more uncommon verbs would make sense here?

I'm not familiar with `link` and `unlink`, but allowing them (or even custom verbs) should be easy enough.
If it's something that should be added to Javalin is another question though. I'll leave the issue open

[2018-01-30 18:35] arpsmack commented on #117
@tipsy thanks for the quick response!  It turned out to be a bug in the version of lettuce we were using for our Redis connections.  Sorry for the false alarm.

[2018-01-30 18:35] #117 closed

[2018-01-30 19:06] tipsy commented on #117
Great! (please update to `1.2.1` anyway ... 😬)

[2018-01-30 20:12] mogoman commented on #118
I'd say that direct HEAD support in ApiBuild would be useful - to bring it in line with the methods that Javalin.java supports. Regarding the others, how about adding a generic way of accessing them? Something like

[code]
and
[code]

[2018-02-01 18:23] plombardi89 opened #119 "Add a WsSession#id or provide a way to set one"
The way to track a WsSession feels a bit too primitive. Essentially you have to put the `WsSession` into a `Map<WsSession, UUID`> in order to do stuff like on disconnect of the socket perform cleanup of resources that may have been created during the session (keyed by incoming connection).

[code]

Possibly related to GH-104

[2018-02-01 18:31] tipsy commented on #119
Adding a UUID should be fine (and implementation is pretty easy). Do you want to create a PR?

[2018-02-01 19:14] plombardi89 commented on #119
I can take a stab if I have some time in the next day or so. Inspecting the code it looks like I need to add some state to map a `Session` to `UUID` in https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/embeddedserver/jetty/websocket/WebSocketHandler.java and then update the `WsSession` constructor to have a `UUID` field that is populated by a map get for the UUID of a particula

[2018-02-01 19:43] tipsy commented on #119
Yup, sounds good. This might introduce a memory leak though, as I don't think there is any way of knowing  for sure if a client has disconnected (without sending it a message) 🤔

[2018-02-01 19:58] plombardi89 commented on #119
I believe the `setIdleTimeout` ensures a connection is closed which means the close handler is invoked and that would be the time to delete a registered Session. I haven't looked yet to see if Jetty sets a finite timeout by default however.

Other options:

1. Dig deeper and see if there is a lower level hook in Jetty for onDisconnect... probably messy.
2. Add a scheduled executor to the `WebSocke

[2018-02-01 20:05] tipsy commented on #119
The default idle-timeout appears to be 5 minutes (300000ms).

[2018-02-01 20:07] tipsy commented on #119
That means it should be fine from a memory perspective, but an exposed `sessions` set could potentially contain a lot of clients that disconnected a long time ago. Probably not a big problem?

[2018-02-01 20:12] plombardi89 commented on #119
I was not planning to expose the `ConcurrentMap<Session, UUID>` so not too worried about that. If it becomes an issue the engineering to address it doesn't seem too bad. Basically a timed reaper task or something similar.

[2018-02-01 20:17] tipsy commented on #119
Not the `ConcurrentMap<Session, UUID>`, but it could be nice to have access to a `Set<WsSession>` for the endpoint (if you want to broadcast to all the connected clients)?

[2018-02-01 20:18] tipsy commented on #119
[code]

Then it would cover GH-104 too.

[2018-02-01 20:49] plombardi89 commented on #119
Opened GH-120 to track dev progress

[2018-02-01 22:45] plombardi89 commented on #31
I really like how drop dead simple Javalin is and that the internal code is really easy to understand. I don't think it belongs in Javalin. I personally think of Ratelimiting as a higher order concern for a reverse proxy or API Gateway that also has distributed state and potentially biz logic tied to the rate limiting function, for example, my own company is building atop of [Lyft's Envoy](https:/

[2018-02-01 23:44] tipsy commented on #31
@plombardi89 I agree. This has been open for long enough without anyone expressing interest. I'll close it.

[2018-02-01 23:44] #31 closed

[2018-02-02 00:06] tipsy commented on #84
I'll just close this, as it can't really be fixed in an acceptable way. I have deprecated the method.

[2018-02-02 00:06] #84 closed

[2018-02-02 00:08] tipsy commented on #113
Sorry @reworking, I forgot to follow up on this after my vacation. Could you elaborate on when it happens? For me it works fine from chrome.

[2018-02-02 00:11] #55 closed

[2018-02-02 04:03] plombardi89 opened #121 "Port completely to Kotlin?"
I noticed while hacking around that there is a mix of Java and Kotlin code kicking around in the code base. While there is nothing inherently wrong with that..., it would be nice to just have a single language present... jumping back and forth between Java and Kotlin syntax and standard libraries is kind of annoying.

I can start up a fork and begin porting code over to Kotlin if that's desired.

[2018-02-02 07:53] tipsy commented on #121
The reason is SAM conversion: https://javalin.io/news/2017/06/05/javalin-0.2.0-released.html

If you could find a way to write everything in Kotlin I'd be very happy.

[2018-02-02 15:07] tipsy commented on #119
Closed by #120

[2018-02-02 15:07] #119 closed

[2018-02-02 15:08] tipsy commented on #104
Closed by #120

[2018-02-02 15:08] #104 closed

[2018-02-02 16:01] plombardi89 opened #122 "Need to explicitly include "org.eclipse.jetty.websocket:websocket-server" dependency in order to use websockets"
Noticed this yesterday but when you try to use WebSockets right now without the below dependency declared explicitly for compile inclusion the build fails.

[code]

[code]

[code]

Once that dependency is included:

[code]

I'm not quite sure if this intended... the dependency is marked as optional in the `pom.xml`

[code]

If it is the docs should be updated, however, I think it's a mistake to ma

[2018-02-02 16:03] tipsy commented on #122
It is intended, but I'm strongly considering changing it. The idea was that most people won't need the websocket-functionality, but I'm not sure if the bytes saved are worth the hassle.

[2018-02-02 16:23] tipsy commented on #122
Looks like it's only around 400bytes, I'll bundle it.

[2018-02-02 16:23] #122 closed

[2018-02-02 22:32] tipsy commented on #109
Proposal in #123

[2018-02-03 01:59] plombardi89 commented on #121
Sorry I haven't really paid much attention to Kotlin <-> Java interop at all. Where does this SAM issue come up? I pretty much write code consumed by one or the other exclusively.

[2018-02-03 13:04] tipsy commented on #121
The second link explains it in detail (https://discuss.kotlinlang.org/t/kotlin-and-sam-interface-with-two-parameters/293), but it basically boils down to having to explicitly type things.

If `get(String path, Handler handler)` was defined in Kotlin (as `get(path: String, handler: Handler)` you'd have to explicitly type your handlers:

Calling Kotlin version using Kotlin: `get("/", Handler { ctx -

[2018-02-04 12:46] #109 closed

[2018-02-08 22:00] leveluptor opened #124 "Handle form containing files and text"
I have a simple form with a text input and multiple file input.
[code]
The problem is that I can't get the value of `"title"` both from `ctx.uploadedFiles()` (which understandably returns only files) and from `ctx.formParam()`(which stopped returning data when I switched content-type to multipart).
Of course, I can parse the request using `FileUpload` directly, but maybe there is already a simpler

[2018-02-09 00:13] tipsy commented on #124
I might have gone for a very simple implementation when I added support for file-uploads.
Do you want to have a look at improving it, or should I?

[2018-02-09 14:21] leveluptor commented on #124
Sure! I think I'll be ready within a week, maybe even on Sunday.
However, given the usecase, I'm not 100% sure about the right public API for this feature. Is it better to discuss it beforehand e.g. on Gitter, or simply start with a PR?

[2018-02-09 15:19] tipsy commented on #124
Start with a PR (or propose something in the issue), more visible to other community members that way.

[2018-02-10 09:14] tipsy opened #125 "Allow setting default contentType and characterEncoding ?"
This is currently hard-coded. Should it be possible to specify?
It's also currently impossible to set `characterEncoding` to `iso-8859-1`. This is probably not a problem, but it is unexpected behavior, so it should be fixed.
[code]

[2018-02-10 09:16] tipsy commented on #121
I'm going to close this @plombardi89. Feel free to create a pure Kotlin PR if you can do it without breaking the current API and without duplicating code.

[2018-02-10 09:16] #121 closed

[2018-02-11 21:58] ShikaSD opened #127 "Create Javalin instance through builder"
Right now all the building methods are inside the main server class (`Javalin`). This brings some hacks (`ensureActionIsPerformedBeforeServerStart`) which could lead to unexpected runtime error. This type of checks could be provided in the compile time.

My main suggestion here is to bring a builder class which will replace the chain from `Javalin#create` to `Javalin#start`. It could be either sep

[2018-02-11 23:30] #125 closed

[2018-02-11 23:36] tipsy commented on #127
This would be a breaking change, so it would have to wait a bit.
Could you type out an example of how you picture the public API, so that people can evaluate/comment?

[2018-02-12 11:28] ShikaSD opened #128 "Add documentation to public API"
Hi, have noticed, that the public API is lacking a bit of documentation. Could you point to most of the places considered "public API" or "extensible API", so I could help you with that?

[2018-02-12 12:14] tipsy commented on #128
Do you mean Javadoc?

[2018-02-12 12:24] ShikaSD commented on #128
@tipsy exactly

[2018-02-12 12:36] tipsy commented on #128
I've been actively trying to avoid creating and maintaining Javadocs, I prefer just having the docs online. Could add links I suppose?

[2018-02-12 12:51] ShikaSD commented on #128
Alright, though I am concerned about two cases:
- Maintaining offline support if one does not have the internet connection, e. g. in an aircraft or smth
- Giving some quick clues for the ones navigating through the library in IDE.

For those cases, the docs could be defined as the short clues where to go and how to use API, whereas most of the documentation with examples will be online. I suppose

[2018-02-12 17:46] leveluptor commented on #124
I'll describe how I see these two scenarios from a developer's point of view.

1. **Upload files:** All uploaded files are processed together. E.g. "save all images to the disk".

2. **Upload both files and text fields:** All uploaded files are processed together, text fields are processed separately from files. E.g. "save all images to the disk, extract post title and post text from text fields,

[2018-02-12 22:23] tipsy commented on #124
The upload-parser (`commons-fileupload`) is also an optional-dependency, so it shouldn't be required simply for parsing text values.

I think that's fine. This is not a very common use-case, so I'm okay having a somewhat clunky solution. If it turns out to be a problem we can fix it in v2.

This seems more clunky than the first option to me. I would rather have the code be a bit inefficient than t

[2018-02-12 22:29] tipsy commented on #128
@ShikaSD Both valid points. I find comments a little distracting, but I can always just fold them in IntelliJ. Please go ahead, I appreciate the effort.

[2018-02-13 09:27] leveluptor commented on #124
Ok, I'll implement the simpler version. Thanks :)

[2018-02-13 23:32] ShikaSD opened #130 "Context.redirect(location, statusCode) does not set supplied status code."
According to HttpServletResponse#sendRedirect Javadoc:

...
If the response has already been committed, this method throws an IllegalStateException. After using this method, the response should be considered to be committed and should not be written to.

The test below is invalid, as it doesn't work with code 301, for example. https://github.com/tipsy/javalin/blob/c0e3c024ce17ac8f5ddc81c2e7fd3c971

[2018-02-14 07:58] tipsy commented on #130
Thanks. Do you want to look at a fix?

[2018-02-15 09:31] gruffalow opened #131 "CacheRequestWrapper does not provide access to an input stream for requests where Transfer-Encoding = chunked"
I am using javalin to handle some very large request payloads and found that

CacheRequestWrapper always drains the underlying request input stream into cachedBytes on construction
however
when calling getInputStream the wrapper checks for the Transfer-Encoding header with the value chunked and returns the underlying request input stream which is already drained.

I would prefer to have an option

[2018-02-15 14:25] tipsy commented on #131
Hey @gruffalow, happy to hear that you like Javalin. You can create a PR for making this configurable, and I'll have a look at it. Do you need any help getting started?

[2018-02-15 23:27] ShikaSD commented on #130
@tipsy
Could take a look. The simplest fix is to use `org.eclipse.jetty.server.Response#sendRedirect(code, location)`, though it would break the servlet abstraction in `Context`.

[2018-02-16 07:07] tipsy commented on #130
The servlet abstraction is already broken (websocket), and other servers (undertow, tomcat) weren't plug and play anyway. I'm considering tying the project officially to Jetty. That's a whole other change though.

[2018-02-17 00:26] tipsy commented on #130
This should work @ShikaSD ?

[code]

[2018-02-17 00:27] tipsy commented on #130
I'll create a PR

[2018-02-17 01:04] #130 closed

[2018-02-18 00:01] tipsy commented on #131
Closed by #135

[2018-02-18 00:01] #131 closed

[2018-02-18 00:01] tipsy commented on #116
Closed by #135

[2018-02-18 00:01] #116 closed

[2018-02-18 00:22] #113 closed

[2018-02-18 11:21] PedroD opened #137 "Netty implementation"
Hello David,

Javalin seems pretty great, I was tired of using JAX-RS on all my projects, too verbose.

The only thing I feel missing is a netty implementation for it, for high load servers (great amount of short-lived rest requests)

What challenges exist while implementing a netty embedded server for Javalin? Can we still take advantage of netty's async features when associated with Javalin?

Gr

[2018-02-18 12:05] tipsy commented on #137
Thanks @PedroD, Javalin is currently closely couple with Jetty because of it's `WebSocket` implementation.

Running on Netty is probably a bit of work, but is it necessary? We could run async on Jetty if #110 is implemented.

[2018-02-18 13:53] dasbaumwolltier opened #138 "Setting IP address"
It would be very neat if the ipAddress method came back, so I could update from v0.4.3, or you could kindly show me a different as easy way to configure it. I could not find anything on the topic except the changelog message "IP Address can still be configured via Javalin#embeddedServer", so I have no idea how I could achive that

Thanks for your help in advance

[2018-02-18 15:55] tipsy commented on #138
Hey @dasbaumwolltier,

You should be able to do:
[code]

This creates a Jetty `Server` which is configured according to Jetty's rules. Let me know if you need help translating that to Java.

[2018-02-18 16:19] dasbaumwolltier commented on #138
It would be great if you could translate that in Java, as I don't speak any Kotlin :)

[2018-02-18 16:36] tipsy commented on #138
Sure. The equivalent Java would be:

[code]

[2018-02-18 17:06] dasbaumwolltier commented on #138
Thanks for the help!

By the way, does the server support partial content?
Or is jetty responsible for that?

[2018-02-18 17:10] dasbaumwolltier commented on #138
I mean byte range requests for example

[2018-02-18 17:15] tipsy commented on #138
If Jetty supports something, it is either supported in Javalin, or it can be enabled. I don't have any experience with range requests, but google says Jetty should support it, so I'm guessing it just works.
If you have the time, please create a test for it.

[2018-02-18 19:34] dasbaumwolltier commented on #138
So I tried some things.
My understanding of the whole thing is, that it has to be implemented by the application and it is not a jetty or javalin thing.

This would be a sample implementation in groovy:
[code]

[2018-02-18 20:32] tipsy commented on #138
@dasbaumwolltier it also seems to be working out-of-the-box with `app.enableStaticFiles()`:

![image](https://user-images.githubusercontent.com/1521451/36356492-0e692df0-14f3-11e8-8e9d-cb13b668085c.png)

[2018-02-18 20:56] dasbaumwolltier commented on #138
But that only works if you serve static files and do not work with database id, doesn't it?

[2018-02-19 13:39] dasbaumwolltier commented on #138
No, but I prefer to use database ids and so on instead of filenames.

[2018-02-23 21:17] ClintEsteMadera opened #145 "Provide a way to intercept requests and (optionally) prevent further handler(s) from being executed"
The problem I'm experiencing is pretty simple: I need to intercept/filter a request and check a global variable that tells me whether the request can be processed or if, in turn, an error should be returned straight away, by-passing any handler configured for the path in question.

Just a little bit a code to illustrate:
[code]
The `before` approach shown above does not work as expected, since the

[2018-02-23 22:59] tipsy commented on #145
You can throw a [HaltException](https://javalin.io/documentation#haltexception), but `after` filters and error mappers will still run. Maybe that's okay for your use-case?

Change
`ctx.response().sendError(INTERNAL_SERVER_ERROR_500);`
to
`throw new HaltException(500, "Internal server error")`

[2018-02-23 23:03] tipsy commented on #138
That shouldn't really be a problem though? If you can read the file from your file-system, the `ResourceHandler` can also read it.

I'll close this issue now, as the original question has been answered.

[2018-02-23 23:03] #138 closed

[2018-02-23 23:03] tipsy commented on #124
@leveluptor are you still working on this?

[2018-02-24 00:29] ClintEsteMadera commented on #145
That worked! Thanks very much! I think it is worth adding not only `HaltException` but also the notion of filters to the main documentation website. I did not find anything there and Google didn't help either. Thanks very much for the swift and effective help!

[2018-02-24 00:52] tipsy commented on #145
Hmm. They're all in there:
* [before](https://javalin.io/documentation#before-handlers)
* [after](https://javalin.io/documentation#after-handlers)
* [HaltException](https://javalin.io/documentation#haltexception)

Do you have any suggestions to make them easier to find?

[2018-02-24 01:05] ClintEsteMadera commented on #145
Silly me. You're right. Perhaps mentioning the word "filter" and/or "interceptor" might help people find `before` and `after` easier.

Regarding `HaltException` it only states "which is handled before other exceptions". Perhaps adding something more like "it can be used to prevent any other handler from processing the request" might help.

Actually, the combination of `before` and `HaltException`

[2018-02-24 01:46] tipsy commented on #145
Thanks, I've added

* You might know before-handlers as filters, interceptors, or middleware from other libraries.
* You might know endpoint-handlers as routes or middleware from other libraries.
* You might know after-handlers as filters, interceptors, or middleware from other libraries.

[2018-02-24 02:17] #145 closed

[2018-02-25 09:54] leveluptor commented on #124
sorry for the delay, it's done, will push PR today when i get back to the
computer

On Sat, Feb 24, 2018 at 2:03 AM, David <notifications@github.com> wrote:

[2018-02-25 13:01] reworking opened #146 "How to enable CORS?"
Helllo, I am currently experiencing a problem with CORS:

My Java code (Example)
[code]
My code in the browser (Chrome, request is made with axios, framework is VueJS)
[code]
This is the error I'm getting:
**Failed to load http://localhost/: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:8081' is therefore not allowed access.**

I did some re

[2018-02-25 13:23] tipsy commented on #146
Hm. I just checked this a few days ago. Let me have a look again.

[2018-02-25 13:53] tipsy commented on #146
The problem is that you're calling the static method `.start(port)`, on an instance. Your IDE should ideally warn you about this, since it means that `.create().enableCorsForAllOrigins().enableStandardRequestLogging().` is ignored. Change your code to

[code]

I made an example repo, but it's in Kotlin: https://github.com/tipsy/javalin-cors-example

[2018-02-25 14:02] reworking commented on #146
You are absolutely right, it's working fine now! Thank you.

[2018-02-25 14:02] #146 closed

[2018-02-26 16:02] flyrev commented on #110
Akka-http has this, it's really cool and Javalin should have it.

[2018-02-26 17:55] tipsy opened #148 "Tutorial suggestions/requests/contributions?"
Please post any suggestions/requests for tutorials in this issue.
Vote on suggestions with thumbs up/down.

Feel free to submit any tutorial you've written, and I'll help you get it published on https://javalin.io
Source code for website/tutorials: https://github.com/javalin/javalin.github.io/tree/master/_posts/tutorials

[2018-02-26 18:01] tipsy commented on #148
### Integration tests (okhttp)

[2018-02-26 18:01] tipsy commented on #148
### Kotlin Android consuming Javalin REST API

[2018-02-26 18:02] tipsy commented on #148
### SQL-lite tutorial + Exposed (https://github.com/JetBrains/Exposed)

[2018-02-26 18:05] tipsy commented on #148
### Image-board tutorial (Javalin REST API + react or vuejs)

[2018-02-26 18:05] tipsy commented on #148
### Instagram clone (Javalin REST API + react or vuejs)

[2018-02-28 09:09] brotherdetjr opened #149 "JacksonPlugin and template engines - why static?"
Hi David,
Thank you for your awesome framework.
One question - why did you make JacksonPlugin and template engine plugins to be singletons?
Why not to configure ObjectMapper in Javalin builder?
Kind of:
[code]

[2018-02-28 09:13] brotherdetjr commented on #149
Sorry for posting as separate issue, not within #148 - didn't cope with gui :)

[2018-02-28 10:03] tipsy commented on #149
Thanks, and you're welcome. I made them static because I'm lazy, and I was/am not sure if they belong in Javalin. If they were part of the config they would have to be passed to `JavalinServlet`, then to `Context` from there. It made the code ugly, and I didn't see any real benefits.

Are you running into problems because of this, or just curious?

[2018-02-28 12:07] ijks commented on #128
I just found this issue because the current online docs [say that PRs adding doc comments wil be rejected](https://javalin.io/documentation#javadoc), but if it's not a problem, maybe that part should be updated?

I'd also like to add that doc comments are very useful for documenting an API in depth, and documenting what behavior a method or class should have. Examples can even be added if possible

[2018-02-28 20:32] brotherdetjr commented on #149
Yep, just curious. The only drawback I see, is that current approach won't allow to have two separate instances of Javalin within same JVM with different ObjectMappers. The same for all the rest static plugin classes. But this is quite an exotic use case :) Another potential pitfall is that static code sometimes appears hardly testable. I guess, you are aware of this, and this was your design trad

[2018-02-28 20:50] tipsy commented on #149
I considered that use case, and I also came to the conclusion that it was a bit exotic. People can always use their own `ObjectMapper` (or template engine) by calling `ctx.result(myMapper)`. This is how `ctx.json()` and `ctx.renderXyz()` are implemented. Ideally the mappers and template engines shouldn't be static, but it seemed like an OK solution in this case.

[2018-02-28 20:53] brotherdetjr commented on #149
OK, thank you for the clarification!

[2018-02-28 20:53] #149 closed

[2018-03-01 23:35] kevincianfarini commented on #148
Are tutorials using an ORM (eg. Requery) and integration testing with something other than OkHttp acceptable?

[2018-03-02 00:40] tipsy commented on #148
Sure. I won't be writing it myself (I don't know Requery), but if you want to write one that'd be great.

[2018-03-02 02:04] kevincianfarini opened #150 "Avoiding Nullability in Context Params"
As of right now, handing the URL parameters from a `Context` objects might look like this in Kotlin.

[code]

If we want to avoid checking for nullability, we _could_ do this.

[code]

But doesn't it make sense to use the Kotlin built in [getter](https://kotlinlang.org/docs/reference/properties.html#getters-and-setters) to make this more idiomatic? The change I'm thinking of would result in someth

[2018-03-02 10:13] tipsy commented on #150
I discussed this with myself here: https://github.com/tipsy/javalin/issues/55

[2018-03-02 10:25] blahmutz opened #151 "http/2 support"
Hi, are there any plans to support http/2 ? Jetty 9.4 would support it.

[2018-03-02 10:30] tipsy commented on #151
What needs to be done to support it? Have you tried creating a jetty-http2-server and passing it to Javalin via `app.embeddedServer()`?

[2018-03-02 16:49] kevincianfarini commented on #150
So I understand your want to keep fluency in both Kotlin and Java, but some of this might still be able to work.

First of all, after looking through [Context.kt](https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/Context.kt), it seems to me that specifically `paramMap` could be an immutable map. In that case, then the field would only need `get`, which circumvents the problem o

[2018-03-03 16:45] tipsy opened #152 "1.4.0 introduced bug in redirects"
Everything appears to work fine on localhost, but some of the services I have running on Heroku seems to ignore redirects now. Will investigate more later. Tagging you @ShikaSD.

[2018-03-03 17:46] ShikaSD commented on #152
Hi @tipsy , will follow the investigation :)
Unfortunately, I cannot participate in the project actively right now, as I've just moved to UK and have lots of issues to solve here.

[2018-03-03 18:17] #152 closed

[2018-03-03 18:47] tipsy opened #153 "1.4.0 introduced empty bodies in Java"
Bug present since #135. Tagging you @ShikaSD, but I don't expect you to do anything about it now. I'm gussing it's a Java interop issue. I'll investigate.

[2018-03-03 19:09] tipsy commented on #153
Problem is with `by lazy` in
`cachedBytes: ByteArray by lazy { super.getInputStream().readBytes() }`

[2018-03-03 19:41] blahmutz commented on #151
i did not, i am not familiar yet with http2. i need bidirectional communication so my guess is that http2 could be a good choice. at the moment i just created a little test with websockets. but i would prefer to also test http2.

https://www.eclipse.org/jetty/documentation/9.4.x/http2.html
I did not find a sample on their page with streams (probably what i need).
Is there any kind of sample for ht

[2018-03-03 22:28] ShikaSD commented on #153
It feels like the problem with `getParameter` method shouldn't be just because of the plain query params. If I remember correctly, Jetty could drain the input stream for form (or multipart) params. However, `getParameter` triggers parsing of all types of parameters, which can be a problem here.

[2018-03-03 22:36] tipsy commented on #153
Yes, `getParameter` draining the stream is what's causing the problem, and switching to just parsing the `queryString` should be done anyway, so this bug is not a big deal. What I don't understand is why #135 broke something, and why it only broke it for Java.

[2018-03-03 23:05] tipsy commented on #153
Fixed in 9cbad8a9bcd39be68b45468c0895282097ad0a2b

[2018-03-03 23:05] #153 closed

[2018-03-03 23:12] ShikaSD commented on #153
So Kotlin implementation wasn't affected?

[2018-03-03 23:15] tipsy commented on #153
Didn't look like it, I tested using https://github.com/tipsy/javalin-html-forms-example and putting a call to `ctx.queryParam("drained")` before reading form params.

[2018-03-03 23:40] ShikaSD commented on #153
Just tested, Kotlin version was affected as well.
The problem is that lazy `ByteArray` reads the stream only when we explicitly ask for the input stream (like in `body` method), whereas before it was done on wrapper creation. Therefore, the `getParameters` method was receiving already drained stream, which it couldn't use.
Now the `getParameters` is draining the stream before we read it, which is

[2018-03-04 00:51] tipsy commented on #153
You're right, I must've ran the Java main again by mistake. If the behavior is the same in Java and Kotlin then everything makes sense.

[2018-03-04 20:08] tipsy opened #154 "Rewrite FileUploadUtil to not use apache"
Seems simple enough: https://stackoverflow.com/a/2424824/7916291

[2018-03-04 21:12] tipsy commented on #154
I just remembered why I didn't do this: It requires a Jetty-specific configuration (`servletRequest.setAttribute("org.eclipse.jetty.multipartConfig", MultipartConfigElement("/temp"));`), and when I implemented file-uploads I had this dream that Javalin should be independent from Jetty. I don't care so much about that anymore (static files and websockets are handled by Jetty), so I'd be happy to sw

[2018-03-05 15:40] tipsy commented on #154
This affects #147.

[2018-03-05 23:15] tipsy commented on #128
This is high priority now. All other PRs will be on hold until the Javadoc is done.

[2018-03-05 23:20] #114 closed

[2018-03-05 23:21] #137 closed

[2018-03-06 20:19] kevincianfarini opened #155 "Path Pattern Matching and Trailing Slashes"
I'm writing a microservice that has a couple of groups of URLs. They're set up like this.

[code]

I think with the URL pattern matching changes made in `1.4.1` introduced a bug with trailing slashes in a URL. When making a call to `api/food/`, `app.routes` matches the URL looking for an `id`. When removing the trailing slash, it matches the correct path.

The tests are here.

[code]

Let me know

[2018-03-06 21:21] tipsy commented on #155
You're correct, it's a bug. I'm guessing it was introduced in ed9f38376c7ce9150b9fceaaf31b2262d1a6e5eb.

Would be great if you could look at creating a patch. I'll ping @ShikaSD since he's the one who made the change.

[2018-03-06 21:28] tipsy commented on #155
It appears to only happen inside `path()` calls.

[2018-03-06 21:46] ShikaSD commented on #155
I suppose the problem is that I was expecting zero or more symbols for the parameter. Will make a PR.

[2018-03-06 22:24] ShikaSD commented on #154
I suppose it could be done in `EmbeddedJettyServer.kt` as well.
You have
[code]

The config can be created only once and path can be configured through `Javalin` instance before the start.

[2018-03-06 22:46] kevincianfarini commented on #155
I'm very impressed with how quickly this has been/is being addressed. If I can do anything, let me know.

[2018-03-06 22:46] ShikaSD commented on #151
@blahmutz You can check some example of creating embedded http2 jetty server [here.](https://github.com/AndreasKl/embedded-jetty-http2/blob/master/src/main/java/net/andreaskluth/Application.java) The repo also has all the dependencies required in the pom file.
There are some tutorials on the Javalin website for setting up a custom server instance.

Regarding http2 push, [this SO answer](https://st

[2018-03-06 22:48] ShikaSD commented on #128
Do you think functional interfaces and dataclasses (which?) should be addressed?

[2018-03-06 22:53] tipsy commented on #128
I think 3-5 lines for each explaining how they're used couldn't hurt

FunctionalInterfaces:

* Handler
* ExceptionHandler
* ErrorHandler
* AccessManager // probably more important than the others
* EventListener

Data classes:

* BasicAuthCredentials
* UploadedFile

[2018-03-06 22:54] ShikaSD commented on #154
Regarding the Jetty dependency: websockets are kinda serious issue here, but static files seem to be abstracted right now. The main concern I have here is the amount of work to produce other implementation (i.e. Netty based) and the relevance among Javalin users.

[2018-03-06 22:56] tipsy commented on #155
@kevincianfarini Seems this issue has been fixed (@ShikaSD is very quick), but if you want to help on something else we really need more/better tests for file-uploads, see #154.

[2018-03-06 22:57] #155 closed

[2018-03-06 22:57] kevincianfarini commented on #155
I am very interested in helping. I'm on University spring break right now though, but I'd be more than willing to help once I'm back home.

[2018-03-06 22:58] ShikaSD commented on #128
Can take those.

[2018-03-06 23:02] tipsy commented on #154
I haven't checked if it has any side-effects, but if it doesn't then that's a good place to set it.

I think it's fine to just tie Javalin to Jetty, I think we should consider removing the abstraction layer. But we should create a issue for that.

[2018-03-06 23:06] tipsy commented on #155
Nice, enjoy your spring break. Ping me when you're back.

[2018-03-06 23:09] tipsy opened #157 "Remove server-abstractions, tie Javalin to Jetty"

[2018-03-07 09:12] hamnis opened #158 "Content-Type for static content seems to be overridden by javalin"
Hi.

It seems like the StaticResourceHandlers content type is overriden by Javalin. This should be deferred.
Possibly the default header should not be set at all if there is a static resource handler.

It might also be useful to configure the MimeType mapping so that more content types might be correctly set.

If there is a way to work around this, that would be greatly appreciated.

[2018-03-07 09:24] hamnis commented on #158
I found a fix. PR coming soon.

[2018-03-07 14:42] hamnis commented on #158
Seems to have resolved itself. Strange

[2018-03-07 15:14] tipsy commented on #158
I'll close this issue then. Please re-open if it happens again.

[2018-03-07 15:14] #158 closed

[2018-03-07 22:28] tipsy opened #160 "Add sendJson and readJson to WsSession"
Could add methods for sending and receiving JSON to `WsSession`. Ping @plombardi89.

[2018-03-07 22:42] ShikaSD commented on #150
@kevincianfarini I don't think this change will produce nice API for Java side.
BTW, you can create your own extensions in Kotlin to provide more concise syntax, like:
[code]

[2018-03-07 23:41] ShikaSD opened #161 "Small breaking changes / improvements (maybe for the 2.0)"
- [ ] Use `Set` instead of `List` for the `AccessManager` roles.

[2018-03-08 05:43] plombardi89 commented on #160
It would be easy to do, but I'm not in love with the whole utility json method stuff in general. The problem I have is it is too inflexible and can be a bit confusing.

At one point on a recent project I wanted to try [Klaxon](https://github.com/cbeust/klaxon) with Javalin, however, I realized pretty quickly it wouldn't be possible to work with Javalin's `Context::json` and Context::bodyAsClass` m

[2018-03-08 15:41] tipsy commented on #160
I agree that `ctx.json()` (and `ctx.renderWhatever()`) aren't great methods. This is why I never fully integrated them into Javalin, they're just static plugins.

I don't think integrating tightly with Jackson is a good idea, as the split between Jackson and Gson seems to be about 50/50. For Javalin 2.0 `ctx.json()` should probably be similar to what `ctx.html()` is:

`fun json(json: String): Cont

[2018-03-08 15:49] tipsy commented on #128
@ijks @plombardi89 @gkopff could you have a quick look through of the current master and tell us what you think? Preferably by cloning the current master and clicking through the actual project, but if that's too much effort it would also be helpful if you would just look through the main classes:

* https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/Javalin.java
* https://githu

[2018-03-09 00:27] ShikaSD commented on #160
I agree with @plombardi89 that the issue is moot in second case, as adding methods to `WsSession` in case they will be removed anyway is questionable thing to do.

In regards to JavalinPlugins themselves, they could be more integrated into Javalin, so we could use smth like `setPlugin()` \ `getPlugin()` to setup them.

During my last pet project I have ended up with smth like this (certainly needs

[2018-03-09 00:29] ShikaSD commented on #148
@tipsy Is it somehow different from any client consuming Javalin API?

[2018-03-09 00:37] tipsy commented on #148
No, it's just to target the android demographic.

[2018-03-09 00:48] ShikaSD commented on #148
Not sure how it helps. I am Android developer myself and I cannot think why Android people will think about the server in the first place. Common preference is to use out-of-the-box serverless solutions for prototyping and simple logic anyway (Firebase, Realm Object Server, ex-Parse, etc).

[2018-03-09 01:01] tipsy commented on #160
How is it questionable? We're building Javalin 1.X as a standalone library from 2.X. There might things that we don't want to bring into 2.X (like this), but we should still strive for 1.X to be consistent. That being said, I don't feel very strongly about this particular issue, it was just a thought I had when I saw a project that had `ctx.json(obj)` and `wsSession.send(objectMapper.map(obj))` ri

[2018-03-09 01:09] tipsy commented on #148
I don't really want to make too many assumptions about how people work. If you just google "android consume rest api" (or similar phrases) you'll get a million hits. Also, consider the tutorial from the perspective of the API provider (rather than the android developer): *"I have this great API, how can I get android developers to start using it? Maybe I'll create an example project..!"*

[2018-03-09 02:18] flybamboo opened #163 "two exceptions in log"
1. TimeoutException

	at org.eclipse.jetty.io.IdleTimeout.checkIdleTimeout(IdleTimeout.java:166)
	at org.eclipse.jetty.io.IdleTimeout$1.run(IdleTimeout.java:50)
	at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$201(ScheduledThreadPoo

[2018-03-09 09:47] tipsy commented on #163
Are you able to create a test project that reproduces the problem?

[2018-03-09 11:17] flybamboo commented on #163
Yes. I just creat a test project, and it reproduced.But how can send the test project to you.Just paste here?

[2018-03-09 11:49] tipsy commented on #163
Yup, that's fine.

[2018-03-09 11:52] ShikaSD commented on #160
In this case I will agree on that. Then the question is when Javalin 2.x is expected to be released?

This way it is just a generic plugin which you could apply to context and make it transforming things your way (Yaml, Json).

[code]

As I said, it is not the best approach, but Javalin can certainly win from some plugin system allowing to extend certain capabilities implicitly (without applying p

[2018-03-09 12:21] flybamboo commented on #163
- Test.java
[code]
- log4j.properties
[code]
- dependencies
[code]

[2018-03-09 12:23] tipsy commented on #163
And a guide to reproduce it?

[2018-03-09 12:31] flybamboo commented on #163
Send a post request to server by a client, eg. RESTED plugin in FireFox. Then the browser, the Exception can see in the log.

[2018-03-09 12:51] flybamboo commented on #163
Use get method to access http://localhost:8080/hello will also produce these exception.

[2018-03-09 13:36] flybamboo commented on #163
JDK 1.8 on Windows

[2018-03-09 14:10] tipsy commented on #163
Oracle JDK?

[2018-03-09 14:36] tipsy commented on #160
This is getting a little off track, but not anytime soon. Probably not this year.

We could add a `ResponseTransformer` and a `RequestTransformer`, but that's a whole other dicsussion.

[2018-03-09 21:58] tipsy commented on #163
It seems these are just normal timeout-exceptions. It's happening outside of Javalin, so I don't think there's anything you can do to prevent them. I would say you can just ignore them. I'll ask the Jetty people.

[2018-03-10 00:51] flybamboo commented on #163
OK, thanks a lot.

[2018-03-10 12:17] tipsy commented on #163
One of the jetty devs confirmed it on gitter:

@tipsy you cannot "prevent" them, they are there to avoid that connections remain open forever

[2018-03-10 12:17] #163 closed

[2018-03-11 12:47] tipsy opened #166 "Feedback from joakime"
@joakime I'm tagging you here in case you are interested, but mainly this issue is for my own benefit. I didn't want to discuss this on the Jetty tracker, as I believe it was not relevant for the exceptions (I added a small program there that reproduces the exceptions without using Javalin).

If you are using ServletContextHandler, don't mix it with ResourceHandler, use the DefaultServlet and prop

[2018-03-11 13:13] joakime commented on #166
About gzip, if you intend to run on Servlet 3.x don't do Gzip yourself.
Jetty, JBoss, Tomcat, Glassfish all do it themselves for many different (overlapping) reasons.
Jetty used to do it via a Filter, but when Servlet 3.x hit it became impossible to do reliably from within the webapp/servlet contexts.
In Jetty, the gzip handling was ripped out and put into an interceptor pattern to make it reliabl

[2018-03-12 00:25] #154 closed

[2018-03-12 18:52] tipsy commented on #160
Closing this since you guys don't like it and I don't have any strong feelings.

[2018-03-12 18:52] #160 closed

[2018-03-12 19:00] tipsy commented on #150
I'm afraid it will become inconsistent/messy. Keeping a consistent API between Java and Kotlin is one of the main goals of Javalin. This usually means Kotlin users gets a less idiomatic experience, but they can create extension-functions if they wish.

[2018-03-12 19:00] #150 closed

[2018-03-12 19:24] #166 closed

[2018-03-12 19:31] tipsy commented on #64
A bit too complex for something that's used as little as I'm assuming the cookie-store is used.

[2018-03-12 19:31] #64 closed

[2018-03-12 19:39] kevincianfarini commented on #150
Well then does it make sense to include Kotlin extensions out of the box for this kind of thing? A lot of other projects provide Kotlin bindings for a more fluent Kotlin API and that might make Javalin more appealing to users.

[2018-03-12 19:41] tipsy commented on #128
I'll just close this, as most of the public API has been documented. There's always room for improvement, but it shouldn't be a separate issue anymore.

[2018-03-12 19:41] #128 closed

[2018-03-12 19:48] tipsy commented on #150
I'm more afraid of people being confused by what to use than I am by Kotlin purists passing on the project because it's not idiomatic enough.
That being said, it's great if you want to create Kotlin extensions and submit them for discussion.

[2018-03-12 19:51] tipsy commented on #17
Forgot about this. I've added a new section to the index since this issue was created: https://javalin.io/#fluent-and-readable-api

I have a comparison branch for the page, but I don't think I will merge it.

[2018-03-12 19:51] #17 closed

[2018-03-12 21:13] SE7-KN8 opened #167 "WebSocket Path parameter"
In my opinion, it could be useful to have path-parameters in the WebSocket.

Example:
[code]

[2018-03-12 21:46] tipsy commented on #167
It would be very useful! But it's a bit of work. Do you want to try to create a PR?

[2018-03-12 23:32] ShikaSD opened #168 "Extension library for typed handlers"
A little bit complex proposition here, though it could simplify life for some people writing services on Javalin. I will name it `TypedHandler` here.
After a little bit of experimenting with request and response transformers I've noticed that they can be used to allow handlers like `(T) -> R` (Kotlin lambda syntax) or `R method (T param)`. This will allow almost painless parse of request and respo

[2018-03-13 00:07] tipsy commented on #168
It would be helpful if you could add a "side-by-side" example of the current approach vs your proposed approach. I'll try to read through it and understand how it works tomorrow.

[2018-03-13 19:54] tipsy commented on #168
I'm been trying to understand what this is supposed to do for almost an hour, I need you to ELI5 (showing the controller code should be enough).

[2018-03-13 21:58] ShikaSD commented on #168
Yeah, I was too abstracted when I was explaining that, sorry 😄

So, imagine you have a controller which accepts PostBody class and answers with PostResponse.

[code]

Effectively, it is doing nothing, just concatenating strings and wrapping them.
My idea is to introduce transformer (code in OP).

[code]

Here the `post` method is defined as follows:

[code]

So the suggestion is to introduce the `

[2018-03-13 22:19] SE7-KN8 commented on #167
Yes, I decided to work on it. I will make a PR when I have something that works.

[2018-03-13 23:15] tipsy commented on #167
Great. Feel free to use this issue to discuss/ask questions.

[2018-03-13 23:25] tipsy commented on #168
I understand that part, what I'm having trouble with is understanding what problem introducing these concepts will solve for Javalin users. I'm feeling very unimaginative now, but I can't really see a clear use case. In your first post you wrote `This will allow almost painless parse of request and response and much cleaner controllers.`.

Can you show this in action by creating two non-trivial ex

[2018-03-13 23:36] ShikaSD commented on #168
Hm, I don't think it illustrates the concept from any perspective. Controller usually contains some business logic, which is not the topic.

 However, I could have been a little bit excited about the idea writing `almost painless` stuff (sorry about that). Let's say that it is standardized, customizable and integrated way of marshalling/unmarshalling which can possibly change the way plugins are d

[2018-03-14 13:53] tipsy commented on #168
This feature doesn't exist in a vacuum, the premise is that it would allow people to write controllers differently. To me it looks like it would abstract away two lines (serialize/deserialize) from a controller, but at the added cost of creating a transformer and understanding these concepts. You have to argue how this will be beneficial for Javalin users. As you might have noticed, I have tried t

[2018-03-14 17:18] ShikaSD commented on #168
Sometimes it's not two lines :) Though you're right, it is doing only that job. For me it was a much cleaner controller when I didn't care about `Context` interactions in controller anymore and just was writing the transformation separately.

In that case this feature is not needed here, I just wanted to add instrument to allow entity manipulation straightaway, without any complications with `Cont

[2018-03-14 18:13] tipsy commented on #168
Let's not close it, I think the feature sounds interesting. What worries me the most is intimidating and/or confusing users. It would be helpful if you could show how this helps you structure your apps by creating a bigger example, preferably with some fake business logic.

[2018-03-15 00:08] ShikaSD commented on #168
Ok, example of usage from my last quick project.

Assuming all the boilerplate from above and Kotlin. Implementing fairly simple functionality: updating and retrieving settings (id and values) with the database.

Database interface:
[code]

Models (and transformers):
[code]

Utility functions providing proposed syntax and some useful shorthands:
[code]

The controller itself:
[code]

Running Javal

[2018-03-15 00:12] ShikaSD opened #170 "Missing path separator in api builder"
While testing the example for #168 with `master` branch noticed that the following example produces interesting result.

[code]

Produces `/settings:id` path.

**EDIT:**

Seems like in `ApiBuilder` the `prefixPath` function should look like this:
[code]

[2018-03-15 00:46] tipsy commented on #170
If I remember correctly, this was the reason:

[code]

[2018-03-15 00:52] ShikaSD commented on #170
Oh, ok. So should it be like `((path.startsWith("/") || path.isEmpty()) ? path : "/" + path)` ?

[2018-03-15 00:54] tipsy commented on #170
I think that should be okay.

[2018-03-15 00:55] tipsy commented on #170
I'm trying to imagine if anyone could be relying on the old way it functioned, but it does seem pretty unlikely 🤔

[2018-03-15 00:55] ShikaSD commented on #170
Don't think so 😅

[2018-03-15 00:57] tipsy commented on #170
Should be fine. Please feel free to fix, I'll label it a bug.

[2018-03-17 16:37] tipsy commented on #170
I'll fix it now.

[2018-03-17 16:46] #170 closed

[2018-03-18 10:59] #167 closed

[2018-03-18 13:34] tipsy opened #171 "HATEOAS/reverse routing"
[code]

---

[code]

---

We can make it an interface that you have to implement on an enum:

[code]

[2018-03-18 13:34] tipsy commented on #171
@kjheimark ^

[2018-03-18 15:23] SE7-KN8 opened #172 "Add WebSocket handlers to RouteOverview"
Would it be possible to add the `WebSocketHandler` to RouteOverview? Or is it reserved for HTTP-handlers?

[2018-03-18 15:44] tipsy commented on #172
Good idea. It's certainly possible. I guess the verb should be  `WEBSOCKET`? Would you like to work on this?

[2018-03-18 19:48] #172 closed

[2018-03-19 00:43] tipsy opened #174 "Handle non-mapped WebSockets requests"
We should probably not accept connections if there's no matching WebSocket handler (like a 404).
Tagging you since you did the implementation @SE7-KN8, but that doesn't mean I expect you to fix it.

[2018-03-19 00:49] tipsy commented on #174
Could be solved as simple as with a 404 in `httpHandler`

[code]

[2018-03-19 07:03] SE7-KN8 commented on #174
I will look at that.

[2018-03-19 12:46] SE7-KN8 commented on #174
What do think, which status code should the WebSocket return? [Web Socket Protocol - Status Codes](https://tools.ietf.org/html/rfc6455#section-7.4)

[2018-03-19 14:17] tipsy commented on #174
I think you need to cancel the upgrade request (return 404?) before the websocket connection is established.

[2018-03-19 16:36] #174 closed

[2018-03-19 23:24] tipsy opened #177 "Consider AccessManager functionality for WebSocket"
It's true that `Handler` and `Context` can't be used from WebSockets, but they can be used with the handshake request that establishes the WebSocket connection. I think this feature might be pretty straightforward to implement by intercepting that request.

[2018-03-20 13:36] SE7-KN8 commented on #177
The problem, in this case, is, that `ServletUpgradeResponse` (which is used to perform the handshake) has no method to get the underlying `HttpServletResponse`. So it's no possible to instantiate a `Context`.

[2018-03-20 14:34] tipsy commented on #177
If you look at line [line 40 in EmbeddedJettyServer](https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/embeddedserver/jetty/EmbeddedJettyServer.kt#L40), you see that I ignore WebSocket requests in the default HTTP-handler. At this point you have access to the standard `HttpServletRequest` and `HttpServletResponse`, and you know that the request is to establish a WebSocket conne

[2018-03-21 00:17] tipsy opened #179 "Add Javalin to TechEmpower benchmark"
Could be interesting.

[2018-03-21 00:18] tipsy commented on #179
https://www.techempower.com/benchmarks/#section=code&hw=ph&test=fortune

[2018-03-22 01:49] wmacgyver commented on #151
the existing examples out there are too old. they have "checkProtocolNegotiationAvailable", which was removed sometime ago

this is what I have so far.
[code]

I got it to start. the regular connector on port 8080 is working fine.

I also have
Started ServerConnector@ {SSL,[ssl, alpn, h2, http/1.1]}{0.0.0.0:8443}

so at least jetty isn't hating it

but...

trying to make any request with curl, I k

[2018-03-22 01:53] wmacgyver commented on #151
also, just to keep it all in one place and you can cut and paste.

I use
[code]

to generate the keystore file for above

[2018-03-22 11:38] ShikaSD commented on #151
@wmacgyver What curl command do you execute and what error do you receive?

[2018-03-22 14:37] tipsy commented on #151
@wmacgyver have you tried running this outside of Javalin?

[code]

[code]

[2018-03-22 17:39] tipsy commented on #151
@wmacgyver maybe looking at what Dropwizard does would be helpful: https://github.com/dropwizard/dropwizard/tree/1bb7142cb241d3218a80c58e2018d5ad7790c90c/dropwizard-http2/src/main/java/io/dropwizard/http2

It was last updated 13 days ago, so hopefully it's not outdated.

[2018-03-22 17:48] tipsy commented on #151
@wmacgyver cool. When you feel confident in your implementation it would be great if you could create a PR for https://github.com/tipsy/javalin/issues/69. It would be nice to include some "default" Jetty-servers with Javalin.

[2018-03-22 17:52] wmacgyver commented on #151
@tipsy got it, I guess this means you are moving forward on tie javalin to jetty then :)

[2018-03-22 18:04] wmacgyver commented on #151
understood.

[2018-03-22 19:32] #124 closed

[2018-03-22 21:32] tipsy commented on #177
We could add a special verb for upgrade-requests that can be used with the `AccessManager`, technically WebSocket communication will happen outside of the `AccessManager`, so it makes sense, sort of?

[code]

`

[2018-03-24 03:01] wmacgyver commented on #151
full example https://github.com/wmacgyver/javalin-http2-example as promised

[2018-03-24 15:00] tipsy commented on #151
@wmacgyver thanks! I forked the repo and expanded it a bit: https://github.com/tipsy/javalin-http2-example

I added gradle-wrapper, a kotlin version, bumped all dependencies and added a static-file example. I couldn't add this to your repo, as this is now part of the official documentation: https://javalin.io/documentation#sslhttp2

[2018-03-24 15:00] #151 closed

[2018-03-24 20:12] ShikaSD commented on #177
Maybe this functionality could be achieved by implicitly setting up additional handler for requests with upgrade header. Basically it will do the same as proposed `wsUpgrade` (check if `request.isWebsocket` and do access management) using the existing code in `JavalinServlet`.

[2018-03-24 20:22] ShikaSD opened #182 "Create Kotlin extension library for Javalin"
There are lots of Kotlin guys that don't like some parts of the syntax Javalin has.
The extension library is just a bunch of different functions to allow more Kotlin-like syntax.

Example from #150 :

Current Kotlin code:
[code]

Extension function:
[code]

The library could be supplied as a separate artifact (eg io.javalin.k-javalin or so) to not bother the Java users.

[2018-03-25 02:56] wmacgyver commented on #151
@tipsy no worries, I'm glad you found it useful enough to include it in the official doc. I'm happy to help out. http2 option is so few and far in between on JVM. I'm glad it's possible with javalin.

[2018-03-25 09:44] tipsy commented on #182
A more natural "current vs extension" comparison would be

### Path params
[code]

### Query Params
[code]

[code]

### Query Params (alt)
[code]

[code]

[2018-03-25 22:26] ShikaSD commented on #168
@tipsy Created [a repo](https://github.com/ShikaSD/typed-javalin) illustrating this approach. What do you think of a separate library for that?

[2018-03-26 11:44] tipsy commented on #168
Thanks @ShikaSD, I've been playing around with your repo for some hours, trying to "get it", but I'm still having trouble seeing the benefit. I have asked people who are smarter than me, and they don't get it either. You have this in `SimpleExample`:

`get("static/", plainText(), () -> "Always the same");`

In plain Javalin this would be:

`get("static/",  ctx -> ctx.result("Always the same").stat

[2018-03-26 17:00] ShikaSD commented on #168
Thank you for spending some time on that :)

I certainly have the feeling that I am overcomplicating things, so maybe I need to review that once more.

My main concern which led me to creating this concept was lack of standard ways of handling serialization in my handlers. I had like twenty of them all handling some serialization (JSON and Proto mostly) and did like seven different wrappers around

[2018-03-27 12:41] tipsy opened #183 "Weak ETags"

[2018-03-27 23:40] xperiafan13-rom opened #184 "response Object node"
sorry for my noob question, but I try to response ObjectNode (jackson) as
ctx.json(ObjectNode) but this insert extra \ in response

[2018-03-27 23:50] #184 closed

[2018-03-30 12:57] felislynx-silae opened #185 "Using with Android"
Have anyone tried to use javalin within android app?
For me, gradle is throwing lots of issues with jetty and static interfaces, default interfaces, invoke customs. Maybe there is some kind of solution for that?

[2018-03-30 13:06] tipsy commented on #185
I haven't tried at least. I'm guessing it's because Android isn't compatible with Java 8(?). It would be great if you could research a bit and update the issue with your findings.

[2018-03-30 13:07] felislynx-silae commented on #185
Sure do :)
Kotlin support in javalin is awesome!

[2018-03-30 14:09] felislynx-silae commented on #185
Solution:
1. Add to your module build gradle:
`
compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }
`
2. Add `android.enableD8=true` to your gradle.properties file

From my tests, it is working correctly on 3 devices. My minimumAPI is 21.

I would suggest feature to set logger with method setCustomLogger
which would have in

[2018-03-30 18:13] tipsy commented on #185
Very cool. Would you be interested in writing a tutorial?

[2018-03-31 11:51] felislynx-silae commented on #185
@tipsy tutorial about this solution or embedding javalin into android app? :)

[2018-03-31 12:24] tipsy commented on #185
Just about configuring an android project to run Javalin, communicating with the server from another conputet

[2018-03-31 12:26] felislynx-silae commented on #185
@tipsy ping me on PM and later we can discuss this tutorial :)

[2018-04-03 21:10] tipsy commented on #110
Thanks to @ShikaSD we've started discussing this feature. We need to decide where supplying a future instead of a string/input stream should be allowed, and how should it work across different handlers. My gut-feeling is that it should be allowed anywhere you have access to the `Context`:

[code]

It's fairly straightforward to do some checks in `JavalinServlet` and handle it as a special case if

[2018-04-05 22:29] tipsy commented on #110
@ShikaSD has made a very elegant and almost-working implementation in #186, but I'm starting to get a little worried. The reason the PR doesn't fully work is because the `contextPath` is nulled when `startAsync()` is called, and the `ResourceHandler` relies on it to not be null. Upon googling I found a thread (https://bugs.eclipse.org/bugs/show_bug.cgi?id=433321) about unexpected behavior.

What w

[2018-04-07 09:50] #185 closed

[2018-04-12 00:41] weejim76 commented on #161
Adding swagger-ui integration would be useful.  Example:

- http://petstore.swagger.io/
- https://springfox.github.io/springfox/docs/current/#springfox-swagger-ui
- https://jooby.org/doc/swagger/

[2018-04-13 19:25] tipsy commented on #110
Added in #186

[2018-04-13 19:25] #110 closed

[2018-04-13 19:27] tipsy commented on #69
Since picking the right dependencies for HTTP2 is so tricky, I think we should just close this one.

[2018-04-13 19:27] #69 closed

[2018-04-13 19:44] tipsy commented on #161
@weejim76 are you interesting in helping with this?

[2018-04-14 08:34] tipsy opened #191 "Async feedback issue"
I have a feeling the current async implementation isn't perfect. Please use this thread to suggest improvements, or just to complain (then we'll think up improvements).

[2018-04-14 10:49] tipsy commented on #191
@keuller, @mj1618, @ruurd, @joatmon you have all been active in the async-issues on the Spark tracker  ([#549](https://github.com/perwendel/spark/issues/549), [#208](https://github.com/perwendel/spark/issues/208)). What do you think about this solution? It should be possible to use a similar approach for Spark.

[2018-04-14 11:06] mj1618 commented on #191
Hey man looks pretty good to me. But if refactoring required for Spark but yep same approach is possible. My PR on spark was attempting to refactor it but ended up being a lot of changes. Overall it can only be a positive if it doesn’t impact existing users. Allows people to use things like non blocking fb login without tying up a thread.

I’m assuming this does allow non-blocking and not just asy

[2018-04-14 11:14] mj1618 commented on #191
Maybe some benchmarks to how some numbers on this.

Eg
- that it can handle more non blocking requests than it has threads.
- that there is less error rate at high throughput
- determine the length a request has to be at certain throughputs to get lower response time with async

[2018-04-14 11:16] mj1618 commented on #191
I did a couple benchmarks on my PR in wrk and locust - happy to pull it up for you. Was testing on a Mac but should probably be run on some kind of decent hardware. I still saw some good improvements for requests over 50ms. Let me know if you want me to help out with this.

[2018-04-14 11:28] tipsy commented on #191
Yes, unless we've missed something fundamental in our implementation and tests. The futures are resolved like this:

[code]

That would be great, thanks!

[2018-04-15 12:39] tipsy commented on #191
@rmaes4 @Adeynack, you guys asked about async in Javalin some time ago. Please check out the implementation if you're still here.

[2018-04-15 16:01] joatmon commented on #191
I put together a sample async benchmark application based on my PR. The application can be found here: https://github.com/joatmon/spark-async-benchmark

I've included some sample scripts that demonstrate that, under heavy load, using async request processing for long requests improves the throughput of short synchronous requests by 750x.

When the short queries are competing for jetty threads with

[2018-04-15 22:11] joatmon commented on #191
I'm not familiar with your source base, but I looked through your implementation and tests. It looks like it should work fine to me.

[2018-04-16 16:21] tobad357 opened #195 "AuthManager for scopes instead of roles"
Would it be possible to add an AuthManager that takes a list of oauth scopes instead of and/or with a list roles?

This would allow fine grained auth controlls

[2018-04-16 16:30] tipsy commented on #195
The `AccessManager` and `Role` interfaces are blank, it should be pretty straightforward to create an implementation that uses oauth scope tokens (?)

[2018-04-18 14:48] tipsy commented on #67
@ShikaSD @iProdigy do either of you have any experience with this? Or any interest in finding out how we can achieve automatic class reloading?

[2018-04-18 16:48] chadmorrow-fd commented on #161
Full support for kotlin coroutines would be awesome.

[2018-04-18 22:24] tipsy commented on #67
I found these instructions for "Kweb":

[code]

Most of it looks pretty general. Might have to look at what Kweb does for `refreshPageOnHotswap = true`.

[2018-04-18 22:41] gkopff commented on #67
The Kweb author posted on reddit: https://www.reddit.com/r/Kotlin/comments/8d6afi/kweb_rapidly_build_rich_web_apps_in_pure/ and I PM'd them a link to this issue to see if they were interested in helping out.

[2018-04-18 22:42] sanity commented on #67
Kweb author here, it's been a while since I did the hotswap stuff, it was a bit fiddly but I managed to get it working eventually.  @gkopff has already provided the relevant pointers, happy to answer any questions.

[2018-04-23 17:15] winder opened #196 "maven archetypes"
I was looking into Javalin today and didn't see any maven archetypes, which is usually my preferred way for testing out a new library. I've been wanting to experiment with archetypes recently, so I went ahead and setup a couple simple ones:

https://github.com/winder/javalin-java-archetype
https://github.com/winder/javalin-kotlin-archetype

Please feel free to use/rebrand them however you see fit

[2018-04-23 17:41] tipsy commented on #196
Thanks @winder, I appreciate it. I'm not that familiar with archetypes though, do I have to do anything to publish them?

[2018-04-26 14:52] nmpribeiro opened #198 "Pick up static files from dependency jar"
Hi,

I have created a jar file packed with static files, where I just have an index.html and a bunch of assets/ js and css files. Basically, imagine the dist/ folder of an angular 5 app.

In spring boot, I can easily output the path of the npm build to something like --output-path dist/META-INF/resources and spring boot will automagically pick it up, but in javalin, it seems things are less prone

[2018-04-26 15:30] #195 closed

[2018-04-26 15:40] nmpribeiro commented on #198
thanks @tipsy :) but I already reached that point. I am just wondering how to make a front-end module that is a dependency and that could pack my files in some folder.

Say, I could ask to serve files from "/public" folder as you exemplified.
Now, you have another module (pom.xml if maven) that packs some "/dist" files in it's own resources. Now how can I import that `front-end` module and use a f

[2018-04-26 16:06] tipsy commented on #198
Oh, I haven't even considered that use case. You have a module with both some Java code and some static resources, and you want to include this in a different module? Could you elaborate a bit on the purpose of this setup?

I vaguely remember working with something similar a few year ago. When importing the module the two `resources` folders were merged. I don't know if this is the default behavio

[2018-04-26 16:46] nmpribeiro commented on #198
Yes, definitely not an issue then (I was already anticipating that), but some insights on how to achieve this would be great...

Ok, let's see. I'll use case my maven setup, but a solution should be able to be transversal.
[code]
Now `child 2` depends on `child 1`. Parent can build 1, then 2. When building 2, it will grab the child 1 jar from the mvn repository (.m2/repositories/gorupid/artifact/

[2018-04-26 17:45] tipsy commented on #198
I don't mind keeping the issue open, but I think you'll find a solution faster if you ask somewhere where maven questions usually get answered. Would be nice if you post the solution here when you figure it out though.

I found something which might be helpful, but I don't have time to read through it now: https://blog.sonatype.com/2008/04/how-to-share-resources-across-projects-in-maven/

[2018-04-27 08:51] david-wg2 commented on #161
Consider renaming `param` to `pathParam` and creating `param` which returns any sort of param.

[2018-04-27 15:11] nmpribeiro opened #199 "URL wildcards for static files"
Hi,

Use case:

We have a `static` folder with an `index.html` file with a modern framework like angular5... how can we get wildcards such that we can have a catch all route for a particular static file?
`localhost/somepath` -> `static/index.html`

[2018-04-27 19:43] nmpribeiro commented on #199
I see... those should work fine I see. Thanks @tipsy

[2018-04-27 19:43] #199 closed

[2018-04-29 20:04] JamesGuthrie opened #200 "ObjectMapper requires configuration in Kotlin?"
I had a little trouble getting started with a kotlin app and receiving a post request. I followed the [CRUD tutorial](https://javalin.io/tutorials/simple-kotlin-example) in order to see how to unmap a json object from a post into a Kotlin data class. That didn't seem to work out of the box, as I received the following  exception:

```com.fasterxml.jackson.databind.exc.InvalidDefinitionException: C

[2018-04-29 20:45] tipsy commented on #200
Welcome @JamesGuthrie, thanks for letting us know. I remember having some issues with data-classes that I "solved" by adding default values. Maybe I should have done this instead?

Either way, it should be possible to fix. The object-mapper is initialized in `Jackson.kt`: https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/translator/json/Jackson.kt

I think we could replace `Obj

[2018-04-30 17:46] tipsy opened #202 "Create a "isProbablyKotlin" variable ?"
It would be nice to know if Javalin was currently being ran as part of a Kotlin app or a Java app.
This could for example be used for suggesting/configuring the correct Jackson dependency.

The problem is not easy to solve though. One approach is to inspect the code calling `create()` and see if it's annotated with `@kotlin.Metadata`, something like:

* Get classes from `Thread.currentThread().sta

[2018-04-30 19:37] #200 closed

[2018-04-30 23:36] aymer opened #203 "Signed and Encrypted Cookies"
Hi, Thanks for the awesome framework.

Couple of qs:
1) Do we have a support forum/channel? google group/discourse/reddit may be? or any plans?
2) Are the cookies currently signed? Anyway to change the signing key? If not any plan to add it?

Thanks

[2018-04-30 23:52] tipsy commented on #203
Hi, thanks. You're currently posting in it. We have a gitter (https://gitter.im/javalin-io/general) too, but it's mostly used for private conversation between contributors. More activity in the channel would be good though.

I haven't used signed cookies before, and a quick search for `"signed cookies" + servlet` yielded no results, so I'm going to assume that it's not currently supported. Signing

[2018-04-30 23:59] gkopff commented on #203
The Play Framework does signing of cookies - but the documentation doesn't say terribly much about it: https://www.playframework.com/documentation/2.6.x/SettingsSession

[2018-05-01 23:44] tipsy opened #204 "Add way of configuring JSON mapper"
Turns out [there's no way to combine generics and lambdas](https://stackoverflow.com/a/22588738/7916291), which makes the implementation a bit more clunky:

Implementation:
[code]

Usage:
[code]

[2018-05-02 12:17] tipsy commented on #204
[code]

[2018-05-03 11:49] LouizFC commented on #204
I will be giving my 2 cents:

I prefer the second approach, but I think that two interfaces can be a bit of a overkill. I can agree that it gives more flexibility, but I think this should do the job:

[code]
and from there you could write:
[code]
If one needs the underlying "mapper" he would need to cast it any way, so you cast the JsonFactory to the expected type. I think this approach is more fl

[2018-05-03 12:16] tipsy commented on #204
@LouizFC I will be giving my 2 cents:

Thanks for your input. Some people will only be doing one or the other, and the code for declaring a mapper becomes a lot simpler when using dedicated interfaces. The generic interfaces sadly can't work with lambdas, but if someone only needs to map objects to JSON they just need to write `obj -> mapper.toJson(obj)`, which is pretty nice.

Might need to get s

[2018-05-03 16:39] fwgreen opened #206 "Consider adding a formal Automatic-Module-Name"
Noticed the JPMS imported Javalin as just `javalin`, so I'm assuming it doesn't have an [automatic module name](http://blog.joda.org/2017/05/java-se-9-jpms-automatic-modules.html).

[2018-05-03 16:46] tipsy commented on #206
@fwgreen You're right, I haven't touched anything related to Java9+. Do you know of a more "official" guide for setting this up?

[2018-05-03 20:39] fwgreen commented on #206
Oracle has not provided an official guide, but they did recommend using [similar conventions](http://mail.openjdk.java.net/pipermail/jpms-spec-experts/2017-February/000582.html) to package naming during the development process.  The earlier link is probably the best write up that's been published so far.

[2018-05-03 20:58] tipsy commented on #206
Alright, thanks. So do I want it to be imported as `io.javalin`, and should I do this as soon as possible so people won't have to fix imports if/when I do it later?

[2018-05-03 21:55] fwgreen commented on #206
I think `io.javalin` lines up with what I've read so far.  As for when, I suppose you don't have to add a module name until you are convinced your project is truly ready to used in modular projects.  For instance, loading resources is different under the module system, so you may have more work ahead.

[2018-05-03 23:34] tipsy commented on #206
Thanks, I'll label it as help wanted and hope for a hero.

[2018-05-04 18:47] tipsy commented on #191
I got some great input from `/u/0x256` on `/r/java`, I'm posting it here with his permission. In short, the current implementation is good for long running tasks with short responses (the problem we set out to solve), but there are some things we need to fix if we want Javalin to be truly async. We probably don't want that, but the info he provided is great nonetheless:

<blockquote>
<p>That [our

[2018-05-05 11:55] tipsy opened #207 "Make BindException more user-friendly"
Old log message:
[code]

Proposal:
[code]

New log message:
[code]

[2018-05-06 09:57] tipsy commented on #207
[code]

[2018-05-06 10:05] tipsy commented on #207
[code]

[2018-05-06 10:31] tipsy commented on #207
Fixed in 2786579f37c2f5584ad1ad8ccfb012f679ff2a91

[2018-05-06 10:31] #207 closed

[2018-05-06 15:00] tipsy commented on #204
Closed by #205

[2018-05-06 15:00] #204 closed

[2018-05-06 23:09] tipsy opened #209 "Consider Context cleanup"
`Context` is a bit messy.

[code]

Everything except `cookieStore` can be moved into the constructor. We have a lot of `internal var` variables which could be made into `private val`, but probably at a slight cost.

[2018-05-08 23:04] spinscale commented on #203
the first version of the playframework has been doing this already, by just taking the string representation of the cookie, and using an internal secret to cryptographically sign that representation. Now when the cookie is read on each request, the string representation is signed again and compared if the signed representation in the cookie is the same. See https://github.com/playframework/play1/b

[2018-05-09 05:14] majorpasza opened #210 "Some kind of communicator"
Hi,

Got recently interested in this project and I think it would be useful to have some kind of adhoc communication channel where we could synchronize, discuss post questions regarding usages and contributing to it. It would be IMO easier than creating many issues for that.
Have you thought of any yet?

[2018-05-09 07:04] tipsy commented on #210
There's a gitter channel, click the badge in the readme.

[2018-05-09 08:11] majorpasza commented on #210
Thanks, didn't see it.

[2018-05-09 09:12] majorpasza commented on #210
I'd suggest to also move content of CONTRIBUTING.md onto the main page or somewhere next to this gitter channel info.

[2018-05-09 15:44] tipsy commented on #210
Thanks, added both.

[2018-05-09 15:44] #210 closed

[2018-05-09 20:07] tipsy opened #211 "Add jTwig?"
Feature request from reddit.

[2018-05-09 20:17] tipsy opened #212 "Context extensions"
Context.kt:
[code]

Usage:
[code]

Extension:
[code]

The `app.before()` part could be simplified to something like:
[code]
But that would be worse than a before-filter when registering more than one:

[code]
vs
[code]

There is also the option of creating a `contextExtensions` method which is just a glorified `before` which fires *before* `before`.

[code]

[2018-05-09 20:40] tipsy commented on #212
Closed in 271febedf39bf740d266ad21b54dcd7265045f96, no `contextExtensions` method added.

[2018-05-09 20:40] #212 closed

[2018-05-10 07:02] alzuma commented on #211
I like [Modular by Principle](http://jtwig.org/) 👍. Don't have any prior experience with jTwig, will have to look into it. Maybe I will be able to help with this.

[2018-05-10 07:46] tipsy commented on #211
That would be great @alzuma. The template engines are very simple static plugins, you can look at https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/translator/template/Freemarker.kt as a starting point. You need to create an object similar to this, then add it to the `Context` and writ a test.

[2018-05-11 04:56] Man16 opened #213 "Deploying application to server"
Currently I'm compiling a JAR and running it on my server so the web application can be accessed.

However, I want to get more technical with it and use resources. I realised that the target folder is not created when I start the JAR on my server so I can't reference them. How can I properly transfer the executable to my server so that it behaves exactly the same as the machine I'm developing on?

[2018-05-11 07:09] tipsy commented on #213
You have to create a jar with all the dependencies bundled. The heroku tutorial shows one possible approach: https://javalin.io/tutorials/heroku

You can also just Google 'jar with dependencies', there is nothing Javalin-specific you need to do when building this the jar.

[2018-05-11 07:55] tipsy commented on #198
I'm going to close this now, but it would be nice  if you could briefly describe your solution in case other people search through the issues.

[2018-05-11 07:55] #198 closed

[2018-05-11 08:35] tipsy commented on #211
@alzuma I created a skeleton: https://github.com/tipsy/javalin/pull/214

The engine seems to be static, so I'm not sure how to configure it.

[2018-05-11 13:18] tipsy opened #215 "Javalin extensions"
@dherges made a PR which added extensions to the `Javalin` class (#208). I felt sure that this was a good addition when I first saw the PR, but upon playing with it I've become less certain, so I've reverted the change in 9fa4cf98ab2eaf633f3d70224fd680d38e398c74.

The tests used a static instance of Javalin, which made them a bit confusing. To re-add this I think we need self-contained tests (each

[2018-05-12 02:26] Man16 commented on #213
@tipsy I've done that.

What I'm wondering if there is a possible way for the jar to unpack its contents upon execution so that the target folder is created and can be manipulated by a file browser or even the jar itself so it can write content to the target folder?

[2018-05-12 09:08] tipsy commented on #213
Why do you want to do this?

[2018-05-13 02:08] veotax opened #216 "Support jCasbin as the authorization backend"
[jCasbin](https://github.com/casbin/jcasbin) is an authorization library that supports models like ACL, RBAC, ABAC.

Related to RBAC, casbin has several advantages:
1. roles can be cascaded, aka roles can have roles.
2. support resource roles, so users have their roles and resource have their roles too. role = group here.
3. the permission assignments (or policy in casbin's language) can be persis

[2018-05-13 07:50] tipsy commented on #216
![capture](https://user-images.githubusercontent.com/1521451/39965094-21095fd4-5693-11e8-8a8a-709ee38dcf4f.PNG)

[2018-05-13 07:50] #216 closed

[2018-05-13 11:41] Man16 commented on #213
I'm creating images dynamically so I want to save them to the target folder.

[2018-05-13 13:07] tipsy commented on #213
Do you mean image files (PNG, JPG, etc) ? If so, I think you want to use `Location.EXTERNAL` with static files, this way you can look for images outside of the jar.

[2018-05-14 03:43] avently commented on #185
@felislynx-silae how did you make it working? I chose api level 21 but it is not enough.
This is what i see:
[code]

Then I'm going to web address and see this:
[code]

I added
[code]
and
[code]

Method java.lang.ThreadLocal.withInitial {  } requires API level 26, as Intellij says.

Maybe you know, how to fix it?

[2018-05-14 05:01] felislynx-silae commented on #185
It will build on API 21, but wont work. Since JAVA.NIO package is fully supported on API 26 you either you will have build for min SDK = 26 or choose another framework. As far as i've tested, you can't make it working on lower api just because of poor java 8 packages support on lower level apis.

[2018-05-14 05:13] avently commented on #137
@tipsy

Yes, it it necessary:) I googled all night and couldn't find any good server framework that will work on Android. So if you will support Netty it will give you more users.
Here is Netty's official info about Android support: http://netty.io/wiki/new-and-noteworthy-in-4.1.html
Are you interested in this?

[2018-05-14 07:11] tipsy commented on #137
If you're willing to write the implementation, then I'm very interested, but it's going to be a lot of work.

[2018-05-14 07:29] tipsy opened #218 "pac4j implementation"
Written by Jérôme over at the [pac4j mailing list](https://groups.google.com/forum/?fromgroups#!topic/pac4j-dev/H_2-TRHSUK0):

<blockquote>

pac4j comes with a set of components and a security model. You need to create a "javalin-pac4j" module with 5 components:
- a specific WebContext which is the abstraction of the HTTP request/response
- a specific SessionStore which is the abstraction of the H

[2018-05-14 10:26] tipsy commented on #218
V3 will be out soon, should wait until then.

[2018-05-15 14:29] tipsy opened #219 "Add an enableGlobalBasicAuth(username, password) option?"
I had to add a simple basic-auth thing work today, which looked something like:

[code]

This could be a config option:
[code]

[2018-05-16 19:07] majorpasza commented on #219
I can probably try to pick this up if no one does this faster, but I'm thinking whether this is a good idea.

From what I understand, you'd like to have an option to basically hard code a username and password combination that would let you pass the authorization.

My concerns are that:
* most of the times this is just too simple, I have doubts that anyone will ever use it except for test purposes

[2018-05-16 21:07] tipsy commented on #219
Thanks for looking at this so thoroughly.

I agree that it's better to expand on the existing `AccessManager` concept than to introduce special cases, so what you're talking about sounds very interesting.

I'd go for the `void manage(Handler handler, Context ctx);` signature, and probably call it `SimpleAccessManager`.

That would be great, thanks!

[2018-05-18 07:31] ArunMj opened #220 "Optional removal of javalin banner from logs when required."
Sometimes application may already have a different banner. So it is not good to  force another banner in logs. By default javalin should show its banner, but it is good to have an option to turn it off if required.

[2018-05-18 07:50] tipsy commented on #220
Sounds reasonable. Could you create a PR?

[2018-05-18 08:00] ArunMj commented on #220
Thanks for considering it. I will submit a PR asap.

[2018-05-18 09:44] #220 closed

[2018-05-18 20:52] majorpasza commented on #219
So basically we want to have 2 kinds of access managers, one that will take into account roles and one that would not.

For now, nothing will stop anyone from defining both acces handlers at once.  It is kind of logical, one that protects role-based endpoints, one for the rest. But, some corner-case question appeared in my mind. Shall the role-ignorant access manager be run after role-based one gr

[2018-05-18 22:12] tipsy commented on #219
My immediate reaction is that it should be either/or. Having two `AccessManager`s at the same time sounds like it could be very confusing. I'll think about it a bit tomorrow.

Added!

[2018-05-19 13:27] #211 closed

[2018-05-19 15:44] tipsy commented on #219
@majorpasza I was thinking we could rewrite a bit so that every method handler (get/post/put/etc) always goes through `Javalin.accessManager`. By default this will be a noop manager which just calls `handler.handle()`. It should be easy to add a basic-auth implementation then. I'm a bit worried that it might have an performance impact, but it's probably negligible.

[2018-05-21 11:04] majorpasza commented on #219
Every call going through accessManager will not be backward compatible change.
Shall we move it to Javalin 2.0?

I'm still not sure how to proceed with that. I don't see how we can have one access manager. If we want to skip the roles, they will have different interfaces and they have different trigger mechanism (triggered when the roles are or are not defined).

btw. performance penalty is IMO ce

[2018-05-21 14:24] tipsy opened #223 "Javalin#pathFinder can't find the path for handlers wrapped by AccessManager"
**Actual behavior (the bug)**
Javalin#pathFinder can't find the path for handlers wrapped by AccessManager

**To Reproduce**
* Add a handler with roles and call pathFinder(handler)
* Notice how it doesn't work

[2018-05-21 14:37] tipsy commented on #219
Yes, it will have to be for 2.0.

Currently we wrap handlers if roles are provided:

[code]

We could wrap every handler by removing the ternary (we should check if it's a verb though):

[code]

Then instead of having a `SimpleAccessManager` interface, just ignore the roles. Leaving this up to the user is better IMO. Am I missing something?

[2018-05-21 15:38] majorpasza commented on #219
If I understand correctly, given all we've talked about, the conclusion is that we won't change anything in Javalin 1.0
I think we went full circle; the basic auth support for endpoints for now will still have to be done as app.before handlers :)
btw. Do you have any plans at the moment to create 2.0 branch?

[2018-05-21 16:15] majorpasza commented on #223
[code]

Does not work either, I guess it is not strictly problem with roles.

[2018-05-21 16:33] tipsy commented on #223
It's anything anonymous, if you write `val handler = Handler { ctx -> ctx.result("Hello") }` instead it should work.

[2018-05-21 16:41] tipsy commented on #219
Correct.

Yup, but it was still useful. I won't add `enableGlobalBasicAuth(username, password)` in 1.X either.

I think we'll just use master. Releasing updates to 1.X after 2.0 is out will be too much work, and the changes shouldn't really be that big. My current plan is just to gather all the things we want in 2.0 in https://github.com/tipsy/javalin/issues/161, then start implementing them when

[2018-05-21 18:25] tipsy opened #224 "Run all requests through AccessManager"
As discussed in https://github.com/tipsy/javalin/issues/219, we probably want to run all requests through an `AccessManager`, which is NOOP by default. This will allow people do to application-wide access management (by ignoring roles), as well as per-endpoint access management (by using roles) or a combination.

This is not backwards compatible, so it's a v2 feature.

We should test the performan

[2018-05-21 18:27] #219 closed

[2018-05-21 18:28] #213 closed

[2018-05-21 18:29] tipsy commented on #182
@ShikaSD have you looked at this yet? Should we keep it open?

[2018-05-21 18:33] #148 closed

[2018-05-21 18:35] #168 closed

[2018-05-21 18:45] tipsy commented on #127
I've read through this again in the context of Javalin 2.0, and I'm thinking we shouldn't do it. I agree that compile time errors are better than runtime errors, but I think the builder syntax is worse than what we have currently. The current runtime errors happen before startup, so it's not like they will be really be "unexpected" (they won't randomly pop up while the server is up and running).

[2018-05-21 18:45] #127 closed

[2018-05-21 18:55] tipsy commented on #118
Are you still with us @mogoman ? I've been trying to find some info on LINK/UNLINK, but they don't seem to be official yet. Do you have any good resource that I can read?

[2018-05-21 18:56] tipsy opened #225 "Use Set instead of List for AccessManager"

[2018-05-21 19:03] tipsy opened #226 "Remove CookieBuilder"

[2018-05-22 02:25] Man16 commented on #213
@tipsy I didn't figure it out.. I kinda gave up for the moment being. When I feel like picking up my project again, I will try to fiddle with the external static files.

[2018-05-22 15:42] majorpasza commented on #223
Well, can't figure out any decent fix for that different than having a linking table that links original handler to the wrapped one.

btw. what was the reasoning behind this pathFinder api? can't exactly find valid usecases for that.

[2018-05-22 16:05] tipsy commented on #223
The use-case was for building paths to resources, as mentioned in https://github.com/tipsy/javalin/issues/171:

[code]

[2018-05-22 18:02] tipsy opened #227 "Explore adding port to routing, multiple connectors on one server"

[2018-05-25 15:52] HexRealm opened #228 "Return 405 - Method Not Allowed when the requested URI exists but an unavailable method was used"
**Describe the feature**
Currently whenever you send a request to javalin that it has no handler for it always returns **404 - Not Found** even if the requested path actually exists but the wrong method was used. The only way to return **405 - Method Not Allowed** in cases like that is to write a handler and register it to each one of the methods, this becomes a very repetitive and boring work and

[2018-05-25 16:10] tipsy commented on #228
Sounds like a good idea. Would you like to submit a PR?

[2018-05-25 16:41] HexRealm commented on #228
I'll give it a shot but i'm not familiar with kotlin yet.

[2018-05-25 17:16] tipsy commented on #228
It's pretty similar to Java, just with a lot less ceremony (no need to call `.stream()`, `collect()`, etc). I'd be happy to review any code change you make.

When looking through what has to be done I noticed there has been some changes to how 404's are handled, which makes the code a bit confusing (404's are set in `JettyResourceHandler`, for some reason). This should probably be fixed too, so th

[2018-05-25 17:19] tipsy commented on #228
If you prefer, I can fix the 404 logic before you start on the issue.

[2018-05-25 17:21] majorpasza commented on #228
Keep in mind, once again, this will not be backward compatible change (yea, I'm be tough with these ones).
Still, IMO it is worth implementing.

[2018-05-25 17:23] tipsy commented on #228
@majorpasza We can make it disabled by default with a toggle, and switch to enabled by default in 2.0.

[2018-05-25 17:33] HexRealm commented on #228
I guess i'll wait for you to fix the 404 logic before i start working on it, currently i'm trying to familiarize myself with the codebase and i've already written a test case.

[2018-05-25 18:13] tipsy commented on #228
@HexRealm fixed in e5c8f85eb6f4ef24078794afc4fbafb9e3dab6f2.

[2018-05-26 15:47] ShikaSD commented on #182
We can close it, the only major change affecting syntax could be some dsl in kotlin style. However, I doubt it is required for now, as personally I am fine with the dsl Javalin has with static methods.

[2018-05-26 16:18] tipsy commented on #182
Great, I've started thinking that keeping the library consistent across Java and Kotlin is a main goal of the project.

[2018-05-26 16:18] #182 closed

[2018-05-29 22:48] mkdika opened #230 "Java Handler groups Example"
Hi, I am new to Javalin. I found there is Handler Groups feature explained within docs sections. But, I have not found any project code example related to that so far. Or maybe you have a POC or GitHub repo about building the CRUD REST api example with Java (not Kotlin). Please assist me. Thank you in advance.

[2018-05-30 05:58] tipsy commented on #230
Hi, I'm traveling right now, so it's hard to create an example. The Doc example covers it pretty well. You need to import `ApiBuilder` and create controller methods that'll work with method references (they have to accept a Context parameter). Where are you stuck?

[2018-05-30 18:09] majorpasza commented on #227
Let me think loud.
We could introduce the idea of contexts. By default, all routes added are in default context, that matches the Javalin.port() setting, this would maintain backward compatibility.
But one could also set up Javalin app by creating several context by saying something like
[code]
This would fire /hi on default 8080 port, clients api on 8081 and orders api on 8082.
First param could

[2018-05-30 18:52] majorpasza commented on #209
We might think about making .res .req distinguishers for fields in ctx.
This would solve the miconception (at least for me when I started to use Javalin) of how e.g body() works (body() gets request body, but result() sets the response body) and it would really make the API reflect how I believe people are thinking about HTTP response/request model.

I know that this one was one of the core differ

[2018-05-31 06:40] mkdika commented on #230
Hi Tipsy, thanks for your response. I created my API Handler class/controller just like what you suggested and facing the `error: incompatible types: invalid method reference`. If you not mind, here is my github repo code snippets.
[Main Class](https://github.com/mkdika/lightweight-web-api/blob/master/src/main/java/com/mkdika/lwa/LightweightWebApiApplication.java)

[2018-05-31 08:27] majorpasza commented on #230
@mkdika you are trying to use the method reference feature from Java 8 called method reference.
But, you are trying to reference a non-static method (that belongs to a an object of ItemHandler.class) from a static context. Simply
[code]
Means "Hey take the getAllItem method as if it would be a static method on class ItemHandler.class and put it here".
But getAllItem method is not a static method.

[2018-05-31 18:08] tipsy commented on #227
I was considering something like:

```val app = JavalinGroup(Javalin.port(2000)..., Javalin.port(2001)...).start()```

[2018-05-31 18:10] tipsy commented on #227
But, I don't really think this feature is going to be implemented.

[2018-05-31 18:18] tipsy commented on #209
I thought about this for a very long time before deciding, and I don't want to go back to req/res. I think the (imo small) learning curve is worth it.

I prefer result over body, because `.body()` doesn't actually write to the body, it sets a temporary variable that is written to the body at the end of the request life cycle.

[2018-05-31 18:26] plombardi89 commented on #227
It would be nice from an API perspective if you could refer to the connectors by a named identifier somehow rather than using port numbers.

Can we throw this on the 2.0 wish list. It's probably not worth exploring further at this time since it likely requires large API changes. I'd be happy to take a stab at the appropriate time when a 2.0 dev tree opens up (if ever).

[2018-05-31 19:13] tipsy commented on #227
I was just gonna switch master, but it seems a lot of people would prefer a branch. I can make a one next week I suppose.

[2018-06-01 12:35] mkdika commented on #230
@majorpasza Hi, thank you. problem solved. I think I miss 2 things here, 1. Static & non-static rules (so bad), 2. Guide variable injection wiring stuff. Nothing to do with Javalin. Thanks for your feedback and references :)

[2018-06-01 12:35] #230 closed

[2018-06-02 11:05] AlexCzar opened #231 "Slack channel on kotlinslack"
Folks, why don't you create a channel on kotlinslack until someone else did :)

[2018-06-02 20:02] david-wg2 commented on #231
I guess we could create one, but 50% of Javalin users use Java so the official channel should be gitter.

[2018-06-04 16:57] ChimpGamer opened #232 "Cannot find WebSocketServerFactory class (Error)"
I'm receiving this error when it tries to start javalin. I compile the jar using maven and it has all the dependencies it needs even the WebSocketServerFactory. But I still get this error: https://pastebin.com/H6HYx3SP

I'm using Javalin 1.7.0.

Can someone help me with this because it is driving me crazy as I've tried multiple things and I just don't know what to do anymore.

[2018-06-04 17:40] majorpasza commented on #232
Can you please share your pom.xml and even if that is possible, just share the source code?
I'd try to run it myself and check what is happening.

This
[code]
suggests that you have some kind of class path problems, possibly libraries versions clash.

[2018-06-04 17:40] tipsy commented on #232
Can you post your code?

[2018-06-04 18:14] ChimpGamer commented on #232
I can share my pom files but I cannot share the source code because I see the software to people who are interested. But here are the pom files the contain the stuff about dependencies and such,

Parent: https://pastebin.com/nDcqX4G8
Other: https://pastebin.com/hXLRj8zs

[2018-06-04 18:42] ChimpGamer commented on #232
NetworkManagerAPI Pom: https://pastebin.com/uiWCL0EH

I use Intellij IDEA

[2018-06-04 18:50] majorpasza commented on #232
Poms look ok and they work for me. I've setup a simple project with them and can't reproduce this issue.
I'm out of simple ideas :)

[2018-06-04 18:54] ChimpGamer commented on #232
Hmm, okay. Thanks for trying!

[2018-06-04 18:56] majorpasza commented on #232
Maybe try to clean local .m2 repo and invalidate caches & restart & rebuild project in intellij? Shooting blindly, but I've seen "Stranger Things"TM.
I still bet your classpath is somehow corrupted. Did you add any jars manually to the classpath?
What does mvn dependency:tree -Dverbose say?

[2018-06-04 19:52] tipsy opened #233 "Create contributor intro/readme"

[2018-06-04 19:57] ChimpGamer commented on #232
![image](https://user-images.githubusercontent.com/19960733/40938421-260e65ea-6842-11e8-84fa-c71a596da5fd.png)

That's the only class where I use Javalin.

[2018-06-04 20:03] tipsy commented on #232
Alright, then you have some other code somewhere that uses jetty websockets (might be something you haven't written yourself), and there is a version mismatch.

Excluding the websocket dependency from Javalin (or making sure they're in sync) should fix it.

[2018-06-04 20:10] ChimpGamer commented on #232
The only thing I got that uses Jetty is Javalin and I don't understand how there can be a version mismatch as I compile the jar with all the dependencies like it says in the documentation.

[2018-06-04 20:19] david-wg2 commented on #232
Is this an Android app?

[2018-06-04 20:20] ChimpGamer commented on #232
No it isn't it is a BungeeCord plugin. Don't know if you ever heard of it. But it is used for minecraft servers.

[2018-06-04 20:29] ChimpGamer commented on #232
If I'm right BungeeCord only uses netty not jetty and that post is regarding Spigot not BungeeCord.

[2018-06-04 20:40] david-wg2 commented on #232
Then I'm out of ideas. Your POMs and Java code looks fine, so your best bet is to upload your project. Remove any custom code you think is sensitive, we just care about the part where it breaks.

[2018-06-04 20:52] ChimpGamer commented on #232
I've created a Test plugin for BungeeCord with Javalin and its dependencies and I get the same error again. I'm uploading the source now.

[2018-06-04 20:54] ChimpGamer commented on #232
https://github.com/ChimpGamer/NMJavalinTest

[2018-06-04 20:58] david-wg2 commented on #232
That's perfect, thanks. I'm currently traveling, but I'll have a look on Wednesday or Thursday if @majorpasza or someone else doesn't solve it first.

[2018-06-04 20:59] ChimpGamer commented on #232
Okay, Thank you!

[2018-06-05 06:44] plombardi89 commented on #232
For what it is worth I wasn't able to get the project to compile until I updated the `<repository>` in the `pom.xml` to look like this so the dependency could be resolved:

[code]

The code provided doesn't have a typical main method since it's a plugin for something else, but I was able to write a simple main that setup a websocket handler and everything worked as expected.

[2018-06-05 17:02] CodedByYou opened #234 "CSS not loading :3"
Whenever i run this code
`Javalin javalin = Javalin.create().enableStaticFiles("").contextPath("/public").start("8000"));
        javalin.get("", ctx -> {
            visits++;
            ctx.renderFreemarker("/public/index.ftl",data);
        });`
The css isnt loading even when i go too
localhost:8000/custom.min.css its not found and the custom.min.css is in /public directory in src

[2018-06-05 17:12] david-wg2 commented on #234
[code]

[2018-06-06 13:48] #234 closed

[2018-06-06 14:41] tipsy opened #235 "Javalin 2.0 branch setup"
Should we:

1. Bump master to 2.0.0.RC0 and create a 1.7.X maintenance branch
2. Create a 2.0 branch and merge it to master when it's ready

[2018-06-06 15:08] majorpasza commented on #235
IMO 1

[2018-06-06 16:47] tipsy commented on #235
I was thinking we'd finish up the planned issues and release that as RC0, then release RCXs until we're happy with how it works.

[2018-06-06 19:51] tipsy commented on #235
@ShikaSD and @plombardi89, any preference?

[2018-06-06 20:04] SE7-KN8 commented on #235
I agree with @pkkummermo

[2018-06-07 03:47] plombardi89 commented on #235
Agree with @pkkummermo . I prefer #2.

If you want to keep a 1.x maintenance tree alive for some time then before merging 2.0 branch into `master` you could make a permanent 1.x branch for separate 1.x maintenance releases. Not sure you want to do that though... maintaining two versions of Javalin probably isn't worth it.

[2018-06-07 07:16] tipsy commented on #235
My original plan was just to bump master to 2.0.0.RC0 and say that 1.X was done, but the people want branches! I don't really want to, but I figured it would be good in case a critical bug is discovered while work on v2 is ongoing.

[2018-06-07 10:07] ShikaSD commented on #235
@tipsy I would suggest going on with your plan, creating branch for 1.x when it is required (you still has release tags, right?)

[2018-06-07 13:59] tipsy commented on #235
Thanks everyone. The vote is split 50/50 (I prefer 1), so I'm just going to go with the option I think will be less hassle, which is bumping to 2.0.0.RC0.

[2018-06-07 13:59] #235 closed

[2018-06-07 14:00] tipsy commented on #233
This should be the last issue to close before releasing 2.0.0

[2018-06-07 14:02] tipsy commented on #232
@ChimpGamer did you try changing your repository tag ?

[2018-06-07 14:07] #228 closed

[2018-06-07 14:12] tipsy opened #236 "Look into switching up defaults"

[2018-06-07 14:20] ChimpGamer commented on #232
Yea, I already did but still the same issue. I'm a bit confused why this keeps happening.

[2018-06-07 15:02] tipsy commented on #157
https://github.com/tipsy/javalin/pull/237

[2018-06-07 15:32] HexRealm commented on #228
Thank you all for the reviews & suggestions

[2018-06-07 17:38] tipsy commented on #157
@ShikaSD @majorpasza this also removes the `embeddedserver` and `jetty` packages, and instead moves the files into `core`, `core.staticfiles`, and `core.websockets`.

[2018-06-07 18:13] tipsy opened #238 "Consider removing jetty-websocket-handlers"
We currently allow two different ways of defining websocket endpoints.

* The Javalin way, which is with lambdas: https://javalin.io/documentation#websockets
* The Jetty way, which is with annotations/extends: https://javalin.io/documentation#jetty-websockets

They behave differently. The Javalin way has path params and some other nice additions. They all run in 1 handler and we do routing ourselv

[2018-06-07 19:43] tipsy commented on #236
[code]

[2018-06-07 20:21] tipsy commented on #232
I wasn't able to reproduce it either, seems to work fine with when adding a custom `public static void main`.  Are you seeing the conflict when trying to load the plugin inside whatever it plugs into?

[2018-06-08 14:49] tipsy commented on #218
v3 of pac4j is out.

[2018-06-08 15:21] tipsy opened #239 "Consider Context naming"
Current
[code]

Maybe
[code]

Or
[code]

[2018-06-08 15:23] #118 closed

[2018-06-08 18:11] majorpasza commented on #239
Voting for
[code]
form without -Param suffix looks ambigous to me, what would ctx.formParams("key"); -> ctx.forms("key"); mean :)

If thats ok, we could broaden the topic to general suggestions about the Context API.
Couple of things from my side:

Request API:
1) ctx.queryParamOrDefault(a, b) should just be ctx.queryParam(a, default);
same for ctx.formParamOrDefault
Overloaded method looks much b

[2018-06-08 18:19] majorpasza commented on #239
also,
7) I find this #226 to be valid, I'd also remove
[code]
and provide
[code]
if one really needs it.

[2018-06-08 18:30] majorpasza opened #240 "Create migration guide/2.0docs/news post"
Since Javalin 2.0 will not be backward compatible release, we need to start documenting all those backward incompatible changes somewhere. Maybe just here?.
Then, it would be nice to provide a migration guide. I always like when libraries do that.

[2018-06-08 18:31] tipsy commented on #240
Yeah, I'm already working on it. I can copy paste what I have so far.

[2018-06-08 18:32] tipsy commented on #240
## Package structure
Javalin 2 has some changes to the package structure.
The `embeddedserver` package is gone, and things have been moved into `core`:

* `io.javalin.embeddedserver.jetty.websocket` `->` `io.javalin.core.websocket`
* `io.javalin.embeddedserver.Location` `->` `io.javalin.core.staticfiles.Location`
* `io.javalin.embeddedserver.CachedResponseWrapper` `->` `io.javalin.core.CachedRespo

[2018-06-08 18:34] tipsy commented on #240
The plan is to create an archived version of the docs at `/archive/documentation/javalin-1` and the migration guide at `/migration-guide-javalin-1-to-2`

[2018-06-08 19:02] tipsy commented on #157
Done deal.

[2018-06-08 19:02] #157 closed

[2018-06-08 19:07] #225 closed

[2018-06-08 19:12] #238 closed

[2018-06-08 19:13] #226 closed

[2018-06-08 19:15] SE7-KN8 commented on #239
I'm also for:
[code]
But if we change it, we should also be change [WsSession.kt](https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/core/websocket/WsSession.kt#L24-L35) to have a consistent format.

[2018-06-08 19:18] tipsy commented on #239
I agree with everything on your list. Feel free to create pull requests.

[2018-06-08 19:36] majorpasza commented on #239
Alright, I'll do it soon.

[2018-06-08 20:22] tipsy commented on #224
Do you want to take this one @majorpasza ?

[2018-06-08 20:29] tipsy commented on #240
Comparison view: https://github.com/tipsy/javalin/compare/f265048dac52112b8c89ad891035acb710bc31b2...HEAD

[2018-06-08 20:40] majorpasza opened #241 "Consider removing default charset from content-type headers"
While working on #239 I found out that
[code]
will set the header to
[code]

I've encountered a production bug once, caused by this.
Most of the time people check the content type like this
[code]
and most of the time, libs actually provide "application/json".

I'd vote to change that behavior in Javalin to just send back "application/json" and add a conf option to Javalin like Javalin.appendChars

[2018-06-08 20:40] majorpasza commented on #241
I could fix it in #239 if agreed

[2018-06-08 20:45] majorpasza commented on #224
I think that this should rather be fixed as part of #223 :). Lets move there.

[2018-06-08 20:47] majorpasza commented on #223
I started to work on #239, but I put some thought on this and I dislike the idea of using the route-overview. I think it is responsibility of pathMatcher to find the path given a handler, and it should be fixed there.
Didn't go that far yet, but If no one picks it, I'll try to do it.

[2018-06-08 20:48] majorpasza commented on #239
6) mhm, Git render "<String"> as empty string, I meant ctx.json(String)

[2018-06-08 21:51] majorpasza commented on #241
Changed my mind, it is ok how it is.

[2018-06-08 21:51] #241 closed

[2018-06-09 08:11] tipsy opened #247 "Should path-param return non-nullable String?"
Whenever you have a route, `get("/:param", ...)` and you want to get the value, you have to do `ctx.param("param")!!` (double bang). This seems a bit silly, because if the route matched it can't be null. If you put something else in there it's definitely going to be null though. Maybe it should throw some other exception?

[2018-06-09 08:31] majorpasza commented on #247
I agree that ctx.param("ASD") should not return nullable type, but I can't get the second part

[2018-06-09 08:35] tipsy commented on #247
If you have `get("/:param", ...)` and do `ctx.param("param")`, it's fine, you get a non-nullable `String` back.
But what if you do `ctx.param("not-param")` ? Shoult it throw NPE, or something else?

[2018-06-09 08:50] majorpasza commented on #247
Ah, right.
I'd love to see this flagged by a compiler (those Scala guys make even "Stranger Things"™ :)), but for us, mere mortals, I'd vote to  throw IllegalArgumentException with a description message, maybe something like "'not-param' can never be a valid path parameter name for path: /:param"

[2018-06-09 08:53] tipsy commented on #247
That's be nice, but I don't think we can do anything like that. I also had IAE in mind. Let's leave the issue open for a bit and see if anyone has any ideas or objections.

[2018-06-09 09:37] tipsy commented on #239
I'm fine with this, I also prefer empty collections (at least in Java). I think I just returned null because that's what the underlying request did.

[2018-06-09 12:37] majorpasza commented on #223
Well, looks like HandlerType is a subset or RouteOverviewEntry, I guess we could take the ocasion and make them one and the same.

[2018-06-09 12:42] tipsy commented on #223
I was also thinking we could use the same data class abdcollection for both.

[2018-06-09 12:47] majorpasza commented on #223
How about
[code]
you could do like everything with that.

[2018-06-09 12:54] tipsy commented on #223
Yup, looks good.

[2018-06-09 14:30] tipsy commented on #223
I just didn't consider disallowing it, I can't really picture it being a big problem.

[2018-06-09 14:58] majorpasza commented on #223
Maybe it is not a big problem, but it is kind of confusing
[code]

Even though I am allowed to map multiple requests on one path, because it does not throw errors, it turns out, that only one of them will be invoked, the first one. They do not override. It also has impact on how internals of Javalin look like.

Do you have anything against me trying to drop 'support' for that?

[2018-06-09 15:08] tipsy commented on #223
I don't mind if you change it for get/post/etc, as long as it still works for before/after. Do it in a separate PR though.

By the way, you could reach the second handler there by calling `ctx.next()`, but I'm strongly considering removing the `.next()` concept.

[2018-06-09 15:09] tipsy opened #250 "Remove ctx.next()"
Someone really wanted this a year back, but it makes for pretty confusing applications. I think it should be removed.

[2018-06-09 15:17] majorpasza commented on #223
Sure

Nice! I'd agree on that. I believe it wouldn't be needed if we allow only one handler.

[2018-06-09 16:43] majorpasza commented on #250
+1

[2018-06-09 18:16] tipsy opened #251 "Cleanup MethodNotAllowedUtil and test"
Saw some things that could be refactored there.

[2018-06-10 07:52] #250 closed

[2018-06-10 09:28] #251 closed

[2018-06-10 13:46] #209 closed

[2018-06-10 14:42] #239 closed

[2018-06-10 19:17] tipsy opened #253 "Consider Optional return values"
About 50% of Javalin users use Java. Some of them would probably appreciate Optional return values. This could be achieved in many ways, each more horrible than the next:

1. Make return values optional -> Greatly annoy Kotlin users
2. Make optional versions of methods, `queryParamOptional` -> Greatly annoy maintainers
3. ~Make two versions of each method, with the same name, but different return

[2018-06-10 19:51] tipsy commented on #253
3. almost worked, but need to hide the Java version from Kotlin:

[code]

[2018-06-10 20:01] tipsy opened #254 "Swagger things"
https://bitbucket.org/atlassian/swagger-request-validator
https://github.com/ShikaSD/javalin-swagger
https://github.com/manusant/SparkSwagger
https://github.com/swagger-api/swagger-codegen

[2018-06-11 14:15] tipsy opened #255 "Refactor lifecycle events"
Current syntax is

[code]

Removing  `Event` object is probably fine:
[code]

`EventType` should perhaps be `JavalinEvent`.

[2018-06-11 16:10] majorpasza commented on #255
+1, both e.javalin and e.eventType have to be in the scope to set up event, so Event object that aggregates them is not needed there

[2018-06-11 16:40] tipsy commented on #218
<blockquote>
Hi,

Sure. I took a quick look at the documentation. A few hints:
- to protect URLs, you should certainly create a SecurityHandler used as "before". Example: https://github.com/pac4j/spring-webmvc-pac4j/blob/master/src/main/java/org/pac4j/springframework/web/SecurityInterceptor.java#L58 or maybe: https://github.com/pac4j/spark-pac4j/blob/master/src/main/java/org/pac4j/sparkjava/Securi

[2018-06-11 17:10] majorpasza commented on #255
I said that just in case, you are not taking away some functionality and that is ok. I can't find a valid use case that would need a javalin instance in event listener from the top of my head.

[2018-06-11 18:41] tipsy commented on #255
Me neither, I'll just remove it. Any thoughts on `EventType` vs `JavalinEvent` ?

[2018-06-11 19:16] #255 closed

[2018-06-14 15:09] tipsy opened #257 "Remove Javalin.start(port)"
Since it's allowed to call static methods on instances of objects in Java, this method has led to some confusion. People do:

[code]

This creates and starts a new instance of Javalin - `app` is never started.

We could convert it to a non-static method, in which case the simple hello world example would be

[code]

[2018-06-14 15:14] tipsy opened #258 "Improve missing dependency message"
[code]

[2018-06-14 18:53] plombardi89 commented on #241
Hmmm... did this behavior change at some point? I wrote a bunch of tests around the 1.5/1.6 times that check the content type as `application/json` and they're now failing on 1.7 because of the charset addition.

It's not the end of the world to update the tests but I'm also not sure appropriate it is to just append charset info to responses.

I had code like this in my controller:

[code]
And tes

[2018-06-14 19:07] tipsy commented on #241
Maybe it was changed when default-charsets was introduced. I'm not sure, but I think it is correct to include the information. Could you create an issue for investigating it and making sure we follow best practice for 2.0?

[2018-06-14 20:57] plombardi89 opened #259 "Should Javalin automatically add charset information to the Content-Type header?"
In the latest 1.x release of Javalin it seems that the `;charset=${default}` is appended to outgoing response `Content-Type` headers.

Two initial questions for Javalin 2.0:
1. Should Javalin do this by default?
2. What is the best practice? If there is no best practice, what do other common lightweight http frameworks do? (e.g. look at Sparkjava, Ktor, Sinatra (ruby), Flask (python))

Context:
Qu

[2018-06-15 05:53] argan opened #260 "Context.queryParamMap should return an empty Map if where is no query string"
Now, it returns a map with an empty string key "",and the value is a zero length string array

[2018-06-15 10:41] #260 closed

[2018-06-15 17:15] #258 closed

[2018-06-15 18:10] tipsy commented on #257
Removed in 457183bff5ef8f3e0c97a66bf39ab3da5d77ed86

[2018-06-15 18:10] #257 closed

[2018-06-15 18:10] #236 closed

[2018-06-15 18:11] tipsy commented on #215
@dherges have you looked any more at this?

[2018-06-15 20:17] tipsy opened #262 "Cleanup WebSocketHandler"
`WebSocketHandler` seems to be doing too many things. It contains both handler logic and matching/param extraction logic. Maybe some of this should be moved into `WebSocketRouter` ?.

@SE7-KN8, you wrote parts of this, do you want to have a look at it?

[2018-06-15 22:58] tipsy commented on #262
I made a mess: https://github.com/tipsy/javalin/pull/263

[2018-06-17 08:09] #262 closed

[2018-06-17 08:12] tipsy opened #265 "Cleanup PathMatcher/RouteOverviewEntries/WsEntries"
Matching is a bit fragmented at the moment.

[2018-06-17 15:32] #265 closed

[2018-06-17 15:32] #223 closed

[2018-06-17 15:32] #224 closed

[2018-06-17 18:48] tipsy opened #266 "Make route matching ignore case"

[2018-06-17 20:12] #266 closed

[2018-06-17 22:27] tipsy commented on #247
`java.lang.IllegalArgumentException: 'path-param' is not a valid path-param for '/:my/:path'`

[2018-06-17 22:40] tipsy commented on #247
Closed by https://github.com/tipsy/javalin/commit/b382cdd588a6f56de35fe1a768f0a94a0e82f49b

[2018-06-17 22:48] #247 closed

[2018-06-18 13:14] jonni-larjomaa opened #267 "Support "Apache" type log formats or add support for replacing request logger"
**Describe the feature**
At the moment you cannot really change the request logging format, this should really be possible, as the logs which are now available are not nearly as standard as they could be.

Below an example of "apache combined" log line:

127.0.0.1 - frank [10/Oct/2000:13:55:36 -0700] "GET /apache_pb.gif HTTP/1.0" 200 2326 "http://www.example.com/start.html" "Mozilla/4.08 [en] (Win

[2018-06-18 13:48] tipsy commented on #267
I can make a functional interface for the request logger, would that be a good solution?

[2018-06-18 14:51] havenotfear opened #268 "Suppport setting own ServletContextHandler on embedded Server"
I have some existing servlets that I want to use in combination with Javalin. When I set the server's handler to use the servletContextHandler it seems to complete overwrite any Javalin endpoints. Is it possible to do this?

[code]

[2018-06-18 15:04] tipsy commented on #268
Let's see. The handlers are added like this:

[code]

I wrote  a tutorial a while back for custom handlers: https://javalin.io/tutorials/prometheus-example

[code]

But that looks a lot like what you're doing. I'm guessing your `ServletContextHandler` takes it upon itself to handle 404s? Ideally the request should just move to the next handler in the list, but I'm not all that familiar with how `S

[2018-06-18 15:53] tipsy commented on #267
https://github.com/tipsy/javalin/pull/269/files

[2018-06-18 15:54] tipsy commented on #267
The proposed API is

[code]

[2018-06-18 19:36] havenotfear commented on #268
So taking a look at the `JettyServerUtil` I think the issue is having more than one ContextHandlers. For the case where the `userHandler` is of type `ContextHandler` it should try to use `ContextHandlerCollection`

[2018-06-18 19:41] tipsy commented on #268
Nice, would you like to submit a PR?

[2018-06-18 19:46] havenotfear commented on #268
Guess its time to learn Kotlin then

[2018-06-18 19:51] tipsy commented on #268
Well, most of the work here is he testing, and the tests are written in Java :)

If you have any questions about the Kotlin part, feel free to ask.

[2018-06-19 06:07] jonni-larjomaa commented on #267
Great this is enough and enables logging even with logback or similar.

[2018-06-19 06:30] jmetertea opened #270 "Upgrade Velocity version"
**Describe the feature**
velocity version used is 1.7 which is old,
Can upgrade to velocity-engine-core version 2.0 latest stable version

**Additional context**
maven dependency:
  <dependency>
                <groupId>org.apache.velocity</groupId>
                <artifactId>velocity-engine-core</artifactId>
                <version>2.0</version>
            </dependency>

[2018-06-19 06:39] jonni-larjomaa commented on #267
btw, what is the timeline for javalin 2.0 ?

[2018-06-19 06:47] tipsy commented on #270
Would you like to submit a PR?

[2018-06-19 06:55] tipsy commented on #267
The plan is to release the first release candidate sometime this summer, in approximately a month I guess.

[2018-06-19 08:22] jmetertea commented on #270
When I fork the project, I don't see any velocity reference, can you advice?

[2018-06-19 16:08] tipsy commented on #270
The dependency is in the `pom.xml` file: https://github.com/tipsy/javalin/blob/master/pom.xml#L95-L100

[2018-06-19 21:37] ShikaSD commented on #253
Consider splitting Javalin into two artifacts: Java and Kotlin
Most of the libraries do exactly that, but maintaining that should bring a particular enjoyment.

[2018-06-21 14:05] tipsy commented on #253
Yes

[2018-06-21 14:08] tipsy commented on #253
I've considered that a few times, but I really want to avoid it. It's really just the `Context` class.

[2018-06-21 21:27] tipsy opened #272 "Return 5xx when threadpool is full?"

[2018-06-22 15:09] #270 closed

[2018-06-22 15:37] tipsy commented on #267
Closed by #269

[2018-06-22 15:37] #267 closed

[2018-06-23 15:04] #272 closed

[2018-06-23 23:31] tipsy commented on #171
Initial proposal in #274

[2018-06-24 05:52] musaray opened #275 "hanging up"
**Actual behavior (the bug)**
A description of what happened

**Expected behavior**
A description of what you expected to happen

**To Reproduce**
Steps to reproduce the behavior

**Additional context**
Add any other context about the bug here

[2018-06-24 08:35] tipsy commented on #275
?

[2018-06-24 11:22] #275 closed

[2018-06-24 11:29] #253 closed

[2018-06-24 11:47] tipsy commented on #268
@havenotfear have you started/do you want to work on this?

[2018-06-24 12:08] tipsy commented on #202
This is a little too flaky.

[2018-06-24 12:08] #202 closed

[2018-06-24 13:47] havenotfear commented on #268
I have not started on it yet. On the back burner probably for another week or so. I do plan on working on it.

[2018-06-24 14:39] tipsy commented on #268
Great, just needed to know so I can better manage the issues.

[2018-06-24 17:32] tipsy commented on #259
This turned out to be a little annoying. JSON is not supposed have charset as part of content type, it's assumed to be utf-8 be default. Text/HTML is supposed to have a charset.

[2018-06-24 18:34] tipsy commented on #259
Jetty is misbehaving here.

### res.characterEncoding = null
This gives `res.characterEncoding` the value `iso-8859-1`

### res.characterEncoding = ""
This gives `res.characterEncoding`  the value `""` ...
But...! `res.contentType`  becomes `application/json;charset=`

### res.characterEncoding = "" THEN res.characterEncoding = null
Same as previous, because why not?

I'm having trouble determinin

[2018-06-24 18:59] tipsy commented on #259
The closest I'm able to get it is

[code]

... but some clients need the charset to be set.

[2018-06-24 19:09] tipsy commented on #259
lol..
I was trying to be sneaky and added some meta info:
```res.characterEncoding = "$defaultCharacterEncoding;default"```

When later doing `res.characterEncoding = null`, the endresult becomes `application/json;default`.

[2018-06-26 15:25] tipsy commented on #215
Since you can subclass Javalin and add context-extensions now, I think this can be closed.

[2018-06-26 15:25] #215 closed

[2018-06-26 15:28] tipsy commented on #232
@ChimpGamer since no one is able to reproduce this, I think I'll close the issue.

[2018-06-26 15:28] #232 closed

[2018-06-26 15:32] tipsy commented on #259
OH. I think i just had an idea.

[2018-06-26 16:36] tipsy commented on #259
So it's not pretty.. but we can hand the Context to the `JavalinJson` plugin, and make it remove the `characterEncoding`:

[code]

[code]

This way users can change the behavior by overriding `toJsonMapper`, if needed.

[2018-06-26 16:42] tipsy commented on #259
This is all getting way too silly.

[2018-06-26 20:37] tipsy commented on #183
Proposal in #276

[2018-06-27 11:17] dherges commented on #215
Yes, I subclass and I haven't look into it further.

[2018-06-27 13:42] joakime commented on #259
Please reopen this.
The technique you are using is just fighting a lack of understanding of the Servlet spec behaviors.

[2018-06-27 13:46] tipsy commented on #259
@joakime I don't doubt that, if you could outline the correct approach I'd be happy to fix it.

[2018-06-27 14:33] tipsy commented on #259
That's a very high quality answer, thank you.

That would be great!

[2018-06-27 22:32] tipsy commented on #259
That doesn't really solve the problem though? I'm not serving files, so adding extension-mappings won't (shouldn't) affect anything?

[2018-06-28 15:01] tipsy opened #278 "Fix gzip javadoc"

[2018-06-28 19:44] tipsy opened #279 "Simplify JavalinServlet ?"

[2018-06-28 19:46] #183 closed

[2018-06-28 19:47] #177 closed

[2018-06-28 19:57] tipsy commented on #259
Hopefully the fix in https://github.com/tipsy/javalin/pull/277 is correct.

[2018-06-28 19:57] #259 closed

[2018-06-28 20:02] #278 closed

[2018-06-28 20:28] #279 closed

[2018-06-30 11:35] tipsy opened #280 "Javalin 2.0 release candidate feedback"
## Javalin 2.0.0.RC3 is out. <small>Use this issue for feedback/bug reports.

Maven:
[code]

Gradle:
[code]

Changelog (git log): https://github.com/tipsy/javalin/compare/f265048dac52112b8c89ad891035acb710bc31b2...HEAD

# Migration guide

## Package structure
Javalin 2 has some changes to the package structure:

* `io.javalin.embeddedserver.jetty.websocket` `->` `io.javalin.websocket`
* `io.javali

[2018-07-01 00:48] tipsy opened #281 "Clean up testcode?"
Test code currently relies on 4 different clients for testing:

* Unirest
* Apache HttpClient
* OkHttp
* java_websocket

Old tests extend `_UnirestBaseTest`, new tests are standalone.

Most tests are Java, which I thought would be useful to ensure interoperability, but Kotlin is almost always the problem.. Maybe they should be Kotlin.

A consistent test-setup would be nice, but on the other hand,

[2018-07-01 01:36] tipsy commented on #281
Something like this could be useful:

[code]

[2018-07-01 13:38] idekel opened #283 "Route annotations"
Is there any plan to support annotations based routing?

[2018-07-01 13:48] majorpasza commented on #283
Question to @tipsy, but personally, I hope not.
Javalin was my escape route from all that annotation based nonesense.

[2018-07-01 13:51] tipsy commented on #283
@idekel No, there are a lot of options available if you like annotations. Javalin will never support them.

[2018-07-01 14:13] idekel commented on #283
Thanks a lot, that's was really quick reply!
It is not that I like annotations, in fact, I also wanted to escape those big frameworks with lot of configuration, especially  XML configuration. I am just looking for a way to organize my routes so that I don't have to create a callback or controller/class for each endpoint. I looking for something that let me reuse a class for endpoints that are very

[2018-07-01 14:38] tipsy commented on #283
@idekel I usually create one class/object and use method references:

[code]
I also keep all the routes inside the `main` function. It's usually fine, since most applications don't have hundreds of routes.

[2018-07-01 17:35] idekel commented on #283
Thanks!!

[2018-07-01 19:02] tipsy commented on #283
@idekel You're welcome. I'm going to close this issue, but feel free to open another one if you have any other questions. You can also find us on gitter chat: https://gitter.im/javalin-io/general

[2018-07-01 19:02] #283 closed

[2018-07-02 18:02] #281 closed

[2018-07-03 18:51] kai83 opened #284 "Problem with "ctx.result(inputStream)""
I am using Javalin in my project now and faced a problem with the result(inputStream).

I have implemented a POST method where, based on the parameters, a PDF file is send back.
Problem now is, after the file is successfully uploaded, its locked and can not be deleted.

Thats the simple sample source:

ctx.result(FileUtils.openInputStream(new File("c:\\tmp\test.pdf")));
ctx.status(200);

I also tr

[2018-07-03 19:15] tipsy commented on #284
Hi @kai83, could you make a small sample application which reproduces the problem? It seems that the code for closing input-streams has gone missing 🤔

[2018-07-03 19:44] kai83 commented on #284
Hi @tipsy,

I am out of office now but will create a small application tomorrow morning.

In my tests I was only using the following code and could reproduce it:

Javalin webServer = Javalin.start(7000);
		webServer.get("/file",
				ctx -> {
					ctx.result(FileUtils.openInputStream(new File("c:\tmp\test.pdf")));
					ctx.status(200);
				});

After retrieving the file from my client, the test.pdf

[2018-07-03 20:30] tipsy commented on #284
@kai83 I'll have a look now.

[2018-07-03 20:34] tipsy commented on #284
I've confirmed that the `InputStream` is not being closed properly, will fix it right away.

[2018-07-03 20:49] #284 closed

[2018-07-03 20:50] tipsy commented on #284
@kai83 It's been fixed now, will be part of the next release candidate for Javalin 2.0.

[2018-07-04 05:05] kai83 commented on #284
@tipsy
You are a star man!
Really cool... Many thanks!
May I ask when you plan to release the next RC? I saw V2 will not be backword compatible, is sample source on how to use "GET" and "POST" available as well?

I could not find them yet but will have a look today.

Again, many thanks for the fantastic and very quick support.

[2018-07-04 07:35] tipsy commented on #284
I just did:

Maven:
[code]

Gradle:
[code]
<br>

It's 95% backwards compatible, there is a migration guide here: https://github.com/tipsy/javalin/issues/240#issuecomment-395849357.

<br>

You're welcome, thank you for reporting the bug :)

[2018-07-04 09:50] kai83 commented on #284
@tipsy
Sorry to coming back on this.
Seems like the RC1 is not on Maven yet.
I can only get

<dependency>
    <groupId>io.javalin</groupId>
    <artifactId>javalin</artifactId>
    <version>2.0.0.RC0</version>
</dependency>

Can you confirm please?

Many thanks!

[2018-07-04 10:20] tipsy commented on #284
Should be out, I'll check after lunch.

[2018-07-04 10:54] david-wg2 commented on #284
It's available: https://repo1.maven.org/maven2/io/javalin/javalin/

[2018-07-04 10:59] kai83 commented on #284
@tipsy
Hmmm strange. If I add the RC0 then it works. RC1 always shows an error.
And if you move to the web based Maven repository it also only shows RC0.

https://mvnrepository.com/artifact/io.javalin/javalin

But no problem I will wait to see if some replication is needed.

[2018-07-04 11:05] kai83 commented on #284
@tipsy
Found the problem...
I had to activate: "Force Update of Snapshots/Releases" in Eclipse.
Now its found and installed.

Again, many thanks!

[2018-07-05 14:50] Jitsusama commented on #280
I'm not sure if it is directly related to version 2.0, but I'm starting a new project that incorporates both selenium server and Javalin, and I'm having an issue where when Selenium is packaged with Javalin, that trying to start a Javalin instance is giving me a bizarre class not found error:

[code]

[2018-07-05 14:52] Jitsusama commented on #280
For reference; here's the definitions I have in my _pom.xml_:

[code]

[2018-07-05 14:55] Jitsusama commented on #280
I just checked, and I have the same issue with javalin 1.7.0, so it's not related. I'll create a separate issue on this.

[2018-07-05 15:10] Jitsusama opened #285 "Unable to Have a Combined Javalin/Selenium Project"
When trying to make a project with a combination of Javalin and Selenium server, I run into a weird error when attempting to start the Javalin server.

I've created a very simple project that should give a good example.

With this defined as your _pom.xml_:
[code]

And this defined as _example.Main_:

[code]

You should get an error similar to the below when running _#main_:

[code]

I'm sure this

[2018-07-05 15:10] Jitsusama commented on #285
I should note that I get the same issue when using Javalin 1.7.0.

[2018-07-05 15:14] Jitsusama commented on #285
Here's the Maven dependency tree graph if that helps understand things better:

[code]

[2018-07-05 15:45] tipsy commented on #285
@Jitsusama `NoClassDefFoundError` are almost always due to a mismatch of version. I guess your selenium dependency is pulling in an old version of Jetty.

[2018-07-05 16:01] Jitsusama commented on #285
Indeed it is, though the difference is a minor version. Selenium is pulling in 9.4.7 while Javalin is pulling in 9.4.11. I find it very strange that a minor version change has this effect, but I'm guessing it's interactions between some other jetty dependencies (like the client) and internal APIs that are leaking across between dependencies.

[2018-07-05 16:03] Jitsusama commented on #285
I've had initial success with excluding all of Selenium's jetty dependencies, but once I start utilizing its API, I'm pretty sure I'll run into issues :smile:

Here's what I'm trying out right now. Once I dig into their API more I'll see if I'll have to manually pull in dependencies at the top level to fix problems:

[code]

[2018-07-05 17:24] tipsy commented on #285
Seems like you've got this one under control, have fun!

[2018-07-05 17:24] #285 closed

[2018-07-06 07:36] tipsy commented on #218
I'll get started on this now.

[2018-07-06 10:31] Jitsusama commented on #285
FYI; that looks like it has fixed everything. I'm wondering if Selenium uses it's jetty stuff for some weird corner features that I don't even utilize. Thanks for taking the time to respond to this issue @tipsy!

[2018-07-06 23:06] Jitsusama commented on #280
While I can't compare it to version 1.7.0, I appear to be having good luck with it during the development of a new project I've been working on. I'll try to make some more definite remarks once I get an application or two in production with it, though that might take a while. I can see that I haven't found any issues with it thus far.

[2018-07-06 23:29] tipsy commented on #280
Thanks @Jitsusama, that's great to hear. The majority of changes are internal, so it's good to know that the RC is working well for you. I plan on keeping Javalin in RC for a couple of months, so please keep us posted!

[2018-07-07 03:09] Jitsusama commented on #280
Well, if they aren't live by then, I'll probably be kicked to the curb :wink:.

I'll definitely let you know how things pan out between now and then.

[2018-07-08 22:53] tipsy commented on #203
@aymer do you have a need for signed cookies that encrypted cookies would not solve? I would prefer to do encrypted rather than signed.

[2018-07-09 07:46] tipsy commented on #280
@sureshg reports "(http(s), http/2 , websockets + jdk 10)" working as expected with 2.0.0.RC1.

[2018-07-09 14:36] tipsy commented on #203
I've been looking into this a bit, and there doesn't seem to exist any secure way to sign or encrypt a cookie and have it work on two separate instances, without using some sort of shared store. If a shared store exists, it can be used directly instead of cookies.
This functionality won't be added unless some fairly competent security person submits a PR with a very convincing implementation.

[2018-07-09 14:36] #203 closed

[2018-07-09 14:54] tipsy commented on #280
I've also ported every project I have, as well as every tutorial (~20 projects all together), and haven't experienced any issues.

[2018-07-09 19:10] Jitsusama opened #286 "Figure out if Javalin#stop() triggers a graceful Jetty shutdown"
I was hoping to validate whether performing a `Javalin#stop()` action will perform a graceful shutdown of Jetty and any associated servlets, such that all outstanding requests would be served before shutting down Jetty?

[2018-07-09 19:32] tipsy commented on #286
Javalin just calls `stop()` on the Jetty `Server`, which I **think** is supposed to be graceful. I haven't checked though. If it turns out to not be, and it's possible to instruct Jetty to stop gracefully, you can switch out the server using `app.server(() -> myGracefulServer)`

[2018-07-09 20:41] Jitsusama commented on #286
I'll have to take a look. I know with Undertow you have to manually configure a graceful shutdown request handler wrapper.

[2018-07-09 22:42] tipsy commented on #286
Great, let me know what you find out. We should consider making it the default behavior if it isn't already.

[2018-07-09 23:08] gkopff commented on #203
Sorry @tipsy I'm not sure I follow the reasons you mention.  And I don't mean to waste your time on something you're not interested in, but I see this as an important feature and wondering if you could elaborate a bit.  (I currently use Play and see this anti-tampering device as quite crucial).

Do you mean that all instances require knowing the secret?  (If so, yes they do).

In Play, the secret

[2018-07-09 23:56] tipsy commented on #203
The way I see it, the main point of supporting signed/encrypted cookies is to share state between multiple instances. To do so you will also need to share a secret between those instances. An attacker will know that there is a fixed secret, and can generate an infinite amount of cookies, which could make it possible to figure out the secret.

I'm sure there are measures that can be taken to make t

[2018-07-10 03:36] gkopff commented on #203
I think this thread has pretty much run it's course, but I just had a few last remarks:

Well, I don't use it to share state across instances (I run a single instance on an internal network) ... I use it to remember state between client and server, and the cookie signing is used to prevent tampering/poisoning of cookies.  But hey, that's still sort of the same thing: it's sharing/recirculating sta

[2018-07-10 16:39] Jitsusama commented on #286
Hey @tipsy; you're welcome. I am looking at your v2 code and `jettyServer`'s type isn't very apparent. When I look up it's field, I see a call to `JettyServerUtil.defaultServer();`, which is implemented in some Kotlin code of yours that gets really confusing really quick for me.

I saw that same comment from @gregw, but I wasn't 100% sure if that was still valid based on some of the other pages I

[2018-07-10 18:36] tipsy commented on #286
`jettyServer` is a `Server`, more specifically as `org.eclipse.jetty.server.Server`:

The initialization code:
[code]

Can be written like this in Java:

[code]

That would be great, let me know if you need any assistance.

[2018-07-10 19:33] Jitsusama commented on #286
Thanks for that comment. I had no idea what `.apply {...}` meant. I still am not 100% sure, but at least I know what's happening :smile:

[2018-07-10 19:57] tipsy commented on #286
It's a really nice function. The official docs says that it `Calls the specified function block with this value as its receiver and returns this value.`.

In more plain English:
* Inside the scope of `apply` the object you called `apply` on can be referenced as `this` (which can be omitted, just like in Java).
* `apply` returns the object you call it on

It makes working with Java objects in Kotli

[2018-07-10 20:15] Jitsusama commented on #286
Oh, very nifty!

[2018-07-10 23:56] tipsy commented on #280
You don't really miss out on anything. Events currently contain the event-name (which is a bit pointless, since you're already writing the handler for that specific event), and a reference to instance where the event originated. You have to declare the event on the instance, so you can easily include the reference if you need it.

[2018-07-11 22:36] Jitsusama commented on #280
I'm not sure if I'm missing something, but in this release candidate I'm getting a `null` output string when I try to use Gson for object deserialization.

I have an exception handler like so:

[code]

I would expect the response body to be like so:

[code]

But instead, it just states the word `null`.

Here's my Maven dependency:

[code]

I configured the JavalinJson singleton as mentioned in the

[2018-07-11 22:55] tipsy commented on #280
It's not related to 2.0 @Jitsusama, there havent' been any changes to the JSON mappers (other than naming). But, if I plug your code into the GSON-test in the repo:

[code]

It fails with the following message:

[code]

So everything appears to be in order.

[2018-07-12 01:16] Jitsusama commented on #280
Thanks for checking that out @tipsy! I’ll just have to dig in deeper on my end tomorrow,

[2018-07-12 12:01] Jitsusama commented on #280
Simple test recreation without Kotlin reproduces the issue, I'll create an issue ticket on this.

[2018-07-12 12:12] Jitsusama opened #288 "Unable to use GSON to serialize anonymous class"
**Actual behavior (the bug)**
When attempting to configure Javalin to utilize Gson instead of Jackson for JSON serialization/deserialization, instead of having the configured JSON response body being generated, I receive the string `null`.

**Expected behavior**
I would expect to see the configured JSON response.

**To Reproduce**
Use the https://github.com/Jitsusama/javalin-gson-example repositor

[2018-07-12 12:13] Jitsusama commented on #288
Hello @tipsy. I did my best to follow exactly the examples laid out in documentation, and made the simplest project I could think of that reproduces the issue. I'll give a try with Javalin 1.7.0 shortly and see if I can reproduce it there, but this particular issue was reproduced on Javalin 2.0.0-RC1.

[2018-07-12 12:17] Jitsusama commented on #288
I've created a javalin-1.7.0 branch on the same project and it had the same result, so it doesn't appear to be 2.0.0-RC1 specific.

[2018-07-12 12:38] Jitsusama commented on #288
I've tried testing with various releases of Gson in case it made a difference, I found a difference between the 1.0 and the 2.0 release streams, but none of them were successful:

*  Using any release of Gson including and past 2.0 gives a `null` response.
*  Using any release of Gson prior to 2.0 (1.7.2 for example) does not give a `null` response, indeed, it actually gives *no* response.

[2018-07-12 12:43] Jitsusama commented on #288
I've also tried different combinations of Javalin 1.7 and Gson with the same results.

[2018-07-12 12:46] Jitsusama commented on #288
I also tried performing this with exceptions and just a simple _GET_ lambda, and still the same result. I don't understand what's different between your tests in Kotlin and mine in Java.

[2018-07-12 12:58] Jitsusama commented on #288
Aaaannnnndddd, I found the issue.

In Java (but apparently not Kotlin), when passing Gson's `#toJson` method a generic type, you must use an alternative form for `#toJson` which includes the type.

When I change this:

[code]

to this:

[code]

everything works.

[2018-07-12 12:59] Jitsusama commented on #288
It's possible I'm just stupid, but also, it might be possible that some other user could get bitten by this issue. Would you mind if I put through a PR to update the documentation example for Gson integration to call out this scenario?

[2018-07-12 13:51] tipsy commented on #288
@Jitsusama as far as I can tell it only gives you null if you use the double brace hack. It's apparently the correct and expected behavior: https://github.com/google/gson/issues/762

I would not add this to docs, you should rather look into using `Map.of()` (java9+) or a library like guava where you can do `ImmutableMap.of()`.

[2018-07-12 13:58] Jitsusama commented on #288
Wow, thanks for that. Some things in Gson are way nicer than Jackson, and other things...

I haven't started playing around with Java 9 yet, and I don't want to add Guava unless absolutely needed, but it's nice to know that those scenarios should handle things fine. Thanks for your help and for this great framework!