[2019-07-18 11:23] nixxcode commented on #661
Yes, I will make a PR in a few minutes!

But please be aware this is still very much "test code" with manual boolean switches where configs should be and other potentially nasty things that aren't sticking around for the merge :smile:

[2019-07-18 14:46] nixxcode commented on #661
Well, took longer than a few minutes, but here it is! #666

Did some refactoring and squashed a couple of bugs on the way.

[2019-07-18 16:43] #665 closed

[2019-07-18 16:59] #653 closed

[2019-07-18 17:08] #585 closed

[2019-07-18 17:13] tipsy commented on #659
@MikkelHJuul could you submit a PR for this?

[2019-07-18 18:04] #664 closed

[2019-07-18 18:04] mpe85 commented on #664
I can see no way of how to reliably validate any session store before the whole context is started up.
And validating it after startup would also make ne sense because I think an invalid session handler would cause the startup/initialization processs to fail anyway.
So I would suggest to remove that check completely.

[2019-07-18 18:05] tipsy commented on #664
@mpe85 I agree. I couldn't find any way either, so I removed it in b2fa5a7.

[2019-07-18 18:48] tipsy commented on #643
Going to close this since it's been inactive for two weeks. Feel free to keep writing in the issue though.

[2019-07-18 18:50] #643 closed

[2019-07-18 18:51] tipsy commented on #589
@aranjitchi could you try to download the source code and make it work locally?

[2019-07-19 01:45] wherkamp opened #667 "Redoing Paths.(Breaking)"
So here are some changes I was thinking of
For path variables I think it should be {variable_key}.
However this is the big path.
If you have the two following paths.
1.  /random/{my_variable}
2.  /random/cool

and you go to /random/cool it goes to 2.
Also in path variables you can also have them inside different formats so for example
/sitemap-{number}.xml

P.S I am open to other ideas.

[2019-07-20 05:25] nixxcode commented on #661
The implementation approach has changed considerably since the last PR.

Please see new pull request #668

[2019-07-21 08:38] tipsy commented on #661
Closed by f5bdd89ac8dbb08834c7e63f80f6926cc86fccf1. Great work on this!

[2019-07-21 08:38] #661 closed

[2019-07-21 10:05] tipsy opened #670 "Brotli not working on Heroku 🤔"
For some reason, Brotli isn't working on Heroku. When I run the project locally it works, and logging the accepts header shows that it *should* work. Not sure what's up. (@nixxcode).

Edit: As @nixxcode pointed out, it should log if it can't enable Brotli, and it does:

[code]

[2019-07-21 15:34] nixxcode commented on #670
Okay, pretty sure I know what the problem is. Heroku only keeps the .m2 directory (local maven repo) around during the build phase, but it's excluded from runtime (the "slug" as Heroku calls it).
Basically means the native Brotli lib file no longer exists on runtime.
I envision 2 ways of solving this:

1) Force Heroku to include the local m2 repo
2) Create a dependency (such as lib) folder inside

[2019-07-21 15:51] tipsy commented on #670
It was a case of me being an idiot. I was building the jar locally with `mvn herkou:deploy` (including the native brotli library for Windows), then uploading that jar to Heroku. I switched to building it remotely, and now it works.

[2019-07-21 15:51] #670 closed

[2019-07-22 03:13] simpleauthority commented on #667
Perhaps this syntax could be _added_ rather than _replacing_ the original syntax? I can see benefits of this syntax, but to avoid breaking those on older versions (and thus requiring a backwards-incompatible version bump) then this could be added as an alternative syntax.

[2019-07-22 11:49] david-wg2 opened #671 "Problem with static files in 3.2.0"
I just upgraded an app to Javalin 3.2.0, which serves a couple of static files:

[code]

This results in a bunch of EofExceptions:

[code]

[2019-07-22 11:54] david-wg2 commented on #671
[code]

[2019-07-22 11:57] david-wg2 commented on #671
The `<link rel="stylesheet" href="/main.css">` css file is not compressed for whatever reason, it's served with the following headers:

[code]

[2019-07-22 13:23] wherkamp commented on #667
@simpleauthority I agree with you. During version 4.0 update we could maybe make this one the default.

[2019-07-22 14:31] david-wg2 opened #672 "Let `error` take a content type"
Currently, I have to do

[code]

Maybe we could introduce a content type?

[code]

[2019-07-22 15:00] tipsy commented on #672
I guess this goes for `exception()` too.

[2019-07-22 17:09] #672 closed

[2019-07-22 21:40] nixxcode commented on #671
#673 should fix the problem

[2019-07-23 05:05] SmithKevin opened #674 "jbrotli mandatory in 3.2.0"
**Actual behavior (the bug)**
When upgrading to 3.2.0 I now get a dependency complaint.  `Could not find org.meteogroup.jbrotli:jbrotli:0.5.0.`  This seems like a pretty heavy handed required dependency for a framework that for the most part is unopinionated.

**Expected behavior**
jbrotli should not be required in order to use Javalin

**To Reproduce**
Upgrade to 3.2.0

[2019-07-23 06:18] tipsy commented on #674
Using gradle @SmithKevin?

[2019-07-23 06:41] tipsy commented on #674
It's a small dependency that provides simple functionality that you as a developer won't ever have to interact with (beyond telling Javalin to use it or not).

My reasoning for making it required was
* It's very small
* There are no alternatives you could want to use instead (you never interact with it)
* There is very little chance of collision

That being said, no one should be inconvenienced by

[2019-07-23 08:01] mpe85 commented on #674
Gradle cannot resolve the dependency because it is not available in one of the default/pre-configured repositories (maven central, jcenter or google):

[code]

Problem is that jbrotli is only located in their own maven repo located at bintray: https://dl.bintray.com/nitram509/jbrotli/

So the solution to this is to add that repo manually. In my opinion this is a bit ugly, but also dangerous (once

[2019-07-23 08:05] tipsy commented on #674
@mpe85 thanks. I've discussed this with @nixxcode, and our short term plan is to make the dependency optional, then we'll fork jbroli and publish it on Maven Central ourselves.

[2019-07-23 08:40] mpe85 commented on #671
We also get this error and hence cannot upgrade to 3.2.0

[2019-07-23 09:04] nixxcode commented on #671
I'm still working on a resolution for this. I expect to have a PR with a fix ready by tomorrow evening at the latest.

Already got gzip fully functional, just trying to make brotli behave now. :)

[2019-07-23 09:07] nixxcode commented on #674
Just as @tipsy said, I will be making this an optional dependency for the time being. We should have this fix rolled out by tomorrow evening at the latest

[2019-07-23 12:22] david-wg2 opened #675 "Make `ErrorHandler` extend `Handler`"
Would allow `app.error(code, handler)`

[2019-07-23 14:43] tipsy commented on #675
`ErrorHandler` shouldn't exist at all...

[2019-07-23 14:54] #675 closed

[2019-07-24 09:24] #674 closed

[2019-07-24 11:14] nixxcode commented on #671
Okay, just to keep people up to date on this.

This bug occurs because when serving larger files, Jetty uses a different write method that loops while counting down the total number of bytes left to write, but having been expanded from our dynamic response code, the compression handler  was expecting everything in a single chunk.

I have been able to fix this for Gzip, and it is now compressing wh

[2019-07-25 16:57] #671 closed

[2019-07-26 08:53] Farquaad commented on #526
@tipsy I am trying to migrate from 2.8.0 to 3.2.0 but I am missing the functionality of splat. I was using it to retrieve a variable-length parameter list provided at the endpoint with wildcard character:
get("/services/*")
And later on I could go on with splat and split on "/" to retrieve the variable-length parameter list.

You were saying, that "is really identical to pathParam, but index based

[2019-07-26 09:17] tipsy commented on #526
Could you show me an example path?

[2019-07-26 09:26] Farquaad commented on #526
GET /services/t1/t1.1/t2.1/t3.1/...
get("/services/*", controller::getServicesForType);

Than in the handler I can handle with
ctx.splat(0)!!.split("/")

This way I have a List representation of the provided type hierarchy in the handler, but since the depth of the hierarchy is unknown (and may 'infinit'), I cannot use a definite representation in the route definition.

[2019-07-26 09:36] tipsy commented on #526
I see. For now, you could do this:

[code]

Maybe it should be added back though. Could you elaborate a bit on what your use case is? I've been writing web servers for a long time, but I've personally not found a use for this.

[2019-07-26 18:37] tipsy commented on #138
[code]

[2019-07-26 19:55] Farquaad commented on #526
Thanks for the fast reply!

About my use case: I have service resources, and each service has a type. A type is a complex type chain, eg. aaa/bbb/ccc/ddd/... and there are use cases, when I have to handle a group of services, lets say: aaa/bbb/ccc/* together: delete or set them.

Since the client does not know the necessary depth of this chain, I wanted to implement a solution, where the depth of

[2019-07-26 22:59] tipsy commented on #526
Yeah, this is what I thought of too (except `-` as the separator). These don't really seem like real subpaths (you don't have separate handlers for separate subpaths?) so the use of `/` is a bit misleading.

[2019-07-27 15:23] tipsy opened #683 "Don't compress everything (add mime-type filter)"
Test for

- [ ] Image
- [ ] Audio
- [ ] Pre-compressed file (.br/.gz/whatever the correct file format is)

[2019-07-27 22:19] #683 closed

[2019-07-27 23:09] tipsy opened #686 "Create simple JMH performance test suite"
It would be nice if we could test the differences in performance between different Javalin versions. We could create a simple test setup like this: https://github.com/orangy/http-benchmarks

Things to include:

* Simple Hello World
* Responses of different lengths (and compressions), both static and dynamic
* Uploads
* Methods that parse information from requests

Things not to include
* WebSocket

[2019-07-28 08:35] tipsy commented on #674
Fix has been released in 3.3.0 now: https://javalin.io/news/2019/07/28/javalin-3.3.0-released.html

[2019-07-28 08:36] tipsy commented on #672
Has been released in 3.3.0 now: https://javalin.io/news/2019/07/28/javalin-3.3.0-released.html

[2019-07-28 08:36] tipsy commented on #671
Fix has been released in 3.3.0 now: https://javalin.io/news/2019/07/28/javalin-3.3.0-released.html

[2019-07-28 19:54] Guglio95 commented on #618
Hi :smile:
Was it fixed? I think I'm still getting the same error:

[code]

I'm getting:

[code]

My pom.xml section:

[code]

Running on openjdk version "1.8.0_222"

[2019-07-31 07:47] m-rossini opened #690 "Any Plans to Support Java Modules?"
Wondering if there is any plans/possibilities to support java modules.

[2019-07-31 10:19] bastman opened #691 "swagger-ui does not get rendered"
**Actual behavior (the bug)**
http://localhost:7000/swagger

Javascript console error "SwaggerUIBundle is not defined"

**Expected behavior**
swagger-ui gets rendered

**To Reproduce**
Steps to reproduce the behavior

1. clone the example repo: https://github.com/bastman/javalin-playground
2. start the app
3. chrome/firefox: browse to: http://localhost:7000/swagger

**Additional context**
Might be

[2019-07-31 10:28] bastman commented on #691
Just updated javalin 3.2.0->3.3.0 . swagger-ui seem to work now.

[2019-07-31 12:06] david-wg2 commented on #691
There was a bug in static files for version 3.2.0, and as you've observed it was fixed in 3.3.0. Thanks for your thorough bug report, it's much appreciated :)

[2019-07-31 12:08] david-wg2 commented on #690
No immediate plans. I imagine it won't do much good until Jetty is modularized? Also, how does this work when it's a Kotlin project?

[2019-07-31 17:37] #691 closed

[2019-07-31 18:53] bluedevil2k opened #692 "Non-Blocking Error on First Static Resource Load"
**Actual behavior (the bug)**
The first time the Javalin server accesses a file in the static file path, set from the config.addStaticFiles() function, there is a non-blocking error thrown in the console.  The server still runs and returns static resources.
![image](https://user-images.githubusercontent.com/473139/62239406-6c034580-b39a-11e9-8913-def002c00294.png)

**Expected behavior**
No error s

[2019-07-31 19:03] tipsy commented on #692
Thanks @bluedevil2k, we'll look into this soon.

@nixxcode probably knows the most about this component at the moment.

[2019-07-31 21:00] nixxcode commented on #692
Thanks for the report. Will have a look :)

[2019-08-01 02:34] nnathan opened #693 "How to use CompletableFuture to set both status and result/json?"
Hi,

I'm trying to understand how to use a CompletableFuture that returns in a handler.

1. I note that ctx.json() can accept a future. But I also want to set the ctx.result() as well based on the result of the future. Is this possible by using a CompletableFuture?

2. Javalin by default has 200 threads in a pool. When a connection is accepted and a handler is called that uses a future, is that th

[2019-08-01 03:10] nixxcode commented on #692
@bluedevil2k I wasn't able to reproduce the problem with the steps you provided.

I tried creating a new folder named "testfolder" under resources, placed a new "subfolder" in it and started the server with

[code]

I then navigated to http://localhost:7070/subpage/ and tried loading a html, image, css and js document, one at a time, restarting the server instance before each load. I didn't get a

[2019-08-01 05:56] MikkelHJuul commented on #659
I will look at it in some time; on vacation for another week!

[2019-08-01 06:02] MikkelHJuul commented on #659
But as I see it, in order to control if the outcome should be oneOf or anyOf, the annotation needs to change in a way that is non-compatible with the current version.
But then again I would suggest pulling the open API annotation and its rendering to another project entirely (there are not so many open API frameworks out there - or in a self-contained module which serves this purpose)

[2019-08-01 07:19] tipsy commented on #693
1: Both json() and result() can accept a future (the json() method just calls the result() method). Could you elaborate a bit on what you mean here?
2: It's fed back into the pool. The async call is managed by a different pool in Jetty.

[2019-08-01 07:22] tipsy commented on #659
Might pull it out eventually, but for now it's easier to keep them in the same project imo.

Maybe I shouldn't be, but I'm more okay with breaking changes to plugins than to the core.

[2019-08-01 07:54] nnathan commented on #693
Please excuse my poor explanation, I'm not too knowledgable about Java or asynchronous programming including different paradigms (callbacks, futures, etc.).

So the example in javalin documentation is in Kotlin and shows this:

[code]

Instead I want to do something like (sorry I don't know kotlin, so I'm going to mix kotlin/java):

[code]

I guess I'm wondering if the above is possible in Java?

[2019-08-01 10:20] david-wg2 commented on #693
Could you answer this @bchristenson ? You're our async poweruser.

[2019-08-01 12:43] tipsy commented on #692
I was wondering if it was related, but I can't really see how. We should account for users who write responses 'manually' though.

Maybe JavalinResponseWrapper should be initialized right before writing the request, not in the beginning if the request life cycle?

[2019-08-01 15:38] #692 closed

[2019-08-02 11:42] nnathan commented on #693
So I stalked @bchristenson github and found a javalin project that showed how to get the result from the future.

Specifically I'm doing the following (in a specific route):

[code]

This seems to work, and exceptions seem to be handled correctly.

I think this can be closed. Hopefully when I load test, there won't be a 200 thread bottleneck limit now that there's a few async calls. I might need t

[2019-08-02 14:33] vladp commented on #485
@tipsy
If you are considering structure suggestions for the book, here are my 2 cents, with the view to target wide audiences without loosing attention to nuances:

Purpose and Overview

Tutorial Section:
    Web Backends
        Introduction
        Architecture overview
        SPA applications
        Multi Page applications
        + All the other sections you already mentioned (WS, Push, etc)

[2019-08-02 14:50] bchristenson commented on #693
@nnathan, you don't want to be using `future.get()` (or `future.join()`) because both of these methods "block" the thread and prevent it from being released back into the pool.  If you are not passing a CompletableFuture to ctx.result/ctx.json, then the asynchronous processing is not being leveraged.

What you likely want to do is use completable future methods to "chain" them together (the two mo

[2019-08-02 14:56] tipsy commented on #485
Thanks for your input @vladp ! I've tried to look at this, but I think it will take a lot of time to complete. I haven't given up on it though.

[2019-08-02 16:57] KhagayN opened #695 "Confused on config.server syntax"
Hello,

I may be not experienced enough with Java lambdas but, I tried the following syntax but, the config.server is not being seen as proper syntax. I am using Java 8

Javalin.create(config -> { config.server() }

[2019-08-02 17:43] tipsy commented on #695
[code]

`server()` also takes a lambda :)

[2019-08-02 19:59] KhagayN commented on #695
Ah, still getting

[code]
Here is the code:

i```
mport io.javalin.Javalin;
import org.eclipse.jetty.server.Server;

public class Testing {
    public static void main(String[] args) {
        Javalin.create(config -> {
            config.server(() -> new Server());
        });
    }
}
[code]

[2019-08-02 20:05] tipsy commented on #695
Yes, the old docs are here: https://javalin.io/archive/docs/v2.8.0.html#custom-server

[2019-08-03 13:32] nnathan commented on #693
So I'm just exploring asynchronous programming paradigm at the moment. I think the cognitive load and programming headaches asynchronous programming brings isn't worth it over say horizontal scaling.

@tipsy  - is it possible to configure the number of threads in javalin thread pool? I know the default is like 200.

[2019-08-03 14:02] tipsy commented on #693
@nnathan yes, you could configure Jetty with thousands of threads if you need to ([jetty docs](https://www.eclipse.org/jetty/documentation/current/high-load.html)).

Even if you have very slow handlers (let's say every operation takes 1 second), you can process almost one million requests per hour with the default config.

[2019-08-03 14:33] vladp commented on #693
@nnathan

Javalin allows to setup a jetty server instance directly, in there you can programmatically path all Jetty acceptable configs.

This function below setups Jetty server with specific number of threads and SSL provider (so that this Javalin instance can service HTTP2)

[code]

[2019-08-04 14:01] #695 closed

[2019-08-04 17:47] m-rossini commented on #474
If you do not mind looking at my PR

[2019-08-06 08:20] yaskor opened #696 "Make bodyValidator extendable"
Would be nice if I could extend the bodyValidator so I can plug 303 or 380 validation in it and/or add additional validation logic.

Something like this:

[code]

[2019-08-06 10:02] tipsy commented on #696
Sounds interesting. Please go ahead and create a PR.

[2019-08-06 12:17] yaskor commented on #696
I would love to, but that kotlin stuff got me confused :-(

[2019-08-08 11:49] bengtbrodersen0042 opened #697 "Use just as Router in AWS Lambda"
Is it possible to use javalin as Router in AWS Lambda to dispatch incoming request to different controller/handler classes within a lambda itself?

[2019-08-08 14:25] tipsy commented on #697
I think it's possible. I know some people have done something similar, but I couldn't find any repo.

[2019-08-08 14:50] tipsy commented on #697
https://github.com/richarddd/aws-lambda-api-gateway-servlet

[2019-08-08 14:50] tipsy commented on #697
Someone just posted this in the gitter chat.

[2019-08-09 06:43] vn7n24fzkq opened #698 "Get jetty java.lang.NoClassDefFoundError"
I used javalin3.0 to  create a restful api.
Normally everything is perfect.
But sometimes occur  a  jetty exception (java.lang.NoClassDefFoundError exception).
When it happend every request just get same error until restart javalin.

Here is my  dependency:tree.
[code]
pom.xml dependencies
[code]
Exception StackTrace
[code]

[2019-08-09 13:14] david-wg2 opened #699 "Emojis not working in JavalinVue on some docker images"
Works on alpine, doesn't work distroless.

[2019-08-09 16:37] mikexliu opened #700 "Is it possible to disable OpenApiDocumentation by default but customize which are enabled?"
Posted on `gitter`:

is there a way to enable them individually when I'm defining OpenApiBuilder.documented(...)? I couldn't figure out a way.

@TobiasWalle @tipsy ?

[2019-08-09 20:39] tipsy commented on #699
Confirmed fixed by https://github.com/tipsy/javalin/commit/a1fa27f17de15fe30fa25483c4a9dcc9be0e617a

[2019-08-09 20:39] #699 closed

[2019-08-10 08:32] tipsy commented on #698
Do you know the steps to reproduce this @vn7n24fzkq ?

[2019-08-10 08:36] tipsy commented on #693
Closing this, but feel free to keep discussing.

[2019-08-10 08:36] #693 closed

[2019-08-10 08:41] tipsy commented on #651
Closing this, but the `INFO` tag is on it so people can easily find it.

[2019-08-10 08:41] #651 closed

[2019-08-10 08:57] tipsy commented on #654
I tried changing `tomcat.addServlet("", "Javalin", app.servlet());` to `tomcat.addServlet("/context-path", "Javalin", app.servlet());`, and Tomcat throws a `NullPointerException` for some reason. Could you create an example repo @Bdthomson ?

[2019-08-10 09:51] vn7n24fzkq commented on #698
Sorry I don't know.
I haven't find the pattern yet.
Most of my routes are look like this one.
[code]

[2019-08-12 09:54] bengtbrodersen0042 commented on #697
n1 thx

[2019-08-12 09:54] #697 closed

[2019-08-12 16:52] TobiasWalle commented on #700
The problem was that the defaults were applied **after** the actual documentation. I created a PR which changes this behaviour so the defaults are applied **before**. With this change your use case is possible.

[2019-08-12 16:53] TobiasWalle commented on #700
Please check out the test for an example
https://github.com/tipsy/javalin/pull/705/files#diff-7d30c95da986378e40bfafd1fe37a1ff

[2019-08-12 17:04] #700 closed

[2019-08-12 18:38] mikexliu commented on #700
@TobiasWalle
Awesome! Thank you!

[2019-08-13 13:19] jorunfa opened #706 "Using JavalinVue with bazel does not pick up changes to src files"
**Actual behavior (the bug)**
Building with Bazel and Maven causes different behaviours when using `JavalinVue`. https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/plugin/rendering/vue/JavalinVue.kt#L29 will return a `jar:file:/...` with Bazel where it might return a normal `file:/...` using Maven.

Because of this the file is always loaded from the jar on Bazel and the server h

[2019-08-13 16:12] tipsy commented on #706
As we discussed earlier, I think something like

[code]

Would be a good solution.

[2019-08-14 17:34] #706 closed

[2019-08-14 21:09] pwittchen opened #709 "Problem with OpenAPI plugin (Java+Annotations)"
I tried to use kotlin-openapi3-dsl plugin with Javalin according to this documentation: https://javalin.io/plugins/openapi

In my sample class here: https://github.com/pwittchen/money-transfer-api/blob/master/src/main/java/com/pwittchen/money/transfer/api/controller/AccountController.java

I added annotations as follows:

[code]
and I registered plugin:

[code]

Then, when I open ReDoc, I see the

[2019-08-14 22:25] tipsy commented on #709
Thanks for your thorough issue @pwittchen !

@TobiasWalle is the openapi expert, so I'm going to ping him yet again 👼

[2019-08-15 10:10] TobiasWalle commented on #709
@pwittchen Thank you bringing up this issue

I was just able to reproduce it. I let you know once the fix ist ready.

[2019-08-15 10:12] pwittchen commented on #709
Thanks for your time! I appreciate it. :-)

--
Piotr Wittchen,
http://wittchen.io

czw., 15 sie 2019, 12:10 użytkownik Tobias Walle <notifications@github.com>
napisał:

[2019-08-15 10:22] TobiasWalle commented on #709
Okay @pwittchen I found the issue :)
The problem was that the given path was not correct. If you change the annotations of `getOne` and `delete` to the following, everything works as expected:

[code]

But we can probably give some tipps in the error message, to make this error easier detectable in the future.

[2019-08-15 11:23] TobiasWalle commented on #709
I created the PR which prints the following error message in your error case:
[code]

[2019-08-15 11:29] pwittchen commented on #709
Thank for finding source of the problem so quickly. I think improving error message will help a lot in diagnosing similar problems in the future.

[2019-08-15 12:01] pwittchen commented on #709
It's also worth to mention in documentation or in the log messages/warnings that fields of the objects used by the API must be public. Otherwise they won't be rendered in the json schema. I didn't know that, but just figured it out :-).

[2019-08-15 17:19] dherges commented on #709
Migrating from v2:

[code]

Looks as if OpenApiBuilder requires that `crud()`  handlers are documented. Is it intended?

https://github.com/tipsy/javalin/blob/2359c3ff88d626d40ae208fce5689b08befac043/src/main/java/io/javalin/apibuilder/ApiBuilder.java#L492-L493

[2019-08-16 04:45] vn7n24fzkq commented on #698
Since change to javalin3.4.
This problem doesn't happen again.

[2019-08-16 07:51] tipsy commented on #698
That's odd, but okay. I will close the issue then.

[2019-08-16 07:51] #698 closed

[2019-08-16 09:53] TobiasWalle commented on #709
@dherges No it's not. Thanks for pointing this out. I will fix the issue later.

[2019-08-17 09:27] TobiasWalle commented on #709
@dherges The problem was that you probably used an extended class as a crud handler. As I found out, there were several issues with extended classes.

I created a PR which should fix your problems with the crud handler.
https://github.com/tipsy/javalin/pull/712

[2019-08-20 05:45] TobiasWalle commented on #709
I think this can be closed

[2019-08-20 07:18] tipsy commented on #709
Thanks @TobiasWalle, I forgot about it.

[2019-08-20 07:18] #709 closed

[2019-08-23 13:12] MikkelHJuul commented on #659
Hey Tipsy, I have a bunch of commits ready to fulfill this feature request.... but I'm not really sure how to create a remote branch, so I can push and do a PR, am I looking at this the wrong way?

[2019-08-23 14:11] tipsy commented on #659
Fork the repo, create a branch and publish it. Once you've done this, a "create PR" button will appear in the github web ui.

[2019-08-23 22:13] rococode opened #714 ""Body already consumed, and was too big to cache.""
Could someone explain what this actually means?  I'm having trouble understanding it.

This seems to imply it's possible to not have an error on too-big request body by not consuming it - is that actually possible?

Currently to bypass this I've set the cache to be 1MB. This seems like a wrong fix. Is there a correct way of handling large requests? I noticed #116 & #135 mentioned configuration to

[2019-08-23 22:50] mikexliu opened #715 "Vulnerabilities found in veracode scan"
My company uses veracode to try to find vulnerabilities. The following are some of the issues found. Would be great to just take a look quickly to let me know if they are real issues or false positives. If they are real issues, it would be good to create follow up issues to resolve them.

- io/javalin/http/Context:291: http://cwe.mitre.org/data/definitions/384.html
- io/javalin/http/Context:371: h

[2019-08-23 23:06] tipsy commented on #714
You're reading the request body more than once. This usually happens if you try to log the request body, or if you forget to store the body in a local variable.

I'm not sure if I'm following. If you don't read it twice, there won't be any problem. You can handle any size request bodies.

If you want to read it twice, it has to be cached, so either you have to increase the cache size, or only read

[2019-08-23 23:08] tipsy commented on #715
I had a quick look through, and they all look like false positives. The flagged methods/lines don't do anything other than call the underlying servlet API. I'll have a closer look tomorrow.

[2019-08-23 23:13] rococode commented on #714
Ohhh, I didn't understand what was meant by "consuming" it (I assumed the consuming was being done automatically in some step as the request was received). Didn't realize that my logging of the request was reading the body (obvious in retrospect..), so I'll make the appropriate changes and store it in a variable now. Thank you!

[2019-08-23 23:13] #714 closed

[2019-08-24 07:16] tipsy commented on #714
No problem!

[2019-08-24 08:58] tipsy commented on #715
Javalin doesn't use `AbstractPlatformRandom` (or any random), so you can disregard those (maybe you should create a ticket with Jetbrains to see if it's an actual bug though).

For the vulnerabilities found in `Context`, all of them are just calling the underlying `javax.servlet` API, so there's nothing Javalin can do to "fix" those (you could always circumvent whatever Javalin does by calling the

[2019-08-24 21:19] mikexliu commented on #715
Oops! Forgot to add the line number to OpenApiBuilder. I'm not at work now and I'll be traveling next week. I'll update this in a week or so. Thanks @tipsy for taking a quick look!

[2019-08-26 08:51] jorunfa opened #719 "Mismatch between docs and implementation for `.check{ ... }` method?"
The docs state
[code]

![image](https://user-images.githubusercontent.com/1413275/63675256-b08ecf00-c7e8-11e9-8087-65e6959b2e53.png)

But you have to use `check({ it > 4})` (note the parenthesis around the lambda).

[2019-08-26 08:52] jorunfa commented on #719
Assuming the docs hold the correct behaviour this PR fixes the issue: #720.
If this is not the desired behaviour I can close that PR and instead make a PR to change the docs.

[2019-08-26 20:42] tipsy commented on #719
The docs are wrong in this case.

[2019-08-27 15:54] khagayNag opened #721 "Create Javalin object in Scala"
Hi,

Would it be possible to create a Javalin object in Scala? I used a similar syntax as the docs explain with Kotlin but, that didn't work. Do I need to handle the Consumer/Supplier java classes manually?

[code]

[2019-08-28 11:04] maxemann96 opened #722 "OpenApi Plugin Improvements"
Javalin creates a basic documentation for all paths added to the Pathmatcher. If I enable cors for all origins, a basic documentation is added
[code]

Now I want to document or drop this section from documentation, how can I do that?
Also this is not valid OpenApi 3.0 because the response section is missing (see [OpenApi Spec. Operation Object](https://github.com/OAI/OpenAPI-Specification/blob/mas

[2019-08-28 12:12] MikkelHJuul opened #723 "javalin.io openapi plugin errors"
on https://javalin.io/plugins/openapi
the dependencies listed are
<dependency>
    <groupId>io.swagger.core.v3</groupId>
    <artifactId>swagger-models</artifactId>
    <version>2.0.8</version>
</dependency>
<dependency>
    <groupId>cc.vileda</groupId>
    <artifactId>kotlin-openapi3-dsl</artifactId>
    <version>0.20.1</version>
</dependency>

should be
<dependency>
    <groupId>io.swagger.core.

[2019-08-29 09:44] Peroniada opened #725 "Optional request header validation"
**Describe the feature**
Hello, I think it would be nice to have an option to validate request headers, as it would make easier to handle request headers data. It would enable object mapping and make easier to check if client provided valid data in custom headers i.e. determine valid version of provided UUID.
PR: #726
**Additional context**
[code]

[2019-08-29 10:00] osmundf commented on #690
If all the dependencies have their module-info.class, then it should be is as easy as adding module-info.java to Javalin's source.

There are dependencies that currently make it impossible to compile using IntelliJ's built in compiler; I mention this for completeness sake (https://youtrack.jetbrains.com/issue/IDEA-171320).  I'm blocked at the moment by auto-modules, and not by this bug.

[2019-08-29 16:03] osmundf commented on #690
I stand corrected.  I tried a simple Kotlin project and only got the module-info.class added to the jar with a tool plugin. With other attempts Kotlin and/Maven only stopped complaining about modules and/or module-info.java when changing the Java source version, which meant that the artifact could no longer be used as a dependency in a project running JRE8.

I also noticed that the Kotlin standard

[2019-08-30 16:37] #725 closed

[2019-08-30 16:48] tipsy commented on #721
I found this by searching for `Javalin.create` and `scala` as the target language on GitHub: https://github.com/tatsuworks/scalarss/blob/1d532de3be2df98184782f36589e583814a7d6eb/src/main/scala/it/xaan/rss/Main.scala

[2019-08-30 17:01] tipsy commented on #723
You can update the docs page at https://github.com/javalin/javalin.github.io/blob/master/pages/plugins/openapi.md (you can edit the page directly on GitHub).

[2019-08-30 17:23] hemfridsvagen25 opened #728 "OpenApi and Auth"
Hi
I have tried the new OpenApi plugin. And Without security enabled it works wonderful
But when I turn on security and add `.roles(setOf(ApiRole.MYMASTER))`
It only works for the path for json (`"/swagger-docs"` in the examples)
both swagger and redoc gets unautorized as an answer.
Am i missing somethin or is it a bug ?  I am using Kotlin if that makes any difference.

I also have another questio

[2019-09-01 07:54] tipsy commented on #722
@maxemann96 If @TobiasWalle didn't built it in, maybe there should be an option to exclude paths?

[2019-09-01 08:13] tipsy commented on #728
That does sound like a bug. Could you share your `AccessManager` implementation ?

That also sounds weird, please share your `AccessManager`. Maybe you could create an example repo?

[2019-09-01 08:40] tipsy commented on #728
@TobiasWalle I will try to have a look at this one myself :)

[2019-09-01 12:02] maxemann96 commented on #722
There is already a way to hide paths (ignore = true in Annotations or ignore() method in DSL handler). But this cannot be used by paths added by plugins (like the CorsPlugin) or other "externally" added paths.

I think it would be better that I can myself add documentation to "externally" added paths, one way would be to make handlerMetaInfoList in OpenApiHandler public or something like that.

Se

[2019-09-01 13:06] tipsy commented on #723
Thanks @maxemann96 !

[2019-09-01 13:06] #723 closed

[2019-09-01 13:16] tipsy commented on #722
Yeah, the other plugins can't know about the OpenAPI plugin, so having an option to modify the `handlerMetaInfoList` sounds like an okay solution. I don't mind making the list public, please feel free to create a PR.

I don't understand this paragraph (my OpenAPI knowledge is lacking). This sounds more like a general problem than something related to CORS ?

[2019-09-01 13:19] hemfridsvagen25 commented on #728
Hi
Made a small example single file project.
Problem with securiy seems to be that permitted roles is empty for /swagger and /redoc paths
adding plugin in apply seems to miss some initialisation ? this second problem is not a big problem. But the security thing is preventing me from using it in customer facing parts

`package testing

import io.javalin.Javalin
import io.javalin.core.security.Role

[2019-09-01 13:20] hemfridsvagen25 commented on #728
sorry about formatting.
Something happend that killed the source marks

[2019-09-01 13:23] maxemann96 commented on #722
Yes, this is a separate problem not regarded to the cors plugin. OpenApi wants to have a responses object for each path added, containing at least one response which should be a positive response (200 <= response code <= 299).

I will create this in the next days, also checking in the cors plugin, if the openapi plugin is present and automatically add the correct documentation.

[2019-09-01 13:25] maxemann96 commented on #722
@TobiasWalle Do you have a better idea regarding to `handlerMetaInfoList`?

[2019-09-01 13:28] tipsy commented on #728
Thanks @hemfridsvagen25, I'll have a look soon !

[2019-09-01 14:33] TobiasWalle commented on #722
@maxemann96 I already thought about this problem but I didn't have time to implement it.

My preferred solution would be if you could exclude paths from the documentation via the Plugin configuration. For example:

[code]

Then we could filter out all the documentation for the matching paths without tinkering with internal objects.

If we want to override or set some documentation we could do it t

[2019-09-01 14:37] TobiasWalle commented on #722
I intentionally didn't include any checks if the swagger definition ist correct, because that would be out of scope of this plugin. If we want to check the generated file, we should use an official library that does that. As the we use the original OpenAPI class, this shouldn't be much of a problem.

But the default should be correct, maybe we can add a default 200 Response if the user didn't defi

[2019-09-01 16:51] maxemann96 commented on #722
@TobiasWalle I created a work in progress pullrequest for this, pls checkout the checklist.

I also think that a check is out of scope. Maybe we can check the generated json with the [Specification Schema](https://github.com/OAI/OpenAPI-Specification/tree/master/schemas/v3.0) and log a warning?

We can add a default 200 with the hint (in generated json and log) that the documentation is missing (o

[2019-09-01 18:20] TobiasWalle commented on #722
@maxemann96 I checked out your list and updated it a little bit. All Features should be tested.

- [ ] Add OpenApi documentation to the CORS Plugin (I don't think disabling it is necessary, as it has no disadvantage)
- [ ] Add default 200 response, if no response is defined
- [ ] Add `ignoreDocumentation` and `ignoreDocumentationWithPathPrefix` Api
- [ ] Add `overrideDocumentation` Api
- [ ] Warn

[2019-09-01 21:13] tipsy opened #730 "Replace Travis with GitHub actions ?"

[2019-09-02 09:23] #719 closed

[2019-09-02 13:02] NitishBangera commented on #485
This is a great initiative. I am interested as well. Along with the topics, please do include integration with databases, queues, etc. As Javalin is mostly will be used for microservices due to its small footprint, the inclusion of these will be great.

[2019-09-03 13:44] khagayNag commented on #658
The above doesn't seem to be overriding that Jetty property. Are there any other recommendations or if this override is even possible?

[2019-09-03 15:48] khagayNag commented on #721
Thanks!

[2019-09-03 15:48] #721 closed

[2019-09-03 17:03] khagayNag opened #731 "Overriding Javalin server"
When trying to override the underlying server, the overrides don't seem to work b/c the `.getConnectors()` returns an empty array. Should I be manually setting those <b>connectors</b>? If so, are there examples on how to do so.

    public static void main(String[] args) {
        Javalin.create(config -> {
            config.server(() -> {
                Server server = new Server();

[2019-09-03 17:46] tipsy commented on #731
@khagayNag I'm not sure about that, this is more a Jetty question than a Javalin question. Try googling with that in mind ("thing you're wondering" + embedded jetty).

[2019-09-03 18:23] maxemann96 commented on #722
Since i cannot edit your comment (so i cannot "tick" the feature list), heres a copy:
- [ ] Add OpenApi documentation to the CORS Plugin #732
- [ ] Add default 200 response, if no response is defined
- [ ] Add ignoreDocumentation and ignoreDocumentationWithPathPrefix Api
- [ ] Add overrideDocumentation Api
- [ ] Warn about invalid openapi schemas

[2019-09-04 12:26] maxemann96 commented on #722
@tipsy When do you plan to release the next version? Then i will try to finish this issue due the date :)

[2019-09-04 15:07] tipsy commented on #722
I haven't set a date yet. Would be nice if it could be out in a couple of weeks?

[2019-09-04 15:28] maxemann96 commented on #722
Ok, i try to finish this in <2 weeks

[2019-09-05 08:24] #715 closed

[2019-09-05 08:26] #731 closed

[2019-09-05 08:45] tipsy commented on #728
@hemfridsvagen25 You shouldn't modify `app.config` like this, you should always supply your config to `Javalin.create`.

[2019-09-05 09:01] #728 closed

[2019-09-05 09:03] tipsy commented on #728
@hemfridsvagen25 I found the auth bug, fix will be included in the next version.

This is not an "official" way of using Javalin, I added a comment about manipulating the `app.config`. Why do you need to do it?

[2019-09-05 16:16] hemfridsvagen25 commented on #728
Thanks !

The reason for apply comes from an old example for version 2.x
So when we migrated to 3.x it stayed as apply
Second reason is we allow customers to reconfigure on the fly. and then we only do a stop and start of javalin instead of recreating it.  But I can absolutely live with plugin setup in create.
Once again thank you for your fast solution to the auth problem.

Mats

[2019-09-05 18:43] tipsy commented on #728
You're very welcome. I'll ping this thread when the new version is out.

[2019-09-05 20:57] alex007xy opened #735 "Javalin (and Sparkjava) design patterns: singleton, static"
Hi there,

for some days now I played around to use Sparkjava in a new project (to create some web pages with some web services, as a lightweight alternative to Spring). After a while I found out that Sparkjava has been let's say re-designed - by the former developer of Sparkjava. Since I do not want to use Kotlin, nor want to use Gradle, I thought I should stick to Sparkjava. The only thing which

[2019-09-05 21:25] tipsy commented on #735
Welcome @alex007xy !

I was a maintainer of Spark for a while, but I am not the main author. I stopped working on it some time after I started working on Javalin.

Javalin itself uses Maven, and it works just like any Java dependency. It's written in Kotlin, but you don't notice that when you use it with a Java project.

Not at lot has been happening with Spark for the past few years. There is a p

[2019-09-05 22:21] alex007xy commented on #735
Hi David, that was a **really** fast answer. Thank you very much.

[2019-09-05 23:17] rbygrave commented on #735
Sorry to butt in, if this question was not so much about Javalin static methods and singletons but more about "controllers" with static methods along the lines of testability and how dependency injection (manual or automatic) improves the testability of controllers.

If that was the line of your question then you can look at https://dinject.io/docs/javalin/ which uses code generation for DI of Jav

[2019-09-06 08:35] alex007xy commented on #735
Rob, thank you for pointing me to dinject, I will have a closer look later.

[2019-09-06 09:23] alex007xy commented on #735
David,

I want to ask again regarding the singleton approach.
Let's take your websocket example, maybe not the best to show my concerns
[code]
1. we have a singleton (class Main)
2. ws.onMessage is within a static method

What happens, if my static method broadcastMessage() is called again (because it's a webserver) before it could finish to do some calculations and write to an object within those

[2019-09-06 14:38] tipsy commented on #735
There is no way to start a Java program without a `public static void main(...)`, but that doesn't mean Javalin is static. You could put the Javalin code from your example in a class called `JavalinApp`, and then start it like this:

[code]

But every single Java program needs a `public static void main(...)`, as the main entry point.

I have a busy weekend ahead, but I can try to get back to you

[2019-09-07 06:01] NitishBangera opened #737 "Need bodyAsType along with bodyAsClass"
When we deserialize the post data within a controller, we use Context.bodyAsClass. This supports only top-level classes but if we have List<POJO> or Set<POJO> or POJO{List<SubPojo>}, then the bodyAsClass doesn't deserialize it properly and fails in the code. It would be great to have bodyAsType and include Gson's TypeToken as the base Type so that we do the deserialize in an efficient manner withi

[2019-09-07 08:07] tipsy commented on #737
Welcome @NitishBangera ! I don't want there to be a hard dependency on any of the serializers (Jackson, GSON, etc), so unfortunately this can't be included.
If you're using Kotlin you can do `ctx.body<List<MyObject>>()`, but I guess you're on Java?

[2019-09-07 09:33] NitishBangera commented on #737
Hello David,

Thanks for your reply. Yes, I am using Javalin for a Java Project along with DInject as my DI framework. This isn't just a problem with List<MyObject>. Rather than building a hard dependency, how about we create a builder i.e. HttpServer.addSerializer. With a specific Interface of Serializer in Javalin, any dev can mention the serializer and deserializer that they want into the frame

[2019-09-07 10:52] Playacem commented on #730
Found [this repository with GitHub actions for Maven](https://github.com/bas/mvn) after a quick search.  Might have to create something ourselves to use the Maven wrapper we have here in the Javalin repository.

[2019-09-07 18:37] maxemann96 commented on #737
This should work as in fact that lists and sets are arrays in json:
[code]

[2019-09-08 06:56] tipsy commented on #737
@NitishBangera How do you propose the interface looks? Since this works out of the box in Kotlin, I'm a bit wary of adding a specific approach just for Java.

If the goal is to add it to DInject, you could use a Context extension:

[code]

[2019-09-08 06:57] tipsy commented on #730
Thanks a lot for looking into this @Playacem. Are you able to make a pull request for an action setup?

[2019-09-08 07:51] NitishBangera commented on #737
Hello David,

My proposal for the interface is as below

`public interface Serializer {
  <T> T deserialize(final String json, Class<T> clazz);

  <T> String serialize(T object);
}`

Well, I am just wondering how does it work out of the box in Kotlin? It has to have a default deserializer for this. I do agree that the specific approach shouldn't be just for java. I would relay your suggestion on M

[2019-09-09 09:06] CarloWakefield opened #739 "Can't attach sources to Javalin code in IntelliJ"
I am trying out Javalin in a Java project. I am using IntelliJ in version IntelliJ IDEA 2019.2.2. I have the Kotlin plugin enabled.

However, when trying to see the source code of Javalin I'm stuck with the decompiled code:
![image](https://user-images.githubusercontent.com/16901569/64517768-42bacb00-d2f1-11e9-84a6-9189757d5fc4.png)
The sources jar has been downloaded and I try to attach it to the

[2019-09-09 15:29] tipsy commented on #739
Does this only happen with Javalin?

[2019-09-09 15:36] tipsy commented on #737
We already have this as two interfaces @NitishBangera:

[code]

It's used by `JavalinJson`:

[code]

`JavalinJson` is then used by `Context`.

What would your additional interface accomplish?

[2019-09-09 20:04] CarloWakefield commented on #739
Yes, it happens only with Javalin.
With slf4j-api-1.7.26.jar for example it is working fine.

[2019-09-09 20:24] CarloWakefield commented on #739
It seems like I haven't had the Kotlin plugin enabled though.
After enabling it, it's working now.
(However, some JavaDoc is missing, as mentioned in https://github.com/tipsy/javalin/issues/613.)

[2019-09-09 21:19] rbygrave commented on #737
Just to state that for me I'm not convinced about the need for this at all.  The idea that a post body is a "collection" (JSON array) and not an "object" is as I see it not a good idea, not recommended, not good form.

That is, I think this is trying to solve a problem that should instead be avoided.

[2019-09-10 03:21] travigd opened #740 "Web-Socket Pre-Upgrade Handler"
This is a question/feature request if there's no answer.

Is there a way to do things before connection (e.g. during the upgrade phase)? For example, I'd like to return a 400 if a certain query parameter is unspecified, or do some authentication (returning a 401 if it fails), as well as determine the requested WebSocket protocol.

Thanks!

[2019-09-10 06:16] tipsy commented on #740
Hi @travigd. If I remember correctly, you can use the `AccessManager` for this. At least for the 401.

[2019-09-10 08:18] Playacem commented on #730
Sadly I am not in the GitHub actions beta yet, so I can't make a pull request. Will do a pull request when I have access and some time next week.

[2019-09-10 13:08] alex007xy opened #741 "unexpected call to Jackson"
**Actual behavior (the bug)**
Jackson is invoked for unclear reasons

**Expected behavior**
- program should work like javalin-websocket-example-master
- Jackson should not be invoked (not used in pom.xml)
- gradle should not be invoked (not used because Maven is used)

**To Reproduce**
use the example classes this way:
[code]

**Additional context**
Exception and errros:
[code]

[2019-09-10 13:25] alex007xy commented on #741
@David: maybe we should leave this issue here if anybody else runs into the same problem
I got it after debugging, need to call
`ctx.send(jsonResponse.toString()); // correct`
insteas of
`ctx.send(jsonResponse); // wrong!!`
in this case my call hierarchy is:
[code]

[2019-09-10 13:30] jorunfa opened #742 "Possible problem with JavalinVue when using Location.EXTERNAL - not closing files?"
**Actual behavior/steps to reproduce (the bug)**

1. Set external location
[code]

2. (have a large number of `.vue` files in `/vue` folder)

3. Run something that produces a lot of requests, e.g. scenario tests

4. Produces `java.nio.file.FileSystemException: [...]/src/main/resources/vue: Too many open files` exception

https://gist.github.com/jorunfa/4278f4d0c231d7b54d3348464689d94d

I'll try to

[2019-09-10 14:17] david-wg2 opened #743 "Make JavalinVue fail on unknown components"
[code]

[2019-09-10 14:47] david-wg2 commented on #743
[code]

[2019-09-10 15:41] tipsy commented on #741
@alex007xy, the docs state: `ctx.send(object) // send an object as JSON (string message)`. Should it be clearer that it uses `JavalinJson` to serialize?

It doesn't need to use Jackson, you could set the JavalinJson object mapper yourself. Jackson is just the default.

[2019-09-10 16:12] #743 closed

[2019-09-10 16:17] tipsy commented on #730
Great, looking forward to it!

[2019-09-10 16:18] tipsy commented on #739
Thanks @CarloWakefield, everything is working then. I'll ping the other issue :)

[2019-09-10 16:18] #739 closed

[2019-09-10 16:18] tipsy commented on #613
@nixxcode any update on this?

[2019-09-10 16:29] tipsy commented on #735
As I wrote earlier, every single Java program has to have a `public static void main` method, but that doesn't make the class a singleton.

That's fine! Everything is always "inside" a `public static void main` - that's not bad.

You're not trapped. You don't have to make `broadcastMessage` static, it's just more convenient because the example is one file. You can pull all the content from `Main.j

[2019-09-10 16:29] #735 closed

[2019-09-10 16:35] tipsy commented on #740
@travigd, 401 can be handled by the `AccessManager`, but AFAIK most people use `wsBefore` (handling auth only during the upgrade isn't always sufficient, since connections are stateful).

I'm trying to clean up a bit, so I'll close this, but feel free to keep commenting.

[2019-09-10 16:35] #740 closed

[2019-09-10 16:36] tipsy commented on #696
I'll just close this, if there's interest it'll be created again.

[2019-09-10 16:36] #696 closed

[2019-09-10 17:06] travigd commented on #740
Thanks for the response but that's still only half of my question. :^)

Is there any way to intercept the upgrade request and do things before the upgrade is completed (like return a 400)?

[2019-09-10 17:18] tipsy commented on #740
:^) :^) :^)

The HTTP Servlet ignores WebSocket upgrade requests, but the WsServlet runs the current `AccessManager` to check if the upgrade is okay. This means you get a 401 if the request doesn't get through, but you can't send back something arbitrarily, like a 400.

To be more clear: No, it's not possible to manually intercept upgrade requests and send back customized responses.

[2019-09-10 18:16] KhagayN commented on #658
For future users, the following worked:

[code]

[2019-09-10 18:28] alex007xy commented on #735
David, Thank you for your kind comments.

[2019-09-10 18:34] alex007xy commented on #741
Again I took a look at the documentation, I have overseen "Configuring the JSON mapper".
Thank you for your kind comments!

[2019-09-10 18:43] tipsy commented on #741
You're very welcome!

[2019-09-10 21:40] nixxcode commented on #613
@tipsy Sadly not, Dokka hasn't been updated since I originally had a look at the issue.

To generate Javadoc for Kotlin files at present, you'd need to do a release running the development build of Dokka, which is not published on Maven.

Or you'd need to change your release process to include and sign pre-generated Javadoc. Both of these options add a lot of complexity.

[2019-09-10 21:48] tipsy commented on #613
Thanks for the update, I'll be patient :)

[2019-09-10 22:21] nixxcode commented on #613
Always happy to help out where I can!

[2019-09-11 08:58] jorunfa commented on #742
It seems to happen if I run the scenario tests sequentially too, not just when running them in parallell, it just takes longer time. So maybe either files are not being closed as they should be, or the amount of files just makes it so that requests are opening files faster than it's able to close them.

[2019-09-11 13:38] jorunfa commented on #742
I think you're completely right.
[code]

Seems to have done the trick.

[2019-09-11 15:46] tipsy commented on #742
Could also add `.also { s.close() }` to the current code:

[code]

I'm not really against using `Files.readAllBytes(this).toString(charset("UTF-8"))`, I'm just wondering if it will behave the same in all the different environments, so closing the scanner seems safer.

[2019-09-11 19:24] tipsy commented on #356
Sure, that would be great!

[2019-09-11 19:27] NitishBangera commented on #737
Well if I have a Post to update multiple objects, the post data will be a list. Also, I did try encapsulating it in a parent Pojo but it still gave me the error that a LinkedHashMap cannot be directly deserialized to the Pojo when it was in a Collection. I have the code uploaded to https://github.com/NitishBangera/JavalinTest to test as well. Well not sure why it's been thought that the scenario s

[2019-09-12 05:39] tipsy commented on #722
@maxemann96 can you rename this issue to reflect the remaining work?

[2019-09-12 07:59] jorunfa commented on #742
`readAllBytes` seems to work fine in distroless Java container (which was where we had a problem before).

I have very little experience with the `Scanner` class, so I'm not sure, but it seems like one of its primary purposes is scanning for input, i.e. from user input through `System.in`, but of course other sources are also possible. E.g.:
[code]

We always read the full .vue file. readAllBytes

[2019-09-12 17:31] tipsy opened #746 "Consider moving OpenAPI plugin to a separate repo"
I don't want to move it right away, but I think it makes sense to move it out eventually. @TobiasWalle @maxemann96, thoghts?

[2019-09-13 13:31] david-wg2 opened #748 "Make ctx.basicAuthCredentials check for presence of "Basic" prefix"

[2019-09-13 14:21] TobiasWalle commented on #746
@tipsy I also think this is a good idea to make a separate package for the OpenApi Plugin.

But before that we need to extend the plugin system so we can remove all references from Javalin Core. Unfortunately I won't have much time in the next few months to make any contributions.

Maybe we could also consider a Monorepo?

[2019-09-13 22:28] tipsy commented on #748
Closed by https://github.com/tipsy/javalin/commit/c6405d663341891f2fe0a8da0aa84617603170c5

(@gi-wg2)

[2019-09-13 22:28] #748 closed

[2019-09-15 11:17] Alexey1Gavrilov commented on #556
Please have a look to a proposed changes to the Maven structure https://github.com/tipsy/javalin/pull/749

[2019-09-15 16:07] Guglio95 opened #750 "OpenApiOptions fails to work without jackson-module-kotlin"
**Actual behavior (the bug)**
Hi, I'm trying to use Gson as serializer but i get

[code]

It gets working if I include the above pom.xml dependency.

**Expected behavior**
I specified an alternative `ToJsonMapper` with `Gson` so I excpected it to use the specified serializer instead of jackson.

**To Reproduce**
[code]

**Additional context**
It's the same issue reported [here](https://github.com/

[2019-09-15 17:33] tipsy commented on #722
@maxemann96 is this done now?

[2019-09-15 17:41] tipsy commented on #750
I'm not sure OpenAPI uses `JavalinJson`, there might be a similar class you'll need to configure the mapper for.

[2019-09-15 17:44] tipsy commented on #746
Yeah, maybe a separate module is better than a separate repo. Like the PR for a test module: https://github.com/tipsy/javalin/pull/749

[2019-09-15 18:17] maxemann96 commented on #722
Yes, all things done

[2019-09-15 18:17] #722 closed

[2019-09-15 18:19] tipsy commented on #722
Perfect, great work!

[2019-09-16 00:23] bensullivan opened #751 "Jetty JMX"
Hi

I need to switch on Jetty JMX for New Relic Thread APM.  I've been pointed here:

https://www.eclipse.org/jetty/documentation/current/jmx-chapter.html

Is there a Javalin way of achieving this?

Many thanks

Ben

[2019-09-16 06:30] tipsy commented on #751
Follow the instructions for embedded jetty, rhsb pass the configured server to javalin via config.server. That should work, I think.

[2019-09-16 07:08] tipsy commented on #751
[code]

[2019-09-16 07:45] bensullivan commented on #751
Great- thanks!

[2019-09-16 14:55] huornlmj opened #752 "Does this project use any static analysis tools?"
Does this project use any static analysis tools?

[2019-09-16 14:55] tipsy commented on #752
No, why?

[2019-09-16 14:57] huornlmj commented on #752
Just reviewing security practices.  Have you considered Scan.Coverity ?

[2019-09-16 15:09] tipsy commented on #752
Not really, this is mainly a DSL on top of jetty, but I'm not opposed to adding something just to make sure :)

[2019-09-17 15:48] vn7n24fzkq opened #753 "How can I set role premission for Rendering docs"
I have some problem with OpenAPI Plugin.
Here is a part of my code
[code]
But it only set role permissions on path "/swagger-docs",
"/swagger" seems can't set any role permission.

[2019-09-17 15:49] tipsy commented on #753
The same role should apply to all of them. There was a bug where this didn't work before 3.5.0, but it should work on the latest version.

[2019-09-17 16:07] tipsy commented on #751
I'm going to go ahead and close this now, let me know if you have any issues.

[2019-09-17 16:07] vn7n24fzkq commented on #753
Thanks !
I change to Javalin 3.5 and  swagger-ui 3.23.8
It is works perfect for me.

And the version of swagger-ui may need to be updated.
https://javalin.io/plugins/openapi#rendering-docs

[2019-09-17 16:07] #751 closed

[2019-09-17 20:19] tipsy commented on #753
You're welcome. I've bumped the version in the docs!

[2019-09-17 20:19] #753 closed

[2019-09-18 17:14] #730 closed

[2019-09-19 15:17] sealedtx opened #756 "NoSuchMethodError in Java"
Hi, thank you for your great work on javalin.
I have an issue with kotlin method called from java:
`java.lang.NoSuchMethodError: 'byte[] kotlin.io.ByteStreamsKt.readBytes(java.io.InputStream)'
	at io.javalin.http.util.MultipartUtil.getUploadedFiles(MultipartUtil.kt:21)
	at io.javalin.http.Context.uploadedFiles(Context.kt:145)
	at io.javalin.http.Context.uploadedFile(Context.kt:141)
	at com.incores

[2019-09-19 15:30] tipsy commented on #756
Looks similar to this: https://stackoverflow.com/questions/56616534/javalin-cannot-get-request-body-except-from-httpservlet-directly

Are you using an old version of Kotlin?

[2019-09-19 15:36] sealedtx commented on #756
@tipsy Can you clarify, do I need to include kotlin-stdlib-jdk8 to my dependencies?

[2019-09-19 15:39] tipsy commented on #756
No, you shouldn't have to do it manually. Maybe another dependency is pulling in an older version?

[2019-09-20 08:15] sealedtx commented on #756
@tipsy I just added dependency io.javalin:javalin:3.5.0 as it was [here](https://javalin.io/documentation#getting-started) but error appears. And after I add additionally kotlin-stdlib-jdk8 it works without error.

[2019-09-20 08:29] #756 closed

[2019-09-20 09:35] sealedtx opened #757 "AfterHandler get data of statisFiles"
Hi, I need to modify data of statisFiles in afterHandler to add some additional content to my files. But ctx.resultString() is null at that time.
How can I do this? Or is there any other approach to do this? Thank you

[2019-09-20 09:39] tipsy commented on #752
@huornlmj I tried signing up for Scan.Coverity, but they want me to download something and run it manually, which is a bit more effort than I'd like to put into this. The alternative is to use Travis, which we just got rid of, so that's not very tempting either.

[2019-09-20 09:43] tipsy commented on #757
@sealedtx Static files are handled by Jetty, and Jetty writes to the output stream directly (it doesn't use (`ctx.result()`, but write directly to `ctx.res.outputStream`). What are you trying to add to your files?

[2019-09-20 10:41] sealedtx commented on #757
@tipsy I have html files and need to extend them before send

[2019-09-20 10:47] tipsy commented on #757
What does it mean to "extend" them ?

[2019-09-20 11:00] sealedtx commented on #757
@tipsy Add default parts which are same on some pages e.g. header or sidebar, or localize some part of html before send

[2019-09-20 11:09] tipsy commented on #757
Sounds like you should be using a template engine then: https://javalin.io/documentation#views-and-templates

[2019-09-20 11:57] sealedtx commented on #757
@tipsy But I have my own simple implementation of template engine and want to use it in the way i described, it is possible?

[2019-09-20 12:11] tipsy commented on #757
No, you can't combine static files with dynamic behavior. But you could implement your own `FileRenderer` which reads your files and does the changes you want?

[2019-09-20 12:22] sealedtx commented on #757
@tipsy Can you, please, show example how can I implement FileRenderer which reads html and replace <<maincontent>> with content of second html file, and where should I call render()?

[2019-09-20 12:27] Playacem commented on #757
@sealedtx On how to use the render method please have a look at this example: https://github.com/Playacem/javalin-rocker-example/blob/master/src/main/kotlin/app/Main.kt

Your registered file handler could read the file provided by filePath and with the model you could provide the path to the second html file.

[2019-09-21 14:23] r03 commented on #138
How is that in plain Java? There should be an easier way to set the host.

[2019-09-21 15:15] tipsy commented on #138
@r03 that's just how it works in Jetty. There is a PR for a convenience method, but the test is currently failing. Maybe you can have a look?

[2019-09-21 15:47] r03 commented on #138
This works for me in plain Java: (I'm not a Java/Kotlin developer)

        int port = Integer.parseInt(System.getProperty("PORT", "7000"));
        org.eclipse.jetty.server.Server server = new org.eclipse.jetty.server.Server();
        ServerConnector connector = new ServerConnector(server);
        connector.setHost("0.0.0.0");
        connector.setPort(port);
        server.setConnectors(new Se

[2019-09-21 16:23] tipsy commented on #138
That works fine @r03. You don't need the full package structure though, you can just import the `Server` from Jetty.

[2019-09-21 20:09] sealedtx commented on #757
@tipsy, @Playacem thank you for the answers

[2019-09-21 20:09] #757 closed

[2019-09-21 21:37] tipsy commented on #757
You're very welcome. Let us know if you're having any issues.

[2019-09-22 14:25] vn7n24fzkq commented on #686
Hi, I want to help.
But no idea about how to start.
Create another repo for benchmarks ?

[2019-09-22 14:29] tipsy commented on #686
@vn7n24fzkq, a new repo would be fine for this. I could make one in the javalin organization?

[2019-09-22 14:31] vn7n24fzkq commented on #686
Sure. That sounds great.

[2019-09-22 15:12] tipsy commented on #686
@vn7n24fzkq, I've given you write access to https://github.com/javalin/performance

[2019-09-22 15:13] tipsy commented on #686
I suggest you start by just copying https://github.com/orangy/http-benchmarks, but instead of different frameworks you add different versions of Javalin. This will cover the "Hello World" type test, then we can build on that later.

[2019-09-22 15:30] vn7n24fzkq commented on #686
OK, I will do that.

[2019-09-26 19:29] tipsy opened #759 "Encrypted cookiestore"
See discussion in https://github.com/spinscale/javalin-cookie-session-store/issues/1

[2019-09-27 07:07] fuuqiu opened #760 "Thymeleaf 3 path error"
code:
[code]

[code]
Use the code to succeed:
[code]

[2019-09-27 13:50] tipsy commented on #760
Seems you've solved the issue yourself.

[code]

[2019-09-27 13:52] tipsy commented on #760
Seems you've solved the issue yourself.

[code]

[2019-09-27 14:08] fuuqiu commented on #760
Yes, the result I am currently getting is this. I don't know how to configure it to achieve the usage shown in the official documentation.

[2019-09-27 18:26] tipsy commented on #760
You can replace the whole implementation by registering a new `FileRenderer` with the same extension, or you can submit a PR to fix the issue. I don't know anything about Thymeleaf, so unfortunately I can't be of much help.

[2019-09-27 19:05] SheridanG commented on #654
I am getting same problem with javalin 3.5.0 running standalone as a servlet on Jetty 9.4.12.v20180830.

[2019-09-27 19:13] tipsy commented on #654
@SheridanG Strange that embedded and standalone behave differently. It shouldn't be a difficult fix though, could you have a look?

[2019-09-29 10:18] emmanueltouzery opened #761 "openapi integration idea: less verbosity/more type-safety for simple cases"
cc @TobiasWalle

**Current behavior**
Hello, I'm considering using javalin for a new project. javalin looks awesome, but one issue I see is the openapi support. My plan is to use openapi client-side (typescript) code generation for every REST endpoint, that means I must openapi-annotate every endpoint. The current system that javalin offers is pretty nice, and considerably better than alternatives

[2019-09-29 17:23] maxemann96 commented on #750
OpenApi Plugin (currently) uses not JavalinJson. I will look into making a pr to fix this.

[2019-09-29 18:20] vn7n24fzkq commented on #686
I am already add benchmarks suite.
And I need some advice on different version of javalin in maven.

[2019-09-29 18:30] vn7n24fzkq commented on #686
I am trying to use maven-shade-plugin as a solution, but not sure it will be good idea.

[2019-09-30 10:13] iamkiran opened #762 "How to map properties file to Java File."
i am using the javalin framework for the first time, I am migrating my application to the javalin from spring boot framework.

In my existing project we have declared property in the properties file and mapped properties to Java class using the Spring boot provided @PropertySource annotation.

Is there any similar concepts in Javalin so that we can access the properties using the java instance.

[2019-09-30 10:15] Shahan321 opened #763 "Using OpenApi plugins without registring"
Hi,
I'm new to Javalin but i have a  requirement to implement OpenApi without registring with javalin and produce swagger documentation. How can i implement this please help asap.

[2019-09-30 10:30] iamkiran commented on #762
i am using the javalin framework for the first time, I am migrating my application to the javalin from spring boot framework.

In my existing project we have declared property in the properties file and mapped properties to Java class using the Spring boot provided @PropertySource annotation.

Is there any similar concepts in Javalin so that we can access the properties using the java instance.

[2019-09-30 14:37] tipsy commented on #763
What does "without registering" mean?

[2019-09-30 14:38] tipsy commented on #762
There is no built in support for properties files in Javalin. I suggest you use environment variables: https://12factor.net/config

[2019-09-30 14:51] tipsy commented on #686
Not sure if this is helpful: https://dzone.com/articles/java-classloader-handling

[2019-09-30 14:52] tipsy commented on #686
If you can shade the different versions to contain the version names, that should be okay 🤔

[2019-09-30 14:53] tipsy commented on #750
I think there was a reason why @TobiasWalle didn't use `JavalinJson`, but please have a look anyway. Worst case he'll tell us why.

[2019-09-30 15:05] TobiasWalle commented on #750
The reason why the OpenApi plugin has a separate JsonMapper is because there are some special options that need to be activated for the plugin (NON_NULL). But you can override the mapper with the `toJsonMapper` method.

But this overrides the mapper just for the http endpoint. There is another mapper used by the `JacksonModelConverterFactory`. The `ModelConverter` is used to create the schema and

[2019-09-30 15:44] TobiasWalle commented on #761
@emmanueltouzery I also though about this and I understand your reasoning.

Personally I don't mind the duplication that much. I find it pretty easy to maintain and not very error prune.

I don't think this is in the scope of the Javalin library or the plugin. But your idea could be implemented purely in helper functions, so you could create a custom package/repository for this.

Here an example i

[2019-09-30 18:13] oharaandrew314 opened #764 "Is it possible for generated OpenApi models to use the ISO 8601 format?"
@TobiasWalle

Say I have this model:

[code]

and the OpenApi plugin generates this spec:
[code]

The spec implies the `date` is following the epoch format, whereas the ISO 8601 date format is quite possibly the most popular one nowadays.  Is there a way to configure the OpenApi plugin to use that format?

This is a pain for me because apis generated with swagger codegen require the date as a long

[2019-09-30 18:26] oharaandrew314 opened #765 "Instant Query Params do not have type in generated OpenApi Document"
**Actual behavior (the bug)**
A generated OpenApi Spec with a `java.time.Instant` query param contains:

[code]

**Expected behavior**
I would expect the json to contain:

[code]

**To Reproduce**
Generate an OpenApi spec using this setup.

[code]

**Additional context**
For now, I've been using a string to contain the query param, but this doesn't let me take advantage of the support for date obj

[2019-09-30 18:31] oharaandrew314 commented on #762
Spring boot is a massivew ecosystem that contains far more than just a web server, and property loading isn't a feature of a normal web server.  So it's understandable you'd be a bit lost when transitioning to javalin.

Loading properties files is really simple though.  You can just use `java.util.Properties` to parse the file for you.

[code]

[2019-09-30 18:34] oharaandrew314 commented on #765
@TobiasWalle is this functionality something that should be expected?

[2019-09-30 19:32] iamkiran commented on #762
Thanks for the solution.

[2019-09-30 19:32] #762 closed

[2019-09-30 19:47] TobiasWalle commented on #764
@oharaandrew314 The plugin uses internally jackson to create the schema from the class. You could create your own `ModelConverterFactory` (see https://github.com/tipsy/javalin/blob/423c28ad648915724f0e7c29e19bc199db331826/src/main/java/io/javalin/plugin/openapi/jackson/JacksonModelConverterFactory.kt for an example) and pass it to the `OpenApiOptions` via the `modelConverterFactory` method. In you

[2019-09-30 19:50] TobiasWalle commented on #765
This may be related to https://github.com/tipsy/javalin/issues/764. But I will check this tomorrow.

[2019-09-30 20:07] oharaandrew314 commented on #764
@TobiasWalle that sounds super complicated, but I'll see if I can come up with something.

[2019-09-30 22:10] aranjitchi opened #766 "Javalin is compatible with java>=9?"
Javalin is compatible with java>=9?

[2019-09-30 22:15] tipsy commented on #766
Yes, the test matrix runs against 8, 9, 10, 11, 12 and 13, so >= 8.

[2019-10-01 05:15] Shahan321 commented on #763
I mean without using Javalin's "config.registerPlugin()" method in Java not in Kotlin.
I want to generate swagger doc and how to specify the path of swagger doc.
Please help.

[2019-10-01 05:31] Shahan321 commented on #763
how to use OpenApi in my java code without config.registerPlugin() method and rendering the documentation also?

[2019-10-01 06:26] tipsy commented on #763
Sounds like you want to write a swagger doc without using Javalin at all 🤔

[2019-10-01 06:31] TobiasWalle commented on #764
@oharaandrew314 Yeah I agree with that. It should be simpler to change to jackson mapper for the schema generation.

[2019-10-01 06:47] Shahan321 commented on #763
Yes

[2019-10-01 06:50] tipsy commented on #763
That doesn't make a lot of sense. You can just write the whole spec by hand then.

[2019-10-01 06:52] Shahan321 commented on #763
Can you guide a little bit because i want to use swagger running on javalin provided port

[2019-10-01 06:54] Shahan321 commented on #763
Actually i'm looking for alternative of registerPluin method rest i want to continue with Javalin only.

[2019-10-01 14:18] tipsy commented on #763
Why?

[2019-10-02 17:33] #766 closed

[2019-10-02 17:54] #763 closed

[2019-10-02 17:55] #752 closed

[2019-10-04 17:29] Playacem commented on #667
I started looking into this. The path parser (Ref: https://github.com/tipsy/javalin/blob/7a39c74e5918ecde560affab2703e94e38547247/src/main/java/io/javalin/core/PathParser.kt#L11-L37) has two methods and two internal properties which are all used. The internal properties are used by the OpenApiDsl, so we cannot remove them without touching the dsl as well. The current implementation also needs to b

[2019-10-04 22:46] #746 closed

[2019-10-04 22:51] tipsy opened #769 "Make repo multi-module"
Currently Javalin is just one big module. I'm mostly comfortable with this, but some plugins are getting a little too chunky. I made an issue for moving OpenAPI to a separate repo (https://github.com/tipsy/javalin/issues/746), but I think a separate module might be more appropriate.  There's also this pr for a test module (https://github.com/tipsy/javalin/pull/749), and the GraphQL plugin (https:/

[2019-10-04 22:54] tipsy commented on #630
@RyanSusana changed to just using the underlying input stream, which should fix this 🤔

[2019-10-04 22:54] #630 closed

[2019-10-04 22:55] tipsy commented on #686
How is this going @vn7n24fzkq ?

[2019-10-04 23:06] tipsy commented on #549
@Schachte Are you still planning on doing this? It's completely fine if you decided not too, but I'd like to close the issue if that's the case.

[2019-10-04 23:09] #494 closed

[2019-10-04 23:13] tipsy commented on #760
I'm going to close this, but please feel free to submit a PR to improve the implementation.

[2019-10-04 23:13] #760 closed

[2019-10-04 23:14] tipsy commented on #523
@h7kanna any update on this?

[2019-10-04 23:14] tipsy commented on #556
@oharaandrew314 have you had a chance to check out the PR ?

[2019-10-05 03:33] vn7n24fzkq commented on #686
I am sorry that I didn't reply in time due to the busy work in recently.
I have tried classloader and it could be a solution, but this is means I need pre-download different version of javalin in repo.
If pre-download javalin in repo is allowed then I will use classloader.

[2019-10-05 08:25] tipsy commented on #686
I don't think there's a right or wrong way here. Adding 10+ different versions of the same library to a project is always going to be "wrong", so whatever works is fine. Classloader, shading, multiple modules, it doesn't really matter, as long as you're able to run the different versions independent of one another.

[2019-10-05 08:59] vn7n24fzkq commented on #686
Got it , I will do it as soon as possible.

[2019-10-06 19:41] h7kanna commented on #523
Hi sorry for the delayed response. I am following the development of https://opentelemetry.io/ https://github.com/open-telemetry/opentelemetry-java is still in development.
https://github.com/open-telemetry/opentelemetry-specification/blob/master/milestones.md
This feature request should wait for it.

Thanks

[2019-10-07 14:06] emmanueltouzery commented on #761
Thank you for your answer! I've been thinking a little more on the issue. It's true that the solution I pointed out is workable, and I don't need anything to be done in the javalin code for it to work.

I've also spotted this approach:

https://www.http4k.org/guide/modules/contracts/

so http4k has basically the same Context->Unit api that javalin has, but they offer that alternative "lens" API fo

[2019-10-07 16:14] oharaandrew314 commented on #556
@tipsy I agree it's probably best to include it as a submodule.  I had some work in progress to incorporate [Rest Assured](https://github.com/rest-assured/rest-assured) into the test project, but I think it would be pretty simple to add it to the JUnit Rule if we desire.

[2019-10-07 16:22] tipsy commented on #613
https://github.com/Kotlin/dokka/releases/tag/0.10.0

[2019-10-07 17:37] tipsy commented on #613
I ran `dokka:dokka` and `dokka:javaDoc` locally, and everything seems to work fin!

[2019-10-07 20:26] vn7n24fzkq commented on #686
I am already create a simple benchmark for version 1.0.0 , but no idea about how to create a anonymous class with classloader 🤔

[2019-10-07 20:34] vn7n24fzkq commented on #686
Cuz create a route path need add a anonymous Handler class

[2019-10-08 06:13] TobiasWalle commented on #761
@emmanueltouzery Thanks for your research! I didn't now about that http4k approach before.

I think we can close this issue, if you are okay with that.

[2019-10-08 06:26] emmanueltouzery commented on #761
yes, thank you for the feedback and for your work on javalin!

[2019-10-08 06:26] #761 closed

[2019-10-08 17:43] averikitsch opened #771 "queryParam(key) not respecting equal sign"
**Actual behavior (the bug)**
queryParam(key) cuts off anything after an equal sign.
`HOST_URL?key=something something = something`
`String query = ctx.queryParam(key)`
`System.out.println(query)` = `something something`

**Expected behavior**
I expect queryParam to give the full query back
`HOST_URL?key=something something = something`
`String query = ctx.queryParam(key)`
`System.out.println(quer

[2019-10-08 17:53] tipsy commented on #771
Are you using `=`, or `%3D` ?

[2019-10-08 18:02] tipsy commented on #771
I guess it shouldn't really matter 🤔

[2019-10-08 19:25] averikitsch commented on #771
I'm using `=`, but I tested and `%3D` does work as expected.

[2019-10-08 19:35] tipsy commented on #771
I think `=` should still work. Would you like to submit a PR ?

[2019-10-09 15:52] averikitsch commented on #771
I rather not have to transform the user input (s/=/%3d/). At this time I am unable to submit a PR.

[2019-10-09 21:28] pawel-piecyk commented on #771
Hi! I've just opened small PR which deals with equal sign in query parameters values. Hope it will be useful.

[2019-10-09 21:34] tipsy commented on #771
Great, than you @pawel-piecyk !

[2019-10-10 20:49] wbushey opened #773 "Multiple calls to Context.body() on a large request should return same result, or throw exception"
**Actual behavior (the bug)**

Multiple calls to `Context.body()` with a body that is larger than requestCacheSize will result in a null. The first call will return the actual body of the request.

**Expected behavior**

The existing documentation doesn't discuss the relationship between requestCacheSize and `body`. Based on how `body` is documented, I would expect multiple calls to `body` to retu

[2019-10-10 21:00] tipsy commented on #773
Hi @wbushey, thanks for the issue. As you saw, this has come up a few times. Could you elaborate on what you plan on doing with the exception? I don't see any way of recovering other than stopping the server and increasing the cache size.

Current we log.error:

Isn't this enough?

(I just noticed that the log messages uses the 3.X alpha syntax, I'll fix that)

[2019-10-10 21:01] tipsy opened #774 "Fix bad syntax in CachedRequestWrapper log message"
The log message is

but it should be

[2019-10-10 21:02] tipsy commented on #774
The log message is `"Body already consumed, and was too big to cache. Adjust cache size with `app.config.requestCacheSize = newMaxSize;`"`, but it should be `"Body already consumed, and was too big to cache. Adjust cache size with `config.requestCacheSize = newMaxSize;`"`

[2019-10-10 21:03] sabaatworld opened #775 "D8 Throws Error on Building Android Project"
build.gradle:
[code]

When I build my project in Android Studio, build fails with D8 errors cause apparently Jetty JARS use MethodHandle which is not available under API 26.

[code]

Any way to get past this issue?

[2019-10-10 21:05] tipsy commented on #775
Not that I know of, you'll probably just have to target a newer version of Android.

[2019-10-11 00:35] sabaatworld commented on #775
Note that I'm targeting the latest SDK but the minimum SDK is causing issues. It seems like this would be major hurdle for anyone trying to use Javalin on Android.

I was able to resolve it for now by downgrading the Jetty version that I use:
[code]

[2019-10-11 07:31] tipsy commented on #775
Yeah, that's seems to be the reality of trying to run Java 6+ things on Android, their implementation just isn't compatible. There have been multiple posts from people wanting to run Javalin on Android before, but there's usually something in Jetty giving them a hard time.

You could try running Javalin 2.X ? There should be some other Android issues that you can read here.

[2019-10-11 07:59] tipsy opened #776 "Create light (nano?) version of Javalin"
Some people want to run Javalin on Android, or other small things.. Could be fun to create a minimal version of Javalin for that 🤔

Prompted by https://github.com/tipsy/javalin/issues/775

Example: http://www.adam-bien.com/roller/abien/entry/a_built_in_java_httpserver

[2019-10-11 08:07] tipsy opened #777 "Add javadoc + website doc explaining body request cache"

[2019-10-11 11:28] david-wg2 opened #778 "Log warning if config is mutated after startup?"
I've noticed some people doing this. Since we can't really change the API to use setters, we will need to do something hacky. We could write an ugly listener:

[code]

[2019-10-11 15:50] tipsy commented on #776
The sun server is not available on Android, so there goes that idea.

[2019-10-13 14:02] kbventus opened #779 "Before not called when path doesn't end with "/""
[code]
The before "middleware" only get's called, when I make a request like that `xxxx/v1/user/` but not when I use `xxxx/v1/user`

![question](https://user-images.githubusercontent.com/53178736/66716834-b8bfbf80-edd2-11e9-9e11-9dc204f82de0.png) (the 400 HTTP error is unrelated to my question, but it should trigger the middleware...)

[2019-10-13 14:51] tipsy commented on #779
I agree that this behavior isn't very intuitive, but there isn't too much we can do about it at this point.

Try this:

[code]

[2019-10-13 14:51] tipsy commented on #779
As a side-note, you could also look into using the `AccessManager` instead of a `before` for auth.

[2019-10-13 15:39] kbventus commented on #779
Thanks for the quick response!

[Using JWT with a Javalin application](https://javalin.io/2018/09/11/javalin-jwt-example.html)
Until now I haven't used it, because I have different tokens (jwt refresh token, etc.) but I'll consider it!

[2019-10-13 15:39] #779 closed

[2019-10-14 20:27] wbushey commented on #773
In the event of an exception, for the sake of discussion let's call it `BodyTooLarge`, one likely course of action I can see is to setup a Javalin exception handler to respond with a 413 status. In fact, that exactly what we were attempting to setup when we encountered this behavior.

As it is today, If somebody builds logic that includes multiple calls to `body`, perhaps through the use of before

[2019-10-14 21:11] tipsy commented on #773
If you get a request bigger than the cache, do you just throw the request away and respond with an error in your app currently?

It seems weird to me. The cache isn't supposed to be a tool for setting max body size for requests.

There is a `log.error`, it should be clear what the problem is. Is the message vague, or is it just easily overlooked because it's a log message?

[2019-10-15 13:18] wbushey commented on #773
Yes, that is what is currently happening. A second call to `body` yields a null because the received body was larger than the defined cache size. Then, when our program tries to do anything with that null, an exception is thrown, processing stops on the request, and the server responds with a 500.

Given my understanding of the purpose of the cache (to make request bodies accessible after the unde

[2019-10-15 17:26] tipsy commented on #773
It's a convenience mechanism. There are a few operations which consume the request body. The most obvious example is reading the stream from `request.getInputStream()` (which is what `ctx.body()` does), but there's also `getParameter()` and `getParameterMap()`, which consume the body in order to extract form parameters.

If you want to be able to write something like:

[code]

Then Javalin has to

[2019-10-16 15:34] jdudmesh opened #780 "Support for SameSite cookie field"
The standard Java javax.servlet.http.Cookie does not support the SameSite cookie field.

A simple way to support this would be to add the cookie by calling the Context.header(name, value) method with 'Set-Cookie' as the header name and the literal cookie string as the value.

Unfortunately this calls servletResponse.setHeader(headerName, headerValue) and not servletResponse.addHeader(headerName, h

[2019-10-16 15:54] tipsy commented on #780
You could access the response directly through `ctx.res`, and call add there?

[2019-10-16 18:51] StuAtGit commented on #335
FYI to anyone else stumbling upon this via the same route I did:

Tried mocking with mockito + Junit5:
[code]
This line will generate an NullPointerException:
[code]
Because mockito silently fails when you try to mock a final method (took me a bit to link the NPE to the comments above about final method)

I wanted to avoid "tricks" so I didn't look into @grote's link. But it turns out the trick is

[2019-10-16 19:34] tipsy commented on #335
That's great to hear! Would you be willing to write a short tutorial for mocking in Java for https://javalin.io/tutorials/ ?

[2019-10-16 19:42] StuAtGit commented on #335
Yup. Gotta do it off work hours, but yeah.
This coming weekend should be fairly free.
Is there a repo with tutorials that I could issue a PR against?

[2019-10-16 20:02] tipsy commented on #335
Thanks for doing this! The tutorials can be found here: https://github.com/javalin/javalin.github.io/tree/master/_posts/tutorials

You just have to add a new file, written in markdown (or HTML).

[2019-10-17 14:49] RyanSusana commented on #769
I can possibly help? I did the same with [elepy](https://github.com/RyanSusana/elepy).

[2019-10-17 14:53] tipsy commented on #769
That would be great @RyanSusana. There's a PR here: https://github.com/tipsy/javalin/pull/749, I'd specifically like some more input on my comment there: https://github.com/tipsy/javalin/pull/749#issuecomment-539520571. I see that you

[2019-10-17 14:54] tipsy commented on #769
That would be great @RyanSusana. There's a PR here: https://github.com/tipsy/javalin/pull/749, I'd specifically like some more input on my comment there: https://github.com/tipsy/javalin/pull/749#issuecomment-539520571.

[2019-10-21 00:42] StuAtGit commented on #335
Rough Draft PR for docs:
https://github.com/javalin/javalin.github.io/pull/54/files

Example Javalin+Mockito Project:
https://gitlab.com/stuAtGit/javalinmockitoexample

I got a little invested in the example project, so I didn't get as many details into the docs as I would like.

Also, I should probably add some screenshots too.

[2019-10-21 08:36] fuuqiu opened #782 "Springboot Actuator How to integrate use?"
**Springboot Actuator **
1.gradle  compile 'org.springframework.boot:spring-boot-starter-actuator:2.0.4.RELEASE'
2.application.yml
[code]

3. curl 'http://localhost:8080/actuator
-  response:
[code]

[2019-10-21 22:09] wbushey commented on #773
Thank you for that explanation; that helps quite a bit, especially to understand the situations in which I could expect `ctx.body()` to return the request body.

In lieu of changing the behavior of `ctx.body()` or having it throw an exception, I think adding some variation of that explanation to the documentation could be really helpful, and might help future users avoid unexpected empty returns f

[2019-10-21 22:09] #773 closed

[2019-10-22 11:55] sealedtx opened #783 "OpenApi annotation formParam"
Hello, I have this kind of request handler:

[code]

I can't find what OpenApiRequestBody annotation should I use for requestBody with formdata key=value? Can you help me?

[2019-10-22 18:11] tipsy commented on #782
@fuuqiu I have no idea what "Actuator" is. How/why are you trying to use it with Javalin?

[2019-10-22 18:11] #780 closed

[2019-10-22 18:13] tipsy commented on #335
Thank you very much @StuAtGit, looks good! You can remove the "this aspect of Javalin may change" part, I don't think it's any more likely to change than the rest of the codebase.

[2019-10-22 19:00] VasilievZhenya opened #784 "Cannot read file from resources"
Hello.

I'm trying to get access to the txt file with some content inside.

![image](https://user-images.githubusercontent.com/44120348/67320836-6d668900-f517-11e9-86ac-deafcbb0c4a3.png)

When I start the application I see that the folder `conf` from resources is added as static file. But then I recieve  java.io.FileNotFoundException.

I have tried different combinations of `conf/test.txt` and `te

[2019-10-22 19:19] tipsy commented on #784
Hi @VasilievZhenya. This doesn't seem related to Javalin, maybe you can ask on stack overflow?

[2019-10-22 20:51] SmithKevin opened #785 "URL paths are case sensitive when they were case insensitive in <3.0"
**Actual behavior (the bug)**
When I bumped a javalin service from 2.7 to 3.4, the path matching is now case sensitive.

**Expected behavior**
I think urls (domain, paths, and query params keys) should be case insensitive to avoid confusion.

**To Reproduce**
Run a simple javalin service using 2.7.1
get("/alive", ctx -> { ctx.status(204);}
localhost:4567/alive = 204
localhost:4567/Alive = 204

Now

[2019-10-22 22:11] tipsy commented on #785
I'll comment on why we made the change tomorrow @SmithKevin, you could have a

[2019-10-22 22:20] SmithKevin commented on #785
Ahh found it in history  https://github.com/tipsy/javalin/issues/321   What do you think about a config flag to turn off case sensitivity?

[2019-10-23 06:26] tipsy commented on #785
That's part of it, but a point was also raised about logging and analytics. Since most tools are case sensitive, having case insensitive urls would mess things up.

I think the correct thing to do would be to do a redirect in a before-handler. Ideally we would offer this as a plugin, not a config option.

Is this something you could work on?

[2019-10-23 21:09] #784 closed

[2019-10-24 11:59] sealedtx commented on #783
@tipsy any thoughts, is it possible to document formparams?

[2019-10-24 14:30] tipsy commented on #783
@sealedtx I would imagine it is, but I don't have an overview of the capabilities of the OpenAPI plugin. You can try tagging some of the people who have been working on it?

[2019-10-25 07:34] sealedtx commented on #783
@TobiasWalle, excuse me, can you help me? How can I document formparams with OpenAPI?

[2019-10-25 10:20] m-rossini commented on #782
Spring boot actuator adds a lot of end points that theoretically helps you manage you application runtime by reaching out to these endpoints. More in here: https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-features.html

I do not think that is possible to use it with javalin, which actually is good, not default-hidden-black-magic stuff.

[2019-10-25 10:22] m-rossini commented on #776
Would be that a feature realted to #749 ?

[2019-10-25 10:46] fuuqiu commented on #782
The yml configuration import cannot be accessed normally. It should be related to the route configured by javalin. If there is no defined route, the response is 404.  I am currently changing the way to the endpoint to get the data manually, thank you very much for your help

[2019-10-25 11:13] tipsy commented on #776
No, this idea was just to make javalin work on Android.

[2019-10-25 15:13] TobiasWalle commented on #783
@sealedtx It seems like I completely forgot to implement this feature. I will add it this weekend. This shouldn't be much work.

[2019-10-25 17:37] m-rossini commented on #778
Not clear what is the use case for that, do you mind to elaborate a little more on that?

[2019-10-25 18:19] tipsy commented on #778
@m-rossini people sometimes ask me if they can change the config after they have started the server. They try to do something like this

[code]

Which Javalin doesn't fully support. You can get odd behavior.

[2019-10-26 06:42] StuAtGit commented on #335
Cool. I never got the screenshots, but removed the "may change". Suppose it's good enough. Worse is better, after all ;)

[2019-10-26 07:58] tipsy commented on #335
Thank you, it's live now at https://javalin.io/tutorials/mockito-testing :)

[2019-10-26 12:42] rafalsiwiec opened #787 "Lying WARN log about pathParam missing in path"
**Actual behavior (the bug)**
Having handler method annotated with:
[code]
produces following log line:
[code]

**Expected behavior**
Log line should not be displayed.

**To Reproduce**
Properly annotate resource with path param.

**Additional context**
I believe that this [line](https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/plugin/openapi/annotations/AnnotationApi.kt#L113)

[2019-10-29 13:21] sealedtx commented on #783
@TobiasWalle Did you have time at weekend to implement it?

[2019-10-29 20:41] TobiasWalle commented on #783
@sealedtx Not on the weekend but today. I just opened a PR.

[2019-10-29 20:45] TobiasWalle commented on #783
After the merge you can document form parameters with annotations:
[code]

or the DSL:
[code]

[2019-10-29 22:13] #782 closed

[2019-10-29 22:13] #775 closed

[2019-10-29 22:16] tipsy commented on #765
@TobiasWalle Did you look into this?

[2019-10-30 15:13] dvtsants-alar opened #790 "Array of Bytes ?"
WsBinaryMessageContext
ctx.data() // Byte[] (Array<Byte>)
Are you seriously? Array of boxing bytes????

[2019-10-30 15:28] dvtsants-alar commented on #790
Byte is a reference value ))

[2019-10-30 15:30] dvtsants-alar commented on #790
API is not consistent
ctx.send(byteBuffer)         // send a bytebuffer message

[2019-10-30 16:45] #790 closed, assigned to nobody

[2019-10-30 19:27] #771 closed

[2019-10-30 19:30] #783 closed

[2019-10-30 19:50] #474 closed

[2019-10-30 19:51] #787 closed

[2019-10-30 19:52] #774 closed

[2019-10-30 21:45] KhagayN opened #791 "WsSession.isOpen from 2.7 -> 3.5"
Hello,

I am upgrading our javalin version from 2.7 to 3.5 and can’t find the replacement method for WsSession.isOpen. I thought it would be in WsContext.

In general, is WsContext the replacement of WsSession?

Thanks

[2019-10-30 22:19] tipsy commented on #791
Hi @KhagayN. You should be able to use `ctx.session.isOpen`.

Yes

[2019-10-31 16:06] #791 closed

[2019-10-31 16:06] #549 closed

[2019-10-31 16:06] #589 closed

[2019-10-31 16:07] tipsy commented on #686
@vn7n24fzkq How is this going?

[2019-10-31 20:39] KhagayN opened #792 "Manually create WsSession"
Hi,

Upgrading from javalin 2.7 -> 3.5 and looking to find out how to manually create a WsSession (or the alternative in 3.5). Before, I used to do `new WsSession("", WebSocketSession, Map(), "")`. Looks like since WsContext is the replacement for WsSession but, is an abstract class I can't create an instance w/o implementing it, so not sure exactly what to use or to go down that route.

Useful in

[2019-10-31 22:24] tipsy commented on #792
You can look at the different classes that extend `WsContext`:

[code]

[2019-11-01 16:19] ksmith97 opened #793 "Deserialization exception message is lost"
**Actual behavior (the bug)**
When de-serializing an object using bodyAsClass if there is an exception thrown the exception information is lost

**Expected behavior**
I should be able to see at least the exception message. In this case I believe the best approach would be to log the exception in io.javalin.http.Context#bodyValidator when its translating the exception into a message that can be sen

[2019-11-01 16:44] tipsy commented on #793
Sounds fair. Would you like to submit a PR?

[2019-11-01 17:43] ksmith97 commented on #793
Opened PR #794

[2019-11-01 19:08] #793 closed

[2019-11-02 08:59] wolpers opened #795 "JavalinVue root directory allow java.nio.Path"
**Describe the feature**
JavalinVue.rootDirectory("/vue", Location.CLASSPATH) allows to set a path by String. It would be nice to be able to specify a java.nio.Path instance, too.

**Additional context**
It seems the current implementation assumes it is running in a fat jar.  If the resource is actually in a folder, or in a jar different from the javalin jar it will not be picked up.  I think a qu

[2019-11-02 09:22] tipsy commented on #795
@wolpers as you mention, Jetty static files manages to do this without requiring a `Path`, it would be nice if the API was consistent.

The current implementation supports external locations with `JavalinVue.rootDirectory("/vue", Location.EXTERNAL)`. Unless you set this explicitly, it will assume you want to use an external location on localhost, and classpath for non-localhost (this is decided on

[2019-11-02 12:37] wolpers commented on #795
Hi, I just tested with the jitpack dependency

    implementation "com.github.tipsy:javalin:master-SNAPSHOT"

Settings the root path to the other default by calling

    JavalinVue.rootDirectory("/vue", Location.CLASSPATH)

works for me in the current master-SNAPSHOT version thanks to the fix you linked. Unfortunately only in my IDE environment (intellij/gradle).

Here the problem with no root dir

[2019-11-02 12:52] tipsy commented on #795
I won't argue with that :)

Feel free to submit a PR which adds a `Path` overload.

[2019-11-02 16:08] TobiasWalle commented on #765
@tipsy My proposed solution in #764 should help with this too.
We should only make it simpler to add Jackson plugins to the OpenApi Mapper.

If I have time, I'm going to look into it next week.

[2019-11-02 16:16] tipsy commented on #765
Great. I'll still release tomorrow, I'll just do another one when this is done :)

[2019-11-02 16:18] tipsy commented on #795
I'm also wondering if it would be possible to get rid of the `PathMaster` class by just replacing it with `Resource.newClassPathResource(staticFileConfig.path)` from Jetty 🤔

[2019-11-02 16:45] TobiasWalle commented on #765
@tipsy Perfect, thank you :)

[2019-11-03 09:51] tipsy opened #796 "Can't bump Jetty because of problem with SSE test"
Jetty has changed something which makes our hacky SSE test fail (well, it works, but it takes forever for it to time out now).

Made an issue for it over at the Jetty tracker: https://github.com/eclipse/jetty.project/issues/4267

[2019-11-03 10:22] #792 closed

[2019-11-03 13:19] m-rossini commented on #485
I like the idea but for starters current examples and web site do just fine in my opinion, maybe writing on more advanced topics would be more interesting

[2019-11-03 22:25] tipsy commented on #796
Fixed!

[2019-11-03 22:25] #796 closed

[2019-11-04 16:38] KhagayN opened #797 "getRemoteAddress() in javalin 3.5"
Hi again,

I use to use WsSession.getRemoteAddress() in Javalin 2.7 but, now that I am using javalin 3.5, I don't see that method defined for any of the WsContext classes.

Does this method's functionality exist somewhere?

Thanks again for the help.

[2019-11-04 16:42] tipsy commented on #797
Its probably available through `ctx.session.getRemoteAddress()` (?)

[2019-11-04 16:48] #797 closed

[2019-11-04 23:36] tikomir opened #798 "Problem with deploying Javalin app?"
I've made a rather simple web app and it works without issue when started from IDEA IDE.
There is the `src\main\resources` folder containing the following subfolders: public, velocity and velocityconfig. There is also the "src" folder containing my package and the file "src\main\java\META-INF\MANIFEST.MF". The "Class-Path:" item in manifest file contains all needed jar files (`libs/javalin-3.4.1.j

[2019-11-05 10:21] tikomir commented on #798
Here is the folder structure:
![deployment_config](https://user-images.githubusercontent.com/51262288/68199035-83675580-ffbd-11e9-95c6-79112189da65.png)
Here is how I start the app:
`C:\Users\tikomir\IdeaProjects\MyApp\deployed\MyApp>java -Dfile.encoding=UTF-8 -cp ".;.\resources" -jar MyApp.jar`
and here is what I get:
`Exception in thread "main" java.lang.RuntimeException: Static resource directo

[2019-11-05 14:39] FlaviaAntunes opened #799 "Javalin-Cookies-Java-HTML"
Hello, I'm new using Javalin. I am using it to connect my Java with HTML and JS, I would like to use cookies to send data, but looking at the documentation did not understand how to use it, would anyone know how?

In my code I send data from a postgresql database to a datatable in html / js. I have a form with 3 fields to fill in, these fields I have to be able to manipulate them, and I would like

[2019-11-05 16:42] tipsy commented on #798
Could you try following the Heroku tutorial? https://javalin.io/tutorials/heroku

[2019-11-05 16:44] tipsy commented on #799
Hi @FlaviaAntunes. This doesn't sound like a good job for cookies, but the syntax is simply `ctx.cookie("key", "value")`, then you have to use JavaScript to get the value.

[2019-11-05 21:17] tikomir commented on #798
Hi tipsy and thank you for your suggestion but I've just managed to resolve the issue. The good news are that it was not related to the Javalin framework but to the way I was trying to start the app from the console. So, this was wrong despite the fact that the manifest file of the MyApp.jar contained item `Main-Class: com.mypackage.Main`:
`java -Dfile.encoding=UTF-8 -cp .;.\resources -jar MyApp.j

[2019-11-05 22:04] tipsy commented on #798
Happy to hear you worked it out! :)

[2019-11-05 22:04] #798 closed

[2019-11-06 16:38] #799 closed

[2019-11-09 13:10] TobiasWalle commented on #765
@tipsy The Instant serialisation was actually broken. Ich created a fix in https://github.com/tipsy/javalin/pull/801
There is probably a better way to resolve the schema, but this will fix this for now.

[2019-11-09 18:19] tipsy commented on #765
Thanks @TobiasWalle, very happy that it resolved both issues!

[2019-11-09 18:20] #764 closed

[2019-11-09 18:20] #765 closed

[2019-11-10 15:38] TobiasWalle commented on #764
@oharaandrew314 Once the new version is released, you can enable the string formatting like the following
[code]

[2019-11-10 16:04] oharaandrew314 commented on #764
Thanks!  I'll give it a shot when I work on the next version of the API.

On Sun., Nov. 10, 2019, 10:38 a.m. Tobias Walle, <notifications@github.com>
wrote:

[2019-11-12 11:14] vn7n24fzkq commented on #686
Sorry I still not found any way for create anonymous class in  class loader,I think better the way is create JMH for each version with same test method in repo ?

[2019-11-13 09:31] patton73 opened #803 "On the Swagger Plugin OpenApi please support also google gson library for json serialization"
I would like to have also the possibility to use google Gson library in addition to the jackson one.
That library is very light and has good performace.
I would like to have the possibility to write
OpenApiOptions options = new OpenApiOptions(applicationInfo)
                .toJsonMapper(GsonToJsonMapper.INSTANCE)
                .modelConverterFactory(GsonModelConverterFactory.INSTANCE)

instead

[2019-11-14 08:11] mavek87 opened #804 "Swagger openapi support for JWT?"
Hi,
Is it possible to set security schemes components as described in the swagger documentation (https://swagger.io/docs/specification/authentication/bearer-authentication/) to handle jwt token using the javalin openapi plugin via annotations?

I need to set a header "Authorization: Bearer myJWTtoken" for each rest call but I don't know if its possible and how to do it using the javalin plugin.

[2019-11-14 08:48] mavek87 opened #805 "Add support for specifying security and securitySchema"
Hi,
I'm trying to set an Authorization header for a rest call using the swagger plugin via annotations.

    @OpenApi(
            method = HttpMethod.POST,
            description = "Chiamata necessaria per l\'inizio della redazione di un atto telematico",
            operationId = "startRedazione",
            summary = "Inizia redazione atto",
            tags = {"redazione"},
            heade

[2019-11-14 17:32] northcoder-repo opened #806 "How Awesome is Javalin?"
Answer: very awesome.

As a relatively new user, I just wanted to say "thank you" to the Javalin team - I have very much enjoyed using it.

(Apologies if this is the wrong forum for that.)

With very little fuss, I got JDBC-based [Jetty session tracking](https://www.northcoder.com/2019/11/javalin-jetty-session-tracking.html), and [TLS 1.3 & HTTP/2](https://www.northcoder.com/2019/11/javalin-tls-13

[2019-11-14 17:50] tipsy commented on #806
Thank you very much!

[2019-11-14 21:57] domdorn opened #807 "use without jetty / webserver"
TLDR: Is it possible to use javalin without Jetty? Is everything abstracted in a way that jetty is not exposed? is it required to even have Jetty on the classpath?

long version:
I'm giving a talk on how to run Java native with Graal as a AWS Lambda
https://devfest.at/schedule/

Basically AWS Lambda is nothing more than doing the following in a loop:
 * requesting the next Request from an HTTP End

[2019-11-14 22:55] tipsy commented on #807
Short answer: Yes.

Long answer: It depends on what you want to do. Javalin requires Jetty for WebSockets, but it can handle standard HTTP requests without Jetty. You can create a standalone Javalin instance like this:

[code]

I believe there is a Servlet-adapter for Lambda, which you can use with the underlying Servlet in Javalin:

[code]

This is not a standard way of using Javalin, so you'll h

[2019-11-14 23:06] tipsy commented on #807
Hm, I couldn't find an official servlet-adapter, but there is this one: https://github.com/bleshik/aws-lambda-servlet

[2019-11-14 23:16] domdorn commented on #807
Thanks for the quick response, I can mention that in my presentation!

[2019-11-14 23:16] #807 closed

[2019-11-14 23:21] tipsy commented on #807
Cool. If you end up writing an example project I'd appreciate a link!

[2019-11-15 09:05] scorsi opened #808 "Weird behavior with `ctx.formParam`"
Hello all 👋

**Actual behavior (the bug)**
All my `ctx.formParam<*>("x").get()` call throws an error `Form parameter 'x' with value 'null' cannot be null or empty`.
Exemple:
[code]
Got the following request body (Content-Type : "application/json") :
[code]
But the Javalin formParam value is (which is very weird !) :
[code]
The full Javalin Request debug log :
[code]

I have to manually create `Par

[2019-11-15 09:54] tipsy commented on #808
Hi @scorsi. Your body is a JSON string, which confuses the `formParam()` method, which expects a key/value string. [Form parameters](https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Sending_and_retrieving_form_data) should look like this:

[code]

You have to configure the object mapper and your data class to make this work. Or, you could parse this manually by doing something like `mappe

[2019-11-16 01:49] fuuqiu commented on #485
I have been looking forward to such a document. Javalin is a very good project. It is limited to the overall understanding and familiarity of the project. In the use, I don’t understand the main points. I missed many elegant methods and specifications, and I look forward to being able to update. In view of the current trend of mainstream springboot and spring cloud alibaba cloud services, it is ex

[2019-11-16 09:26] tipsy commented on #803
@patton73 If I recall correctly, the author of the OpenAPI plugin had some issues with GSON, so Jackson is a hard dependency for the plugin. If you manage to make everything work with GSON I'm sure he'd be happy to review a PR.

[2019-11-17 19:11] fwgreen opened #809 "Can't use newer java.util.Map implementation with JavalinVue::stateFunction"
I get this weird error as if I'm trying to set a null key:
[code]
[code]

[2019-11-17 20:20] tipsy commented on #809
That's odd. It doesn't really look to be related to `JavalinVue` though?
The state-function has the contract: `(Context) -> Any `, I'm guessing `Map.of` doesn't accept null-values ?

[2019-11-17 21:57] fwgreen commented on #809
Ah!  I see, and `Context::sessionAttribute` returns a nullable.  Hopefully the Kotlin team will add a `@JvmOptional` annotation to their list of interop tools 😄.  I'm closing the issue as the error is easily avoided by using the old Map, but maybe you can document the behavior so others can avoid this problem.

Thanks again for your quick reply.

[2019-11-17 21:57] #809 closed

[2019-11-18 00:20] #806 closed

[2019-11-18 00:23] tipsy commented on #809
I'm not trying to be difficult, but since it's a requirement for Java's factory method, how would you document it?

[2019-11-18 05:19] fwgreen commented on #809
I think this issue itself might be enough documentation:  Anyone encountering this behavior in future will probably search this repository for the error message (just like I did before posting) and would then see this issue.

[2019-11-18 07:32] tipsy commented on #809
I'll add the info label then :)

[2019-11-19 08:49] kwahome opened #811 "Documentation and tutorials pages unavailable"
Documentation and tutorials pages are responding with `GitHub Pages is temporarily down for maintenance.`:

![image](https://user-images.githubusercontent.com/9881595/69131017-a23c1080-0ac2-11ea-8b6e-fdc766b9ac64.png)

[2019-11-19 09:10] tipsy commented on #811
Thanks for letting us know.

[2019-11-19 09:11] tipsy commented on #811
Seems up again.

[2019-11-19 09:11] #811 closed

[2019-11-20 06:36] pgross41 opened #812 "Support `rendering` in single page mode"
**Describe the feature**
Add support for dynamic output with `addSinglePageRoot` to provide similar functionality that is available with `ctx.render`. It could even simply accept a handler which could do whatever it wants instead of a root and file (although at that point it might just be a new function `addSinglePageHandler`).

**Additional context**
I have a single page app and would like to dir

[2019-11-20 07:09] tipsy commented on #812
Thanks @pgross41, this sounds like a reasonable use case. Would you like to submit a PR?

[2019-11-20 10:23] lsoares opened #813 "Junit assertions don't work when called inside Handler"
can anyone help?

https://stackoverflow.com/questions/58951086/junit-assertions-dont-fail-when-using-javalin-as-a-mock-server

thanks

[2019-11-20 15:28] scorsi commented on #808
Hello, thanks, this works like a charm !

[2019-11-20 15:28] #808 closed

[2019-11-20 16:18] pgross41 commented on #812
Yeah I think that is doable, I will give it a shot myself and submit a PR. Thanks for the quick response!

[2019-11-20 19:20] tipsy commented on #813
You should assert on the result of the request. Here's an example from the Javalin test suite:

[code]

[2019-11-20 22:45] lsoares commented on #813
However, I'd like to use Javalin to replace [MockServer](http://www.mock-server.com/) in unit tests, which means that the assertions I want to make are supposed to be on the request and not on the response.

For example, imagine I have component A which deals external API B. In the unit tests of A, I'd like to check if B is properly called (proper headers, query string, body, etc).

[2019-11-20 23:09] tipsy commented on #813
I'm no JUnit expert by any means, but I don't think you can put assertions inside the lambda (it doesn't seem to understand that they belong to the test). I always send whatever I need to test back through the response, but I'd be happy if someone could give an answer to why this doesn't work.

[2019-11-20 23:11] lsoares commented on #813
I also tried this, but it does not work. Although the assertion is run after the `ctx` assignment, the context is different when the assert runs: the query string is null.
[code]

[2019-11-20 23:28] tipsy commented on #813
Okay, so assertions are Throwable, which makes sense and explains a lot. I'm not sure how to best solve this. Could somehow capture the `AssertionError` in the `Handler` and re-throw it in the test?

[2019-11-21 14:15] Aweorih commented on #805
This is because the swagger javascript filters some headers. If you look into the files and search for "PARAMETER_HEADER_BLACKLIST" you'll find them. The spring openapi/swagger ui plugin has the same behaviour and there you have a dedicated button for setting the security options (see image) which I can not find in Javalin.
That's at least what I have found (I'm very new to spring)
![authorize](ht

[2019-11-21 18:58] lsoares commented on #813
hmm that'd be too weird..
do you know why my second snippet doesn't work?

[2019-11-21 19:32] tipsy commented on #813
Why do you think so? And what were you doing before?

You're setting a reference to the context, you're not creating a deep copy. After the request is processed, Jetty cleans up the underlying `HttpServletRequest` and `HttpServletResponse`.

[2019-11-21 20:01] tipsy commented on #813
@lsoares this works:

[code]

There's a bit of setup (but you could extend a base-test), and you need to wrap the assertions in a function call, but otherwise it's pretty straightforward 🤔

[2019-11-22 08:23] mavek87 commented on #805
Thanks @Aweorih

As described in the swagger doc (https://swagger.io/docs/specification/authentication/bearer-authentication/) to use bearer authentication you have to add a "security scheme" to openapi components like this:

# 1) Define the security scheme type (HTTP bearer)
[code]

and then use the security keyword to apply this scheme to the desired scope

globally:

# 2) Apply the security glo

[2019-11-22 12:13] lsoares commented on #813
I tested it and it works properly! it's not ideal but it's still better than adding a new library for this type of testing. feel free to close the issue when you feel appropriate. thanks!

[2019-11-22 12:19] lsoares commented on #813
For future reference, the way Go handles this ([httptest.NewServer](https://medium.com/what-i-talk-about-when-i-talk-about-technology/go-code-examples-httptest-newserver-f965fb349884#5f45)) (where you make assertions directly inside the handler) made me investigate a similar Java solution. I found the aforementioned [MockServer](http://www.mock-server.com/) but my reasoning was "if I'm using Javal

[2019-11-26 13:32] mpe85 opened #815 "Question about OpenApi and SSE"
If I define an SSE endpoint like this:

[code]

it will be put into the Swagger file:

[code]

It would be nice to
* Put the endpoint into a tag (currently it is displayed in a 'default' section in swagger-ui)
* Specify the summary and operation id of the endpoint
* Document the data type of the events that are sent to clients (not sure if this is supported by OpenApi)

Is it possible somehow?

[2019-11-26 14:20] bigstoef opened #816 "Running javalin as a servlet"
Hi,

I am trying to get hot reloading to work with javalin, intellij and maven (java not kotlin).
I  tried to reverse engineer the example from:  https://github.com/tipsy/javalin-tomcat-embed-example

It seems class EmbbededJavelin doesnt exist anymore?

Any examples or clues as to settings this up?

[2019-11-26 15:04] tipsy commented on #816
Clue: `Javalin.createStandalone().servlet()`

I can give a better answer later, but I'm traveling at the moment.

[2019-11-26 15:30] bigstoef commented on #816
Nice clue, enjoy your travels. Got it working now, the following setup works for me:

[code]
And the pom for the right jetty plugin:

[code]
* the org.eclipse.jetty plugin is for hot reloading during development, the maven-assembly-plugin is for production jar builds. Im using eclipse and ctrl+f9 saves all open files and trigger the build/reload.

Would you appreciate it if I create a tutorial of

[2019-11-26 15:37] tipsy commented on #816
Yeah, that would be great.

[2019-11-26 20:21] richarddd commented on #776
This would however be extremely useful for running on graalvm or in a serverless architecture where less code equal to lower coldstart which in turn equal lower cost and better performance.

Could I help this somehow? @tipsy  🙂

[2019-11-26 23:29] tipsy commented on #776
@richarddd this task will vary greatly based on how we scope it. If we can find a dependency free server and just do basic http (what's in the http package in javalin), I think that could be and interesting project. It would require a bit of effort to maintain though, are you up for a challenge? :slightly_smiling_face:

[2019-11-28 07:27] richarddd commented on #776
@tipsy sure! just tell me how I should proceed 👍

[2019-11-28 10:47] tipsy commented on #813
Happy it works @lsoares. Let's keep the issue open for a while to see if anyone has any good input :)

[2019-11-29 08:41] sealedtx opened #817 "OpenApi anyOf/oneOf for requestBody"
Hi! It would be great if OpenApi plugin support anyOf/oneOf feature for describing alternate requestBody as described [here](https://swagger.io/docs/specification/describing-request-body/)

In my case I have POST api call to create some instance and depends on passed type I expect different request bodies.
@TobiasWalle would you mind to implement this feature in the nearest future? Thank you ;)

[2019-11-29 17:29] flaviamantunes opened #818 "Download Java - html"
Good afternoon, I would like to know if there is a way to send java file to html via javalin. In the documentation there is only about uploading html passing to java.

Explaining better, will be generated documents (pdf, xls and csv) in java, and I would like that by clicking a button (in html) the user download the generated file. Would it be possible ?

[2019-11-29 18:11] ernestas2k commented on #818
Before giving answer on pdf/xls/csv let's see how javalin handles application/json and text/html files (they're not so different from your documents).

[code]

As we can see, javalin sets `contentType` (so browser knows how to interpret them) and then calls `.result` which accepts String or InputStream of your files.

Given the fact that you generate your files dynamically (and they aren't stored

[2019-11-29 18:25] flaviamantunes commented on #818
Thank you so much!

[2019-11-29 18:27] ernestas2k commented on #818
You're welcome!

[2019-12-02 02:56] pgross41 commented on #812
Submitted PR https://github.com/tipsy/javalin/pull/814

[2019-12-02 06:21] tipsy commented on #812
Thanks, will have a look tonight :)

[2019-12-02 08:57] fuuqiu opened #819 "contentType config"
[code]
update
[code]

[2019-12-02 15:10] Lubrum commented on #818
Hi everyone. The ernertas2k response did help, but it worked for me this way:

Changed the line

.header("Content-Disposition: attachment; filename=example.csv");

To

.header("Content-Disposition", "attachment; filename=example.csv");

The former way did not set neither the filename and csv format.

[2019-12-02 16:17] ernestas2k commented on #818
Good catch, for some reason thought .header(string) is "set full header name with value" but it's actually simple getter by header name.

[2019-12-02 16:25] tipsy commented on #819
@fuuqiu charset should not be part of the content type for json 🤔

[2019-12-02 16:34] #812 closed

[2019-12-02 16:41] tipsy commented on #776
@richarddd Sorry about the late reply, I was traveling last week.

First of all we would have to map out what functionality this should support. I was thinking only basic verbs and exception handling. No websockets, static files, single-page-handler, etc.

Basically just a stripped down version of the `JavalinServlet` class.

What do you think?

[2019-12-02 23:04] A1Liu opened #820 "Specifiying an example in the API docs using OpenAPI DSL"
I have code for an API endpoint, and I'd like the generated ReDoc documentation to contain an example response that I build. How do I do that?

So something like:

[code]

[2019-12-04 01:05] flaviamantunes opened #822 "Cookiestore-javascript"
Hello, I would like to know if it is possible to access value of a cookie store through in javascript.

i have a value saved in java cookie, i would like to access this value in my javascript. It's possible?

[2019-12-04 14:51] Araknailuben opened #823 "Override type definition in swagger"
Hi !

I'm new in Javalin and Swagger, these are really great projects, thank you for your work. I am asking for help today because I need to do something that I can't handle by myself...

I have a Javalin server in kotlin and I use annotations to get my documentation generated and rendered by swagger-ui.

Let say that Meter is a data class (I simplified it for the exemple) that encapsulate a Strin

[2019-12-04 16:19] #819 closed

[2019-12-04 16:26] tipsy commented on #822
@flaviamantunes You can access it through its name, `javalin-cookie-store`, but you have to decode the value yourself (it's base64 encoded)

The cookie-store is specifically meant to be used for the server-side though, could you describe your use case?

[2019-12-04 16:58] flaviamantunes commented on #822
@tipsy  So, I have a form in html, via javalin I'm taking his data, and saving cookies to keep them accessible without loss. When I make a query, I'm filling in the form inputs (via java) with javalin. But 'radiobutton' can only be completed via javascript. So I would like to access the cookie value 'radiobutton' via javascript in order to set 'checked'.

I am currently using new javascript cookie

[2019-12-04 19:11] ernestas2k commented on #822
Flavia,

Do you actually need cookies? As I understand - you want to preserve user selections in the form (or do you want them to be in cookies and even read those values in backend? Usually it's backend that stores and reads cookies between user requests).

There is such thing as `local storage (popular option)` and `session storage`, both will let javascript save and get values for that specific

[2019-12-04 19:33] flaviamantunes commented on #822
@ernestas2k I had tried using localStorage before, and it had not worked properly. Through the link you sent I was able to run with it, and removed the cookies! Thank you so much!

[2019-12-04 20:34] ernestas2k commented on #822
@flaviamantunes great news!

[2019-12-04 21:11] #822 closed

[2019-12-05 13:10] rinseatxso opened #826 "Javalin vs Spark"
From the about on javalin.io I read Javalin is a fork of Spark.

What was the reason for forking, what are the differences nowdays ?

thanks.

Rinse

[2019-12-05 15:45] ernestas2k commented on #826
You can find the comparison of javalin and spark at https://javalin.io/comparisons/sparkjava
@tipsy any comments, is the comparison up to date?

[2019-12-05 18:07] tipsy commented on #826
The main page also has this box:

Thanks @ernestas2k it's pretty much up to date.

When it was a fork of Spark, the intention was to make Spark 3, and then eventually have it merged back to master, but I discovered so many things that I wanted to change. It made more sense to start a new project.

[2019-12-05 18:16] lulzmachine opened #827 "Per-request vars?"
**Describe your question**

I wonder where I can set some per-request vars.
I would basically want to do something like this:
[code]

So that I can do jwt parsing and those things *once*, and then use that in all of my http handlers (or in following before-handlers).

I know there's "session" to store stuff. But I don't want to store these things in some kind of session storage or so. Just want to

[2019-12-05 18:21] tipsy commented on #827
`ctx.attribute(key, value)` will store attributes on the request, which will be cleaned up at the end of the request lifecycle (after `app.after()`).

[2019-12-05 18:24] lulzmachine commented on #827
Ok thank you! It would be great the signature attribute(key, value) could be added to the `Context` section of https://javalin.io/documentation#after-handlers .

I see now that it's covered under the "WsContext"

[2019-12-05 18:28] tipsy commented on #827
I have no idea why that isn't there, that's a weird oversight. I'll add it now, thanks :)

[2019-12-05 18:31] tipsy commented on #827
It's there now @lulzmachine !

[2019-12-05 19:22] PedroD opened #829 "How to set the base path for an EndpointGroup (or for all routes) registered in Javalin?"
What's the correct way of setting the base URL for a given EndpointGroup?

Eg. "/v1".

"www.server.com/v1/users/"

[2019-12-05 19:38] tipsy commented on #829
[code]

[2019-12-05 20:00] #827 closed

[2019-12-08 12:27] m-rossini commented on #667
Instead of changing behavior on this class, another approach could be to create a new set of functions/classes to implement the proposed behavior. Usage of current or new one could be chosen at Javalin configuration/startup to be one or another but not both.

[2019-12-08 14:05] Playacem commented on #667
@m-rossini By integrating such a switch we would need to support the new syntax in the OpenApi plugin as well.

Basically every part of Javalin that uses the `PathParser ` would need to be modified to support two different sets of parsers.  Introducing an abstracting interface mit be possible but would still break the public api as the `PathSegment` needs to be adopted either way.

[2019-12-08 22:53] rbygrave commented on #523
For what it's worth I'm unconvinced by the metrics part of opentelemetry.

For myself I think this is a weak statement, I'll be very interested to see how this ends up in practice. One of the key metrics we are generally interested in is execution time of endpoints (and the rollup/aggregation of that for all endpoints). As I see it this isn't properly addressed by opentelemetry as it currently sta

[2019-12-09 05:40] richarddd commented on #776
I already started working on this and got it running using `com.sun.httpserver` 🙌.

However this got me thinking. It maybe would be better to make the Jetty dependencies from the "full version" optinal and abstract them away so we always leverage the servet capabilities. Then we add them back and create extension methods which uses Jerry servlet handling.

This way we could create light or even na

[2019-12-09 07:31] tipsy commented on #776
Were you able to find the sun server as a dependency so it works on Android?

That would be ideal, but it's *a lot* of work. Configuration and WebSockets rely directly on Jetty now, while the servlet part is independent (see https://github.com/tipsy/javalin/issues/816). I've chosen to keep this tightly coupled since it improves the developer experience better for the 99% who use Javalin with Jetty

[2019-12-09 18:05] #829 closed

[2019-12-09 18:06] #826 closed

[2019-12-09 18:06] #818 closed

[2019-12-09 18:07] #816 closed

[2019-12-09 18:07] tipsy commented on #795
@wolpers will you be submitting a PR for this?

[2019-12-09 18:08] #813 closed

[2019-12-09 18:08] #803 closed

[2019-12-09 18:08] #778 closed

[2019-12-09 18:16] wolpers commented on #795
Sorry, not anytime soon. I don't have the time :-(

[2019-12-09 18:31] tipsy commented on #795
No problem, I'll add the `HELP WANTED` label.

[2019-12-11 10:34] pacher commented on #526
I have the same problem. We have nice endpoint URLs in the form `service/path/to/file/action`, so I had `get("service/*/action")` handler and used splat to extract this `path/to/file` since we can not have slashes in pathParam.

I am sure that you had a good reason to remove splats, but it would really help at least mention it in migration guide or so.

[2019-12-11 11:53] richarddd commented on #776
Nope but I wrote a really simple zero dependency socket server just to test the concept on Android and it works perfectly. I could easily make it servlet compatible

That would be really cool!

Btw, i don't really see the use case for running javalin on android? Why would you want that?

[2019-12-11 16:09] tipsy commented on #776
Sounds great! We can just go with that for the first version then?

It's come up 10+ times, but I'm not exactly sure if there's a very valid use case. Personally I wanted to try it once to remote control the camera and microphone (I guess lot's of people have old phones lying around).

[2019-12-11 17:45] abhikt48 opened #832 "Can we use javalin to generate ReDoc HTML file with existing Open API Specification?"
Hi Team,

Can we use this library to generate ReDoc HTML file with existing Open API Specification?

If yes, could you please provide any guidance/clue to generate ReDoc HTML file with existing Open API Specification?

Thanks in advance..

Regards,
Abhishek Kumar

[2019-12-11 18:37] tipsy commented on #832
@abhikt48 If you already have the OpenAPI spec, all you need to do is to render some HTML that points to that spec:

[code]

Then you don't have to add any dependencies related to swagger/redoc.

[2019-12-11 19:48] oharaandrew314 commented on #813
Are you using Apache HttpClient?  Might want to check this out.  I sometimes use it when I want to mock out an external API.  https://github.com/PawelAdamski/HttpClientMock

[2019-12-11 21:01] lsoares commented on #813
Hey
Thanks for the tip; I'll save it for the future.
But now I'm using the new [Java HTTP Client](https://openjdk.java.net/groups/net/httpclient/intro.html).

[2019-12-12 08:37] sealedtx commented on #823
@Araknailuben I don't know if I get your question clearly. But why don't you simple write like this:
`OpenApiResponse(status = 200, content = [OpenApiContent(from = String::class)]),` ?
If you need to specify it as String just don't use Meter wrapper.

[2019-12-12 09:24] Araknailuben commented on #823
Hi,
Thanks for your time. I knew that I simplified to much my example... Yes of course, for this kind of wrapper I will just write it as you do. But even so, if I modify the Meter type it will not be automatically modified in the documentation.

In fact my wrapper is a bit more complex and includes other wrappers and so on. Today I wrote my documentation with types that I redefined to match exactl

[2019-12-12 10:30] abhikt48 commented on #832
@tipsy  - Thanks a lot for your detail information. Please find below issue details..

Requirement - We need to convert more than 100 open api specifications into ReDoc HTML file. All api specifications are in private repository, which we can't expose to public due to security concern.

So above solution can't work for us, because we don't have public URL to specify in "spec-url".

We found soluti

[2019-12-12 10:46] sealedtx commented on #820
@A1Liu
Not sure if it is the best solution, but here is how you can achieve it:
[code]

[2019-12-12 10:50] sealedtx commented on #823
@Araknailuben  But if you modify a type in your code you still have to remember where you override it to update the type definition of this class in docs? I can't how this feature will solve your problem

[2019-12-12 10:53] Araknailuben commented on #823
If the annotation is on my type, I can't really forgot

[2019-12-12 15:37] tipsy commented on #832
This isn't really relates to Javalin, and unfortunately the webjar can't help you.

I suggest you try to use the maven frontend plugin, which you can use to download npm and manage a npm pipeline.

[2019-12-12 15:41] abhikt48 commented on #832
@tipsy - Thanks a lot David :)

[2019-12-12 15:41] #832 closed

[2019-12-12 15:57] tipsy commented on #832
You're welcome, and good luck!

[2019-12-12 20:12] sealedtx commented on #817
added in #825

[2019-12-12 20:12] #817 closed

[2019-12-14 18:43] #759 closed

[2019-12-14 18:46] tipsy commented on #659
I think this was closed by #825 ?

[2019-12-14 18:46] #659 closed

[2019-12-14 19:00] #556 closed

[2019-12-14 19:08] tipsy commented on #485
I've started on this a couple of times now, but I just don't think it's realistic to complete.

[2019-12-14 19:08] #485 closed

[2019-12-15 09:08] tipsy commented on #785
I'm going to have a look at this now @SmithKevin.

[2019-12-15 11:56] tipsy commented on #785
@SmithKevin https://github.com/tipsy/javalin/pull/836 <-

[2019-12-15 15:47] thibaultmeyer opened #837 "Allow to retrieve raw queryParam or customize charset"
**Actual behavior (the bug)**
all url encoded value are url decoded. But in my case with the bad charsets. Javalin consider all data are in UTF-8, but in my case, third party software send an ISO-8859-1 url encoded string.

**Expected behavior**
Allow access to the raw value without manually parsing queryString and allow access to raw value directly on  converter used with JavalinValidation.regist

[2019-12-15 20:19] tipsy commented on #837
Hi @thibaultmeyer, thanks for your report. So, this is the function in question:

[code]

It always assumes UTF-8, which is causing problems. We have to check the encoding of the request.

Would you like to submit a PR to fix the issue?

[2019-12-16 08:11] thibaultmeyer commented on #837
Hello @tipsy,

I have an idea how to solve the problem. I will try to submit a fix as soon as possible.

[2019-12-17 19:49] #837 closed

[2019-12-18 18:10] #785 closed

[2019-12-18 18:42] tipsy commented on #795
Added in https://github.com/tipsy/javalin/commit/7d6f200a66815a9639a28f28fa3e08ebd4c7b9a4 :)

[2019-12-18 18:45] #795 closed

[2019-12-19 09:12] tipsy commented on #654
I got this working in Tomcat with:

[code]

Routes are matched correctly, and `System.out.println(ctx.contextPath());` prints the context-path.

There is no need to prefix your `get(path, handler)` calls with the context-path.

I'm guessing you haven't configured your servlet-container with the correct context-path if you're having issues with this.

[2019-12-19 09:12] #654 closed

[2019-12-19 10:28] tipsy commented on #750
Thanks for your explanation @TobiasWalle, I think we can close this then.

[2019-12-19 10:28] #750 closed

[2019-12-19 15:40] lulzmachine opened #839 "Javalin request lifecycle"
**Describe your question**

Hello! I'm building a small app with javalin and hibernate for database access. I wonder how to best implement database sessions and transactions with javalin. So I wonder how the request lifecycle behaves.

So far I set up a session a and start the transaction in a before handler on *. And I commit my transaction in a after handler on *. The database session is current

[2019-12-19 16:51] tipsy commented on #839
I'm not familiar with Hibernate, but I'll attempt to answer the general questions.

Requests are assigned one thread from the thread-pool, and that thread will only serve that one request. When the request is done, the thread will be released back into the thread-pool.

Before-handlers are executed in the order in which they are declared.

Same as for before.

It won't :)

It will get called even

[2019-12-19 19:12] tipsy commented on #769
I'll get started on this now that I'm on Christmas break. I think I will do this in steps:

1. Structure project as multi-module, but only have one sub-module containing everything
2. Split out OpenAPI to separate module
3. Split out testing to separate module
4. Update and merge GraphQL plugin PR as separate module

[2019-12-19 20:21] tipsy commented on #769
PR for 1: https://github.com/tipsy/javalin/pull/840

Having some trouble with running tests from IntelliJ, can't seem to get the working dir or classpath to behave correctly.

[2019-12-28 09:34] #839 closed

[2019-12-29 13:28] tipsy opened #843 "OpenAPI documentation"
The OpenAPI plugin has been growing a bit. Is the docs page (https://javalin.io/plugins/openapi) still up to date?

@TobiasWalle @sealedtx others?

[2019-12-30 10:33] sealedtx commented on #843
I can update some changes that I have noticed. How can I to contribute to docs?

[2019-12-30 11:35] tipsy commented on #843
That would be great @sealedtx, the docs page can be found here: https://github.com/javalin/javalin.github.io/blob/master/pages/plugins/openapi.md

[2019-12-30 11:57] Davidonium opened #844 "Generic response wrapper when generating OpenAPI"
I am having some problems with the openapi plugin when I have a generic wrapper for responses using the fluent dsl.

I have something like:
[code]

And the response schema result in swagger when I do this:
[code]

is like:
[code]

and I expect:

[code]

Somehow the inner types of the response are not processed, did not dig the code enough to say what it is.

I have tried two solutions but both are

[2019-12-31 08:27] #843 closed

[2019-12-31 10:05] sealedtx commented on #844
@Davidonium, Hi! As I understand JVM restrictions, it seems impossible. The type arguments of generic classes are erased at runtime, and in Java there is basically no way to retrieve them from `ApiResponse<T>`, in Kotlin there is `<reified T>` language feature which allows you to get `T::class.java`, but it can't dive deeper to it's generic param.
BTW: I prefer first solution with wrapper class, b

[2019-12-31 23:41] MrThreepwood opened #845 "Unable to Use Added Servlet AND Javalin routes Together"
We're attempting to host a service that handles graphql requests/responses. I attempted to follow the example in: [/src/test/java/io/javalin/examples/HelloWorldServlet.java#L19-L27](https://github.com/tipsy/javalin/blob/master/src/test/java/io/javalin/examples/HelloWorldServlet.java#L19-L27), however I am getting very strange behavior when attempting to make requests.

[code]
With the above config

[2020-01-01 09:53] tipsy commented on #845
@MrThreepwood I've never used this technique myself, so I'm afraid I can't be of much help. Can you rewrite the `EntityServlet` to a Javalin `Handler` ?

[2020-01-02 17:23] MrThreepwood commented on #845
This started as a non-javalin project that we wanted to add rest endpoints to, so I have not looked into that, but I will I suppose.

[2020-01-03 15:43] spinscale opened #846 "RateLimiter initializing a new executor for every timeunit?"
**Describe your question**: I was curious about the RateLimiter implementation (especially if the matched path was used to avoid exploding hashmaps in the limiter :-) and took a look at the implementation. Just to make sure I understood the code correctly (my kotlin skills are still bad, sorry :-):

Is there a new thread pool executor created for every `TimeUnit` enum value, potentially running se

[2020-01-03 16:02] tipsy commented on #846
Yes, that is correct. I considered it unlikely that people would want to use 7 different `TimeUnit`s. Only H/M/S seem relevant, and I doubt most people will want to mix them. I'm not sure if this feature will be used by anyone, so I went with a very simple approach.

That is true. It doesn't make much sense to generate these objects in the first place, it just looks nicer than `Factory.create(ctx,

[2020-01-03 17:08] MrThreepwood commented on #845
If I had to guess, the issue is that Javalin is handling all requests passed to it. Either it gets handled by a handler, or Javalin returns a 404. I'm guessing there's a way to "not handle" a request, or not respond, at which point Jetty would check the next servlet, but I don't know how to do that.

When I used Spark for a different project that included a Websocket I had to explicitly return nul

[2020-01-03 20:42] MrThreepwood commented on #845
All right, I did some spelunking in the Jetty server and found out that the context path defined in the create function is used for the handler added in the create function. The path parameter in the add servlet method appears to add additional pathing required to reach that specific servlet and setting the context again outside the create function will specify a context path for the javalin handl

[2020-01-03 20:42] #845 closed

[2020-01-03 20:47] tipsy commented on #845
I'm happy you figured it out!

That would be great. I'll add the `INFO` label for now.

[2020-01-04 09:42] elvisols opened #847 "Enabling Swagger UI on OpenApi"
Hello,

Please, I'm new to Javalin and I will love to expose my API using SwaggerUI, hosted on my embedded jetty server.
Below is my configuration:
[code]

But I'm getting a blank page when I visit `~/swagger` and the following on my console.
[code]
Please note that I enabled Webjars `...config.enableWebjars();...` but still not working :(

[2020-01-04 09:47] tipsy commented on #847
Hi @elvisols, can you try cloning the examples from https://javalin.io/tutorials/openapi-example ?

[2020-01-04 10:13] elvisols commented on #847
Thanks @tipsy
Swagger-ui still isn't coming up. Still getting the previous console error of `SwaggerUIBundle not defined` However after adding the redoc dependency, the redoc ui displayed fine. Is there something I might be missing with Swagger-UI?

[2020-01-04 10:59] tipsy commented on #847
You shouldn't have to do anything differently. Are you including a different version than the plugin expects?

[2020-01-04 11:31] elvisols commented on #847
Oh Yes, I was using a different plugin. Thanks, @tipsy. It's fine now.

[2020-01-04 11:31] #847 closed

[2020-01-04 11:47] tipsy commented on #847
Great, happy you got it working!

[2020-01-07 21:14] wdhodges opened #848 "How to use the bodyAsClass() function?"
I'm generally new to Java, coming over from c#. I'm trying to figure out how to use the `bodyAsClass()` function?

![image](https://user-images.githubusercontent.com/11448029/71929952-bc13de80-3168-11ea-8b9e-79a28ce5079b.png)

[2020-01-07 21:24] tipsy commented on #848
[code]

What IDE are you using?

[2020-01-07 21:49] wdhodges commented on #848
IntelliJ with the VSCode Theme plugin. Trying to make the transition as
easy as possible haha. I’ll give that a shot! Thank you for the speedy
reply.

On Tue, Jan 7, 2020 at 16:24 David <notifications@github.com> wrote:

[2020-01-07 21:55] tipsy commented on #848
I recommend intellij or eclipse, if you haven't tried them yet :)

[2020-01-07 21:56] wdhodges commented on #848
I’m using IntelliJ now and love it :)

On Tue, Jan 7, 2020 at 16:55 David <notifications@github.com> wrote:

[2020-01-07 22:03] tipsy commented on #848
Sorry, I just read vscode and shut down :sweat_smile:

[2020-01-07 22:34] tipsy commented on #848
@wdhodges As a general tip, you should prefer method references over lambda fields. That way you're not marrying the `Handler` interface itself, and it should (in theory) be more efficient:

[code]

Method references > lambdas > anonymous classes.

Not exactly a thorough article, but the book it references is very good: https://medium.com/@yury.nino.roa/effective-java-for-lambda-functions-method-r

[2020-01-07 22:37] wdhodges commented on #848
Ah, see now that makes more sense to me lol There are some stark differences with c# and java, but then again a lot of them are the same. Thank you for the links and help!

[2020-01-07 22:43] tipsy commented on #848
You're very welcome. I'll close this issue now (as it's not relevant to most users), but feel free to keep asking any questions you might have even after it's closed.

[2020-01-07 22:43] #848 closed

[2020-01-07 22:43] tipsy commented on #846
@spinscale Do you have any other questions/concerns, or can this be closed?

[2020-01-07 22:46] spinscale commented on #846
I'm good, your answers make perfect sense. Thanks!

[2020-01-07 22:46] #846 closed

[2020-01-09 17:13] danwallach opened #849 "binary output for regular web requests"
**Describe the feature**
I'm looking at porting some web services from SparkJava to Javalin. The catch is that some of these services return generated image types (PNG, etc.). In SparkJava, you can say `response.type("image/png"); return imageBytes;`, but there's no equivalent in Javalin to just take a raw array of bytes and emit them as the HTTP response body.

**Additional context**
To some exte

[2020-01-09 18:29] tipsy commented on #849
The `result(...)` method can take an input stream, could you do `result(ByteArrayInputStream(bytes))` ?

[2020-01-10 18:58] danwallach commented on #849
That should be a fine workaround, but it would be nice to have more return types.

[2020-01-10 19:12] tipsy commented on #849
I'm okay with adding a `byte[]` overload, but `ctx.image()` sounds a bit too specific compared to the rest of the API.

[2020-01-10 19:18] tipsy commented on #776
Happy new year @richarddd, are you working on this?

[2020-01-10 19:39] tipsy commented on #805
If you know Java I think you would pick it up easily, I would be happy to assist with code reviews.

[2020-01-10 19:44] tipsy commented on #815
@mpe85 I'm not sure if this is part of the official spec. I saw a number of open issues on it in various trackers, including the OpenAPI one. It should be simple to fix this though, as the `sse` endpoint is just a `get`.

[2020-01-10 20:12] danwallach commented on #849
`result(byte[])` would be clean, and would work well with all sorts of different binary serialization formats.

[2020-01-10 21:02] tipsy commented on #849
Would you like to submit a PR?

[2020-01-10 21:39] danwallach commented on #849
Sure, I'll build something.

[2020-01-10 21:45] AkashWorld opened #850 "Is restarting the server with a different port supported?"
Is it not possible to restart a javelin server with a different port? Whenever I start a server and subsequently call server.stop(); calling server.start() leads to an exception. I have a use case where I would like to restart the server in a different port (or restart it in the same port). The only way I've been able to do it is to create a completely new server object. Is there a cleaner way?

[2020-01-10 21:49] tipsy commented on #850
What's the use case for this?

[2020-01-10 22:06] AkashWorld commented on #850
My project involves creating a server on a user's machines for other clients to connect. If the user decides they want to change the port for whatever reason, or if the default UPnP port does not work (UPnP can be flaky) and the port needs to be manually configured, the server will need to be restarted.

[2020-01-10 22:11] AkashWorld commented on #850
For more context; the server is created on the user's demand on their personal machine (to not rely on a central service). Checking whether one of their ports have been properly forwarded (with UPnP) is unreliable (at least with my experimentation with my devices) without contacting the server on their machine.

[2020-01-10 22:14] tipsy commented on #850
Hmm.. The server is not really meant to be re-used, it should be simple enough to move the server creation and startup into a method and call that?

I guess you could make a few changes and create a PR for it, I don't think it would be a lot of work.

[2020-01-10 22:18] danwallach commented on #849
https://github.com/tipsy/javalin/pull/851

[2020-01-10 22:23] tipsy commented on #805
I'm not sure, but I think we can just need to grab the security scheme from here: https://github.com/derveloper/kotlin-openapi3-dsl/blob/master/src/main/kotlin/cc/vileda/openapi/dsl/OpenApiDsl.kt

[2020-01-10 22:25] AkashWorld commented on #850
I see. What I have works fine now, I'll def take a look when I have time. Thanks.

[2020-01-10 22:25] #850 closed

[2020-01-10 22:28] #849 closed

[2020-01-10 22:31] tipsy commented on #804
Let's close this and focus on #805, since it has more info.

[2020-01-10 22:31] #804 closed

[2020-01-10 22:35] tipsy commented on #820
@sealedtx I couldn't figure out how to do this in the annotation API, is it possible?

[2020-01-11 10:42] tipsy commented on #805
I have an incomplete PR for this here: https://github.com/tipsy/javalin/pull/852

I just started looking at the codebase, so I'm not sure how it ties together yet.

(Hints appreciated, @sealedtx and @TobiasWalle)

[2020-01-11 13:35] sealedtx commented on #820
@tipsy Unfortunately, it is impossible to do this in annotation API (as I can see), moreover it looks ugly even in DSL. Certainly we need to implement this feature somehow.

[2020-01-11 13:53] tipsy commented on #820
Thanks for confirming, it looks impossible to me too. The only thing I could come up with would be
`@Example(class, varargs string)`, then use the position of the varargs to build the class using reflection. It seems like a horrible approach.

An alternative could be to add an annotation to the data model itself, something like

[code]

I'm not sure if that's the best approach either, but it seems

[2020-01-11 20:02] sealedtx commented on #820
@tipsy Probably, I could spend some time on this task next week

[2020-01-12 11:57] richarddd commented on #776
Kind of, just have been really busy at the latest! Will pick up in a week or so :)

[2020-01-12 12:00] tipsy commented on #776
Cool, looking forward to it!

[2020-01-12 12:02] tipsy commented on #844
I guess there's not a lot we can do here, so I'll close the issue for now.

[2020-01-12 12:02] #844 closed

[2020-01-12 12:28] tipsy commented on #823
@Araknailuben What is your use case? If your class is `data class Meter(val sn: String)`, it will serialize to `{sn: "YourValue"}`, which isn't a `String`. If you generate clients that expect to send/receive a `String`, how will they work?

[2020-01-13 00:00] kalyanam opened #853 "Socket.io Support"
Hi,

I'm really enjoying using Javalin in my new project and its simplicity - especially coming from SpringBoot. Are there any plans to support Socket.io server side functionality in Javalin? I know there are a ton of websocket frameworks out there, but socket.io is probably the most widely used one. We are looking to leverage Socket.io for the client side functionality, but would love to use Java

[2020-01-13 07:24] tipsy commented on #853
Happy to hear that you like it @kalyanam! There are no plans for this currently, but from looking at https://github.com/socketio/engine.io-server-java/blob/master/README.md it seems you can just plug in their servlet and use it. Have you tried that?

[2020-01-13 08:27] Araknailuben commented on #823
Hi @tipsy !

I will present you the full example, because I tried to simplify it but it was not a good idea after all.

My philo when I code is to type everything. So, even if a simple string could do the job, I will wrap it into a functional class. Here, Meter is described by a serial number, a model and some other properties. Let focus on the serial number which is a simple string. I wrapped thi

[2020-01-13 11:40] tomas-silhavy opened #854 "config.enableCorsForAllOrigins() is not adding proper CORS headers"
**Actual behavior (the bug)**
Http header "access-control-allow-origin:*" is not being added to responses

**Expected behavior**
header should be present on all responses

**To Reproduce**
[code]

Workaround I needed to use in order to get the CORS header in all requests is this:
[code]

[2020-01-13 15:23] TobiasWalle commented on #805
I already added support for this use case.
You can check the tests for an example:

Definitions:
https://github.com/tipsy/javalin/blob/master/src/test/java/io/javalin/openapi/TestOpenApi.kt#L72
https://github.com/tipsy/javalin/blob/master/src/test/java/io/javalin/openapi/TestOpenApi.kt#L83

Results:
https://github.com/tipsy/javalin/blob/master/src/test/java/io/javalin/openapi/json.kt#L228
https://

[2020-01-13 15:37] sealedtx commented on #805
@TobiasWalle just made my PR to cover this feature, will appreciate if you review it

[2020-01-13 16:08] TobiasWalle commented on #805
@sealedtx Thank you! But I also just opened a PR which is similar to your PR.

I want to avoid that we copy the OpenApiDsl library. That's why I kept my implementation as small as possible.

I think it is okay to define the SecurityScheme with the OpenApiDsl on intialiazation. You also can add the reference via the OpenApiDsl if you use the java/kotlin API.

In my PR I just added the annotation AP

[2020-01-13 16:50] tipsy commented on #854
@tomas-silhavy I believe it shouldn't add star, but add the actual origin that is being requested. Are you seeing any issues with browsers because of this?

[2020-01-13 16:50] sealedtx commented on #805
@TobiasWalle, I understand your way of thinking, but in my opinion those additional 40 lines of code bring little more clarity to people who use javalin.

[2020-01-13 17:42] tipsy commented on #805
From a user perspective, is the main difference between the PRs that @sealedtx's PR generates the `securitySchemes` part automatically based on what security is added to the different handlers, while for @TobiasWalle's PR the user has to write that part manually?

[2020-01-13 21:52] tomas-silhavy commented on #854
hmm if I remember correctly/understood it right from when I looked at the implementation it should be actually adding the "*". Anyway it's not adding the actually origin either. Looks like the plugin is not called?

[2020-01-13 21:53] tipsy commented on #854
The `*` is a special case, when you use that the server will respond with an ALLOW_ORIGIN which matches the origin of the request.

Try cloning and running this: https://github.com/tipsy/javalin-cors-example

[2020-01-14 10:11] TobiasWalle commented on #805
@tipsy Yeah that's the main difference.

Should the user really define the security scheme in the annotations? I think normally you have just one or a few ways to authenticate in your application. My concern is, if the user need to define the security scheme directly in the annotation is, that this leads to a lot of unnecessary duplication.

If the user then want to update it's security scheme, he

[2020-01-14 18:35] sealedtx commented on #805
@TobiasWalle As user I would prefere just to define authorization requirement on requests together with other openapi docs and let the other things to be done underhood. But you have more experience developing this plugin, and if you are saying that your solution is easier to maintain I believe you, so merge it. Thank you for review ;)

[2020-01-14 20:13] tipsy commented on #805
I think that sounds plausible. I often end up having some secured and some public endpoints, but never two different schemes.

I'm still very new to all of OpenAPI, so I don't have a strong opinion here, but I'm starting to lean towards @TobiasWalle's alternative. I like the idea of generating it automatically, but I guess in most cases it would be much simpler to just reference one of the predefi

[2020-01-14 20:18] tipsy commented on #805
I don't want to sound like an idiot, but what part of that exactly does my PR tackle? 🤔

[2020-01-14 20:38] TobiasWalle commented on #805
I just skimmed over your PR and though that you added support for the security configuration per route, but I was wrong 😉

Thank you for your understanding 🙂. I see my PR more like the absolute minimal implementation of this feature. But I think there would still be space for a more advanced implementation like yours. But I thin first we should see if this is really a requirement by a lot of users

[2020-01-14 20:43] tipsy commented on #805
Great, then I'm following - I realized I was doing it all wrong when I looked at your test 😅

[2020-01-15 12:45] pkkummermo commented on #805
It's quite normal to both allow for a traditional OAuth2 security scheme as well as a token based APIKey on the same endpoints.

[2020-01-15 15:43] tipsy commented on #805
I should have been more clear. What I meant to say is that I think it's uncommon to have multiple different schemes that are exclusive to one endpoint:

Common:
[code]

Uncommon:
[code]

The main point being that it makes more sense to define 1 to n schemes upfront and reference them from the endpoints, as opposed to defining the scheme itself in the endpoint.

[2020-01-15 16:38] #805 closed

[2020-01-15 16:49] tipsy commented on #823
Thanks @Araknailuben, that's much clearer. This sounds like a bit of an edge case, so I'm not sure we can add anything specifically for this. Using a data class sounds like an okay solution, even if you have to manually update it.

[2020-01-15 17:44] tipsy commented on #854
I'm going to close this @tomas-silhavy. This feature has been unchanged for over a year, so I think it's correct. Please re-open if you're sure there's an error.

[2020-01-15 17:44] #854 closed

[2020-01-15 17:46] tipsy commented on #853
@kalyanam I'm going to close this issue,. We already have Jetty for WebSockets, and since you can plug in socket.io as a Servlet I don't think there's any need to integrate it into Javalin.

[2020-01-15 17:46] #853 closed

[2020-01-15 17:52] tipsy commented on #686
Sorry @vn7n24fzkq, I must have forgotten to reply. If you make them all different modules, then I guess they can have completely independent dependency trees. Could you try that?

[2020-01-15 18:18] tipsy commented on #815
Maybe not the most elegant solution @mpe85, but you could do this:

[code]

Which results in:

[code]

[2020-01-15 18:56] tipsy commented on #815
Added a docs snippet here: https://javalin.io/plugins/openapi#server-sent-events

[2020-01-15 18:56] #815 closed

[2020-01-16 13:47] sealedtx commented on #820
@tipsy I wrote some code to implement this, but I had faced problem with Kotlin. I decided to keep `@OpenApiExample` inside model class as annotation to its static method, because non-static method require object instance to invoke and we don't have one at the moment of building openapi documentation.
[code]
As I know in kotlin there are no static methods, but companion object with functions:

[co

[2020-01-16 15:56] tipsy commented on #820
@sealedtx It's not too bad, if the functionality is there, other people are more likely to suggested improvements. Feel free to submit the PR.

Did you try making a single class / map with examples?

[code]
[code]

That seems cleaner to me than adding a method to every class, but maybe it's harder to implement?

[2020-01-17 11:43] sealedtx commented on #820
I think it is fine to keep example near the class declaration, isn't it? Take a look at #857

[2020-01-17 14:39] tipsy commented on #820
I'm not sure - it adds a lot of boilerplate and "noise" to your codebase, especially if you want multiple examples.

After thinking about it, adding a `Map<Class, List<Any>>` of examples to the `OpenApiConfig` makes the most sense to me. Then just could just serialize the example object? No need for annotation scanning or reflection or anything.

[code]

[code]

[2020-01-18 00:59] BenjixD opened #858 "Javalin 3.7.0 Ivy Unresolved Dependency - [org.webjars.npm#js-tokens;[3.0.0,4),[4.0.0,5): not found]"
[code]

While setting up Javalin as a depedency on my Apache Ant project using Ivy, I am unable to retrieve the jar specified above.

[code]

With the target step as follows:

[code]

Downgrading to Javalin 2.8.0 seems to work however.

[2020-01-18 08:23] tipsy commented on #858
Hi @BenjixD! That webjar is not a required dependency of Javalin, it's an optional transitive dependency for a Web UI for OpenAPI. I'm not sure how Ant+Ivy works, but it shouldn't be downloading this dependency at all (unless you're trying to use OpenAPI).

[2020-01-18 14:26] georgeyanev commented on #455
@tipsy Doesn't the new RateLimit functionality duplicate this of the DosFilter?

[2020-01-18 16:17] tipsy commented on #455
@georgeyanev Yes, sort of, but it's much simpler.

[2020-01-19 11:32] manuelhuber opened #859 "Swagger annotation support for `multipart/form-data`"
You added support to upload forms with file and text in #124 but there's currently no way to properly document it with the OpenApiAnnotations. According to [the swagger doc](https://swagger.io/docs/specification/describing-request-body/file-upload/) the schema for the `request-body` of a form with binary and primitive content should look like this:
[code]
But the `@OpenApi` annotation has two sepa

[2020-01-19 12:27] tipsy commented on #859
Thanks for the issue report @manuelhuber! Would you like to submit a PR to fix it?

[2020-01-19 13:51] manuelhuber commented on #859
Yeah, I'll give it a shot.
My plan is to keep `formParams` and `fileUploads` and change it to create a single `multipart/form-data` containing both (if both are given). If only one is given the behavior will be unchanged (e.g. if theres only `formParams` but no `fileUploads` it should continue to use `application/x-www-form-urlencoded`).
This way the API is unchanged but technically we'd break exi

[2020-01-19 14:49] tipsy commented on #859
Great! I think your proposed fix sounds reasonable. I also agree that this is a bugfix and that it can be released as part of 3.7.1 (or 3.8.0). Please go ahead.

[2020-01-19 14:50] tipsy commented on #858
I'll go ahead and close this @BenjixD, please re-open if you find out that this is a bug on Javalin's part.

[2020-01-19 14:50] #858 closed

[2020-01-20 12:05] tipsy commented on #820
I can have a look after work, but it should be possible to follow the same code path as `defaultDocumentation`?

[2020-01-20 19:01] tipsy commented on #859
Closed by #860

[2020-01-20 19:01] #859 closed

[2020-01-20 20:01] tipsy commented on #820
I couldn't really find any obvious way to connect this either @sealedtx. In my PR (https://github.com/tipsy/javalin/pull/861/files), I just made a global map of examples. It's not very elegant, but it should work fine since you won't define different examples for multiple servers in the same application. Maybe @TobiasWalle can chime in on this, maybe we're missing something obvious (or maybe my ap

[2020-01-20 20:50] TobiasWalle commented on #820
@tipsy I think the global example map goes in the right direction, as I can't think of a good way to add examples via annotations.

But I would prefer an API like this
`
class OpenApiOptions {
    // ...

    inline fun <reified T> addExampleForSchem(name: String, example: Example<T>) {
        // ...
    }
    fun <T> addExampleForSchema(clazz: Class<T>, name: String, example: Example<T>) {

[2020-01-20 21:04] tipsy commented on #820
I don't know enough about OpenAPI to know what is missing 🤔

[2020-01-20 21:07] TobiasWalle commented on #820
https://swagger.io/docs/specification/adding-examples/

There are examples for Parameters, Requests, Responses and Properties.
I don't think we need to cover everything right know. I also think that
the current way with the DSL isn't so bad:
[code]

[2020-01-20 21:12] TobiasWalle commented on #820
The annotations are not so simple. I don't think there is a good way, to define the example inline in the annotation.

The best solution I can think of right know is to define the examples in the source code and reference them in the annotation.

[code]

But this solution is also not perfect.

[2020-01-20 21:15] tipsy commented on #820
Ah, thank you. The more I learn about this, the more I understand why you prefer the DSL 😅

If I may be so bold, examples for primitive values seems a bit overkill. If we create a map with class as key, it should be possible to automatically add examples for schemes, request bodies and response bodies (?), which should be good enough (?).

[2020-01-20 21:17] sealedtx commented on #820
I think that examples for "not schemas" are not so usefull, the main usage would be specifying objects examples for requestbody and reponse, basically this is what @A1Liu asked about

[2020-01-20 21:53] TobiasWalle commented on #820
@sealedtx You are absolutely right. I think an api to define a map of examples for the schemas would be enough for most of the use cases and would solve @A1Liu's problem.
@tipsy I also don't think that we need examples for primitives.

What do you think about my API proposal from above?
[code]

I think it is a little bit easier to use than a nested map, especially for Java developers (But a nested

[2020-01-20 22:13] tipsy commented on #820
It looks fine. Definitely easier to use, but it requires you to add all the examples to the `OpenApiOptions` one by one. I like the idea of having a separate file with examples, could we provide an option to set a map in addition to this?

[2020-01-21 08:39] sealedtx commented on #820
May be we can leave both options (as `io.swagger.v3.oas.models.media.MediaType` does) : setting map of examples and adding single examples one by one?

As I see `Example` is not generic class, so there is no big benefit of using generic function?

[2020-01-21 09:13] tipsy commented on #820
I hadn't seen that, but it doesn't look like a good approach. What do you do when you update the data class? How do you deal with more complex classes (nested classes, classes with more than a few fields)? Looks like a lot of manual work. I think having it typed is preferable, even if it's not part of the annotation anymore 🤔

[2020-01-21 14:48] TobiasWalle commented on #820
Yeah, I think we can provide both methods. Do you want to update your PR? I can review it once  you are done.

[2020-01-21 18:39] tipsy commented on #820
I think what @TobiasWalle meant is this:

[code]

So you can write `addExample<User>("A correctly configured user", User("John"))`

Sure, give me a minute.

[2020-01-21 19:07] tipsy commented on #820
@TobiasWalle Updated PR: https://github.com/tipsy/javalin/pull/861/files

I need a hint for how to test this easily.

[2020-01-22 19:45] tipsy commented on #820
I wrote a test confirming that the examples are included, but not **where** they are included. Since this is based on the OpenAPI library, I think this should be enough, but I'm not sure.

[2020-01-24 06:16] decapo01 opened #863 "How to implement CSRF"
I'm using this library with kotlinx html forms and was wondering if there was a way to use CSRF with these forms.  I see there is a pac4j for this library but I don't see a specific example on how to do this from the website.

[2020-01-24 07:12] tipsy commented on #863
There is no built in functionality. Maybe googling "csrf servlet" would yield some results? (javalin is servlet based)

[2020-01-25 20:52] tipsy commented on #820
Merged! Thanks for the help @sealedtx and @TobiasWalle !

[2020-01-25 20:52] #820 closed

[2020-01-25 20:52] #863 closed

[2020-01-25 20:53] tipsy commented on #823
Going to close this, as I think it's a bit of a corner case.

[2020-01-25 20:53] #823 closed

[2020-01-27 01:50] wherkamp commented on #667
I have another suggestion to my original idea.
So I want to support for paths like this /sitemap-{id}.xml.

[2020-01-30 15:13] bluedevil2k opened #867 "Add Built-In Support for Working with JWT"
**Describe the feature**
JWT is a pretty common solution for working with microservice API's instead of using Sessions.  This allows for easier horizontal growth and for me, worked to solve multi-domain issues on Safari.

**Additional context**
The recommended solution for JWT is to place them in the header { "Authorization": "Bearer XABC...}.  First would be a convenience method on Ctx =>  ctx.ge

[2020-01-30 16:04] tipsy opened #868 "Media streaming and seeking"
https://github.com/aruld/jersey-streaming

[2020-01-30 16:56] bluedevil2k commented on #867
I'd be willing to use my Java code, if someone is willing to convert it to Kotlin

[2020-01-30 22:28] tipsy commented on #868
There's a pull request here: https://github.com/tipsy/javalin/pull/869

The api now is `ctx.resultMediaStream(inputStream, "audio/x-wav")`. Should it be possible to specify buffer-size ? Should it be possible to specify chunk size? Are there better names for the method on the context? `ctx.streamMedia(...)` ?

[2020-01-31 03:24] vn7n24fzkq commented on #686
Sure

[2020-02-01 09:49] #868 closed

[2020-02-02 17:11] manuelhuber commented on #867
Would be good to have that built in but there's also a library:
https://github.com/kmehrunes/javalin-jwt
If it is added to Javalin you definitely also need to add it to the OpenAPIOptions otherwise Swagger will be unusable.

I currently use the library linked above and have the filthiest hack to fix my swagger doc :
[code]
Yikes!

[2020-02-06 18:41] lulzmachine opened #870 "How to set a cookie to httpOnly?"
**Describe your question**

I'm doing a SPA. I'm sending the access token to the client javacript code. But to avoid the refresh token ever touching javascript I'd like to put it in a cookie with httpOnly.

How can I accomplish that with javalin?
Right now I'm doing

`        ctx.header("Set-Cookie", "refresh_token="+encodedCombined+"; Secure; HttpOnly");
`
But I feel like I'm missing something

[2020-02-06 19:34] tipsy commented on #870
You can use the `ctx.cookie()` method, which takes a `javax.servlet.http.Cookie`:

[code]

[2020-02-06 20:51] lulzmachine commented on #870
Oh, great. I must have been blind. Thanks!

[2020-02-06 20:51] #870 closed

[2020-02-08 21:53] skoehler79 commented on #867
I was able to adjust the Swagger documentation output to what I wanted by adding a schemaRequirement to an InitialConfigurationCreator and then a SecurityItem to each individual operation (not all of my operations need authorization).  This will allow you to test from within the Swagger docs and have the Authorization header sent to the server.

Thanks to @manuelhuber for your Kotlin code as it po

[2020-02-10 10:28] mavek87 commented on #805
@TobiasWalle @sealedtx Thank you very much for the feature, but how can I use it in Java? I can't find any example in the doc so I'm trying to figure out how to do it looking at the code. @tipsy Is the feature already released in javalin 3.7?

[2020-02-11 04:34] thomasboyt opened #871 "Document using Gson mapper in Kotlin"
👋 hi! I've been taking a look at Javalin today, and have been considering converting a tiny ktor project to it (the tl;dr there being that most of the addons to ktor that make it a more complete framework are still labeled "experimental," and I don't really need the async capabilities it has).

One stumbling block along the way was that I wanted to use Gson (since my existing resources were alread

[2020-02-11 07:11] tipsy commented on #871
Good idea! Would you like to submit a PR? The website is in the Javalin org.

[2020-02-11 16:31] thomasboyt commented on #871
Sure, can do soon! I had originally meant to make this issue a  PR but couldn't find the docs repo because I didn't know there was a separate org 😅

[2020-02-11 19:02] tipsy commented on #871
Yeah, people have a bit of trouble finding it, maybe I should add it to the readme. Just so it's clear, it's here: https://github.com/javalin/javalin.github.io :)

[2020-02-12 02:22] 28Smiles opened #872 "Possible WsServlet issue? Not Found"
We want to deploy javalin as a servlet with jetty, the HttpServlet works fine, but using websockets, I get 404 not found, upon tying to open a socket.
[code]

Am I doing something wrong?

[2020-02-12 07:14] tipsy commented on #872
I'm guessing your other servlet is capturing all the websocket requests and returning 404. All websocket requests start as GET requests.

Why are you attaching the servlets manually instead of letting Javalin do it?

[2020-02-12 11:41] 28Smiles commented on #872
I tried to follow this: https://javalin.io/2018/11/15/javalin-embedded-example.html
But since i have not found Embedded Javalin and javalin has the `servlet` and `wsservlet` method I tried using those.
Also i had removed the HttpServlet, still 404

What way of attaching the Servlets do you suggest?

[2020-02-12 12:01] vn7n24fzkq commented on #686
@tipsy  I am already make JMH can run with different version Javalin via command
[code]
Current version contain 1.0.0 and 3.0.0 .
How do you think ?

[2020-02-12 17:03] 28Smiles commented on #872
I've read the javalin code more carefully. Do I correctly assume, that javalin standalone is not able to handle websockets?

[2020-02-12 18:09] tipsy commented on #872
It will handle them fine if you're running on Jetty, but running Javalin standalone on Jetty is very strange (the whole point of standalone was so it could run on other servers, as Javalin already runs on Jetty).

Is your wish to attach an additional Servlet to Jetty (in addition to Javalin)?

[2020-02-12 18:26] 28Smiles commented on #872
No, I want my `servlet.war`, since my Co-Worker insisted.

This is my solution:
[code]

And this is how I feel about it:
![nx8b897mg9g41](https://user-images.githubusercontent.com/9430219/74365000-85675e80-4dcd-11ea-9d4c-febdc94f1f54.png)

[2020-02-12 18:31] tipsy commented on #872
![giphy](https://user-images.githubusercontent.com/1521451/74365396-4ede1380-4dce-11ea-8975-d38324da8ea8.gif)

[2020-02-12 18:37] tipsy commented on #872
I guess that's a valid approach, given your odd requirements. You can look at the `JavalinServer` file to see how Javalin attaches itself to Jetty: [src/main/java/io/javalin/core/JavalinServer.kt](https://github.com/tipsy/javalin/blob/master/src/main/java/io/javalin/core/JavalinServer.kt).

That being said, it sounds a bit insane. Did you co-worker give any reason for why you can't run on the embe

[2020-02-12 18:43] 28Smiles commented on #872
He is not able to include it into our CD, since he refuses to use one of my suggestions. So I let him be...

[2020-02-12 18:43] #872 closed

[2020-02-12 18:45] tipsy commented on #686
Cool, let me try it!

[2020-02-12 18:47] tipsy commented on #872
Best of luck to you!

[2020-02-12 18:47] 28Smiles commented on #872
Thank you

[2020-02-12 18:57] tipsy commented on #686
Nice work, running it for one version works great! Are you able to create comparisons between different versions?

[2020-02-13 01:50] vn7n24fzkq commented on #686
Sure.
But I can't run different version together at same time.
I can write a script like linux sh or window batch to execute all version benchmarks if needed.

[2020-02-13 17:11] tipsy commented on #686
It would be cool if we could define a base version and run comparisons against that, and get report like "3% improvement in requests per second" 🤔

[2020-02-13 22:05] icoloma commented on #451
My solution is to use `WatchService` to reload the MustacheFactory. This is to be used only during development:

[code]

[2020-02-13 22:18] icoloma opened #875 "Exception handler response gets overwritten by status handler"
The JSON response written by an exception handler will be overwritten if there is an error status handler:

[code]
This is expected to send a 404 response with the message `"User with id not found"`. A generic `"Resource not found"` response is sent instead, because the 404 status handler kicks in after sending the exception, rewriting the response.

[2020-02-13 22:19] icoloma commented on #875
To make sure that the response is not being overwritten, just add an attribute to the Context to mark the response as processed.
[code]

[2020-02-13 22:19] #875 closed

[2020-02-13 22:34] tipsy commented on #875
Thank you @icoloma !

[2020-02-13 22:37] tipsy commented on #451
I agree, but thank you for documenting your solution here. I've added the info tag.

[2020-02-14 19:53] DreamTexX opened #876 "Custom url for static files"
**Describe the feature**
Give the option, to specify a custom path for static files, for example:
`config.addStaticFiles("/js", "/app/javascript", Location.CLASSPATH);`
So that JavaScript-files can be accessed from /js/* instead of /app/javascript/*

[2020-02-14 22:33] tipsy commented on #876
@DreamTexX if you do `config.addStaticFiles("/app/javascript", Location.CLASSPATH);`, and `/app/javascript/js` exists, won't the files be served on `/js/*`?

[2020-02-14 22:57] DreamTexX commented on #876
My folder structure is like:
[code]
and when I do `config.addStaticFiles("/app/javascript");` I could only access them on this path (`/script1.js` [not `/app/javascript/*` as said before sorry about that]) but i found out, that when i use `config.addStaticFiles("/app")` everything works, and I can access by `/javascript/script1.js`

But nevertheless i think there should be an option to set a custo

[2020-02-15 00:17] tipsy commented on #876
Handling paths like this can be a bit tricky, so if it can solved by changing directory structure, I think that's a better approach. I'll leave the issue open for input.

[2020-02-18 02:32] rolfyone opened #877 "Overriding the default handling of objects when generating swagger-docs"
I'm having trouble finding documentation on what I'm trying to do, so I figured i'd just ask a question...

I've got an object that has a couple of simple attributes
[code]
just an interface class, and i've stripped bits I have already handled...

So the UnsignedLong class resolves to an empty object definition, i get {} in the schema.
My expectation was that I'd be able to somehow force that to s

[2020-02-18 07:56] tipsy commented on #877
The OpenAPI plugin uses Jackson for serialization, so you should check out their docs/search for that.
It should be possible to override the default Jackson mapper, I can have a look after work.

[2020-02-19 16:14] tipsy commented on #826
@stephanmg 👋

[2020-02-20 00:05] rolfyone commented on #877
Ok so I've got a jackson object mapper serializing and deserializing the Bytes32 and UnsignedLong, which is a good step forward...
The openApi schema still looks not perfect, is that just something i need to live with?

[2020-02-20 00:07] tipsy commented on #877
Not perfect how?

[2020-02-20 01:45] rolfyone commented on #877
so instead of the bytes32 'root' coming out as an object with attributes, I was hoping it could come out as root: string or similar, without having to define an entire interface level set of objects that has root defined as a string rather than a Bytes32 object with a bunch of attributes...

[2020-02-20 07:48] tipsy commented on #877
I think that's something you'll have to live with if you want to use those classes directly.
I usually create dedicated data classes for my endpoints which only contain primitives, (or objects with primitives).

[2020-02-20 09:20] pezi opened #878 "Tomcat 9.0.30 dies with Javalin 3.7.0"
Tomcat dies with following exception:

`Caused by: java.lang.IllegalStateException: Unable to find ServletContextHandler for provided ServletContext
	at org.eclipse.jetty.websocket.server.NativeWebSocketServletContainerInitializer.onStartup(NativeWebSocketServletContainerInitializer.java:120)
	at org.apache.catalina.core.StandardContext.startInternal(StandardContext.java:5135)
	at org.apache.catal

[2020-02-20 10:18] david-wg2 opened #879 "Error in seekable stream on Safari if response is smaller than chunksize"
![Screenshot 2020-02-20 at 11 17 26](https://user-images.githubusercontent.com/36410074/74924426-bf8abe80-53d2-11ea-91b1-65981dfe03ed.png)

[2020-02-20 10:21] tipsy commented on #878
Are you trying to use WebSockets?

[2020-02-20 10:30] pezi commented on #878
My problem occurs only with the maven artefact - without any line of code. Deploying the WAR with the Javalin dependcy on Tomcat Sever leads to the loading error.

[2020-02-20 11:01] tipsy commented on #878
Okay, I will have a look!

[2020-02-20 18:54] tipsy commented on #878
I just tested this without any issue. These are my dependencies:

[code]

[2020-02-20 18:57] tipsy commented on #878
Java code:

[code]

[2020-02-20 22:18] tipsy commented on #871
Should I take over this @thomasboyt ?

[2020-02-20 22:48] rolfyone commented on #877
ok cool, i can live with that - thanks for the guidance, its a steep learning curve!

[2020-02-20 22:48] #877 closed

[2020-02-20 23:07] thomasboyt commented on #871
Whoops, this slipped my mind. Should be able to do this in the next day or two!

[2020-02-21 08:39] pezi commented on #878
I can confirm that your code works.

But for my project i want to start different WS server on different ports inside a JavaEE project running on Tomact.

`Javalin app = Javalin.create(config -> {
		        config.registerPlugin(new RouteOverviewPlugin("/overview"));
		    }).get("/", ctx -> ctx.result("Hello World")).start(6000);`

triggers a

`Exception in thread "Thread-5" java.lang.NoClassDefF

[2020-02-21 09:03] tipsy commented on #878
Calling `Javalin.create` instead of `Javalin.createStandalone` includes a `WebSocketServlet`, so that's expected.

Calling `.start(6000)` on the standalone Javalin is also expected, as that tries to start a Jetty `Server` (which has been excluded).

You can't "start" the standalone Javalin, you just have to create it and do `app.servlet().service(request, response);`.

[2020-02-21 09:09] tipsy commented on #878
@mvysny, could you update [your Tomcat tutorial](https://javalin.io/2018/11/15/javalin-embedded-example.html) to work with Javalin 3.X ?

[2020-02-21 13:39] tipsy commented on #878
I added a small section with a link to the tutorial in the docs: https://javalin.io/documentation#other-web-servers

[2020-02-21 15:36] tipsy commented on #879
Fixing this (by setting the range to -1) seems to break the feature in Chrome 🤔

[2020-02-21 17:35] Playacem commented on #879
Your behaviour seems to be correct according to this [StackOverflow question](https://stackoverflow.com/questions/23072192/http-status-code-206-when-should-it-be-used). You can send a 206 for the complete file but sending a 200 is also okay, even though that might imply that range requests are not supported.

[2020-02-21 23:30] #871 closed

[2020-02-22 00:33] 28Smiles opened #881 "OpenAPI reflection fails"
**Actual behavior (the bug)**
While implementing an interface containing my own spec for a controller I encountered a problem. Up on casting the controller to its corresponding interface, the openapi plugin is not able to pick up the annotation anymore.

**Expected behavior**
The Open Api Annotation should be picked up.

**To Reproduce**
[code]

[2020-02-22 10:39] #878 closed

[2020-02-22 18:33] 28Smiles opened #884 "Open Api Params will not get put in the "components" section"
**Actual behavior (the bug)**
If using custom types for query params, the provided params will not be put into the "components" section of the specification, yielding issues using code generation from the spec.
Models will be created multiple times.

**Expected behavior**
Models should be in the "components" section. Doing this mannually, yields the expected results.

**To Reproduce**
Use custom p

[2020-02-23 15:25] 28Smiles commented on #884
@TobiasWalle as you are one of the authors of the plugin, ideas?

[2020-02-24 06:03] mvysny commented on #878
@tipsy sure: https://github.com/tipsy/javalin-tomcat-embed-example/pull/2 . I'll also update the docs.

[2020-02-25 00:56] The-Funk opened #886 "Javalin Velocity Template Rendering Engine - deprecated config keys?"
I'm using the velocity-engine-core-2.2 with Javalin. I believe the implementation in the JavalinRenderer is using old configuration keys that are being deprecated.

Somebody might want to fact check me, I'm a little new.

Here are the warnings I'm getting in IntelliJ when I fire up my web app.

[code]

Are these keys set by the JavalinRenderer or configured elsewhere?

EDIT: I found the portion of

[2020-02-25 16:45] tipsy commented on #886
Happy you figured it out!

What's the issue?

[2020-02-25 19:20] tipsy commented on #886
Happy you figured it out!

What's the issue?

[2020-02-25 19:37] The-Funk commented on #886
I can't figure out the JavalinCommonMark renderer. I'm not sure how to configure it to render a static html file for me.

Right now I have a static index.html file that I'm renaming to index.vtl and letting velocity render it because I don't want to copy the actual html into my handler function (the static file gets changed often)

Here is my configuration for the Commonmark renderer:

`
  Javalin

[2020-02-25 20:20] tipsy commented on #886
@The-Funk I just wrote this test:

[code]

Which passes without issue. You don't need to configure the plugin, it should just work 🤔

[2020-02-25 20:46] The-Funk commented on #886
I removed the configure line, but it is still giving the same behavior. It seems to think I need thymeleaf in order to render plain html files.

If I rename the index to  index.vtl and load in the velocity engine it renders fine that way.

[2020-02-25 21:08] tipsy commented on #886
Thymeleaf orignally has the `.html` extension, you have to make sure `JavalinRenderer.register(JavalinCommonmark, "html");` is called before you try to render something for the first time. For example:

[code]

[2020-02-25 21:31] The-Funk commented on #886
The bottom of the post is what I had going on. So Commonmark should have been getting set before the first render.

I'm stumped. I wonder if I just needed to clear cache/history in the browser....

Good news though. I downloaded Thymeleaf and replaced the line where I specced Commonmark wtih JavalinThymeleaf.INSTANCE and that worked like a charm.

I'm trying to keep the index.html file for now bec

[2020-02-26 08:20] TobiasWalle commented on #884
@28Smiles This is a problem of the Javalin plugin. I didn't though though about this use case, as objects in the query parameters are not so common. I don't have much time for the plugin at the moment, so if you want you can create a PR for this issue.

[2020-02-26 19:37] peterbirx opened #888 "Running Javalin service in AWS lambda"
How do I go about running a Javalin REST service in AWS lambda? I see on the AWS has released some wrappers for other java frameworks but I cant find anything for Javalin. Anyone tried this before? I guess I will have to implement a wrapper myself. Any pointers?

[2020-02-26 21:24] tipsy commented on #888
You need to use a Servlet adapter (like https://github.com/bleshik/aws-lambda-servlet), then you can run Javalin in standalone mode: https://javalin.io/documentation#other-web-servers

[2020-02-26 22:11] peterbirx commented on #888
Makes sense. Ill try this, thank you

[2020-02-26 22:12] #888 closed

[2020-02-26 22:21] tipsy commented on #888
Let me know how it goes!

[2020-02-29 18:49] 28Smiles commented on #886
Even if we would add the new Keys to javalin, velocity still reports that the keys are depricated, since we also add those for backwards compatilillity. I tried, detecting the velocity version and then decide on what to add, but sadly it did not work.

[2020-03-03 14:10] The-Funk commented on #886
Maybe wait until the next velocity release, switch to the new keys and require velocity-engine-core-2.2+ ?

[2020-03-03 17:44] uover82 opened #890 "Problem connecting to javalin/ sse from a remote client."
Hi, I'm currently having issues with remote clients/ browsers receiving sse events from javalin, using MacOS in a small LAN.

The events appears to be handled successfully on a single machine/ local browser, with a host value spec'd as either an ip address or localhost.

The server appears to send the events to the remote client, but they're not being received.

Does javalin/ sse support remote cl

[2020-03-03 18:22] peterbirx commented on #888
It worked and it was pretty straight forward:

`public static Servlet getServlet() {
      Javalin app = Javalin.createStandalone();

      app.before(ctx -> ctx.contentType("application/json"));
      app.post("api/ping", ctx -> {
          ctx.status(200);
          ctx.json("Hello World");
      });
      return app.servlet();
}`

`public class JavalinAdapter extends ServletRequestHandler {

[2020-03-03 18:37] peterbirx opened #891 "Compression in Javalin response"
While porting an application from Spark to Javalin, I came across an issue while testing the Javalin API with postman. I was getting 'Could not get any response' in postman, even though I could see in the API gateway logs that the request was returning the correct payload. If I set Accept-Encoding * in the request header, this issue was resolved. It seems that postman could not decompress the resp

[2020-03-03 19:00] tipsy commented on #890
Hi @uover82,

There shouldn't be any difference between a remote or local client, no changes are required to run the example from the docs on a platform like Heroku. A SSE request is really just a long lasting GET request, are you able to receive GET requests properly ?

[2020-03-03 19:01] tipsy commented on #888
Great, thanks for the update!

[2020-03-03 19:06] tipsy commented on #891
Yes, only on responses over 1500 bytes.

No, not sure why that is happening. The setting has been on by default for years and I don't think anyone else has made an issue about it.

You can do `config.dynamicGzip = false`.

[2020-03-03 20:12] uover82 commented on #890
Hi @tipsy,

Yes, I'm able to receive GET requests locally/ remotely. Perhaps It's worth noting that I'm also caching the sse clients for sending messages.

[2020-03-06 15:31] uover82 commented on #890
Thanks for sending, @tipsy. I'm using something similar:
[code]
At this point, I'm sending an simple test message, rather then setting a heartbeat.

I've been trying a few things to diagnose and noticed the following:

1. messages sent/ acknowledged from remote client/ no message handling, though
[code]
I've added some header values - don't seem to affect.

2. If I stop the server process, then th

[2020-03-07 00:52] A1Liu opened #892 "Javalin doesn't send content length for static files"
**Actual behavior (the bug)**
Javalin sends the following headers for static files:
[code]

**Expected behavior**
Should send a content length header as well

**To Reproduce**
Create a Javalin server and serve a static file from it.

**Additional context**
Breaks file downloads on everything but Chrome.

[2020-03-08 09:12] tipsy commented on #892
@A1Liu It has a `Transfer-Encoding: chunked` header, which should be fine. When you say file-downloads, do you mean HTML/CSS/JS/images, or larger files?

[2020-03-08 09:21] tipsy commented on #890
I don't think the client caching is related. The SSE client already calls `asyncContext.response.flushBuffer()` after `print`, so manually flushing again shouldn't matter (you can try by using an `after` filter though).

Could you try switching to WebSocket and see how that behaves?

[2020-03-08 09:22] tipsy commented on #891
I'm doing some Sunday cleaning, feel free to reopen if you have any other problem.

[2020-03-08 09:22] #891 closed

[2020-03-08 09:22] tipsy commented on #884
This was fixed by #889 !

[2020-03-08 09:22] #884 closed

[2020-03-08 09:29] tipsy commented on #886
Thanks for looking into this! For the sake of backwards compatibility, I think we should leave the implementation and version as is.

[2020-03-08 09:29] #886 closed

[2020-03-08 16:07] A1Liu commented on #892
Larger files, like an SQLite database file

[2020-03-08 16:09] A1Liu opened #893 "Multiple Swagger Docs in same Javalin Application"
**Describe the feature**
I'd like to be able to document multiple different APIs separately in the same Javalin application. I.e. have 3 handlers go to doc A, and have another 3 handlers go to doc B.

**Additional context**
The purpose of this feature request is API versioning; I'd like to version my API, and have separate docs for each version.

[2020-03-08 16:11] A1Liu commented on #892
Also, HTTPS doesn't support `Transfer-Encoding: chunked`, so on HTTPS servers, how should I transfer larger files?

[2020-03-08 19:07] tipsy commented on #893
Interesting idea. Did you look into this when you were creating the plugin @TobiasWalle?

[2020-03-09 17:31] TobiasWalle commented on #893
@A1Liu This use case is indeed very interesting. I didn't though about it yet.

Could you provide an example on how you would like to use a feature like that? Do you have any proposals for a possible api?

[2020-03-09 21:37] A1Liu commented on #893
@TobiasWalle I'd use it to document different versions of my API.

Also, I think it'd be fine if Javalin added support for nesting Javalin instances on the same threadpool, then we could just attach different endpoints to different Javalin instances and attach docs to those instances.

[2020-03-10 20:03] 28Smiles commented on #893
Imo, the most intutive to do in this case is to add a sort of tag for every endpoint. Is the tag unset, will the doc be visible in the default swagger, is it set, will the endpoint be visible in `/swagger/{tag}`.

[2020-03-10 20:22] uover82 commented on #890
I agree. It seems like the issue is on the client side.

I'll try switching to `WebSocket` and let you know how it turns out.

Also, if I were to also try an `after` filter, is there a good way to access the flushable response through the available `Context`?

Thanks

[2020-03-15 17:49] uover82 commented on #890
I've switched to `WebSockets` and everything is working, so it seems the problem is with sse/ remote connections.

Do any ideas to try come to mind? I've been switching/ testing back-and-forth a bit to try to isolate any contributors.

[2020-03-16 08:30] bensullivan opened #895 "Initiate emitting a server sent event from a HTTP handler"
Hi

We would like to notify 1 or many EventSource clients after some processing has occurred in one of our HTTP handlers.  Is it possible to access the SseClient from within a HTTP handler?

Thanks

Ben

[2020-03-16 09:24] tipsy commented on #895
Hi @bensullivan,

There are many ways of doing this, here is what I usually do:

[code]

It's a Kotlin object (public static class in Java) which holds a list of clients. It also sends a heartbeat every five seconds to make sure the connection stays up.

[2020-03-17 16:39] bseib opened #896 "A more flexible Access Manager?"
The current access manager presumes access is based on Roles, and Roles are associated with specific endpoints:

[code]

I applaud the simplicity of this.

What about other access control that is not based on attributes of users? Access control based on IP address, or based on time of day? Or based on http headers?

I believe we can keep it simple while supporting more access control use cases. I

[2020-03-17 16:54] tipsy commented on #896
Interesting idea @bseib, thank you!

Could you write an example of something that isn't possible to do with the current access manager (or something that is hard/complicated) that would be easier to implement with this new setup?

[2020-03-18 18:52] bseib commented on #896
@tipsy I think the idea is mostly about being DRY. Today we would write:

[code]

The alternative would be to apply access control in one place rather than repeating it:

[code]

Secondly, I find it a little odd to express an access control strictly using Roles (which I associate with a person/caller). There are "non-person" reasons to do access control.

Although it feels a little weird (maybe it

[2020-03-19 02:50] July-G opened #897 "java.lang.NoSuchMethodError: org.eclipse.jetty.server.session.SessionHandler.setHttpOnly(Z)V"
using javalin 3.7.0 and java8 on mac, i get:

I have lots of dependencies, but only javalin depends jetty:
`mvn dependency:tree | grep -i jetty` shows:

any ideas?

[2020-03-19 03:11] rbygrave commented on #897
`:test` ... implying `<scope>test</scope>`?   ... so not in normal compile scope / classpath of code run from main method in src/main maybe ?

[2020-03-19 07:03] July-G commented on #897
Yes I use test scope, I tried the compile scope, still the same problem.

[2020-03-19 10:38] grzegorzbor opened #898 "More flexible way of matching request to handlers or to static files"
We're evaluating Javalin as a simpler replacement for Spring Boot, for a Thymealf-based webapp.
It works really nice, but there is one thing that I can't make working in Javalin.

The logic for mapping requests in our app is simple, it's just 2 rules:
1. All requests matching "/assets/* path should be served as static files;
2. All other requests should be matched against a list of defined control

[2020-03-19 11:59] grzegorzbor opened #899 "Debugging Javalin routing"
It would be very useful to easily debug the flow of a request as handled by Javalin engine

Use case: I've got some trouble with requests that were processed in circles, caused by a combination of before-filters, redirects, and internal jetty redirects to static index.html files. And it was really difficult to figure out which filters/endpoints were involved, without putting debugger breakpoint in

[2020-03-19 12:15] tipsy commented on #899
There is `config.enableDevLogging()`, which provides a broad information dump:

[code]

If you want to add debug log statements in the `JavalinServlet`, I would be happy to review a PR :)

[2020-03-19 13:03] grzegorzbor commented on #899
Ah, that's nice. Doesn't tell which handlers were actually called, but still it's a good starting point. It's worth mentioning this option in the Logging section of the documention (i see it's listed in the Configuration section, but Logging part could mentioned it, I was searching for it there).

I can look at JavalinServlet later, though i never used Kotlin which makes it a bit more difficult.

[2020-03-19 13:18] tipsy commented on #899
Good point, I'll add it to the logging FAQ later today!

[2020-03-19 14:34] bseib commented on #896
I found using `before()` handlers for access control may help my DRY concern:

[code]

It will also cascade the authorization information as you traverse deeper toward an endpoint. As an example with the `customerId` above, that id can be checked once then passed as an `Int` to those access controls below it.

[2020-03-19 15:16] bseib commented on #896
Oops. I can't nest a `path()` inside a `before()`. So the above example should be:

[code]

[2020-03-19 17:15] bseib opened #900 "Add documentation for path param validation"
I discovered that I was re-inventing the wheel when I was parsing a path parameter as an `Int` and throwing a `BadRequestResponse` when the parameter was not parseable.

I found in the source code that `pathParam()` has similar signatures to `queryParam()` and that you can grab the `Int` from the path parameter directly like this:

[code]

In the docs where validation is discussed for `queryParam(

[2020-03-19 18:56] tipsy commented on #900
Thanks @bseib ! You can use the validator with both query-params, path-params and form-params. I agree that the docs should make this clearer. If you want to submit a PR, the repo is here: https://github.com/javalin/javalin.github.io

[2020-03-19 19:02] tipsy commented on #897
Javalin depends on `Jetty 9.4.25.v20191220`, but your project is using `Jetty 9.3.14.v20161028` (which is 3 years older). One of your other dependencies is causing this.

[2020-03-19 19:45] tipsy commented on #898
I'll just link this up for completeness: https://github.com/tipsy/javalin/issues/876.

There seems to be some demand for this feature. Static files are tricky, but if you want to submit a PR for something like `config.addStaticFiles("/assets/*, path, Location)` I'd be happy to review it.

[2020-03-19 19:50] tipsy opened #901 "Accessing session attributes in WebSockets"
I posted a question about this on Stackoverflow: https://stackoverflow.com/questions/60753624/accessing-session-attributes-set-in-a-httpservlet-in-a-websocketservlet-jetty-w

Apparently the way we're doing HttpServlet+WebSocketServlet isn't possible (?), and we should consider rewriting (although I'm not sure it will solve the issue, considering everything else session-related in the log was ident

[2020-03-19 20:17] tipsy commented on #896
So the original proposal was to allow roles to be included in `path` calls, and it's been raised a couple of times as a feature request (so, I've rejected the idea multiple times). In the docs I have written:

I feel pretty strongly about the `per-endpoint` part of that quote. While I definitely see the appeal of having neater route declarations, I'm very careful about prioritizing neatness over e