[2022-04-13 20:40] Playacem commented on #1487
The example can be found here: https://github.com/javalin/javalin-bucket4j

[2022-04-15 12:47] TareqK commented on #1457
Im partial to this as well - can we do this with a simple ``@custom_var`` system and rely on people to fill in their meta tags by passing them as part of the component state on a ``VueComponent`` level?

[2022-04-15 13:17] tipsy commented on #1457
Could we just create `@metaTag` or even `@headTag` ?

[2022-04-15 21:30] TareqK commented on #1457
Absolutely, but on the other hand, having an ``@custom_var`` system that would just allow people to inject arbitrary strings, would allow people to create their own tags and make it extensible.

to give an example, my ``@custom_var`` could be ``@seo`` and that would be replaced with the relevant SEO stuff I inject inside the ``VueComponent``'s state function. That SEO stuff is a generated HTML str

[2022-04-20 01:46] matiasperemarti opened #1520 "Upgrade jackson-databind version"
Version 2.13.2 of jackson-databind has this vulnerability associated: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-36518

Even though it's an optional dependency, I think that it should be upgraded to 2.13.2.2
https://github.com/tipsy/javalin/blob/a6ceea8c2b65dd6ec4ae87120fae9b8effff7fb7/pom.xml#L87

[2022-04-20 08:09] Jerbell opened #1521 "Question on more complicated checks in Validator"
So - what do you recommend doing in the case of more complicated checks for `Validator`?

I'll try to give you a simple example:
[code]

In this example - because you filter the rules, there will be a null pointer exception on the 2nd check.

Options are:
- Validator should be validating simple stuff not complicated stuff
- I could change the 2nd line to: `.check({ !myMap.containsKey(it.myField) |

[2022-04-20 11:02] sebba-dev opened #1522 "Cookie maxAge unit"
**Describe your question**
Hello, this may seem insignificant, but I couldn't find any information on it anywhere else, so I'm asking here.

What unit does the maxAge parameter represent when setting a cookie within a context?
Milliseconds, seconds, or hours?

Thank you for any help:)

[2022-04-20 11:48] SilverioMG opened #1523 "How to increase websocket connections?"
Hello and thanks for developing Javalin.
I'm playing around with the [websockets chat example](https://javalin.io/tutorials/websocket-example)

From my js code I have simulated about 500 websocket connections:

[code]

And on the Javalin server I see that only a maximum of 255 connections are made.
I understand that each websocket connection uses a thread.

I have tried to increase the number of t

[2022-04-20 12:20] tipsy commented on #1523
...

Javalin doesn't use one thread per WS connection. Sounds like this is perhaps a limitation of the client you are using to connect with?

[2022-04-20 12:23] tipsy commented on #1522
@sebba-dev it sets the max-age property of the cookie header. From https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie:

[code]

[2022-04-20 12:53] sebba-dev commented on #1522
This is exactly what I was looking for, thanks a lot!

[2022-04-20 12:53] #1522 closed

[2022-04-20 16:26] tipsy commented on #1523
Do you by chance use Chrome? 😁

<img width="831" alt="Screen Shot 2022-04-20 at 18 26 07" src="https://user-images.githubusercontent.com/1521451/164278187-679530d8-dbc1-48b5-9be8-d0fee50c54f7.png">

[2022-04-20 16:31] tipsy commented on #1521
There is no "official" recommendation from Javalin here. Personally I would limit these checks to the input itself (make sure that the client sent valid data), and not run checks against my backend (the `Map` in your example).

[2022-04-20 16:34] tipsy commented on #1520
@matiasperemarti I'm hoping for Jackson to release `2.14.0`, so that I don't have split `jackson.version` into separate properties.

[2022-04-21 05:17] Jerbell commented on #1521
OK - thanks for your input.  I know that any code that mentions "rules" becomes more difficult as everyone has their own ideas for behaviour.

[2022-04-21 05:17] #1521 closed

[2022-04-21 10:32] SilverioMG commented on #1523
You are right, thank you very much!
Yes i am using chrome.

I just tried with firefox and the limit is 200 connections.

I was confusing.
If I'm not mistaken, websockets in Jetty also use a ThreadPool just like Http requests.

Thank you very much.
What you are doing with Javalin is awesome.
Javalin and JavalinVue are my new development stack :)

[2022-04-21 14:56] tipsy commented on #1523
The ThreadPool is used for WebSockets (for sending and receiving, for example), but one connection doesn't hold one thread busy. You can potentially have thousands of WebSocket connections on the default ThreadPool.

Thank you, happy to hear that ☺️

[2022-04-21 14:56] #1523 closed

[2022-04-22 15:09] baburkin opened #1524 "Upgrade Swagger UI from 3.43.0 to 4.10.3"
Currently, Swagger UI is an optional dependency, however it is being widely used from my experience to discover and play with the API.

The version of Swagger UI is hard-coded to be **3.43.0** at the moment:

https://github.com/tipsy/javalin/blob/a6ceea8c2b65dd6ec4ae87120fae9b8effff7fb7/javalin/src/main/java/io/javalin/core/util/OptionalDependency.kt#L23

But this version has a vulnerability: [CVE

[2022-04-22 15:11] tipsy commented on #1524
Sure @baburkin, please go ahead :)

[2022-04-22 16:53] #1524 closed

[2022-04-23 22:02] TareqK commented on #1457
So My end solution was to simply add a ``preRender(String, Context)`` and ``postRender(String,Context)`` method and a ``VueRenderer`` class that will let anyone do whatever kind of template manipulation they want to do before or after the components have been resolved. You should be able to add your own logic using your own ``@myTags`` replacement, or simply inject it using simple string concatena

[2022-04-24 07:31] #1457 closed

[2022-04-24 07:45] tipsy commented on #1457
I've merged it, but I would still like to see dedicated macros for meta tags 🤔

[2022-04-27 10:11] SilverioMG commented on #1429
I guess the decision is already made but I think it would be better to rewrite it in Java.

In my opinion (I'm just a developer) Java and Kotlin will grow further apart over time. It seems that the trend is to stop using the JVM and compile to native.

Kotlin has coroutines and in Java we are waiting for the release of the Loom project.
How does this affect Javalin?

I have the impression that at

[2022-04-27 10:15] SilverioMG commented on #1429
Sorry, i forgot the question :)

The question was... Do you plan to make Javalin just Kotlin and not Java at some point?

Thank you.

[2022-04-27 12:07] macabrus commented on #1429
@SilverioMG  +1 👍🏻 this question was also bothering me, as I am planning to use Javalin for long term Java project. However, the things seem to be taking direction towards Kotlin for now. I don't know how wise it would be to use Javalin in Java projects with regards to maintainability.

[2022-04-27 14:11] dzikoysk commented on #1429
@SilverioMG @macabrus

No, dropping the idea of rewriting to pure Java means that everything stays as it is now, in fact - rewriting this to Java would be considered as a breaking change and would be probably a regression for Kotlin users. It's easier to expose API for Java from Kotlin, rather than from Java to Kotlin - mostly, because Java doesn't know about Kotlin, but Kotlin knows about Java an

[2022-04-27 19:16] SilverioMG commented on #1429
Thanks for your answer.

But I'm not accusing Kotlin...

It is not my intention to generate controversy.
Javalin is a great project and I hope it stays that way.
And I'm happy if its source code is still Kotlin.

If you are a Java programmer and read the whole issue, I think my question is justified.
Looks like I'm not the only one who has thought about it.

From your '#Opinion' section it looks l

[2022-04-27 20:15] dzikoysk commented on #1429
Don't worry, it's just an open discussion around open source project, everyone has different point of view/experience and can share their thoughts :) Your opinion is as significant as mine. Because we don't know each other, I'm just trying to make stuff more explicit, so people are able to catch-up in a discussion on a different level of knowledge.

If you know C# as well, then it's even easier to

[2022-04-28 11:41] SilverioMG commented on #1429
Hello again ;)

I see you've edited the end of your answer, where it said:

Did you think Kotlin Multiplatform was somewhat experimental?
It seems that it is the present and future of Kotlin in the long term. [future of Kotlin by Jetbrains](https://kotlinlang.org/lp/10yearsofkotlin/future/)

Kotlin is a better language than Java but its ecosystem is not focused on the Backend. Personally i don't k

[2022-04-28 12:46] dzikoysk commented on #1429
The words I used were inadequate in this context, that's why I've changed it after reading my response once again. It's not my native language, so I sometimes need to slightly modify and rephrase things I want to say :P

The experimental term was referring to the fact, that [multiplatform projects are still in the alpha phase](https://kotlinlang.org/docs/multiplatform.html). The overall goal is to

[2022-04-28 15:04] tipsy commented on #1429
I chose the wrong day to be offline, this discussion is 🌶️🅂🄿🄸🄲🅈🌶️

I don't really want to chime in on the Java vs Kotlin part, but there is one statement I have to address:

This is wrong. Things aren't taking a "direction toward Kotlin". From our [survey](https://javalin.io/blog/javalin-user-survey-2021), about 78% of our users use Java, while 40% use Kotlin (as you can see, there is some overlap

[2022-04-28 18:41] #1513 closed

[2022-04-28 18:41] tipsy commented on #1513
Seems there are no issues 😌

[2022-04-28 18:47] tipsy commented on #1520
I gave up waiting: https://github.com/tipsy/javalin/commit/2c397126f4068f84b170381639fa569575d959c9

[2022-04-28 18:47] #1520 closed

[2022-04-28 18:58] tipsy commented on #1297
We will do this, so we don't really need an issue for input anymore.

[2022-04-28 18:58] #1297 closed

[2022-04-28 19:06] tipsy commented on #1235
@shafique-md18 any progress? 😄

[2022-04-28 19:07] dzikoysk commented on #1513
🙏

[2022-04-28 21:19] NatElkins-RF opened #1527 "OpenAPI doc generator silently takes second type when there is a naming conflict"
**Actual behavior (the bug)**
If there are endpoints that return different types that share the same name, the second one will overwrite the first.

**Expected behavior**
An error should be thrown, or the second type should have its name modified in some way to avoid a conflict.

**To Reproduce**
Create two types with the same name but in different packages/namespaces, and then return each from an

[2022-04-28 21:32] rbygrave commented on #1429
For me it's about the longer term trend of the **_server world moving towards containers and smaller heaps_**.

kotlin-stdlib-* adds around **_1.7Mb_** - so the question/opinion as I see it is if people care about that - if people think that is large.

For myself, I have a "http json rest stack" with total dependencies at **3.5Mb** and a smaller one (using JDK http server) around 1Mb - this includ

[2022-04-28 22:00] dzikoysk commented on #1429
Well, JRE takes at least 50MB, it's just an implicit dependency you won't see in a final JAR, but affects e.g. Docker images, so I'd say ~1.5 MB for a whole new language is quite a good result. If someone is "obsessive" like you said, there is always ProGuard waiting for people with such issues 😂 You could probably minimize it significantly with it.

Speaking of the resources consumption, despite

[2022-04-28 22:32] dzikoysk commented on #690
Modularization of Javalin would be probably considered as a breaking change, because such action often requires project restructurization to properly encapsulate packages and model relations between them, so it could be at some point addressed by:

* #1517

What's the real benefit of using JPMS in Javalin? As long as I can see benefits of this in JDK implementation, so we can e.g. minimize bundle

[2022-04-28 23:40] rbygrave commented on #1429
All the JDK classes are available "pre-verified" as `$JAVA_HOME/lib/server/classes.jsa` ... and that file is ~14Mb (well, linux JDKs at least).

[2022-04-29 12:15] #1527 closed

[2022-04-29 17:58] tipsy commented on #690
Closing this due to lack of interest, but happy to open again if people become interested.

[2022-04-29 18:49] nklisch opened #1528 "Treat mulitple slashes as single slash in URL parsing"
**Treat mulitple slashes as a single slash in URL parsing**
Currently, if the request you receive has two // in it treats it as a separate path/route.
While this is fine default behavior, I'd like the option to turn on a plugin/config that compresses any multiple slash requests into a single slash

**Additional context**
This caused an issue when I was converting my Spark Java api to Javalin - as

[2022-05-01 11:05] yannicklamprecht commented on #1154
Interpreting the header `X-Forwarded-Prefix` should be considered for that issue as well.

Currently Prefix stripping in a reverse proxy is only partially supported by Javalin.
Every Rest call without relative paths work
but for example the Swagger-UI fails loading the resources.
The root cause is that the stripped prefix, passed via the above header,
is not used when injecting the the context int

[2022-05-02 10:14] dzikoysk commented on #1429
I just didn't want to go into details of this here, so my phrase about the overall jdk state was clearly just a generalization of the whole ecosystem :P

JRE is still a valid compilation target and some distributions still use it, e.g. Liberica. As long as you don't really care about the content as much, but you don't want to install full 200mb jdk, it's still an option. Ofc most people these days

[2022-05-02 14:11] RaniAgus opened #1529 "Can't collectErrors() from a NullableValidator (Java)"
**Actual behavior (the bug)**
If I try to use `JavalinValidation.collectErrors()` method for a `NullableValidator`, it throws a type error:
[code]

**Expected behavior**
Should build successfully.

**To Reproduce**
1. Create a `NullableValidator`:
[code]
2. Try to `collectErrors()` from it:
[code]

[2022-05-03 06:07] #1529 closed

[2022-05-03 09:43] dderevjanik opened #1531 "How to use SSE with OpenAPI"
Hello,
I'm trying to document my `/sse` endpoint with openapi, so I tried to use `app.sse("/sse", SseController.sse)`, but
this approach is not working with `@OpenApi`. I wasn't able to figure it out how to properly use `SseHandler` in Java (following https://github.com/tipsy/javalin/issues/815).

Could you please provide complete example how to use `SseHandler` with `@OpenApi` in Java? Thanks :)

[2022-05-03 09:45] pkkummermo commented on #1531
Unfortunately, I believe that both websockets and server side events are not supported by OpenAPI as of now, meaning it'll not be part of the documentation through the OpenAPI generator.

[2022-05-03 10:02] dderevjanik commented on #1531
I think that @tipsy mentioned solution for this in https://github.com/tipsy/javalin/issues/815#issuecomment-574786759 but I'm not able to make it work

[2022-05-04 04:25] ajsutton opened #1532 "SSE connection closes immediately with Javalin 4.5.0"
**Actual behavior (the bug)**
When upgrading from Javalin 4.4.0 to 4.5.0, SSE event streams stopped working. Rather than holding the stream open so events can be delivered asynchronously, the response stream is closed too soon.

**Expected behavior**
Response stream remains open and async events delivered when published to the SseClient.

**To Reproduce**

Run:

[code]

And then try to subscribe t

[2022-05-04 04:53] tipsy commented on #1532
Thanks @ajsutton. I'm currently traveling, @dzikoysk, could you have a look?

[2022-05-04 08:18] pkkummermo commented on #1532
I can't remember whether there's a difference to using `.sse` vs `.get` in this case. Ref https://javalin.io/documentation#server-sent-events

[2022-05-04 08:42] ajsutton commented on #1532
I get the same issue with `.sse`.  We use `.get` so we can get the openapi annotations to be picked up as well.

[2022-05-04 08:56] dderevjanik commented on #1532
@ajsutton could you provide example how you annotated your SSE endpoint with openapi? #1531

[2022-05-04 08:59] ajsutton commented on #1532
https://github.com/ConsenSys/teku/blob/38a60ea76e14c240cbcecaccab1a4c4f8734b056/data/beaconrestapi/src/main/java/tech/pegasys/teku/beaconrestapi/handlers/v1/events/GetEvents.java#L52 is the file that does it.

We're moving away from using annotation based OpenAPI though - it's proven to be far too fiddly to get right.

[2022-05-04 09:49] dzikoysk commented on #1532
Yup, but I'll need to learn about SSE impl in Javalin. Also, it looks like that such behavior is not covered by tests.

What do you mean by 'fiddly to get right"? Is it referenced to any reported issue or sth we don't know? Would be great to have a feedback, especially if we're considering replacement for Javalin 5.x.

[2022-05-04 10:08] ajsutton commented on #1532
Oh I don't mean it's a bug in the code. It's just that the annotations are separate to the actual implementation so often get out of sync and the annotation based serialisation Jackson uses has been quite challenging to get the right output from in a lot of cases for us. Using custom written serialisers and deserialisers would be a better fit for us but they don't get picked up by the open api the

[2022-05-04 11:05] dzikoysk commented on #1296
_Originally posted by @ajsutton in https://github.com/tipsy/javalin/issues/1532#issuecomment-1117140133_

[2022-05-04 11:11] dzikoysk commented on #1296
@ajsutton I'll speaking in a context of https://github.com/reposilite-playground/javalin-openapi that we're party considering as a replacement to the current OpenApi module.

Do you think that a new, Jackson-free OpenApi annotation would be helpful?

* https://github.com/reposilite-playground/javalin-openapi/blob/99fe1f8eb1df46a1687653bf433d082d7115d426/openapi-platforms/javalin-modules/javalin-ap

[2022-05-04 12:06] dzikoysk commented on #1532
Thanks @ajsutton, referenced this in a related issue with response :)

Speaking of the issue, I can confirm this bug. I've slightly modified you reproducer to:

[code]

In general `SseHandler` starts and manages `async` lifecycle on its own and servlet just doesn't know about this, so it completes the request.

[2022-05-04 12:49] dzikoysk commented on #1531
Does the explicit declaration of `route` parameter in `OpenApi` annotation not solve this?

[2022-05-04 17:08] RaniAgus opened #1534 "Throw a custom exception when a validator has errors"
At the moment, the only way to throw a custom exception when a validator has errors is using an `if`:
[code]
I think it would be nice to have a `getOrThrow()` method, similar to [`orElseThrow()` from `Optional<T>`](https://docs.oracle.com/en/java/javase/17/docs/api//java.base/java/util/Optional.html#orElseThrow(java.util.function.Supplier)). The custom exception could receive the validation `error

[2022-05-05 19:08] tipsy commented on #1532
@ajsutton this should be fixed now !

[2022-05-05 19:08] #1532 closed

[2022-05-05 22:53] #1534 closed

[2022-05-06 12:33] dzikoysk commented on #1517
**Note**

A general cleanup of status codes used in Javalin:

* `HttpResponseException`
* `Context#redirect`: Replace int parameter with `HttpCode`
* `Context.status` by default should return `HttpCode`, we could add `statusCode()` as an utility method that returns `Int` code
* Use `HttpCode` in tests instead of raw int values

[2022-05-06 21:21] tipsy opened #1538 "Add flag to disable log capturing in TestUtil"
It would be nice.

[2022-05-08 21:26] ajsutton commented on #1296
@dzikoysk Sorry for the delay. I've written up some details of the approach we're moving to instead of using OpenAPI and Jackson annotations which may be helpful: https://www.symphonious.net/2022/05/06/json-type-definitions/

I can see how that would solve some of the pain points we've had - particularly where we have classes that serialise to a String (like the `Bytes32` in the examples in the li

[2022-05-10 20:19] tipsy commented on #1538
Fixed in https://github.com/tipsy/javalin/commit/522bf42776adb80e2130b0648336cd8a7c8891f7

[2022-05-10 20:19] #1538 closed

[2022-05-11 21:18] makarhuyaker opened #1541 "how to use it in gradle without kotlin"
**Describe your question**

it gives
Exception in thread "main" java.lang.NoClassDefFoundError: io/javalin/Javalin
        at com.itsmakar.webserver.Main.main(Main.java:7)
Caused by: java.lang.ClassNotFoundException: io.javalin.Javalin
        at java.net.URLClassLoader.findClass(Unknown Source)
        at java.lang.ClassLoader.loadClass(Unknown Source)
        at sun.misc.Launcher$AppClassLoader.

[2022-05-11 21:29] tipsy commented on #1541
It's okay. Maybe give it ten more minutes before you create an issue next time.

[2022-05-11 21:29] #1541 closed

[2022-05-12 13:18] hamburghammer opened #1542 "Before and After not working in handler groups"
**Actual behavior (the bug)**
It seems like `before` and `after` handler are being ignored when you build the routes with the `EndpointGroup`.

Following example:
[code]
Calling the endpoint produces following output:
[code]

**Expected behavior**
Calling the endpoint should produce following output instead:
[code]

**To Reproduce**
Using the example code above:
- javalin 4.6.0
- java 17

**Additi

[2022-05-12 13:36] dzikoysk commented on #1542
It's not really a bug, but the way how `before` & `after` handlers works without the specified path. If you won't specify it directly, it's `/*` which means that it will be executed if subpath for the given path will be called. So:

* `localhost:80/foo` will print `I am now`
* `localhost:80/foo/bar` will print `I am before` and `I am after`, but not the `I am now`

If you'd like to change this beh

[2022-05-12 14:38] hamburghammer commented on #1542
Thx for the explanation.
I will close this issue since it's not a bug.

[2022-05-12 14:38] #1542 closed

[2022-05-13 13:27] MTijn commented on #1323
Solved with PR #1543

[2022-05-13 13:27] #1323 closed

[2022-05-13 20:37] dzikoysk commented on #1517
**Refactor of redirects**: Context:

* https://github.com/tipsy/javalin/pull/1539
* `Context.terminate()` / Skiping lifecycle stages thread on Discord: https://discord.com/channels/804862058528505896/957002566728835073/974750844035665930

[2022-05-16 23:18] nklisch commented on #1237
So I ended up just putting in my own endpoint using the html returned as a starting point.
All you really need to do is remove the first slash that is used in the html - this will render relative correctly.

[2022-05-18 01:48] ajsutton opened #1544 "EofException incorrectly logged as unexpected error"
**Actual behavior (the bug)**
When the client disconnects the TCP stream before the response is fully written Jetty throws an `EofException`. For sync response, Javalin detects this in `ExceptionMapper.handleUnexpectedThrowable` and doesn't log.  However for an async response the `EofException` is wrapped in a `CompletionException` by the future and so it isn't detected and gets logged as an error

[2022-05-18 06:51] tipsy commented on #1544
Thanks @ajsutton - would you like to submit a PR?

[2022-05-18 18:51] tipsy commented on #1506
I'll close this an move it into the OpenAPI monster issues...

[2022-05-18 18:51] #1506 closed

[2022-05-18 18:52] #1531 closed

[2022-05-18 18:52] tipsy commented on #1518
Closing this to group it with the other OpenAPI issues.

[2022-05-18 18:52] #1518 closed

[2022-05-18 18:54] tipsy commented on #1450
Closing to include in group OpenAPI issues.

[2022-05-18 18:54] #1450 closed

[2022-05-18 18:54] #1465 closed

[2022-05-18 18:54] tipsy commented on #1465
Closing to include in group OpenAPI issues.

[2022-05-18 18:54] tipsy commented on #1512
Closing to include in group OpenAPI issues.

[2022-05-18 18:54] #1512 closed

[2022-05-18 18:57] tipsy commented on #1480
@trensetim are you interested in working on this? For `JavalinVue` we have an option to pass a class with the path:

[code]

[2022-05-18 18:58] tipsy commented on #1235
This has been open for more than a year with little to no interest, so I will close it.

[2022-05-18 18:58] #1235 closed

[2022-05-18 19:01] tipsy commented on #1428
Closing this as it's pretty much decided.

[2022-05-18 19:01] #1428 closed

[2022-05-18 19:02] #1178 closed

[2022-05-18 19:05] tipsy commented on #1482
I'll consider this issues closed.

[2022-05-18 19:05] #1482 closed

[2022-05-18 19:08] tipsy commented on #1286
@ClemensElflein are you still using this ?

[2022-05-18 21:32] ClemensElflein commented on #1286
Hi @tipsy,
I'm currently not working on a web app, but it worked great for three different projects of mine so far. The next time I'll start working on a web app, I'd use it again. Hopefully it's easy to migrate to newer versions of Javalin - sorry I did not have the time to follow along with the current Javalin changes so I have no idea if the latest version in Git still works with the current Ja

[2022-05-18 21:34] tipsy commented on #1286
Thanks for the update !

[2022-05-19 17:00] #1544 closed

[2022-05-20 19:03] Incognitowski opened #1546 "Testing SSE endpoints with JavalinTest"
### Problem:

I want to achieve the maximum coverage of my controller tests.

### What have I managed so far:

By following [this tutorial](https://javalin.io/tutorials/testing) I've managed to write a [test](https://github.com/Incognitowski/bankey/blob/master/server/test/ParameterControllerTest.kt) that covers every _normal_ method on my [controller](https://github.com/Incognitowski/bankey/blob/m

[2022-05-20 19:24] tipsy commented on #1546
Something like this?

[code]

[2022-05-20 19:37] Incognitowski commented on #1546
It seems `sse` is not a method in `HttpClient`.

![image](https://user-images.githubusercontent.com/20343569/169599255-ea6aba00-47f6-42c5-9a2c-38d3b0a1a0cd.png)

(Wrote 2 methods because is seems TestUtil was deprecated)

[Am I using a wrong version of the test tools?](https://github.com/Incognitowski/bankey/blob/master/server/build.gradle.kts)

[2022-05-20 19:44] tipsy commented on #1546
@Incognitowski the `testtools` artifact is different from the internal test util:

[code]

I guess we could add something like that to the `testtools` artifact? 🤔

[2022-05-20 20:30] Incognitowski commented on #1546
Trying to write an extension function on HttpClient. I only get timeouts with this:

[code]

[code]

Maybe the `*Async()` methods in Unirest are not ready to deal with SSE?

[2022-05-20 21:02] tipsy commented on #1546
You need to call `.close()` too. Did you try that?

[2022-05-20 22:11] Incognitowski commented on #1546
By forcing a `.close()` the connection of my client on the controller I managed to somewhat make it work.

I have to say, though, that I'm not happy with the solution, my idea was to test it like you would consume it with an EventSource on the client site.

Something like:

[code]

Maybe I should try something [along these lines](https://www.baeldung.com/java-ee-jax-rs-sse#1-jax-rs-client-api-for-

[2022-05-21 11:33] tipsy commented on #1546
I think `client` could be expanded to include SSE, since it's just a HTTP connection. Having a `.close()` on `client` seems fair enough?

[2022-05-21 20:00] tipsy commented on #1546
I tried to set something up with `okhttp-sse`, but that client is not documented at all. There appears to be some code here: https://github.com/square/okhttp/issues/5544

[2022-05-22 23:30] DenisJulio opened #1548 "How to capture logs in JavalinTest.runAndCaptureLogs ?"
Hello There, I am a Computer Science student, which means I am a newcomer to development, but so far, it has been so joyful to use **Javalin**, I really find it a well written API. I was just wondering how could I capture the logs that I want to declare inside my code running in a [`JavalinTest.runAndCaptureLogs(Runnable)`](https://github.com/tipsy/javalin/blob/master/javalin-testtools/src/main/ja

[2022-05-23 09:03] tipsy commented on #1548
Hi @DenisJulio !

What exactly are you trying to achieve? The `JavalinTest` class is made specifically for writing Javalin integration tests, is that what you're trying to do?

[2022-05-23 11:27] DenisJulio commented on #1548
I apologize for not being clearer.

[code]
I sort of see my mistake here, apparently the logs captured are the ones in the `runAndCaptureLogs()`, but if so being, how could I sucessfully log the message in the `JavalinTest.test()`?

[2022-05-23 11:55] Incognitowski commented on #1546
@tipsy sorry for the delayed answer.

I believe that wold be perfect.

I'll give it a shot with `okhttp-sse` as well.

[2022-05-23 13:11] tipsy commented on #1548
Do you explicitly want to capture logs as a `String`? If yes, you can use this util-method:

[code]

If you just want logging to work as normal, you could do this:

[code]

[2022-05-23 13:16] tipsy commented on #1546
Great, looking forward to it.

[2022-05-23 13:34] Incognitowski commented on #1546
Managed to write the `.sse` extension function on `client` to receive a couple of events, but it seems I'm not closing the connection properly, because Javalin is failing to stop after the test.

Here's the implementation:

[code]

And here's how you would consume it:

[code]

Like I mentioned, the test fails because Javalin fails to stop gracefully, which I believe has to do with the sketchy way

[2022-05-23 16:41] tipsy commented on #1546
Could you publish this as a PR? A bit easier to have a look then :)

[2022-05-23 17:52] Incognitowski commented on #1546
Here it is: #1549

Like I said in the PR, I'm no maven expert so I'd like some light as to why my tests couldn't run. 😁

[2022-05-23 19:21] tipsy commented on #1546
@Incognitowski After changing `JavalinTest.test(app)` to just `JavalinTest.test`, I had no trouble running your tests.

[2022-05-23 19:42] tipsy commented on #1546
@Incognitowski I rewrote a bit:

[code]

[code]

[code]

[2022-05-23 19:43] tipsy commented on #1546
Hmm.. not sure if the test is testing...

[2022-05-23 19:44] Incognitowski commented on #1546
Yup, my bad, just fixed the assertions.

[2022-05-23 19:45] tipsy commented on #1546
We need to block somehow 🤔

[2022-05-23 19:49] Incognitowski commented on #1546
Exactly, it feels like we need some form of `waitForClientToCloseRequest` on `server` exclusively for testing purposes, but this also seems like it's not the server's responsibility.

[2022-05-23 19:51] tipsy commented on #1546
The original code doesn't appear to do anything:

[code]

[2022-05-23 19:56] Incognitowski commented on #1546
Try:

[code]

I paid so much attention to the SSE URL I've commited, my bad.

Try debugging the `.add` line

[2022-05-23 20:04] tipsy commented on #1546
Aaah, now I see why you were reusing the `JavaApp` and `KotlinApp`

[2022-05-23 20:04] tipsy commented on #1546
Sorry, my mind was elsewhere 😓

[2022-05-23 20:16] Incognitowski commented on #1546
No problem! Sorry for messing up the URLs while opening de PR as well 😅

Found another thing we must take into account: should we leak `onFailure` event to the client's thread?

e.g.: when a 404 happens on the client, the error is swallowed by the `eventSourceListener` and we're stuck with no knowledge of this.

[code]

[2022-05-23 20:30] tipsy commented on #1546
Probably.

I can't figure out why Javalin won't shut down.

[2022-05-23 20:35] tipsy commented on #1546
If I add `sseClient.close()` to the endpoint, Javalin shuts down as expected. But I created a new `println("isOpen:" + sseClient.isOpen())`, which reports that the emitter is closed.

[2022-05-23 20:39] tipsy commented on #1546
I think this is a bug in Javalin (@dzikoysk ?).

If I add `closeSse.close()` after `closeCallback.run()` inside of `SseClient`, it behaves as expected.

[2022-05-23 20:40] tipsy commented on #1546
That only helps if we try to send a message though, we currently don't detect if the client disconnects.

[2022-05-23 20:44] Incognitowski commented on #1546
Isn't that what `onClose` mentioned [here](https://javalin.io/documentation#server-sent-events) does?

[2022-05-23 20:46] tipsy commented on #1546
It's what it should do, ideally, but we only find out if the connection is closed if we try to send a message currently.

[2022-05-23 20:46] tipsy commented on #1546
Hmm.. in reality it won't matter, the `repeat(5)` is never going to happen.

[2022-05-23 20:56] tipsy commented on #1546
Everything working as expected now:

[code]

[2022-05-23 20:57] tipsy commented on #1546
Made these changes to `SseClient`:

[code]

[2022-05-23 23:48] Incognitowski commented on #1546
Just updated the PR.

`.sse` now receives an implementation of the `SseTestHandler` interface.

[code]

I believe this allows for more test possibilities, as we can now test for successful and unsuccessful requests, and I don't believe the syntax turned out that weird.

[code]

Do you reckon there is a better way to provide means for exception testing?

[2022-05-23 23:57] dzikoysk commented on #1546
What's the bug 🤔 There's quite a lot of various snippets of code related to the question/new feature and I'm not up-to-date with it. Could you prepare a standalone test case that I could investigate?

[2022-05-24 08:06] tipsy commented on #1546
Javalin doesn't release the request (complete the future) when the emitter is closed. Adding `closeSse.close()` seems to have fixed it. I can push this in a separate commit and add you.

[2022-05-24 08:19] tipsy commented on #1546
@dzikoysk https://github.com/tipsy/javalin/commit/0e947377724bd32da28b1707a33c9d79b9f53386

Turns out we have two bugs:
1. Javalin doesn't release the request when the emitter is closed
2. Javalin doesn't call `closeCallback` when the user manually calls `close()`

I changed the `close()` method to also trigger the `closeCallback`, then I called the `close()` whenever the emitter is closed. This s

[2022-05-24 18:23] tipsy opened #1550 "Solution to LoadableData endpoint updating"
[code]

[2022-05-24 18:39] tipsy commented on #1550
Hmm.. We could perhaps just add a refreshAll method which fires with the current url.

[2022-05-24 19:56] tipsy commented on #1550
[code]

[2022-05-25 11:18] tipsy opened #1552 "Add extensive browser-test for LoadableData"
**Describe your issue**

[2022-05-25 11:53] #1550 closed

[2022-05-25 18:35] benjaminion commented on #1193
Still present in Teku 22.5.2. Is there nothing we can do to suppress this?

[2022-05-25 22:53] #1552 closed

[2022-05-27 11:06] opinion-collider opened #1554 "dynamically registering SSE endpoints"
Hi,

I'm trying to create an app that uses dynamically registered SSE endpoints.

Each client should connect to its own SSE endpoint (so this is not a broadcast).

The flow would be something like this:

- Client POSTs to a REST endpoint
  - Server generates a UUID
  - Server registers an SSE channel with the UUID included
  - Server returns UUID to client

- Client uses UUID to connect to SSE cha

[2022-05-27 12:15] dzikoysk commented on #1554
Hi,

Imo, despite it's just a bad practice in general, you don't really need to register those handlers as a new Javalin routes. You can create just one `GET` handler and reroute it manually to `SseHandler`. Pseudocode for something like that should look like:

[code]

[2022-05-27 13:13] opinion-collider commented on #1554
That's very interesting. I didn't know I can treat an SSE route as a regular one and just attach an SSEHandler to it.

[code]

This works OK. And of course, I'll have to mind removing client IDs when no longer needed, and closing the connections also.

Thanks for your help :+1:

[2022-05-27 13:13] #1554 closed

[2022-05-27 15:35] davidcurrie commented on #523
1.0 of `opentelemetry-java` was back in February of this year - time to revisit this? Javalin is notable for its absence from this long list: https://github.com/open-telemetry/opentelemetry-java-instrumentation/blob/main/docs/supported-libraries.md

[2022-05-27 17:14] tipsy commented on #523
@davidcurrie it seems they are encouraging people to create issues for additional tools/libraries, could you try that?

From readme:

![image](https://user-images.githubusercontent.com/1521451/170755553-be8da89c-ff61-4053-a86c-e3817694376b.png)

[2022-05-28 20:40] davidcurrie commented on #523
Thanks, @tipsy. Issue created: https://github.com/open-telemetry/opentelemetry-java-instrumentation/issues/6115

[2022-05-28 21:50] tipsy commented on #523
Thanks @davidcurrie, let's hope they add it ☺️

[2022-06-01 12:00] opinion-collider opened #1555 "How can I fix a 'java.lang.NullPointerException: Parameter specified as non-null is null: method io.javalin.http.util.ContextUtil.pathParamOrThrow, parameter pathParams' message when running a unit test?"
Hey,

I'm trying to setup a unit test for a controller of mine.

I've so far looked at [this tutorial](https://javalin.io/tutorials/testing), which works OK on my computer. The tutorial uses queryParams, however, even if I edit the test and the controller and use pathParam instead...
[code]

[code]

...it seems to work OK.

Which makes it all the more puzzling why I can't get my test to run in my

[2022-06-01 13:54] Luaols opened #1556 "Requeriments"
Hello! I need some requirements that I'm not finding on the website. Could you tell me about the following topics:

- Minimum processor required
- Minimum disk space required
- Amount of RAM Memory

[2022-06-01 14:29] opinion-collider commented on #1555
I noticed that the testing examples have a `./test/resources/mockito-extensions/org.mockito.plugins.Mockmaker` file. After deleting the file, I was able to have the testing example fail with the same error message. Adding the folder structure and file to my app makes the test pass.

This is somewhat confusing to me, as I [read about that file](https://javalin.io/tutorials/mockito-testing), but was

[2022-06-01 14:43] dzikoysk commented on #1556
Those requirements are mostly up to your application and things you use to handle desired traffic. Speaking of some implementation details that could be considered as minimal requirements:

* Processor: You can use any processor (architecture) you want that is supported by JVM. Within a single core you can spawn multiple threads, so it's not really a problem and you can run multi-threaded apps eve

[2022-06-01 21:28] #1556 closed

[2022-06-04 20:20] tipsy commented on #1555
The line `Parameter specified as non-null is null: method io.javalin.http.util.ContextUtil.pathParamOrThrow` means that the `pathParamOrThrow` method is called, but why does that happen if you've mocked the path param? Are there other `pathParam()` calls in your controller that you didn't mock?

[2022-06-07 07:07] KevinSaigon opened #1557 "Streaming results from PipedStreams"
Hi there! Currently, I have a pipeline (`PipedInputStream` and `PipedOutputStream`) and I'd like to be able to stream the results from the `PipedInputStream` as I gradually write to the `PipedOutputStream`.

An example of what I'm trying to do would be

[code]

However, I can't seem to get Javalin to return without the first message first calling `out.close()` right after `context.result(in)`. But

[2022-06-07 15:49] KevinSaigon commented on #1557
Hi, thank you so much for getting back to me. I'm not too familiar with `context.res.getOutputStream()`, how would I use it here? Looking at documentation I'm guessing I would have to make `ctx_.res.getOutputStream` my OutputStream instead (the `out` variable). Is that what you're suggesting?

[2022-06-07 16:20] tipsy commented on #1557
@KevinSaigon The default `JavalinJackson` implementation does something similar for streaming json:

[code]

[code]

[2022-06-07 17:44] KevinSaigon commented on #1557
@tipsy Thank you for your response. I'm currently using Javalin 3x so I don't think I have access to those functions. Just as a general question, is there a way to return a result gradually - that is line by line ("a random message" and then "+ additional random text") without having to close the output pipe? Thank you.

[2022-06-07 18:01] dzikoysk commented on #1557
The `OutputStream` in ctx.res is directly the output stream used by Jetty to communicate with user. I'm not quite sure what you're trying to do, but as far as I see you're trying to keep the connection and send some data to user over the time, so I'd go for sth like:

[code]

[2022-06-07 18:31] dzikoysk commented on #1557
Yes, it's the same method, but in Javalin 4.x internals have been slightly rewritten to eliminate various bugs & vulnerabilities. In general I recommend to bump Javalin to 4.x. API is pretty much the same and you'll spend probably up to an hour migrating to the newer version.

[2022-06-07 19:56] dzikoysk commented on #1557
By default response is chunked into smaller pieces, so if you'd like to force server to push it to the client (because your feature is more about notifying user rather than just lazy evaluation of a stream for like e.g. generator purposes) you can use flushBuffer +with disabled acceleration:

https://user-images.githubusercontent.com/4235722/172470592-4d45d1cc-59a5-4c20-b329-266b9a851ea5.mp4

Code

[2022-06-07 20:45] KevinSaigon commented on #1557
I'll look into it. Thank you for all your help!

[2022-06-07 20:45] #1557 closed

[2022-06-07 22:14] dzikoysk commented on #1517
**Refactor of SSE implementation**:
* Don't start async request handling for no reason or just remove a possibility to run sse handlers in sync context (because it doesn't make sense to block main http threadpool with ininite connections)
* Might be combined with sth like `ctx.async {}`?
* Related discussion on Discord: https://discord.com/channels/804862058528505896/805106384977920040/98383841858

[2022-06-10 04:38] auula opened #1562 "Proposal：static compilation support"
**Describe the feature**
1. static compilation support
2. can be compiled into binary executable
3. looking forward to supporting the Graalvm compiler

[2022-06-10 07:33] tipsy commented on #1562
@auula We need more information. What is the purpose of this? How can it be done?

[2022-06-10 07:37] auula commented on #1562
I just propose, thank you for your understanding, just a development direction, javalin is doing very well at present, thank you，[https://www.graalvm.org/](https://www.graalvm.org/)

[2022-06-10 10:43] #1562 closed

[2022-06-10 11:17] tipsy commented on #1562
You can already use Javalin with GraalVM if you want: https://javalin.io/2018/09/27/javalin-graalvm-example.html

[2022-06-10 19:52] rpcarleto opened #1563 "How can I cached userinfo information ?"
I use oAuth0 (Oidc) to handle authentication and authorization, but the free account only gave me 10 calls to userinfo per minutes.
My application is for test and I think that better improve some cache.

On this class, failed (error 401) when javalin try to call /userinfo route.
![image](https://user-images.githubusercontent.com/8861070/173140076-a201d136-feec-42e8-96d6-9b45329b42d1.png)

I didn't

[2022-06-10 20:18] tipsy commented on #1563
Hi @rpcarleto! Javalin doesn't provide any real cache tools, but the Servlet specification and Jetty sort of do in "session attributes". These can be access through `Context`:

[code]

If you need, Javalin is kind enough to cache session attributes as request attributes (only useful if you access the same attribute multiple times in the request lifecycle).

[2022-06-10 20:41] rpcarleto commented on #1563
Hey @tipsy, thank you for answer

I don't think I got it, even set jetty to handle attributes, Javalin keep calling /userinfo, so I got the same problem (ratelimit 401).
I'm trying to get a logic to hit on auth0 (/userinfo) only one time for 2 minuts, so I think cache could help me with that.

[2022-06-10 21:48] rpcarleto commented on #1563
Maybe call userinfo could be optional ?

[2022-06-12 10:01] auula commented on #1562
Thank you❤️

[2022-06-13 14:29] VayuDev opened #1567 "How to send WebSocket pings?"
I'm currently trying to implement a simple websocket-based service using javalin, but the connections times out after some time. Javalin doesn't seem to send pings on it's own, although as far as I know, this is the server's responsibility. After some time the connection gets closed because the idle timeout for the session expires.

How do you keep websocket connections alive for long periods? Imp

[2022-06-13 14:45] tipsy commented on #1567
You will have to implement a custom heartbeat if you want that. It's very simple:

[code]

[2022-06-13 15:01] VayuDev commented on #1567
Thank you, that helps already, but how to send the actual ping packet as it's defined here: [https://datatracker.ietf.org/doc/html/rfc6455#section-5.5.2](https://datatracker.ietf.org/doc/html/rfc6455#section-5.5.2)? Other websocket libraries like nodejs's ws or  [drogon](https://drogon.docsforge.com/master/api/drogon/WebSocketConnection/setPingMessage/) have special functions for this, but Javalin

[2022-06-13 20:14] tipsy commented on #1567
@VayuDev cool, I didn't even know that was a thing! It sounds like it should be [Jetty](https://www.eclipse.org/jetty/)'s responsibility to handle things like this, but I am open to other points of view. Maybe there is a config option in Jetty's websocket factory?

[2022-06-13 20:15] tipsy commented on #1563
I'm not sure what you mean by this, Javalin doesn't *call* anything?

[2022-06-13 20:51] VayuDev commented on #1567
So I looked around a bit and if you add the following line in WsContext.kt it works:
[code]
After doing that, I noticed that the session does get exposed by javalin, so it's possible to write the following code directly without modifying javalin:
[code]
Combined with your previous reply that makes:
[code]
This executor then gets shutdown in onClose. This solution works, thank you very much!

In a

[2022-06-13 21:03] tipsy commented on #1567
It would require a bit of bookkeeping on the server side, and if Jetty doesn't want to do that, I'm not sure Javalin should either. If it's configurable, then it's fine, but it would have to be in v5 (or make it disabled by default in v4, and flip it in v5). Are you interested in working on this?

Nice! I have no issue with adding a `ctx.sendPing()` method, which would save the next person running

[2022-06-14 07:02] VayuDev commented on #1567
Sure, I'll try to do this, I can probably create a PR in the next few days.

Already done! #1568

[2022-06-14 07:41] tipsy commented on #1567
Great, merged! I'll keep this issue open for the other change too :)

[2022-06-15 08:39] tipsy commented on #1528
@Playacem do you want to have a look at this?

[2022-06-15 13:11] Playacem commented on #1528
Will take a look at this on Saturday.

[2022-06-15 18:12] #1555 closed

[2022-06-15 18:13] tipsy commented on #1563
I'll close this since it's just a question, but feel free to keep writing in it.

[2022-06-15 18:13] #1563 closed

[2022-06-16 20:41] tipsy commented on #1296
![image](https://user-images.githubusercontent.com/1521451/174160013-ec11aef4-786c-4cbe-8caa-11dc979c7240.png)

[2022-06-16 20:42] #1296 closed

[2022-06-17 22:12] dzikoysk opened #1570 "Provide official snapshots artifacts for Javalin 5.x"
Currently Javalin does not provide snapshot builds, so the only way to get one is to build it locally or use JitPack. JitPack is known for a few issues, in our case it's mostly:

* Builds artifacts only for manual request
* Modifies artifact identifier, for Javalin it's:
`com.github.tipsy.javalin:javalin:{version/commit}` not `io.javalin:javalin:4.6.1`

Proposed solution on Discord was about using

[2022-06-17 23:08] jehugaleahsa opened #1572 "Getting JsonMapper from ctx object"
I am upgrading to v4. I really like that `JsonMapper` is just a normal object passed to the configuration. But...

Within a request handler (HTTP _and_ WebSockets), is there a way to get the `JsonMapper` that is passed to the top-level configuration? For what I am doing, it would be nice to not need to repeat the configuration or make it global. I was hoping the "context" object would have somethi

[2022-06-17 23:49] jehugaleahsa commented on #1572
It looks like this is one way to do it?

[code]

Is this the best way, would you recommend?

[2022-06-17 23:51] jehugaleahsa commented on #1572
Is there a similar workaround for websockets?

[2022-06-17 23:52] tipsy commented on #1572
It's possible to extract access it from the Context. Look at the json call in the source code for Context :)

[2022-06-18 00:25] jehugaleahsa commented on #1572
Yeah, in Java-land we are forced to grab it like a static from here: https://github.com/javalin/javalin/blob/master/javalin/src/main/java/io/javalin/plugin/json/JsonMapper.kt

That works fine, but there's no version for `WsContext`, which is using an `internal val` to get at the `Context`: https://github.com/javalin/javalin/blob/master/javalin/src/main/java/io/javalin/websocket/WsContext.kt#L27

[2022-06-18 00:31] jehugaleahsa commented on #1572
Could be as simple as this?
[code]

[2022-06-18 07:21] tipsy commented on #1572
Yes, although it's strange that your Context call gets it through and attribute directly, but the WsContext used the extension function.

We have just started v5, maybe we should have an easier way of accessing this?

[2022-06-18 10:17] tipsy commented on #1570
I guess this can be closed now, thanks @dzikoysk !

[2022-06-18 10:17] #1570 closed

[2022-06-18 13:53] #1528 closed

[2022-06-18 17:34] tipsy commented on #1429
We're on Jetty 11, thanks @dzikoysk !

[2022-06-18 17:34] #1429 closed

[2022-06-18 21:45] tipsy commented on #1505
Fixed this by checking if the InputStream is already loaded in memory: https://github.com/javalin/javalin/commit/5f046c474aec1b9f75f9fabddc8676150d4cc99d

[2022-06-18 21:45] #1505 closed

[2022-06-19 14:08] forzatos opened #1577 "Question about error handling, handling same error code but with different content types"
From the documentation, https://javalin.io/documentation#error-mapping

I see the following:

But looking at the code: (Javalin.java)
[code]
I see that adding the same error status for different content types (html/json) the last one overrides the first one and removes it from the error handler map.

From the documentation I understand that something like this should be possible

[code]

Maybe I h

[2022-06-19 14:11] tipsy commented on #1577
Looks like a bug! Would you like to submit a PR to fix this?

[2022-06-19 14:15] forzatos commented on #1577
Sure, will copy the same info. Thanks for the quick response.

[2022-06-19 14:25] forzatos opened #1578 "Error handling, handling same error code but with different content types"
**Actual behavior (the bug)**
Adding the same error code but for different content types (HTML/JSON) the last one always overrides the first one and removes it from the error handler map.

**Expected behavior**
Should be able to define multiple handlers (HTML/JSON) for the same error code!

**To Reproduce**
Adding two handlers with different content types, but the second one always overrides the f

[2022-06-19 14:27] #1577 closed

[2022-06-20 09:45] tipsy commented on #1578
@forzatos how about this? https://github.com/javalin/javalin/commit/1dad0449fa72443fef46660f6999a60499a372c3

[2022-06-20 10:33] forzatos commented on #1578
@tipsy think this solves the issue!

[2022-06-20 12:15] #1578 closed

[2022-06-20 19:50] tipsy commented on #1567
This has been resolved !

[2022-06-20 19:50] #1567 closed

[2022-06-20 19:51] tipsy commented on #1424
@zugazagoitia We have restructured the organization now, if you're interested I can create a repository in the org where you can work on this :)

[2022-06-20 19:51] #1424 closed

[2022-06-20 19:55] tipsy commented on #1174
We'll add the code from the PR to the samples repo.

[2022-06-20 19:55] #1174 closed

[2022-06-20 19:57] #1480 closed

[2022-06-20 19:58] #1572 closed

[2022-06-20 20:00] tipsy commented on #1286
We have a new org setup now, so we could create a repository: `javalin/javalin-vite`. Would you like to move your project to there? (you would retain admin rights for the project).

[2022-06-20 20:00] #1286 closed

[2022-06-20 20:00] zugazagoitia commented on #1424
That would be great! I'm about to graduate so I'll get working on it in a month or two.

[2022-06-20 20:02] tipsy commented on #1424
Do you have a preferred name? `javalin-ssl`, `javalin-sslutils`, `javalin-ssltools` ? Something differnet?

[2022-06-20 20:09] tipsy commented on #1468
@unoexperto could you provide a PR for what you're thinking here?

[2022-06-20 20:23] zugazagoitia commented on #1424
I believe easier SSL management should be a feature on Javalin, given that Javalin already supports SSL, naming it that way could be kind of misleading. The letsencrypt automatic certificate plugin could be called ```javalin-acme```. Thoughts?

[2022-06-20 20:32] tipsy commented on #1424
I'm not comfortable having it in the main repo, so we will need to figure out a name for the module 🤔

[2022-06-20 20:37] zugazagoitia commented on #1424
No problem, I could implement both functionalities in the same plugin, let's just name it ```javalin-ssl```, it's more direct.

[2022-06-20 20:39] dzikoysk opened #1579 "Context as an interface"
A while ago I've proposed a change to context in Javalin:

* https://github.com/javalin/javalin/issues/1341
* https://github.com/javalin/javalin/pull/1345

Because we've started Javalin 5.x, I'm curious about the general idea of turning Context into an interface. The benefits of such approach:

* It'll be easier to hide implementation details, currently we have to make a little bit of magic with:

[2022-06-20 20:44] tipsy commented on #1424
Great, I'll make a repo and promote you to admin !

[2022-06-20 20:45] dzikoysk commented on #1424
I think that `javalin-ssl` is not a right name for a plugin that targets acme which strictly targets letsencrypt, sth like `javalin-acme4j`/`acme` should be fine tho. `javalin-ssl` could be a name for sth like https://github.com/Hakky54/sslcontext-kickstart I've mentioned earlier and aims to support different formats and is a generic utility to simplify SSL experience in general 🤔

[2022-06-20 20:47] tipsy commented on #1424
I got the impression that it would include both the required jetty stuff for SSL **and** something for letsencrypt.

[2022-06-20 20:55] zugazagoitia commented on #1424
First off I completely agree with the separation of concerns. I also think that acme and ssl should be separate concerns.

I know @tipsy is uncomfortable providing SSL configuration on Javalin, but I don't understand why, could you please elaborate?
I believe SSL should be something native to Javalin, **not the certificate management** but an abstraction to simply SSL configuration to end users wh

[2022-06-20 20:59] dzikoysk commented on #1424
We've agreed that Javalin builder should not inherit properties from Jetty's server configuration, it makes sense in a way that we won't cover all its properties anyway so it's just better to let user touch it manually. Lately we had a discussion about a standalone builder for Jetty configuration for 5.x, so it could be a place to address this issue, but in general setup of custom `Server` instanc

[2022-06-20 21:07] zugazagoitia commented on #1424
Sure, and since I'm not aware of design decisions made for Javalin I'll leave it up to you both to decide what you believe it's best.

[2022-06-20 22:02] dzikoysk commented on #1579
As an `input-wanted` I'll add a little bit of the:

**"Voice of the past"**:

To ease mocking.

* Issues *
* https://github.com/javalin/javalin/issues/1341
* https://github.com/javalin/javalin/issues/335
* https://github.com/javalin/javalin/issues/376
* https://github.com/javalin/javalin/issues/935 (if we'd not use javax explicitly)
* Discussion about pros of Context as interface that I agree with

[2022-06-21 08:19] zugazagoitia commented on #1517
Usefull resource if JDK 17 is considered: https://javaalmanac.io/
There are less breaking changes/removals upgrading from 11 to 17 than from 8 to 11.

[2022-06-21 10:05] unoexperto commented on #1468
@tipsy Hi David. Unfortunately I was pressured with deadline at the time so I ended up writing thin routing wrapper around ractor-netty for my restful api implementation. I'll give javalin another try in a month or so.

[2022-06-21 17:04] ClemensElflein commented on #1286
True, but I can't transfer ownership, because of this error:
![image](https://user-images.githubusercontent.com/2864655/174857276-76653225-eef6-4a8e-b1c8-fca2995ce582.png)

The transfer ownership button says I need permission to create repos in the target account:
![image](https://user-images.githubusercontent.com/2864655/174857385-547c533c-200b-4623-a2cb-bf8c6079ebe6.png)

[2022-06-21 17:05] dzikoysk commented on #1517
Javalin is written in Kotlin, so we don't quite care about Java version that much, because it's able to compile against everything above 8+. The requirement of Java 11 mostly comes from Jetty 11, so I don't think we'll go for 17 anyway 🤔

[2022-06-21 17:06] dzikoysk commented on #1286
You have to transfer it to @tipsy and then he'll be able to transfer this to the organization :)

[2022-06-21 17:08] ClemensElflein commented on #1286
I see, done!

[2022-06-21 18:08] tipsy commented on #1286
@ClemensElflein thanks, you and Eric are now maintainers of https://github.com/javalin/javalin-vite :)

[2022-06-22 21:39] vertex-github opened #1580 "`createStandalone` with WebSocket?"
Is it possible to run standalone and also have WebSocket support?  When I try and register a WS handler on the standlone created Javalin I run into an NPE.  I also tried to create a new Javalin instance, passing in the external Jetty Server (configured outside of this code, handling other non-Javalin servlets).  However, there doesn't seem to be anything on `Javalin` beyond the `start()` method an

[2022-06-23 14:35] pajatopmr opened #1581 "Shutting down Javalin UN-gracefully"
I see how app.stop() will gracefully stop the server. And it works when I create a /shutdown endpoint. But it takes a bit of time (30 seconds if I'm not mistaken) which is way to long for my use-case: From a JUnit/Kotlin test, start main(); test that Javalin is running, timing out after an appropriate duration; and finally stopping Javalin immediately with no delay at all. I would like the test to

[2022-06-23 14:57] tipsy commented on #1581
@pajatopmr the Javalin test suite starts and stops 500+ individual Javalin servers in less than 10 seconds, so if your test is taking 30 seconds there's probably an open connection that should be closed.

[2022-06-23 18:47] tipsy commented on #1581
I'll close this issue since it's a question, but feel free to keep writing in it :)

[2022-06-23 18:47] #1581 closed

[2022-06-23 18:47] #1580 closed

[2022-06-24 00:47] pajatopmr commented on #1581
@tipsy Can you send me a link to the test suite code that does the start/stop thing.  I'm pretty sure if I study that code I will see that my code is doing something wrong/bad. Thanks.

[2022-06-24 08:07] tipsy commented on #1581
The test code in Javalin is a bit more advanced, as it changes `System.out`/`System.err` and only allows output if there is an error, but I will copy out the relevant parts for you:

[code]

This functionality is available through the `javalin-testtools` artifact, and let's you write tests like this:

[code]

[2022-06-24 10:20] mat-mik opened #1582 "[javalin-testtools] Provide a way to configure HttpClient / OkHttpClient for tests, unify with io.javalin.testing?"
**Describe the feature**
Consider providing a way to configure / alter default configuration for HttpClient / OkHttpClient to customise it (e.g. persist cookies between http calls). Please **note** that `OkHttpClient` (present in `javalin-testtools`) differs in Cookie Management with `Unirest` (used in `javalin` for tests) - maybe we should unify `io.javalin.testing` with `javalin-testtools`?

**A

[2022-06-24 10:23] tipsy commented on #1582
@mat-mik I recently added a `TestConfig` class (on master branch), which could be used for this. We could also make the `JavalinTest` object into a class, and expose a default-config through `JavalinTest` ?

[2022-06-24 11:10] mat-mik commented on #1582
`TestConfig` - I'm not sure. We could try to expose some param via it to alter cookies management, but it would create yet another `if statement`  in `JavalinTest.test` method. Unless you have something else in mind? By the way - does it make any sense to clear cookies by default when HttpClient is not storing them?
https://github.com/javalin/javalin/blob/2c090ae6ee60b79f5d487fc404c2101db1b08e7e/j

[2022-06-24 11:27] tipsy commented on #1582
I meant we could add `OkHttpClient` as a config option.

No, I just assumed that it did store them.

It would be a breaking change, but we are on 5.0-SNAPSHOT on master now, so it's a good time for breaking changes. OkHttp is "better" than Unirest though, so I think i want to keep that.

We could do that, but it sounds like a bit of work. If you want to do it, I'd be happy to review though!

[2022-06-24 11:37] mat-mik commented on #1582
@tipsy thanks for clarifications, I will play around with two options presented here (`OkHttpClient` as config option and changing `HttpClient` to interface). I'll gather some thoughts on that and come back with pull request. If, in the meantime, you find that you prefer some option (or you come up with yet another option) then don't hesitate to write it :)

[2022-06-24 12:08] tipsy commented on #1582
Either option is fine with me! I think I do prefer if we make the current `JavalinTest` instantiable though, it would make having a specific configuration less painful.

[2022-06-28 12:36] jehugaleahsa opened #1585 "[Javalin 5] Make `future` callback type-safe"
**Describe the feature**
Currently, the `future` method accepting a callback, takes a `Consumer<Any>`, which is the equivalent of `Object` in Java. Since the `future` method takes `CompletableFuture<T>`, you should be able to use `Consumer<T>`, as well. For added flexibility, you could accept T or lower by using `? super T` or even `U super T`.

[2022-06-28 21:04] #1585 closed

[2022-06-28 22:00] jehugaleahsa commented on #1585
Awesome! Thank you! 🙇

[2022-06-28 22:04] dzikoysk commented on #1585
Sure, it was a good idea for 5.x! It worked like that due to the backwards compatibility and I forgot about it.

[2022-06-29 16:06] #1582 closed

[2022-06-29 18:20] dzikoysk opened #1589 "Support async task delegation through `Context.async()` method"

[2022-06-29 19:30] dzikoysk opened #1591 "Prohibit the use of a result functions simultaneously in the same scope"
I think it should be possible with current implementation to observe result set in the current stage by user, so we could in theory provide a runtime check for multiple calls to result functions to eliminate accidental overrides + in general force better way to write code in handlers to simplify logic and reduce unnecessary cleanups etc.

By result functions we're considering functions like:
* res

[2022-06-29 19:59] tipsy opened #1592 "Fix config"
Configuration in Javalin is a bit messy, both from the user perspective and internally. The way the json mapper is passed around is also messy. JavalinVue too. It's all messy. We should clean it up.

[2022-06-29 22:05] #1589 closed

[2022-06-30 09:40] mat-mik opened #1593 "[Question] How to act as logged user in tests?"
**Describe your question**
I'm using `sessionAttribute` and `AccessManager` for authentication / authorization. I do like writing acceptance tests on REST API level. **Question**: Is there any common pattern to act as a logged user in tests?

Currently, I added an optional endpoint (added only in tests) like:
[code]

and then in tests I'm using this endpoint **before** tested endpoint, but that's

[2022-06-30 10:14] tipsy commented on #1593
Another way is to perform a check against an environment variable, or check for localhost, inside the `AccessManager`:

[code]

[2022-06-30 12:33] mat-mik commented on #1593
That's an interesting idea from a server side perspective. Do you have any ideas/ways to improve something on the client side?   I'm experimenting with something like:
[code]

which requires some abstract `BaseIntegrationTest` class. Did you find something better?

[2022-06-30 12:54] tipsy commented on #1593
@mat-mik I haven't really thought about this from the client's perspective, but we could potentially expand the `testtools` artifact to include some sort of `preTest` and `postTest` callbacks?

[2022-07-02 11:46] dzikoysk commented on #1591
Cannot implement on top of the current API, tl;dr: inconsistent way to set value from/in future task does not allow to implement such check.

Full discussion on discord: ~ https://discord.com/channels/804862058528505896/957002566728835073/992755549584244847

[2022-07-02 11:46] #1591 closed

[2022-07-02 12:45] dzikoysk opened #1598 "Future callback should be handled as standalone task"
**Bug/Lack of support**

To make it more consistent, future callback should be chained in servlet as standalone task (so it'd be handled as standalone handler) to properly support methods, such as `.future()`, because sth like that won't work properly:

[code]

Found in #1591

[2022-07-02 13:01] dzikoysk opened #1599 "Result handling in JavalinServletHandler is not properly implemented"
When we've merged result InputStream with futures during servlet rewrite, the `result` function silently used default callback:

https://github.com/javalin/javalin/blob/172f6c4ab5f173da49404c25a2fff537a0d68371/javalin/src/main/java/io/javalin/http/Context.kt#L354

And it should be:

[code]

To not set result stream twice (that's what default callback does). But such patch makes current impl of res

[2022-07-03 10:33] tipsy commented on #1592
Current:
[code]

[2022-07-03 15:11] makarid commented on #1424
Hello, will you create this plugin? Thanks

[2022-07-03 19:44] #1598 closed

[2022-07-03 19:44] #1599 closed

[2022-07-03 22:17] dzikoysk opened #1603 "Support a possibility to safely queue futures"
**About**

The root of this issue is that execution of async task that can mutate `Context` is still out of control of Javalin's servlet implementation and currently there's no alternative.

[code]

Currently we have a guarantee of proper utilization of result from context, because we're using atomic reference for get & update, but we still has a small chance of RCE between results. Fortunately, w

[2022-07-05 07:37] mat-mik commented on #1593
@tipsy spent some time with it and I get used to it (to have an abstract class with helper methods), so for me it looks good as it is. But I spent some time "inventing" this approach - maybe we could mention it in tutorials / docs or add INFO label? What do you think?

[2022-07-05 15:20] zugazagoitia commented on #1424
I'm working on it [here](https://github.com/javalin/javalin-ssl/tree/dev). But don't expect any release before Javalin 5 is done.

[2022-07-06 21:57] jflebeau opened #1607 "Please bump Jetty 9.x to last release on 4.x branch"
In theory, [Jetty 9.4.48](https://github.com/eclipse/jetty.project/releases/tag/jetty-9.4.48.v20220622) will be the last Jetty 9.x release.

[2022-07-06 22:01] dzikoysk commented on #1607
[*]

[2022-07-06 22:03] tipsy commented on #1607
You okay @dzikoysk ?

[2022-07-06 22:12] dzikoysk commented on #1607
Let's appreciate 9 years of Jetty 9 and its last release with a minute of silence. Looks like we've migrated to Jetty 11 at the last moment 😅

[2022-07-06 22:16] tipsy commented on #1607
@jflebeau I'll release a new version this weekend :)

[2022-07-08 13:11] #1592 closed

[2022-07-08 13:12] #1593 closed

[2022-07-08 13:32] cplauncher opened #1608 "Video streaming with seekableStream"
I have some video files that are stored in database, that is why I cannot use staticFiles.
I found that there is context.seekableStream method where I can just provide the stream and it will send it to the client honoring the RANGE header, that is why the seeking in video player should work.

**Example to reproduce with local file:**

[code]

If I open the link **http://localhost/video** in Google

[2022-07-08 14:16] cplauncher commented on #1608
I am not experienced in kotlin, but I will try to fix it and make PR

[2022-07-08 14:21] tipsy commented on #1608
Feel free to ask questions here, or join the dicsord: https://discord.com/invite/sgak4e5NKv

[2022-07-08 14:26] tipsy commented on #1607
And it's out @jflebeau !

[2022-07-08 14:26] #1607 closed

[2022-07-08 14:40] tipsy commented on #1267
Not much is happening here, so I will close the issue.

[2022-07-08 14:40] #1267 closed

[2022-07-08 16:58] dzikoysk opened #1609 "Reimplement `AccessManager`"
Currently, `AccessManager` overrides all user's handlers to inject valid check into handler body:

* `AccessManager`: https://github.com/javalin/javalin/blob/master/javalin/src/main/java/io/javalin/core/security/AccessManager.java
* Overridden handler: https://github.com/javalin/javalin/blob/29232897dd36e2ae2fabb06e47e31dd825d72fa8/javalin/src/main/java/io/javalin/http/JavalinServlet.kt#L96

It mi

[2022-07-08 17:05] stealthrabbi opened #1610 "reporting vulnerabilities in dependencies"
I am looking to integrate this library in to my application that I scan with trivy. Trivy has reported some vulns with the jetty libraries that are included. I'm on Javalin 4.6.3.

[code]

[2022-07-08 17:23] tipsy commented on #1609
I don't see the immediate value, but feel free to submit a proposal!

[2022-07-08 17:23] tipsy commented on #1610
Thanks @stealthrabbi ! We have upgraded Jetty in Javalin 4.6.4, which was released earlier today :)

[2022-07-08 17:23] #1610 closed

[2022-07-08 17:25] stealthrabbi commented on #1610
Ah ok thanks. 4.6.3 is still showing as the latest on maven central. Does it take time to push up?

https://mvnrepository.com/artifact/io.javalin/javalin

[2022-07-08 17:29] tipsy commented on #1610
Yes, it usually takes a few hours. mvnrepository is actually not the official page, https://search.maven.org is. You can find the artifact here: https://search.maven.org/artifact/io.javalin/javalin/4.6.4/jar, but it's also not searchable there yet.

[2022-07-11 01:27] ajsutton commented on #1610
I've pulled in Javalin 4.6.4 which is using Jetty 9.4.48.v20220622 but I'm still getting the same high priority warning for CVE-2022-2191.

Notably support for Jetty 9.4 was dropped on June 1st (https://github.com/eclipse/jetty.project/issues/7958). I may have missed it but I don't see a fix for CVE-2022-2191 in the 9.4 branch.

[2022-07-11 06:38] Playacem commented on #1610
@ajsutton 9.4.x is not affected. See here: https://github.com/eclipse/jetty.project/issues/8161

[2022-07-11 09:22] ajsutton commented on #1610
@Playacem Thank you - the CVE has the wrong versions and I hadn't seen the comments at the bottom of the PR.

[2022-07-12 07:55] #1603 closed

[2022-07-12 18:55] Fuyukai commented on #1570
Is there any chance you could upload source jars for this too?

[2022-07-12 20:55] dzikoysk commented on #1570
@Fuyukai sources & javadocs are now in the repository.

* https://maven.reposilite.com/javadoc/snapshots/io/javalin/javalin/5.0.0-SNAPSHOT

[2022-07-13 03:41] xtexChooser opened #1615 "Incomplete GZIPped data when using precompression"
Javalin 4.6.4

**Actual behavior (the bug)**
Incomplete GZIP compress data without any HTTP headers about compressing.

**Expected behavior**
Full compressed data with correct HTTP headers.

**To Reproduce**
I started a javalin server, then configure it to use GZIP(although I found that it is enabled by default):
[code]
And then added some static resources:
[code]
When I was accessing a JS file wi

[2022-07-13 03:43] xtexChooser commented on #1615
The resources are bundled in the application's JAR.

However, another resource in another JAR in the classpath worked correctly(Maybe GZIP not enabled because it is too small).

[2022-07-13 03:46] xtexChooser commented on #1615
Ops, I tested it again.

**I found that this problem only causes when compressionStrategy is GZIP and precompress is enabled at the same time**

[2022-07-13 07:31] tipsy commented on #1615
Thanks @xtexChooser - is this your feature @vn7n24fzkq?

[2022-07-13 21:57] Fuyukai opened #1616 "Incompatible with latest JDK 19 EA builds"
**Actual behavior (the bug)**
Fails to boot due to a reflection error.

**Expected behavior**
Doesn't fail to boot.

**To Reproduce**
``Javalin.create {}`` on the latest JDK 19 EA.

**Additional context**
[code]

It should probably be ``newThreadPerTaskExecutor`` instead.

[2022-07-13 22:50] tipsy commented on #1616
Thanks @Fuyukai, they really like changing this. Would you like to submit a PR?

[2022-07-14 07:11] #1616 closed

[2022-07-14 15:54] vn7n24fzkq commented on #1615
Sorry for the late reply.

I will investigate this tomorrow.

[2022-07-17 11:41] vn7n24fzkq commented on #1615
I can't reproduce this problem. 😢

[code]

 I tried several js and zip files,  including different sizes from 1 KB to 100 MB. 🤔

I noticed that you said it still happens even if you disable precompression.
Does this happen even if you don't enable any config about compression?

[2022-07-17 11:53] xtexChooser commented on #1615
Sorry, I found it serveral days ago  that it only happends when precompression and GZIP enabled at the same time. I will check it later.

[2022-07-23 10:52] dzikoysk commented on #1579
I'll try to prepare a PoC to see if there are any disadvantages/issues with this proposal. As far as I know we can't use `@JvmOverloads` in interfaces, slightly meh... but in the end we can just do it manually, just like Java does 😳

[2022-07-26 10:07] baumgarb opened #1624 "Javalin with JPMS and ServiceLoader results in NoClassDefFoundError: kotlin/NoWhenBranchMatchedException"
**Actual behavior (the bug)**
Running Javalin with JPMS and ServiceLoader leads to the a NoClassDefFoundError. If I run the very same application not as a module and without the service loader everything works just fine.

**Expected behavior**
I'm expecting Javalin to work with JPMS and ServiceLoader the same way it does for a console application without Javalin. If you run the console application

[2022-07-26 21:31] tipsy commented on #1624
@baumgarb `java.lang.NoClassDefFoundError: kotlin/NoWhenBranchMatchedException` looks like it's more Kotlin related than Javalin related. Have you tried using JPMS with any other Kotlin based JVM project?

[2022-07-26 21:51] tipsy commented on #1624
You could check out https://github.com/vihangpatil/kotlin-modules ?

[2022-07-27 08:15] tipsy opened #1625 "Add option to make it impossible to overwrite mapped exception classes"
It's currently possible to override any exception handler. This makes it hard to implement redirects using exceptions, and also potentially hurts plugin authors who want to guarantee that their plugin works as expected. We could add something like

`app.exception(class, canBeOverriddenBoolean, handler)`

[2022-07-27 13:15] baumgarb commented on #1624
@tipsy haven't mixed in any Kotlin based libraries or projects into my Java 9+ Gradle and JPMS projects yet. That's a first and probably you're right.

I'll have a look at https://github.com/vihangpatil/kotlin-modules and let's see if I can figure out something.

Thank you very much either way :-)

[2022-07-27 13:25] dzikoysk commented on #1624
Kotlin stdlib supports modules since 1.4+, but Javalin does not export dedicated module-info with library, so in theory it's should work in unnamed module. Because [this class](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-no-when-branch-matched-exception/) cannot be found, you have to find a way to link [kotlin stdlib](https://mvnrepository.com/artifact/org.jetbrains.kotlin/kotlin-stdlib)

[2022-07-28 23:30] #1579 closed

[2022-07-30 13:03] tipsy commented on #1625
After adding a special rule to the except mapper, this is no longer relevant for redirects.

[2022-07-31 09:59] tipsy commented on #1615
I'll close this until an example exists that demonstrates the issue.

[2022-07-31 09:59] #1615 closed

[2022-07-31 10:00] tipsy commented on #1625
I'll close this for now, can always be added later.

[2022-07-31 10:00] #1625 closed

[2022-07-31 22:31] tipsy commented on #1517
We're moving from operating on status as `int` to status as `HttpStatus`. We should make similar moves for other type-prone things, like header/content-type from `String` to `Header` and `ContentType`.

All of these classes should have constructor custom values. Maybe also enum-ish methods like `values()` ?

[2022-08-01 23:12] azu opened #1632 "CORS issue on `enableCorsForAllOrigins()`"
**Actual behavior (the bug)**

if `enableCorsForAllOrigins()` is set, the response include `Access-Control-Allow-Origin: <request's ORIGIN>` and `Access-Control-Allow-Credentials: true`.
It means that javalin server allow to request with credentials from any origin.
It will leak user info because the request include user's cookie by `Access-Control-Allow-Credentials: true`.

In other words, This C

[2022-08-02 08:31] tipsy commented on #1632
Thanks @azu !

I'm a bit unsure about how it's best to proceed. The method is already named `enableCorsForAllOrigins`, so this behavior seems true to the naming, and might be what some people expect (?).
I imagine that people who are security minded would rather use `enableCorsForOrigins(a, b, c)`, if they are using the plugin at all.

That being said, we want to avoid surprising people with Javal

[2022-08-02 09:52] baumgarb commented on #1624
Issue's solved now, I've pushed a new branch showing how to make it work, see [main-solved](https://github.com/baumgarb/javalin-with-jpms/tree/main-solved). If you don't want to bother looking at the [latest commit 1f80fc7](https://github.com/baumgarb/javalin-with-jpms/commit/1f80fc731b80cb94dd44a244674d019c52df60ff) of this branch then here's the solution: simply add this line to the `module-info

[2022-08-02 10:19] tipsy commented on #1624
Do you happen to know what we can do in Javalin to fix this?

He sounds like a great guy!

Might make an interesting tutorial for https://javalin.io/tutorials, if you're interested in writing one?

[2022-08-02 10:51] baumgarb commented on #1624
Not off top of my head, I will take a look, maybe there's a quick win we can achieve other than fully introducing modules in the repo.

You seem to have a great gut feeling, indeed he is 👍 :-D

Oh it would be my pleasure, I'd be honored to contribute and I'll definitely do so, thx for offering :-)

[2022-08-02 11:18] tipsy commented on #1632
@azu could you help me out a bit. I'm trying to actually exploit this bug. I've created a server:

[code]

I've "logged in" by visiting http://localhost:7070, and I'm trying to send a CORS request from a different port:

[code]

But I don't see the session cookie included.

[2022-08-02 11:37] tipsy commented on #1632
Aha, I had a typo:

[code]

[2022-08-02 11:44] azu commented on #1632
This behavior may be related with [SameSite cookies](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite).

Moden browser SameSite default value is `lax`.
if the cookie value has `samesite=lax` attribute, cross origin request does not includes credential.
<img width="818" alt="image" src="https://user-images.githubusercontent.com/19714/182365590-e734f5bd-6867-467d-8da8-a4

[2022-08-02 20:03] tipsy commented on #1632
PR for dealing with this in Javalin 5.0: https://github.com/javalin/javalin/pull/1633

[2022-08-03 08:11] tipsy commented on #1632
@azu I've also added a mitigation-snippet in my first comment.

[2022-08-05 15:15] tipsy commented on #1632
Closed by https://github.com/javalin/javalin/pull/1633

[2022-08-05 15:16] #1632 closed

[2022-08-06 11:14] 28Smiles opened #1634 "Kotlin Suspendable Functions as Handlers"
**Describe the feature**
Introduce new Functions to the `ApiBuilder` allowing to provide suspendable functions as handlers. Right now u need this helper construct in every function:
[code]
This could be externalized and made compatible with openapi, introducing a new type of `SuspendableHandler`, which implements this helper construct internally. API functions would look like:
[code]

Since the `A

[2022-08-06 11:30] tipsy commented on #1634
@dzikoysk I imagine you might have some opinions here.

[2022-08-06 12:41] dzikoysk commented on #1634
There's no need to introduce coroutines to the main module imo, because it can be implemented as a plugin. Support for coroutines is not only about adding random `suspend` keyword to signatures, but about overall request handling, so it has to be associated with some kind of a custom logic. Here's the example I was using for a while:

* https://github.com/reposilite-playground/javalin-rfcs#reactiv

[2022-08-06 13:05] 28Smiles commented on #1634
I don't want to introduce them into the main module, using extension functions is just fine. Like in your rfc, the openapi module needs to be refitted to work with suspendable functions, but I would not use an annotation processor for this. Since they are tideous to maintain and test, while there is no clear benefit in this case, when we can just introduce a special HandlerType with a pointer to t

[2022-08-06 13:17] dzikoysk commented on #1634
OpenApi module from the link above is not related to this reactive routing at all, I was just using one repository for a while to keep all RFCs in one place. In fact, this annotation based OpenApi integration will replace built-in OpenApi module from 4.x in 5.x - it's already in the organization:

* https://github.com/javalin/javalin-openapi

[2022-08-08 09:36] baumgarb commented on #1624
@tipsy FYI, I've created a PR for adding a tutorial on javalin.io on how to setup a bare bone Gradle project with Javalin & JPMS which also makes use of the new ServiceLoader infrastructure. See PR https://github.com/javalin/javalin.github.io/pull/136.

[2022-08-08 16:50] tipsy commented on #196
@winder some people are finding your old archetype and starting new projects on Javalin 1. Do you think you could release a new version for Javalin 4.6.4? ☺️

[2022-08-08 20:09] MazenAmria opened #1638 "Default path for Before handler needs trailing slashes"
This `/*` in the before handler (without specifying path) could be better if it was just `*`

https://github.com/javalin/javalin/blob/a59aa4fb5072c8e236140c8da7e3e7ab1c487a31/javalin/src/main/java/io/javalin/apibuilder/ApiBuilder.java#L341

I figured out this once I've had an EndpointGroup and it has been redirected to from multiple EndpointGroups, like this:
- `/e1/e3`
- `/e2/e3`

And I need a be

[2022-08-09 16:28] tipsy commented on #1624
@baumgarb that's a really well written tutorial @baumgarb, thank you !

[2022-08-09 16:28] tipsy commented on #1624
I'll also close this now :)

[2022-08-09 16:28] #1624 closed

[2022-08-09 22:55] 28Smiles commented on #1634
Oh, okay, my bad. Does this mean, that this will soon be able in javalin?

[2022-08-10 09:15] grzegorzbor opened #1640 "Cleaner stacktraces?"
I noticed that in the recent versions of javalin the stacktraces started to be really long (3x longer than before, from ~50 frames to ~150 frames) and polluted with "CompletableFuture.xxx()".
Don't know if anything can be done to improve it. It's not a really big issue, but it is quite annoying; so maybe it can be simplifired?

For example, in version 4.4.0, the stacktrace looked like this:
`
at c

[2022-08-10 10:13] tipsy commented on #1640
@grzegorzbor in order to simplify the internal architecture we decided to pass sync responses through the async pipeline (as already completed futures).

@dzikoysk any ideas for this one? 😬

[2022-08-10 10:31] dzikoysk commented on #1640
Well, the previous stacktrace is in fact "cleaner" in terms of visibility, but that's mostly because it didn't work properly and was affected by several issues like race conditions & inconsistent behavior of api. Because Javalin already used `CompletableFuture` and I also didn't want to add any extra async related abstraction as I was quite sure it wouldn't be approved, we just simply decided to i

[2022-08-10 12:10] tipsy commented on #1640
To be fair, this was only an issue for the small majority of user's using futures.

We briefly discussed making `JavalinServlet` pluggable, and having one async and one sync implementation. If we extract common code into utils, we might end up with an acceptable amount of code duplication. We could potentially also do `SyncContext` and `AsyncContext`, now that `Context` is an interface.

This is n

[2022-08-10 12:13] tipsy commented on #1640
But to the point of this issue, could we improve stack traces when using completed futures somehow, or is it not feasible?

[2022-08-10 12:16] tipsy commented on #1609
Do you consider this resolved with #1609 ?

[2022-08-10 12:25] dzikoysk commented on #1640
In theory we can override stacktrace of exception:

* https://docs.oracle.com/javase/7/docs/api/java/lang/Throwable.html#setStackTrace(java.lang.StackTraceElement[])

so we could just simply drop/replace internal part of it. But it could be misleading and in theory could hide some key data if user would find a bug or sth like that in our implementation. Stacktrace is just a tool to show exactly ho

[2022-08-10 12:44] grzegorzbor commented on #1640
Overriding the stacktrace on the framework level would probably do more harm than good. Could be very confusing.

My problem with these stacktraces is following. We use the logback for logging. It allows providing the pattern to filter out the stacktrace lines that should not be printed. This was extremely useful with spring-based webapps, because spring tends to add hundreds of  stacktrace lines

[2022-08-10 13:39] grzegorzbor commented on #1640
One solution would be to subclass the ComletableFuture with something like JavalinCompletableFuture which would make the filtering easy. But this can be tricky and I'm not even sure if that's the good idea.

Perhaps it's more the logging library issue. I raised the ticket to logback for smarter stacktrace filtering: https://jira.qos.ch/browse/LOGBACK-1654

[2022-08-10 14:15] dzikoysk commented on #1634
The new OpenApi plugin or my custom routing? You can already use the OpenApi module with Javalin 4.x/5.x.

Speaking of the routing plugin I don't think so, at least we don't have any plans for for that yet. I use `javalin-routing` plugin in my apps, e.g. here:
* Plugin configuration: https://github.com/dzikoysk/reposilite/blob/main/reposilite-backend/src/main/kotlin/com/reposilite/web/application/

[2022-08-10 18:24] tipsy opened #1642 "Make JavalinServlet pluggable"
Currently we run both sync and async stuff through the async pipeline. This makes Javalin a bit harder to debug for users (#1640).

In the past, we've briefly discussed making `JavalinServlet` pluggable, and having one async and one sync implementation. If we extract common code into utils, we might end up with an acceptable amount of code duplication. We could potentially also do `SyncContext` an

[2022-08-10 19:39] jschlachtenhaufen opened #1643 "javalin-openapi does not work when controller class has more than one member"
**Actual behavior (the bug)**
I have a simple controller I'd like to generate documentation for:

App Setup:
[code]

Controller:

[code]

This works as expected, and swagger-docs generates a schema for the User which is tied to the endpoint definition. However, if I add another function or even just a val to `MyController`, the annotation isn't processed correctly and there is no schema, api defin

[2022-08-10 20:00] jschlachtenhaufen commented on #1643
You can also reproduce by just cloning and running this demo https://github.com/tipsy/javalin-openapi-example, which doesn't work.

That demo repo was linked from the open api docs here: https://javalin.io/tutorials/openapi-example

[2022-08-10 20:09] jschlachtenhaufen opened #1644 "javalin-openapi does not generate documentation for handlers in subclasses"
**Actual behavior (the bug)**
I have a controller subclass with an endpoint handler I would like documentation for.

App Setup:
[code]

Controller:
[code]

The code above works and the documentation is generated. However, if I simply change the type of the controller class in the app to be the BaseController class, such as:
[code]
The documentation is no longer generated.

Of course in this dummy

[2022-08-10 21:32] dzikoysk commented on #1643
Built-in OpenApi module has dozen of issues:

* https://github.com/javalin/javalin/issues/1296

The one you're reporting is probably another effect of those two:

* https://github.com/javalin/javalin/issues/1185
* https://github.com/javalin/javalin/issues/1193

There's no fix tbh for all those issues, that's why I've ended up with custom openapi implementation that will officially replace current

[2022-08-10 21:43] dzikoysk commented on #1644
This is pretty much the same issue as your previous one, take a look here:

* https://github.com/javalin/javalin/issues/1643

[2022-08-10 22:14] #1643 closed

[2022-08-10 22:14] #1644 closed

[2022-08-10 22:39] #1638 closed

[2022-08-11 01:38] jschlachtenhaufen commented on #1643
Thanks for the info. I pulled in the 4.x version of the extension and both of the problems (this and the subclassing issue I opened after) are fixed.

Is the 5.x version of Javalin stable? I see the latest at 4.6.4 in Maven, but I'm working on a new project so would like to start off with 5 if it's recommended. Of course would switch to the 5.x branch of the openapi custom extension you linked as

[2022-08-11 06:38] tipsy commented on #1643
It should have fewer bugs than 4x, but the api might still change (a little). So not stable, but should be safe to use.

[2022-08-11 11:44] dzikoysk commented on #1643
Reposilite 3.x is already based on top of Javalin 5.x and it works well in production for quite a lof of people. The only disadvantage is that your project may randomly stop working in case of some breaking cosmetic changes, but overall I think it's worth to give it a try, you'll get access to latest features and you don't really have to care about migration from 4.x in the future. In case of any

[2022-08-11 14:54] 28Smiles commented on #1634
Thank you

[2022-08-11 14:54] #1634 closed

[2022-08-12 04:04] kaala opened #1646 "access path throw exception addStaticFiles using staticFileConfig"
**Actual behavior (the bug)**

I added a static file handler, maps /log to a local directory

[code]

access `http://127.0.0.1/log/server.log`, return file of /log/server.log
access `http://127.0.0.1/log/`, return file of /log/index.html
access `http://127.0.0.1/log`, throws java.lang.NullPointerException and return 404 not found

**Expected behavior**

exception should not print to console
access

[2022-08-12 06:24] tipsy commented on #1646
Thanks @kaala, would you be interested in creating a PR for this? The resource handler is just a small file :)

[2022-08-12 18:43] tipsy commented on #1634
This is really up to you. I don't think the interest in this is huge, so not sure if it's worth your time to document/maintain. But if that's not an issue, I think publishing it is a good thing ☺️

[2022-08-12 22:19] tipsy commented on #1646
Fixed in https://github.com/javalin/javalin/commit/bd6dfe604a154ba3c8373370abd53a7fd8dc5c17 !

[2022-08-12 22:19] #1646 closed

[2022-08-13 08:11] tipsy commented on #1640
Hmm. So Java9+ has a stack walking API, which allows for filtering of stack traces: https://www.baeldung.com/java-9-stackwalking-api

We could offer a pluggable filter for this, which a `{ true }` filter being the default.

I'll have a quick look.

[2022-08-13 08:48] tipsy commented on #1640
[code]

vs

[code]

[2022-08-13 08:51] tipsy commented on #1640
This was done by adding a small function call to the beginning of the exception mapper:

[code]

This could be passed to `Javalin.create { it.core.stackTraceCleaner = ... }`

Now, if this is a good idea.. I'm not sure.

[2022-08-13 10:29] grzegorzbor commented on #1640
Interesting. I didn't even know that is possible. Sounds quite promising. But this will only work inside the exception mapper functions, correct?
So in the other places where i do catch(Exception) i will still need to do the cleaning manually. Which is not bad, i can have a static method to call:
catch (Exception e) {logger.error(message, cleaned(e))}
On the other hand, if i had to call it manuall

[2022-08-13 12:18] tipsy commented on #1640
Yes, but that should cover all of the frames that you are interested in.

Yes, but those places shouldn't contain Javalin's async handling frames?

[2022-08-14 20:46] grzegorzbor commented on #1640
If any code called from inside one my handlers throws an exception, and i catch it inside this handler, and log it, then the full javalin stacktrace will be present there.
Something like:
[code]
So in this case I would need to do instead (which is quite OK, I think):
` log.error("my logic failed", cleanStack(e));`

[2022-08-14 21:32] tipsy commented on #1640
Ah, gotcha. This is a strange feature to include, but it's also very harmless. I'll put together a PR next week ☺️

[2022-08-15 09:58] tipsy commented on #1640
https://github.com/javalin/javalin/pull/1648

[2022-08-16 09:11] dzikoysk commented on #1609
Not sure, as we were talking about those route listeners too. I think this particular issue is resolved and if we'll go back to those listeners topic, we'll create a dedicated issue.

[2022-08-16 09:11] #1609 closed

[2022-08-17 17:28] m-rossini opened #1649 "Discovery Client"
Is there any available plugin to register the current service in a Discovery Server and providing in return a Discovery Client? Specifically for Netflix Eureka?

Something to basically do the heavy lift of creating the needed classes and handling parameters and defaults?

[2022-08-18 15:21] tipsy commented on #1640
Merged !

[2022-08-18 15:21] #1640 closed

[2022-08-18 15:23] tipsy commented on #1649
@m-rossini Nothing that I am aware of. Are you talking about something similar to this? https://spring.io/guides/gs/service-registration-and-discovery/

[2022-08-18 15:57] m-rossini commented on #1649
Yes, I am. I just wrote a simple, very simple plugin that I can reuse. Thinking about that I am not sure if Javalin should provide that or some 3rd party contributors. BTW is there any module such as javalin-3rd-party available or planned?

[2022-08-18 16:01] tipsy commented on #1649
@m-rossini we are working on a plugin marketplace for Javalin 5:

![image](https://user-images.githubusercontent.com/1521451/185441003-ffb06567-e608-4d76-8a35-e5d63d0c432b.png)

The idea is that people will be invited into the Javalin organization, and allowed to create a repository for their plugin there. If you are interested in sharing your Eureka plugin, I can create `javalin/eureka` and make

[2022-08-18 16:10] tipsy opened #1650 "Replace OkHttp with Methanol in `javalin-testtools` ?"
[@mizosoft](https://github.com/mizosoft) seems to have created a nice wrapper around the new `HttpClient` in Java 11. Since we are Java 11+, we could get rid of OkHttp, but at the same time, OkHttp is quite nice.

We could also make an interface, and use Methanol as the default. Then people could provide their own OkHttp client if they wanted.

[2022-08-18 21:01] rbygrave commented on #1650
If Methanol isn't quite your thing - https://avaje.io/http-client/ ... which is also a wrapper on HttpClient and great for API's and what I use but misses out on multipart file upload.

[2022-08-18 21:07] tipsy commented on #1650
Interesting @rbygrave, are you planning on adding support for forms? Lack of form support is why I don't want to use HttpClient directly.

[2022-08-18 21:09] rbygrave commented on #1650
It already has support for forms.

[2022-08-18 21:13] tipsy commented on #1650
Nice, I'll have a look in the weekend!

[2022-08-19 08:08] m-rossini commented on #1649
That sounds great

[2022-08-19 09:47] tipsy commented on #1649
I've created https://github.com/javalin/javalin-eureka and made you a maintainer :)

[2022-08-19 09:47] #1649 closed

[2022-08-21 15:50] tipsy commented on #1517
RC is out:
[code]

[2022-08-22 07:53] tipsy commented on #1650
As was pointed out by @dzikoysk, a dependency is a dependency, and my quest to get rid of OkHttp might not make too much sense. Let's reconsider for Javalin 6.

[2022-08-22 07:53] #1650 closed

[2022-08-22 23:45] tipsy opened #1651 "Remove callback from Context#future, as well as config.defaultFutureCallback"
When I made the current future function in Context I had never used Javalin for async stuff. After actually playing with the async functionality of Java 11's HttpClient, I ran into some annoying issues with the current implementation (mainly that there is no nice way to do error handling). The current setup heavily favors happy-path scenarios, and I think it should be scrapped altogether.

Current

[2022-08-29 16:16] chrisawad opened #1653 "contentType() and contentType(str) are confusing."
**Describe the feature**
Currently:
contentType() gets the content-type of the request
contentType("type") sets the content-type of the response

There is no API for getting the content-type of the response once it's set, but there should be. Also I think the methods should be more descriptive for knowing if we are getting info for a request vs a response, but thats a bigger issue (in Spark time,

[2022-08-29 16:26] tipsy commented on #1653
Hi @chrisawad,

Unless I'm misunderstanding you, this is already in place. In Javalin 4.x you can use `ctx.req` and `ctx.res`, in Javalin 5 this is `ctx.req()` and `ctx.res()`.

I understand your concern, but the current model of "if it's a getter, it operates on the context" and "if it's a setter it operates on the response" has worked fairly well, so I'm somewhat wary of changing it.

[2022-08-30 05:45] MairwunNx opened #1655 "Made BodyValidator#check overload with lazy ValidationError initialization"
**Describe the feature**
Need to BodyValidator#check method overload with lazy ValidationError initialization (simple lambda).

Goals:
- Reduce memory allocations when rule passed
- Increasing performance of request execution because we don't spend processor time on object initialization and for Map<> creation (args parameter).

[2022-08-30 18:25] #1651 closed

[2022-08-30 18:30] #1642 closed

[2022-08-30 20:06] tipsy commented on #1640
This has been reverted, but request handling has been rewritten so it doesn't use any futures unless the user had explicitly set a future. Stack traces should be short again!

[2022-08-30 20:53] grzegorzbor commented on #1640
Great! In which release is it expected to be?

wt., 30 sie 2022 o 22:07 David (javalin.io) ***@***.***>
napisał(a):

[2022-08-30 21:00] Playacem commented on #1640
@grzegorzbor will be in Javalin 5.0.

[2022-08-30 22:24] dzikoysk commented on #1468
I've made a prototype of this feature in:

* https://github.com/javalin/javalin/pull/1657

Like I said, it's not that beauty because we've made handling experience a little bit worse due to casts & unsafe generic signatures, but in the end it works.

As a side note, I think Moshi will be quite painful to use, because:
* It requires dedicated adapter for each signature, so you may need to create so

[2022-08-30 22:58] dzikoysk commented on #1653
I think it'd add quite a lot of noise, because in most cases you'd like to read from request and write to response. Javalin internally also uses `ctx.req/ctx.res` to get those values and that fine.

In general if you need to read from response it means that you're most likely trying to get value you've set earlier in your code, so maybe you could try to modify your handling to use that data direct

[2022-08-31 07:10] tipsy opened #1659 "In Context, remove `resultStream()` and rename `resultString()` to `result()`"
Now that we have Context as an interface, and we no longer store futures in the result, we could simplify this setup a bit.

[code]

[2022-08-31 07:50] zugazagoitia opened #1660 "Release third party plugins on Maven Central"
I'm currently working on my [javalin-ssl](https://github.com/javalin/javalin-ssl) plugin, and for development I've released snapshot builds on my own maven repository.
For simplicity sake I believe plugins should be available on maven central, but there should also be a clear distinction between 3r party and official ones.

Any Ideas?

[2022-08-31 13:59] Playacem commented on #1660
Maybe we should also provide a central snapshot repository allowing people to test out newer version of the Javalin ecosystem by just adding a single repository.

Maybe we can even automate releases to Maven Central via GitHub actions.

[2022-08-31 14:14] #1659 closed

[2022-09-01 06:06] zugazagoitia commented on #1660
@dzikoysk & I are already automating maven releases on our plugins afaik. I could make a GH actions release workflow for the template Javalin Repo and help anyone that needs it.

The issue that concerns me is of credentials regarding the maven repository, should we release 3rd party plugins in a different namespace maybe? They could be available on Maven Central, but the naming would clearly indic

[2022-09-01 08:07] Playacem commented on #1660
I would consider every plugin living under the javalin organization to be somewhat official. How about using `io.javalin.plugin` as the group id and `javalin-x-plugin` as the artifact id. Adding labels is not a power I possess. Only @tipsy can label issues.

[2022-09-01 09:11] zugazagoitia commented on #1660
Regarding this, @tipsy had some concerns. and we've discussed it before on a past issue:

 _Originally posted by @dzikoysk in https://github.com/javalin/javalin/issues/1424#issuecomment-955703361_

A solution could be to introduce some kind of disclaimer, or just a banner? Both in the source repo and plugins page:

![image](https://user-images.githubusercontent.com/23284823/187877688-cd43d2ad-7ee3

[2022-09-01 12:34] dzikoysk opened #1662 "Nondeterministic test case `TestRateLimitUtil.millisecond rate-limiting works`"
This test case fails quite often on my local branches/CI:

[code]

Lately failed on #1661

[2022-09-01 14:50] tipsy commented on #1662
I can have a look at it.

[2022-09-01 15:40] tipsy commented on #1662
Hopefully fixed in https://github.com/javalin/javalin/commit/e1b0a00913bf9ecc46e57746300682754b7c2329

[2022-09-01 16:06] #1662 closed

[2022-09-02 16:39] chrisawad commented on #1653
I'll have to try the RC for Javalin 5. In Javalin 4, ctx.req/ctx.rsp are the HttpServletRequest/Responses -- I guess we can access those directly.

Consider the handler setting the response content-type and in app.after() we want to test what the content type is to do some work. Or, lets say we want to print content-type in the logger we added. There's no way to get it from ctx using Javalin metho

[2022-09-02 16:57] tipsy commented on #1653
Do you mean that these should wrap `HttpServletRequest` and `HttpServletResponse` ?

[2022-09-02 19:45] chrisawad commented on #1653
If Javalin is supposed to be a complete wrapper I would say yes. It would just make sense.

Right now I don't have eclipse exporting all the jars that Javalin already wraps, into my other projects as to avoid bloating the import options (which is best practice), so to get parts of HttpServletResponse accessible, I'd probably end up having a utility class in my own wrapper of Javalin that gets it o

[2022-09-02 20:18] dzikoysk commented on #1653
Keep in mind that `HttpServletRequest/Response` is not an internal impl of Jetty, it comes from the official Jakarta (formerly javax) specification that is the base for like a half or more web related stuff in Java ecosystem:

[code]

This API is also not internal at all, everything you set/get in those two objects should reflect how your response is handled by Javalin.
Yet another issue with prov

[2022-09-02 20:44] #1468 closed

[2022-09-02 21:23] tipsy opened #1666 "Restore Micrometer plugin as a Maven module"
Also include in `javalin-bundle`

[2022-09-04 12:52] Playacem commented on #1666
Do you want to have a separate repository for the micrometer-plugin or do you want it inside the main repository as a maven module?

[2022-09-04 13:00] tipsy commented on #1666
I was thinking in the main repo, and adding it to the bundle.

[2022-09-04 13:12] MairwunNx opened #1668 "Add eclipse collections adapter for jackson to OptionalDependency class and register optionally it by default"
**Describe the feature**
I've use eclipse collections (better for my use cases by performance and memory usage) but by default javalin jackson class does not register eclipse collections adapter.

This is link to maven artifact on eclipse collections for jackson
https://search.maven.org/artifact/com.fasterxml.jackson.datatype/jackson-datatype-eclipse-collections/2.13.4/bundle

Thanks.

[2022-09-04 16:16] tipsy commented on #1668
@MairwunNx sounds fair enough, would you like to submit a PR for this?

[2022-09-06 08:41] lobax opened #1669 "Bump Kotlin version to fix CVE-2022-24329"
**Actual behavior (the bug)**
Javlin version 4.6.4 is being flagged as a vulnerabilty by dependency scanners due to the CVE-2022-24329 in the Kotlin dependency that Javalin drags along. In my case, I am using OWASP Depency check.

**Expected behavior**
No CVE's being reported by dependency scanners when using Javalin.

**To Reproduce**
Use OWASP dependency check on a project with the lastest Javal

[2022-09-07 08:54] zugazagoitia commented on #1666
We will have to wait until https://github.com/micrometer-metrics/micrometer/pull/3382 is either merged & released or included in Jetty. I can work on it once it happens.

[2022-09-07 13:30] dzikoysk commented on #1669
It's only a false-positive flag as it's not affecting Javalin at all. The problem with this issue is that Kotlin `1.5.32` is the last release of Kotlin `1.5.x` line, so we'd need to move to `1.6/1.7`. Not sure if there's any point to touch this module if we're probably in 1/2 weeks release Javalin 5.x

[2022-09-07 14:10] #1668 closed

[2022-09-07 14:14] MairwunNx commented on #1668
Thanks!

[2022-09-09 14:56] ssteffanus12 opened #1673 "You can only associate one Validator per field name when calling Iterable<BaseValidator<*>>.collectErrors()"
If I create multiple Validators associated with a particular field, then all but one are dropped from the list when the errors are collected.

E.g., suppose we have a list of the following Validators:

[code]

When I call collectErrors on the list after defining field_name=SOME_INVALID_VALUE, I'm only see the first error. Once I remove that Validator from the set, I finally see the second error.

[2022-09-13 05:23] zugazagoitia commented on #1660
Bumping this before 5.0 release

[2022-09-15 01:45] dzikoysk commented on #1660
Sorry for late response @zugazagoitia, I'm quite busy this month and I just forgot to answer 😓

Speaking of the naming convention, I'd prefer `io.javalin` package and `-plugin` suffix in artifact name for all plugins in the official repository as long as authors are fine with it (they can still use custom one if they really want I guess). Some plugins use multiple modules, sometimes in different g

[2022-09-21 13:57] asad-awadia commented on #1109
`https://github.com/nikku/amvn` this is what I am using to get auto restarts after editing code

[2022-09-23 14:28] GrumpyGoslin opened #1675 "OpenApi - Swagger UI - Select Definition"
Hi, Sorry of this is the wrong place to ask.

I am separating my endpoints into grouped definitions based on version (i.e. api/v1, api/v2) and thanks to [Extended OpenApiPlugin, to support multiple options](https://github.com/javalin/javalin/pull/1117) I am able to do that.

However I need to be able to link them from the Swagger UI using the "Select Definition" dropdown.

This is done in SpringFo

[2022-09-23 18:25] tipsy commented on #1675
@GrumpyGoslin the current OpenAPI setup in 4x has been deprecated, you can try asking in https://github.com/javalin/javalin-openapi :)

[2022-09-23 18:25] #1675 closed

[2022-09-23 18:33] GrumpyGoslin commented on #1675
Thank you

[2022-09-24 18:12] why168 commented on #1517
JDK 19  “JEP 425: Virtual Threads (Preview)”。

[2022-09-24 18:54] tipsy commented on #1517
Yes @why168?

[2022-09-24 20:51] why168 commented on #1517
I want to support virtual threads

[2022-09-24 22:09] tipsy commented on #1517
There is already support for that, it has been updated to work with JDK 19 :)

[2022-09-25 09:09] tipsy commented on #1109
@asad-awadia are you happy with that solution? Can you set what it should trigger on? Would you be interested in setting up an example?

[2022-09-25 10:25] tipsy commented on #1669
Bumping Kotlin past 1.5 could potentially be breaking too, so I think we should leave it alone. Users can change `kotlin-stblib` independent from Javalin.

[2022-09-25 10:25] #1669 closed

[2022-09-25 10:27] tipsy commented on #1517
I think we are so close to release that we can close this issue, we won't be adding any more features.

[2022-09-25 10:27] #1517 closed

[2022-09-25 10:31] dzikoysk commented on #1517
🙏

[2022-09-25 10:56] tipsy opened #1676 "Who's using Javalin?"
We have a "Who's using Javalin?" section on the webpage. The initial list is based on publicly available information from GitHub/Gitlab, Maven, and user websites:

![image](https://user-images.githubusercontent.com/1521451/192149257-d629ae62-029d-49ba-9372-2fffefb708a3.png)

## ⚠️ If you want your company added to the list, please comment on this issue.

Not all companies can be added - The bigger

[2022-09-25 14:58] asad-awadia commented on #1109
Yes - was the easiest way to get auto reload on edit for any maven project - works with anything that can be rerun via maven [not javalin specific]

Not without editing the code of the repo itself - eg i changed the watched directory from `src/main/java` to `src/main/kotlin` - but there is no way to pass that it in - had to change the source code

What would that look like?

Currently I call `amvn

[2022-09-25 22:07] tipsy commented on #1109
I assumed there would be some config, but If this is all there is I don't think a tutorial makes sense 😄

[2022-09-26 14:34] tomhillgreyridge opened #1677 "Optional path parameters?"
Is there syntax I am missing to allow Javalin to handle "optional" path parameters i.e. I'd like to be able to have both /dashboard/ and /dashboard/123 point to the same handler.

Obviously, I can do this by setting up two paths to the same handler, but I was wondering if there was a way to say that a path parameter may or may not be present i.e. /dashboard/{id?} or something similar.

I imagine t

[2022-09-26 15:01] tipsy commented on #1677
@tomhillgreyridge I think this would be confusing, as it would also require `Context#pathParam` to now be nullable. In what scenario should your dashboard path be optional? What do you display if there is no ID? Should you be using a query parameter instead?

[2022-09-26 15:08] tomhillgreyridge commented on #1677
Here's a scenario.  A user of the application can have a small number of projects, one of which is the "currently active" project.  When you come into the project dashboard we show you the "active" project plan if one isn't selected and then a bunch of links where you can select any of the others.

/projectplans/ -> would show the plan for the active project
/projectplans/1234 -> would show the pl

[2022-09-26 15:16] tipsy commented on #1677
You're not missing anything :)

Personally I would solve this with a redirect from `/projectplans/` to the "active" project.

[2022-09-26 16:23] dzikoysk commented on #1677
I had several similar cases, I usually just register those variants as standalone routes and redirects them internally to the main handler, like e.g.:

* https://github.com/dzikoysk/reposilite/blob/3bfe2a00a6bb4c70c31c79f7d277519a6b12b169/reposilite-backend/src/main/kotlin/com/reposilite/maven/infrastructure/MavenApiEndpoints.kt#L78-L80

And then I'm taking path parameter from `ctx.pathParamMap[pr

[2022-09-27 11:48] zugazagoitia commented on #1660
You could also seek a middle ground. Some _trusted_ 3rd party plugins could be placed on a io.javalin.plugins namespace and published to sonatype, e.g. the OpenApi plugin. Any other 3rd party plugin contributed by developers could be only added to the website and use its own repository. In my opinion having OpenApi available on maven central is a must to reduce friction for non experienced users.

[2022-09-27 13:11] pompiuses commented on #1517
@tipsy We are using Javalin together with the [Jetty ProxyServlet](https://www.eclipse.org/jetty/documentation/jetty-9/index.html#proxy-servlet). Will virtual threads also work with servlets added manually?

[2022-09-27 15:00] tipsy commented on #1517
@pompiuses if you are adding this servlet to Javalin's jetty server it should be fine. If you have your own jetty server you'll need to configure loom manually.

[2022-09-27 18:52] rbygrave commented on #1660
Maybe use a sub groupId like io.javalin.plugin ?

[2022-09-28 09:43] zugazagoitia commented on #1660
Well yes, by registering our own namespace on sonatype, using our own domain, same way you did for Javalin.

[2022-09-28 13:10] tipsy commented on #1660
Do you consider that too much friction?

[2022-09-28 21:17] crummy opened #1679 "Javalin fails on Java 19 without --enable-preview"
**Actual behavior (the bug)**
I ran `brew upgrade` which gave me Java 19. When I booted up my Javalin app I saw this exception:

[code]

**Expected behavior**
Javalin should work (without virtual threadpools) on Java 19 without loom enabled.

**To Reproduce**
Run Javalin with Java 19 and without the `--enable-preview` flag.

**Additional context**
To fix it, in IntelliJ I edited my run configurati

[2022-09-28 22:27] tipsy commented on #1679
@crummy thanks, I assume this is RC2? Could you test against the current snapshot?

[2022-09-28 22:36] tipsy commented on #1679
Oh, it's 4x. I guess we should backport the fix.

[2022-09-29 16:24] zugazagoitia commented on #1660
I do. What about having a Javalin maven plugins repo? Users would need to add that repo explicitly and could use any of the javalin plugins straight up.

The only issue is hosting.

[2022-09-29 18:50] tipsy commented on #1660
This takes a couple of hours, it should be very little compared to the responsibility of creating and maintaining the plugin itself? I feel like I'm misunderstanding something 🤔

[2022-09-29 18:52] tipsy commented on #1679
Should be fixed, will release a new version now.

[2022-09-29 18:52] #1679 closed

[2022-09-29 19:11] tipsy commented on #1679
`4.6.5` should be out now :)

[2022-09-29 22:20] crummy commented on #1679
Now that was fast! Thanks so much!

[2022-09-30 22:45] tipsy commented on #1660
Yes, I'm leaning against this now. I think I will go for `io.javalin.community`,

[2022-09-30 22:59] tipsy commented on #1660
This would now be `io.javalin.community:javalin-ssl-plugin`.

[2022-10-04 23:12] IvanPizhenko opened #1687 "javalin-openapi 5.x is not available"
Currently, javalin-openapi 4.6.6 doesn't work with Javalin 5.0.1.
Having error like this:
[code]
When compatible javalin-openapi version (I assume 5.0.x) will be available?

[2022-10-04 23:31] IvanPizhenko opened #1688 "io.javalin.plugin.json.JavalinJackson is not available in Javalin 5.0.1"
Class `io.javalin.plugin.json.JavalinJackson` is not available in Javalin 5.0.1. Is it available elsewhere? If it should be available in the Javalin itself, then when?

[2022-10-04 23:35] Jerbell commented on #1687
I guess `Plugin` has just changed package, so it shouldn't be too much hassle to extend the new `Plugin` class.  Maybe just copy it across to here? https://github.com/javalin/javalin-openapi/issues

[2022-10-04 23:49] IvanPizhenko commented on #1687
@Jerbell I think Javalin developers will face it here and move it there if required.

[2022-10-04 23:53] IvanPizhenko commented on #1687
@Jerbell it seems to be available now through different Maven repo, not Maven Central, see https://github.com/javalin/javalin-openapi/issues/26#issue-1273609828

[2022-10-05 00:08] IvanPizhenko commented on #1687
Unfortunately, even latest release version from that repo is not compatible.
I've opened https://github.com/javalin/javalin-openapi/issues/40

[2022-10-05 07:26] zugazagoitia commented on #1687
We're currently working (#1660) on getting some plugins available on Maven Central, in the meanwhile, I believe the OpenAPI plugin is available on @dzikoysk repo: `https://maven.reposilite.com/#/releases`

Regarding this I'm sure the author will have a look at it soon, given how fast he usually is I would expect a fix later today.

[2022-10-05 07:31] IvanPizhenko commented on #1687
Thank you, we'll wait for a fix.

[2022-10-05 07:34] IvanPizhenko opened #1689 "JavalinJte is not available in the javalin 5.0.1"
We have had `io.javalin.plugin.rendering.template.JavalinJte` in the Javalin 4. Looks like there is no more package `io.javalin.plugin.rendering.template`, but there is just `io.javalin.rendering` instead, but there's no JTE support class in it.

[2022-10-05 07:37] IvanPizhenko commented on #1687
I think we can close this one as long as related issue https://github.com/javalin/javalin-openapi/issues/40 exists.

[2022-10-05 07:37] #1687 closed

[2022-10-05 07:42] tipsy commented on #1688
@IvanPizhenko if you run into other issues, you could try consulting https://javalin.io/migration-guide-javalin-4-to-5

[2022-10-05 07:43] tipsy commented on #1689
https://javalin.io/migration-guide-javalin-4-to-5:

[2022-10-05 07:43] IvanPizhenko commented on #1688
@tipsy Thank you! I'll read it.

[2022-10-05 07:46] tipsy opened #1690 "⚠️ Having issues migrating to Javalin 5? Click here for a migration guide!"
# https://javalin.io/migration-guide-javalin-4-to-5

[2022-10-05 07:47] IvanPizhenko commented on #1689
Thank you!

[2022-10-05 07:47] #1689 closed

[2022-10-05 10:07] #1653 closed

[2022-10-05 10:58] tipsy commented on #1660
Latest update is that we have asked for sub-subgroups, so `io.javalin.community:ssl:javalin-ssl-plugin`, `io.javalin.community:openapi:javalin-redoc-plugin`. I guess we will continue down this path with asking for more groups if more people want to publish under `io.javalin`.

[2022-10-05 11:59] zugazagoitia opened #1691 "Migrate loom to multi-release JAR"
Whenenver loom leaves preview stage and is implemented in a JDK release, the best course would be to abandon reflection and migrate to a multi-release JAR approach, providing different implementations of https://github.com/javalin/javalin/blob/master/javalin/src/main/java/io/javalin/util/ConcurrencyUtil.kt

At this moment the compiler uses two different versions of bytecode when toggling --enable-

[2022-10-05 20:56] zugazagoitia commented on #1660
I'm happy to announce that [javalin/javalin-ssl](https://github.com/javalin/javalin-ssl) is available on Maven Central, with [javalin/javalin-openapi ](https://github.com/javalin/javalin-openapi) to follow soon.

[2022-10-05 20:56] #1660 closed

[2022-10-05 21:46] tipsy opened #1693 "Improve techempower benchmark"
So, Javalin is back here: https://www.techempower.com/benchmarks/#section=data-r21&l=zik0vz-6bj&test=composite

But it's not looking so fast. Maybe we can fix that?

The repo for the benchmark code is here: https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Java/javalin

Some things we should do:

- [x] Update to newest Javalin
- [x] Replace Pebble with JTE and precompiled t

[2022-10-05 21:53] tipsy commented on #1693
@JohnnyJayJay interested in working on this? 😁

[2022-10-05 21:59] tipsy commented on #1693
I forked the repo and created a branch that can be worked on: https://github.com/javalin/FrameworkBenchmarks/tree/javalin-improvements

@casid do you want to replace pebble with JTE?

[2022-10-05 22:07] JohnnyJayJay commented on #1693
Sure, could work through your points tomorrow and get feedback from the TechEmpower people.

[2022-10-05 22:11] tipsy commented on #1693
Cool! I already took care of migrating to Javalin 5 and bumping the other dependencies.

[2022-10-06 04:23] casid commented on #1693
Exciting to see how fast, we're going to make it :-) I'll have a look into it!

[2022-10-06 05:57] casid commented on #1693
@tipsy I think you need to allow me to push to the branch. Currently I receive this error message:

[code]

[2022-10-06 06:25] tipsy commented on #1693
@casid Is that possible without giving write-access to the whole repo? If not, you could create a pull-request?

[2022-10-06 06:29] tipsy commented on #1693
Gave you write access too, @JohnnyJayJay !

[2022-10-06 06:33] casid commented on #1693
@tipsy thanks! I pushed my changes, the fortunes are now rendered with precompiled jte templates.

[2022-10-06 06:36] tipsy commented on #1693
Great, thank you!

[2022-10-06 09:12] zugazagoitia commented on #1693
Will enabling HTTP/2 have an impact? https://github.com/TechEmpower/FrameworkBenchmarks/wiki/Project-Information-Framework-Tests-Overview They are not banning it.

[2022-10-06 09:28] tipsy commented on #1693
It should, let's try?

[2022-10-06 09:51] tomholub commented on #1676
We do :-) https://flowcrypt.com/ for our Admin Panel https://flowcrypt.com/docs/business/enterprise-admin-panel.html

When we were evaluating the stack for the above product, our fresh hire who insisted that we don't use Javalin. Insisted on Spring Boot. He no longer works here :laughing: ... as you can imagine, I considered that a rather brain-dead suggestion, when Javalin is available.

Thank yo

[2022-10-06 12:40] zugazagoitia commented on #1693
Found another repo https://github.com/networknt/microservices-framework-benchmark

[2022-10-06 12:49] zugazagoitia commented on #1693
The underlying http client is `wkr` and it does not support http/2 so... https://github.com/wg/wrk/issues/439

[2022-10-07 03:23] AnonymousGuy007 opened #1697 "io.javalin.http.ContentType;doesn't work"
**Actual behavior (the bug)**
A description of what happened
when i upgrade to 5.0.1,  io.javalin.http.ContentType not found
**Expected behavior**
A description of what you expected to happen
but my code can work, maybe it's a bug
**To Reproduce**
Steps to reproduce the behavior

**Additional context**
Add any other context about the bug here

[2022-10-07 05:37] Playacem commented on #1697
What is the issue exactly? Does your IDE say it does not exist or does Maven/Gradle fail to compile your code?

[2022-10-07 21:49] casid commented on #1693
Nice one @tipsy! Was just about to look into removing those calls to `getDbServiceFromPath(ctx.path())`, but you've been faster :-D.

[2022-10-07 22:10] tipsy commented on #1693
I took the easy part, but I suspect there is more room for improvement in the DB code itself 😄

[2022-10-08 06:49] zugazagoitia commented on #1693
We could try to get GraalVM working, that could really boost things up

[2022-10-08 07:08] tipsy commented on #1693
@zugazagoitia a lot of people would appreciate that in general, the tutorial is outdated.

[2022-10-08 07:15] zugazagoitia commented on #1666
https://github.com/micrometer-metrics/micrometer/pull/3382

[2022-10-08 09:10] casid commented on #1693
@zugazagoitia is there a warmup phase before the benchmark? If so, the JIT should probably beat AOT GraalVM compiler in terms of throughput.

I looked into `vertx-web` and `jooby`, and they both have `-XX:+AggressiveOpts` JVM option set. Maybe we could give it a try how this affects the benchmark?

Looking at the results, it seems the DB is also a bottleneck at the moment. I tried to look into how

[2022-10-08 09:20] zugazagoitia commented on #1693
There is a warmup, I have no idea if this would improve performance but either way I'll make a graalvm branch and run some benchmarks, you might be right.

After a litte googling I found this: https://bugs.openjdk.org/browse/JDK-8199847

I believe the DB to be the biggest bottleneck right now, we have major improvements comming to Json on a `dsl-json` branch I'm working on. Could you try and repla

[2022-10-08 09:31] casid commented on #1693
Thanks for link, makes sense to not use this option then.

Nice, this should improve JSON performance a lot!

Would be quite interesting, but I currently don't have the time to try it. :-(

[2022-10-08 14:45] zugazagoitia commented on #1693
![image](https://user-images.githubusercontent.com/23284823/194713073-0da1aa3e-947f-46f0-855c-d6d4e2606a1d.png)
This is the current state of the branches in the repo, the DSL implementation is better across the board, with Loom improving the DB tests that put more strain on the DB, such as `Twenty` and `Updates`. I'll go ahead and merge the DSL branch.

Any input on loom usage?

[2022-10-08 14:56] tipsy commented on #1693
We could use loom only for DB. Either via Context#async, or a custom thing?

[2022-10-10 14:20] dzikoysk opened #1700 "Exception handled by DoneListener is rethrown"
I think we should slightly change the behavior of `onDone` handler. Currently, in case of exception in async task it's passed to onDone listener and rethrown, which means that whole request will go through exception mappers:

* https://github.com/javalin/javalin/blob/995b82e49ea862ebf267de4748e2d6c98a7cb929/javalin/src/main/java/io/javalin/http/util/AsyncUtil.kt#L33-L34

That was kinda an intentio

[2022-10-10 20:06] #1700 closed

[2022-10-10 20:10] #1690 closed

[2022-10-10 22:02] NickMale opened #1702 "JsonMapper interface not matching documentation"
**Actual behavior (the bug)**
While attempting to follow section **Configuring the JSON mapper** from the Javalin docs
[code]
This appears to be due to the interface `JsonMapper` having the method signatures
[code]
rather than what's called out in the docs.
**Expected behavior**
Able to set the JsonMapper to a wrapper on `Gson`

**To Reproduce**
Using Javalin `5.0.1`
Follow docs section **GSON exa

[2022-10-10 22:10] tipsy commented on #1702
Thanks @NickMale, I'll have a look.

[2022-10-10 22:17] tipsy commented on #1702
Could you have a look again now?

[2022-10-10 22:24] NickMale commented on #1702
They're in line now and the example compiles, thanks!

[2022-10-10 22:24] #1702 closed

[2022-10-10 22:32] tipsy commented on #1702
You're very welcome, and thank you for the tip 🙌

[2022-10-11 15:59] dzikoysk opened #1703 "`ctx.async` implementation is not interoperable from Java"
A few things:

* `Result`  cannot be used from Java, that's because it's value class and despite of type name, those classes do not expose any functions:
  * Sources: https://github.com/JetBrains/kotlin/blob/master/libraries/stdlib/src/kotlin/util/Result.kt#L22
  * Cannot fix: `Result` is not defined by Javalin, so we can't expose any kind of mappings: https://kotlinlang.org/docs/inline-classes.ht

[2022-10-12 18:27] #1703 closed

[2022-10-12 18:49] tipsy commented on #1697
I'm just going to go ahead and close this, since I'm pretty sure the class exists.

[2022-10-12 18:49] #1697 closed

[2022-10-13 14:52] Gugu04 opened #1706 "error using NullSessionCache"
**Actual behavior (the bug)**
I upgraded javalin to 5.0.1 but it shows me some errors regarding NullSessionCache session.
The error is shown when I use NullSessionCache and if I use DEfaultSessionCache the error is gone.
Previously with version 4.6.6 it did not show me the errors but I updated the project to 5.0.1 and I started to have these errors

Log error
[code]
**Expected behavior**
I expecte

[2022-10-15 16:45] bsodhi opened #1707 "Loading config from a file (e.g. JSON or toml etc.)"
Currently the Javalin API does not seem to have ability for directly loading the config settings from a file (e.g. in JSON format etc.). Most settings have to be hard coded during the initialization of `Javalin` instances.

Please pardon my ignorance, but somehow I wasn't able to find any examples or documentation that describes any Javalin APIs for loading configuration from a file. Also, I under

[2022-10-15 18:58] tipsy commented on #1707
Hi @bsodhi,

Javalin is just a library, and not a full framework. When you are setting up a web application in Javalin, it's likely you'll use something else for database connections/migrations, templating, json serialization, emails, rate-limiting, etc.

In most cases you'll want to use a library for config too, so that you can configure all of these components in the same way (so you don't have

[2022-10-16 07:04] #1707 closed

[2022-10-16 08:02] bsodhi opened #1708 "How to specify different paths for routing.contextPath and staticFiles.hostedPath"
In my configuration I need to specify different paths for the static resources and the API end points. The configuration I am using is as shown below. The lines marked (A) and (B) do not seem to be working together. I want to deploy the application at a subpath, say `/ff`. Now, the URLs such as `https://www.example.com/ff/myapi` and `https://www.example.com/ff/assets/css/app.css` should work with

[2022-10-16 08:15] tipsy commented on #1708
The context path is a root level path, and applies to api paths, static files, websocket (everything really).

[2022-10-16 10:21] Elikill58 opened #1709 "Javalin doesn't detect slf4j v2"
**Actual behavior (the bug)**
If you are using `org.slf4j:slf4j-simple` with version `2.0.3`, Javalin doesn't detect it and ask for `1.7.36` version

**Expected behavior**
Be used without logs.

**To Reproduce**
For example, use this:
[code]

[2022-10-16 11:04] tipsy commented on #1709
@Elikill58 this should be fixed on master, will be released tonight :)

[2022-10-16 14:13] bsodhi commented on #1708
Many thanks for the clarification @tipsy! It helped. I'm noting below what I was doing incorrect in my code in case someone gets here with a similar issue.
I was setting both the `routing.contextPath` and the `hostedPath` entry in `staticFiles` config. It seems when `routing.contextPath` is configured, the `hostedPath` entry in `staticFiles` config can (should?) be omitted. In my scenario, I just

[2022-10-16 14:13] #1708 closed

[2022-10-16 14:56] zugazagoitia opened #1711 "Define org-wide defaults for repos"
We could standardize documentation sources, funding, licenses, actions, issues, etc; at the organization level.

I.e: javalin/.github#2

[2022-10-16 15:09] tipsy commented on #1709
https://javalin.io/news/2022/10/16/javalin-5.1.0-released.html

[2022-10-16 15:09] #1709 closed

[2022-10-16 19:34] Playacem commented on #1706
Possible reason after a quick look: The session management has been refactored in Jetty 10/11. This might be the cause.

https://www.eclipse.org/lists/jetty-announce/msg00149.html

They modified the exception you are seeing in Jetty 10/11 to actually have a message. Can you check in old logs if there are no exceptions from Jetty?

[2022-10-17 06:13] A1Liu opened #1712 "Static files handler doesn't route /path/ to /path/index.html"
**Actual behavior (the bug)**
Static files config gets a `404 Not Found` for the root path `/` and other paths ending in `/` (e.g. `/course/`), when an `index.html` exists in the corresponding resource folder.

Video showing behavior change when i switch to my v5 branch: https://www.loom.com/share/bb60c18b18004333a2b5c7402e960a96

Branch being used in the video: https://github.com/A1Liu/schedge/pu

[2022-10-17 07:29] tipsy commented on #1712
Why do you expect that though, that's very far from the path the user requested?

It's possible this was changed by either Jetty or us, but it does sound like a fix rather than a bug.

[2022-10-17 09:32] zugazagoitia commented on #1712
He is serving the `/next/` folder at `/`, and expecting javalin to serve an `index.html` when a directory is requested, hence serving the `/next/index.html` file when a user GETs `/`. This is a pretty common default amongst webservers AFAIK.

I'm not so sure, taking a peek into jetty shows that `index.html` is intended to be a _Welcome File_ by default in Jetty 11:
https://github.com/eclipse/jetty

[2022-10-17 09:45] zugazagoitia commented on #1712
Update: Definitely a bug (at the very least an inconsistency) on our side, when setting `staticFiles.precompress = false;` javalin serves the index.html file, I'll keep digging.

[2022-10-17 14:44] #1712 closed

[2022-10-17 14:47] Gugu04 commented on #1706
No. These errors with NullSessionCache have not shown up in our previous logs

[2022-10-17 19:04] joshuastorch opened #1714 "After-Handler running before HTTP-Handler"
**Actual behavior (the bug)**
An after-handler runs before the HTTP Endpoint Handler when using an access manager.

**Expected behavior**
An after-handler should run after the HTTP Endpoint Handler.

**To Reproduce**
[code]
will print
[code]
when http://localhost:8080 is called.

**Additional context**
Using Javalin 5.1.0 with Kotlin 1.7.10 on Java 11
The problem seems to be caused in the DefaultT

[2022-10-17 19:23] tipsy commented on #1714
Good lord, let me check this locally.

[2022-10-17 19:27] tipsy commented on #1714
Well, this is definitely not supposed to happen. Thanks @joshuastorch, we'll get it fixed.

[2022-10-17 19:49] #1714 closed

[2022-10-17 20:19] tipsy commented on #1714
We'll get a new version out within an hour, just going to double check one thing :)

[2022-10-17 21:20] tipsy commented on #1714
Released as `5.1.1` now:

[code]

Thanks again for reporting this!

[2022-10-17 21:21] tipsy commented on #1712
This has been released as part of `5.1.1`

[2022-10-18 02:48] A1Liu commented on #1712
Thank you!

[2022-10-18 05:15] A1Liu opened #1717 "Static files serving .js returns wrong data"
**Actual behavior (the bug)**
Static files serving a `.js` file returns wrong data when `precompress = true`.

Video of the behavior (first showing bad output, then showing good output after changing precompress to false): https://www.loom.com/share/9066ccc851ba471b85b437ae39762fbc
Screenshot:
![mangled JS file response](https://user-images.githubusercontent.com/3584830/196341137-47d96444-5c79-4ad

[2022-10-18 17:13] colorizenl opened #1718 "CORS plugin doesn't play nice with the prefer405over404 option"
**Actual behavior (the bug)**
Activating the CORS plugin and *also* activating `config.http.prefer405over404 = true` leads to the CORS filter not working. The preflight OPTIONS requests will result in HTTP status 405.

**Expected behavior**
The CORS requests with HTTP method OPTIONS should return 200.

**To Reproduce**
In `CorsPlugin`, the following happens:

[code]

When using the `prefer405over4

[2022-10-18 18:09] tipsy commented on #1718
Thanks @colorizenl!

@Playacem, could you have a look at this?

[2022-10-19 05:11] vn7n24fzkq commented on #1717
I will take a look later.

@A1Liu Can you provide the size or the entire file of `asdf.js`?

[2022-10-19 05:35] A1Liu commented on #1717
@vn7n24fzkq I think that is the entire file, it should be one really long line of JS, 11324 bytes long.

[2022-10-19 06:13] MathFrenchToast opened #1719 "How to build javalin-without-jetty 5 ?"
Hello,
I'd like to have javalin-without-jetty in 5.1 version, I'm willing to build it
could you document the process and/or give the dedicated repo url if any ?

(maybe linked/dependant to https://github.com/javalin/javalin/issues/1428)

[2022-10-19 06:42] Playacem commented on #1718
Will take a look this evening or tomorrow evening. After a quick look it seems like a strait forward fix.

[2022-10-19 09:05] MathFrenchToast commented on #1719
As for why exclude over w/jetty
Back in the days of choosing javalin over springboot, I've tested the two approaches <exclude> over javalin-without-jetty and the last one seems more error-prone and more stable when upgrading from one release of javalin to another.
Obviously mainly due to the fact that the artifact was maintained and release by the talented dev team.

As for why not jetty
we use to

[2022-10-19 09:41] tipsy commented on #1719
Thank you, I've removed this now.

You don't have to look at that issue at all, if you want to restore the functionality, all you need is in: https://github.com/javalin/javalin/commit/157430db1b0c7b925724c1991ec48cf0335e8403

The whole module is just 1 pom file.

But i'll re-consider the exclude (and later jetty :) )*

If you change `javalin-without-jetty`, to simply `javalin`, and add this to you

[2022-10-19 09:45] tipsy opened #1720 "Support vue directives in vue dependency resolver"
Registration:
[code]

Usage:
[code]

[2022-10-19 16:21] MathFrenchToast commented on #1719
"If you change javalin-without-jetty, to simply javalin, and add this to your POM:..."
This should definitively the doc entry for the 0.5% !
tested Ok. thk for all

[2022-10-19 16:21] #1719 closed

[2022-10-19 17:23] tipsy commented on #1719
I did add an instruction to exclude jetty by using maven or grade to the doc ☺️

[2022-10-19 17:32] vn7n24fzkq commented on #1717
I have already tested out what caused this problem.
When the compressed file size is larger than 1500 bytes, it responds wrong gzip data, but I don't know why. 🤔

I will investigate further.

[2022-10-19 17:46] vn7n24fzkq commented on #1717
So, I think I am just figuring it out.

The 1500 byte comes from the config minSizeForCompression.
https://github.com/javalin/javalin/blob/0c4ba5bb02be62fcae439dbad86cc1cd45c7a059/javalin/src/main/java/io/javalin/compression/CompressionStrategy.kt#L39

And here is why, when the compressed file size is larger than 1500 bytes, it returns the wrong data.
Because in this situation it will compress it

[2022-10-19 19:12] #1718 closed

[2022-10-19 19:13] tipsy commented on #1717
So it's compressing an already compressed file? Should we add a check for the header, or what?

[2022-10-20 14:02] vn7n24fzkq commented on #1717
Yeah, I think the simplest way is to add a flag in context and check it.

[2022-10-20 14:11] vn7n24fzkq commented on #1717
Wait, we can check the header because there is a `CONTENT ENCODING` header set up before we send the compressed data out.

[2022-10-21 13:44] Lubrum commented on #1676
[We](https://www.wplex.com.br/) do, for some internal services and APIs [Brazil].

[2022-10-21 13:50] tomhillgreyridge opened #1723 "Global Headers"
In Javalin 4 you could use globalHeaders in the config to set headers on every request

[code]
I couldn't find an equivalent option in Javalin 5 - is there an equivalent way of adding standard headers to each request or would you have to do this via a before handler?

[2022-10-21 14:01] dzikoysk commented on #1723
It's moved to plugins section:

[code]

[2022-10-21 14:02] tomhillgreyridge commented on #1723
Ah!  I checked http, jetty and routing as that seemed to be the logical location for http headers.

Thanks!

[2022-10-21 15:12] #1723 closed

[2022-10-25 01:09] yxmm-wxe opened #1726 "After running for a while, CPU resources will be exhausted"
Javalin Version：**3.13.6**
Referenced Jetty Version: **9.4.39.v20210325**
OS: **Windows Server 2008 R2 Standard**
Java Version: **Amazon Corretto 1.8.0_322**

When the program is running for a while, CPU resources will be exhausted.

I tried to use [Arthas](https://github.com/alibaba/arthas) to analysis the issue. It is found that the thread at the beginning of qtp occupies a high CPU resource.

[

[2022-10-25 07:13] tipsy commented on #1726
You could try upgrading to 5.1.2, which has a new major version of Jetty.

[2022-10-25 17:25] SergiusAC opened #1727 "Is Javalin going to support other web-servers like Undertow or Tomcat?"
Some developers may want to use a web-server different from Jetty, so will Javalin provide the option to choose a for web-server?

[2022-10-25 19:12] tipsy commented on #1727
No, we will not provide this option.

[2022-10-26 14:06] valtterip opened #1728 "Is config.enforceSsl removed from javalin 5?"
Migrating from 4 to 5, couldn't figure this out.

Thanks.

[2022-10-26 15:55] tipsy commented on #1728
It's probably been moved under `config.plugins` ?

[2022-10-26 17:45] valtterip commented on #1728
Yeah. config.plugins.enableSslRedirects() seems to be doing the trick.

[2022-10-26 17:45] #1728 closed

[2022-10-26 20:11] IvanPizhenko opened #1729 "Can't mockk Javalin Context in 5.x"
With Javalin 4.x following code compiled and good:

[code]

With Javalin 5.x, I'm getting error like `Interface Context does not have constructors`.

After changing to:
[code]
I get "header" is unresolved.

Please advise, how to implement the same thing with Javalin 5.x.

[2022-10-26 20:28] tipsy commented on #1729
Did you try mocking `Context` rather than `JavalinServletContext` ? The latter is an internal class.

[2022-10-26 20:30] IvanPizhenko commented on #1729
Seems to be able to solved as follows:
[code]

[2022-10-26 20:31] IvanPizhenko commented on #1729
No, I didn't try mocking `Context` further. Probably worth to try a bit more.

[2022-10-26 20:38] dzikoysk commented on #1729
In Javalin 5.x context is an interface to hide internal implementation and simplify mocking, you should definitely go for it instead of the servlet implementation.

[2022-10-27 08:27] #1727 closed

[2022-10-27 14:41] #1729 closed

[2022-10-28 16:50] mvysny opened #1730 "Support for Jetty 10"
**Describe the feature**
Would it be possible to upgrade to Jetty 10 in Javalin 4.x series please? I know it doesn't make much sense since Jetty 10 requires JDK 11 which would make Javalin 4.x require JDK 11; but Jetty 9.x will get unsupported soon and we can not move to Javalin 5.x since it uses jakarta servlet api 5.

I'm opening a ticket in hopes to start a discussion in this regard.

**Additio

[2022-10-28 17:10] tipsy commented on #1730
@mvysny It is indeed a strange request. If we do that, will it be breaking? If yes, then we can't do it. If no, then you can include Jetty 10 manually. I supposed we could release a `javalin-jetty-10` module on the 4x branch, if it's really important to you.

[2022-10-28 23:49] Izocel opened #1731 "v5 and jetty https2 SSL -> failed to find class org/conscrypt/CryptoUpcalls"
The goal: start an https2 SSL with ALPN within a minecraft plugin to get an secure API running.
I'm getting this error at run time here's my Javalin app configuration method...
[pom - Copy.md](https://github.com/javalin/javalin/files/9892462/pom.-.Copy.md)

Final jar is shaded

[code]

and heres my SSL config method:

[code]

[2022-10-29 06:07] mvysny commented on #1730
@tipsy thank you for quick reply, but actually i realized that for my use-case it's better if i connect javalin to jetty 10 as a servlet. Please let me try to do that and let's see 🙂

[2022-10-29 07:35] mvysny commented on #1730
Yup, declaring a Javalin Servlet & starting Jetty 10 works correctly :+1:

Simply add Javalin to your build script:
[code]

Then add the following class to your project:
[code]

Jetty 10 should discover the servlet and initialize it properly. To test, you can run

[code]

[2022-10-29 07:37] tipsy commented on #1730
Perfect 🎉

[2022-10-29 12:20] Playacem commented on #1731
Some general comments on your pom.xml:

- You define a `javalin.version` property but do not actually use the property, leading to not using 5.1.2 but 5.1.1 instead.
- Javalin requires Slf4j 2 as Jetty 11 does it as well. You have slf4j-api and slf4j-jdk14 both using 1.7 still.

Which OS are you running on? We had a similiar issue on Discord, leading to the discovery that Conscrypt does not suppor

[2022-10-29 12:41] Playacem commented on #1731
Also can you provide the complete stacktrace so we know where exactly it is crashing?

[2022-10-29 12:51] #1730 closed

[2022-10-29 13:11] Izocel commented on #1731
@Playacem

True for the version I just updated to 5.1.2 rapidly cause of dependabot... Wll then consider the issu as 5.1.1
I'm running on windows-10 64bit with intel i7

Does the SSL plugin provide TLS 1.3 and https2 for web route like API endpoint ?
Did not try to disable the shade plugin...
As of the stacktrace question the server configuration is in a try catch that does not triggers.
If I don'

[2022-10-30 00:39] blitzdose opened #1732 "Disable logging completely"
I try to use Javalin for a Spigot plugin and want to disable all the logging Javalin does. So far I was able to disable all the Javalin-logging with `JavalinLogger.enabled = false` but I still get all the logging from jetty. I tried to disable that with many different providers, but none worked. (log4j, slf4j-simple. or even slf4j-nop). The only method that disabled the jetty-logging was to not in

[2022-10-30 10:46] zugazagoitia commented on #1731
Hi @Izocel, I'm the maintainer of the javalin/[javalin-ssl](https://github.com/javalin/javalin-ssl) plugin.
I strongly encourage you to use my plugin to make your life easier (that's the goal with it).

If you're using `javalin-bundle` you will have an **embedded** jetty server inside Javalin, there would be no need to run a separate Jetty instance.

From my limited experience in Minecraft plugins

[2022-10-30 10:46] tipsy commented on #1732
Yeah, Jetty does its own logging, and they don't have any option to disable it programmatically anymore: https://stackoverflow.com/questions/72673433/adjusting-logging-programmatically-in-jetty-11. Seems you can disable it completely though.

[2022-10-30 10:46] #1732 closed

[2022-10-30 12:39] zugazagoitia commented on #1731
I have just released a [5.1.3](https://github.com/javalin/javalin-ssl/releases/tag/5.1.3) version, let me know if it still does not work.

[2022-10-30 12:40] Izocel commented on #1731
I sure will, soon enough you guys can archive this “thread” if you’d like.
Yeah I’m also afraid of this possibity about the Consscript class.
(Before this question) I’ve tried adding it to the dependecies but it was probably not enough if its missing.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

[2022-10-30 12:43] zugazagoitia commented on #1731
If conscrypt isn't available your JDK should provide a default Security Provider.

[2022-10-30 13:40] Izocel commented on #1731
Same problem here :(

Those try catch catch nothing..
only stacktrace i was able to get was from Visual Studio "debug program" on unhandled exception
Wich only stated the missing Conscrypt class problem on the Javalin server thread

I'm wonderig if the problem is aboutthis in configureApp():
[code]

here's what i did:

[code]

Pom.xml :
[code]

wihout SSL plugin:
[09:36:28 INFO]: [WJE-Node:PluginE

[2022-10-30 14:00] zugazagoitia commented on #1731
Be aware my SSL plugin overrides the default ports for HTTP and HTTPS, read the [docs](https://javalin.io/plugins/ssl-helpers) to see how to configure it.

[2022-10-30 16:48] Izocel commented on #1731
Yeah i know but it still crash at runtime in my case so i'm not worried about theports yet. I saw the available configs

[2022-10-30 16:52] zugazagoitia commented on #1731
Can you try to log the crash? Having the full stacktrace would be a big help, I'm unable to replicate this.

[2022-10-30 16:55] Izocel commented on #1731
As I said in my previous com i'm not able to catch anything because its from within the lib i guess that its already catched there ?

I could try to find where in the lib its happening or as i said im suspecting its because of the classLoader or the tread that I ddont catch anything but still throws an unhandled ?

[2022-10-30 17:07] Izocel commented on #1731
I see theres not try catch at all in the SSLPlugin class and I can't edit them so i'm not sure how can I helps you get this stack trace

[2022-10-30 17:11] zugazagoitia commented on #1731
Without the stack trace we can't be sure where the exception is being thrown.

Could you try to use the Plugin dependency manager from spigot instead of making a Shaded Jar? https://javalin.io/tutorials/javalin-and-minecraft-servers It might fix this.

[2022-10-30 17:30] Izocel commented on #1731
Yeah i'll try that, here's a minified version of my project that we could set as a base to resolve this together:

[Whitelist-Je-Node - Copy.zip](https://github.com/javalin/javalin/files/9896406/Whitelist-Je-Node.-.Copy.zip)

[2022-10-30 17:34] Izocel commented on #1731
@zugazagoitia but i'm building a maven project not a graddle build

[2022-10-30 17:38] zugazagoitia commented on #1731
It's a Spigot feature afaik, should work too on maven

[2022-10-30 17:45] Izocel commented on #1731
you know where i can find the maven version documentation for that shadowing technique ?

[2022-10-30 17:57] zugazagoitia commented on #1731
I don't think you'd need to shadow, just include the dependencies in the `plugin.yml`. This way you wouldn't need any Shaded JAR, since dependencies would be resolved by Spigot. I don't know if this would work with external repositories though.

Another idea would be to run a thread just for Javalin and leave that thread with the changed class loader, it might just work.

[2022-10-30 17:59] Izocel commented on #1731
Yeah only thing i changed is to add the library fetcher into plugin.yaml
yeah it works !!! so afaik the only problem was that I had to tell the plugin to download the dependencies for Javalin here''s what i got:

[Whitelist-Je-Node - Copy.zip](https://github.com/javalin/javalin/files/9896469/Whitelist-Je-Node.-.Copy.zip)

[2022-10-30 18:00] Izocel commented on #1731
#can be closed

[2022-10-30 19:25] zugazagoitia commented on #1731
Will look at it tomorrow!
Can you close the issue? I don't have the permissions, only @tipsy does.

[2022-10-30 19:50] #1731 closed

[2022-10-30 23:04] IvanPizhenko opened #1733 "Javalin doesn't start - java.lang.NoClassDefFoundError: org/eclipse/jetty/util/Trie"
**Actual behavior (the bug)**
I'm migrating from Javalin 4 to Javalin 5.
I'm starting Javalin as follows:

[code]
where
[code]

I'm getting very strange runtime error:
[code]

**Additional information**
Javalin 5.1.2

[2022-10-30 23:06] tipsy commented on #1733
This happens when you have conflicting dependencies. Most likely you have something pinning Jetty to version 9, while Javalin is using version 11.

[2022-10-31 03:11] Izocel opened #1734 "Re: Minecraft plugin - v5 and jetty https2 SSL -> failed to find class org/conscrypt/CryptoUpcalls"
@tipsy @zugazagoitia @Playacem

This is just an update about the problem I had wich turn to be my mistake....
Finnaly found what the problem was -__-

There's no obligation for me to add libraries entry in my plugin.yml so that the server install those libs.
I've deleted everything in the server/libraries dir to be sure (or are they cached ?)
e.g.:
[code]

I think my mistake was in my build file i

[2022-10-31 05:43] zugazagoitia commented on #1734
I believe you could just run `mvn clean install` and that would be enough, there is no need to run the command multiple times, maven executes each goal sequentially. (And also package is a goal of Install)

Regarding the PEM/Keystore issue, it is up to you. I, and probably everyone else, personally hate JKS, since all my keys are PEM encoded. One of the purposes of the SSL plugin is easy PEM key l

[2022-10-31 20:36] IvanPizhenko commented on #1733
Yes, found another library that brings in Jetty 9.

[2022-10-31 20:36] #1733 closed

[2022-11-03 21:01] dzikoysk opened #1737 "Possibility to use Jetty's ThreadPool implementation to handle Loom"
I've found that default Jetty's `QueuedThreadPool` supports loom in Jetty 11:

https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-util/src/main/java/org/eclipse/jetty/util/thread/QueuedThreadPool.java#L524

We could consider a change to move to their implementation. It's more advanced as it e.g. support `Lifecycle`, so we can start/stop underlying executor etc.

[2022-11-03 21:08] tipsy commented on #1737
Nice, sounds like a good idea 👀

[2022-11-03 22:13] dzikoysk commented on #1737
Ok, I've checked internals and their implementation - it's less useful than ours (we can't name threads) and does basically the same thing by delegating tasks to the the virtual executor.

[2022-11-03 22:13] #1737 closed

[2022-11-07 00:44] ajsutton opened #1740 "Unable to suppress "never started" message in Javalin 5.0"
**Actual behavior (the bug)**
In Javalin 4.0 we could use `JettyUtil.INSTANCE.setLogIfNotStarted(false)` to suppress the log message:
[code]

however in Javalin 5 that method has gone away and the only way to suppress this method is to disable all Javalin logging (which I believe includes unhandled exception reporting we really want).

**Expected behavior**
Either include this output in the startu

[2022-11-07 02:51] ajsutton commented on #1740
"Bug" is probably a bit strong for this - didn't realise that label would be added. It's more of a lost feature. :) Would definitely be very nice to have back though.

[2022-11-07 06:56] tipsy commented on #1740
@ajsutton would you like to submit a PR for this?

Should probably go into JavalinLogger somehow.

[2022-11-07 06:58] #1740 closed

[2022-11-07 12:45] karlkilden opened #1742 "'Javalin' used without 'try'-with-resources statement"
**Describe your question**
Hello,

When copying the snippet to get started, Intellij will warn the following:
'Javalin' used without 'try'-with-resources statement

What is the purpose with implementing AutoClosable? If I place it inside a try with resources block, it stops the server right after starting it.

I think it would be good if the most common getting started snippet does not produce an

[2022-11-07 13:04] tipsy commented on #1742
You can read about it here: https://github.com/javalin/javalin/pull/1441

[2022-11-08 18:58] colorizenl commented on #1718
@Playacem @tipsy Sorry for the spam, but I just thought I should thank you for being extremely fast and pro-active in picking this up. I initially didn't understand how a popular project could have such a small number of issues, but I now realize you're just incredibly in control of your backlog and extremely fast in addressing user feedback. Thanks a lot!

[2022-11-08 19:24] tipsy commented on #1718
Thanks for your kind words @colorizenl :)

As a community driven project user feedback is one of the main "resources" we have. It helps us make Javalin even better, so we treat it accordingly! Thank you for taking the time to report the issue in the first place.

[2022-11-08 19:26] tipsy commented on #1734
Since this is just a question, I'll close it. Feel free to continue the discussion though.

[2022-11-08 19:26] #1734 closed

[2022-11-08 19:26] #1742 closed

[2022-11-08 19:26] #1726 closed

[2022-11-12 22:36] fedxyz opened #1744 "Server-sent event doesn't work with v5.1.3: client's connection gets closed"
**Actual behavior (the bug)**
Server-sent events doesn't work in version 5, client connection get closed, impossible to send events on client after the first one on the sse handler.

**Expected behavior**
After the client get connected to the `sse` endpoint connection get closed. This doesn't happen in version 4.6.7.

**To Reproduce**

I have this test class:

[code]

on `public` directory on reso

[2022-11-13 07:09] zugazagoitia commented on #1666
Micrometer 1.10.0 is out, I'll update the version and we should be ready to go.

[2022-11-13 19:07] Izocel opened #1745 "OpenApi documentation not found"
SSL true
auth false

settign this up and defining @OpenApi for methods will generte documentation for the swager right ?

[code]

runtime outputs:

[13:56:37 INFO]: [WJE-Node:PluginEntrypoint] Enabling CORS for *
[13:56:37 WARN]: [io.javalin.openapi.plugin.OpenApiPlugin] OpenApi documentation not found

the url/swagger -> leads to the ui but:

![image](https://user-images.githubusercontent.com/684

[2022-11-13 20:59] tipsy commented on #1745
Is this Javalin 4 or 5?

[2022-11-13 21:03] dzikoysk commented on #1745
You didn't configure annotation processor in your maven-compiler-plugin, take a look on Maven section in OpenApi plugin readme:

* https://github.com/javalin/javalin-openapi

[2022-11-14 03:33] Izocel commented on #1745
Ist javalin 5

Raphaël Vigneault Ð.

Étudiant D.E.C.
Technique Informatique

Mobile: 819-621-7289
***@***.***

194 Rue Renaud Laurierville
G0S 1P0 Québec Qc

________________________________
From: David (javalin.io) ***@***.***>
Sent: Sunday, November 13, 2022 3:59:26 PM
To: javalin/javalin ***@***.***>
Cc: Izocel ***@***.***>; Author ***@***.***>
Subject: Re: [javalin/javalin] OpenApi documentati

[2022-11-14 03:34] Izocel commented on #1745
Yes ill try the annotation configuration thanks its not part of the tutorial before the part to install a client

Raphaël Vigneault Ð.

Étudiant D.E.C.
Technique Informatique

Mobile: 819-621-7289
***@***.***

194 Rue Renaud Laurierville
G0S 1P0 Québec Qc

________________________________
From: dzikoysk ***@***.***>
Sent: Sunday, November 13, 2022 4:03:17 PM
To: javalin/javalin ***@***.***>
Cc: Iz

[2022-11-14 08:38] weizai commented on #639
how to use it in "io.javalin:javalin:5.1.4"

[2022-11-14 13:04] dzikoysk commented on #1744
I can confirm SSE reconnects per each event:

4.6.7:

![obraz](https://user-images.githubusercontent.com/4235722/201665587-272c20c9-112a-4b16-9e63-dbe01b534984.png)

5.1.4:

![obraz](https://user-images.githubusercontent.com/4235722/201666867-612c81e2-b712-4224-bc66-f6f4e6c52c0f.png)

It's working tho, but it changed the behavior. I'll try to take a look on the cause.

[2022-11-14 14:08] dzikoysk commented on #1745
Sure, I recommend to report further questions & issues with javalin-openapi in its repository :)

* https://github.com/javalin/javalin-openapi/issues

[2022-11-14 14:41] zugazagoitia commented on #1691
We don't need an extra module afaik, just some tweaks to our maven config and an extra folder for the specific java version in the sources directory. This way we can skip reflection entirely.

https://maven.apache.org/plugins/maven-compiler-plugin/multirelease.html#Pattern_3:_Single_Project

[2022-11-14 14:52] dzikoysk commented on #1691
Nice, but effectively it's still slightly complex solution comparing to 3 lines of reflections, because it affects build process, don't you think? 🤔 We're using reflections to interact with public API (so it's safe) + it's declared explicitly, so it can be even resolved at compile-time for e.g. GraalVM. Another thing is that using reflections does not limit us to use particular version of Java to

[2022-11-14 14:56] #1745 closed

[2022-11-14 16:43] zugazagoitia commented on #1744
I don't think I like this title, but I'll work on it 🙄. Can you open an issue on the other repo and assign me?

[2022-11-14 18:16] tipsy commented on #1744
Sorry 😁

I'll make an issue and assign you.

[2022-11-14 18:16] #1744 closed

[2022-11-14 21:17] chefchefchef opened #1746 "Android and Javalin 5 (ServiceLoader$Provider)"
First, many thanks for the great project and your support!

**Actual behavior (the bug)**
With Javalin 4 and Android I had no problems. After migrating to Javalin 5 my server doesn't startup anymore.

**Expected behavior**
Startup without any Exception.

**To Reproduce**
From stacktrace it calls simply `org.eclipse.jetty.server.Server.start` therefore I guess it's a problem for every android user.

[2022-11-14 22:34] tipsy commented on #1746
`NoClassDefFoundError` happens when you have conflicting versions. My guess is that something in your project is pulling in Jetty 9, while Javalin 5 requires Jetty 11.

[2022-11-14 22:58] chefchefchef commented on #1746
I checked again by `./gradlew app:dependencies | grep "jetty" > jetty.txt` and couldn't find any of version 9.X. further the missing class is a java class. if the missing class would have been referenced from the old version (and the old version worked) then the new version should work as well, no?

additionally in JDK 11 I can find the missing class ([ServiceLoader$Provider](https://docs.oracle.c

[2022-11-15 15:30] dzikoysk commented on #1746
It looks like it's issue with Jetty and Android (Dalvik impl of JVM), so I'd probably just ask on their tracker:

* https://github.com/eclipse/jetty.project

`ServiceLoader` implementation is a part of JDK, but it may differ on Dalvik since it's not fully compatibile. Javalin is not really able to address this issue as it's up to Jetty project to support Android as a platform and we an only bump i

[2022-11-16 00:31] RobbieS82 opened #1747 "Documentation on 'Setting up Javalin with Maven' produces error in IntelliJ"
Following the steps listed under 'Instructions for IntelliJ IDEA' on [Setting up Javalin with Maven](https://javalin.io/tutorials/maven-setup#intellij) produces an error in IntelliJ.

[code]

Produces "Cannot resolve method 'result(java.lang.String)'"

![Screenshot 2022-11-15 182906](https://user-images.githubusercontent.com/71034808/202053885-1ac13d86-96ef-4431-a0aa-af9709c58d8b.jpg)

[2022-11-16 03:04] Izocel opened #1748 "why enabling cors '*' does not add 'Access-Control-Allow-Origin' to response headers"
[21:45:30 INFO]: [WJE-Node:PluginEntrypoint] Enabling CORS for *
[21:45:33 INFO]: [io.javalin.Javalin] Starting Javalin ...
[21:45:33 INFO]: [org.eclipse.jetty.server.Server] jetty-11.0.12; built: 2022-09-14T02:38:00.723Z; git: d5b8c29485f5f56a14be5f20c2ccce81b93c5555; jvm 18.0.2+9-61
[21:45:33 INFO]: [org.eclipse.jetty.server.session.DefaultSessionIdManager] Session workerName=node0
[21:45:33 INF

[2022-11-16 06:45] zugazagoitia commented on #1747
You might have something wrong here, can you please share your maven .pom?

[2022-11-16 06:46] Playacem commented on #1748
In your snippet you are not calling any Javalin function to configure cors. You are currently just logging but do not actually configure Cors.

[2022-11-16 12:33] Izocel commented on #1748
yup your right I've taken a look at the Cors plugin thx ;)

[2022-11-16 16:53] RobbieS82 commented on #1747
Thank you for your help!  Here is my pom
`
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>com.avera</groupId>
    <artifactId>mymode

[2022-11-17 09:52] zugazagoitia commented on #1747
You're missing some parts of your POM, but I certainly see nothing wrong here. I'd like to further investigate this,
could you zip this project and upload it replying to this issue? Make sure you don't include any credentials or personal data. If you want to you can also contact me directly on Javalin's [discord](https://discord.gg/sgak4e5NKv) or message me directly at `zugazagoitia#5868`

[2022-11-17 16:47] #1666 closed

[2022-11-17 18:08] tipsy opened #1750 "SSE close callback may be called many times"
[code]

It probably shouldn't happen.

[2022-11-17 18:15] DerSimeon commented on #1750
Since this is an Edge Case and possibly a code flaw on client-side, we need to make sure the Client knows whats up.
Therefore I propose 2 solutions
1. Throw an exception and let the User know he is attempting to write to a closed client
2. Log a message to the console and return before the emitter attempts to send a message.

[2022-11-17 21:45] chefchefchef commented on #1746
Thank you, I reported the issue there: https://github.com/eclipse/jetty.project/issues/8912. As soon as there is a fix for it I will post the new version here, ok?

[2022-11-18 06:41] #1746 closed

[2022-11-18 12:03] hbroeder opened #1752 "IllegalStateException: WRITER when using PrintWriter from ctx.res()"
From Javalin 5.x onwards the following error message is written to the logs when using PrintWriter from Context.res().getWriter()

No such log messages where observed for Javalin < 5

**Reproduce with**
[code]

**Additional context**
Based on the stack trace below, Javalin uses ServletResponse#getOutputStream() for OutputStream compression. This is not allowed when ServletResponse#getWriter() has

[2022-11-18 12:23] tipsy commented on #1752
@dzikoysk do you remember if we changed anything here for v5?

[2022-11-18 12:55] dzikoysk commented on #1752
`Response.getOutputStream` was always used, to be fair we don't have control over Jetty's response, we can just consume its content. I guess it's rather related to Jetty 9 -> 11. Let me check where it happens

[2022-11-18 13:08] dzikoysk commented on #1752
To be fair, I cannot reproduce this:

![obraz](https://user-images.githubusercontent.com/4235722/202711506-930d6aed-7920-4b4f-be00-a14038948c79.png)

If we could reproduce this, the solution might be probably just swapping those lines to not initialize our output stream wrapper:

https://github.com/javalin/javalin/blob/2a9cb85f1b81eb61d14762fb0a12cb5702153533/javalin/src/main/java/io/javalin/http/

[2022-11-18 14:15] hbroeder commented on #1752
This is the full stack trace from our logs
[code]

[2022-11-18 14:24] hbroeder commented on #1752
So that there is no misunderstanding: the http output is as expected. It is the log lines that suggest something went wrong, which is annoying.

[2022-11-18 14:43] dzikoysk commented on #1752
I've found it, for some reason Javalin's test setup is not reporting this exception. I've lifted up this example to just regular main method and I can confirm that my guess was right. I swapped those calls in the linked PR.

[2022-11-18 15:52] hank9999 commented on #639
[code]

[2022-11-18 16:06] #1750 closed

[2022-11-18 16:06] tipsy commented on #1750
Fixed in https://github.com/javalin/javalin/commit/2a9cb85f1b81eb61d14762fb0a12cb5702153533

[2022-11-20 22:37] tipsy opened #1754 "Allow for automatic registration of template engines using ServiceLoader"

[2022-11-23 07:53] zugazagoitia commented on #1693
Since we haven't worked on this in a while I think we should PR our fork in it's current state and see if we bump some positions on the charts. We could always some back and improve it.

[2022-11-23 08:02] #1691 closed

[2022-11-24 07:37] zugazagoitia commented on #1754
Isn't this closed by #1755?

[2022-11-24 08:43] tipsy commented on #1754
It sure is, I just forgot I made an issue for it. Thanks!

[2022-11-29 07:11] durran-kelly commented on #1747
I also have the same issue. My project doesn't include anything except the HelloWord.java class with the code include in the tutorial. My POM includes the javalin-bundle instead of just javalin. I'm using Java 17.

[2022-11-29 12:17] zugazagoitia commented on #1747
@durran-kelly can you please send me a zip of your project folder to investigate?

[2022-11-29 13:48] dzikoysk commented on #1747
It's a bug in IntelliJ integration with Maven, but for some reason recent versions trigger that issue quite often. Might be a good idea to create a new ticket on JetBrains tracker.

[2022-11-29 17:24] tipsy commented on #1747
Maybe we should update the tutorial to mention this 🤔

[2022-11-29 18:29] zugazagoitia commented on #1747
I've actually tried with diff versions of maven/intellij/jdks and I can't replicate it 😕

[2022-11-29 20:02] dzikoysk commented on #1747
Could you try community edition? It worked for one of the affected users on Discord.

[2022-11-30 10:39] aldotele commented on #1747
Hi there, I am encountering the same problem, both on IntelliJ Community and Ultimate.
When I try to open the project with Visual Studio Code, the problem disappears, just to confirm it is an IntelliJ bug.
However, I am still able to launch the server with IntelliJ, it just logs everything in red color, here is a screenshot:
<img width="846" alt="javalin" src="https://user-images.githubusercontent

[2022-11-30 11:30] zugazagoitia commented on #1747
Could you please post this issue on the [idea tracker](https://youtrack.jetbrains.com/issues/IDEA)? There's nothing we can do to solve it, since we can't reproduce it ourselves.

[2022-11-30 11:58] bensullivan opened #1757 "Unable to resolve vue resources running Javalin from gradle distTar"
Hi

I've upgraded to javalin 5.

When I dist up my javalin server into a tarball (`./gradlew clean check distTar`), extract it, run it and try and serve a page in non-dev mode, I see the following error:

`[JettyServerThreadPool-25] WARN io.javalin.Javalin - Uncaught exception
java.nio.file.NoSuchFileException: /vue
	at jdk.zipfs/jdk.nio.zipfs.ZipPath.getAttributes(ZipPath.java:742)
	at jdk.zipfs/

[2022-11-30 12:14] bensullivan commented on #1757
Do I need to explicitly set root dir to /vue when isDev is false?

`config.vue.rootDirectory("/vue");`

[2022-11-30 12:20] tipsy commented on #1757
It depends on what behavior you want. This is the default:

[2022-11-30 12:20] tipsy commented on #1757
If you se the root dir explicitly, Javalin will respect that.

[2022-11-30 12:21] bensullivan commented on #1757
Hi @tipsy

Default behaviour is fine but for some reason the /vue resources folder is not being resolved from the classpath..

[2022-11-30 12:24] tipsy commented on #1757
But you're not setting it in dev mode, at least not in the provided code example?

[2022-11-30 12:28] bensullivan commented on #1757
So in the code example, I'm hitting the server running locally via ngrok so I figured that would initialise `isDev` to false and attempt to resolve rootDirectory at `/vue` via classpath which it looks like it's doing.  But `/vue` fails to resolve...

[2022-11-30 12:35] tipsy commented on #1757
Aha, I didn't check out the README. I think it should be false then (and if so, it should be defaulting to classpath).

What happens if you do set it explictly?

[2022-11-30 12:42] bensullivan commented on #1757
Same error - I added this line inside `Javalin.create` lambda:

`config.vue.rootDirectory("/vue", Location.CLASSPATH);`

[2022-11-30 13:05] tipsy commented on #1757
Yes, it should be.

[2022-11-30 13:06] tipsy commented on #1757
Did this change for you from Javalin 4 to Javalin 5?

[2022-11-30 13:08] bensullivan commented on #1757
I think so - I'm going to go back and double check the changes I made to upgrade but yeah I noticed v5 was available a couple of days ago and started the upgrade and then hit this issue.

[2022-11-30 13:09] bensullivan commented on #1757
I'm using Java 17 and gradle 7.6

[2022-11-30 13:15] bensullivan commented on #1757
OK - so it works in non-dev mode if I add this:

`config.vue.rootDirectory("/vue", Location.CLASSPATH, Main.class);`

Why is that?

[2022-11-30 13:23] bensullivan commented on #1757
distTar is a pretty standard gradle plugin:

https://docs.gradle.org/current/userguide/distribution_plugin.html

You can see how the javalin project jar is structured if you extract the tarball and inspect `javalinvue-example/lib/javalinvue-example.jar`.

Does that jar look different to how you normally see other idiomatic distributions of javalin?

[2022-11-30 13:26] tipsy commented on #1757
I'm not able to look at this until the weekend, could you try comparing it to how it would look if you build the jar with maven assembly?

[code]

[2022-11-30 17:54] zugazagoitia commented on #1757
DistTar is actually not building a Jar, but rather generating a tar file containing a folder structure with different Jars, for each dependency. It's a way to distribute projects with dependencies without moving/shading classes.

I'm going to give it a test in debian, but I see you're using Macos.

[2022-11-30 19:08] zugazagoitia commented on #1757
@bensullivan TLDR; If i'm right, this should be a good temp solution to it. Declare your Main class whenever you're using a distribution tarball and it should work.

[2022-11-30 19:45] tipsy commented on #1757
Then it sounds like everything is working as expected. It's hard for Javalin to automatically know where to look for resources in this case, which is why the class config exists.

I think we can close this now, and rather open a new issue if we want to try to improve this behavior.

Thanks @zugazagoitia, great work !

[2022-11-30 19:45] #1757 closed