[2020-03-19 22:11] bseib commented on #900
Document validation with `ctx.header()` too?

[2020-03-19 22:34] #900 closed

[2020-03-19 22:35] tipsy commented on #900
Yes, makes sense to include. This is a great improvement, thanks!

[2020-03-20 04:06] bseib commented on #896
I agree that there is value in this. There is less chance to misunderstand how the access manager is behaving when the access controls are expressed at the tips of the endpoints. In the end we want our code to be easy to understand, hard to misunderstand, and hard to get ourselves in trouble. Having simple building blocks are good.

Now that I've learned that the `before()` handlers are a place wh

[2020-03-20 04:06] #896 closed

[2020-03-20 07:56] tipsy commented on #896
I will expand a bit in the docs and mention filters a bit more.

By the way, since the ApiBuilder is static, you can also easily write your own methods to use in the `app.routes` DSL.

[2020-03-20 13:57] tipsy commented on #901
I have rewritten the code to use a `WebSocketUpgradeFilter`, and session attributes seems to work.. Need to make the 404 handling work again though.

[2020-03-20 14:26] wimolivier opened #902 "Example app using Mustache template engine"
** Hi everyone,

I have started learning Spring [Boot], but it's a bit heavy to start with (still learning Java too).
Does anyone know (or can show) a small example app using Mustache for templating?

I'd like to create something to learn Javalin with, using:
Javalin (dynamic site using Mustache, and also serving a REST API)
ORM (https://github.com/jOOQ/jOOQ)
PostgreSQL

... with everything includ

[2020-03-20 14:29] tipsy commented on #902
When you say "dynamic site using Mustache", do you then mean the JavaScript version of Mustache, or the Java server side implementation?

[2020-03-20 14:41] wimolivier commented on #902
Hi tipsy,

Java server side.

[2020-03-20 14:47] tipsy commented on #902
Okay! This example is a bit old, but it covers working with server side templates: https://javalin.io/tutorials/website-example

You just have to switch out Velocity for Mustache. The examples also includes packaging all dependencies in a single jar (it's done in the POM).

Very few of the examples include ORM/DB stuff, but there is https://github.com/tipsy/javalinstagram which shows sqlite and jd

[2020-03-20 15:05] wimolivier commented on #902
Thanks a mil - will check them out and try to get it going!

[2020-03-20 15:48] tipsy commented on #901
I have a working PR: https://github.com/tipsy/javalin/pull/903

I basically don't know what I'm doing here, so I'll have to ping someone from Jetty and ask about the approach.

[2020-03-21 12:09] tipsy commented on #897
Doing some cleanup, so closing this. Feel free to keep commenting in the issue though.

[2020-03-21 12:09] #897 closed

[2020-03-21 12:09] tipsy commented on #895
Doing some cleanup, so closing this. Feel free to keep commenting in the issue though.

[2020-03-21 12:09] #895 closed

[2020-03-21 12:10] tipsy commented on #902
Doing some cleanup, so closing this. Feel free to keep commenting in the issue though.

[2020-03-21 12:10] #902 closed

[2020-03-22 10:49] tipsy commented on #890
Can't think of anything. I don't really have much experience with SSE, the few times I've tried to use it it sort of just worked (although stopping a server which has open SSE connections is a lot harder than stopping one that has open WebSocket connections, for some reason).

It makes little sense to me that a GET request would work, but a SSE request would not (`app.sse` just calls `app.get` and

[2020-03-22 10:57] tipsy commented on #893
I agree that adding a "tag" (but not an "OpenAPI tag") makes sense. I guess we have one root object now for building the OpenAPI document, but instead we would need a set of such objects? 🤔

It doesn't sound too complicated, but that depends a lot on the current implementation, which I'm still not familiar with. I'd be happy to review a PR if someone wants to work on this.

[2020-03-22 11:03] tipsy commented on #892
Sorry for the delay @A1Liu. I thought this was handled by Jetty, but I see now that Javalin is writing the response. I'll see if I can include content-length.

[2020-03-22 11:09] tipsy commented on #898
Since this duplicates #876, let's close it.

[2020-03-22 11:09] #898 closed

[2020-03-22 16:05] tipsy commented on #892
It seems Jetty sets the content-length, but it only does it in some cases. I guess some investigation is required 🤔

[2020-03-22 21:15] tipsy commented on #892
Does disabling compression solve your problem @A1Liu ?

[2020-03-23 06:02] rr83019 opened #904 "Add support for OPTIONS HTTP verb in Handler Groups"
**Describe the feature**
Like the endpoint-handlers which supports the `options` http verb, it would be beneficial if Handler Groups could support it as well for grouping the endpoints together.

**Additional context**
In CORS, a preflight request with the OPTIONS method is sent, so that the server can respond whether it is acceptable to send the request with these parameters. The Access-Control-R

[2020-03-23 07:45] tipsy commented on #904
Thanks for your issue @rr83019. Have you seen the enable cors config option?

[2020-03-23 10:47] tipsy commented on #901
I've made an alternative (suggested by @joakime in https://github.com/eclipse/jetty.project/issues/4687), which seems like a much safer change: https://github.com/tipsy/javalin/pull/905/files

[2020-03-23 10:56] rr83019 commented on #904
Yes, but I need to explicitly define the OPTIONS endpoint. The Handler groups does not support that.

[2020-03-23 16:24] #901 closed

[2020-03-24 17:58] uover82 commented on #890
I'm using the node/ js (EventSource) client through mostly Firefox, and tested with Chrome and Safari, like:

[code]
I'm a bit intrigued that `WebSocket` so basically works, while `SSE` doesn't, with results flushing at server process shutdown. Feels like maybe a deeper (layer) issue. Very consistent.

[2020-03-24 19:31] tipsy commented on #890
It's possible that there's something that the Javalin implementation doesn't take into account. I didn't write the implementation myself, but it looks to be less than 100 lines of code. The relevant classes are `io.javalin.http.sse.Emitter` and `io.javalin.http.sse.SseClient` if you want to investigate more.

[2020-03-24 19:35] tipsy commented on #904
That is true. Considering it never comes up, I don't think it's right to add these uncommon verbs to the `ApiBuilder`.
I can make the `staticIntance()` and `prefixPath()` methods of the `ApiBuilder` public though, then it would be very easy to make your own static options method to use inside a `HandlerGroup`.

[2020-03-24 20:55] bseib commented on #896
FWIW to those who find this thread, I did make my own api builder DSL that allowed me to place access handlers at key points along a path, namely wherever a path `:variable` needs to be interpreted. In addition, everything downstream on that path needs access to the already interpreted values that were extracted from the path. Plus anything downstream on the path should obey type safety of those v

[2020-03-25 06:22] rr83019 commented on #904
Oh, cool. That would be great.
Thanks.

[2020-03-25 07:57] tipsy commented on #904
Done in https://github.com/tipsy/javalin/commit/fb47f51ced8a562f78a002a7fa70cff9b680cfe6, will be released later this week !

[2020-03-25 07:57] #904 closed

[2020-03-25 09:16] tipsy commented on #896
It's a neat approach @bseib. I'd be happy to publish a tutorial on [javalin.io](https://javalin.io) if you're interesting in writing one.

[2020-03-25 17:54] bseib commented on #896
@tipsy sure, I could do that. I'm going to try living with my code for a while to see how it goes, and the code also needs some cleanup. I'll see where I am in a few weeks to write something up.

[2020-03-25 17:55] tipsy commented on #896
Sounds like a good plan!

[2020-03-27 12:26] tipsy commented on #805
This has been released as part of 3.8.0 now: https://javalin.io/news/2020/03/27/javalin-3.8.0-released.html !

[2020-03-27 23:55] uover82 commented on #890
Thanks for this tip - I'll take a look/ let you know what I find.

[2020-03-28 06:51] CrlH commented on #776
Any updates on this? Seeing NanoHTTPD is mostly unmaintained, I'd love to see Javalin as an alternative.

[2020-03-29 09:58] wimolivier opened #906 "Custom directory structure like this possible?"
Hi,

Is it possible to setup my project with a custom directory structure like this below?
I want to be able to plugin new features/modules like 'apps', almost like Django does (djangoproject.com - https://djangobook.com/mdj2-django-structure/).
I'll prefix DB table names with the 'app' name. All apps will have their tables in the same DB.

Thanks,
Wim

[2020-03-29 10:02] wimolivier commented on #906
![image](https://user-images.githubusercontent.com/3774792/77846265-21e69400-71b5-11ea-8933-108dfeb9e8f8.png)

[2020-03-29 10:47] tipsy commented on #906
Hi @wimolivier !

You can structure your application however you want, this is not decided by Javalin, but by your build system (looks like you're using Maven). Javalin is "just another dependency" as far as application structure is concerned.

[2020-03-29 11:32] wimolivier commented on #906
Hi David,

That's great news.
So I'd have to configure Maven to work with the dir/layout I choose, so it knows where to find everything and build it correctly?

Thanks,
Wim

[2020-03-29 11:53] tipsy commented on #906
Yes, that is correct. Maven has pretty good documentation: https://maven.apache.org/guides/index.html

[2020-03-29 17:39] wimolivier commented on #906
Thanks, a mil.
Things are making more sense now.

[2020-03-29 17:39] #906 closed

[2020-03-30 17:46] lucaro opened #908 "Seekable Stream uses defaultContentType over specified content type"
**Actual behavior (the bug)**
Context.seekableStream uses the defaultContentType instead of specified content type.

**Expected behavior**
The explicitly specified content type should be used.

**To Reproduce**
[code]

**Additional context**
If the content type is set explicitly using `Context.contentType(...)` before `Context.seekableStream(...)` is called, the behavior is as expected.

[2020-03-30 17:58] tipsy commented on #908
Thanks! Would you like to submit a PR?

[2020-03-30 19:31] lucaro commented on #908
Sure, see #909

[2020-03-30 21:21] tipsy commented on #908
Great, thank you !

[2020-03-30 21:21] #908 closed

[2020-03-31 07:44] RalphSteinhagen opened #910 "performance penalty while serving JSON and binary through the same endpoint"
First, @tipsy great library and keep up the good work!

I have been recently evaluating various REST microservice frameworks to be potentially incorporated into our middle-ware alongside ZeroMQ ([see here](https://github.com/RalphSteinhagen/rest-microservice-tests)). I like Javalin's API and rich features, its eco-system and notably its community support!

During the comparison tests, I noticed th

[2020-03-31 08:47] tipsy commented on #910
Thanks @RalphSteinhagen ! These results look awful, I'm not sure what's going on. In the TechEmpower benchmark you linked Javalin is usually right behind Jetty (as it should be, there's a small penalty for the abstraction layer). Could you try writing directly to the output stream (`ctx.res.getOutputStream()`) ? Since you have disabled compression, the only thing that really happens when you do `c

[2020-03-31 10:26] RalphSteinhagen commented on #910
@tipsy thanks a lot for the hint and very quick reply! You are coding hero and Javalin is now officially as No.1 on my list! :+1:

I modified [the code](https://github.com/RalphSteinhagen/rest-microservice-tests/blob/e4fb6b865e789b08eb2dce0eff55882a6b6ff63e/rest-microservice-tests-jdk11/src/main/java/ch/steinhagen/rest/RESTServer.java#L168-L259) and using `ctx.res.getOutputStream()` instead of `ct

[2020-03-31 10:36] tipsy commented on #910
Phew, that's a lot better !

The code you wrote is very similar to what Javalin does internally, so I think I need to investigate what makes it slow in the first case. I will leave the issue open.

You're very welcome!

[2020-04-01 07:40] bdedardel opened #911 "mime mapping of static content"
Hi,

I get an error while loading mp3 static files :
*Media resource could not be decoded, Error Code: NS_ERROR_DOM_MEDIA_METADATA_ERR*

I think I should set mime type, something like *AddType audio/mpeg .mp3* to fix it.

Is there a way to do this with javalin ? Or is it possible to use a WEB-INF/jetty-web.xml ?

Regards,
Benjamin

[2020-04-01 08:20] tipsy commented on #911
Hi @bdedardel. You can set the content-type with `ctx.contentType(...)`, but this is something Jetty should take care of if you serve the MP3 as a static file. How are you serving it?

[2020-04-01 13:24] AlexKotik opened #912 "slf4j-simple package is not installed."
slf4j-simple is not getting installed while installing from Maven with Intellij IDEA, seems like the package version is incorrect in pom file or something.

[2020-04-01 13:34] tipsy commented on #912
You have to add it manually, Javalin only contains the slf4j-api, not an actual logger (a lot of people want to use a different logger).

[2020-04-01 13:57] AlexKotik commented on #912
Oh, I see, thank you!

[2020-04-01 14:30] tipsy commented on #912
You're very welcome!

[2020-04-01 14:30] #912 closed

[2020-04-01 16:28] vn7n24fzkq commented on #686
@tipsy
Sorry about the delay, I was add some commit.
Now you can run benchmark with command.
[code]
![image](https://user-images.githubusercontent.com/20241522/78161191-a700d000-7477-11ea-8fbc-7576d734a444.png)
[code]
![image](https://user-images.githubusercontent.com/20241522/78161842-a3217d80-7478-11ea-8b16-6b5e35d7b627.png)
After two benchmark, you can compare those results with command.
[code]

[2020-04-01 17:28] tipsy commented on #686
Very cool! I'll try it out this weekend.

[2020-04-02 00:33] bdedardel commented on #911
Hi @tipsy, thanks for your response.
I serve the mp3 within a vue component.

I made a small project to reproduce the issue :
cf: https://github.com/bdedardel/pocs-and-issues/tree/master/javalin-issue%23911

I continue to investigate...

Regards,
Benjamin

[2020-04-02 05:15] champloo11 opened #913 "Capturing gzipped output, and reusing."
I'm hoping to capture Javalin's gzipped response (after, or in parallel to the response being streamed the client), and pipe it to Redis so that it can be used to serve a cached response on the subsequent requests across all nodes we're running Javalin.

The usage pattern would preferably look something like this:

## Start

1. Fetch from cache

### If cache value not present (a):
2. Execute regul

[2020-04-02 08:08] tipsy commented on #913
Hi @champloo11, thanks for an interesting question.

Could you elaborate a bit on what you're trying to achieve? Do you want to save computational power, bytes transferred, or something else? Is using ETags and 304 an option?

Since you're using `ctx.json()` I'm guessing whatever information you're serving is dynamic, but you will be caching it as if were a static file if you go ahead with your ap

[2020-04-02 16:07] champloo11 commented on #913
I'm not sure how much you know about Elasticsearch, or other Lucene-backed search services, but generally the indexes themselves are immutable until they run a refresh on a scheduled interval. The responses are cached up to a point, but the caches aren't very tunable, and there are other gotchyas, like:

- What happens when you hit a new node in the cluster on a subsequent, but identical request.

[2020-04-02 17:01] champloo11 commented on #913
Another approach here may be to handle the compression myself, as opposed by disallowing Javalin to dynamically compress results, and then responding with a stream of bytes, and setting the appropriate content headers. Assuming there is no barrier from the framework in that regard.

[2020-04-02 17:26] tipsy commented on #913
Sounds like you have a valid use-case!

Sure! Here is a snippet which creates a Javalin instance with a `Filter` attached before `JavalinServlet` runs:

[code]

In this `Filter`, I set an attribute, which I print in the `after`. Instead of just setting/printing an attribute, you need to wrap the `OutputStream` in the `Filter`, and do something like `(ctx.res.outputStream as MyOutputStream).result`

[2020-04-02 17:55] tipsy commented on #911
I'll clone your project and check it out!

[2020-04-02 18:10] tipsy commented on #911
I'm completely unable to serve a mp3 file for some reason, I went back all the way to Javalin 2.0.0 to test.

[2020-04-02 18:14] tipsy commented on #911
You can use this as a workaround:

[code]

[2020-04-03 16:33] grzegorzbor commented on #898
I looked at the javalin code and tried to play with static resources, as i suggested above . But it was quite complex, there were webjars to consider, and it didn't fully cover my use case.
After re-analyzing it, i found another solution which nicely solves my case, is quite easy to implement, and gives lots of flexibility for the future. It has nothing to do with static files. Instead it's closer

[2020-04-03 22:14] achaiah opened #916 "Set Websocket Text Size"
Hi,

I need to increase the default Websocket Text Message size but the documentation on Javalin's website seems to be incorrect.  After a while of looking I was able to glean a bit of info from [release notes](https://javalin.io/news/2019/03/02/javalin-2.7.0-released.html) as well as from the provided documentation on the main site but the suggested config seems to have no effect. For example:
[c

[2020-04-07 22:15] tipsy commented on #913
Did you manage to get this working @champloo11 ?

[2020-04-07 22:16] tipsy commented on #916
There is a test case confirming that this does work, so I'm a bit surprised to see the issue. I'll have a look tomorrow.

[2020-04-08 04:06] achaiah commented on #916
After some more testing it does seem to work though I found it odd that it would reset if I simply tried to access the value of the field.

[2020-04-08 04:06] #916 closed

[2020-04-08 07:04] tipsy commented on #916
That would be Jettys responsibility, if you can't figure it out I recommend making an issue in their project. Happy it works!

[2020-04-08 16:16] champloo11 commented on #913
I've not yet had a chance to get to this. Hoping to create a proof of concept sometime starting early next week.

[2020-04-08 17:09] juv opened #917 "[OpenAPI] OpenApiContent breaks for auto-generated Avro classes"
**Actual behavior (the bug)**
When passing classes to `@OpenApiContent` that have been generated from an [Avro](https://avro.apache.org/) schema, parsing the class ends up in a `IllegalStateException`, failing the generation of the OpenAPI response.

Exception:
[code]

**Expected behavior**
I expected the OpenAPI handler of Javalin to successfully return the OpenAPI response to the requesting clie

[2020-04-09 13:52] danechitoaie opened #918 "More elaborate tutorial for getting started with Javalin (database, logging, auth, metrics)?"
Are there any tutorial/guides about how to use a database with Javalin?

[2020-04-09 14:42] felipewom commented on #918
Nice real world example here:
https://github.com/Rudge/kotlin-javalin-realworld-example-app

[2020-04-09 15:05] danechitoaie commented on #918
And you lost me :(

Thank you, but any idea if we have something similar in Java?

[2020-04-09 15:42] tipsy commented on #918
Hi @danechitoaie ! Javalin has no "support" or "built in" functionality when it comes to databases. I usually use https://jdbi.org, and I've also used Hikari for connection pooling: https://github.com/brettwooldridge/HikariCP. Any DB library should work fine though.

[2020-04-09 15:57] danechitoaie commented on #918
Yes, I get this. I'm just new to java web dev and not sure where/how to setup the DB connection in the context of Javalin that's why I was looking for some guide/example.  Like where do I setup this connection, then how do I pass it to the routes so that they can use it in a safe (thread safe?) etc way.

[2020-04-09 16:16] tipsy commented on #918
This will depend on the library you use, but JDBI instances are thread safe at least. From their [docs](https://jdbi.org/#_core_api): *"Jdbi instances are thread-safe and do not own any database resources."*. I recommend following the tutorial/docs they have, they're quite good. I want to avoid having a database-tutorial on the Javalin website, as it's not technically related to Javalin, and it wi

[2020-04-09 19:44] chrisawad opened #919 "Get list of registered methods and routes"
Wondering if there's a way to get all registered methods and routes from a Javalin server.

If this:
http.get("/users", ctrl::getUsers);
http.get("/users/:id", ctrl::getUser);
http.post("/users", ctrl::addUsers);

Something that can poll this info in some iterable storage:
GET /users
GET /users/:id
POST /users

[2020-04-09 20:31] tipsy commented on #919
If you want to display routes there's the RouteOverviewPlugin, if you need the list for something else you need to subscribe to "route added" events and build your own.

[2020-04-09 22:00] tipsy commented on #917
Are you able to serialize the classes using a Jackson `ObjectMapper` ?

[2020-04-10 13:29] tipsy commented on #686
@vn7n24fzkq I managed to run it for 1.0.0 and 3.0.0, but when I try to run it for 3.4.0 and above I get the following error:

[code]

Do you know why this happens?

[2020-04-10 13:42] danechitoaie commented on #918
I understand and it makes sense, but I was thinking still maybe simple tutorial like here's how you add JDBI and how you have a controller that make a random select from a DB.

Or maybe someone that has an opensource app developed with Javalin has it on a Github repo somewhere.

Anyway, thanks. I'll dig more into seeing how I can setup a dependency injection framework.

[2020-04-10 13:43] vn7n24fzkq commented on #686
@tipsy It's my fault. Because currently the benchmark only be able to run with version 1.0.0, 2.0.0, 3.0.0, 3.1.0, 3.2.0 and 3.3.0.
![image](https://user-images.githubusercontent.com/20241522/78994911-c84a7600-7b73-11ea-94c4-517912049a5a.png)

[2020-04-10 13:50] vn7n24fzkq commented on #686
I will add other versions later.

[2020-04-10 14:41] tipsy commented on #686
Ah, I didn't notice that part! I can also add the rest of the versions :)

[2020-04-10 20:08] vn7n24fzkq commented on #686
Sounds great 😄
I can also do it at tomorrow if you don't have time.

[2020-04-11 09:57] vn7n24fzkq commented on #686
@tipsy Hi, I was added the rest of the version.

[2020-04-11 10:16] tipsy commented on #686
@vn7n24fzkq Great, thank you!

[2020-04-11 15:05] thetoothpick opened #922 "Missing dependency 'Slf4j simple' messages when using log4j-slf4j18-impl"
**Actual behavior (the bug)**
Javalin logs the following messages to standard error on initialization when using the `log4j-slf4j18-impl` package:

[code]

**Expected behavior**
No error message printed to stderr.

**To Reproduce**
Maven or Gradle project with the following dependencies:
[code]

**Additional context**
Javalin logging works fine despite this message, so SLF4J is clearly working.

I

[2020-04-11 15:34] tipsy commented on #922
Thanks for a detailed bug report! Since you already have the solution described, would you like to submit a PR ?

[2020-04-11 16:42] thetoothpick commented on #922
Sure, I think I've got something that'll work, I'll test it out.

[2020-04-11 17:56] #922 closed

[2020-04-11 20:57] chsfleury opened #924 "[Multimodule] Use of OpenAPI in Javalin Core"
During the step 2 (separate openapi module from the javalin module)

i have found few impacts.

The first one is the use of Javalin's OpenApi Annotations, located in io.javalin.plugin.openapi.annotations.AnnotationApi.kt and used in:
- RouteOverviewUtil.kt
- CorsUtil.kt

This file contains only annotations and has only two imports:
- import io.javalin.Javalin
- import kotlin.reflect.KClass

So i r

[2020-04-11 22:18] tipsy commented on #924
That seems okay, as long as there is a comment explaining why, and the package-structure matches the openapi-module.

It's not redundant. The `ApiBuilder#crud` method takes a `CrudHandler` interface (which has 5 methods). It then attaches the OpenAPI documentation to each of these 5 routes, and add them to the Javalin router.

This part is a bit of a headache. It's the only hard dependency Javalin

[2020-04-12 09:31] chsfleury commented on #924
Is it a viable idea to fires a "crudHandlerAdded"event with needed infos to call
```lambdas = OpenApiBuilder.documented(crudHandler, lambdas);``` in OpenApi module ?

[2020-04-12 09:34] tipsy commented on #924
That sounds like a great idea!

[2020-04-12 09:38] chsfleury commented on #924
I will study the question today and may make a PR separately

[2020-04-12 17:45] champloo11 commented on #913
I got around to building a a proof of concept of this without the spyFilter (After investigating that approach it seemed a bit too arcane/complex to maintain in a larger production system). Wanted to follow up with how we went about this and look for your input:

First I disable Javalin's compression via a means that doesn't tell me it's deprecated (if there's a better way to do this that keeps up

[2020-04-13 05:37] Jerbell opened #925 "CORS security flaw"
**Actual behaviour**
Javalin running with CORS allowed origin of `https://api.securesite.com`, works with header `Origin: https://api.securesite.com` as expected.
I register an Australian site of https://api.securesite.com.au and request the API above with `Origin: https://api.securesite.com.au` - Javalin CORS will respond with `Access-Control-Allow-Origin: https://api.securesite.com.au` and `Acce

[2020-04-13 06:48] tipsy commented on #925
Nice catch @Jerbell! Would you like to submit a PR?

[2020-04-13 06:52] Jerbell commented on #925
Sure - why not.  I'll try to do it later :)

[2020-04-13 07:52] Jerbell commented on #925
Personally I'd remove the `.map { it.removeSuffix("/") }` bit as well, but I don't want to break someone's poorly configured CORS origins.

[2020-04-13 07:59] Jerbell commented on #925
https://github.com/tipsy/javalin/pull/926 should be done.

[2020-04-13 08:38] tipsy commented on #925
Nice, thank you! I agree that it's better to not break existing code that relies on the `removeSuffix` mapping.

[2020-04-13 08:38] #925 closed

[2020-04-14 15:30] vn7n24fzkq commented on #892
Seems Jetty will auto use chunked if outputBufferSize is not enough to put all content in.
https://github.com/eclipse/jetty.project/blob/a304fd9f351f337e7c0e2a7c28878dd536149c6c/jetty-http/src/main/java/org/eclipse/jetty/http/HttpGenerator.java#L342

If  cocnfig.outputBufferSize is large than static file than it will send ```content-length```
[code]

[2020-04-14 21:05] #924 closed

[2020-04-15 09:45] vn7n24fzkq commented on #892
I got this problem too, but it's not bother me.If needed I can try to add content length for static files in this weekend.

[2020-04-15 10:06] tipsy commented on #892
Would be great it you could have a look at it. We should probably follow Jetty's default setting, so

[2020-04-15 11:29] tipsy commented on #913
You can use `config.compressionStrategy(Brotli(0), Gzip(0))`, the deprecation on Brotli is because Brotli is experimental, but it has been live now for months, I can just remove that deprecation.

I can also create an overload so you can do `config.compressionStrategy(CompressionStrategy.NONE)` which is a bit more readable 🤔

I know I warned against it, but one advantage this approach has over you

[2020-04-15 11:29] tipsy opened #930 "config.compressionStrategy(CompressionStrategy)"
Would be good if it could take the enum as an overload.

[2020-04-16 23:20] adamnfish opened #931 "Issue with Kotlin and Scala interoperability (WsContext/Context)"
I've created a Github repository that is a [SSCCE](http://sscce.org/) for the problem. The README there contains more information and details for reproducing the error.
https://github.com/adamnfish/javalin-sscce

**Actual behavior (the bug)**

The `message` method on `WsMessageContext` is not callable from Scala. Compiling a project that uses that method gives the following error:

[code]

**Expec

[2020-04-17 06:59] tipsy commented on #931
Thank you for your thorough report @adamnfish. We don't really test with Scala, but ideally things should work. Would you like to try to create a PR to fix the issue?

There might also be a different way to access the message, I'll have a look later.

[2020-04-17 07:21] tipsy commented on #931
So, this is the `WsMessageContext` class:

[code]

The corresponding functionality in the normal `Context` class is:

[code]

Assuming the functionality in `Conext` works (please verify), we could fix this issue by changing the name of the generic `message` function to `fun <T> messageAsClass(clazz: Class<T>): T`.

I think this is what it was supposed to be named in the first place, as it's suppos

[2020-04-17 07:36] tipsy commented on #931
We could also add a set of lodash prefixed methods (`_message()`) for Scala users specifically, and do the breaking change in 4.0.

[2020-04-17 13:42] juv commented on #917
I think this is possible with https://github.com/FasterXML/jackson-dataformats-binary/tree/master/avro

[2020-04-17 20:47] adamnfish commented on #931
Interestingly, `Context` doesn't work from Scala either. Inspecting the source code confirms it has the same problem (overloaded methods called `body` that share the same type signature to the Scala compiler):
https://github.com/tipsy/javalin/blob/master/javalin/src/main/java/io/javalin/http/Context.kt#L111
https://github.com/tipsy/javalin/blob/master/javalin/src/main/java/io/javalin/http/Context.

[2020-04-19 21:21] tipsy commented on #686
I think this can be closed now, thanks a lot for your great work @vn7n24fzkq !

[2020-04-19 21:21] #686 closed

[2020-04-19 21:27] tipsy commented on #769
@chsfleury, IntelliJ is not able to resolve any references to `Context`, neither in the `javalin` nor the `javalin-openapi` module. The project builds fine though, it's just in IntelliJ. Do you know what could be causing this?

[2020-04-19 21:32] tipsy commented on #769
Invalidating IntelliJ's cache and re-indexing solved the issue :)

[2020-04-19 22:04] pkkummermo opened #933 "Create and distribute a javalin-bundle module"
**Describe the feature**
To simplify startup time with the library, we could have a `javalin-bundle` module which includes an opinionated number of dependencies, but gets you up and running as fast as possible.

This includes
- JSON serializer (jackson)
- Logging (simple-slf4j)
- OpenAPI (swagger-core, swagger-ui, redoc)

[2020-04-19 22:09] tipsy commented on #933
Could you have a look at this too @chsfleury ? I guess it's would mainly be a new POM which depends on the modules/dependencies ?

[2020-04-20 05:42] chsfleury commented on #933
Yes of course.

Do you want specifically use slf4j-simple ?
Can we use a preconfigured logback with a default console appender ?

[2020-04-20 06:50] tipsy commented on #933
It doesn't have to be slf4j-simple. I guess we should consider using whichever logger is the most popular?

[2020-04-20 07:29] #930 closed

[2020-04-20 08:21] #919 closed

[2020-04-20 08:22] #911 closed

[2020-04-20 08:23] tipsy commented on #881
@28Smiles the OpenAPI functionality has been separated from the `ApiBuilder` now, if you want to have another look at this.

[2020-04-20 08:26] tipsy commented on #776
@richarddd are you still interested in working on this? The repo is multi-module now, so we could potentially create a module which doesn't use Jetty.

[2020-04-20 08:28] tipsy opened #935 "Create javalin-without-jetty module"
**Updated description:**
99% of Javalin users use Javalin with Jetty, but there is a small subset of users who use it with Tomcat (or other web-servers). Currently using Javalin without Jetty is made possible by excluding Jetty dependencies, since all objects that use Jetty classes are null by default.

We want to create a module, **javalin-without-jetty**, which makes life easier for these ”jetty

[2020-04-20 08:39] tipsy commented on #913
I've removed the deprecation on `Brotli` now (and added an overload for doing `config.compressionStrategy(CompressionStrategy.NONE)`).

[2020-04-20 10:21] mvysny commented on #935
Sorry @tipsy the current situation is quite crazy (kids being at home), I can't really take additional tasks right now.

[2020-04-20 10:48] tipsy commented on #935
No problem @mvysny ! Keep safe :)

[2020-04-20 10:54] mvysny commented on #935
Thank you, you too ☺️

[2020-04-21 06:39] chsfleury commented on #935
Can you explain the feature @tipsy ?

[2020-04-21 06:50] chsfleury commented on #933
I think it's betweend log4j2 and logback
https://stackify.com/compare-java-logging-frameworks/

[2020-04-21 07:02] mvysny commented on #935
The original feature request is probably #402 . In general, sometimes we need to embed Javalin as a part of a bigger app into a WAR running on e.g. Tomcat. However, Javalin pulls in Jetty jars, which is unwanted in such scenario.

My first idea would be to extract parts of Javalin not directly depending on Jetty into e.g. a `javalin-core` Maven module, then have the `javalin` module which depends

[2020-04-21 07:20] chsfleury commented on #935
The option with `javalin-core` offers better evolutivity (sun server, undertow, tomcat, netty ?), but need a lot more work. I can look at this without promise of success ;)

[2020-04-21 07:32] tipsy commented on #935
@chsfleury Unless you have a lot of time to work on this, I would advise against creating `javalin-core` at this point, Jetty was intended to be a hard dependency, and 99% of users are happy with it. Untangling it will be a lot of work, but if you are determined to do it I can tell you where are all hard dependencies are :)

[2020-04-21 07:34] tipsy commented on #933
I'm happy with either ! I know way more people who use logback than log4j2, but that's anecdotal. I wasn't able to find any reliable survey number for it.

[2020-04-21 07:45] chsfleury commented on #935
Ok :sweat_smile:

[2020-04-21 19:16] RalphSteinhagen commented on #910
I guess this is not an issue, more of aa Q&A. Thanks again for your quick help.

Btw, I am integrating Javalin as the REST/HTML back-end for our Java-based microservices.
Keep up the good work! :+1:

[2020-04-21 19:16] #910 closed

[2020-04-21 19:20] tipsy commented on #910
Cool! Have fun :)

[2020-04-21 21:30] #769 closed

[2020-04-21 21:39] tipsy commented on #931
JDK 13 was only added to the test-matrix on GitHub, so that shouldn't matter. I really don't see any reason why it should work in 3.6.0 and not in 3.7.0.

I think that if it's possible to get Scala to work with the current API (as this would indicate), then we shouldn't add any lodash methods or advice users to stick to an old version. We just have to find out what's causing the issue. Unfortunate

[2020-04-22 06:23] richarddd commented on #776
@tipsy Yes! Sorry for being so "late" to the party, I have been extremely busy (buying a house, moving, work etc, etc). It would be much easier now since its multi-module. I'll look into it :)

[2020-04-22 07:12] tipsy commented on #776
No problem, congratulations on the new house!

[2020-04-22 11:40] CrlH commented on #776
Thanks @richarddd! :+1:

[2020-04-23 16:49] juv opened #938 "Overriding the output of HttpResponseException?"
Hi,
is it possible to override the general output of all HttpResponseExceptions, such as BadRequestException and ForbiddenException?
Usecase: I'd like to have my JSON exception responses to not include the "docs" field.

Ty

[2020-04-24 13:13] tipsy commented on #938
You should able to overwrite them using `app.exception(Class, Handler)`.

[2020-04-25 05:21] overlandandseas opened #939 "ctx.queryParam default expects a string"
**Actual behavior (the bug)**
When defining a default query parameter. on a Context object.
`val qty = ctx.queryParam<Int>("qty", 12).get()`
We are met with the message `The integer literal does not conform to the expected type String?`
currently able get around this using
`val qty = ctx.queryParam("qty", "12")?.toInt() ?: 4`
which doesn't seem ideal

**Expected behavior**
From the example on http

[2020-04-25 06:41] tipsy commented on #939
It's more of an odd behavior than a bug. I don't remember why it was made like this, but it was intentional (probably backwards compatibility?).

If you want to make a PR I can merge it for 4.0 (but that will be a while, I think).

[2020-04-25 08:32] juv commented on #938
That works good enough, thanks

[2020-04-25 08:32] #938 closed

[2020-04-25 18:26] overlandandseas commented on #939
Gotcha, should the documentation be changed as well to reflect the current version?

[2020-04-25 19:17] tipsy commented on #939
😬

Yeah, if it's wrong that should definitely be fixed. I can have a look tomorrow.

[2020-04-26 11:09] ashwinbhaskar opened #941 "Getting exception Cannot call start() again on a started server inspite of stop() being called before start()"
**Actual behavior (the bug)**
I get the exception `java.lang.IllegalStateException: Cannot call start() again on a started server.` even though `app.stop()` was called when the second test runs.

**Expected behavior**
`app.start(9001)` should work if called after `app.stop()`

**To Reproduce**
In `beforeEach` section of your test suite add the following lines of code
[code]
where `app` refers to t

[2020-04-26 11:25] tipsy commented on #941
@ashwinbhaskar The server is not intended to be "re-started" once it has been started. You should make a new instance :)

[2020-04-26 12:18] ashwinbhaskar commented on #941
@tipsy are you sure about that? These set of tests had passed for me earlier here

https://github.com/ashwinbhaskar/hydra-java/blob/master/src/test/java/HydraClientImplTest.java

But I had written this in Java and with org.junit

[2020-04-26 12:39] tipsy commented on #941
I'm sure about the intention. I never planned on having "restarts" for a server, so when you do `stop()` the server is not supposed to be used anymore. It might still work, my recommendation is that you create a new instance.

[2020-04-26 12:41] ashwinbhaskar commented on #941
@tipsy got it:)

[2020-04-26 12:42] ashwinbhaskar commented on #941
@tipsy was there a specific reason for not allowing it to restart? Also, can the error message in the exception be changed to reflect this intention (I can raise a PR for that if you'd like)?

[2020-04-26 13:10] tipsy commented on #941
No reason particular, there are just a lot more things to consider if you allow restarts.

That would be great!

[2020-04-27 01:31] ashwinbhaskar commented on #941
@tipsy Have raised this pull request - https://github.com/tipsy/javalin/pull/942

[2020-04-27 12:20] #941 closed

[2020-04-28 07:13] Mkohm opened #943 "Integration with detekt-hint"
Hi!

I am working on a tool for detection of violations on design principles in my master thesis  for NTNU (read more about it https://github.com/Mkohm/detekt-hint), and is looking for an open source project where I can integrate my tool for some feedback and testing. Would you welcome such an integration? It would mean a lot, and I hope it can continue to improve the maintainability of this proje

[2020-04-29 12:44] tipsy commented on #943
Hi @Mkohm, please go ahead.

[2020-04-30 00:50] unaor opened #944 "More extended uses example in docs"
Coming from the spring world i find javalin refreshing but documentation is lacking, Could you please add logging and persistence examples to the tutorials

[2020-04-30 01:30] tomansill opened #945 "How to perform a HTTP/2 Server Push"
I am looking to have my web server running Javalin to programmatically perform a HTTP/2 Server Push so I can push content that I know clients would be likely need following receiving response for their original request.

Is this possible in Javalin? Does it have to do with attaching `Link` header to response object?

Can anyone provide an example if it's actually possible.

Thank you

P.S. I have

[2020-04-30 06:06] tipsy commented on #945
I would imagine it's possible, but I'm not sure. Try googling "http2 push jetty", if you get a tutorial saying it works, it most likely is possible in Javalin too.

[2020-04-30 08:52] #943 closed

[2020-04-30 09:22] tipsy commented on #943
@Mkohm I added a commit to https://github.com/tipsy/javalin/pull/940, but it doesn't seem like the bot picked up on it.

[2020-04-30 09:29] Mkohm commented on #943
Hmm, strange. I will look into it.

[2020-05-01 23:06] MrThreepwood opened #949 "Kotlin Specific Route Functionality Additions"
At our company we've been using javalin fairly heavily and I've begun adding some functionality to routing using kotlin's inline funcitons with reified generics. We are able to do some fairly cool things with this that I thought I'd just bring up.

[code]

Because we are capturing the request type and the response type we are able to deserialize the request body and call validate on it (which is p

[2020-05-01 23:49] tipsy commented on #949
That's really cool, although it goes a little against Javalin's philosophy (simple and explicit). The repo is multi-module now though, so that does open up for the possibility of releasing more exciting things like this. I'll put an `INPUT WANTED` label on it. I think it would be helpful if you could write out how the function would look in plain Javalin vs with your abstraction layer.

[2020-05-03 10:20] Mkohm commented on #943
In desperate need of feedback on this tool; Can i create comments on pull-requests as if the integration was working? Manually posting comments with another user, just as if the tool were integrated and working automatically.

[2020-05-03 10:43] pkkummermo commented on #943
I'd recommend to do a fork of Javalin and test this integration there, as it feels somewhat wrong to use the main project as a testing project for a plugin. However, on a fork you can do pretty much anything that you'd like and it could be an excellent demonstration on how it should work in a real life scenario :)

[2020-05-04 13:35] #933 closed

[2020-05-04 14:08] k3vur commented on #839
Hi,

I stumbled upon this for similar reasons as lulzmachine. I'm using jOOQ and investigating how to best handle SQL transactions and toying with the idea of using ThreadLocal based transaction management.

Does this also apply to async responses / `ctx.result(someCompletableFuture)`?
I would suspect no, but to be safe?

[2020-05-04 14:48] tipsy commented on #839
You're correct, this works differently for async. The thread is released when Javalin is treating the "endpoint" handler (`get`/`post`)

[2020-05-04 15:04] k3vur commented on #839
Thanks for the quick response!

[2020-05-04 19:05] tipsy commented on #939
Better late than never! Fixed in https://github.com/javalin/javalin.github.io/commit/32f5eddebfcf07ff6fc4051d8248520ed1c5e634

[2020-05-04 19:05] #939 closed

[2020-05-05 17:25] tipsy commented on #935
I'll have a look at this now.

[2020-05-05 17:36] MrThreepwood commented on #949
Sure, here's a quick example. The first one is the new option. The region in equivalent routes has two examples. One is the standard way, the other is a small tweak on how we normally do controllers. One of the other things we noticed that surprised us a bit (not necessarily a problem) was that each of our handlers was essentially a singleton for the route. We hadn't seen that before in other fram

[2020-05-05 18:05] tipsy commented on #935
I added `javalin-without-jetty` in https://github.com/tipsy/javalin/commit/6b9a3b4f54521cf25acbc5b93ab9e39279faf5cc. I'll see if there's some sneaky way to remove the methods that we don't want.

[2020-05-05 20:36] tipsy commented on #913
@champloo11 Did you find a solution to this?

[2020-05-06 07:41] tipsy commented on #935
I receive this suggestions:

* Javalin-without-jetty pom file declares a  `provided` dependency on javalin
* javalin-without-jetty defines the shade plugin including all the contents of the javalin artifact excluding Javalin.class
* The Javalin source file defines start and end blocks which will not be included in the compilation for Javalin. Something like //@start-jetty  and  //@stop-jetty  arou

[2020-05-06 07:54] mvysny commented on #935
Ouch, it's getting more complicated and hacky imho... At this point perhaps the `javalin-core` approach is more viable, even though it's more work? We can maybe do this in stages:

1. Create javalin-core, move all code there and make `javalin` an empty jar with just a dependency on javalin-core. We can do this in one huge commit.
2. Slowly start moving Jetty-related code to javalin. We can do this

[2020-05-06 08:07] tipsy commented on #935
Definitely, but I would much rather have some nasty hacks in `javalin-without-jetty` than make the overall project structure cater to the 1% who need this 🤔

Unless everything (including WebSockets and static files) will work without Jetty, I don't think splitting is a good idea.

[2020-05-07 12:15] MrMati opened #951 "Server header"
This should be optional.

`ctx.header(Header.SERVER, "Javalin")`

https://github.com/tipsy/javalin/blob/master/javalin/src/main/java/io/javalin/http/JavalinServlet.kt#L76

[2020-05-07 17:40] tipsy commented on #951
You can override it.

[2020-05-07 19:30] tipsy commented on #935
Amazingly, this seems to work:

[code]

[2020-05-07 19:34] tipsy commented on #935
I almost can't believe it.

[2020-05-07 20:39] tipsy commented on #935
Made all the useless methods on Javalin private here: https://github.com/tipsy/javalin/commit/be67c1a15b84068375eb04de3f9ec158c64e7e26

[2020-05-07 20:40] tipsy commented on #935
Should have a look at `JavalinConfig` and `Context` next, then I think this is done.

[2020-05-07 20:41] tipsy commented on #935
If someone knows how I can move these `<replace>` statements into a separate file, I would appreciate a hint.

[2020-05-07 21:10] tipsy commented on #935
`JavalinConfig` fixed: https://github.com/tipsy/javalin/commit/caa52ec2bc3710514e1a59a884f232157a6a867a

[2020-05-08 06:57] tipsy commented on #935
@mvysny I know you're not a fan of the approach, but can you test the module and see if you're happy with the result? :)

[2020-05-08 09:22] silvanheller commented on #113
For anyone landing here in 2020 - the issue has long been fixed, but make sure that `enableCorsForAllOrigins()` is done before starting the server, afterwards it has no effect.

[2020-05-08 11:19] mvysny commented on #935
@tipsy Haha :-) I don't mind the solution unless I have to maintain it :-p Sure thing, I'll give it a go and let you know. Today, hopefully tomorrow latest.

[2020-05-08 14:41] mvysny commented on #935
Tried to quickly integrate `javalin-without-jetty` with vok and found one potential issue.

I have a `vok-rest` module which is a reusable library, adding functionality on top of Javalin. Naturally `vok-rest` will now depend on `javalin-without-jetty` since the module should be usable in both scenarios.

However, at the same time I wish to test the module. I use full-blown Javalin with Jetty to te

[2020-05-08 16:50] tipsy commented on #935
This sounds a bit like it's an edge-case on top of another edge-case 😅

I don't really know how the methods can both be there and not be there at the same time. You could write a small Jetty server and attach the `JavalinServlet` to it manually for your tests?

[code]

[2020-05-08 17:55] tipsy commented on #356
After two years, this can finally be closed 😁

[2020-05-08 17:55] #356 closed

[2020-05-08 17:56] tipsy commented on #776
You might be interested in the `javalin-without-jetty` module @richarddd,

[2020-05-08 17:57] tipsy commented on #913
I'm going to close this issue now, but please feel free to post an update when/if you have one.

[2020-05-08 17:57] #913 closed

[2020-05-08 18:01] tipsy commented on #951
I just checked, and if I remove that line the header is set to `Server: Jetty(9.4.28.v20200408)`, which is worse. I suggest you overwrite it with your own custom value.

[2020-05-08 18:02] #951 closed

[2020-05-08 18:34] tipsy commented on #890
I'll close this now @uover82, but feel free to post an update if/when you have one :)

[2020-05-08 18:34] #890 closed

[2020-05-08 19:58] mvysny commented on #935
That's because there are both `javalin-without-jetty.jar` and `javalin.jar` on test classpath; the classpath order now tells which Javalin class from which jar gets loaded, which is quite fragile.

I agree that my example is a bit far-fetched. More realistic example would be to build a reusable library on top of Javalin, used by some app. If the library uses `javalin-without-jetty` and the app use

[2020-05-08 22:25] tipsy commented on #935
I was imagining one project wanting to both depend on `javalin-without-jetty` and `javalin` directly, which made no sense to me. I suppose you have a somewhat valid case with your tests, but IMO it makes more sense to mount Javalin manually to Jetty there.

For `javalin-without-jetty` being pulled in as a transitive dependency, I think using exclusions is fine. I feel like we're approaching a terr

[2020-05-08 22:25] #935 closed

[2020-05-08 22:38] tipsy commented on #867
Is there still interest in having something like this added?

[2020-05-08 22:45] tipsy commented on #944
Closing this in favor of https://github.com/tipsy/javalin/issues/918

[2020-05-09 01:03] bluedevil2k commented on #867
If it was there, I’d use it. I assume a lot of people would need it given it’s the preferred authentication system for micro services, it’s surprising to me that no one else has asked for this or commented on my PR.

Mike A

[2020-05-09 08:18] #944 closed

[2020-05-09 09:47] tipsy commented on #876
I have a new proposal for this here: https://github.com/tipsy/javalin/pull/954

[2020-05-09 16:07] DanielWaltherCode opened #955 "Global css styles with vue"
Hi!

I really like the idea of serving Vue components through Javalin and now wanted to do a slightly bigger project with this setup. I am wondering about how to reuse code though. Specifically, if I want a global "main.css", how should this be referenced from layout.html? Using "<link rel="stylesheet" href="style/main.css">" seems not to work -- in fact, this seems to point a subdirectory of the

[2020-05-09 16:58] tipsy commented on #955
Hi @DanielWaltherCode! If you want a separate stylesheet you can host it like a normal [static file](https://javalin.io/documentation#static-files) and reference it in your `layout.html`. Due to how the plugin is built you can also create `styles.vue` and just have a`<style>...</style>`  tag with your styling inside (this will cause all styling to be bundled inline).

Yes, define your component li

[2020-05-09 17:23] tipsy commented on #945
Should work, although you don't be writing any Javalin specific code: https://stackoverflow.com/a/35435890/7916291

[2020-05-09 17:23] #945 closed

[2020-05-09 18:31] DanielWaltherCode commented on #955
Ok, great, thanks for answering! That idea with just using static files was clever, I haven't quite understood the flow of data yet between the vue files in the resources folder, the general web server, the $javalin object in the vue files and the @componentRegistration annotation. But from your second comment I guess that Vue.components are made globally available through the componentRegistratio

[2020-05-09 18:38] vn7n24fzkq commented on #892
Thanks for review.
Because static file actually response at this line https://github.com/tipsy/javalin/blob/57b26d3b529b1c03806fe339488c6f0b8b03f09f/javalin/src/main/java/io/javalin/http/staticfiles/JettyResourceHandler.kt#L72
and it doesn't process in JavalinResponseWrapper, so here are duplication code.
For those static files which need content-length, maybe we can let them don't work with compr

[2020-05-10 12:23] DanielWaltherCode commented on #955
One additional question -- serving the css file as a general static file works, but it's content-type is set to text/html, meaning my frontend doesn't interpret it as a css file.

When looking into the documentation for addStaticFiles() I couldn't figure out a way to explicitly set the content-type. Is there an easy way to accomplish this?

[2020-05-10 12:27] DanielWaltherCode commented on #955
It should also be mentioned that your second solution with having a styles.vue component with unscoped css also worked well out of the box

[2020-05-11 20:01] RalphSteinhagen opened #956 "OpenAPI plugin: 'non-static' and/or 'wrapped Handler' fields annotation HowTo"
Hi, I am familiarizing myself with the OpenAPI plugin API, notably using annotations and may need some nudge/guidance on how to use the annotation API for non-static and wrapped `Handler` endpoints.

Inspired by the [tutorial](https://javalin.io/tutorials/openapi-example) and documentation [snippets](https://javalin.io/plugins/openapi), I crafted a MVP using a `Handler` that is defined via a `fina

[2020-05-12 08:00] hhhxxjj opened #957 "Sent non-empty 'Sec-WebSocket-Protocol' header but no response was received"
**Actual behavior (the bug)**
using Chrome, connection websocket server by Javalin, I got:

mqttws31.min.js:36 WebSocket connection to 'ws://127.0.0.1:10083/_webSocket' failed: Error during WebSocket handshake: Sent non-empty 'Sec-WebSocket-Protocol' header but no response was received
k._doConnect @ mqttws31.min.js:36
k.connect @ mqttws31.min.js:31
I.connect @ mqttws31.min.js:65
(anonymous) @ x.h

[2020-05-12 09:06] PedroD opened #958 "OpenAPI ignores optional JSON parameters"
https://stackoverflow.com/questions/61696873/why-isnt-swagger-detecting-optional-json-properties

[2020-05-12 15:50] kial1 opened #961 "How to enable SSL on Cloudflare"
**Describe your question**
How can I enable SSL support (with cloudflare)?

~kial1

[2020-05-12 17:06] kial1 commented on #961
@tipsy Do you know a answer?

[2020-05-12 17:17] kial1 opened #962 "HTTPS Support"
**Describe your question**
How can I setup https support for javalin? like letsencrypt

[2020-05-12 17:23] a-leithner commented on #962
Take a look at [the example](https://github.com/tipsy/javalin/blob/master/javalin/src/test/java/io/javalin/examples/HelloWorldSecure.java) also linked in [Javalin's documentation](https://javalin.io/documentation#server-setup)...

Instead of JKS files you may also use PKCS#12 keystores which can be generated via OpenSSL, but there are enough resources on the internet on how to do that.

[2020-05-12 17:40] tipsy commented on #961
If you want SSL on Cloudflare that's not really related to Javalin. I'll close this issue since you created a similar one (https://github.com/tipsy/javalin/issues/962).

[2020-05-12 17:40] #961 closed

[2020-05-12 18:10] kial1 commented on #962
Why should I use PKCS#12?

[2020-05-12 18:34] #962 closed

[2020-05-12 19:12] MrThreepwood commented on #958
I answered the question in stack overflow, but I think this is likely actually a bug in:
https://github.com/derveloper/kotlin-openapi3-dsl

You might be able to get a better answer there (and it's more likely to get fixed). Essentially, I think the kotlin module is overriding the required parameter based on nullability. I know it's using nullability to decide whether or not a field is required, bu

[2020-05-12 19:19] MrThreepwood commented on #956
I'm not super familiar with this, and I'm not sure I'm understanding the results you're getting. I had assumed the annotations applied to the functions (serveTestPage1) and not the handlers they returned, so I'm a little surprised that the documentation would work at all?

Maybe I'm simply not familiar with the syntax though. Is this Java?

[2020-05-12 20:13] asad-awadia commented on #867
Yes. I was just about to clone the repo and add this myself lol - but searched for the issue lol

I prefer JWTs to regular sessions so having this would be really helpful

The following 4 functions would be a solid addition

[code]

[2020-05-12 20:48] asad-awadia commented on #918
Javalin allows for futures to be set as the resul

you could use the vertx postgres client and use the coroutine suspending bindings [or reactive] if you want to avoid callback hell

[code]

[2020-05-12 21:36] tipsy commented on #918
Just as an update: I intend to write a "Getting started with Javalin" which covers quite a bit more than the basic examples, but I don't know when that will be 🤔

[2020-05-12 23:27] rbygrave commented on #918
FYI: I'm the main contributor of https://dinject which is dagger2 like DI. DI as source code generation like Dagger2 but for server side use (lifecycle support etc).  You can find examples of that with Javalin use at:
https://github.com/dinject/examples

**Docs**:
- https://dinject.io/            (Just DI)
- https://dinject.io/docs/javalin/   (Rest Controllers using `@Get` `@Post` etc with DI)

FY

[2020-05-13 00:39] hhhxxjj commented on #957
The main request is the support for Sec-WebSocket-Protocol of RFC 6455.

Plz see:   https://tools.ietf.org/html/rfc6455#section-4.4

11.3.4.  Sec-WebSocket-Protocol

   This section describes a header field registered in the Permanent
   Message Header Field Names registry [RFC3864].

   Header field name
      Sec-WebSocket-Protocol

   Applicable protocol
      http

   Status
      standard

[2020-05-13 01:17] hhhxxjj commented on #957
The pseudo-code is as the following.  It seems should implement this logic in class JavalinWsServlet, I'll extend this class to have a try.

    var protocol = req.headers['sec-websocket-protocol'];
    if (protocol!=null) {
      protocol = protocol.trim().split(/ *, */);

      //
      // Optionally call external protocol selection handler.
      if (this.options.handleProtocols) {
        prot

[2020-05-13 02:50] hhhxxjj commented on #957
by add the following code in JavalinWsServlet, the problem can be fixed

            // hhh, 2020.5.13
            val s = req.getHeader(WebSocketConstants.SEC_WEBSOCKET_PROTOCOL)
            if (s != null) {
                val list = s.split(',').map{it.trim()}.filter { it!="" }
                if (list.isNotEmpty())
                    res.setHeader(WebSocketConstants.SEC_WEBSOCKET_PROTOCOL, li

[2020-05-13 07:13] RalphSteinhagen commented on #956
@MrThreepwood, yes this is Java (or at least I hope it is :smirk:). Since the handler aspect of the code compiles and executes as expected, this IMHO seems to point to an OpenAPI plugin reflection/annotation parsing feature.

From a reflection point-of-view, the `static` keyword or the `@OpenApi`annotation for that matter are a priori just another decoration of the member field variable. In the ab

[2020-05-13 10:31] buckelieg opened #964 "Get all registerd routes"
Add method to retrieve all mapped routes with all http request types.

Intended to be used to create an admin page with route-to-role configuration.
See similar issue [here](https://github.com/perwendel/spark/issues/1006)

[2020-05-13 10:56] ILyaCyclone opened #965 "Documentation / Servlets and Filters link leads to 404"
From https://javalin.io/documentation

Link leads to github 404.

[2020-05-13 11:26] tipsy commented on #965
Thanks, will fix shortly. Just search through the repo for the file for now.

[2020-05-13 11:27] tipsy commented on #964
Use the route overview plugin: https://javalin.io/documentation#route-overview-plugin

[2020-05-13 11:30] tipsy commented on #964
Oh, you want to access them through code? You can look at the implementation of the route-overview-plugin in that case. It uses handler-added events: https://javalin.io/documentation#lifecycle-events

[2020-05-13 13:28] buckelieg commented on #964
I want to, in case of using javalin, write an AccessManager that filters requests using configuration from databse, ehich in turn is managed through UI. So that to create such a page I need to obtain all routes that was declared in the javalin. Spark lacks such feature and I am looking to change framework to another one and javaling semms to be an option. I want to be sure this can be implementd w

[2020-05-13 22:37] ILyaCyclone commented on #965
Guess the link should lead to this file: https://github.com/tipsy/javalin/blob/master/javalin/src/test/java/io/javalin/examples/HelloWorldServlet.java

[2020-05-13 22:57] tipsy commented on #965
You are correct. I've gone through the docs and fixed all the broken links now (hopefully!).

[2020-05-13 22:58] tipsy commented on #964
Sounds doable.

[2020-05-13 23:02] rolfyone opened #966 "Openapi response object properties"
I'm trying to at a minimum add a description to a property of a returned object, so that I can give users context of what they're trying to return, but I'm having no luck.
I've tried Jackson Annotations like `@JsonPropertyDescription`, and I've tried swagger annotations like `@Parameter(schema=@Schema(description="foo"))` but nothing seems to influence the generated swagger document.

Is there an

[2020-05-14 09:11] #965 closed

[2020-05-14 15:16] RalphSteinhagen commented on #956
@TobiasWalle and/or @chsfleury, could you maybe help with this issue.

After some debugging, I may have narrowed it down to the fact that above case 2 and 3 are 'anonymous non-static functional lambdas' which seem to be omitted in the handling functions

https://github.com/tipsy/javalin/blob/314e453a733449d5862e415ce9b0b96318a67e87/javalin-openapi/src/main/java/io/javalin/plugin/openapi/dsl/extrac

[2020-05-14 15:40] chsfleury commented on #956
the `when` expression chooses the `else` case ?
or `handlerReflection.isJavaAnonymousLambda -> null // Cannot be parsed`

[2020-05-14 20:36] MrThreepwood commented on #956
Sorry, it's been a while since I've used Java and I was expecting method references as I don't think I've ever seen this particular setup before. It does look like in Java it has to actually be an actual handler instance or method reference. You're annotating a variable, but you're not passing that variable to get(), you're passing the value of the variable. And the values are not annotated.

I'm

[2020-05-14 20:49] MrThreepwood commented on #966
I believe it's just `@Schema(description = "some description")`. At least in kotlin I don't need the @Parameter. What are you seing in the documentation? Is it at least picking up the class correctly?

[2020-05-14 22:07] rolfyone commented on #966
yep the committee snippet at the end is the schema definition i'm getting for the committee, with the extra fields. So the schema entry is there, and it's referenced from the API, but I can't add the extra context.
I Annotated as suggested and it has come through to the schema! So that's awesome! Thanks for the suggestion. (I added example below, it works too :) )
[code]

[2020-05-14 22:07] #966 closed

[2020-05-15 05:51] RalphSteinhagen commented on #956
@MrThreepwood, you most certainly can annotate variables and fields in particular.

For example, add the following simple snippets to the constructor:
[code]
and you'll get the following output and correct `@OpenAPI` annotations for the handler:
[code]
Note the custom content of the `@OpenAPI` annotation.

What puzzles me, is that it works for the first case, but not the second (the `static` keywo

[2020-05-15 22:12] MrThreepwood commented on #956
Yes, you CAN annotate variables and fields, what I'm saying is that you are not PASSING the variable or field.

[code]

If you look at the above, you aren't passing your class, and you aren't passing a reference to your fields. When calling get it doesn't pass serveTestPage1, it passes the VALUE of serveTestPage1. If we wrote get as
`get(String url, Handler handler,) { handler = new SomeHandler()}

[2020-05-16 16:34] RalphSteinhagen commented on #956
@MrThreepWood, that's partially true.

Yes, Java passes variables by VALUE. However, besides primitives, most of these values are references to objects and thus retain most of their class information/annotation properties and relationships to other classes within the JVM which can be accessed via reflection (N.B. the '`serveTestPage...`' in the above example are actually fields, see also code furt

[2020-05-17 08:05] tipsy opened #970 "Reconsider exception-handlers"
Currently, Javalin will only run the closest matching exception handler. From the docs:

[code]

This could be a bit annoying to deal with, especially when developing plugins (as pointed out by @jkschneider in https://github.com/tipsy/javalin/pull/959)

Should multiple exception handlers be allowed to run per exception?

Should we have something like `next()`/`done()` ?

This would be a breaking c

[2020-05-17 09:44] tipsy commented on #964
I'll close this now, but feel free to comment if you have any follow-up questions.

[2020-05-17 09:44] #964 closed

[2020-05-17 09:46] tipsy commented on #955
I'll close this now @DanielWaltherCode, but feel free to keep commenting on the issue if you have more questions.

[2020-05-17 09:46] #955 closed

[2020-05-17 09:48] tipsy commented on #876
Merged #954

[2020-05-17 09:48] #876 closed

[2020-05-17 10:05] tipsy commented on #956
@RalphSteinhagen  Very nice work on investigating this! I'm a bit busier than usual these days, so I can't implement the solution myself, but this will make it a lot easier for whoever steps up.

@sealedtx, you did a lot of good work OpenAPI plugin before, could you have a look at this?

@RalphSteinhagen I can give you some advice you probably don't want to hear: IntelliJ makes working with Kotlin

[2020-05-17 10:23] tipsy commented on #523
Hi again @h7kanna, this has been open for a year now. Maybe we should close it and rather re-open the issue if/when `opentelemetry-java` is ready?

[2020-05-17 10:26] tipsy commented on #867
Okay, seems there's still interest in this. Feel free to create a PR.

You can submit a PR with Java code, that's not a problem!

[2020-05-17 13:41] RalphSteinhagen commented on #956
@tipsy don't worry, your advice is valid and well taken. I am not an Eclipse evangelist nor particularly fond of it. We use it for more pragmatic/organizational reasons, as some of my colleagues made a blood-curdling oath upon it and refuse to support anything outside that realm.

My co-conspirators and I are working mostly in Java, C/C++, and some increasingly also in Python. Eclipse with its too

[2020-05-17 16:25] sealedtx commented on #956
Hi @tipsy, I reviewed this issue and dived into source code. After debug I faced with a strange situation which I don't know how to explain, because I am not an expert in Java reflection. As I noticed the reason why non-static lambda field is ignored is inside `ReflectionUtil.lambdaField` where `ReflectionUtil.javaFieldName` is called:
https://github.com/tipsy/javalin/blob/1872e25a266432e0156aceb4

[2020-05-17 18:29] RalphSteinhagen commented on #956
@sealedtx a big thank you for looking into this. :+1:

I presume the `it.get(it) == this` issue you describe is related to what I mentioned above

The object reference in `get(it)` works only because 'it' is static (ie. globally defined) and ignored according to the docs at [`Field::get(Object)`](https://github.com/openjdk/jdk/blob/9efdaacc31696b762bee25ea5c74dc1f514905fe/src/java.base/share/class

[2020-05-17 19:23] jkschneider commented on #970
One thing to add here... the default exception handler yields an HTTP 200. How should exception handlers be ordered such that different handlers affecting `ctx` in different ways yield predictable behavior?

[2020-05-18 19:37] richarddd commented on #776
Cool! I started looking into doing this properly but I really s**k at maven :( Gradle (or even kotlin in grade) is my build tool of choice. I someone is interested I can share my findings/experiments and I'm sure we'll figure something out.

Sorry for taking so long but I have had a few crazy months at work...

[2020-05-18 20:52] tipsy commented on #776
What is your maven issue?

[2020-05-18 23:52] h7kanna commented on #523
yes. I am closing this. Will reopen when opentelemetry-java is GA

[2020-05-18 23:52] #523 closed

[2020-05-19 19:04] MrThreepwood commented on #956
That's essentially what I was getting at. Since your annotation isn't on the thing that's being passed, and the thing that's being passed can't directly reference the annotation, you're now just looking for any open api annotation that matches your path. At that point, why bother annotating the variable that stores the lambda? You could put it anywhere. This also doesn't work if the lambda being b

[2020-05-20 04:31] gane5h opened #972 "Pagination"
**Is there a best practice for handling pagination?**

Perhaps using an off the shelf middleware?

Minimum requirements:
I want to specify offset / limits as query parameters that I can use in my SQL.

Advanced:
Cursor-based pagination

[2020-05-20 05:59] RalphSteinhagen commented on #956
@MrThreepwood usually annotations are defined close to where the object of interest is being defined. For most annotations, this is even a mandatory condition.

I personally found these OpenAPI annotations appealing since through this the meta-information is defined close to where the relevant `Handler` code they document is and not -- for example -- split when refactoring occurs. This minimizes a

[2020-05-20 07:31] tipsy commented on #972
No, there's nothing in Javalin related to this (or databases in general).

[2020-05-20 07:43] tipsy commented on #956
I definitely want the annotations to work for any type of `Handler`, no matter if it's static or non-static. I would consider this a bug.

[2020-05-20 08:31] thetric opened #973 "Regression: JSON is serialized using the platform default encoding instead of utf-8"
**Actual behavior (the bug)**
[code]

**Expected behavior**
[code]

**To Reproduce**
[code]

- OS: Win 10 1909
- JDK: AdoptOpenJDK (build 14.0.1+7)

**Additional context**
This seems to be a regression from https://github.com/tipsy/javalin/issues/346

[2020-05-20 16:29] gane5h commented on #972
I'm familiar with Spring's `PagingAndSortingRepository` – do you know of something like that I can use here without pulling in all of Spring's dependencies?

I understand this has nothing to do with Javalin. But I think capturing this here will be useful to future users who are searching GH's issues.

[2020-05-20 17:41] felipewom commented on #972
Spring's PagingAndSortingRepository will do all the work for you, but it will cost you a lot with your application's memory consumption ...

You can create DTO to receive the data and use your logic to search for the data according to the request parameters

Extension method to get params from request
`
fun Context.getPageable(): Pageable = use(Pageable::class.java)
`

Pageable DTO
`
/**
 * Data c

[2020-05-20 18:00] gane5h commented on #972
Thanks @felipewom.

Yeah, that's my concern with pulling in Spring. I'm using Javalin for a reason and it defeats the purpose.

Thank you for the code snippet. I love it.

One question: What's an extension method here?

`fun Context.getPageable(): Pageable = use(Pageable::class.java)`

[2020-05-20 18:03] MrThreepwood commented on #956
The issue here isn't whether or not it's static really, the issue is that the annotation isn't applied to the handler at all in the case of a variable reference.

I was surprised to learn that method references in Java also don't actually retain a link to the method they're referencing, meaning that realistically annotating a method for this purpose is no different than annotating a random field,

[2020-05-20 20:18] chrisawad commented on #773
I'm having this issue also and I'm very confused at this comment:

Why exactly is it ok that it's blank during request logging? The purpose is to log the request.... If it's not there, whats the point?

What I am quickly finding out is that the default implementation isn't making it easy to log requests and handle them.

If you ask me the whole idea of having any kind of cap for the request body w

[2020-05-20 20:38] thibaultmeyer opened #974 "Using validator without exception"
**Describe the feature**
when a form contains several fields, it is irritating to have only one error at a time when the whole form is wrong. It would be interesting to have the possibility to check the validity of fields, without the need for an exception, for example by adding an isValid method that only returns a boolean.

By exemple, in case of a subscription form, user can't give bad data for

[2020-05-20 20:53] lucaro opened #975 "Error during WebSocket handshake in Chrome"
Disclaimer: this might be an issue with how javalin uses jetty or it might be an unrelated jetty issue, but I couldn't come up with a way to tell the difference. The problem is that I'm unable to establish a wss connection to a javalin endpoint using Chrome. Wss works as expected in Firefox and http, https and ws connections work without any issue in both browsers. Chrome does however always retur

[2020-05-20 21:05] tipsy commented on #773
You can adjust the cache size using `config.requestCacheSize = ...`

I originally cached every request body regardless of size, but someone pointed out that it was a dangerous implementation because it would be easy to dos the server by sending it large request bodies. I'm not sure if the difference between discarding the body after `ctx.body()` vs at the end of the request lifecycle is significan

[2020-05-20 21:09] tipsy commented on #773
I guess I could have worded that better. I was trying to say that your application logic is more important than your logging, and that logging all request bodies without setting any sort of max-size probably isn't a great idea.

[2020-05-20 21:10] tipsy commented on #974
@thibaultmeyer Good idea @thibaultmeyer, thanks! Would you like to submit at PR ?

[2020-05-20 21:16] tipsy commented on #975
Does it work fine without SSL? How about without HTTP2?

Can you try to recreate the error without Javalin by creating a minimal working example with raw Jetty? https://jansipke.nl/websocket-tutorial-with-java-server-jetty-and-javascript-client/

[2020-05-20 21:52] rbygrave commented on #972
As an FYI / note: <https://dinject.io/docs/javalin/beanparam>

DInject Javalin generator has @BeanParam (just like the JAX-RS @BeanParam)
... so that is one way to easily reuse common parameters like (firstRow,
maxRows, sort, filter etc).  You might be able to do something similar.

https://dinject.io/docs/javalin/beanparam

On Thu, 21 May 2020 at 06:00, Ganesh Swami <notifications@github.com> wro

[2020-05-20 22:07] thibaultmeyer commented on #974
Hello,

i can try.

[2020-05-21 01:32] MrThreepwood commented on #970
For the projects we've done we've always handled multiple expected exceptions that parse the exception into a specific response and status, and one that is a fall back in case no better exception would be handled (which turns into a 500, sorry something went wrong).

It seems reasonable to think most of these handlers would be handled separately, I would have been very surprised if multiple handle

[2020-05-21 01:39] MrThreepwood commented on #972
@gane5h @felipewom's example is in Kotlin. Extension methods a way to "place method" on classes you don't own. In this case the extension method just adds a convenience method on Javalin's Context class to get pagination information.

If you're not familiar with Kotlin it would be the same as:
[code]

[2020-05-21 01:59] MrThreepwood commented on #974
Validations are currently chainable to add many rules. I think it'd be cool if instead of having a isValid it had a collect failures that returned a list of messages from failed validations, as wouldn't be able to use the chaining functionality even with isValid if you are trying to give all potential errors back to a user for a specific field.

In the case of a body it gets a little more complica

[2020-05-21 09:03] lucaro commented on #975
It works fine without SSL. It also does not work without HTTP2 and with SSL, the other way around is not testable since Chrome does not do HTTP2 over unencrypted connections. The error does haowever change to `Connection closed before receiving a handshake response`.

The problem does however to be on the jetty and not on the javalin side. I built a minimal example based on the tutorial you linked

[2020-05-21 09:51] tipsy commented on #975
Nice work on the debugging! You should open and issue in the Jetty project, they're usually very responsive.

[2020-05-21 11:25] lucaro commented on #975
Done, see https://github.com/eclipse/jetty.project/issues/4900 for future reference. This issue can probably be closed. Depending on the solution, it might however be good to update the Javalin HTTPS guide accordingly.

[2020-05-21 12:02] tipsy commented on #975
Great! Please reopen the issue if we need to take any action in Javalin.

[2020-05-21 12:02] #975 closed

[2020-05-21 18:52] lucaro commented on #975
So, apparently, Websocket support for HTTP/2 will come with Jetty 10.0 and does not work with Jetty 9.4.25 as currently used by Javalin. Maybe a comment along these lines could be made to https://github.com/tipsy/javalin-http2-example ?

[2020-05-21 19:26] joakime commented on #975
You can try WebSocket over HTTP/2 now with Jetty 10.0.0.alpha2

[2020-05-21 19:41] tipsy commented on #975
That would be great @lucaro, please create a PR :)

[2020-05-21 20:23] lucaro commented on #975
@tipsy I added a note, see https://github.com/tipsy/javalin-http2-example/pull/1
@joakime Thanks, I'll look into it when I find the time. (The project I'm using it for needs to be deployed in a first version early next week, so it will be after that in any case.)

[2020-05-21 20:59] jkschneider commented on #970
This seems very reasonable!

[2020-05-21 21:17] tipsy commented on #970
I like the idea of adding a separate method, but it would be nice if it was named something like `exceptionXyz` to group it with the `exception` method. Any ideas?

[2020-05-21 21:32] jkschneider commented on #970
`exceptionListener`? Looking to other frameworks, I think `onException`, `doOnException`, etc. are popular choices as well.

[2020-05-22 07:33] gane5h commented on #972
Thanks guys. This gives me enough info to proceed. Closing the issue now.

[2020-05-22 07:33] #972 closed

[2020-05-22 08:37] tipsy commented on #973
I think in this particular case it's a CURL problem, not a Javalin/Jetty problem. JSON responses should not include a charset, as it can only be Unicode (as per the spec).

If you visit the URL in your browser, or use JavaScript to perform the request (`console.log(await fetch("/").then(res => res.json()))`), you'll see the expected output of `{"i":"öäü€"}`.

[2020-05-22 14:29] thetric commented on #973
Hm, kinda weird. I'm not able to reproduce this issue anymore. Even curl seems to work:

[code]

I'm not aware of any change that might have led to this.

[2020-05-22 14:29] #973 closed

[2020-05-22 17:57] MrThreepwood commented on #970
I'm not sure how best to make it clear to a user that one will be called all the time, and the other will only be called if something more specific is not called.

I do like listener. I also think that ideally things bound with the current exception() should probably be called after anything bound with this new method?

Do after filters run after the exception handlers? I assume they do. Since the

[2020-05-23 16:23] gane5h opened #977 "GraphQL example"
**I just saw that GraphQL landed in master. It'll be nice to have a tutorial on how to use this new feature. **

[2020-05-23 16:44] tipsy commented on #977
@7agustibm said he will write some documentation for the plugin :)

[2020-05-24 10:15] 7agustibm commented on #977
Created! Meanwhile, in the test folder there are examples of how it works. It is still necessary to add some details.

[2020-05-24 15:18] jkschneider commented on #970
There are probably cases to suggest this should work both ways. From my perspective as a metrics instrumentation library author, I would prefer listeners to be called after anything that currently implements `exception(..)`. Specifically, this is because my listener would be completing a timing operation on a REST endpoint, and I want to be able to tag this telemetry with the HTTP status code, whi

[2020-05-24 16:57] tipsy commented on #974
@MrThreepwood @cwildfoerster https://github.com/tipsy/javalin/pull/976 has been merged.

[2020-05-25 03:49] unaor opened #978 "Javalin with vue plugin results in bad rendering in legacy browsers"
Internet explorer 11 (and prehaps others) not working properly with Vue plugin
Im following the example found here
[https://javalin.io/tutorials/simple-frontends-with-javalin-and-vue] until the first part that is the hello world component
noticed that while on chrome its rendering the h1 tag (hello world) correctly in internet explorer
im getting double h1 elements
my java code looks like this
`pu

[2020-05-25 07:17] tipsy commented on #978
At the moment IE 11 is 7 years old. Try using `<script type="x/templates">` instead of `<template>`.

[2020-05-25 11:34] juv opened #979 "Mockito fails for reified kotlin methods in Java tests"
**Actual behavior (the bug)**
Running simple unit tests on Java with Mockito fails when mocking [the `.header()` method of class Context.kt](https://github.com/tipsy/javalin/blob/2df2fe0d05d47ae55afa9c1b8f1b1f03006da47d/javalin/src/main/java/io/javalin/http/Context.kt#L242-L243). Apparently Mockito can not choose the correct method to mock. This behavior is not 100% reproducible, it fails for 90%

[2020-05-25 12:21] unaor commented on #978
thank you it did the trick, trust me i dont like ie11 either but many of or corporate clients use it

[2020-05-25 12:21] #978 closed

[2020-05-25 13:21] tipsy commented on #979
Thanks @juv ! Would you like to submit a PR to add the sugested annotations?

[2020-05-25 13:32] juv commented on #979
@tipsy I've never written code in Kotlin, I'm unsure if all of those `reified` methods can be safely annotated or if that breaks something for users: https://github.com/tipsy/javalin/search?q=reified&unscoped_q=reified

IMHO, this should be done by someone that knows what he's doing

[2020-05-25 13:46] tipsy commented on #979
Fair enough @juv, I'll mark it as `HELP WANTED` and fix it myself if no one grabs it!

[2020-05-25 16:13] The-Funk opened #980 "Access Manager: Accept multiple roles?"
I wasn't sure if this was the right location to ask about this but I've been looking into the AccessManager code for Javalin and had a question.

If I need more granular access controls for a specific route, is it possible to grant multiple roles access to the same route? Could I replace the enum with a POJO or list of POJO's of my own creation such as "SecurityGroup"?

So for instance if I wanted

[2020-05-25 17:54] tipsy commented on #980
One of my Javalin apps allows users of the app to define `roles` that have a set of `rights` within the app. It works like this:

[code]

Access to endpoints is managed like this:

[code]

The `userHasMatchingRights` function checks if the user has a `role` which contains the `right` required to access the endpoint.

The `Role` interface in Javalin is empty, so it's pretty flexible. You don't have

[2020-05-25 18:21] tipsy commented on #974
I'll close this issue now, please re-open if there are any concerns.

[2020-05-25 21:37] tipsy commented on #979
@juv can you try depending on the current master using https://jitpack.io/#tipsy/javalin to see if it fixed your issues?

[2020-05-25 21:37] #974 closed

[2020-05-26 01:06] enalposi opened #982 "Exception occurred while servicing http-request"
Hi. I am getting the error below on 'get' although the client seems to still receive a response.
Unfortunately this happens right after ctx.result(<json_string>) after exiting my code. I have seen previous comments that this is related to an outdated Kotlin reference but all my Kotlin (1.3.61) relates to Javalin (3.8.0). Any ideas what is going wrong or how to investigate this further?
Thanks.

20

[2020-05-26 18:39] enalposi commented on #982
Looks like my library cache was corrupted. After cleaning and rebuilding this is gone.

[2020-05-26 18:39] #982 closed

[2020-05-26 18:52] MrThreepwood commented on #970
That makes sense, I was thinking I'd like things using exception() to have the final say in the output as having multiple listeners be handed the context and allowed to change things could make things difficult to track down, but I suppose people can choose to use it how they like and it does make sense to have a listener that's implemented largely for metric tracking/events to happen last.

That

[2020-05-26 19:14] tipsy commented on #982
Happy it solved itself!

[2020-05-27 18:33] #980 closed

[2020-05-27 18:34] tipsy commented on #977
This isn't really an issue, so I'll close it.

[2020-05-27 18:34] #977 closed

[2020-05-27 19:00] tipsy commented on #917
@juv did you solve this with https://github.com/FasterXML/jackson-dataformats-binary/tree/master/avro on your end?

[2020-05-28 10:48] juv commented on #979
tl;dr:
My unit test still fails with the version `master-javalin-3.8.0-gbe8910b-36`. My IntelliJ decompiler does not see the annotation `@JvmSynthetic` for the header() method of class Context.kt -- I'm not sure if it should. One thing that is weird is that I can see other annotations such as `@kotlin.jvm.JvmOverloads` and `@field:kotlin.jvm.JvmField` in the decompiled class that IntelliJ shows me

[2020-05-28 12:01] juv commented on #917
@tipsy can you briefly explain what I'd need to do to add the Avro Jackson ObjectMapper to the OpenAPI plugin? In the [documentation ](https://javalin.io/plugins/openapi#openapioptions) I've found `.toJsonMapper(JacksonToJsonMapper.INSTANCE) // Custom json mapper` and tried to use it like this:

[code]

Unfortunately, the exception is still the same and judging from the stack trace, that might be

[2020-05-28 12:05] tipsy commented on #917
I haven't used the OpenAPI plugin before, so I'm afraid I can't be of too much help. I thought `.jacksonMapper(new AvroMapper()));` would fix it.

[2020-05-28 12:12] juv commented on #917
Maybe @TobiasWalle can help here?

[2020-05-28 17:03] #957 closed

[2020-05-28 18:38] tipsy commented on #892
This has been fixed now!

[2020-05-28 18:38] #892 closed

[2020-05-30 09:16] Playacem commented on #979
I assume that Mockito is ignoring the synthetic flag while mocking the Context object. It seems like Mockito gets confused by the two methods that have the same signature. This might actually be a bug in Mockito.

An alternative approach: Mock the HttpServletRequest and HttpServletResponse and create a normal instance [(Link to the constructor)](https://github.com/tipsy/javalin/blob/705bd0c8d1cbb2

[2020-05-30 09:20] Playacem commented on #931
This issue might haven been fixed by #981. Could you please try again with the current master branch build of Javalin?  https://jitpack.io/#tipsy/javalin

[2020-05-30 12:37] MihaiSeptD opened #985 "Adding support for log4j"
How can be use log4j2.xml file without loading programmatically using ConfigurationSource and Configurator classes?

I try to figure out if this framework have capability to load a logger configuration file from well-known path, as src/main/resources from Maven project. Unfortunately I was unable to load such a configuration file without performing dynamic upload using the two classes mentioned.

[2020-05-30 15:20] Playacem commented on #985
This article from the Log4j2 docs describes how Log4j looks for configuration: https://logging.apache.org/log4j/2.x/manual/configuration.html

It looks for multiple diffrent files on your classpath.

As far as I can tell it should be enough to add a log4j.properties file to your `src/main/resources` folder as that gets typically put inside the jar file which should also be on the classpath when yo

[2020-05-31 18:51] halimpuckjava opened #987 "ServerStartFailed add Throwable argument"
hi

add Throwable as arg for serverStartFailed event

[2020-05-31 19:08] halimpuckjava opened #988 "Questions for Javalin"
1.  javalin is async by default ?? if no how to turn it async (req & res)

2. wich protocole javalin use ?? if not use http2 how to make it default protocole

[2020-05-31 19:55] halimpuckjava opened #989 "Javalin scalability"
how javalin manage asynchronous scalability for clients (connections, requests) and thers any max limit for clients connections also requests

[2020-05-31 20:35] MrThreepwood opened #991 "Allow Nullable Types to Be Processed By Validator"
**Describe the feature**
It would be nice if I could provide a rule to a validator that processes nullable types (when their value is null). Unfortunately, because the Validator is of type T and the value is of type T? the code is currently doing a check to see if the value is null and then not running rules.

**Additional context**
When I was updating the validators I noticed that we are always s

[2020-05-31 20:42] MrThreepwood opened #992 "Allow Getting Failed Rules on a validator Open up Rule Class"
**Describe the feature**
It would be nice to have more flexibility in the validator's rules and error response. If check allowed passing a rule, errors responded with the list of failing rules and the rule class was opened up, users could handle the response however they liked.

**Additional context**
Currently the body validator's error response is fairly limited. Each error message has to be a s

[2020-05-31 21:20] tipsy commented on #988
1. Blocking by default, can be made async by passing a Future (`ctx.result(myFuture)`).
2. Whichever protocol the underlying Jetty server uses, there is an example for how to configure HTTP2 at https://github.com/tipsy/javalin-http2-example

[2020-05-31 21:20] #988 closed

[2020-05-31 21:20] tipsy commented on #989
Javalin runs on top of Jetty, you can ready their docs for handling high load: https://www.eclipse.org/jetty/documentation/current/high-load.html

[2020-05-31 21:20] #989 closed

[2020-06-02 22:05] MrThreepwood commented on #979
Just to clarify, mockito thinks it's mocking hte inline reified function header, when you're actually attempting to mock the standard header function? That seems very strange to me, almost certainly a mockito bug.

I'm not familiar with how mockito works, but an inline function doesn't exist at run time, so I'm not sure how it would even be getting confused, especially since there's no way for jav

[2020-06-03 13:20] juv commented on #979
@MrThreepwood yes you describe exactly what is happening.

Thanks for the suggestion, I've now created https://github.com/mockito/mockito/issues/1943

[2020-06-04 13:39] mavek87 opened #993 "Allow custom validation errors and validation rules overriding"
**Describe the feature**

Suppose I have two **String** queryParams in input:
- param1
- param2

Suppose that if they are **empty or null** I want to give a **different error for each one** (and not the single hardcoded error message used by Javalin but maybe a localized one), e.g. MY_LOCALIZED_ERROR_MESSAGE1, MY_LOCALIZED_ERROR_MESSAGE2

For example in my case I need to use italian messages, i ca

[2020-06-05 13:59] grzegorzbor opened #994 "Context.formParam() does not decode the keys"
**Actual behavior (the bug)**
When you submit a form using POST method, the input names are encoded by the browser. For example,
`<input name="user[type]" value="admin">`
will be submitted in POST body as:
`user%5Btype%5D=admin`
I would expect it to be decoded by javalin, so that I can get it by calling:
`Context.formParam("user[type]")`
But this doesn't work. The formParams map keeps the keys in

[2020-06-05 14:12] AlexGustafsson opened #995 "Using a class method as parameter to path in routes DSL"
I have some code which basically resembles this (please see it as pseudo code, not tested):

[code]

I would like to move parts of the route setup to separate classes for each endpoint. Would that be possible to do? What's written below is what I'd like to write.

[code]

I've read the documentation and source code, but I'm a bit lost when it comes to the `EndpointGroup` and `addEndpoints` which s

[2020-06-05 14:15] tipsy commented on #994
We do decode the form-param values, but not the keys. I don't know what the spec says about this, but it seems like something we should allow. If you want to make a PR, you can find the code in `ContextUtil#splitKeyValueStringAndGroupByKey`.

[2020-06-05 14:25] tipsy commented on #995
The scope of `EndpointGroup` has access to a static instance, so I guess this should work:

[code]

[code]

You can also pass the `Javalin` instance itself to the controller, you don't have to use the static `ApiBuilder`:

[code]

[2020-06-05 16:22] lsoares commented on #813
Hey

[I wrote a tutorial to teach about how to use Javalin for the use case above.](https://medium.com/@lsoares/unit-testing-a-gateway-with-javalin-24e3b7e88ef2)
Check it out and give me your opinion. I think it's a little more readable than the proposals above.

[2020-06-06 18:49] adamnfish commented on #931
I've tried my project with the dependency set to `jitpack` / `"com.github.tipsy" % "javalin" % "master-SNAPSHOT"`, but alas there are other problems now. Has the API changed significantly on the master branch? `Javalin.create` appears to be private now. I've inspected the decompiled bytecode and hazarded a guess with `createStandalone`, but then the `start` method on the resulting app is also inac

[2020-06-06 19:27] #995 closed

[2020-06-06 19:28] tipsy commented on #994
@grzegorzbor I'm planning a release tomorrow, do you want this included?

[2020-06-07 06:54] Playacem commented on #931
@adamnfish Seems like you got the new `javalin-without-jetty` artifact instead of the regular javalin.
I am unsure why this is happening.
@tipsy Jitpack might be confused by the new multi module architecture. Compare with this project I found searching the jitpack.io issues: https://jitpack.io/#tangentq-admin/RichTextEditor/v2.0.15
There you can select a sub project but the option is missing for t

[2020-06-07 08:22] tipsy opened #996 "Create docs page for Micrometer plugin"
It involves creating a markdown file here: https://github.com/javalin/javalin.github.io/tree/master/pages/plugins, but you can also write your docs as a comment in this PR, and I can take care of putting it on the website.

[2020-06-07 08:34] tipsy opened #997 "Incorrect warnings from OpenAPI annotations (Java version)"
I ran the javalin-openapi-example against the latest Javalin, and I get the following log messages:

[code]

Everything seems to work though. I guess you made the error logging a bit too eager @RalphSteinhagen ?

[2020-06-07 09:23] RalphSteinhagen commented on #997
@tipsy haven't seen this while running the unit tests... maybe the path parameter isn't properly matched. Will look into it.

[2020-06-07 09:33] tipsy commented on #997
You can find the example repo here: https://github.com/tipsy/javalin-openapi-example

[2020-06-07 10:30] tipsy opened #998 "Add docs for new Validator methods"
@MrThreepwood @thibaultmeyer could either of you want to help with this?

[2020-06-07 10:31] tipsy commented on #998
Docs are here: https://github.com/javalin/javalin.github.io/blob/master/pages/docs/docs.md#validation

[2020-06-08 01:18] MrThreepwood commented on #998
Yeah I can grab those. I noticed that there aren't any docs for the body validator currently. I was hoping to just move those to say they exist on all validators since the new validation methods were actually just moved from that class.

[2020-06-08 07:10] grzegorzbor commented on #994
Ough. What a pity i didn't see your message, i would have made a fix for the release!
I verified that specification clearly says both values and keys should be percent-encoded and decoded. I can make a PR, but there is no rush now :(

[2020-06-08 07:13] pkkummermo commented on #994
I'd say this is a bug, warranting a patch release. So if you make a PR @tipsy is quick to release such things ^^

[2020-06-08 07:22] tipsy commented on #994
@pkkummermo is correct. There was another bug with the OpenAPI plugin, so I will be releasing a patch soon.

[2020-06-08 09:32] grzegorzbor commented on #994
Ok i will take a look then and provide the PR

[2020-06-08 17:01] dariuszkuc opened #1000 "[javalin-graphql] improve integration with graphql-kotlin"
**Describe the feature**
Improve `javalin-graphql` plugin integration with `graphql-kotlin` to provide first class support for creating GraphQL servers in Javalin.

**Additional context**
Some potential areas of improvement:
- [ ] update to use latest released version of `graphql-kotlin`
- [ ] improve documentation (reference https://expediagroup.github.io/graphql-kotlin/docs/writing-schemas/basic

[2020-06-08 17:16] grzegorzbor commented on #994
Fixing it was trivial, PR is ready.
But this is a backward-compatibility breaking change. Someone can already have a code where he passes encoded strings as keys for body params. This change is going to break it - the code will return null now, because such keys will not longer be matched. I don't think a patch release should introduce such breaking change. What do you think?

[2020-06-08 18:34] tipsy commented on #994
I would argue that it's fine in this case, this is an actual bug that's being fixed.

[2020-06-08 18:37] tipsy commented on #998
@MrThreepwood thank you, I appreciate it! I guess the `BodyValidator` just adds one argument to one method to specify the field, could just mention that?

[2020-06-08 19:30] MrThreepwood commented on #998
Sure. In the long run I think it'd be good to have the same option on the base validator. The problem is Javalin allows a custom converter (meaning a param (header, form, query) can be a complex object. So I don't think the body validator and regular validator should really have any differences. People may not use the option for most simple parameter types, but if they need it it would be nice to

[2020-06-09 10:10] AlexGustafsson opened #1002 "Trailing slashes are not ignored for static resources"
**Actual behavior (the bug)**
When registering a route to be handled using static files from the classpath like so;
[code]
I am unable to access the expected route `/my/static/path`. It returns a `404` error. If I specify the trailing slash, however, it works as intended (the `index.html` file is served).

As a side note, I tried to use `/my/static/path/` as the route's path, but then I got a `404

[2020-06-09 15:47] tipsy commented on #1002
Are you saying `/path` should match `/path/index.html` ?

[2020-06-09 17:02] AlexGustafsson commented on #1002
Well, I assume that `/path` and `/path/` are intended to behave the same way, that way `/path` would translate to `/path/` which naturally serves `/path/index.html`.

This might be a misunderstanding on my part, so please be sure to tell me if I'm mistaking.

[2020-06-09 17:41] tipsy commented on #1002
On the one hand, your thinking makes sense: It's weird that the routing doesn't work the same for APIs and static files (routing is routing). On the other hand, `index.html` files are called "welcome files", from the past when they acted as index of the current directory. Static files map file systems, APIs do not. 🤔

On the third hand (I have a lot of hands), I don't think introducing this behavi

[2020-06-09 17:42] #994 closed

[2020-06-11 00:15] samirissa00 opened #1003 "How to Log in File"
Hi ,
how can i set the Jetty Embed in Javalin to Log into a file all requests and IPs request, etc.. and/or outputs and make it generate 1 file by Day ? Like org.apache.log4j.DailyRollingFileAppender  ?

Thanks !

[2020-06-12 12:13] adhesivee commented on #867
To me it seems that there is always the assumption that JWT are signed with HMAC.
But there are also others, like RSA, which are based on public and private keys. So this will require a key to validate. Then my question is, is JWK and JWKS also going to be supported? Which is really useful when you want to get a public key from an endpoint.

To further extend this, validating should also check whi

[2020-06-12 17:50] rsimpson34 opened #1004 "Custom Swagger UI"
Swagger has the ability to have custom layouts https://swagger.io/docs/open-source-tools/swagger-ui/customization/custom-layout/

How would I go about implementing that with javalin?

[2020-06-12 18:53] tipsy commented on #1004
You probably have to write your own HTML for Swagger UI and point that to your OpenAPI JSON.

[2020-06-14 22:51] PedroD commented on #356
We have GraphQL on Javalin?? :O

[2020-06-14 23:05] tipsy commented on #356
Yes, there is a new plugin and module, check the docs :)

[2020-06-15 09:42] AnharMiah opened #1006 "Upgrade Jetty version (old CVEs issues)?"
Hello, thank you for all your efforts on creating this framework! I fully appreciate the hard work that goes into maintaining open source software!

I've just ran an OWASP check using `org.owasp:dependency-check-gradle:5.2.1` , I've only looked at the first CVE and it seems to have been already solved in a newer minor jetty version update. I suspect this may also apply to the others:

[code]

[2020-06-15 10:57] tipsy commented on #1006
Hi @AnharMiah! The version of Jetty in your project is not the version of Jetty that Javalin depends on, you have some other dependency pulling in an old version.

[2020-06-15 11:09] AnharMiah commented on #1006
hi @tipsy I'll double check, but as far as I'm aware it's only Javalin that is bringing that in, mind up I'm using Javalin 2.2.0 at the moment

[2020-06-15 11:19] AnharMiah commented on #1006
ok to close this now, I've setup a test project using newer v3.8.0 and re-ran the scan and its fine, so this only affects older version. I'll upgrade and refactor :+1:

[2020-06-15 11:19] #1006 closed

[2020-06-15 11:49] tipsy commented on #1006
Aha, that makes sense then. Let me know if you run into trouble.

[2020-06-15 12:03] AnharMiah commented on #1006
I only found one breaking change which was basically changing the import from `javalin.Context` over to `javalin.http.Content` so a quick regex replace fixed that pretty quickly! re-ran all tests and they have passed so seems to be all good :)

[2020-06-16 16:59] samirissa00 commented on #1003
hi guys, I didn't understand Javelin's log, I thought I could only use "simple", but you can implement LOG4J for example. Just to finish the answer here. Thank you.

In POM :

        <dependency>
            <groupId>org.slf4j</groupId>
            <artifactId>slf4j-log4j12</artifactId>
            <version>1.7.25</version>
        </dependency>
        <dependency>
            <groupId>org.slf4j

[2020-06-16 16:59] #1003 closed

[2020-06-16 22:36] unaor opened #1010 "Using the JavalinVue plugin renders the page differently than expected using quasar"
Im trying to use the javalinVue plugin using the quasar component library, however my results renders incorrectly in comparasion with the actual docs

as can be seen in the picture
![javalinVuePlugin](https://user-images.githubusercontent.com/1891506/84834639-7b61a080-aff7-11ea-8e4e-c0a2dff85a29.jpg)

The top one was created using my standalone javalin app while the second was generated using the

[2020-06-17 03:42] #1010 closed

[2020-06-17 03:43] unaor commented on #1010
the issue was not to use self closing tags nothing to do with Javalin

[2020-06-17 18:24] MrThreepwood commented on #1004
Specifically, if you aren't familiar with how it works

[code]
When you do what is shown above, that hosts the OpenApi Json spec, not the UI at /swagger-docs (which might be a little misleading?). You can then point anything you like at it that can read that spec to display a UI. For example we use a static file served with that endpoint configured that reads the "/swagger-docs" endpoint and displ

[2020-06-17 20:31] corlaez commented on #973
I have also have experienced this problem (ctx.html)

This workaround https://github.com/tipsy/javalin/issues/346#issuecomment-416958772 solves the issue for me.

Simply printing the `it.res.characterEncoding` reveals the value "utf-8" while the value of `StandardCharsets.UTF_8.name()` is UTF-8.

With that a better workaround (and the fix for this problem) should be something like:
[code]

[2020-06-17 22:49] unaor opened #1011 "Error running packaged jar - java.nio.file.NoSuchFileException: src\main\resources\vue"
after building my jar Javalin cannot find my vue folder inside the jar
im building a fat jar using maven-assembly-plugin

[code]
Resources from src/main/resources will be put onto the root of the classpath

stack point to here : at io.javalin.plugin.rendering.vue.JavalinVue.walkPaths$javalin(JavalinVue.kt:43)

i dont know if im not building correctly or its an issue

[2020-06-18 00:55] MrThreepwood commented on #993
Unfortunately validators can't currently handle null values being checked, meaning that the validator failure that you're seeing based on the string being null isn't a check, but a hardcoded line in get. What you could do is instead use `getOrNull() ?: throw MyLocalizedError()` This is obviously not as ideal, as you can't collect multiple errors this way easily, but could do for a workaround curre

[2020-06-18 03:37] unaor commented on #1011
duplicate of #634
solved by adding
`JavalinVue.rootDirectory("/vue", Location.CLASSPATH);`
in the config

[2020-06-18 03:37] #1011 closed

[2020-06-18 07:42] ligasgr opened #1012 "Single Page Mode returns 404 for IE"
**Actual behavior (the bug)**
When the user uses a link that is **not** the main url (/) or index (/index.html) the request that goes from the browser (IE11) is not being captured as the one to be served by single page handler as the Accept header contains '*/*' but is not equal to just that. This results in the HTTP 404.

**Expected behavior**
Single page handler should recognize this request and

[2020-06-18 10:17] jchown opened #1013 "Documenting OpenApi response types"
How should I describe an output of a non-POJO-y response?

The actual code is a Future that becomes a seekableStream with a content type of "audio/wav".

I tried something like:
[code]

but I end up with

[code]
which doesn't look right to me.

[2020-06-18 14:46] AlexGustafsson commented on #1002
I can't think of any cases where this would break anything. I've opened a PR here: #1014.

[2020-06-18 17:55] #1002 closed

[2020-06-18 17:55] tipsy commented on #1012
Thanks @ligasgr ! Would you like to submit a PR with a fix ?

[2020-06-18 18:24] ligasgr commented on #1012
Hi David,

Sure, I'll be happy to prepare the change. Can you please let me know if there are any code style guidelines? Would prefer to follow those than having you to fix the code afterwards.

Thanks,
Grzegorz

[2020-06-18 19:00] tipsy commented on #1012
There is an editorconfig file in the project. Sometimes I run the default intellij formatter, I don't mind having minor inconsistencies temporarily.

[2020-06-18 21:12] mavek87 commented on #993
Thank you for the answer. Unfortunately I'm not using Kotlin but Java so I can't use the elvis operator, and the workaround would be even uglier :) but I get the idea.

I think I'll wait for a little more flexible and customizable validation system. Seeing that someone else also opened issues related to mine make me feel more hopeful for some changes in the future :)

[2020-06-19 07:22] #1012 closed

[2020-06-19 15:14] corlaez opened #1016 ""utf-8" is not interpreted as "UTF-8""
**Actual behavior (the bug)**
"utf-8" encoding is not recognized as "UTF-8" resulting in the wrong encoding.

**Expected behavior**
I want utf-8 and UTF-8 to be interpreted the same

**To Reproduce**
send a request with header

    Content-Type: text/html;charset=utf-8

check how utf-8 characters are not displayed correctly in the browser.

**Workaround**
[code]
**Additional context**
I am using b

[2020-06-19 22:17] chrisawad commented on #773
I'm not seeing how the existing solution solves DOS attacks with large request bodies. The users will still likely read the entire InputStream once, no matter what, in their Context handler. At that point, the memory will be allocated anyway. Once lazily loaded, your context object might as well hold on to that already allocated memory until the request is completed, which the user is already doin

[2020-06-20 07:48] tipsy commented on #773
@chrisawad thanks, everything you're saying makes sense (unlike the current setup). I don't see why we can't do both of your suggestions:

* Deprecate `config.requestCacheSize `
* Add `config.maxRequestSize`
* Add logic to check request size before reading it into memory (give 413 response + `log.warn` that the request was too big)
* Add `bodyAsInputStream`

Would you like to submit a PR?

[2020-06-20 07:50] tipsy opened #1017 "maxRequestCache doesn't make sense"
Ref @chrisawad's [comment](https://github.com/tipsy/javalin/issues/773#issuecomment-646879071) in https://github.com/tipsy/javalin/issues/773

[2020-06-21 22:41] Renascienza commented on #784
@tipsy, I think IS related, because the real question is about "addStaticFiles" Javalin method.

[2020-06-21 23:24] tipsy commented on #784
@Renascienza `addStaticFiles` is not related to the `FileReader` in the code though, you can't do anything in Javalin to affect that outcome of lines 12-20.

The `addStaticFiles` method just points Javalin to a location to look for static files in, I guess I should have specified that in my original answer.

[2020-06-22 17:40] laohur opened #1018 "How to use websocket.send() directly?"
can websocker be used as a client?

[2020-06-22 19:48] tipsy commented on #1018
Javalin is a web server framework, you cannot use it as WebSocket client.

[2020-06-22 19:48] #1018 closed

[2020-06-24 13:11] icoloma opened #1020 "Add ContextFactory to extend Context with custom methods"
To extend a `Context` with application-specific methods, we could add the following to the Javalin config:

[code]
The lambdas could directly receive the desired Context subclass by introducing generics to the Handler class:

[code]

With this change, `Handler` lambdas can use directly a subclass of Context as needed. This is an example of use:

[code]

[2020-06-24 14:37] icoloma commented on #1020
I am discarding the generics part, as it makes big ripples over the existing codebase (very big effort, very little impact). `Handler` remains as it is.

@tipsy Do you know why `ContextUtil.changeBaseRequest()` and  `JavalinWsServlet.service()` are creating `Context` instances without passing `appAttributes`? I can introduce `ContextFactory` here too, but I am not sure why it's like that.

[2020-06-24 16:00] icoloma commented on #1020
The PR is ready omitting these two cases. Happy to include them if you think so.

It's not clear from the contributing guidelines how to add an example to the documentation. Any pointers?

[2020-06-24 16:34] sabraship opened #1022 "Sending Data from Java to/from HTML"
Hi! Beginner to Javalin, I started using Javalin very recently to connect a Java project to HTML. Perhaps this is somewhere on the website/GitHub that I missed, but if not, could someone provide a basic tutorial/explanation of how to send data (strings or lists, specifically) **from Java to HTML**? I am using query parameters to get data to Java from the HTML, but not sure how to send information

[2020-06-24 16:58] tipsy commented on #1020
I think the `changeBaseRequest` was required because Jetty was aggressively recycling the request, and I think appAttributes being left out is an oversight. It seems `appAttributes` is not part of the `WsContext` API, I guess we can leave it out until someone complains.

[2020-06-24 17:13] tipsy commented on #1020
@icoloma without generics, I'm not so sure this is better than the [Context-extension API](https://javalin.io/documentation#context-extensions). You end up with

```((MyContext) context).myMethod()```

instead of

```context.use(Ext.class).myMethod()```

Is this worth making the change for? (Is there something I'm missing?)

[2020-06-24 19:12] icoloma commented on #1020
It's one class cast and one method call, compared to two method calls and an interceptor that must always be first in the list. It's more natural to me, but I come with a Java bias.

The extension system makes sense when compiling Kotlin, but from a Java perspective is no less verbose than keeping an external Utils class (same number of objects involved, one additional method call). In my perspect

[2020-06-24 19:15] tipsy commented on #1020
Let's keep it open for a while and see if anyone has any input :)

I'll create a more complex example for myself in the weekend to compare.

[2020-06-24 20:50] tipsy commented on #1022
You can't "send data from Java to HTML". I think you're thinking about one of two things:

1. Create HTML based on data from Java and send that to a browser
2. Create JSON based on data from Java and send that to a browser (usually fetched with JavaScript by your website)

Does one of those sound like what you want to do?

[2020-06-24 20:54] sabraship commented on #1022
Yes, the first one definitely.

[2020-06-24 22:22] tipsy commented on #1022
Great! You can have a look at the [available template engines](https://javalin.io/documentation#views-and-templates) in the docs. I recommend trying out the [Velocity](https://velocity.apache.org/engine/2.0/user-guide.html) engine, it's very stable and well supported. For example, if you wanted to make a list you'd do something like this:

Create `my-list.vm` and place it in the `/resources/templa

[2020-06-24 23:34] sabraship commented on #1022
Thank you, this is great! The only thing is that I (probably mistakenly) already wrote a lot of formatting and layout code in HTML. It appears that with Velocity I can't use that. Is there any way I can?

[2020-06-25 00:23] sabraship commented on #1022
Looking around on the Javalin website, it looks like Thymeleaf or Freemarker could work. How would I implement either of those with Javalin?

[2020-06-25 07:18] tipsy commented on #1022
@sabraship all the template engines are equal in supporting HTML. You can rename your `.html` files to `.vm` files, then you can replace the static values you have in there with template values. For example, if you have this:

[code]

It would translate into
[code]

Then you can pass the welcome message:

[code]

[2020-06-25 13:55] sabraship commented on #1022
I'm really sorry to keep asking questions, and I know I shouldn't really be asking questions as specific as this, but when I use the above code, Eclipse says that the method "model" is undefined for my class. Any suggestions?

[2020-06-25 14:37] tipsy commented on #1022
No worries, we were all beginners once.

`model` is a static method, if you ask Eclipse to suggest a fix, it will probably say you can import `io.javalin.plugin.rendering.template.TemplateUtil.model` (which would resolve the issue).

The `model` method is a factory method for creating `Map` instances, so if you're using a new version of Java you can probably write `Map.of("welcomeMessage", "Welcom

[2020-06-25 14:51] sabraship commented on #1022
It works! Thank you so much :)

[2020-06-25 14:51] #1022 closed

[2020-06-25 16:08] spinscale commented on #489
With 3.9 being released, was there any change with regards to configuration? I'm currently reading from the environment plus some differences between prod/dev environment, wondering if there is a better possibility now...

[2020-06-25 16:14] tipsy commented on #489
@spinscale no, nothing related to config in 3.9. I have all my apps running with env variables myself. There are a lot of options for both Java and Kotlin when it comes to reading config though, why do you want it to be part of Javalin?

[2020-06-25 19:48] Username404-59 opened #1023 "Error when trying to use javalin on android"
**Describe your issue**
I've already read #185 and I put 26 as the minSDKversion so my kotlin project could use Javalin, but when I try to build my android app I get this error:

Is there a way to avoid this problem? (except using javalin-without-jetty)

[2020-06-25 20:44] JavierPAYTEF commented on #1023
This is happening to me as well, but check the exception it throws when transforming the library.
You are probably using desugaring to convert Java 8 libraries in Java 7.

For some reason Android Studio hides those exceptions, which is counter intuitive. To view them scroll up in the "build output" and find the lines that say something like "Transform artifact jetty-servlet-9.4.29.v20200521.jar (o

[2020-06-25 21:02] Username404-59 commented on #1023
I did not find these lines in the build output, but I ran the build with --stacktrace and here's the full log: https://pastebin.com/MQRRiMVy

[2020-06-26 10:56] gringofe opened #1024 "Javalin attempts to resolve .vue components from src/main/resources/vue"
**Actual behavior (the bug)**
I compiled a jar and created a docker container, which works perfectly. But when I access it from localhost, `JavalinVue#setRootDirPathIfUnset` sees that the request is coming from localhost, and tries to resolve the components from `src/main/resources/`, eventhough the server is running as a standalone jar.

**Expected behavior**
A check if it is running as a jar

**

[2020-06-26 12:14] tipsy commented on #1024
You can set the path using `JavalinVue#rootDirectory`, that way Javalin won't try to guess the correct location. The reason it checks for localhost is to enable quick-reload of templates :)

[2020-06-26 12:19] #1024 closed

[2020-06-26 14:48] JavierPAYTEF commented on #776
Hi, this is just an idea, but I've been looking into a few HTTP servers for Android and probably the best option is Netty. The project is well maintained and added support for Android since a few versions ago.
NanoHTTPD looks cool, but they haven't made commits since a few years ago, so I'm not sure if the project is active, and Sun HTTP seems kind of hacky to implement.
Maybe adding support for N

[2020-06-26 18:57] Username404-59 commented on #1023
I'm dumb, I just needed to place
`packagingOptions {
        exclude 'org/eclipse/jetty/http/encoding.properties'
    }`
in the android block of my build.gradle.
Now I can close this issue!

[2020-06-26 18:57] #1023 closed

[2020-06-26 19:24] 22dstone opened #1026 "Heroku app not running"
Hi! I have deployed my Javalin project successfully to Heroku through Maven using the steps outlined in the tutorial on the Javalin website. However, the website does not load, giving me an error. The error log says this:

[code]

[2020-06-26 19:56] tipsy commented on #1026
I'm guessing you have some issues with the name of your launch config (or jar).

[2020-06-27 09:08] davioooh opened #1027 "How to set a custom payload (json) for validation errors?"
I'm trying to apply Javalin validation functionalities in my project and I'd like to ask some questions:

-  In [Javalin documentation](https://javalin.io/documentation#validation) a `JavalinValidation.validate()` method is mentioned, but I can't find in version 3.9.0. Am I missing something?
- By default a validation error response has a payload of type `text/plain` containing the error message.

[2020-06-27 09:37] tipsy commented on #1027
Hi @davioooh,

The `JavalinValidation.validate()` method is from 2.X, I'll fix the docs.

In your browser, or in postman? It should return JSON by default if the client asks for JSON. You can collect the errors manually, as shown here: https://javalin.io/documentation#validator-error-collection

All PRs will be considered :)

[2020-06-27 09:42] tipsy commented on #1027
I've removed the outdated info from the docs now.

[2020-06-27 09:49] davioooh commented on #1027
I'm using Postman for my test. Sorry, you're right: adding the Accept header to the request I'm a getting a JSON representation.

OK, I'll work on it and if the result worth sharing I'll consider opening a PR.

Thank you very much. :)

[2020-06-30 19:16] rrarrarra opened #1028 ""enforceSsl = true" does not work, when domain (or subdomain) contains the word "localhost""
I was just wondering why `enforceSsl` did not work although it was set to `true`.
I figured out, it was because one of my subdomains contains the word `localhost`.

I have tested this on something like `http://testapp.localhost.mycompany.com`.
with:
[code]

As it is, does that mean it wont work generally with domains for example like `http://www.mylocalhostcompany.com`?

I dont know, but `.contain

[2020-06-30 21:18] tipsy commented on #1028
I didn't really consider this scenario, so it's not intended behavior. Feel free to submit a PR making it more strict :)

[2020-06-30 21:20] pgross41 commented on #335
I wanted to share my solution to this. Maybe it's just me but the `mock-maker-inline` solution was still throwing odd errors. This builder class mocks the `HttpServletRequest` and `HttpServletResponse` then uses `ContextUtil.init` to create a true `Context` object.

**Source**
<details>
  <summary>MockContextBuilder.kt</summary>

[code]

</details>

**Usage**
Example with headers and body:
[code]

[2020-07-01 15:41] rrarrarra opened #1029 "Error gets leaked to frontend, intended behaviour?"
**Actual behavior (the bug)**

Javalin compiles without error, but running and accessing it via Webbrowser results in an error-message, that also gets leaked to the frontend:

In my Webbrowser I get (screenshot):

![Bildschirmfoto zu 2020-07-01 17-25-17](https://user-images.githubusercontent.com/5783257/86262384-1645a780-bbc0-11ea-8252-0dfbb37793ce.png)

In the console I get:
[code]

**Expected be

[2020-07-01 15:59] tipsy commented on #1029
@rrarrarra these messages appear when you're trying to use an optional dependency that is missing (in your case Jackson). It can't  be a compile-time error since it's an optional dependency. If you see this error it means your app is not working as you want it to. It will never happen in production if you have verified that your app works even just one time.

This is a special case, there are no o

[2020-07-02 10:05] rrarrarra commented on #1029
Well, I am still juniorDev, so please give me a hint if I am missing something here.

I am quiet skeptical if I will ever be able to verify `ALL` the cases/scenarios so that my app is `working just one time`, before my app runs in production.

Image the following scenario:

- Somewhere inside of the `javalin-frameworks` sourcecode, there is theoretically a method like this:

[code]

This makes me

[2020-07-02 10:28] pkkummermo commented on #1029
I do understand your concern, however as @tipsy says, there's very few of these optional dependencies, and these are part of how your application will work on the simplest levels. If you have run your endpoints even once locally, you'd get the error message as `jackson` is a part of how you serialize your messages to JSON, meaning that it will be used for 99% of your API endpoints.

The same stand

[2020-07-02 16:11] spinscale opened #1030 "Logging: Include the bytes sent in request logging"
**Describe your question**: I would like to log the number of bytes sent when doing request logging.

I may have not found it, but having a snippet like

[code]

returns a correct Content-Length response header. I was however unable to retrieve that information from the `Context` in the request logging lambda. Is there any trick that I am not seeing. grepping through the code I was also unable to

[2020-07-02 17:14] tipsy commented on #1030
Have you looked at the built in dev logger? I think it logs the length.

[2020-07-02 17:38] spinscale commented on #1030
The dev logger is not logging the header (because it is not available in the header names at that point, but it is in the response), the body is logged along with size information, using `ctx.resultString().length()`, which would mean streaming twice through the result set, which sounds like too much overhead in a production app to me.

[2020-07-02 17:57] tipsy commented on #1030
Oh, that's inefficient! You should be abel to do `ctx.resultStream().available()` though?

[2020-07-02 21:01] spinscale commented on #1030
That would require a `.reset()` call before I guess, as the response has been written at that point... but something to test out!

Thx for the input so far.

[2020-07-03 08:38] erik-a-e opened #1031 "Alternate syntax for changing CORS policy is not working"
**Actual behavior (the bug)**
The following code has no effect:
[code]
While this code works:
[code]
**Expected behavior**
Both examples should behave the same, or there needs to be some indication that the altered config is not applied.

**Additional context**
Related issue: #854

[2020-07-03 15:17] tipsy commented on #1031
You're not supposed to change the config after creating the server (why do you want to?). We did briefly discuss adding a watcher to look for people mutating the config and logging warnings, but ultimately decided against it.

[2020-07-04 09:56] n3phtys opened #1032 "How to deal with inner Sealed / Algebraic Data Types in OpenAPI DSL?"
Assume entities are built using sealed classes to model algebraic data types in Kotlin:

[code]

While the OpenAPI plugin's DSL correctly identifies the classes Aa, Bb, Cc, as well as MyValues, and adds them as OAS Schemata, the inheritance relationship between 'MyValues' and its children is not. In a perfect world, MyValues would be recognized as a `oneOf()` composition of its three children.
I k

[2020-07-04 23:05] twoxfh opened #1033 "Servlet UploadedFile and UploadedFiles getContents is empty"
I am using Javalin as a servlet and trying to use the UploadedFile API, however, when debugging I am finding the getContents to be empty. I am not using streamtofile, since I am processing it in memory. If I use bodyasbytes and parse it as a multipart message I can get the file but was hoping to use the native API. Any tips would be appreciated.

[2020-07-05 12:45] twoxfh commented on #1033
Closing..helps if you don't comment out @MultipartConfig annotation :). Not sure if it's worthy of putting this annotation with the servlet docs.

[2020-07-05 12:45] #1033 closed

[2020-07-07 08:22] erik-a-e commented on #1031
I made the assumption that the config might be applied at `app.start()`, and I got no immediate feedback that this assumption was wrong. The examples in the documentation is sufficient to figure things out though. Closing this issue since you've already decided against adding a watcher.

[2020-07-07 08:22] #1031 closed

[2020-07-07 10:38] tipsy commented on #1031
We could log something like

[code]

But I guess that wouldn't help too much, since the order is still the same? 🤔

No decision is permanent though. If you think this would be a good addition you could clean up the code from https://github.com/tipsy/javalin/issues/778 and submit a PR :)

[2020-07-10 10:05] arkadiuszdaniluk opened #1035 "Reactive streams - possible?"
Is it possible to use reactive streams (project reactor) with Javalin?

[2020-07-11 08:27] tipsy commented on #1035
@arkadiuszdaniluk What does the API look like? If it's `Future` based, you should be able to do `ctx.result(futureFromReactor)`.

[2020-07-11 08:28] tipsy commented on #1030
Have you found a solution to this @spinscale ?

[2020-07-11 08:33] tipsy commented on #1029
@rrarrarra It's basically impossible to run into this by accident, the optional dependencies are all related to something you actively try to use (JSON serialization, template rendering, creating OpenAPI documentation). It will be related to a line of code you yourself have written (such as `ctx.json(myObj)`), there are no `if (condition) useOptionalDependency()` statements in the code.

I'm doing

[2020-07-11 08:33] #1029 closed

[2020-07-11 08:34] tipsy commented on #1026
Closing this as it's not really realted to Javalin (and the author is nonresponsive).

[2020-07-11 08:34] #1026 closed

[2020-07-11 08:35] tipsy commented on #1028
@rrarrarra would you like to submit a fix for this?

[2020-07-11 08:36] #1027 closed

[2020-07-11 18:59] rrarrarra commented on #1028
Sorry, I am not yet familiar with kotlin, and I do not yet know the intention of why the `isLocalhost()`-check is needed here and where `this.host()` comes from, and what side-effects a change here could potentially trigger :-(

But my first idea would be something like this:

[code]
and if "`this.host()`" returns a String, then I would check for:

[code]

[2020-07-11 20:31] tipsy commented on #1028
That's fine @rrarrarra, I can implement it :)

Thanks for your suggestion!

[2020-07-11 22:26] tipsy commented on #1028
Added in https://github.com/tipsy/javalin/commit/422e778d850e52e0fa3bb39f0bd144d7a3245428, implementention is like this:

[code]

[2020-07-12 04:10] oharaandrew314 commented on #776
@JavierPAYTEF from my understanding, Jetty is an HTTP server and Netty is a TCP/UDP server.  While Netty may be compatible with Android, Javalin is primarily an HTTP framework, so you would have to re-re-implement HTTP support on top of Netty.  To me, it seems like the wrong tool for the job.

[2020-07-12 07:17] tipsy commented on #776
@oharaandrew314 with something like https://github.com/bigpuritz/netty-servlet-bridge, using netty should be pretty straightforward.

[2020-07-12 19:23] JavierPAYTEF commented on #776
In theory Netty already implements HTTP protocol without any extra things needed. It even implements HTTP/2 and SSL.
The only thing is that needs more setup for each component to create a server and also it's a bigger library than NanoHTTP.

Check out the Snoop example here, it's pretty simple:
https://github.com/netty/netty/tree/master/example/src/main/java/io/netty/example/http

What I will say

[2020-07-15 20:16] MrThreepwood commented on #1020
Is this really a significant advantage over
`MyContext myContext = new MyContext(context)`?

Either you create a function for generating your context from the base java request/response attributes as you've done, which requires you to extend context (there's no interface for context is there?).

Or you just make your context take the context instance and decorate it that way, which seems far easie

[2020-07-17 02:17] icoloma commented on #1020
Requires creating an additional object for every request (admittedly a micro-optimization, but this should be a common need for applications), and additional infra to create this for every request. A factory does not require either (which is why it's a common pattern on Spring Framework).

[2020-07-17 02:43] rbygrave commented on #1020
What is the motivation for extending Context?  I am curious as to what methods people are adding to for example MyContext in the real world / real need sense?

To date I have not seen the need or desire to do such a thing yet so I wonder what the practical motivation is etc, what am I missing :)

Thanks, Rob.

[2020-07-17 08:25] icoloma commented on #1020
In my case, for a personal project:

* `context.getCurrentUser()` returns the current user, rehydrated from cookies
* `context.getUserLocale()` returns the locale of the current user, or the preferred locale of the browser if none
* Other classes that need to receive a `Context` in the constructor could be created from the `Context` instead, like a `MustacheViewBuilder` that automatically includes

[2020-07-17 15:54] spinscale commented on #1030
I left the content length out for now. The header itself is calculated deep in jetty, see https://github.com/eclipse/jetty.project/blob/jetty-10.0.x/jetty-http/src/main/java/org/eclipse/jetty/http/HttpGenerator.java#L785-L795

[2020-07-18 00:45] sabraship opened #1037 "Custom Renderer for PHP"
Hi there! Is there any way I could add a .php file to a Javalin project? I did some looking around, and it seems that I could potentially create a custom renderer? How could I go about doing that? Thank you in advance.

[2020-07-18 09:07] pkkummermo commented on #1037
While everything is possible, this is not what the Javalin templates is intended to do. Javalin templates is simple view renders, and nothing more. PHP is a whole preprocessor language which includes more than just templating :) My recommendation is either to use PHP directly or check out some of Javalins other templating engines in the documentation under [FAQ](https://javalin.io/documentation#fa

[2020-07-18 13:04] sabraship commented on #1037
Thank you! I will look into some other solutions. :)

[2020-07-21 13:26] #1037 closed

[2020-07-22 08:33] vn7n24fzkq opened #1038 "Can't use keyStores with multiple certificates for SSL ServerConnector"
It seems because Jetty 9.4.24 changed SslContextFactory to SslContextFactory.(Server|Client)

[code]

And the code is follow this example except jks file.
https://github.com/tipsy/javalin/blob/master/javalin/src/test/java/io/javalin/examples/HelloWorldSecure.java#L22-L30

[2020-07-22 09:14] tipsy commented on #1038
@vn7n24fzkq as SSL is managed fully by Jetty, there's not much we can do about it in Javalin. You could try opening an issue in the Jetty project?

[2020-07-22 10:30] vn7n24fzkq commented on #1038
@tipsy Sure, thanks for your reply 😄

[2020-07-22 10:31] #1038 closed

[2020-07-24 08:43] samixxo commented on #1020
As a java user I like this proposal,
would also use this to implement user handling and custom validation (like 303 validation)

But I would highly encourage the generics way.

[2020-07-24 22:30] halimpuckjava opened #1039 "Add support for Flux/Flow (Project reactor) ?"
hi

1.  response with stream data support (project reactor, kotlin flow)

2. graalvm support

[2020-07-24 22:40] tipsy commented on #1039
Hi @halimpuckjava,

There is already a GraalVM tutorial: https://javalin.io/2018/09/27/javalin-graalvm-example.html

As for Project Reactor, I don't know what that is or if it's possible to support it. If it supports `Future`s it should be possible.

[2020-07-25 14:35] sabraship opened #1040 "Favicon Images in Javalin"
Hi, I'm using Javalin, Velocity, and Heroku to create a webpage, and I'm trying to add a favicon to my project. This is my file structure:
.
+-- images
|   +-- favicon.png
+-- src
|   +-- main
|      +-- java
|         +-- package.name
|            +-- HelloWorld.java
|      +-- resources
|         +-- page.html
|   +-- test

I am attaching the favicon to the webpage with the following line:

[cod

[2020-07-25 16:02] tipsy commented on #1040
@sabraship it looks like you're opening that HTML file on the file system, and resolving the favicon with a relative path. You should move your favicon to `src/main/resources/public/favicon.png`, and do `config.addStaticFiles("/public")` when creating the Javalin instance. You can also move `page.html` to this `/public` folder.

If you do this, your HTML page will be available at `http://localhost

[2020-07-25 17:59] halimpuckjava commented on #1039
hi @tipsy

1. for graalvm i already try this tutorial but not work

2. with project reactor there is Flux<T> also woth kotlin coroutines Flow<T>, but with Future<T> how client front-end (angular or mobile) can stream this Future<T> response ?

[2020-07-25 19:18] sabraship commented on #1040
That did it! Thank you! I'm going to close the thread now.

[2020-07-25 19:18] #1040 closed

[2020-07-26 03:30] Stars-One opened #1041 "the url path of CrudHandler?"
I saw the document,but it does't mention the url path when use the CrudHandler.For example,I has a `UserService` which implements the `CurdHandler`.

I don't understand following code.
[code]

What should i do if I want to insert a new recods into the database?What is the url?

[2020-07-26 10:26] Stars-One commented on #1041
I found the answer.

the crud handler is the same as following code

[code]

the url is `xx/users`

|	method|description	|
|--	|--	|
|post	|invoke the create method of CrudHanlder	|
|delete	|invoke the delete method of CrudHanlder	|
|patch	|invoke the update method of CrudHanlder	|
|get	|invoke the getOne or getAll method of CrudHanlder	|

[2020-07-26 10:26] #1041 closed

[2020-07-27 14:11] avshenuk commented on #496
Hi @azurvii. It seems, that the solution provided here doesn't work anymore... There is no way neither to catch the json related exceptions (JsonParseException, JsonProcessingException etc.) nor to provide an alternative exception in e.g. `JavalinJson.fromJsonMapper` (which btw doesn't allow you to throw a checked one but that is another story).

The reason is that the default `Context.bodyAsClass

[2020-07-27 15:06] tipsy commented on #496
@avshenuk that's correct, you'll have to validate it manually if you want to catch your own exception.

[2020-07-29 08:00] tipsy commented on #1039
@halimpuckjava I'm having some trouble picturing how this would work, but if you want to create a PR I'd be happy to review it!

[2020-07-29 08:03] tipsy commented on #1035
Closing this in favor of #1039

[2020-07-29 08:03] #1035 closed

[2020-07-29 08:34] #1030 closed

[2020-07-29 08:37] tipsy commented on #773
@chrisawad any comment on the above proposal?

[2020-07-29 08:41] tipsy commented on #1016
Do you have ` <meta charset="UTF-8">` set in your HTML ?

[2020-07-29 08:42] tipsy commented on #997
This has been fixed!

[2020-07-29 08:42] #997 closed

[2020-07-29 08:43] tipsy commented on #998
I believe you already fixed this one @MrThreepwood, please reopen if I'm mistaken.

[2020-07-29 08:43] #998 closed

[2020-07-29 08:44] tipsy commented on #985
Thanks for answering this @Playacem, I think the issue can be closed now @MihaiSeptD.

[2020-07-29 08:44] #985 closed

[2020-07-29 08:49] tipsy commented on #979
A suggestion (`Mockito.<String>when(context.header("Authorization")).thenReturn(test1);`) was recently posted in mockito/mockito#1943, might be worth a shot.

[2020-07-29 08:59] #1004 closed

[2020-07-29 08:59] #956 closed

[2020-07-29 10:34] tipsy opened #1042 "[ERROR] io.javalin.TestCustomJetty.no warnings in log file when adding static files to a custom server(io.javalin.TestCustomJetty)"
Build is currently broken on Ubuntu because of this test. It looks like this is your test @mpe85:

[code]

Can you explain what the purpose of this test is? It also looks a bit brittle, it should probably check for a specific warning, not just "any warning"? I can't actually find any `log.warn` for static files,  so maybe this test is outdated? I will remove it for now.

[2020-07-29 10:46] mpe85 commented on #1042
Hey, the test was added because there were warnings logged when a custom server was used.
See https://github.com/tipsy/javalin/pull/597
The test just confirms that no warning is logged anymore.

[2020-07-29 11:20] tipsy commented on #1042
@mpe85 aah, thanks, I remember now. I actually removed the dummy-server, so the warning should be there now. It's logged by Jetty though, and that logger is now disabled during startup. Not sure why this changed on Ubuntu recently, but I think it's safe to remove the test.

[2020-07-29 11:20] #1042 closed

[2020-07-30 02:49] SAM9000com opened #1043 "Sending back file, truncates download on bigger files"
**Actual behavior (the bug)**
When using a FileInputStream, everything seems to work. However, when done, the downloaded file is short in length vs expected. This is more obvious on larger files. I tried 17MB and 340MB file. A few MB should reproduce the bug.

**Expected behavior**
The resulting download should be exactly the same than the source file on the server.
When inspecting the files, the

[2020-07-30 06:24] tipsy commented on #1043
Can you try to disable gzip and see if that helps?

[2020-07-30 11:23] SAM9000com commented on #1043
love Javalin. @tipsy
tried to disable the compression strategy. I also added the right content-type (application/octet-stream) which was not in the snippet. the file is still too short. as if the last buffer is not flushed. I calculated what is missing : 68413 bytes (in my sample big file)

[2020-07-30 11:35] tipsy commented on #1043
Thanks!

Could you try serving it as a static file and see if that behaves differently ?

[2020-07-30 12:15] SAM9000com commented on #1043
Interesting... yes, serving it as a static file does work. files are now perfect match in size.

[2020-07-30 14:14] tipsy commented on #1043
@SAM9000com that's both scary and a relief then! Could you investigate this a bit?

[2020-08-03 21:52] Mynameisbt opened #1045 "Set fileSizeThreshold MultipartConfigElement so large file size uploads will not exhaust memory"
**Actual behavior (the bug)**
I was working on an API for performing large fileuploads and discovered that the server would run out of memory on very large files (3gb or higher).  I found out it is due for the MultipartConfigElement does not have a fileSizeThreshold set.

**Expected behavior**
I would have expected that on very large files that the server would start writing data to the System.get

[2020-08-04 10:24] AlexGustafsson opened #1046 "Setting a cookie and removing another creates multiple headers"
**Actual behavior (the bug)**
Several cookie headers are set, resulting in browsers not honouring both fields, leading to cookies being dropped. According to some RFC, more than one header must not be set. This has since been changed in HTTP/2.

**Expected behavior**
All cookie changes should be aggregated to a single header.

**To reproduce**
[code]

[2020-08-04 10:34] tipsy commented on #1046
Hi @AlexGustafsson! I believe cookies are handled by Jetty through the `HttpServletResponse` interface. Does it make sense to try to fix this in Javalin?

[2020-08-04 11:17] AlexGustafsson commented on #1046
Thanks for the quick response. No, I don't think it does. I think the fix/workaround would be quite imposing if it were to be done inside of Javalin. Closing.

[2020-08-04 11:18] #1046 closed

[2020-08-05 19:15] n3phtys commented on #1032
After debugging the plugin down to swagger-core, there is a half acceptable possibility OOTB:

[code]

This does add the oneOf() definition to the MyValues schema, but

1. this is horribly duplication of code for Kotlin types (I will look into this deeper, it should be possible to retroactively add these annotations dynamically inside `JavalinModelResolver.kt` by using  something like `annotatedTy

[2020-08-11 16:08] oharaandrew314 opened #1047 "Enums do not work in OpenAPI query or path params"
**Actual behavior (the bug)**
The Swagger UI shows an error banner, and the query and path parameter selectors are text fields instead of dropdowns.  I believe this is caused by the `SearchType` enum not being included as a component in the swagger spec.

![ui](https://user-images.githubusercontent.com/894152/89920046-fa272400-dbc9-11ea-8b6c-e547db590804.PNG)

[code]

The Redoc UI completely fails

[2020-08-11 17:07] oharaandrew314 commented on #1047
I suppose this might be working as intended, as there is arguably more than one way to (de)serialize an enum.  Javalin currently doesn't know how to deserialize path or query param enums either.

[2020-08-11 18:45] chrisawad commented on #773
Hi tipsy,

Sorry for the late reply. This got lost in my emails!

Yes this proposal is sound to me. Maybe the first call to ctx.body() checks Content-Length compared to config.maxRequestSize and if passes, lazily loads the internal InputStream into memory and holds on to it for future calls to ctx.body(). This would be great!!

Then, where ctx.body() would load the full content of the InputStream

[2020-08-12 17:08] tipsy commented on #1017
Plan:

* Deprecate `config.requestCacheSize `
* Add `config.maxRequestSize`
* Add logic to check request size before reading it into memory (give 413 response + `log.warn` that the request was too big)
* Add `bodyAsInputStream`

Comment:

[2020-08-12 17:09] tipsy commented on #773
Thanks, I've updated https://github.com/tipsy/javalin/issues/1017 with the plan + your comment :)

[2020-08-12 17:11] tipsy commented on #1047
Hi @oharaandrew314 ! I don't know if this is a bug either, could you check who wrote the part that deals with them and tag them?

[2020-08-13 20:01] juv commented on #979
@tipsy it looks like this is not helping and it sounds like a potential fix in Mockito itself would require a lot of work :/

[2020-08-14 18:42] oharaandrew314 commented on #1047
@TobiasWalle were the OpenAPI specs ever intended to support enums as query or path params?

[2020-08-15 19:56] gorgonaut04 commented on #1023
It would be useful to document this, perhaps even on the main README.md, since anyone intending to add this to an Android project will encounter this issue, including myself.

[2020-08-15 21:42] Username404-59 commented on #1023
That's a good idea, but isn't org.eclipse.jetty.http.encoding.properties needed for something?
I mean if this is related to encoding, it could be required for something in the library?
In my case i didn't have to use encoding in my project but the library could break...

[2020-08-16 05:33] gorgonaut04 commented on #1023
You can do “pickFirst” or even “merge” instead if you want to keep the
file. But they are both identical (the original in jetty-http and in
javalin).

On Sat, Aug 15, 2020 at 2:43 PM Username404-59 <notifications@github.com>
wrote:

[2020-08-16 10:50] Username404-59 opened #1048 "Include the fix for android projects in the readme/docs?"
**Describe your issue**
So currently, to make javalin work in android projects you need to specify
packagingOptions {
exclude _(or merge? **#1023**)_ 'org/eclipse/jetty/http/encoding.properties'
}
in the build.gradle; so could it be in the readme or in the docs?

[2020-08-16 10:52] tipsy commented on #1048
@Username404-59 feel free to add it to the FAQ section of the docs: https://github.com/javalin/javalin.github.io/blob/master/pages/docs/docs.md#faq

[2020-08-16 10:53] tipsy commented on #1048
On a side note, it seems very that excluding the encodings-file is required for it to work 🤔

[2020-08-16 11:28] Username404-59 commented on #1048
Done: https://github.com/javalin/javalin.github.io/pull/77

[2020-08-16 12:58] tipsy commented on #1048
Thanks, merged :)

[2020-08-16 14:12] #1048 closed

[2020-08-17 18:59] TobiasWalle commented on #1047
@oharaandrew314 By the specs enums should be supported https://swagger.io/docs/specification/data-models/enums/.
So I think this as a bug  in the plugin.

Unfortunately I currently work on other projects and don't have much time to contribute to the plugin.

[2020-08-17 19:28] oharaandrew314 commented on #1047
Understood.  I'm not familiar with the openapi plugin code, but I'll see if I can figure out a solution.

[2020-08-19 08:24] Fantomka commented on #1043
Hello @tipsy,
So how should we send big files to user from javalin server? Is there a true way to do this?

[2020-08-19 08:50] tipsy commented on #1043
Either use static files or write to `ctx.res` directly.

[2020-08-19 17:19] NPi2Loup opened #1050 "Dont ignore trailling slashes in routes"
I need to map different handler for route with or withour trailing slashes.
My case simulate a static filesystem and is declared like this :

[code]

Actually calling "/test/" match the first declared one, but I need the exact one.

I use Javalin 3.9.1
I see there was a config parameter in older version, but you may remove it now.

Before Javalin, we use JavaSpark, it handle these routes as differ

[2020-08-19 18:00] tipsy commented on #1050
Yes, as far as I know it was never used, and added a bit of complexity to the route matching.

If this something that's important to you I'd be happy to review a PR.

[2020-08-26 07:24] wilerson opened #1051 "CORS plugin supersedes OPTIONS endpoint mappings"
When enabling CORS, adding an endpoint handler for OPTIONS no longer works. Example:

[code]
[code]

Looking at the code, `io.javalin.core.util.CorsPlugin` adds both a before handler and an endpoint handler (for `*`). After the endpoint handler runs, the servlet ignores every other possible match for the route.

It is possible to work around this by adding an after handler to the desired path and

[2020-08-26 08:19] tipsy commented on #1051
Thanks @wilerson, I never considered that.

I guess a solution would be to remove the `app.options` from the plugin and replace it with

[code]

Would you like to submit a PR ?

[2020-08-26 08:26] wilerson commented on #1051
@tipsy I assume that you meant removing `app.options` from the plugin and adding the following code to `CorsBeforeHandler`:

[code]

Am I right?

If that's the case, happy to submit a PR.

[2020-08-26 09:54] tipsy commented on #1051
Yes, you are correct :)

[2020-08-26 15:14] tipsy commented on #1051
@wilerson I'm planning to release a new version in the weekend, let me know if you're unable to finish the PR before then, and I'll have a go at it myself.

[2020-08-27 09:19] wilerson commented on #1051
@tipsy sorry for the delay, had work stuff to handle and had a few issues with running the Selenium tests locally, as I don't use Chrome. #1052 should handle this.

[2020-08-27 10:28] tipsy commented on #1051
No worries, didn't mean to rush you !

[2020-08-27 12:31] #1051 closed

[2020-09-03 14:06] aletundo commented on #1047
Hi @wilerson, could please explain more in details how did you workaround it?
I'm also struggling with this issue. The Enums are correctly recognized when in classes but not when used as queryParams type.

Thanks!

[2020-09-04 07:52] melnikovdv opened #1055 "CORS and root domain"
I'd like to add CORS for all root domain origins. Is there a way to do it in Javalin?

Consider structure:
`api.mydomain.com` - javalin server
`user1.mydoamin.com` - some server with subdomain for user 1
…
`userN.mydoamin.com` - some server with subdomain for user N

I can add only all domains with `*` or string domain like `user23.mydomain.com` in the config. It seems to be a solution to implemen

[2020-09-04 10:19] tipsy commented on #1055
If I remember correctly there's is no support for this, but I would be happy to review a pull request :)

[2020-09-04 10:33] melnikovdv commented on #1055
Some modifications to `CorsBeforeHandler.kt` should do the job. The only thing is to mix list of origins and patterns.

It doesn't look like a very difficult feature. I'll try to consider it and probably will make a PR in some time.

[2020-09-08 17:27] melnikovdv commented on #1055
Damn, I found a solution when I don't need this feature. I use Nuxt and it has a "proxy" feature to overwhelm CORS problems.

Close this issue for now. Won't promise, but will try to find some time to implement it anyway.

[2020-09-08 17:27] #1055 closed

[2020-09-08 18:05] tipsy commented on #1055
Happy you found a solution!

[2020-09-10 02:19] joshdurbin opened #1057 "Groovy-script-based Javalin requests of any kind result in exception"
**Actual behavior (the bug)**
I'm trying to use a groovy script to bootstrap and use Javalin in the most basic of use cases. In the following script, I'm simply trying to serve back a string at the root context.

[code]

The environment I'm trying to run this in is the following:

[code]

The server starts up normally:

[code]

Then a request issued against the server with curl:

[code]

...render

[2020-09-10 05:57] pkkummermo commented on #1057
https://github.com/tipsy/javalin/issues/515

Groovy apparently comes bundled with some 3rd party libs, and it looks like Groovy is well known(https://issues.apache.org/jira/browse/GROOVY-5727) for not shipping with the newest servlet-api which I'm guessing Javalin relies on. I do not have any Groovy-experience to know if it's even possible to override/exclude the bundled version.

[2020-09-11 10:46] ahrens26 opened #1058 "RouteOverviewPlugin throws exception when server has CrudHandler"
When a Javalin server uses a CrudHandler and the RouteOverviewPlugin is registered, an exception is thrown when the plugin's path is requested.  Stack trace is as follows:

13:29:17.093 [qtp1530638839-18] WARN  io.javalin.Javalin - Uncaught exception
java.lang.NoSuchMethodException: io.javalin.apibuilder.CrudFunction.getOwner()
	at java.base/java.lang.Class.getMethod(Class.java:2109)
	at io.javali

[2020-09-11 16:36] tipsy commented on #1058
Thanks @ahrens26, I'll have a look!

[2020-09-11 16:43] #1057 closed

[2020-09-11 16:44] joshdurbin commented on #1057
Yeah it has something to do with the dependency resolution with grapes. It works fine in a gradle project / app.

[2020-09-11 17:02] tipsy commented on #1058
Fixed in https://github.com/tipsy/javalin/commit/bf452f6adec1bb023f61ff789cf2043546e03782 @ahrens26 :)

I can't get the name of the actual class implementing `CrudHandler` (at least not easily), so for now it will just say `ApiBuilder#crud::getOne` (etc).

[2020-09-11 17:03] #1058 closed

[2020-09-11 17:13] ahrens26 commented on #1058
That was fast - thank you!

[2020-09-11 19:26] joshdurbin commented on #1057
[This](https://github.com/joshdurbin/little-snitch-rules/blob/master/src/main/groovy/io/durbs/lsrules/App.groovy) works, perfecto.

[2020-09-15 05:23] bensullivan opened #1059 "Latest techempower benchmarks"
Hi

I was just wondering why javalin hasn't been included in the latest techempower benchmarks?

Cheers

Ben

[2020-09-16 07:46] spinscale opened #1060 "Expose correct matching path in `app.before()`"
**Describe the feature**

This is a bit of weird title, I couldn't come up with a better one. I am currently using javalin in a example that describes how to add elastic observability features to a java application. One of the features I wanted to add, was to refer to the value of `ctx.matchedPath()` as part of the transaction name, so you can see the name like `GET /foo/:bar` to keep the cardinal

[2020-09-16 08:09] spinscale commented on #1060
Just FYI: I solved this currently via a logging handler to wrap around the others like this (which to me is a fine solution as well):

[code]

[2020-09-16 08:53] tipsy commented on #1060
There is `config.requestLogger` and `app.after`, did you try those?

[2020-09-16 09:12] spinscale commented on #1060
`app.after()` is the same as `app.before` - but config.requestLogger did the trick. Nice workaround!

[2020-09-16 09:50] tipsy commented on #1060
You might be looking for `ctx.endpintHandlerPath()`, which doesn't update in filters.

[2020-09-16 13:19] victorlapin commented on #776
For all the interested folks here, Javalin actually works on Android =) The only issue I'm now facing, though, is "ClassNotFoundException: org.eclipse.jetty.websocket.server.WebSocketServerFactory" when our app isn't marked as persistent in its manifest. We're dealing with custom ROM here, though.

[2020-09-16 16:06] spinscale commented on #1060
indeed, `app.after()` with `ctx.endpointHandlerPath()` works as well.

Thanks David, I'll close this one for now.

[2020-09-16 16:06] #1060 closed

[2020-09-17 01:07] rbygrave opened #1061 "Converting internals from Kotlin to Java"
So having asked @tipsy there is some desire to move Javalin internals from Kotlin to Java [David, feel free to update this description as needed].  David mentioned this desire might start when Jetty 10 comes out.

For myself I see this work progressing with at least 2 streams of work
- Migrate class by class Kotlin to Java a few classes at a time. These would try to be no effective behaviour or AP

[2020-09-17 01:51] rbygrave commented on #1061
## Route matching with segment count

avaje-jex has route matching that additionally uses path segment count (effectively the number of '/' characters in the uri path).  So to match a path there is first the EnumMap of HandlerType (GET, POST ...) as per normal and then a lookup by "number of segments" to get the sub list of routes to match and then linear search find first.

### Why?
Provide route

[2020-09-17 12:53] victorlapin commented on #776
And also for the interested folks, Javalin successfully maps Android device storage folder as static files

[2020-09-17 14:56] JavierPAYTEF commented on #776
how did you make it work in android?

[2020-09-17 16:08] tipsy commented on #1059
@bensullivan I don't know, I wasn't the one who submitted the "integration". Looks like the code is still there, so not sure why it's not being included. Would you like to have a look at it?

[2020-09-17 16:09] tipsy commented on #1059
I see it's mentioned in this issue: https://github.com/TechEmpower/FrameworkBenchmarks/issues/4943

[2020-09-17 22:47] bensullivan commented on #1059
Ah ok - understood.

I've raised this issue: https://github.com/TechEmpower/FrameworkBenchmarks/issues/6010

Thanks

[2020-09-18 07:45] victorlapin commented on #776
Min SDK 26 (we're building SDK 28 ROM, so I'm perfectly fine with that), slf4j-simple dependency, and that's basically it

[2020-09-19 11:35] tipsy commented on #1061
@rbygrave I don't think merging these PRs before we actually decide to move back to Java is a good idea, as we'll end further fracturing the code base (currently the rule is "Public APIs are Java, internals are Kotlin", which is bad enough).

Another thing to mention is that Jetty 10 will require JDK 11. It seems like people who get off 8 have less trouble updating to the latest version of Java. I

[2020-09-20 22:07] rbygrave commented on #1061
Apologies - I misinterpreted a prior comment and got into it (picking some soft targets for Kotlin to Java conversion).

I'm fine if you want to decline those PR's to "clear the decks".  If you are still pondering then obviously you can just leave them.

Those PR's are binary compatible Java versions of the Kotlin code so no effective change even for Kotlin users but you know that I'm sure. The po

[2020-09-21 07:41] tipsy commented on #1061
Seems I was a bit optimistic here, I'm looking at https://snyk.io/wp-content/uploads/jvm_2020.pdf and https://www.jrebel.com/blog/2020-java-technology-report, and it's sad reading for Java versions (~60% still on J8).

We could already now add `javalin-core` as a pure Java module, and you can merge changes to that? Or you could go for `javalin-java` if that's easier than starting work on the `core

[2020-09-21 08:38] rbygrave commented on #1061
Yes although I might be misunderstanding so to clarify, I am thinking there are 2 options (is there another option?)
1. Use a branch that isn't master
2. Create a separate module "javalin-core" which is initially a copy of the existing javalin module, we can then submit PR's to that to translate the internals into java and sort of see how that goes.  We could for example chop out the websockets pa

[2020-09-21 08:48] rbygrave commented on #1061
We could initially target Java 8 - it probably doesn't matter at this stage.  I suspect Javalin users will tend be on later versions (more microservices, kubernetes/docker deployment - once you deploy to k8/docker you want at least java 11 imo).

[2020-09-21 09:16] tipsy commented on #1061
That is correct!

Sure, I guess we'll be using Jetty 9 to start with, so 8 is okay. I can run a survey on the website later to find out what version most people are running.

[2020-09-21 15:06] Mynameisbt opened #1068 "Importing Vue components"
I am trying to build an application using the VuePlugin in Javalin.

I was trying to use the Vuealidate component in my application.

I imported the module for it from webjars and imported the javascript into my layout  html.

[code]

layout.html

`    <script src="/webjars/github-com-vuelidate-vuelidate/0.7.4/vuelidate.min.js"></script>
`

In the script block of my vue template I tried to import

[2020-09-21 15:49] tipsy commented on #1068
You could use native JS imports, but the Vue plugin is not intended for that type of usage. If you want to do imports, I recommend setting up something like [Parcel](https://parceljs.org/).

[2020-09-21 15:51] #1050 closed

[2020-09-22 08:11] balage1551 opened #1069 "Using Vue functional template or render function"
It is a quite simple question using Vue and javalin, but I still can't figure it out for two days.

I would like to use a renderer/functional template within one of my template.

The simplified code looks like:

[code]

[2020-09-22 08:45] tipsy commented on #1069
Hi @balage1551 ! There doesn't seem to be anything related to Javalin here (meaning, it would look the same if this was just a HTML file with Vue code). Try one of the [Vue support channels](https://vuejs.org/v2/guide/join.html#Get-Support).

[2020-09-22 08:55] balage1551 commented on #1069
You are right. I an doing it there.

The only thing why I wrote here too is that I can't use some of the features of Vue (for example importing, exporting manually) which makes almost all the solutions/examples useless for using with Javalin/Vue. I hoped that someone faced the same problem here and may point me to the right direction. :-)

I may abstract the question:
I would like to use a rendere

[2020-09-22 22:01] rbygrave commented on #1061
FYI: A closer comparison of the transitive dependencies using a minimal hello world app (with Jackson)

### Summary:
- ~0.8 MB for the Jetty websockets dependencies (if they become optional)
- _Kotlin stdlib only adds 1.6 MB (not too bad really)_
- Kotlin devs using jackson-module-kotlin get an extra **2.9 MB** kotlin-reflect-1.3.72.jar

#### 4.7 MB Total for Jex / ~javalin-core  (The cut down jav

[2020-09-26 01:29] TareqK opened #1071 "Optimize JavalinVue loading"
**description**
JavalinVue seems to be gaining popularity. However, there is a small issue with javalinvue and scaling it, and that is that each time a page is fetched, all vue components, regardless of their need, are loaded. This creates some overhead and prevents it from being viable in larger apps.

A simple way to solve this could be via a few collections and some regex matching, which then c

[2020-09-26 03:40] vn7n24fzkq opened #1072 "ConcurrentModificationException when enable PrecompressStaticFiles"
**Actual behavior (the bug)**
Request numbers of static file first time since server launch, because of  ConcurrentModificationException, some static resource can't be served at first time.

**Expected behavior**
Correctly serve all resource at first request.

**To Reproduce**
Request a static page with a lot of css and js file first time since  server launch

**Additional context**
[code]

[2020-09-26 06:49] tipsy commented on #1071
@TareqK if you're interested in working on this I'd be happy to review a PR.

Out of curiosity, how large is your current current app?

[2020-09-26 06:52] tipsy commented on #1072
Thanks for your report @vn7n24fzkq. You're the person who knows this code the best, would you like to submit a PR?

[2020-09-26 06:56] vn7n24fzkq commented on #1072
Yes, I would.

[2020-09-26 07:07] tipsy commented on #1072
Great, looking forward to reviewing it!

[2020-09-26 08:27] TareqK commented on #1071
@tipsy  Right now its sitting at around 40 components in 5 views - but its gonna grow. The size is around 50KIB, but the reason i want to optimize is that we are going to be running this on low-grade hardware for self hosting. The project itself is open source, and im working on migrating it.

you can find it here

https://github.com/openmymed/access.md/tree/vue-migration

[2020-09-26 08:55] #1072 closed

[2020-09-26 13:23] tipsy commented on #1071
Cool stuff! If you go ahead and implement this, I would strongly prefer you do implict imports, rather than invent a JavalinVue import system. It seems this is also what you're suggesting with you regex matching comment. I guess comparing the content of each tempalte with the template-ids should get you pretty far.

[2020-09-26 15:12] dev-abir opened #1074 "any way to send and read cookies through websocket"
Is there any way to send a cookie to the client inside the websocket upgrade response, and read it afterwards when the client responds with a message/binary data?

[2020-09-26 19:05] TareqK commented on #1071
@tipsy Thats what im already working on, Im not a kotlin dev tho, so the code isnt quite functioning yet, and kotlin confuses and scares the java dev XD

[2020-09-26 20:46] tipsy commented on #1071
You can also write this extra functionality as a Java class, then import it in Kotlin :)

[2020-09-27 19:26] TareqK commented on #1071
Ive gone ahead and opened a PR, have a look at it

[2020-09-28 08:22] rbygrave commented on #1061
WIP - Notes to review later

### Context.formParamMap()
This decodes the form data into the map each time it is called.  It could decode it once and hold the map on the context.
https://github.com/tipsy/javalin/blob/master/javalin/src/main/java/io/javalin/http/Context.kt#L184

### Context.removeCookie()
Potential bug. `removeCookie()` takes a optional (null) path. Jex tests fail when the null path

[2020-10-01 01:13] acmattos commented on #335
hi @tipsy!

This code fails to me:

        val context = mockk<Context>()
        every { context.path() } returns "Mocked path"
        every { context.pathParam(any()) } returns "123"
        assertThat(context.path(), `is`("Mocked path"))
        assertThat(context.pathParam("A"), `is`("123"))
        assertThat(context.pathParam("B"), `is`("123"))

Error:

Parameter specified as non-null is n

[2020-10-01 14:40] stnwtr opened #1076 "SSE and WS"
Hey,
I have a question about SSE and WS:

**Why are the two methods different?**
I played around a lot with Server-Sent-Events and Web-Sockets and recognized, that the Methods to register an Endpoint kinda work differently.

Using Web-Sockets:
[code]
there is a `Consumer` which expects a `WsHandler`. The Handler is there to manage the five possible Events which can occurr.

However, using Server-S

[2020-10-01 16:35] tipsy commented on #335
Hi @acmattos. Your test seems to work here:

![image](https://user-images.githubusercontent.com/1521451/94837658-d4bdd600-0414-11eb-8cfc-a86f48bf6ab1.png)

[2020-10-02 10:04] vcj-huy opened #1077 "Failed to run Javalin with SSL config on Android"
Hi, I am trying to run Javalin with SSL config on Android (SDK 28). Without SSL config, everything works well, but when following this [example](https://github.com/tipsy/javalin/blob/master/javalin/src/test/java/io/javalin/examples/HelloWorldSecure.java) , the app crashes at the time Javalin start() method called.
Below is the error logs. Does this mean Javalin with SSL is not supported on Android

[2020-10-02 14:32] tipsy commented on #1077
Javalin will run on whatever Jetty server you give it, so this is really a Jetty issue @vcj-huy.

[2020-10-02 18:54] andyndang opened #1079 "exampleSetFlag is included in the model specification"
**Actual behavior (the bug)**
I ran the example code and enable schema validation - this is what I see in the log:

[code]

**Expected behavior**
`exampleSetFlag` should not appear in the schema

**To Reproduce**
Ran the example with `validateSchema(true)`

**Additional context**
[code]

[2020-10-03 01:15] acmattos commented on #335
I think I have a weird combination here...
Sometimes I got this:
![image](https://user-images.githubusercontent.com/5035530/94979560-c3022e80-04f9-11eb-96d8-f0a8ceec3376.png)
Sometimes this:
![image](https://user-images.githubusercontent.com/5035530/94979583-ecbb5580-04f9-11eb-9b70-88bec9125081.png)
![image](https://user-images.githubusercontent.com/5035530/94979599-0492d980-04fa-11eb-9287-c2ea483

[2020-10-03 08:14] tipsy commented on #335
It looks correct, I'm not sure what's going on 🤔

I don't think we've gotten any other complaints on using mockk.

Anyone else here have an idea?

[2020-10-03 09:47] #1071 closed

[2020-10-03 10:04] tipsy commented on #1071
@TareqK currently testing this on one of my projects.

Old: 33kb gzipped (all pages)

New (misc pages)
* 9kb gzipped
* 10kb gzipped
* 6kb gzipped
* 9kb gzipped

Everything appears to be working fine.

Nice work 🎉

[2020-10-03 17:35] #1028 closed

[2020-10-03 17:36] #1016 closed

[2020-10-03 17:37] tipsy commented on #979
I guess we can't really do anything about this issue, so I'll just close it. We can consider different naming in Javalin 4.

[2020-10-03 17:37] #979 closed

[2020-10-03 17:39] #899 closed

[2020-10-03 17:41] #1039 closed

[2020-10-03 17:42] tipsy commented on #1059
@bensullivan This is really on them, so I'll close the issue here.

[2020-10-03 17:42] #1059 closed

[2020-10-03 17:42] #1068 closed

[2020-10-03 17:43] tipsy commented on #1077
Closing this as it's a Jetty/Android issue, I'm sure someone at Stack Overflow can help :)

[2020-10-03 17:43] #1077 closed

[2020-10-03 17:46] tipsy commented on #987
Hi @halimpuckjava. This can't be done without breaking the current API. It also shouldn't be required, since the program exits?
I'll close this, but feel free to reopen if you think you have a valid use-case that we can dicuss for Javalin 4.

[2020-10-03 17:46] #987 closed

[2020-10-03 17:48] tipsy commented on #776
This issue is getting nowhere, so I don't think it makes sense to keep it open anymore. If someone wants to create a PR I'd still be happy to review it though!

[2020-10-03 17:48] #776 closed

[2020-10-03 17:52] tipsy commented on #1069
JavalinVue is really a file-concatination tool, the only thing it does is build a HTML page with your `.vue` files added to `<head>`, and 1 component somewhere in the `<body>`. I imagine it would work just as well with Vue3, if they still support loading Vue via CDN and registering global components.

[2020-10-03 17:53] tipsy commented on #1045
Thanks for the issue @Mynameisbt, would you be interested in contributing a PR for this?

[2020-10-03 17:54] tipsy commented on #1043
@vn7n24fzkq could you investigate this issue?

[2020-10-04 02:31] rbygrave commented on #1045
Apologies in advance, these notes might not be useful.

Notes on potential approach for this:
- MultipartConfigElement (and multipartFileThreshold) as configuration options on javalin.inner
- Get this config to MultipartUtil (current static/object, set this via static method on  startup?)
- Note that for jex MultipartUtil, JavalinRenderer, JavalinJson are no longer static/object but instead there

[2020-10-04 02:59] rbygrave commented on #1061
FYI - Just as an update on this effort, I feel I'm about 50% through - still to do is websockets and see.

Maybe interesting things to ponder thus far:
- Context is an interface
- Context calls through to an internal ServiceManager for json, renderer, multipartUtil, exception handling (these are not static calls - kotlin object types)
- Routing is an interface (ok, I've tried to make almost all "p

[2020-10-04 04:01] vn7n24fzkq commented on #1043
Yes, sure.

[2020-10-04 04:25] vn7n24fzkq commented on #1043
I don't find javalin 3.9.2 version in maven repository, so I am gonna use 3.9.1 instead.

[2020-10-04 05:33] vn7n24fzkq commented on #1043
@tipsy.
I can't reproduce this bug.
I have already use this code to serve numbers of file with different size from KB to MB, but all downloaded file has doesn't miss any byte.
[code]

My environment
[code]
I can't reproduce this bug on javalin 3.10.0 either.

[2020-10-04 07:11] tipsy commented on #1043
Great, thank you for checking! I was not able to reproduce this either, so I will close the issue.

[2020-10-04 07:11] #1043 closed

[2020-10-04 07:34] tipsy commented on #1045
@rbygrave interesting notes for a future solution, but as a Javalin3-fix I was just planning on adding `-1,-1,20000000` to the current `ctx.req.setAttribute` call, where the `20000000`  (`fileSizeThreshold`) would be configurable on the util.

From just reading the docs it looks like a `fileSizeThreshold` of `0` (the default value) means that *all* files are written to disk, but I guess I'm not un

[2020-10-04 07:41] tipsy commented on #1045
The simplest and most flexible way forward is to just expose the config itself, I guess:

[code]

[2020-10-04 07:51] tipsy commented on #1045
Or, just in case:

[code]

[2020-10-04 08:01] tipsy commented on #1045
@Mynameisbt I went with my last suggestion, this way you can run any operation you want before the upload.

[2020-10-04 08:01] #1045 closed

[2020-10-04 08:15] tipsy commented on #1061
I've been against this, because I dislike single implementation interfaces (even if they make Mockito users happy). I'm guessing these are also single use. Why did you create them?

This sounds interesting. I'm surprised to see expection handling on this list, what is wrong with how it's handled currently?

This is probably a good idea!

Will this also decouple Jetty?

[2020-10-04 10:47] rbygrave commented on #1061
I dislike single implementation interfaces with _application_ code also.  With Javalin/Jex being a **_library_** the main thoughts I have around it being an interface are:
- Hides the constructor - constructing Context is then not part of the "public api" ... so how it's constructed and the internal dependencies it has can change more easily
- In theory allows for potentially supporting things in

[2020-10-04 11:50] tipsy commented on #1061
You do make a lot of valid points for a Context interface. It might also help solve the issue in https://github.com/tipsy/javalin/issues/1020 about extending Context (haven't looked too much into it though).

here are a lot of interesting improvements in Jex, thanks for keeping us up to date

[2020-10-05 18:54] LooserName404 opened #1080 "Add Kotlin Serialization JSON compatibility"
The `kotlinx.serialization` module for JSON doesn't have easy support or tutorials in Javalin docs.

If you could, please add it for integration with this library.

[2020-10-05 20:14] tipsy commented on #1080
@LooserName404 you can follow the instructions for enabling GSON, but instead use `kotlinx.serialization`: https://javalin.io/documentation#configuring-the-json-mapper

[2020-10-06 12:00] algor1th opened #1081 "SSL support on android"
Servers started on android should be able to host secured sites.

Currently keys are loaded via jks, which is not accessible on android, so trying to start a secured server will throw a
[code]
exception. It would be great if there was a way to load certificates on android. For example via bouncycastle

[2020-10-08 16:18] tipsy commented on #1047
@oharaandrew314 could you have a look at @sealedtx's PR?

[2020-10-09 06:28] Jerbell commented on #979
I'd definitely go with a different name pretty please...

[2020-10-09 12:25] Jerbell commented on #979
The best hack around this is to create a real context with mock response and request objects.  Would like something easier...
[code]
with
[code]

[2020-10-09 14:37] Freezystem commented on #471
@wellingtoncosta Have you finally achieved kotlinx serializer replacement ?

I'm stuck here:
[code]
The decodeFromString part is not working. I also tried:
[code]
but I get a warning: `Override by an inline function` and an error: `Override by a function with reified type parameter`.
I can't figure out how to implement this override.

[2020-10-11 13:20] balage1551 opened #1083 "Using bootstrap-vue (or other webjars) with javalin"
I am aware that Javalin supports Vue and I use it without problems. It is easy to set up, I only had to call the `config.enableWebjars()` and using Vue is quite out of box and simple.
However, I would like to use other tools, which are not deeply integrated with Javalin. Namely I would like to use `bootstrap-vue` for high level components. Normally, when I use it through npm and manual configurati

[2020-10-11 13:55] tipsy commented on #1083
@balage1551 add `bootstrap-vue` via CDN by adding (for example) `https://unpkg.com/bootstrap-vue@2.0.0-rc.11/dist/bootstrap-vue.min.js` as a `<script>` tag to your `layout.html`. Once you have done this, all of the bootstrap vue components are automatically imported, and you can use them like `<b-alert show>Hello, world!</b-alert>` inside your components.

[2020-10-11 15:52] balage1551 commented on #1083
Wow!
Thanks it was even easier than I thought!

[2020-10-11 15:52] #1083 closed

[2020-10-11 21:19] Freezystem commented on #1080
I partially succeed to set-up `kotlinx.serialization` but it took me a lot of research and [some help from SO](https://stackoverflow.com/questions/64284767/replace-jackson-with-kotlinx-serialization-in-javalin-framework/64285478#64285478)
As a beginner in Kotlin it was very frustrating.
The procedure is not that easy and require setting a lot of `@ExperimentalSerializationApi` annotations everywhe

[2020-10-11 21:40] tipsy commented on #1080
Thanks @Freezystem! I've never used `kotlinx.serialization`, and it seems I wrongly assumed it would be plug and play (meaning that they would have similar signatures to the big Java libraries).

Could you add your solution to https://github.com/javalin/javalin.github.io/blob/master/pages/docs/docs.md#configuring-the-json-mapper so others can benefit from your research?

[2020-10-12 08:52] Freezystem commented on #1080
Hi @tipsy. Yes I will once I get an answer from `kotlinx.serialization` team cause the integration is a bit _hacky_ for the moment and rely on experimental features.
If it's good for you, I'll begin to write a draft PR this week to start the review process.

[2020-10-12 09:33] tipsy commented on #1080
Sounds good!

[2020-10-14 09:47] Freezystem commented on #1080
Hi @tipsy, according to [this comment](https://github.com/Kotlin/kotlinx.serialization/issues/1134#issuecomment-707044048) the Javalin interface for serialization is not optimal.
I was wondering if it was conceivable to improve this interface to be usable with both _class parameter_ and _reifed class_ ways.
Of course I'd be glad to hear from you on that subject and to help as much as I can to make

[2020-10-14 10:21] rbygrave commented on #1080
Hmmm, my 2c of thoughts.  If I'm designing a rest API using JSON payloads I would never choose to have an endpoint with a POST/PUT request body that is a json array (as the top level of the request body).  That is, I'm not expecting the use of generics in this use case. I'd always expect to POST/PUT a _json object_ as the top level even if it only contains a single property that is a json array.

[2020-10-14 11:05] Freezystem commented on #1080
@rbygrave I totally agree with that but It's opinionated. Someday this maybe be a thing. Implementation strategy is not universal and enforcing such a thing is not the role of a library.

I'm just saying here that `kotlinx.serialization` has strong potential (performance-wise compared to others) with a growing community. It would be a good thing to make the boarding of new comers who want to use i

[2020-10-14 11:25] sealedtx opened #1086 "Aliased Files and Symbolic links"
Hi! I need to serve static files which can be symbolic links, but Javalin can't see them if I simply add
`config.addStaticFiles("path/to/files/", Location.EXTERNAL);`
As I know static files are processes directly by Jetty, right? How can I update Jetty handlers via Javalin API to allow symbolic linked files? Thank you!

[2020-10-15 07:10] Freezystem commented on #1080
@rbygrave I stumble upon something interesting yesterday when I was building my Javalin App that will, I think, advocate in favor of the necessity of a reifed interface for `JsonMapper` serialization.

Here is my use case:
I wanted to create a `GenericResponse` _data class_ dedicated to return serializable items of different types.
So I made these classes:

[code]

When I use `Kotlinx.serializatio

[2020-10-15 08:06] rbygrave commented on #1080
That is interesting and to me unexpected in this "serialise to json" direction.  That is, Jackson would serialise that fine and it's the deserialisation direction (json to generic type) that would be the issue from a Jackson perspective.  My thought is that Jackson is dynamically determining the type of the list elements and that kotlinx.serialization does not work in that manor.

Hmmm.

[2020-10-15 16:21] tipsy commented on #1080
@Freezystem do you have a suggestion for how this could coexist with the Java-oriented interfaces without causing confusion?

[2020-10-15 17:41] sealedtx commented on #1086
@tipsy, I don't clearly undestand, where should I use it?

[2020-10-15 18:03] tipsy commented on #1086
@sealedtx sorry for the confusion - as far as I know there's no way to set this up now, but maybe we can add an overload `addStaticFiles(Path path)` (instead of url/location)?

[2020-10-15 18:30] sealedtx commented on #1086
@tipsy Can you please clarify how usage of the `Path` can help in this case? I thought that the problem was inside jetty's `ResourceHandler` and it is required to set somewhere `org.eclipse.jetty.server.handler.AllowSymLinkAliasChecker` to serve linked files

[2020-10-15 18:56] tipsy commented on #1086
I didn't know about `AllowSymLinkAliasChecker`. The one time I had trouble with symlinks, I resolved the issue by using the `Path` class. That's the only reason I suggested it, I didn't have a particular solution in mind.

It seems the `ServletContextHandler` is the one that needs the `AllowSymLinkAliasChecker`, which can be configured:

[code]

The `ResourceHandler` isn't attached in the standard

[2020-10-15 19:19] sealedtx commented on #1086
@tipsy Thank you! I will try it tomorrow

[2020-10-15 20:02] rbygrave commented on #1080
I _think_ in java this means having an extra/overloaded method that takes `Type`?

[2020-10-15 20:04] Freezystem commented on #1080
As a beginner in Kotlin (and Java) I have some trouble wrapping my head around it. I search for reified interface in Java but they find nothing concluding.

Maybe it his possible to:
 - create a second interface dedicated to koltin
 - create a kotlin wrapping interface that is in charge to call java method ?

These are just wild guesses for the moment but I'm still documenting.
I found [this blog

[2020-10-15 20:42] rbygrave commented on #1080
In terms of writing a generic object to JSON with Gson or Jackson we see that they have options for using `Class<?>` and an additional option for using `java.lang.reflect.Type` (Gson) or for Jackson it's own `JavaType` or `TypeReference<?>`.

Gson:
[code]
https://www.javadoc.io/static/com.google.code.gson/gson/2.8.6/com.google.gson/com/google/gson/Gson.html#toJson(java.lang.Object,java.lang.reflec

[2020-10-16 08:59] sealedtx commented on #1086
@tipsy It didn't help. I debug through the code and as I can see the problem is that this `Handler`
https://github.com/tipsy/javalin/blob/344a8a9edd73390a8a1ba2b1ff90d720bf8fada9/javalin/src/main/java/io/javalin/http/staticfiles/JettyResourceHandler.kt#L42
has no context and can't check alias in `super.getResource()`.
Maybe we can simply change `ResourceHandler` to `ContextHandler` wrapper? I am n

[2020-10-16 09:02] tipsy commented on #1086
Yeah, I suspected this would happen. The `ResourceHandler` is being called manually so that Jetty doesn't do automatic 404 handling, but maybe there's a better way of solving that. Or maybe there's a way to connect it to the context.

[2020-10-16 10:07] sealedtx commented on #1086
@tipsy I have manged to serve aliased static files by overloading `addStaticFiles` (to add `List<AlialCheck>` as a param) and inside
`PrefixableHandler` I re-implemented `super.getResource()` to use aliasChecks from `StaticFileConfig` specified by user instead the ones from context. I can submit PR so you can review

[2020-10-16 10:14] tipsy commented on #1086
Great, looking forward to it!

[2020-10-18 09:15] tipsy commented on #1080
If we introduce a type parameter, it has to be completely independent of any third party (like `java.lang.reflect.Type`). This is the first time this issue has come up in three years though, so I'm not convinced it's necessary.

Since this is mostly (exlusively?) a Kotlin problem, maybe an extension function is an acceptable solution @Freezystem @LooserName404 ?

[2020-10-18 15:35] Freezystem commented on #1080
As is it a Kotlin related problem I think that it's OK to build a workaround just for Kotlin and keep Java implementation unchanged to avoid any breaking changes.
Thus, an extension function seems to be an acceptable solution. :blush:

[2020-10-18 20:12] #1079 closed

[2020-10-18 20:12] #1047 closed

[2020-10-18 21:51] Zemke commented on #979
Works well for `getHeader()` but for `body()` for instance it means creating the input stream and whatnot. It’s a rabbit hole, don’t go there.

[2020-10-18 21:55] Zemke commented on #979
Additional convenience methods wouldn’t break compatibility and might be worth the effort as it’s currently breaking unit testing of controller methods in many cases.

[2020-10-19 02:02] Jerbell commented on #979
Yes - I tried Mockk and seemed to have problems too.  Another alternative is using something like the Spring test's MockHttpServletRequest & Response but it's still a lot of work.

[2020-10-19 07:24] tipsy commented on #979
Do you have a suggestion for naming?

[2020-10-19 14:49] fedealessi96 opened #1091 "Handling files in request's body"
Hi everyone,

I'm trying to develop an endpoint for a POST request that contains a `.zip` file within its body.
I tried to handle it by doing:
[code]

but I got
[code]

Did anyone a use case to correctly handling files inside requests or any best practise or tips? Thank you!

[2020-10-19 15:12] tipsy commented on #1091
Hi @fedealessi96. Have a look at https://javalin.io/documentation#uploads. You cannot convert an upload to a `File` by using the `bodyAsClass` method.

[2020-10-19 16:36] #1086 closed

[2020-10-19 17:09] fedealessi96 commented on #1091
Hi @tipsy! I really missed that on the doc! Thank you very much, it worked as expected.

[2020-10-19 17:09] #1091 closed

[2020-10-19 20:54] juv commented on #979
Can someone explain the purpose of that method? When would I use it in Kotlin?

[code]

[2020-10-19 20:58] tipsy commented on #979
@juv:

[code]

[code]

[2020-10-20 13:26] Zemke commented on #979
Maybe `jHeader()` and `kHeader()` for the inline so it doesn’t get in the way when auto-completing. Since this is quite technical unlike the rest of the API which is rather colloquial.

For the topic in general: I have spent quite some time now debugging MockK and Javalin trying different trimmed down reproductions and I can’t seem to find a deterministic behavior in this. The lesson learnt for me

[2020-10-20 19:46] TareqK commented on #1020
I also like this idea, would help me a lot since almost every handler method, i need to get the user or something similar.

[2020-10-21 01:43] vcj-huy commented on #1081
@algor1th
I was too trying running server with SSL on Android following the example on Javalin document page.
Yes, the first hurdle is JKS keystore. You can solve this by using bouncycastle (BKS) when setting a custom Jetty server for Javalin.
But I was not able to make that custom Jetty server running. https://github.com/tipsy/javalin/issues/1077
If you have any progress, please leave some tips h

[2020-10-22 12:34] #1069 closed

[2020-10-22 12:53] balage1551 opened #1093 "Vue router and javalin-vue"
After a month, and two apps later my first experience of Javalin, I ran into a problem I can't figure out.

I used JavalinVue to support my dashboard page.
I have a dashboard with a fixed top navbar and an also fixed (for the sake of the example) and always visible right sidebar.
When I open the dashboard, it displays as it should.

![image](https://user-images.githubusercontent.com/11457054/96873

[2020-10-22 12:55] balage1551 commented on #1093
Also, I feel routing in `layout.html` is somehow misplaced, due to there may be other pages (like login) using the same wrapper. So my question if I could add routing in `dashboard.vue`?

[2020-10-22 13:53] tipsy commented on #1093
@balage1551 half of the point of JavalinVue is to provide server-side routing rather than client-side, so you would do

[code]

Could you explain what you're using VueRouter for ?

[2020-10-22 14:03] balage1551 commented on #1093
Yes, By routing on server side, the whole page is rendered again each time we switch page.
Apart from the fact it is time consuming, cause flickering (having a dark theme page, the flickering is even worse) while rendering the page (Vue is quite time consuming on client side, needing 1-2 sec to handle a complex page), the biggest problem is I lost all state. The state of the two static parts (navb

[2020-10-22 14:16] balage1551 commented on #1093
Of course, I could "emulate" the router by defining a data flag indicating the page and adding all the components with `v-if` selector based on this flag, but I thought why should I emulate something I could do by a tool.

[2020-10-22 14:22] tipsy commented on #1093
If you structure your layout-file and components in a certain way, this won't happen. Most browsers don't unload the current page until the new one is ready now, and since components are loaded in `<head>` they will be parsed before the page is ready. This means you can can avoid flickering for all static html (such as the app frame).

This sounds a bit slow. You can try the new `JavalinVue.optimi

[2020-10-22 19:22] mrieser opened #1094 "Custom Jetty handlers not working consistently"
**Actual behavior (the bug)**
Creating a Javalin instance with a customized jetty-server that already has a ServletHandler results in the following exception when static files are accessed:

[code]

**Expected behavior**
I expected to be able to access the custom servlet content as well as the content of static files.

**To Reproduce**
I've created a short Java-class that reproduces the problem (s

[2020-10-22 21:51] tipsy commented on #1094
Thanks for your issue @mrieser. Ideally it should work, would you like to submit a Pull Request to fix it?

[2020-10-23 08:52] mrieser commented on #1094
@tipsy: I looked into the code, and it seems to that somehow Javalin's `wsAndHttpHandler` in `JavalinServer.kt` is skipped when a custom Handler is set, as the attributes `jetty-target` and `jetty-request` are missing, resulting in the exception.

I have to say I was barely able to read/interpret the Kotlin code, as I'm a pure Java programmer myself. So I'm not sure I can fix it myself given my no

[2020-10-23 08:52] TareqK commented on #1093
just to also add my 2C, you can also change the caching policy for production for views, by setting

[code]

you can also do a bit of UX optimization, by isolating your main theme colors and blocks into its own theme.css and loading that as the first file in your `head` tag and having that cached as well.

If you want something that is a huge SPA with complex views, you might be better off using S

[2020-10-25 16:06] balage1551 commented on #1093
Thanks for the answers. They will most probably make my SPA concept needless.

This `optimizeDependencies` option is great and I'll check it.
The `stateFunction` is also a great alternative for my problem. It is almost identical to handling client side state. Almost, because it has some differences: it contains only data, so if I need to make some post process or would like decorate the pure data

[2020-10-25 20:50] tipsy commented on #1093
That's the idea 😄

I guess you could give it a `map("json", yourJson)`, in which case you would access it as `$javalin.state.json` ?

Let me know if you have any questions!

[2020-10-26 12:19] gringofe opened #1096 "Autorefresh HTML/CSS/Javascript"
Is there any way to autorefresh changed html/css/js while the server is running, because restarting the server everytime I change something while developing does take quite a bit of time.

[2020-10-26 15:12] tipsy commented on #1096
Hi @gringofe ! The reason this is happening is (most likely) because you're running from an IDE, which compiles and launches a jar when you run your server. This jar contains a copy of your html/css/js files, but not the actual files themselves.

If you point your server to the actual files, by using `addStaticFiles("src/path/to/dir", Location.EXTERNAL)`, you should be able to see changes immediat

[2020-10-26 20:02] mrieser commented on #1094
Some notes of my debugging experience:

- just adding the customHandler as mentioned above, disabling static files and single page root, results in a `Not Found` error when calling `/hello` (The `Not Found` looks Javalin-produced). So it seems --- independently of static files --- the integration of a custom handler does not always work.

- adding the customHandler in a `HandlerCollection` (e.g. `

[2020-10-27 07:23] balage1551 commented on #1093
I'm back home and tested the proposed solution, but it doesn't work.
My first problem is that I use (in the other part of the project GSon's Json implementation, instead of Jackson). But the real problem is, that if you add anything to the state (as a Map entry as you mentioned) the JavalinVue tries to serialize the entry.

I'm not at home with Jackson, but I have a proposal for greater flexibilit

[2020-10-27 08:33] gringofe commented on #1096
Yep it's working now - thank you very much for your quick response!

[2020-10-27 08:33] #1096 closed

[2020-10-27 18:46] tipsy commented on #1094
Thanks @mrieser, I've updated the title to reflect your findings. Have you had a look at the `TestCustomJetty` (`src/test/java/io/javalin/TestCustomJetty.kt`) test? It does test a bunch of wrapping and chaining mechanisms, but I have to admit I haven't touched that part of Jetty much.

[2020-10-27 18:57] tipsy commented on #1093
`JavalinJson` can use GSON:

[code]

To be honest, it sounds odd to me. I imagine the state would come from the application itself (some sort of Kotlin state object), not a prebuilt foreign string. Where does this string come from?

[2020-10-27 19:03] tipsy commented on #1093
If you do `mapOf("json" to """{"a": "1", "b": "2"}""")`, you can do `JSON.parse($javalin.state.json)["a"]` on the client side and get out `"1"`. You can save this as a computed property for easy access.

[2020-10-27 21:21] #1017 closed

[2020-10-27 23:20] balage1551 commented on #1093
The state is strongly related to the GUI so it is built up and maintained by the Server, not by the business objects. It comes from projections of several different classes, represented in a form it is best for the front-end. Also, several of my classes (mostly configuration ones) already has their JSON serialization solution for other purposes. This is not a GSON auto serialization, but a simple

[2020-10-28 00:24] tipsy commented on #1093
In principle I agree with this, I guess I'm just being difficult because I've never encountered this problem myself.
Feel free to go ahead with a PR :)

[2020-10-29 02:38] LeoColman opened #1097 "Allow configuration of the Redoc options"
Redoc's JS can be called with extra options to configure a lot of things.

It would be great if Javalin could allow these kinds of configurations.

https://github.com/Redocly/redoc#redoc-options-object

[2020-10-29 08:24] tipsy commented on #1097
Sounds reasonable. Feel free to submit a PR @LeoColman :)

[2020-10-29 20:08] tipsy commented on #979
@Zemke Yeah, I've been trying to work around this for a couple of hours now, it definitely has to be fixed in Javalin 4.

Could you summarize the problem and create a new issue?

[2020-10-29 20:38] Zemke opened #1098 "Ensure all methods in Context are mockable"
Some methods in the `Context` class cannot be reliably mocked and therefore unit testing controllers is in many cases not possible.

The issue is, firstly, with all inline functions in `Context` as they cannot be mocked at all due to their inline nature. Inlining to the call-site and therefore getting called immediately.
Secondly, all methods with the same name and parameters as those inline funct

[2020-10-29 21:00] tipsy commented on #1098
Thanks for the summary @Zemke. For reference, this also relates to

* https://github.com/mockito/mockito/issues/1943
* https://github.com/mockk/mockk/issues/502
* https://github.com/mockk/mockk/issues/55

[2020-10-30 12:26] tomhillrails opened #1099 "Potential character encoding bug?"
**Actual behavior (the bug)**
Okay, so I have been trying to use Javalin to replace something which talks to a legacy system where the database is Windows-1252 encoded and hit something where Javalin behaves differently to raw embedded Jetty & Servlets.  I have been able to drop this down to an absolute minimal test case.

**Expected behavior**
If you set the page encoding on the html (via either

[2020-10-30 12:28] tomhillrails commented on #1099
Oh.  Just as an additional note, I also tried using a before handler to set the request character encoding - without success.

[2020-10-30 13:04] techpuls-damir opened #1100 "QoS/Throttling async requests"
Since javalin support async responses in jetty, what would be the proper way of adding delays to handling of some requests (for QoS/throttling purposes).

When server is flooded with one kind of requests I would like to first delay some requests dynamically. When it gets further overloaded with requests, than I would deny them (HTTP 503).
In vert.x i would sleep for some time and then continue pro

[2020-10-30 14:35] tipsy commented on #1099
Hi @tomhillrails ! Could you paste your code direclty in this issue? You can put it in between triple backticks

![image](https://user-images.githubusercontent.com/1521451/97717663-5876eb00-1ac5-11eb-9e0d-34ddaa84d851.png)

Then people will be more likely to test out your example.

[2020-10-30 14:42] tipsy commented on #1100
I don't know if this is a more correct way, but I always do this:

[code]

And this:

[code]

I don't usually do async request handling though, so don't trust me 100%. I'll add a `HELP WANTED` label :)

[2020-10-30 23:15] acmattos commented on #335
@trognus thanks for the tip! It's not the thing that I need, but I'll do it as recommended, as much as I can.
In some places, it will not be possible to follow that way. But, it works indeed :)

[2020-10-31 06:47] techpuls-damir commented on #1100
My calculation of result can be somewhat expensive, so I thought to avoid having to size thread pool for them and schedule them on jetty request processing thread pool. I think i will avoid doing that and just schedule this requests on small separate thread pool for now..

Thanks

[2020-10-31 11:19] tomhillrails commented on #1099
Sorry.  I figured having the source code as files was easier.  Here you go

This is the Javalin version which doesn't echo back characters correctly

[code]

This is the version using raw jetty servlets which does reflect back the characters correctly

[code]

and finally, this is a form which contains the Windows-1252 character set in the textarea and submits to localhost:9999.

[code]

[2020-10-31 12:29] tipsy commented on #1099
Thanks @tomhillrails! I'm not able to run it at the moment, but did you try `<meta charset="Windows-1252">` in your `<head>` tag?

[2020-10-31 13:26] tipsy commented on #1099
I've tested this locally now, there is definitely something funky going on.

[2020-10-31 13:48] tipsy commented on #1099
[code]

When Javalin accesses these form-parameters through the request body, they come out as `fp=%25E6%25F8%25E5`, which is what you get if you encode `æøå` twice with `Windows-1252`. This is not specific to this encoding, we see the same issue with `ISO-8859-1`. We don't see the same issue with query params.

There are no problems with just UTF-8:

[code]

[2020-10-31 13:53] tipsy commented on #1099
The issue can be resolved by doing

[code]

But I would like to understand what's going on before merging that...

[2020-11-01 20:33] LeoColman commented on #1097
Alright! I'm on it

[2020-11-02 15:27] maj2c opened #1101 "A working setup of Javalin 3.11.2 with Pac4J 4.0.3 breaks once Pac4J is upgraded to 4.1.0"
When I upgrade the Pac4J to version 4.1.0 the ctx.body() and ctx.formParamMap() become empty (form submit body is not received by the handler although I see the form data in the chrome console in the body section).
The security is working fine, the path parameters are correct, the handler of the endpoint is called, its just the ctx.body() is empty.

I have made a compare between de dependencies of

[2020-11-04 16:43] SheridanG commented on #1094
Hi,
I have the same issue in a different context.

Although we use Jetty as a server we use Javalin in standalone mode. A java .war file is created and ingested by Jetty at run time. This allows several small web applications to be deployed independently.

The problem occurs when requesting a static resource.

The culpit line is in JettyResourceHandler.

[code]

I suspect that when using standalon